<?php
	define( "AR_PLUGIN_ID", random_string(15) );
?>

<script type="text/javascript">
    $(function () {
        var form = $("div#<?=_LINK?>");

        $(form).on("click", ".confirm_delete", function () {

            var ver_code = $('input.ver_code').val();

            $.ajax({
                type: "GET",
                url: "<?=ActionRequired::get_public_dir()?>",
                data: {
                    'object_id': '<?= $ar_object->id ?>',
                    'object_type': '<?= $ar_object->object ?>',
                    'verification_code': ver_code,
                    'get': 'ar_delete'
                },
                success: function (r) {
                    if (r.error == false) {
                        $("span#status").html(" Action Required Items Archived").addClass("good_news");
                        (form).closest("table.popup").find("button.close").click();
                        $(".ar-profile").closest("table.popup").find("button.close").click();
                    }
                }
            });
        });

        $(form).on("click", ".cancel_delete", function () {
            $(form).closest("table.popup").find("button.close").click();
        });
    });
</script>

<style type="text/css">
    #<?= AR_PLUGIN_ID ?> > #status_plugin {
        display: none;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div class="container">
        <h1>Please enter the action required verification code in the box below to confirm delete.</h1>
        <br>
        <div><input class="ver_code">   <?=$ar_object->verification_code?></div>
        <br>
        <button class="confirm_delete">Confirm</button>
        <button class="cancel_delete">Cancel</button>
        <span class="status"></span>
    </div>
</div>
