<?php
	define( "AR_PLUGIN_ID", random_string(15) );
?>

<script type="text/javascript">
    $(function () {

        var form = $("div#<?=_LINK?>");
        var pop = $(form).popup_config({
            center: true
        });

        $(form).on("click", ".confirm_delete", function () {
            var code_input = $("input.ver_code").attr('value');
            var policyStatus = null;

            if ($("#policy\\[status\\]", form).length){
                policyStatus = $("#policy\\[status\\]", form).val();
            }

            $.ajax({
                type: "GET",
                url: "<?=ActionRequired::get_public_dir()?>",
                data: {
                    'object_id': '<?= $ar_object->id() ?>',
                    'verification_code': code_input,
                    'policy_status': policyStatus,
                    'related_id': '<?= $ar_object->object_id ?>',
                    'get': 'ar_archive_confirm'
                },
                success: function (r) {
                    r = json_decode(r);
                    if (r.error == true) {
                        $("span.status", form).html(r.message).addClass("bad_news");
                    } else {
                        $("span.status", form).html(r.message).addClass("good_news");
                        $(form).closest("table.popup").find("button.close").click();
                    }
                }
            });
        });

        $(form).on("click", ".cancel_delete", function () {
            $(form).closest("table.popup").find("button.close").click();
        });

        $('.close').click(function () {
            //Code to be executed when close is clicked
            ar_populate();
        });

        function ar_populate() {
            var table = $("table#action_required_plugin");
            var status_box = $("span#status_plugin");

            $.ajax({
                type: "GET",
                url: "<?=ActionRequired::get_public_dir()?>",
                data: {
                    'object_id': '<?= $ar_object->object_id?>',
                    'object_type': '<?= $ar_object->object ?>',
                    'get': 'plugin'
                },
                success: function (r) {
                    try {
                        r = json_decode(r);

                        $("#action_required_plugin table#ar_output").html();
                        $("#action_required_plugin table#ar_output").append(r.ar_items);

                        if (r.total_rows == 0) {
                            $(status_box).html(r.total_rows + " Action Required Items Found").addClass("bad_news");
                        } else if (r.total_rows == 1) {
                            $(status_box).html(r.total_rows + " Action Required Items Found").addClass("good_news");
                        } else {
                            $(status_box).html(r.total_rows + " Action Required Items Found").addClass("good_news");
                        }
                    }
                    catch (e) {
                        status_box.text("Error: " + e).css("color", "red").show();
                    }
                },
                error: function (xhr, msg) {
                    status_box.text("Error: " + msg).css("color", "red").show();
                },
                complete: function (xhr, msg) {
                    table.first_load = true;
                    table.xhr = null;
//                    loadingSpinner.hide();
                }
            });
        }
    });
</script>

<style type="text/css">
    #<?= AR_PLUGIN_ID ?> > #status_plugin {
        display: none;
    }

    div#<?=_LINK?>, div#<?=_LINK?> .container {
        height:200px;
        width:600px;
   }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div class="container">
        <h1>Please enter the action required verification code in the box below to confirm delete.</h1>
        <br>
        <input class="ver_code" value="<?= $ar_object->verification_code; ?>">
        <br>
        <?php if($ar_object->object == "Policy"): ?>
            <br>
            <h1>Update the policy status?</h1>
            <br>
            <?php $policy = new Policy($ar_object->object_id, true); ?>
            <?= el($policy->status); ?>
            <br>
        <?php endif; ?>
        <br>
        <button class="confirm_delete">Confirm</button>
        <button class="cancel_delete">Cancel</button>
        <span class="status"></span>
    </div>
</div>
