<?php $ar = new ActionRequired(); ?>
<style>
    #<?=_LINK?> #action_required_table .scroll.y{
        height: 500px;
    }
</style>
<script>
    var page = $("#<?=_LINK?>");
    var bulkModal = $("#ar_bulk_modal", page);

    page.popup_config({
        title: "Action Required",
        helpGuide: "Prophet Guides/action required guide.pdf"
    });

    function loadAr(offset = 0, oc = null){
        if (oc == null){
            oc = $(".oc-tabs .nav-link.active", page).data("oc");
        }

        var show = $("#ar_show", page).val();

        var dateFrom = $("#filter\\[from_date\\]\\[D\\]", page).val()+"/"+$("#filter\\[from_date\\]\\[M\\]", page).val()+"/"+$("#filter\\[from_date\\]\\[Y\\]", page).val();
        var dateTo = $("#filter\\[to_date\\]\\[D\\]", page).val()+"/"+$("#filter\\[to_date\\]\\[M\\]", page).val()+"/"+$("#filter\\[to_date\\]\\[Y\\]", page).val();

        var readFrom = $("#read_from\\[D\\]", page).val()+"/"+$("#read_from\\[M\\]", page).val()+"/"+$("#read_from\\[Y\\]", page).val();
        var readTo = $("#read_to\\[D\\]", page).val()+"/"+$("#read_to\\[M\\]", page).val()+"/"+$("#read_to\\[Y\\]", page).val();

        var receivedFrom = $("#received_from\\[D\\]", page).val()+"/"+$("#received_from\\[M\\]", page).val()+"/"+$("#received_from\\[Y\\]", page).val();
        var receivedTo = $("#received_to\\[D\\]", page).val()+"/"+$("#received_to\\[M\\]", page).val()+"/"+$("#received_to\\[Y\\]", page).val();

        var partner = $("#actionrequired\\[partner\\]", page).val();
        var user = $("#staff_filter", page).find('option:selected').val();
        var dept = $("#dept_filter", page).find('option:selected').val();

        var subject = $("#actionrequired\\[subject_filter\\]", page).val();

        var lastMessage = $("#last-message", page).val();

        var id = $("#id_search", page).val();

        $.ajax({
            url: "/pages/actionrequired/?get=all",
            type: "GET",
            data: {
                id: id,
                oc: oc,
                offset: offset,
                dateFrom: dateFrom,
                dateTo: dateTo,
                readFrom: readFrom,
                readTo: readTo,
                receivedFrom: receivedFrom,
                receivedTo: receivedTo,
                lastMessage: lastMessage,
                partner: partner,
                user: user,
                subject: subject,
                dept: dept,
                show: show,
                //priority: priority
            },
            dataType: "json",
            beforeSend: function(){
                $("#<?=_LINK?> #action_required_table .content").html("<tr><td colspan='6'>Loading tickets...</td></tr>");
            },
            success: function(response){
                if (response.data != null){
                    $("#<?=_LINK?> #action_required_table .content").html(response.data);
                } else {
                    $("#<?=_LINK?> #action_required_table .content").html("<tr><td colspan='6'>No Tickets</td></tr>");
                }

                $("#ar_page").html("");
                for(var i = 1; i <= response.pages; i++){
                    if (i == offset){
                        $("#ar_page").append("<option value='" + i + "' selected>" + i + "</option>");
                    } else {
                        $("#ar_page").append("<option value='" + i + "'>" + i + "</option>");
                    }
                }

                $("#ar_pages").html(response.pages);
            }
        });
    }

    loadAr(0, "open");

    $("#closed_ar_tab", page).click(function(){
        loadAr(0, "closed");
    });

    $("#open_ar_tab", page).click(function(){
        loadAr(0, "open");
    });

    $("#ar_page", page).change(function(){
        var offset = $(this).val();
        loadAr(offset);
    });

    $("#submit_search", page).click(function(){
        loadAr();
    });
   /* $("#ar_priority", page).change(function(){
        loadAr();
    });*/

    $("#ar-partner-reset", page).click(function () {
        $("#ar-partner-search input", page).each(function () {
            $(this).val("");
        });
        $("#ar-partner-search ul", page).html("");
    });

    $("#last-read-filter", page).on("change", function(){
        var filter = $(this).val();

        $("#read_from\\[D\\]", page).val("");
        $("#read_from\\[M\\]", page).val("");
        $("#read_from\\[Y\\]", page).val("");

        $("#read_to\\[D\\]", page).val("");
        $("#read_to\\[M\\]", page).val("");
        $("#read_to\\[Y\\]", page).val("");

        $("#custom-last-read", page).addClass("d-none");

        if (filter == "all"){
            // nothing to see here
        } else if(filter == "custom"){
            $("#custom-last-read", page).removeClass("d-none");
        } else {
            var dateTo = new Date();
            var dateFrom = new Date(dateTo);

            dateFrom.setDate(dateFrom.getDate() - parseInt(filter));

            $("#read_from\\[D\\]", page).val(dateFrom.getDate());
            $("#read_from\\[M\\]", page).val(dateFrom.getMonth() + 1);
            $("#read_from\\[Y\\]", page).val(dateFrom.getFullYear());

            $("#read_to\\[D\\]", page).val(dateTo.getDate());
            $("#read_to\\[M\\]", page).val(dateTo.getMonth() + 1);
            $("#read_to\\[Y\\]", page).val(dateTo.getFullYear());
        }
    });

    $("#last-received-filter", page).on("change", function(){
        var filter = $(this).val();

        $("#received_from\\[D\\]", page).val("");
        $("#received_from\\[M\\]", page).val("");
        $("#received_from\\[Y\\]", page).val("");

        $("#received_to\\[D\\]", page).val("");
        $("#received_to\\[M\\]", page).val("");
        $("#received_to\\[Y\\]", page).val("");

        $("#custom-last-received", page).addClass("d-none");

        if (filter == "all"){
            // nothing to see here
        } else if(filter == "custom"){
            $("#custom-last-received", page).removeClass("d-none");
        } else {
            var dateTo = new Date();
            var dateFrom = new Date(dateTo);

            dateFrom.setDate(dateFrom.getDate() - parseInt(filter));

            $("#received_from\\[D\\]", page).val(dateFrom.getDate());
            $("#received_from\\[M\\]", page).val(dateFrom.getMonth() + 1);
            $("#received_from\\[Y\\]", page).val(dateFrom.getFullYear());

            $("#received_to\\[D\\]", page).val(dateTo.getDate());
            $("#received_to\\[M\\]", page).val(dateTo.getMonth() + 1);
            $("#received_to\\[Y\\]", page).val(dateTo.getFullYear());
        }
    });

    $(".ar_bulk_check_all", page).on("change", function(){
        var checked = $(this).is(":checked");
        $(".ar_bulk_check", page).attr("checked", checked).trigger("change");
    });

    $(page).on("change", ".ar_bulk_check", function(){
        console.log("here");
        var checked = false;

        if($(".ar_bulk_check:checked", page).length){
            checked = true;
        }

        $("#ar_bulk_btn", page).attr("disabled", !checked);
    });

    $("#ar_bulk_modal", page).on("show.bs.modal", function(){
        var tickets = [];

        $(".ar_bulk_check:checked", page).each(function(){
            tickets.push($(this).val());
        });

        $("#ar_bulk_ticket_count", page).html(tickets.length);

        $("#ar_bulk_tickets", page).val(tickets.join(","));
    });

    $("#ar_bulk_submit", bulkModal).on("click", function(){
        var tickets = $("#ar_bulk_tickets", bulkModal).val();
        var chase = $("#ar_bulk_chase_date\\[Y\\]", bulkModal).val() + "-" + $("#ar_bulk_chase_date\\[M\\]", bulkModal).val() + "-" + $("#ar_bulk_chase_date\\[D\\]", bulkModal).val();
        var completed = $("#ar_bulk_close", bulkModal).is(":checked") ? 1 : 0;
        var assigned = $("#staff_filter", bulkModal).val();
        var message = $("#ar_bulk_message", bulkModal).val();

        $.ajax({
            url: "/pages/actionrequired/?do=bulk_update",
            type: "POST",
            data: {
                tickets: tickets,
                chase: chase,
                completed: completed,
                assigned: assigned,
                message: message,
            },
            dataType: "JSON",
            success: function(response){
                if(response.success){
                    $(bulkModal).modal("hide");

                    // reload the table
                    var pageNo  = $("#ar_page", page).val();
                    loadAr(pageNo);

                    // clear inputs
                    $(":input", bulkModal).val("");
                }
            }
        });
    });

</script>

<div id="<?=_LINK?>">
    <div class="panel">
        <h1 class="panel_head">Action Required Search</h1>
        <div id="ar_search">
            <div class="row no-gutters">
                <div class="col-4">
                    <!-- Date Filter -->
                    <div id="ar-date-search">
                        <strong>Chase Between</strong>
                        <br>
                        <label>From</label>
                        <?= el(new Date(0),"filter[from_date]") ?>
                        <label>To</label>
                        <?= el(new Date(0),"filter[to_date]") ?>
                    </div>
                </div>
                <div class="col-3" id="ar-partner-search">
                    <strong>Partner</strong>
                    <br>
                    <?=el($ar->partner)?><button type="button" id="ar-partner-reset">Clear</button>
                </div>
                <div class="col-3">
                    <strong>Subject</strong>
                    <br>
                    <?= el($ar->subject_id, "subject_filter", false, false, false, true); ?>
                </div>
                <div class="col-2">
                    <strong>Page:</strong>
                    <br>
                    <select id="ar_page"></select> of <span id="ar_pages">0</span>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-4">
                    <strong>Dept</strong>
                    <br>
                    <?= User::allDepartments(true); ?>
                </div>
                <div class="col-3">
                    <strong>User</strong>
                    <br>
                    <?= User::active_users(false, true); ?>
                </div>
                <div class="col-3">
                    <strong>ID</strong>
                    <br>
                    <input type="text" name="id_search" id="id_search">
                </div>
                <div class="col-2">
                    <strong>Show:</strong>
                    <br>
                    <select id="ar_show">
                        <option value="20" selected>20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>
            <div class="row no-gutters mt-2">
                <!--<div class="col-4">-->
                    <!--<strong>Last Message Read By Partner</strong>-->
                    <!--<br>-->
                    <!--<select id="last-read-filter">-->
                        <!--<option selected value="all">&#45;&#45;</option>-->
                        <!--<option value="0">Today</option>-->
                        <!--<option value="7">Last 7 days</option>-->
                        <!--<option value="30">Last 30 days</option>-->
                        <!--<option value="custom">Custom</option>-->
                    <!--</select>-->
                    <!--<div class="mt-2 d-none" id="custom-last-read">-->
                        <!--From&nbsp;<?= el(new Date(), "read_from"); ?>-->
                        <!--To&nbsp;<?= el(new Date(), "read_to"); ?>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-3">-->
                    <!--<strong>Last Message Received From Partner</strong>-->
                    <!--<br>-->
                    <!--<select id="last-received-filter">-->
                        <!--<option selected value="all">&#45;&#45;</option>-->
                        <!--<option value="0">Today</option>-->
                        <!--<option value="7">Last 7 days</option>-->
                        <!--<option value="30">Last 30 days</option>-->
                        <!--<option value="custom">Custom</option>-->
                    <!--</select>-->
                    <!--<div class="mt-2 d-none" id="custom-last-received">-->
                        <!--From&nbsp;<?= el(new Date(), "received_from"); ?>-->
                        <!--To&nbsp;<?= el(new Date(), "received_to"); ?>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-4">
                    <strong>Last Message</strong>
                    <br>
                    <select id="last-message">
                        <option selected value="all">All</option>
                        <option value="1">From PS</option>
                        <option value="0">From Partner</option>
                    </select>
                </div>
                <div class="col-3 offset-3">
                    <button id="ar_bulk_btn" data-toggle="modal" data-backdrop="false" data-target="#ar_bulk_modal" disabled>Bulk Update</button>
                </div>
                <div class="col-2">
                    <button onclick="$(function(){ $('#action_required_table table', page).export(); });"><img src='<?= el::image("table_go.png")?>' /> Export</button>
                    <button onclick="$(function(){ $('#action_required_table table', page).print(); });"><img src='<?= el::image("printer.png")?>' /> Print</button>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-2 mt-3">
                    <button id="submit_search">Search</button>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3 mb-2 oc-tabs">
        <li class="nav-item">
            <a data-oc="open" href="#open_ar" data-toggle="tab" class="nav-link active" id="open_ar_tab">Open</a>
        </li>
        <li class="nav-item">
            <a data-oc="closed" href="#closed_ar" data-toggle="tab" class="nav-link" id="closed_ar_tab">Complete</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="open_ar">
            <div id="action_required_table">
                <table class="scrollable">
                    <thead>
                    <tr>
                        <th width="10px" class="no_sort"><input type="checkbox" class="ar_bulk_check_all"></th>
                        <th width="100px">Subject</th>
                        <th width="80px" class="date data-sort">Chase Date</th>
                        <th width="150px">Relates To</th>
                        <th width="150px">Partner</th>
                        <th width="180px">Assigned To</th>
                        <th width="120px" class="date data-sort">Last Message</th>
                    </tr>
                    </thead>
                    <tbody class="content"></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="ar_bulk_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bulk Update Action Required</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Use this form to bulk update action required tickets.</p>
                    <label>Tickets to update (<span id="ar_bulk_ticket_count">0</span>):</label>
                    <br>
                    <textarea style="width: 95%" readonly required id="ar_bulk_tickets" rows="3"></textarea>

                    <?php $ar = new ActionRequired(); ?>

                    <div class="form-group mt-3">
                        <label>Chase Date:</label>
                        <?= el($ar->date_due, "ar_bulk_chase_date") ?>
                    </div>

                    <div class="form-group mt-3">
                        <label>Close Ticket: <input type="checkbox" id="ar_bulk_close"/></label>
                    </div>

                    <div class="form-group">
                        <label>Assigned To:</label>
                        <?= User::active_users(); ?>
                    </div>

                    <div class="form-group">
                        <label>Add a Message:</label>
                        <br>
                        <textarea style="width: 95%" id="ar_bulk_message" rows="5"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="ar_bulk_submit">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>