<style type="text/css">
    form#<?=_LINK?> {
        width: 900px;
    }
    form#<?=_LINK?> table.scrollable div.scroll {
        height: 100px;
        font-size: 9pt;
    }

    #ar-policies-table{
        max-height: 400px;
        overflow-y: scroll;
    }
</style>

<script type="text/javascript">
    $(function () {

        var form = $("#<?=_LINK?>");
        var pop = $(form).popup_config({
            title: "<?= $object_type; ?> - <?= $object->id(); ?> - Add Action Required ",
            center: true
        });
        $("#chase-notify", form).hide();
        $(".client-label", form).hide();

        $(form).on("change", "#actionrequired\\[subject_id\\]", function () {
            if (parseInt($(this).val()) === 27) {
                $(".client-label", form).show();
            } else {
                $(".client-label", form).hide();
            }

        });

        $(form).on("hover", ".save_profile", function () {
            var date_y = $("#actionrequired\\[date_due\\]\\[Y\\]", form).val();
            var date_m = $("#actionrequired\\[date_due\\]\\[M\\]", form).val();
            var date_d = $("#actionrequired\\[date_due\\]\\[D\\]", form).val();

            var now_date = new Date();
            var chase_date = new Date(date_y+"-"+date_m+"-"+date_d);

            if (chase_date < now_date) {
                // selected date is in the past
                $(".save_profile", form).hide();
                $("#chase-notify", form).show();
            } else {
                $("#chase-notify", form).hide();
            }
        });

        saveProfileNotification(form);

        form.bind("successfulSave", function () {
            var arID = $(".notification.save_profile", form).attr("saved_id");

            var policies = [];

            $(".ar-policy-input:checked", form).each(function(){
                policies.push($(this).data("policy"));
            });

            pop.close();

            new popup({
                url: "/pages/actionrequired/?get=ar_view&id=" + arID + "&policies=" + encodeURI(JSON.stringify(policies))
            });

            var status_box = $("span#status_plugin");
            var table = $("table#action_required_plugin");
            var loadingSpinner = $("img#spinner");

            $.ajax({
                type: "GET",
                url: "<?=ActionRequired::get_public_dir()?>",
                data: {
                    'object_id': '<?= $object->id() ?>',
                    'object_type': '<?= $object_type ?>',
                    'get': 'plugin'
                },
                success: function (r) {
                    try {
                        r = json_decode(r);

                        $("table#action_required_plugin .content").html(r.ar_items);

                        if (r.total_rows == 0) {
                            $(status_box).html(r.total_rows + " Action Required Items Found").addClass("bad_news");
                        } else if (r.total_rows == 1) {
                            $(status_box).html(r.total_rows + " Action Required Items Found").addClass("good_news");
                        } else {
                            $(status_box).html(r.total_rows + " Action Required Items Found").addClass("good_news");
                        }
                    } catch (e) {
                        status_box.text("Error: " + e).css("color", "red").show();
                    }
                },
                error: function (xhr, msg) {
                    status_box
                        .text("Error: " + msg).css("color", "red").show();
                },
                complete: function (xhr, msg) {
                    table.first_load = true;
                    table.xhr = null;
                    loadingSpinner.hide();
                }
            });
        });
    });
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=ActionRequired::get_common_url(['do'=>'create'])?>" method="POST">

    <div id="chase-notify" class="alert alert-danger">
        <i class="fas fa-exclamation-circle"></i> Ensure chase date is in future
    </div>

    <table class="table-profile">
        <tr>
            <th>Add to</th>
            <th>ID</th>
            <!--<th>Priority</th>-->
            <th>Verification Code</th>
            <th>Subject</th>
            <th>Chase Date</th>
            <th class="client-label">Client Label</th>
        </tr>
        <tr>
            <td>
                <?= $object_type; ?>
                <input id="actionrequired[object]" name="actionrequired[object]" value="<?= $object_type; ?>" hidden>
            </td>
            <td>
                <?= $object->id(); ?>
                <input id="actionrequired[object_id]" name="actionrequired[object_id]" value="<?= $object->id(); ?>" hidden>
            </td>
            <!--<td><--?= el($ar->priority) ?></td>-->
            <td><?= $ar->verification_code(); ?></td>
            <td>
                <?= el($ar->subject_id, false, false, false, false, true)?>
                <?= el::hide($ar->subject_id, false, false, false, false, true)?>
            </td>
            <td>
                <?= el($ar->date_due)?>
            </td>
            <td class="client-label">
                <?= el($ar->client_label); ?>
            </td>
        </tr>
    </table>

    <input id="actionrequired[partner]" name="actionrequired[partner]" value="<?= $partnerID; ?>" hidden>

    <?php if(isset($policies)): ?>
    <!-- list of clients policies, so we can add the policy number into the ticket message -->
    <h5 class="mt-3 mb-0">Related Policies:</h5>
    <div id="ar-policies-table">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Number</th>
                <th>Issuer</th>
                <th>Type</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach($policies as $policy): ?>
            <tr>
                <td><input type="checkbox" class="ar-policy-input" data-policy="<?= $policy->number() ?>"></td>
                <td><?= $policy->link() ?></td>
                <td><?= $policy->issuer->link() ?></td>
                <td><?= $policy->type ?></td>
                <td><?= $policy->status ?></td>
                <td><?= $policy->getOwnerAttribute($policy->owner()) ?></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php endif; ?>

</form>
