<?php
	define( "AR_PLUGIN_ID", random_string(15) );
?>

<style type="text/css">
    #<?=AR_PLUGIN_ID?> > #status_plugin {
        display: none;
    }
</style>

<script type="text/javascript">
    $(function () {

        var form = $("form#<?=AR_PLUGIN_ID?>");
        var loadingSpinner = $("img#spinner", form);
        var table = $("table#action_required_plugin", form);
        var status_box = $("span#status_plugin", form);
        var pluginInited = false;

        $(table).ready(function () {
            ar_populate();
        });

        $(table).on("click", ".ar_view", function () {
            var code = this.id;
            new popup({
                url: "/pages/actionrequired/index.php?get=ar_view&id=" + code,
                title: "Action Required  " + code
            });
            return true;
        });

        $(table).on("click", ".ar_delete", function () {
            var code = this.id;
            new popup({
                url: "/pages/actionrequired/index.php?get=ar_delete&id=" + code,
                title: "Action Required  " + code
            });
            return true;
        });

        $(table).on("click", ".ar_complete", function () {
            var code = this.id;
            new popup({
                url: "/pages/actionrequired/index.php?get=ar_complete&id=" + code,
                title: "Action Required - Mark as complete " + code
            });
            return true;
        });

        $(form).on("click", ".buttonAdd", function () {
            new popup({
                url: "/pages/actionrequired/index.php?get=ar_new&id=<?= $id ?>&object=<?= $object ?>",
                title: "New Action Required"
            });
        });

        function ar_populate(level = false) {
            var object = "<?= $object ?>";
            if (!level && object == "Practice"){
                // if we're at practice level, search at partner level by default
                level = "Partner";
            }
            $.ajax({
                type: "GET",
                url: "<?=ActionRequired::get_public_dir()?>",
                data: {
                    'object_id': "<?= $id ?>",
                    'object_type': "<?= $object ?>",
                    'level': level,
                    'get': 'plugin'
                },
                beforeSend: function() {
                    $("#ar_output", form).html("<tr><td colspan='6'><img class=\"spinner\" src=\"/lib/images/inline-ajax.gif\"/></td></tr>");
                },
                success: function (r) {
                    try {
                        r = json_decode(r);

                        $("#ar_output", form).html("");
                        $("#ar_output", form).html(r.ar_items);

                        if (r.total_rows == 0) {
                            $(status_box).html(r.total_rows + " Action Required Items Found").removeClass("good_news").addClass("bad_news");
                        } else if (r.total_rows == 1) {
                            $(status_box).html(r.total_rows + " Action Required Items Found").removeClass("bad_news").addClass("good_news");
                        } else {
                            $(status_box).html(r.total_rows + " Action Required Items Found").removeClass("bad_news").addClass("good_news");
                        }
                    }
                    catch (e) {
                        status_box.text("Error: " + e).css("color", "red").show();
                    }
                },
                error: function (xhr, msg) {
                    status_box.text("Error: " + msg).css("color", "red").show();
                },
                complete: function (xhr, msg) {
                    table.first_load = true;
                    table.xhr = null;
                    loadingSpinner.hide();
                }
            });
        }

        $(".ar-object-filter", form).on("click", function(){
            var object = $(this).data("object");

            ar_populate(object);

            $(".ar-object-filter.active", form).removeClass("active");
            $(this).addClass("active");
        });
    });
</script>

<form id="<?=AR_PLUGIN_ID?>" name="<?=AR_PLUGIN_ID?>">
    <div class="float-left">
        <?php if($object != "Practice"): ?>
            <button class="buttonAdd"><i class="fa fa-plus"></i> New</button>
        <?php endif; ?>

        <div class="btn-group ml-3">
            <?php if($object == "Practice" || $object == "Partner"): ?>
            <button type="button" class="btn btn-secondary ar-object-filter active" data-object="Partner">Partner</button>
            <?php endif; ?>
            <?php if(in_array($object, ["Practice", "Partner", "Client"])): ?>
            <button type="button" class="btn btn-secondary ar-object-filter <?= $object == 'Client' ? 'active' : '' ?>" data-object="Client">Client</button>
            <button type="button" class="btn btn-secondary ar-object-filter" data-object="Policy">Policy</button>
            <?php endif; ?>
        </div>
    </div>
    <div class="float-right">
        <img id="spinner" alt="loading.." name="spinner" src="/lib/images/inline-ajax.gif"/>
    </div>

    <div class="clearfix"></div>

    <table id="action_required_plugin" name="action_required_plugin" class="scrollable mt-2">
        <thead>
        <tr>
            <th width="60px">ID</th>
            <th width="200px">Subject</th>
            <th width="150px">Added When</th>
            <!--<th width="80px">Priority</th>-->
            <th width="150px">Completed When</th>
            <th>Completed By</th>
            <th width="350px">Action</th>
        </tr>
        </thead>
        <tbody id="ar_output" class='content'></tbody>
    </table>

    <p align="right" style="margin:10px 5px 0 0;">
        <span id="status_plugin" name="status_plugin">&nbsp;</span>
    </p>
</form>