<?php
if ($actionrequired->id()) {
    $action = ActionRequired::get_common_url(array( 'do'=>'save', 'id'=>$actionrequired->id() ));
} else {
    $action = ActionRequired::get_common_url(array( 'do'=>'create'));
    $actionrequired = new ActionRequired();
}

$partner = $actionrequired->get_partner();
$client = $actionrequired->get_client();
$policy = $actionrequired->get_policy();

?>

<style type="text/css">
    .popup #<?= _LINK?>{
        width:1000px;
        min-height:550px;
    }
</style>

<script type='text/javascript'>
    $(function () {

        var frame = $("#<?=_LINK?>");
        var ar_form = $("form#ar_form-details");
        var messageSent = false;
        var chaseUpdated = false;

        $('li', frame).on('click', function () {
            $(frame).center();
        });

        $(frame).center();

        var pop = frame.popup_config({
            title: "<b>Action Required</b> - <?= $actionrequired->subject_id ?>",
            center: true
        });

        // saveProfileNotification(ar_form);

        $(frame).on("click", ".ar_delete", function () {
            var code = this.id;
            new popup({
                url: "/pages/actionrequired/index.php?get=ar_delete&id=" + code,
                title: "Action Required  " + code
            });
            return true;
        });

        $(frame).on("click", ".ar_complete", function () {
            var code = this.id;
            new popup({
                url: "/pages/actionrequired/index.php?get=ar_complete&id=" + code,
                title: "Action Required - Mark as complete " + code
            });
            return true;
        });

        $(frame).on("click", ".ar_update_chase", function(){
            $("#chase_date_modal", frame).modal();
        });

        $(frame).on("click", "#confirm-fees-off", function(){
            $(this).attr("disabled", true);

            var reason = $("#fees-off-reason", frame).val();

            if (reason.length){
                $.ajax({
                    url: "/pages/client/?do=turn_off_fees",
                    type: "GET",
                    data: {
                        id: "<?= $actionrequired->object_id() ?>",
                        ar_id: "<?= $actionrequired->id() ?>",
                        reason: reason
                    },
                    dataType: "JSON",
                    success: function(response){
                        alert(response.data);

                        if (response.success) {
                            // close the modal first
                            $("#turn-off-fees-modal").modal("hide");
                            pop.close();
                        }
                    }
                });
            } else {
                alert("Please enter a reason for turning the fees off.")
            }
        });

        $("#chase_date_modal", frame).on("shown.bs.modal", function() {
            $(".modal-backdrop").hide();
        });

        $(frame).on("click", "#save-leave-note", function() {
            var message = $("#note-message").val();
            var id = $("#ar_id", frame).val();
            var reassign = 0;

            if ($("#note_assign", frame).is(":checked")){
                reassign = 1;
            }

            var btn = $(this);

            btn.attr("disabled", true);

            $.ajax({
                url: "pages/actionrequired/?do=leave_note",
                type: "GET",
                data: {
                    id: id,
                    message: message,
                    reassign: reassign
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        $("#note-message").val("");
                        $(".leave_note_feedback").removeClass("text-danger").addClass("text-success");
                    } else {
                        $(".leave_note_feedback").removeClass("text-success").addClass("text-danger");
                    }

                    btn.attr("disabled", false);

                    $(document).trigger("reload_ar_messages");
                    $(".leave_note_feedback").html(response.feedback);
                }
            });
        });

        $(frame).on("click", "#save-chase-date", function () {

            var date_y = $("#actionrequired\\[date_due\\]\\[Y\\]").val();
            var date_m = $("#actionrequired\\[date_due\\]\\[M\\]").val();
            var date_d = $("#actionrequired\\[date_due\\]\\[D\\]").val();

            var id = $("#ar_id", frame).val();
            var chasedate = date_d + "/" + date_m + "/" + date_y;

            if (date_y !== "" && date_m !== "" && date_d !== "") {

                var now_date = new Date();
                var chase_date_ymd = new Date(date_y + "-" + date_m + "-" + date_d);

                if (chase_date_ymd < now_date) {
                    alert("Chase date must be in future");
                    return false;
                }

                $.ajax({
                    url: "pages/actionrequired/?id=" + id + "&do=update_chase_date",
                    data: {
                        date: chasedate
                    },
                    type: "GET",
                    dataType: "JSON",
                    success: function (response) {
                        if (response.success) {
                            $("#ar_search #submit_search").click();
                            $(".chase_date_feedback", frame).removeClass("text-danger").addClass("text-success").html("Chase Date Updated");

                            setTimeout(function () {
                                $("#chase_date_modal").modal("hide");
                            }, 1000);

                            chaseUpdated = true;

                        } else {
                            $(".chase_date_feedback", frame).removeClass("text-success").addClass("text-danger").html("Failed to update chase date, contact IT");
                        }

                        setTimeout(function () {
                            $(".chase_date_feedback", frame).removeClass("text-danger").removeClass("text-success").html("");
                        }, 1000);
                    }
                });
            } else {
                alert("Chase Date is Required");
            }
        });

        $(frame).on("click", "#sendReplyMessageButton", function () {
            messageSent = true;
        });

        $(frame).closest(".popup").find(".close").off("click").on("click", function(){
            if (!$(this).hasClass("modal-close")){
                if (messageSent && !chaseUpdated && $(".chat li", frame).length > 2){
                    if(confirm("Would you like to update the chase date?")){
                        $(".ar_update_chase").click();

                        messageSent = false;
                    } else {
                        pop.close();
                    }
                } else {
                    pop.close();
                }
            }
        });

        $(frame).on("click", "#reallocate-ticket", function(){
            var user = $("#staff_filter", frame).val();

            if (user != "-"){
                $.ajax({
                    url: "/pages/actionrequired/?do=reallocate",
                    type: "GET",
                    data: {
                        id: $("#ar_id", frame).val(),
                        user: user,
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            $("#assigned_to", frame).html(response.link);
                            $(".added_by", frame).show();

                            $("#ar_allocated_modal").modal("hide");
                        } else {
                            alert("Failed to reallocate ticket");
                        }
                    }
                });
            } else {
                alert("no user selected");
            }
        })

        $(frame).on("click", "#ar_start_progress", function(){
            var span = $(this).closest(".alert");

            $.ajax({
                url: "/pages/actionrequired/?do=start_progress",
                type: "GET",
                data: {
                    id: "<?= $actionrequired->id() ?>"
                },
                dataType: "JSON",
                success: function(response){
                    console.log(response);
                    if(response.success){
                        span.after(response.data);
                        span.remove();
                    } else {
                        alert(response.data);
                    }
                }
            });
        });

        $(frame).on("click", "#ar_end_progress", function(){
            var span = $(this).closest(".alert");

            $.ajax({
                url: "/pages/actionrequired/?do=end_progress",
                type: "GET",
                data: {
                    id: "<?= $actionrequired->id() ?>"
                },
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        span.after(response.data);
                        span.remove();
                    } else {
                        alert(response.data);
                    }
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>" class="ar-profile">
    <div id="contain">

        <?= $actionrequired->progress_indicator() ?>

        <div id="profile " class="active">
            <div class="card mb-2">
                <div class="card-body p-2">
                    <div class="row no-gutters">
                        <div class="col-5">
                            <div class="row no-gutters">
                                <div class="col-4 mb-2">ID:</div>
                                <div class="col-8 mb-2"><?= $actionrequired->id() ?></div>

                                <div class="col-4 mb-2">Verification Code:</div>
                                <div class="col-8 mb-2"><?= $actionrequired->verification_code ?></div>

                                <div class="col-4 mb-2">Added When:</div>
                                <div class="col-8 mb-2"><?= $actionrequired->addedwhen ?></div>

                                <div class="col-4 mb-2 added_by <?= $actionrequired->addedby != $actionrequired->get_allocated() ? '' : 'hidden' ?>">Added By:</div>
                                <div class="col-8 mb-2 added_by <?= $actionrequired->addedby != $actionrequired->get_allocated() ? '' : 'hidden' ?>"><?= $actionrequired->addedby->link($actionrequired->addedby->first_name . " " . $actionrequired->addedby->last_name) ?></div>

                                <div class="col-4 mb-2">Assigned To:</div>
                                <div class="col-8 mb-2">
                                    <span id="assigned_to"><?= $actionrequired->get_allocated()->link($actionrequired->get_allocated()->first_name . " " . $actionrequired->get_allocated()->last_name) ?></span>
                                    <?php if(User::get_default_instance('team_leader') || User::get_default_instance('department') == 7): ?>
                                        <?php if(!$actionrequired->completed_when() && !$actionrequired->archived()): ?>
                                            <button class="btn btn-info" id="update-assigned" data-toggle="modal" data-backdrop="false" data-target="#ar_allocated_modal"><i class="fal fa-pencil"></i> edit</button>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-5">
                            <div class="row no-gutters">
                                <div class="col-3 mb-2">Chase Date:</div>
                                <div class="col-9 mb-2"><?= \Carbon\Carbon::createFromTimestamp($actionrequired->date_due())->toFormattedDateString() ?></div>
                                <?php if($partner->id()): ?>
                                    <div class="col-3 mb-2">Partner:</div>
                                    <div class="col-9 mb-2"><?= $partner->link() ?></div>

                                    <?php if (!empty($actionrequired->client_label())) : ?>
                                        <div class="col-3 mb-2">Client Label:</div>
                                        <div class="col-9 mb-2"><?= $actionrequired->client_label ?></div>
                                    <?php endif; ?>

                                <?php endif; ?>
                                <?php if($client->id()): ?>
                                    <div class="col-3 mb-2">Client: </div>
                                    <div class="col-9 mb-2"><?= $client->link() ?></div>
                                <?php endif; ?>
                                <?php if($policy->id()): ?>
                                    <div class="col-3 mb-2">Policy: </div>
                                    <div class="col-9 mb-2"><?= $policy->link() ?></div>
                                <?php endif; ?>

                                <?php if ($actionrequired->subject_id() == 21) : ?>
                                    <div class="col-4 mb-2">Days until turn off:</div>
                                    <div class="col-8 mb-2">
                                        <?php
                                            $dStart = DateTime::createFromFormat('d/m/Y H:i:s', $actionrequired->addedwhen)->format('Y-m-d');
                                            $str = strtotime(date("Y-m-d")) - (strtotime($dStart));
                                            $counter = (floor($str/3600/24));
                                            if ($counter > 30) {
                                                echo "<span style='color:#df0000'>Income due to turnoff</span>";
                                            } else {
                                                $days_remaining = 30 - $counter;
                                                echo "<span style='color:#df0000'>".$days_remaining." days</span>";
                                            }
                                        ?>
                                    </div>
                                <?php endif; ?>

                                <?php if(!$actionrequired->completed_when() && !$actionrequired->archived() && $actionrequired->object() == "Client"): ?>
                                    <?php
                                        // check if client has paid fees in the last 12 months
                                        $client = new Client($actionrequired->object_id(), true);

                                        if ($client->get_fees()):
                                    ?>
                                        <div class="col-12 text-center">
                                            <button class="btn btn-danger px-2 mb-2" data-toggle="modal" data-target="#turn-off-fees-modal" data-backdrop="false"><i class="far fa-coin"></i> Turn Off Fees</button>
                                        </div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                        </div>

                        <div class="col-2">
                            <?php if(!$actionrequired->completed_when() && !$actionrequired->archived()): ?>
                                <button class="btn btn-info ar_update_chase w-100 px-0 mb-2" id="<?= $actionrequired->id() ?>"><i class="far fa-calendar"></i> Update Chase Date</button>
                            <?php endif; ?>
                            <button class="btn btn-info w-100 px-0 mb-2" data-toggle="modal" data-target="#leave_note_modal" data-backdrop="false" id="<?= $actionrequired->id() ?>"><i class="far fa-sticky-note"></i> Leave Note</button>
                            <?php if(!$actionrequired->completed_when() && !$actionrequired->archived()): ?>
                                <button class="btn btn-success ar_complete w-100 px-0 mb-2" id="<?= $actionrequired->id() ?>"><i class="far fa-check"></i> Mark as Complete</button>
                                <button class="btn btn-danger ar_delete w-100 px-0 mb-2" id="<?= $actionrequired->id() ?>"><i class="far fa-archive"></i> Archive</button>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='messageheader'>
            <i class="fa fa-comments" aria-hidden="true" style="margin-left: 10px;"></i> Messages
        </div>
        <div id="messages">
            <?= Template("actionrequired/messages.html", ["ar" => $actionrequired, "policies" => $_GET['policies']]); ?>
        </div>
    </div>

    <div class="modal" id="chase_date_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Chase Date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update_chase_date_form">
                        <div class="row no-gutters">
                            <div class="col-6 offset-3">
                                <?= el::hide("ar_id", $actionrequired->id) ?>
                                <strong>Chase Date</strong>
                                <?= el($actionrequired->date_due) ?>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="chase_date_feedback"></span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-chase-date">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="leave_note_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Leave a Note</h5>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="leave_note_form">
                        <div class="row no-gutters">
                            <div class="col-6 offset-3">
                                <?= el::hide("ar_id", $actionrequired->id) ?>
                                <p>Leave your note below.</p>
                                <textarea id="note-message" class="w-100" rows="5"></textarea>
                                <label><input type="checkbox" id="note_assign" checked> Assign Ticket to me</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="leave_note_feedback"></span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-leave-note">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <?php if (User::get_default_instance('team_leader') || User::get_default_instance('department') == 7) : ?>
    <div class="modal" id="ar_allocated_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reallocate Ticket</h5>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select a user below to reallocate this ticket.</p>
                    <?= User::active_users() ?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="reallocate-ticket">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <?php endif; ?>

    <div class="modal" id="turn-off-fees-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">turn Off Fees</h5>
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Please confirm that you wish to turn off all this client's fees?</p>

                    <div class="form-group">
                        <label>Reason:</label>
                        <br>
                        <textarea cols="60" rows="5" id="fees-off-reason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="confirm-fees-off" class="btn btn-primary">Turn Off Fees</button>
                </div>
            </div>
        </div>
    </div>
</div>