<?php foreach ($os as  $ongoingservice) : ?>
    <tr class=" <?= (!$ongoingservice->archived_when()) ? 'current'  : ''  ?>
    <?= (empty($ongoingservice->parent_id())) ? ' parent' : ' child-'.$ongoingservice->parent_id(); ?> review-number-<?= $review; ?>"
    style="background-color: <?= ($review % 2 == 0) ? '' : '#f0f0f0' ?>">
        <td>
            <strong>
                <?php if (!$ongoingservice->parent_id()) : ?>
                    <?php if (!is_null($ongoingservice->proposed_review_date())) : ?>
                        <?= Carbon\Carbon::parse($ongoingservice->proposed_review_date())->format('Y'); ?>
                    <?php else: ?>
                        <?= Carbon\Carbon::parse($ongoingservice->added_when())->format('Y'); ?>
                    <?php endif; ?>
                <?php endif; ?>

            </strong>
            <?php if (!$ongoingservice->archived_when()) : ?>
                <br/><small>Current</small>
            <?php endif; ?>

            <?php if ($ongoingservice->has_child()) : ?>
                <button class="expand-children" id="parent-<?= $ongoingservice->id ?>"><i class="fa fa-chevron-circle-down"></i></button>
            <?php endif; ?>
        </td>

        <?php if(!in_array("client", $excludes)): ?>
            <td><?= $ongoingservice->client_id->link() ?></td>
        <?php endif; ?>
        <td><?= $ongoingservice->link('View Full Servicing Entry') ?></td>
        <td>
            <?= $ongoingservice->added_when ?><br>
            <small><?= $ongoingservice->added_by ?></small>
        </td>
        <td>
            <?= $ongoingservice->review_accepted ?>
            <?= (!$ongoingservice->review_accepted() && $ongoingservice->no_review_dropdown != 'Client Satisfied - no meeting required') ? "<br><small>".$ongoingservice->no_review_dropdown."</small>" : ''; ?>
        </td>
        <td>
            <?= !empty($ongoingservice->proposed_review_date()) ? \Carbon\Carbon::parse($ongoingservice->proposed_review_date())->format("d/m/Y H:i")."<br/>" : '' ?>
            <small>
                <?= ($ongoingservice->no_review_dropdown == 'Client Satisfied - no meeting required') ? "Client<br />satisfied" : $ongoingservice->review_type(); ?>
                <?= (!is_null($ongoingservice->proposed_review_date()) && $ongoingservice->proposed_review_date() < $ongoingservice->added_when()) ? "<br/>Backdated" : ""; ?>
            </small>
        </td>
        <td>
            <?= $ongoingservice->val_req_id; ?>
        </td>
        <td>
            <?= $ongoingservice->review_done ?>
            <?= ($ongoingservice->review_accepted() && !$ongoingservice->review_done() && $ongoingservice->no_review_dropdown != 'Client Satisfied - no meeting required') ? "<br><small>".$ongoingservice->no_review_dropdown."</small>" : ''; ?>
        </td>
        <td>
            <?php if ((Carbon\Carbon::parse($ongoingservice->added_when()) > "2019-04-24") && !$ongoingservice->review_done() && $ongoingservice->rearranged() !== '') : ?>
                <?= $ongoingservice->rearranged ?>
            <?php endif; ?>
        </td>
        <td>
            <?= $ongoingservice->archived_when ?><br/>
            <small><?= $ongoingservice->archived_by ?></small>
        </td>

        <td>
            <?php if ($ongoingservice->date_log()) : ?>
            <abbr title="<?= $ongoingservice->date_log ?? '' ?>">
                <?= $ongoingservice->id ?>
                <?php if ($ongoingservice->parent_id()) : ?>
                    <br/><small>Parent ID: <?= $ongoingservice->parent_id() ?></small>
                <?php else: ?>
                    <br /><small><?php $ordinal = new NumberFormatter('en_GB', NumberFormatter::ORDINAL); echo $ordinal->format($review); ?> Review</small>
                <?php endif; ?>
            </abbr>
            <?php else: ?>
                <?= $ongoingservice->id ?>
                <?php if ($ongoingservice->parent_id()) : ?>
                    <br/><small>Parent ID: <?= $ongoingservice->parent_id() ?></small>
                <?php else: ?>
                   <br /><small><?php $ordinal = new NumberFormatter('en_GB', NumberFormatter::ORDINAL); echo $ordinal->format($review); ?> Review</small>
                <?php endif; ?>
            <?php endif; ?>
        </td>
    </tr>
<?php endforeach; ?>