<style>
    #<?=_LINK?>os_plugin{
        max-height: 800px;
        overflow: auto;
    }
</style>

<div id="<?=_LINK?>os_plugin">

    <div>
        <button id="toggle-current">Toggle latest review</button>
        <!--
        #todo build soft delete which can hide rows from myps and prophet but keeps a record of them
        client ID: 825820 example of unneeded rescheduled rows
        -->
    </div>

    <div id="current-nested" class="alert alert-info">
        Please expand the top row using the <i class="fa fa-chevron-circle-down"></i> button below to view the current review entry
    </div>

    <table class="table" id="os_table">
        <thead>
        <tr>
            <th>Year</th>
            <?php if(!in_array("client", $excludes ?? [])): ?>
                <th>Client</th>
            <?php endif; ?>
            <th>Details</th>
            <th>Added When</th>
            <th>Review Accepted</th>
            <th>Review Details</th>
            <th>Portfolio Report</th>
            <th>Review Done</th>
            <th>Rearranged</th>
            <th>Closed When</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody id="os_table_body">
        </tbody>
    </table>
</div>

<script>
    $(function(){
        let frame = $("#<?=_LINK?>os_plugin");
        let table = $("#os_table", frame);

        function loadOngoingService(){
            //show loading spinner
            $("tbody", table).html("<tr><td colspan='" + $("#os_table thead th", frame).length + "' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>");

            // get the data
            $.ajax({
                url: "/pages/ongoingservice/",
                type: "GET",
                data: {
                    search: "",
                    filter: '<?= json_encode($filter) ?>',
                    excludes: '<?= json_encode($excludes ?? []) ?>',
                },
                dataType: "JSON",
                success: function(response){
                    $("tbody", table).html(response.src);
                    $("#current-nested", frame).hide();
                    $("tbody > tr", table).not('.parent').hide();
                }, complete: function () {
                    // show alert if current is nested within table
                    if ($("tbody > tr.current", table).length && $("tbody > tr.current", table).index()) {
                        $("#current-nested", frame).show();
                    }
                }
            });
        }

        $(".os_tab").on("click", function(){
            //lazy load the tab, it could get big after a while
            loadOngoingService();
        });

        window.loadOngoingService = function(){
            loadOngoingService();
        };

        let toggle = false;
        $("#toggle-current").on("click", function() {
            let top_row = $("tbody > tr:eq(0)", table).attr('class');
            let className = top_row.match(/review-number\-\d+/gi)[0];
            if (!toggle && $("tbody > tr", table).not('.'+className).is(":visible")) {
                $("tbody > tr", table).not('.'+className).hide();
                toggle = true;
            } else if (toggle && $("tbody > tr", table).hasClass('parent')) {
                $("tbody > tr.parent", table).show()
                toggle = false;
            }
        });

        $(table).off().on("click", ".expand-children", function() {
            let parent_id = $(this).attr('id').replace(/\D/g,'');
            let icon = $(this).find($(".fa"));

            if (icon.hasClass('fa-chevron-circle-down')) {
                icon.removeClass('fa-chevron-circle-down').addClass('fa-chevron-circle-up');
                $("tbody > tr.child-"+parent_id, table).slideDown();
            } else {
                icon.removeClass('fa-chevron-circle-up').addClass('fa-chevron-circle-down');
                $("tbody > tr.child-"+parent_id, table).slideUp();
            }
        });
    });
</script>