<style>
    #<?=_LINK?>{
        min-width: 1000px;
    }
</style>

<div id="<?=_LINK?>">

    <?php if (empty($ongoingservice->archived_when())): ?>
        <div class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            The review cycle is currently open
        </div>
    <?php else: ?>
        <div class="alert alert-info clearfix">
            <i class="fa fa-info-circle"></i>
            The review cycle was closed on <?= $ongoingservice->archived_when ?>.
            <?php if ($ongoingservice->review_accepted() == 0) : ?>
            <button class="pull-right btn btn-primary" id="reopen-service">
                <i class="fa fa-undo"></i>
                Reopen
            </button>
            <?php endif; ?>
        </div>
    <?php endif; ?>

    <?php if ($ongoingservice->rearranged() !== '') : ?>
        <?php if ($ongoingservice->rearranged()) : ?>
            <div class="alert alert-warning clearfix">
                <i class="fa fa-info-circle"></i>
                <?= $ongoingservice->archived_by ?> chose to reschedule this review on  <?= $ongoingservice->archived_when ?>. They informed us that this review would be rearranged within the current cycle.
            </div>
        <?php elseif (!$ongoingservice->rearranged()) : ?>
            <div class="alert alert-warning clearfix">
                <i class="fa fa-info-circle"></i>
                <?= $ongoingservice->archived_by ?> chose to reschedule this review on  <?= $ongoingservice->archived_when ?>. They informed us that this review would not be rearranged within the current cycle.
            </div>
        <?php endif; ?>
    <?php endif; ?>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Review Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#attempts">
                Contact Attempts
                <?php if(is_array($ongoingservice->getAttempts())): ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">
                Notes
                <?php if ($ongoingservice->getNotes()) : ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">
                Files
                <?php if (is_array($ongoingservice->getDocuments())) : ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
    </ul>

    <!-- Tab panes -->

    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            <div class="p-3 row">
                <div class="col-<?php if ($ongoingservice->date_log()) : ?>6<?php else:?>12<?php endif;?>">
                    <?php foreach ($ongoingservice as $key => $val) : ?>

                        <?php if (in_array($key, $ongoingservice->get_field_name_map())) : ?>
                            <?php if (! empty($val) && trim((string)$val) && $key !== 'date_log' && $key !== 'review_offered') : ?>

                                <?php if (($key == "proposed_review_date" || $key == "no_review_dropdown") && $ongoingservice->no_review_dropdown == 'Client Satisfied - no meeting required') : ?>
                                    <!-- skip -->
                                <?php elseif ($key == "rearranged" || $key == "has_child" ) : ?>
                                    <!-- skip -->
                                <?php elseif ($key === "proposed_review_date" && empty($val()) && !is_null($ongoingservice->archived_when)) : ?>
                                    <!-- skip -->
                                <?php else: ?>
                                    <div class="row no-gutters mb-3">
                                        <div class="col-3 font-weight-bold">
                                            <?= $val->display_name(); ?>
                                        </div>
                                        <div class="col-9">
                                            <?php if ($key === "no_review_dropdown"&& $val == 'Other') : ?>
                                                Other - See notes tab
                                            <?php elseif ($key === "review_type" && $ongoingservice->no_review_dropdown == 'Client Satisfied - no meeting required') : ?>
                                                No Review - Client Satisfied
                                            <?php elseif ($key === "proposed_review_date" && empty($val())) : ?>
                                                <?= $val; ?> <em> -  No review has been added yet</em>
                                            <?php else: ?>
                                                <?= $val; ?>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endif;?>

                            <?php endif;?>
                        <?php endif;?>
                    <?php endforeach; ?>
                </div>

                <?php if ($ongoingservice->date_log()) : ?>
                    <div class="col-3">
                    <div class="row no-gutters mb-3">
                        <div class="font-weight-bold mb-3">
                            Date Log
                            <br /><small>(how the review due date is calculated)</small>
                        </div>
                        <div>
                            <!-- string replace to display date_log -->
                            <?= str_replace("\n", "<br />", $ongoingservice->date_log); ?>
                        </div>
                    </div>
                </div>
                <?php endif; ?>
            </div>
        </div>

        <div class="tab-pane container fade" id="attempts">
            <div class="p-3">
                <?php if(is_array($ongoingservice->getAttempts())): ?>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Contact Type</th>
                            <th>Contact When</th>
                            <th>Evidence / Details</th>
                            <th>Added When</th>
                            <th>Added By</th>
                        </tr>
                        </thead>

                        <tbody>
                        <?php foreach($ongoingservice->getAttempts() as $attempt): ?>

                        <tr>
                            <td><?= $attempt->contact_type; ?></td>
                            <td><?= $attempt->contact_when; ?></td>
                            <td><?= $attempt->evidence(); ?></td>
                            <td><?= $attempt->addedwhen; ?></td>
                            <td><?= $attempt->addedby; ?></td>
                        </tr>
                        <?php endforeach; ?>
                        </tbody>
                    </table>
                <?php else: ?>
                    <div class="mt-2 alert alert-info">
                        <i class="fa fa-info-circle"></i>
                        <?= $ongoingservice->getAttempts() ?>
                    </div>
                <?php endif; ?>
            </div>
        </div>

        <div class="tab-pane container fade" id="menu1">
            <div class="p-3">
                <?php if ($ongoingservice->getNotes()) : ?>
                    <p><?= $ongoingservice->getNotes() ?></p>
                    <p><?= $ongoingservice->getNotes()->added_by ?>
                    | <?= $ongoingservice->getNotes()->added_when ?></p>
                <?php else: ?>
                    <div class="mt-2 alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    No notes have been added against this review cycle
                </div>
                <?php endif; ?>


            </div>
        </div>

        <div class="tab-pane container fade" id="menu2">
            <?php if (is_array($ongoingservice->getDocuments())) : ?>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>File</th>
                    <th>Category</th>
                    <th>Added When</th>
                    <th>Added By</th>
                </tr>
                </thead>

            <tbody>
            <?php foreach($ongoingservice->getDocuments() as $file): ?>

            <tr>
                <td><?= $file->link(); ?></td>
                <td><?= $file->category; ?></td>
                <td><?= $file->added_when; ?></td>
                <td><?= $file->added_by; ?></td>
            </tr>
            <?php endforeach; ?>
            </tbody>
            </table>
            <?php else: ?>
                <div class="mt-2 alert alert-info">
                    <i class="fa fa-info-circle"></i>
                    <?= $ongoingservice->getDocuments() ?>
                </div>
            <?php endif ?>
        </div>
    </div>

    <div class="modal" id="reopen-servicing" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Reopen servicing for <?= $ongoingservice->client ?></h5>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row form-group">
                            <label for="reason">Please provide a reason why this is being reopened:</label>
                            <textarea class="form-control" id="reason" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div><p id="change-feedback"></p></div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="log_reason" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        let frame = $("#<?=_LINK?>");

        frame.popup_config({
            title: "Ongoing Service # <?= $ongoingservice->id(); ?>",
            center: true,
        });

        $(document).on("click", "#reopen-service", function() {
            $("#reopen-servicing").modal('show');
        });

        $(document).on("click", "#log_reason", function() {
            $("#reopen-servicing").modal('hide');
            $('#reason').val('')
        });

    });
</script>