<?php $policy = new Policy($_GET['policy'],true);

      $bene = new Beneficiaries($bene,true);
?>

<script type="text/javascript">
    $(function( )
    {
        var frame = $('div#<?=_LINK?>');
        var newform = $("form#new-beneficiary-form",frame);

        var pop = frame.popup_config({
            title: "Add New Beneficiary",
            center: true
        });

        saveProfileNotification( newform );

        $(newform).bind(
            "successfulSave",
            function(){
                // refresh NB plugin after NB case added
                $("table#beneficiary_plugin").trigger("load_beneficiaries");
                // refresh policy search table to show any updated values & NB bubbles
                $("button#search-policy").click();
            }
        );

    });

</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <form id="new-beneficiary-form" name="new-beneficiary-form" action="<?=Beneficiaries::get_common_url(array('do'=>'save', 'id'=>$bene->id()))?>" method="POST">
        <div class="panel">
            <table>
                <tbody>
                <tr>
                    <th>First Name</th>
                    <td><?= el($bene->firstname) ?></td>
                </tr>
                <tr>
                    <th>Surname</th>
                    <td><?= el($bene->surname) ?></td>
                </tr>
                <tr>
                    <th>DOB</th>
                    <td><?= el($bene->dob) ?></td>
                </tr>
                <tr>
                    <th>Policy</th>
                    <td><?=$bene->policy()?>
                        <input type="hidden" id="beneficiaries[policy]" name="beneficiaries[policy]" value="<?=$bene->policy()?>" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <span class="status"></span>
    </form>
</div>
