<?php
define("BENEFICIARY_PLUGIN",random_string(10));
?>
<style type="text/css">
    #<?=BENEFICIARY_PLUGIN?>{
        width:100%;
    }
    table#beneficiary_plugin td{
        text-align:left;
    }

    button .edit:before {
        position: absolute;
        font-family: 'FontAwesome';
        top: 2px;
        left: 8px;
        content: "\f1f8";
        color: #b30707;
    }

</style>
<script type="text/javascript">
    $(function(){

        var frame = $("#<?=BENEFICIARY_PLUGIN?>");
        var table = $("table#beneficiary_plugin",frame);
        var status = $("span#beneficiary_status",frame);
        var loadingNBSpinner = $("img#spinner_nb",frame);

        $( table ).bind("load_beneficiaries", function( ){
            $.get("<?=Beneficiaries::index_url()?>", {
                    'do': "list",
                    'policy' :'<?= $policy ?>'
                },
                function( r ){
                    $( ".content", table ).html( r );
                    loadingNBSpinner.hide();
                    var bene_count = $( ".content tr", table).length;
                    if (bene_count >= 1) {
                        $( status ).html("Beneficiaries Found "+bene_count).removeClass().addClass("good_news");
                    } else {
                        $( status ).html("No Beneficiaries Found").removeClass().addClass("bad_news");
                    }
                }
            );
        });


        $(table).trigger("load_beneficiaries");


        $(document).ready(function() {
            $('.edit', frame).die('click').live('click', function () {
                var eid = this.id;
                //Display WebsiteUser create form, and then refresh once complete
                new popup({url:     "<?=Beneficiaries::index_url()?>"+"?do=edit&id="+eid});
            });

            $('.delete', frame).die('click').live('click', function () {
                var did = this.id;

                $.ajax({
                    url:  "<?=Beneficiaries::index_url()?>",
                    type: "GET",
                    data: {
                        'do': "delete",
                        'id' :did
                    },
                    dataType: "json",
                    success: function (r) {
                        if (r.error != false) {
                            $(status).html(r.status).addClass('good_news');
                        } else {
                            $(status).html(r.status).addClass('bad_news');
                        }
                        $(table).trigger("load_beneficiaries");
                    }
                });
            });
        });
    });
</script>
<div id="<?=BENEFICIARY_PLUGIN?>" name="<?=BENEFICIARY_PLUGIN?>" class="has_onshow">

    <table id="beneficiary_plugin" name="beneficiary_plugin" class="scrollable">
        <thead>
        <th width="200px">ID</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>DOB</th>
        <th>Action</th>
        </thead>
        <tbody class="content">
        </tbody>
    </table>
    <span id="beneficiary_status"></span>

</div>