<?php
//determine which buttons to show
if($wf->step->next_step() == 0){
    $label = "End";
}else{
    if($wf->step->loop() == 1){
        $label = "Loop";
    }
    else{
        $label = "Next";
    }
}
?>
<style type="text/css">
.popup #<?= _LINK?>{
    min-width:450px;
}
#<?=_LINK?> > div > div{
	min-height:280px;
}
.float_right{
    float:right;
}
</style>

<script type='text/javascript'>
$(function( ) {

    var frame =  $("div#<?=_LINK?>");
    var form =  $("form#bulk_form", frame);
    var pop = frame.popup_config({
        title: "Workflow Bulk Update",
        center: true
    });

    //ensure that a date and priority is entered
    function validate_bulk_update() {
        if ($("#assigned input:checked").length){
            return true;
        } else {
            if ($("#workflow\\[due\\]\\[Y\\]").val() == "" ||$("#workflow\\[due\\]\\[M\\]").val() == "" || $("#workflow\\[due\\]\\[D\\]").val() == "") {
                $("#wf-message-bulk").html("Please enter a due date").removeClass().addClass("bad_news");
                return false;
            } else if ($("#workflow\\[priority\\]").val() == "") {
                $("#wf-message-bulk").html("Please enter a priority").removeClass().addClass("bad_news");
                return false;
            } else {
                return true;
            }
        }
    }

    $("button#work-wf-bulk" ).click( function() {

        if( $(this).text() != "End"){
            if(validate_bulk_update() == true){

                // submit wf form
                $.post( "<?=Workflow::index_url(array('id'=>$ids, 'do'=>'action_wf', 'bulk'=>'action'))?>", $(form).serialize(), function(r){
                    r = json_decode( r );
                    if( r ){
                        $(this).attr("disabled",true);
                        $("span#wf-message-bulk" ).removeClass().addClass("good_news").text("Actioned");
                        // Trigger refresh on Workflow plugin if in existence
                        if( $("table#listworkflow_plugin").length > 0 ){
                            $("table#listworkflow_plugin").trigger("getWorkflowItems", [true]);
                        }

                        if( $("table#listworkflow").length > 0 ){
                            $("table#listworkflow").trigger("refresh_wf", [true])
                        }

                    }
                    else{
                        $("span#wf-message-bulk").removeClass().addClass("bad_news").text("Error");
                    }
                });
            }
        }else{
            // submit wf form
            $.post( "<?=Workflow::index_url(array('id'=>$ids, 'do'=>'end_ticket', 'bulk'=>'action', 'end_reason'=>'bulk end'))?>", function(r){
                r = json_decode( r );
                if( r ){
                    $("span#wf-message-bulk" ).removeClass().addClass("good_news").text("Actioned");
                    // Trigger refresh on Workflow plugin if in existence
                    if( $("table#listworkflow_plugin").length > 0 ){
                        $("table#listworkflow_plugin").trigger("getWorkflowItems", [true]);
                    }

                    if( $("table#listworkflow").length > 0 ){
                        $("table#listworkflow").trigger("refresh_wf", [true])
                    }
                }
                else{
                    $("span#wf-message-bulk").removeClass().addClass("bad_news").text("Error");
                }
            });
        }
    });


    //bulk roll back
    $("button#rollback-wf-bulk" ).click( function( ){

        // submit wf form
        $.post( "<?=Workflow::index_url(array('id'=>$ids, 'do'=>'rollback_wf', 'bulk'=>'action'))?>", function(r){
            r = json_decode( r );
            if( r.status ){
                $(this).attr("disabled",true);
                $("span#wf-message-bulk" ).addClass("good_news").text("Workflow step rolled back");
                // Trigger refresh on Workflow plugin if in existence
                if( $("table#listworkflow_plugin").length > 0 ){
                    $("table#listworkflow_plugin").trigger("getWorkflowItems", [true]);
                }

                if( $("table#listworkflow").length > 0 ){
                    $("table#listworkflow").trigger("refresh_wf", [true])
                }
            }
            else{
                $( "span#wf-message-bulk" ).addClass("bad_news").text(r.error);
            }
        });
    });


    //End WF ticket early, with reason and audit trail
    $("button#earlyend-wf-bulk" ).click( function( ){

        $('<div></div>').appendTo('body')
            .html('<div><p>Are you sure that you want to end these workflow tickets early?</p></div>')
            .dialog({
                modal: true,
                title: 'Confirm End of Workflow Tickets',
                zIndex: 10000,
                autoOpen: true,
                width: 'auto',
                resizable: false,
                buttons: {
                    Yes: function () {
                        new popup({
                            url: "<?=Workflow::index_url(array('id'=>$ids, 'do'=>'earlyend_wf', 'bulk'=>'action'))?>"
                        });
                        $(this).dialog("close");
                        pop.close();
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
    });

    $("#save_bulk_details").on("click", function(){
        if(validate_bulk_update() == true){
            // submit wf form
            $.post( "<?=Workflow::index_url(array('id'=>$ids, 'do'=>'action_wf', 'bulk'=>'action', 'action'=>'update'))?>",
                $(form).serialize(), function(r){
                    r = json_decode( r );
                    if( r ){
                        $("span#wf-message-bulk" ).removeClass().addClass("good_news").text("Actioned");
                        // Trigger refresh on Workflow plugin if in existence
                        if( $("table#listworkflow_plugin").length > 0 ){
                            $("table#listworkflow_plugin").trigger("getWorkflowItems", [true]);
                        }

                        if( $("table#listworkflow").length > 0 ){
                            $("table#listworkflow").trigger("refresh_wf", [true])
                        }
                    }
                    else{
                        $("span#wf-message-bulk").removeClass().addClass("bad_news").text("Error");
                    }
                });
        }
    });

    $("#assigned_to", frame).on("click", "#add-assigned", function(){
        $( '#assigned table', frame ).load('/pages/workflow/?get=group_users&step=<?=$wf->step()?>',function(){
            $("#add-assigned", frame).toggle();
            $('#assigned', frame).toggle('slow');
        });
    });

    $(".date", frame).on("change", function(event){
        if ("<?=$wf->step()?>" == 41 || "<?=$wf->step()?>" == 193){
            $(".date", frame).on("focusout", function (event) {
                if ($(event.relatedTarget).prop("class")) {
                    if ($(event.relatedTarget).prop("class").indexOf("date") === -1) {
                        $(".date-change-reason", frame).slideDown();
                    }
                } else {
                    $(".date-change-reason", frame).slideDown();
                }
            });
        }
    });

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>" class="tabs">
    <form id="bulk_form" action="">
        <table id="wflow" name="wflow" height="230px">
            <tbody>
                <tr>
                    <th>Workflow Tickets to Update:</th>
                    <td>
                        <textarea readonly cols=40 rows=3 style="background-color:#f4f4f4" ><?=$ids?></textarea>
                    </td>
                </tr>
                <?php if (!in_array($wf->step(), [41,193])): ?>
                    <?php if(User::get_default_instance("team_leader") || User::get_default_instance()->has_permission(46)): ?>
                        <tr>
                            <th>Assigned</th>
                            <td>
                                <table>
                                    <tbody>
                                        <tr id="assigned_to">
                                            <td id="choose-assignee">
                                            Select people
                                            <button id='add-assigned'>+</button>
                                            <div id='assigned' style="display:none;height: 100px;overflow-y: scroll;">
                                                <table>
                                                </table>
                                            </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    <?php endif; ?>
                <?php endif; ?>
                <tr>
                    <th>Step</th>
                    <td><?=$wf->step->desc ?></td>
                </tr>
                <tr>
                    <th>Due</th>
                    <td><?=el($wf_obj->due,false,true,true) ?></td>
                </tr>
                <tr class="date-change-reason" style="display: none;">
                    <th>
                        Reason
                        <p class="text-muted" style="width: 200px;">If a reason is provided, the partner will be emailed. Leave blank to stop any emails being sent.</p>
                    </th>
                    <td><textarea name="date_change_reason" cols=40 rows=8></textarea></td>
                </tr>
                <tr>
                    <th>Priority</th>
                    <td><?=el($wf_obj->priority)?></td>
                </tr>
                <tr>
                    <th valign='top'>Description</th>
                    <td>
                        <textarea name='workflow[desc]' id='workflow[desc]' cols=40 rows=8 wrap=physical><?= $wf_obj -> desc ?></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <?php
                        echo el::bt( "Rollback", "rollback-wf-bulk" );
                        echo el::bt( $label, "work-wf-bulk" );

                        if( ($label == "Loop") || ($label == "Next") ){
                            echo "<span class='float_right'>".el::bt( "End Ticket Early", "earlyend-wf-bulk" )."</span>";
                        }
                        ?>
                    </td>
                    <td>
                        <button id="save_bulk_details" class='float_right'>Update</button>
                    </td>
                </tr>
                <tr>
                    <td><span id="wf-message-bulk" name="wf-message-bulk">&nbsp;</span></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
