<style type="text/css">
.popup.foreground{
	width:770px;
	background-color:red;
}
#<?= _LINK?>{
}
.float-right{
	float:center;
}
</style>
<?php
$bulk = "";
$title = $workflow;
$instructions = "Please enter a reason for ending this workflow ticket early:";
if (strpos($workflow,',') !== false) {
    $bulk = "action";
    $title = "";
    $instructions = "Please enter a reason for ending these workflow tickets early:<br/>".$workflow."<br />";
}
?>
<script type='text/javascript'>
$(function( ){

	var form =  $("div#<?=_LINK?>");
	var pop = form.popup_config({
        width: 740,
		title: "Reason for ending Workflow Ticket #<?=$title?>",
		center: true

	});
	
	
	$(form).on("click", "#submit_end", function(){
		if(  $("#end_reason").val() != "" ){
			$.ajax({
				url: "<?= Workflow::index_url() ?>",
				type: "GET",
				data: {
                    do: "end_ticket",
                    id:"<?=$workflow?>",
                    end_reason: $("#end_reason").val(),
                    bulk: "<?=$bulk?>"
                },
				success: function( r ){
					r = json_decode(r);
					if( r.status == true ){
						$("#end_status").html("Workflow Ticket #<?=$workflow?> has been successfully ended").removeClass().addClass("good_news");
						$("#submit_end, #cancel_end").attr("disabled",true);

                        if( $("table#listworkflow_plugin").length > 0 ){
                            $("table#listworkflow_plugin").trigger("getWorkflowItems", [true]);
                        }

                        if( $("table#listworkflow").length > 0 ){
                            $("table#listworkflow").trigger("refresh_wf", [true])
                        }
						//Small delay to show the success message and then close the popup
                        setTimeout(function(){
                            pop.close();
                        },2200);

					}else{
						$("#end_status").html(r.error).removeClass().addClass("bad_news");
					}
				}
			});
		}else{
			$("#end_status").html("Please enter a reason for ending this Workflow Ticket.").removeClass().addClass("bad_news");
		}
	});
	
	$(pop).on("click", "#cancel_end", function(){
		pop.close();
	});

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

	<form id="wfend-form" name="wfend-form" action="<?=Workflow::get_common_url(array("id"=>$workflow->id,"do"=>"endearly"))?>" method="post">
		<p><?=$instructions;?></p>
		<textarea name='end_reason' id='end_reason' cols=100 rows=8 ></textarea>
		<p><span id="end_status">&nbsp;</span></p>
		<button id="submit_end" name="submit_end" class="float-right">End Ticket</button>
		<button id="cancel_end" name="cancel_end" class="float-right">Cancel</button>
	</form>
	


</div>