<style type="text/css">
div.scroll{
    height:415px;
}
</style>

<script type="text/javascript">

$(function(){

	var frame = $( "#<?=_LINK?>" );
	var form  = $( "form", frame );
	var ajaxSpinner = $("img.spinner",form);
	
    $("#searchform").submit(function(){

	ajaxSpinner.show();

        $("#searchform").send( function( r ){
			r = json_decode(r);

			$("#results tbody.content").empty( );
			$("#results tbody.content").append( r.data );
			ajaxSpinner.hide();
			
			var count = $('table#results tbody.content:last').children().length;
		
			if(count == 0) {
			$("span#result_count").empty();
			  $("span#result_count")
				  .removeClass().addClass( "bad_news" )
				  .text( count + " results returned, please alter search terms" );
			}

			if(count == 1) {
			$("span#result_count").empty();
			  $("span#result_count")
				 .removeClass().addClass( "good_news" )
				 .text( count + " record returned" );
			}
			
			if(count >= 2) {
			$("span#result_count").empty();
			  $("span#result_count")
				 .removeClass().addClass( "good_news" )
				 .text( count + " records returned" );
			}
			
			//populate page number select
			$('#hwf_paging').empty();
			$.each(r.page_no, function(key, value) {
				$('#hwf_paging')
					.append($("<option></option>")
					.attr("value",key)
					.text(value));
		ajaxSpinner.hide();
		
		var count = $('table#results tbody.content:last').children().length;			
		
			if(count == 0) {
			$("span#result_count").empty();
			  $("span#result_count")
				  .removeClass().addClass( "bad_news" )
				  .text( count + " results returned, please alter search terms" );
			}

			if(count == 1) {
			$("span#result_count").empty();
			  $("span#result_count")
				 .removeClass().addClass( "good_news" )
				 .text( count + " record returned" );
			}
			
			if(count >= 2) {
			$("span#result_count").empty();
			  $("span#result_count")
				 .removeClass().addClass( "good_news" )
				 .text( count + " records returned" );
			}
			
			});
		
        });
        
    });
	
	
	$('select#hwf_paging').on( "change", function( ){
		ajaxSpinner.show();
		var item=$(this);
		$.ajax({
			url: "/pages/workflow/index.php?search=true&offset="+item.val(),
			type: "GET",
			data: {
				type: "json",
				fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
				td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
				field: $("#filter\\[field\\]").val()
			},
			dataType: "json",
			success: function( r ){
				try{
					$( "tbody:last", "#results" ).empty();
					$( ".content", "#results" ).html(r.data);
					$("span#result_count").empty();
					$("span#result_count").removeClass().addClass( "good_news" ).text( r.page_count + " record returned" );
					ajaxSpinner.hide();
				}catch(e){
					alert(e);
				}
			}
		});
	});

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">
<div class="panel">
  
  <h1>Search Closed Workflow Tickets</h1>
  
	<form id='searchform' name='searchform' action="<?=Workflow::index_url()?>?search=true" method="GET">
            <b> Date </b><?= el::dropdown("filter[field]",array("due"=>"Date Due","completed"=>"Date Completed"));?>
			<b> From </b><?= el(new Date(0),"filter[from_date]") ?>
			<b> Until </b><?= el(new Date(0),"filter[to_date]") ?>
			<input type="submit" value="Search" />
			<img class="spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
			<span id="result_count" name="result_count" class="status">&nbsp;</span>
			<div style="float:right">
				<select id="hwf_paging" name="hwf_paging"></select>
			</div>
	</form>
</div>
<table id='results' name='results' class='scrollable'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Due</th>
      <th>Complete</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody class="content">
  </tbody>
</table>
</div>