<script type="text/javascript">
$(function( ){
  
    var obj = "<?= $obj ?>";
    var objid = "<?= $objid ?>";

    var pop = $("#myworkflow").get_popup();
    $(pop).center();
    pop.setTitle('Add workflow item');
    
    if(obj == "None"){
        $( '#adding_to' ).html("Workflow");
    }else{
	
        $.ajax({
        'url': '/pages/workflow/?get=addingto&obj='+obj+'&objid='+objid,
        'dataType': "json",
        'success': function( r ){
                try{
                    $( '#adding_to' ).html(r);
                }catch(e){
                    alert( e );
                }
            }
        });    
    }
	
    $( '#processdiv' ).load('/pages/workflow/?get=process', function(){
        $('select#process').change(function(){
            $( '#stepdiv' ).load('/pages/workflow/?get=step&process='+$('select#process').val(),function(){
                $('select#workflow\\[step\\]').change(function(){
                    $( '#assigned table' ).load('/pages/workflow/?get=group_users&step='+$('select#workflow\\[step\\]').val(),function(){
                        $('#add-assigned' ).click( function(){
                            $('#assigned').toggle('slow');
                        });
                    });
                    
                    $( '#assignedgrp' ).load('/pages/workflow/?get=group&step='+$('select#workflow\\[step\\]').val(), function(){
                        $( this ).slideDown("slow");
                    });

					$("#extra-form-details").load('/pages/workflow/?get=step_form&step='+$('select#workflow\\[step\\]').val());
                });
            });
        });
    });
    

    // add new workflow
	$("button#submit-new-wf").click(function () {

		if ($("#process", pop).val() == "") {
			$("span#wf-message").addClass('bad_news').text('Please select a process.');
			return false;
		}

		if ($("#workflow\\[step\\]", pop).val() == "") {
			$("span#wf-message").addClass('bad_news').text('Please select a task.');
			return false;
		}

		if ($("#workflow\\[priority\\]", pop).val() == "") {
			$("span#wf-message").addClass('bad_news').text('Please select a priority.');
			return false;
		}

		if ($("#workflow\\[due\\]\\[Y\\]", pop).val() == "" || $("#workflow\\[due\\]\\[M\\]", pop).val() == "" || $("#workflow\\[due\\]\\[D\\]", pop).val() == "") {
			$("span#wf-message").addClass('bad_news').text('Please enter a due date.');
			return false;
		}

		if ($('[type=checkbox]:checked').length) {
			/*
                if the 'all staff' checkbox is selected as well as a group/department checkbox,
                uncheck the group one and assign the wf ticket to all staff, saves duplicate entries for members of staff in that group
            */
			if ($("#allPS").is(":checked")) {
				$("[type=checkbox]:not([name^=valuationrequest])").attr('checked', false);
				$("#allPS").attr('checked', true);
			}

			$(this).attr("disabled", true);
			var all = $("#allPS").attr("checked") ? 1 : 0;

			var data = $('form#new-wf-form').serialize();

			if ($("#valuationrequest\\[servicing_report\\]").length){
				data += "&valuationrequest[servicing_report]=" + $("#valuationrequest\\[servicing_report\\]").attr("value");
			}

			// submit wf form
			$.post("<?= _SELF ?>?new=1&add=1&all=" + all, data, function (r) {

				r = json_decode(r);
				if (r.status) {
					pop.close();

					// Trigger refresh on Workflow plugin if in existence
					if ($("table#listworkflow_plugin").length > 0) {
						$("table#listworkflow_plugin").trigger("getWorkflowItems", [true]);
					}
				} else {
					$("span#wf-message").html(r.error);
					$("button#submit-new-wf").removeAttr("disabled");
				}
			});
		} else {
			$('tr:nth-child(3)').css('color', 'red');
			$("span#wf-message").addClass('bad_news').text('Please assign a user or group to this ticket.')
		}
	});
});
</script>

<style type='text/css'>
div#assigned{
background: #FFEDCF;
display:none;
}
div#assignedgrp{
background: #FFEDCF;
display:none;
}
#workflow\[desc\]{
    width:100%;
}
</style>

<div class='container' id='myworkflow' style='padding:5px;'>
Adding to: <span id='adding_to' name='adding_to'></span>
		<form id="new-wf-form" name="new-wf-form">
			<table>
				<tr>
					<th width='100px'>Process</th>
					<td>
						<div id='processdiv'>
							Fetching Data
						</div>
					</td>
				</tr>
				<tr>
					<th>Task</th>
					<td>
						<div id='stepdiv'>
							Select a process
						</div>
					</td>
				</tr>
				<tr>
				   <th>Assigned to</th>
				   <td>
					   Select people
					   <button id='add-assigned'>+</button>
						<div id='assigned' style="height: 100px;overflow-y: scroll;">
							<table>
							</table>
						</div>
						All PS Staff
					   <input type="checkbox" id="allPS">
					</td>
				</tr>
				<tr>
                    <th>Department?</th>
                    <td><div id='assignedgrp'></div></td>
                </tr>
				<tr>
				   <th>Priority</th>
				   <td><?= el($wf -> priority) ?></td>
				</tr>
				<tr>
				   <th>Due</th>
				   <td><?= el($wf -> due,false,true,true) ?></td>
				</tr>
				<tr>
					<th>Description</th>
                    <td><?= el($wf -> desc) ?></td>
				</tr>
				<tr>
					<td colspan="2">
						<span id="wf-message" name="wf-message" style="color:#4A4D4F;padding-top:2px;">&nbsp;</span>
					</td>
				</tr> 
			</table>
            <?= el::hide("workflow[_object]",$obj)?>
            <?= el::hide("workflow[index]",$objid)?>

			<div id="extra-form-details"></div>
		</form>
	</br />

    <p align="right"><?= el::bt( "Submit", "submit-new-wf" ); ?></p>
</div>
