<?php
	define( "WORKFLOW_PLUGIN_ID", random_string(15) );

	if (!isset($excludes)){
		$excludes = [];
	}
?>

<script type="text/javascript">
$(function() {

    var form = $( "form#<?=WORKFLOW_PLUGIN_ID?>" );
    var loadingSpinner = $("img#spinner",form);

    var table = $("table#listworkflow_plugin",form );
    var status_box = $( "span#status_plugin", form);
    var pluginInited = false;

    table.bind("getWorkflowItems", function (event, reset_plugin, level = false) {

        pluginInited = true;

        if ('xhr' in table && table.xhr != null) {
            // cancel existing request
            table.xhr.abort();
        }


        if (reset_plugin) {
            $(table[0].content).html("");
        }

        table.xhr = $.ajax({
            type: "GET",
            url: "<?=Workflow::get_public_dir()?>",
            data: {
                'object_id': '<?= $id ?>',
                'object_type': '<?= $property ?>',
                'get': 'plugin',
                'level': level,
                'wf_items': 'wf_plugin'
            },
            beforeSend: function() {
                $("#workflow_output", form).html("<tr><td colspan='6'><img class=\"spinner\" src=\"/lib/images/inline-ajax.gif\"/></td></tr>");
            },
            success: function (r) {
                try {
                    r = json_decode(r);

                    $("#workflow_output", form).html("").append(r.wf_items);

                    if (r.total_rows == 0) {
                        $(status_box).html(r.total_rows + " Workflow Items Found").removeClass("good_news").addClass("bad_news");
                    } else if (r.total_rows == 1) {
                        $(status_box).html(r.total_rows + " Workflow Item Found").removeClass("bad_news").addClass("good_news");
                    } else {
                        $(status_box).html(r.total_rows + " Workflow Items Found").removeClass("bad_news").addClass("good_news");
                    }

                }
                catch (e) {
                    status_box.text("Error: " + e).css("color", "red").show();
                }
            },
            error: function (xhr, msg) {
                status_box.text("Error: " + msg).css("color", "red").show();
            },
            complete: function (xhr, msg) {
                table.first_load = true;
                table.xhr = null;
                loadingSpinner.hide();
            }
        });
    });

    table.bind("onshow", function () {
        if (!$(table).hasClass("has_onshow")) {
            return false;
        }

        if (!pluginInited) {
            $(table).trigger("getWorkflowItems", [true]);
        }
    });

    //Needed due to bootstrap tabs being used, tabs no longer have the same structure as before which affects lazy loading
    $(".wf-tab").each(function(){
        $(this).click(function(){
            table.addClass("has_onshow");
            table.trigger("onshow");
        });
    });

    //select all workflow tickets
    $('#checkall').change(function () {
        var checkboxes = $(this).closest('table').find(':checkbox');
        if ($(this).is(':checked')) {
            checkboxes.prop('checked', true);
        } else {
            checkboxes.prop('checked', false);
        }
    });

    //bulk update popup
    $(form).on("click", "#wf_bulk_update", function () {

        var selected = [];
        var steps = [];

        //add id & step for selected items to arrays
        $('input:checked').each(function () {
            selected.push($(this).attr('id'));
            steps.push($(this).attr('class'));
        });


        //function to remove duplicate entries from array
        function unique(list) {
            var result = [];
            $.each(list, function (i, e) {
                if ($.inArray(e, result) == -1) result.push(e);
            });
            return result;
        }

        //remove undefined from array which is added from the check all box
        steps = $.grep(steps, function (n) {
            return (n)
        });
        var unique_steps = unique(steps);

        //if all selected wf tickets are on same step display bulk update popup, if not display alert
        if (unique_steps.length > 1) {
            alert("Bulk updates can only be preformed on workflow tickets that are currently on the same step");
        } else {
            new popup({
                url: "/pages/workflow/index.php?do=bulk_update_template&id=" + selected
            });
        }

    });

    //enable bulk update if more than one check box is selected
    $("#wf_bulk_update", form).attr("disabled", "disabled");
    $(table).on("click", "input:checkbox", function () {
        if ($("input:checkbox:checked").length > 1) {
            $("#wf_bulk_update", form).removeAttr("disabled");
        } else {
            $("#wf_bulk_update", form).attr("disabled", "disabled");
        }
    });

    $(".wf-object-filter", form).on("click", function(){
        $(".wf-object-filter.active", form).removeClass("active");
        $(this).addClass("active");

        var level = $(this).data("object");

        table.trigger("getWorkflowItems", [true, level]);
    });
});
</script>
<style type="text/css">

#<?= WORKFLOW_PLUGIN_ID ?> > #status_plugin {
    display: none;
}
</style>
<form id="<?=WORKFLOW_PLUGIN_ID?>" name="<?=WORKFLOW_PLUGIN_ID?>">
    <button id="wf_bulk_update">Bulk Update</button>
    <div class="btn-group ml-3">
        <?php if($property == "client"): ?>
            <button type="button" class="btn btn-secondary wf-object-filter active" data-object="client">Client</button>
            <button type="button" class="btn btn-secondary wf-object-filter" data-object="policy">Policy</button>
            <button type="button" class="btn btn-secondary wf-object-filter" data-object="LifeEventTracking">Life Events</button>
        <?php endif; ?>
    </div>
    <p align="right">
        <img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
    </p>
	
    <table id ="listworkflow_plugin" name="listworkflow_plugin" class="scrollable">
        <thead>
            <tr>
                <th width="20px"class="no_sort"><input type="checkbox" id="checkall"></th>
                <th>ID</th>
                <th>Due</th>
                <th>Step</th>
                <th>Added By</th>
                <th>Description</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="workflow_output" class='content'></tbody>
    </table>

    <p align="right" style="margin:10px 5px 0 0;">
        <span id="status_plugin" name="status_plugin">&nbsp;</span>
    </p>
</form>