<style type="text/css">
.popup #<?= _LINK?> {
    min-height:280px;
    min-width: 1000px;
    max-width: 650px;
}

.popup #<?= _LINK?> > div.scroll {
        overflow: auto;
        padding: 0;
    }
#notes_box{
    max-height:350px;
    overflow: scroll;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 96%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    background-color: #00516b !important;
    border-color: #00516b !important;
}
</style>
<script type='text/javascript'>

$(function( ){

	var frame = $("#<?=_LINK?>");
	var form = $("form#wf-form",frame);
	var pop = $( form ).get_popup();

	$( pop ).center( );
	pop.setTitle('Workflow Audit #<?=$workflow_audit->workid()?>');

	$( "div#notes_box", frame ).load( '/pages/tools/notes/?do=list&object=WorkflowAudit&object_id=<?= $workflow_audit ->id ?>' );

    // Disable user from changing any audited workflow items, however let user add notes to audited item
    $("#flow").find(":input").attr("disabled","disabled");

    $.ajax({
        url: "pages/workflow/index.php",
        type: "get",
        data: {
            type: "json",
            do: "step_builder",
            id: '<?=  $workflow_audit->ID() ?>',
            current_step: '<?=  $workflow_audit -> step() ?>',
            processID: '<?=  $workflow_audit -> step();?>'
        },
        dataType: "json",
        success: function (r) {
            $('.stepwizard-row', '.<?=_LINK?>').append(r.data);
        }
    });

    //Reopen workflow ticket
    $("button#reopen-wf" ).click( function( ){

        $('<div></div>').appendTo('body')
            .html('<div><p>Are you sure that you want to reopen this workflow ticket?</p></div>')
            .dialog({
                modal: true,
                title: 'Confirm Reopen of Workflow ticket',
                zIndex: 10000,
                autoOpen: true,
                width: 'auto',
                resizable: false,
                buttons: {
                    Yes: function () {
                        $.ajax({
                            url: "/pages/workflow/index.php",
                            type: "GET",
                            data: {
                                type: "json",
                                    'id': '<?= $workflow_audit->workid()?>' ,
                                    'do':'reopen_wf'
                            },
                            dataType: "json",
                            success: function( r ){
                                try{
                                    $('span#wf-message').html(r.status);
                                    $('span#wf-clickme').html(r.clickme);
                                    $('button#reopen-wf').attr('disabled', true);
                                    $("div#content_window").load("/pages/workflow/index.php?do=list");
                                    pop.close();

                                    setTimeout(function() {
                                        new popup({
                                            url: "/common/Workflow/?get=profile&id="+r.newid,
                                        });
                                        }, 750);
                                }catch(e){
                                    alert(e);
                                }
                            }
                        });



                        $(this).dialog("close");

                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });

    });

});

</script>


<div class="container <?=_LINK?>">
    <h1><span class="badge badge-info">Process Steps</span></h1>
    <br>
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">

        </div>
    </div>

</div>

<div id="<?=_LINK?>" name="<?=_LINK?>">

<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link active" role="tab" data-toggle="tab" data-target="#<?=_LINK?>details-tab" href="#<?=_LINK?>details-tab">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" role="tab" data-toggle="tab" data-target="#<?=_LINK?>notes-tab" href="#<?=_LINK?>notes-tab">Notes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" role="tab" data-toggle="tab" data-target="#<?=_LINK?>history-tab" href="#<?=_LINK?>history-tab">History</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade show active" id="<?=_LINK?>details-tab">

        <?php if (in_array($workflow_audit->step(), [41,193])) { ?>
            <?php
                $db = new mydb(REMOTE);
                $q = "select *
                    from myps.valuation_requests
                    inner join myps.user_info on valuation_requests.requested_by = user_info.id
                    left join myps.ongoing_service os on os.val_req_id = valuation_requests.id
                    where workflow_id = ".$workflow_audit->workid();
                $db->query($q);
                $report = $db->next(MYSQLI_ASSOC);
            ?>
        <?php } ?>


        <?php
            if (in_array($workflow_audit->step(), [41,193])) {
                if ($workflow_audit->_object() == "Client") {
                    $add_change = Client::address_change_check($workflow_audit->index());
                    $client = new Client($workflow_audit->index(), true);
                    if ($client->one->client_deceased() == 1 && $client->two->client_deceased() != 1) {
                        if ($client->two->forename != "") {
                            echo "<div class='notification info static' style='display:block;'>Sadly ".$client->one ." has passed away, but is survived by ".$client->two ."</div>";
                        } else {
                            echo "<div class='notification info static' style='display:block;'>Sadly ".$client->one ." has passed away</div>";
                        }
                    } elseif ($client->one->client_deceased() != 1 && $client->two->client_deceased() == 1) {
                        if ($client->one->forename != "") {
                            echo "<div class='notification info static' style='display:block;'>Sadly ".$client->two ." has passed away, but is survived by ".$client->one ."</div>";
                        } else {
                            echo "<div class='notification info static' style='display:block;'>Sadly ".$client->two ." has passed away</div>";
                        }
                    } elseif ($client->one->client_deceased() == 1 && $client->two->client_deceased() == 1) {
                        echo "<div class='notification info static' style='display:block;'>Sadly both of these clients have passed away</div>";
                    }
                }
            }
        ?>

        <form id="wf-form" name="wf-form" action="<?=Workflow::get_common_url(array('id'=>$workflow_audit->id,'do'=>'save'))?>" method="post">
        <div class="row no-gutters">

            <div class="col-6" id="flow">
                <?php
                    if($workflow_audit -> _object -> value  != "None"){
                        $obj = $workflow_audit -> _object -> __toString();
                        $match = new $obj($workflow_audit -> index, true);
                        echo "<div class='row no-gutters mb-1'><div class='col-3 font-weight-bold'>Link</div><div class='col-9'>",$match -> link(),"</div></div>";
                    }
                ?>

                <div class="row no-gutters mb-1">
                    <div class="col-3 font-weight-bold">Step</div>
                    <div class="col-9">
                        <?= $workflow_audit -> step -> desc ?>
                    </div>
                </div>

                <div class="row no-gutters mb-1">
                    <div class="col-3 font-weight-bold">Due</div>
                    <div class="col-9">
                        <?= el($workflow_audit -> due,false,true,true) ?>
                    </div>
                </div>

                <div class="row no-gutters mb-1">
                    <div class="col-3 font-weight-bold">Priority</div>
                    <div class="col-9">
                        <?= el($workflow_audit -> priority)?>
                    </div>
                </div>

                <div class="row no-gutters mb-1">
                    <div class="col-3 font-weight-bold">Description</div>
                    <div class="col-9">
                        <textarea name='workflow[desc]' id='workflow[desc]' cols=40 rows=8 wrap=physical><?= $workflow_audit -> desc ?></textarea>
                    </div>
                </div>

                <?php if($workflow_audit->end_reason()): ?>
                <div class="row no-gutters mb-1">
                    <div class="col-3 font-weight-bold">Early End Reason</div>
                    <div class="col-9">
                        <?= $workflow_audit->end_reason(); ?>
                    </div>
                </div>
                <?php endif; ?>
            </div>

            <div class="col-6">
                <div class="px-3">
                    <?php if(in_array($workflow_audit->step(), Workflow::VALUATION_STEPS)): ?>
                    <?php if (Carbon\Carbon::parse($report['added_when']) > Carbon\Carbon::parse($report['proposed_review_date'])) { ?>
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-info-circle"></i>
                        Backdated review input by <?= $report['email']; ?> on <?= Carbon\Carbon::createFromTimestamp($report['requested_when'])->format('d/m/Y'); ?>
                    </div>
                    <?php } else { ?>
                    <div class="alert alert-info" role="alert">
                        <i class="fa fa-info-circle"></i>
                        Requested by <?= $report['email']; ?> on <?= Carbon\Carbon::createFromTimestamp($report['requested_when'])->format('d/m/Y'); ?>
                    </div>
                    <?php } ?>

                    <h5>Portfolio Report Info:</h5>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Estimated Delivery Date</strong>
                        </div>
                        <div class="col-8">
                            <?php if(!empty($report['estimated_delivery_date'])): ?>
                            <?= Carbon\Carbon::parse($report['estimated_delivery_date'])->format("d/m/Y"); ?>
                            <?php endif; ?>
                        </div>
                    </div>

                    <?php if(!empty($report['estimated_delivery_date']) && $report['servicing_report'] && !empty($report['proposed_review_date'])): ?>
                    <?php if(Carbon\Carbon::parse($report['estimated_delivery_date'])->startOfDay()->greaterThan(Carbon\Carbon::parse($report['proposed_review_date'])->startOfDay())): ?>
                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Late Delivery Notice Shown</strong>
                        </div>
                        <div class="col-8">
                            <?php if($report['late_delivery_notice_shown']): ?>
                            <i class="fas fa-check text-success"></i>
                            <?php else: ?>
                            <i class="fas fa-times text-danger"></i>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Early Valuations Requested</strong>
                        </div>
                        <div class="col-8">
                            <?php if($report['request_values']): ?>
                            <i class="fas fa-check text-success"></i>
                            <?php else: ?>
                            <i class="fas fa-times text-danger"></i>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php endif; ?>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Delivery Method</strong>
                        </div>
                        <div class="col-8">
                            <?php
                                    switch ($report['delivery_method']) {
                                        case 1:
                                            echo "Upload Only";
                                            break;
                                        case 2:
                                            echo "Deliver to Partner";
                                            break;
                                        case 3:
                                            echo "Deliver to Client";
                                            break;
                                    }
                                ?>
                        </div>
                    </div>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Delivery Option</strong>
                        </div>
                        <div class="col-8">
                            <?php
                                    switch ($report['delivery_option']) {
                                        case 1:
                                            echo "Upload Only";
                                            break;
                                        case 2:
                                            echo "Standard Delivery";
                                            break;
                                        case 3:
                                            echo "Express Delivery";
                                            break;
                                        case 4:
                                            echo "Email";
                                            break;
                                    }
                                ?>
                        </div>
                    </div>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Servicing Report</strong>
                        </div>
                        <div class="col-8">
                            <?= ($report['servicing_report']) ? 'Yes' : 'No' ?>
                        </div>
                    </div>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Analytics</strong>
                        </div>
                        <div class="col-8">
                            <?= $report['analytics'] ?>
                        </div>
                    </div>

                    <?php if ($report['review_type']): ?>
                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Review Type</strong>
                        </div>
                        <div class="col-8">
                            <?= $report['review_type'] ?>
                            <?php if (Workflow::backdatedCheck($workflow_audit->id())) : ?>
                            <br /><small><?= Workflow::backdatedCheck($workflow_audit->id()) ?></small>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php endif; ?>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Requested For</strong>
                        </div>
                        <div class="col-8">
                            <?php if(!empty($report['proposed_review_date'])): ?>
                                <?= Carbon\Carbon::parse($report['proposed_review_date'])->format('d/m/Y') ?>
                            <?php elseif(!empty($report['requested_for'])): ?>
                                <?= Carbon\Carbon::createFromTimestamp($report['requested_for'])->format('d/m/Y') ?>
                            <?php endif; ?>
                        </div>
                    </div>

                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Unique Reference</strong>
                        </div>
                        <div class="col-8">
                            <?= $report['id'] ?>
                        </div>
                    </div>

                    <?php if ($report['review_type'] != "PS Forced" && $report['proposed_review_date']): ?>
                    <div class="row no-gutters mb-1">
                        <div class="col-4">
                            <strong>Review Date</strong>
                        </div>
                        <div class="col-8">
                            <?= Carbon\Carbon::createFromFormat('Y-m-d H:i:s', $report['proposed_review_date'])->format('d/m/Y') ?>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php if(!empty($client)): ?>
                    <div class="row no-gutters mb-1">
                        <div class="col-5">
                            <strong>Joint Consent</strong>
                        </div>
                        <div class="col-7">
                            <?= $client->joint_consent ?>
                        </div>
                    </div>
                    <?php endif; ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <div id='bbar' name='bbar'>
            <button id="reopen-wf" style="float:right">Reopen</button>
        </div>

        <p><span id="wf-message" name="wf-message" class="good_news"></span></p>
        </form>


    </div>


    <div class="tab-pane fade" id="<?=_LINK?>notes-tab">
        <div id="notes_box" name="notes_box"></div>
    </div>

    <div class="tab-pane fade" id="<?=_LINK?>history-tab">
        <!--<table>-->
            <!--<tr>-->
                <!--<th>Added</th>-->
                <!--<td><?= $workflow_audit -> addedwhen?></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>Added By</th>-->
                <!--<td><?= $workflow_audit -> addedby -> username ?></td>-->
            <!--</tr>-->
        <!--</table>-->

        <?php if ($workflow_audit->completed): ?>
            <div class="row no-gutters mb-3">
                <div class="col-6">
                    Completed By: <?= $workflow_audit->completedby->link() ?>
                </div>
                <div class="col-6">
                    Completed: <?= $workflow_audit->completed ?>
                </div>
            </div>
        <?php endif; ?>
        <?= ActionReason::getReason("Workflow", $workflow_audit->workid(), 'Workflow due update'); ?>
        <?= LocalLog::get_template("plugin.html",array( "object"=>"WorkflowAudit","id"=>$workflow_audit->id(), )) ?>
    </div>

</div>

</div>