<?php
define("WORKFLOWAUDIT_HISTORY_PLUGIN",random_string(10));

?>
<style type="text/css">
    #<?=WORKFLOWAUDIT_HISTORY_PLUGIN?>{
        min-width:650px;
        max-width:1000px;
    }

    #<?=WORKFLOWAUDIT_HISTORY_PLUGIN?> > div.scroll {
            overflow: auto;
            padding: 0;
        }
    #<?=WORKFLOWAUDIT_HISTORY_PLUGIN?> table.data tr > * {
            white-space: nowrap;
        }
    #<?=WORKFLOWAUDIT_HISTORY_PLUGIN?> table.data tbody > tr > td.edit {
            background: #FFCFCF;
        }
    #key{
        margin-top:15px;
        padding-bottom:30px;
    }
    #key_change {
        width: 20px;
        height: 20px;
        background: #FFCFCF;
    }
    #key_merge {
        width: 20px;
        height: 20px;
        background: #ccccff;
    }
    .clear{
        clear:both;
    }

    .green{
        color: green;
    }

</style>
<script type="text/javascript">
    $(function(){

        var frame = $("#<?=WORKFLOWAUDIT_HISTORY_PLUGIN?>");
        var table = $("table#workflow_history_log_table", frame);

    });
</script>
<div id="<?=WORKFLOWAUDIT_HISTORY_PLUGIN?>" name="<?=WORKFLOWAUDIT_HISTORY_PLUGIN?>" class="has_onshow">
    <?= LocalLog::get_template("plugin.html",array( "object"=>"Workflow","id"=>$workflow->id(), )) ?>
</div>