<?php $wf = new Workflow(); ?>
<style type='text/css'>
form#workflow-search-form > button{
    border:none;
    background:transparent;
}

#listworkflow > tbody > tr > td > div.scroll{
    height:520px;
}

#container{
	margin-bottom:10px;
}
#toolbarPagination{
    float:right;
    padding:0;
    margin:0;
    margin-top:-100px;
}

#adv_search #deal_with_issuer,
#adv_search #deal_with_partner,
#adv_search #deal_with_practice {
    display: none;
}

#<?=_LINK?> .valuation_col{
    display: none;
}
</style>
<script type="text/javascript">
$(function(){

    var frame = "#<?= _LINK?>";
    var loadingSpinner = $("img.spinner",frame);
	var status_box = $( "span#status" );
    var wf_table = $("table#listworkflow");
    var wf_init_load = true;

	$("#adv_search").hide();
	$("#adv_btn_hide").hide();

	$(document).on("click", "#adv_btn_show", function(){
		$("#adv_search").show( );
		$("#adv_btn_show").hide( );
		$("#adv_btn_hide").show( );
	});

	$(document).on("click", "#adv_btn_hide", function(){
		$("#adv_search").hide( );
		$("#adv_btn_show").show( );
        $("#adv_btn_hide").hide( );
    });

	status_box
		.text("")
		.css( "color", "#000" )
		.fadeIn( "fast" );

    //initial load of wf, displays first 50 tickets assigned to all by default
    $( wf_table ).bind(
        "load_wf",
        function( ){
            offset = 0;

            $.ajax({
                url: '<?=Workflow::index_url()?>',
                type: "GET",
                data: {
                    get: "list",
                    offset: offset
                },
                dataType: "html",
                success : function(r){
                    r = json_decode(r);
                    $( ".content", wf_table ).html(r.data);
                    $('span#wf_total_rows').html(r.record_count);
                    $('span#pages').html(r.pages);

                    //populate page no. dropdown
                    if($("#wf_page_number").val() == null){
                        $('#wf_page_number').empty();
                        $.each(r.page_no, function(key, value) {
                            $('#wf_page_number')
                                    .append($("<option></option>")
                                            .attr("value",key)
                                            .text(value));
                        });
                        $('#wf_page_number')
                                .append($("<option></option>")
                                        .attr("value","all")
                                        .text("Show All"));
                    }
                    loadingSpinner.hide();
                }
            });
        }
    );
    $( wf_table ).trigger( "load_wf" );


    // Get new data based on selected page number
    $('select#wf_page_number').on( "change", function( ) {
        loadingSpinner.show();
        var item = $(this);
        if( ($("#filter\\[from_date\\]\\[Y\\]").val() != "" &&  $("#filter\\[to_date\\]\\[Y\\]").val() != "") && $('#adv_btn_hide').css('display') == 'none' ){

            $.ajax({
                url: '<?= _SELF ?>',
                type: "GET",
                data: {
                    get: "quick_search",
                    offset: item.val(),
                    fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
                    td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
                },
                dataType: "html",
                success : function(r){
                    $('#adv_submit').removeAttr('disabled');
                    $('#submit_search').removeAttr('disabled');

                    r = json_decode(r);
                    $( "tbody:last", wf_table ).empty();
                    $( ".content", wf_table ).html(r.data);
                    loadingSpinner.hide();
                }
            });

        }else if($('#adv_btn_hide').css('display') == 'inline-block'){

            $.ajax({
                url: '<?= _SELF ?>',
                type: "GET",
                data: {
                    get: "adv_search",
                    offset: item.val(),
                    priority: $("#priority_is").val(),
                    process: $("#process_select").val(),
                    step: $("#step_select").val(),
                    dealing: $("#deal_with").val(),
                    assigned: $("#ass_to").val(),
                    fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
                    td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
                    issuer: $("#workflow\\[issuer\\]").val(),
                    partner: $("#workflow\\[partner\\]").val(),
                    practice: $("#workflow\\[practice\\]").val(),
                },
                dataType: "html",
                success : function(r){
                    $('#adv_submit').removeAttr('disabled');
                    $('#submit_search').removeAttr('disabled');

                    r = json_decode(r);
                    $( "tbody:last", wf_table ).empty();
                    $( ".content", wf_table ).html(r.data);
                    loadingSpinner.hide();
                }
            });

        }else{
            //change page on default workflow display
            $.ajax({
                url: "/pages/workflow/index.php?get=list&offset=" + item.val(),
                type: "GET",
                data: {
                    type: "json"
                },
                dataType: "json",
                success: function (r) {
                    try {
                        $("tbody:last", wf_table).empty();
                        $(".content", wf_table).html(r.data);
                        loadingSpinner.hide();
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        }

    });


	$( wf_table ).bind(
		"loadSelects",
			function( ){
				$.get(
					"<?=Workflow::index_url()?>",
					{
						'get': "populate_selects"
					},
					function( r ){
						r = json_decode(r);
						$("#processes").html(r.process_select);
						$("#assigned_form").html(r.assign_select);
					}
				);
			}
	);

   $( wf_table ).trigger( "loadSelects" );

	$(document).on('change', "#process_select",  function() {
		$.ajax({
			url: '<?=Workflow::index_url()?>',
			type: "GET",
			data: {
				get: "populate_steps",
				process: $(this).val()
			},
			dataType: "html",
			success : function(r){
			r = json_decode(r);
				$("#steps").html(r.step_select);
			}
		});
	});

	$("#deal_with").change(function() {

		if( $(this).val() == "Issuer" ){
			$("#deal_with_issuer", frame).show();
			$("#deal_with_partner", frame).hide();
			$("#deal_with_practice", frame).hide();
			$('#deal_with_partner .suggest > input[type=hidden]', frame).val("");
			$('#deal_with_partner .suggest > input[type=text]', frame).val("");
            $('#deal_with_practice .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_practice .suggest > input[type=text]', frame).val("");
		}else if( $(this).val() == "Partner" ){
            $("#deal_with_issuer", frame).hide();
            $("#deal_with_partner", frame).show();
            $("#deal_with_practice", frame).hide();
            $('#deal_with_issuer .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_issuer .suggest > input[type=text]', frame).val("");
            $('#deal_with_practice .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_practice .suggest > input[type=text]', frame).val("");
		}else if( $(this).val() == "Practice" ){
            $("#deal_with_issuer", frame).hide();
            $("#deal_with_partner", frame).hide();
            $("#deal_with_practice", frame).show();
            $('#deal_with_issuer .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_issuer .suggest > input[type=text]', frame).val("");
            $('#deal_with_partner .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_partner .suggest > input[type=text]', frame).val("");
        }else{
            $("#deal_with_issuer", frame).hide();
            $("#deal_with_partner", frame).hide();
            $("#deal_with_practice", frame).hide();
            $('#deal_with_issuer .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_issuer .suggest > input[type=text]', frame).val("");
            $('#deal_with_partner .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_partner .suggest > input[type=text]', frame).val("");
            $('#deal_with_practice .suggest > input[type=hidden]', frame).val("");
            $('#deal_with_practice .suggest > input[type=text]', frame).val("");
		}
	});


	// export data in workflow table
	$("button#export").click(function(){
		$("#listworkflow").export();
	});


	$("#submit_search").on("click", function(){

		var fd = $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val();
		var td = $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val();

		if( fd == "//" || td == "//"){
			$("#wf_status").html("Please ensure you have entered valid dates" ).addClass("bad_news");
		}else{
			loadingSpinner.show();
			$('#adv_submit').attr('disabled','disabled');
			$('#submit_search').attr('disabled','disabled');
			$("#wf_status").html("&nbsp;").removeClass();
			$.ajax({
				url: '<?= _SELF ?>',
				type: "GET",
				data: {
					get: "quick_search",
					fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
					td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
                    offset: 0
				},
				dataType: "html",
				success : function(r){
					$('#adv_submit').removeAttr('disabled');
					$('#submit_search').removeAttr('disabled');

                    r = json_decode(r);
                    $( "tbody:last", wf_table ).empty();
                    $( ".content", wf_table ).html(r.data);
                    $('#wf_page_number').empty();
                    $('span#wf_total_rows').html(r.record_count);
                    $('span#pages').html(r.pages);
                    $.each(r.page_no, function(key, value) {
                        $('#wf_page_number')
                                .append($("<option></option>")
                                        .attr("value",key)
                                        .text(value));
                    });
                    $('#wf_page_number')
                            .append($("<option></option>")
                                    .attr("value","all")
                                    .text("Show All"));
                    loadingSpinner.hide();
				}
			});
		}
	});


	$("#adv_submit", frame).on("click", function(){
	    var cont = true;

	    var prioritySelected = ($('#priority_is option:selected').text() !== "-- Select Priority --");
	    var processSelected = ($('#process_select option:selected').text() !== "-- Select Process --");
	    var dealWithSelected = ($('#deal_with option:selected').text() !== "-- Select Option --");
	    var assignedToSelected = ($('#ass_to option:selected').text() !== "-- Select --");
	    var progressSelected = ($('#progress').val() !== "--");
	    var progressDeptSelected = ($("#progress_dept").val() !== "");

        if ($("#wf_id", frame).val() === ""){
	        //ID search supersedes everything
            if (!prioritySelected && !processSelected && !dealWithSelected && !assignedToSelected && !progressSelected && !progressDeptSelected){
                $("#wf_status", frame).html("Please specify a search criteria").addClass("bad_news");
                cont = false;
            } else if (dealWithSelected && !processSelected){
                $("#wf_status", frame).html("Please select a process when searching for a "+$('#deal_with option:selected', frame).val() ).addClass("bad_news");
                cont = false;
            } else if ($('#deal_with option:selected', frame).text() === "Issuer" && ($("#workflow\\[issuer\\]", frame).val() === 0 || $("#workflow\\[issuer\\]", frame).val() === "")){
                $("#wf_status", frame).html("Please select an Issuer").addClass("bad_news");
                cont = false;
            } else if ($('#deal_with option:selected', frame).text() === "Partner" && ($("#workflow\\[partner\\]", frame).val() === 0 || $("#workflow\\[partner\\]", frame).val() === "")){
                $("#wf_status", frame).html("Please select a Partner").addClass("bad_news");
                cont = false;
            } else if ($('#deal_with option:selected', frame).text() === "Practice" && ($("#workflow\\[practice\\]", frame).val() === 0 || $("#workflow\\[practice\\]", frame).val() === "")){
                $("#wf_status", frame).html("Please select a Practice").addClass("bad_news");
                cont = false;
            }
        }

        if (cont){
            $('#adv_submit').attr('disabled','disabled');
            $('#submit_search').attr('disabled','disabled');
            $("#wf_status").html("&nbsp;").removeClass();
            loadingSpinner.show();
            $.ajax({
                url: '<?= _SELF ?>',
                type: "GET",
                data: {
                    get: "adv_search",
                    priority: $("#priority_is").val(),
                    process: $("#process_select").val(),
                    step: $("#step_select").val(),
                    dealing: $("#deal_with").val(),
                    assigned: $("#ass_to").val(),
                    progress: $("#progress").val(),
                    progress_dept: $("#progress_dept").val(),
                    wf_id: $("#wf_id").val(),
                    fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
                    td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
                    issuer: $("#workflow\\[issuer\\]").val(),
                    partner: $("#workflow\\[partner\\]").val(),
                    practice: $("#workflow\\[practice\\]").val(),
                    offset: 0
                },
                dataType: "html",
                success : function(r){
                    $('#adv_submit').removeAttr('disabled');
                    $('#submit_search').removeAttr('disabled');

                    r = json_decode(r);
                    $( "tbody:last", wf_table ).empty();
                    $( ".content", wf_table ).html(r.data);
                    $('#wf_page_number').empty();
                    $('span#wf_total_rows').html(r.record_count);
                    $('span#pages').html(r.pages);
                    $.each(r.page_no, function(key, value) {
                        $('#wf_page_number')
                            .append($("<option></option>")
                                .attr("value",key)
                                .text(value));
                    });
                    $('#wf_page_number')
                        .append($("<option></option>")
                            .attr("value","all")
                            .text("Show All"));
                    loadingSpinner.hide();

                    if ($(".show_val_col", wf_table).length){
                        $(".valuation_col", frame).show();
                    } else {
                        $(".valuation_col", frame).hide();
                    }

                }
            });
        }
	});


    //select all workflow tickets
    $('#checkall').change(function() {
        var checkboxes = $(this).closest('table').find(':checkbox');
        if($(this).is(':checked')) {
            checkboxes.prop('checked', true);
        } else {
            checkboxes.prop('checked', false);
        }
    });

    //bulk update popup
    $("#wf_bulk_update").on("click", function(){

        var selected = [];
        var steps = [];

        //add id & step for selected items to arrays
        $('input:checked').each(function() {
            selected.push($(this).attr('id'));
            steps.push($(this).attr('class'));
        });

        //function to remove duplicate entries from array
        function unique(list) {
            var result = [];
            $.each(list, function(i, e) {
                if ($.inArray(e, result) == -1) result.push(e);
            });
            return result;
        }
        //remove undefined from array which is added from the check all box
        steps = $.grep(steps,function(n){ return(n) });
        var unique_steps = unique(steps);

        //if all selected wf tickets are on same step display bulk update popup, if not display alert
        if(unique_steps.length > 1){
            alert("Bulk updates can only be preformed on workflow tickets that are currently on the same step");
        }else{
            new popup({
                url: "/pages/workflow/index.php?do=bulk_update_template&id="+selected
            });
        }

    });

    //enable bulk update if more than one check box is selected
    $("#wf_bulk_update").attr("disabled", "disabled");
    $(wf_table).on("click", "input:checkbox", function(){
        if ($("input:checkbox:checked").length > 1) {
            $("#wf_bulk_update").removeAttr("disabled");
        }else{
            $("#wf_bulk_update").attr("disabled", "disabled");
        }
    });


    //refresh workflow table after bulk update, take into account search criteria and page number
    $( wf_table ).bind(
        "refresh_wf",
        function( ){
            loadingSpinner.show();

            if( ($("#filter\\[from_date\\]\\[Y\\]").val() != "" &&  $("#filter\\[to_date\\]\\[Y\\]").val() != "") && $('#adv_btn_hide').css('display') == 'none' ){

                $.ajax({
                    url: '<?= _SELF ?>',
                    type: "GET",
                    data: {
                        get: "quick_search",
                        offset: $('select#wf_page_number').val(),
                        fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
                        td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
                    },
                    dataType: "html",
                    success : function(r){
                        $('#adv_submit').removeAttr('disabled');
                        $('#submit_search').removeAttr('disabled');

                        r = json_decode(r);
                        $('span#wf_total_rows').html(r.record_count);
                        $( "tbody:last", wf_table ).empty();
                        $( ".content", wf_table ).html(r.data);
                        loadingSpinner.hide();
                    }
                });

            }else if($('#adv_btn_hide').css('display') == 'inline-block'){

                $.ajax({
                    url: '<?= _SELF ?>',
                    type: "GET",
                    data: {
                        get: "adv_search",
                        offset: $('select#wf_page_number').val(),
                        priority: $("#priority_is").val(),
                        process: $("#process_select").val(),
                        progress: $("#progress").val(),
                        progress_dept: $("#progress_dept").val(),
                        step: $("#step_select").val(),
                        dealing: $("#deal_with").val(),
                        assigned: $("#ass_to").val(),
                        fd: $("#filter\\[from_date\\]\\[D\\]").val()+"/"+$("#filter\\[from_date\\]\\[M\\]").val()+"/"+$("#filter\\[from_date\\]\\[Y\\]").val(),
                        td: $("#filter\\[to_date\\]\\[D\\]").val()+"/"+$("#filter\\[to_date\\]\\[M\\]").val()+"/"+$("#filter\\[to_date\\]\\[Y\\]").val(),
                        issuer: $("#workflow\\[issuer\\]").val(),
                        partner: $("#workflow\\[partner\\]").val(),
                        practice: $("#workflow\\[practice\\]").val(),
                    },
                    dataType: "html",
                    success : function(r){
                        $('#adv_submit').removeAttr('disabled');
                        $('#submit_search').removeAttr('disabled');

                        if ($("#step_select").val() == 41 || $("#step_select").val() == 193){
                            $("#method-col", frame).show();
                            $("#req_for_col", frame).show();
                        } else {
                            $("#method-col", frame).hide();
                            $("#req_for_col", frame).hide();
                        }

                        r = json_decode(r);
                        $('span#wf_total_rows').html(r.record_count);
                        $( "tbody:last", wf_table ).empty();
                        $( ".content", wf_table ).html(r.data);
                        loadingSpinner.hide();
                    }
                });

            }else{
                $.ajax({
                    url: '<?=Workflow::index_url()?>',
                    type: "GET",
                    data: {
                        get: "list",
                        offset: $('select#wf_page_number').val()
                    },
                    dataType: "html",
                    success : function(r){
                        r = json_decode(r);
                        $('span#wf_total_rows').html(r.record_count);
                        $( ".content", wf_table ).html(r.data);
                        loadingSpinner.hide();
                    }
                });
            }


        }
    );


});
</script>

<div id="<?= _LINK?>" name="<?= _LINK?>">

    <div id="container" class="panel">
        <h1 class="panel_head">Workflow Search</h1>
        <div id="wf_search">
            <p id="quicksearch"><b>Quick Search</b><br/>Date Due: From </b><?= el(new Date(0),"filter[from_date]") ?>
                to <?= el(new Date(0),"filter[to_date]") ?>
                <button id="submit_search">Go</button>
            </p>
            <p>
                <b>Advanced Search</b>
                <button id="adv_btn_show">+</button>
                <button id="adv_btn_hide">-</button>
            </p>

            <div id="toolbarPagination">
                <p>
                    <button onclick="$(function(){ $('#listworkflow').export(); });">
                        <i class="fa fa-table"></i>
                    </button>

                    <button id="wf_bulk_update">Bulk Update</button>
                </p>
                <p>
                    <img id="spinner_pol" name="spinner_pol" class="spinner" src="/lib/images/inline-ajax.gif"/>
                    Total Entries: <span id="wf_total_rows"></span>
                    &nbsp;|&nbsp; Current Page: <select id="wf_page_number" name="wf_page_number"></select>
                </p>
            </div>
        </div>

        <div id="adv_search">
            <p>ID: <input type="text" name="wf_id" id="wf_id"></p>

            <p>Priority is
                <select id="priority_is">
                <option value="">-- Select Priority --</option>
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
                </select>

                <span class="ml-4">
                    Assigned To <span id="assigned_form"></span>
                </span>

            </p>

            <p>Step is <span id="processes"></span> <span id="steps"></span></p>

            <table class="mb-3">
                <tr>
                    <td>Dealing with <select id="deal_with">
                        <option value="">-- Select Option --</option>
                        <option value="Issuer">Issuer</option>
                        <option value="Partner">Partner</option>
                        <option value="Practice">Practice</option>
                    </select></td>
                    <td>
                        <span id="deal_with_issuer">
                            <?=el($wf->issuer)?>
                        </span>
                        <span id="deal_with_partner">
                            <?=el($wf->partner)?>
                        </span>
                        <span id="deal_with_practice">
                            <?php $p = new Practice(); ?>
                            <?=el($p, "workflow[practice]")?>
                        </span>
                    </td>
                </tr>
            </table>

            <p>In progress by (User) <?= User::list_users(true, "id='progress'", null, false, false) ?></p>
            <p>In progress by (Dept) <?= User::allDepartments(true, true, false, "id='progress_dept'", false) ?></p>

            <button id="adv_submit"><i class="fa fa-search"></i> Go</button>

        </div>

        <span id="wf_status">&nbsp;</span>
    </div>

	<div id="workflow" name="workflow" >
		<table id ="listworkflow" name="listworkflow" class="scrollable">
			<thead>
				<tr>
                    <th width="20px"class="no_sort"><input type="checkbox" id="checkall"></th>
					<th width="65px">ID</th>
					<th width="120px">Group</th>
					<th width="120px">Due</th>
					<th width="120px" class="date valuation_col">Requested For</th>
					<th width="160px">Step</th>
                    <th width="160px" class="valuation_col">Method</th>
					<th width="160px">Link</th>
					<th width="200px">Description</th>
					<th width="200px"></th>
				</tr>
			</thead>
			<tbody class='content'></tbody>
		</table>
	</div>

	<p align="right" style="margin:0; margin-top: 3px;">
		<span id="status" name="status">&nbsp;</span>
	</p>
</div>