<style>
    #new_fund_tbl {
        width: 600px;
        height: 150px;
    }
    #new-nb-form .table-responsive {
        width:100%;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="new-nb-form" name="new-nb-fund"  action="<?=Fund::get_common_url(array('do'=>'create'))?>" method="POST">
        <div class="table-responsive">
            <table id='new_fund_tbl' class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th colspan="2">Name </th>
                    <th colspan="2">Sedol</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2"><?= el($fund->name ,false, 'class="form-control"  placeholder="Name"'); ?></td>
                    <td colspan="2"><?= el($fund->sedol,false,'class="form-control" style="width: 99%" placeholder=" SEDOL Code "'); ?><span style="color: grey"> SEDOL Code  e.g. (B3QZ162)</span></td>
                </tr>
                <tr><td colspan="4"><i class="fa fa-circle-o" aria-hidden="true"></i> No duplicate fund names <br>
                    <i class="fa fa-circle-o" aria-hidden="true"></i> No duplicate SEDOL codes <br>
                    <i class="fa fa-circle-o" aria-hidden="true"></i> SEDOL codes must be unique
                </td>
                    <td colspan="4"></td>
                    <td colspan="2"> </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="button" id="create-new-fund"><i class="fa fa-plus"></i> Create</button>
        <span class="create-fund-nb-status"></span>
    </form>
</div>

<script type="text/javascript">
    $(function()  {
        var frame = $('div#<?=_LINK?>');
        var status = $(".fund-nb-status");

        var pop = frame.popup_config({
            title : "Create New Fund ",
            center: true
        });

        $('#create-new-fund').on("click", function () {
            $.ajax({
                url: "/pages/fund",
                type: "GET",
                data: {
                    do: 'create',
                    name: $('input#fund\\[name\\]', frame).val() ,
                    sedol: $('input#fund\\[sedol\\]',frame).val() ,
                    nbid: '<?=$nbid;?>'
                },
                dataType: "json",
                success: function( r ){
                        if(r.error == false){
                            $('span.create-fund-nb-status').text(r.status).addClass('good_news').removeClass('bad_news');
                            $('#create-new-fund').attr('disabled','disabled');
                            $('input#fund\\[name\\]', frame).attr('disabled','disabled');
                            $('input#fund\\[sedol\\]', frame).attr('disabled','disabled');
                        }else{
                            $('span.create-fund-nb-status').text(r.status).removeClass('good_news').addClass('bad_news');
                        }
                }
            });
        });

    });
</script>
