<style>
    .fund-content {
        background-color: #fff;
    }
    .fund-content .nav{
        margin-bottom:10px;
    }

    .fund-content .table-responsive {
        margin-left:1%;
        width:98%;
    }
</style>

<?php if (empty($funds_in) && empty($funds_out)) { ?>

    <div class="alert alert-info" role="alert">
        No funds associated with this new business ticket
    </div>

    <div class="mb-2">
        <button type="button" id="add-fund">
            <i class="fa fa-plus"></i> New Fund
        </button>
        <button type="button" id="add-new-fund">
            <i class="fa fa-plus-circle"></i> Create New Fund
        </button>
    </div>



<?php } else { ?>

    <div class="mb-2">
        <button type="button" id="add-fund">
            <i class="fa fa-plus"></i> New Fund
        </button>
        <button type="button" id="add-new-fund">
            <i class="fa fa-plus-circle"></i> Create New Fund
        </button>

        <?php if (!empty($funds_out)) { ?>
        <button class="export pull-right" onclick="$(function(){ $('#fund_tbl_out').export(); });">
            <i class="fa fa-download"></i> Funds Out
        </button>
        <?php } ?>


        <?php if (!empty($funds_in)) { ?>
        <button class="export pull-right" onclick="$(function(){ $('#fund_tbl_in').export(); });">
            <i class="fa fa-download"></i> Funds in
        </button>
        <?php } ?>
    </div>

    <div class="fund-content">

        <ul class="nav nav-tabs" id="nbFundTab" role="tablist">
            <?php if (!empty($funds_in)) { ?>
            <li class="nav-item">
                <a class="nav-link active" id="nb-funds-in-tab" data-toggle="tab" href="#nb-funds-in" role="tab" aria-controls="nb-funds-in" aria-selected="true">Funds In</a>
            </li>
            <?php } ?>
            <?php if (!empty($funds_out)) { ?>
                <li class="nav-item">
                    <a class="nav-link  <?php if (empty($funds_in)) { echo 'active'; } ?>" id="nb-funds-out-tab" data-toggle="tab" href="#nb-funds-out" role="tab" aria-controls="nb-funds-out" aria-selected="false">Funds Out</a>
                </li>
            <?php } ?>
        </ul>

        <?php if (!empty($funds_in)) { ?>
        <div class="tab-content" id="nbFundTabContent">
            <div class="tab-pane fade show active" id="nb-funds-in" role="tabpanel" aria-labelledby="nb-funds-in-tab">
                <div class="table-responsive">
                    <table id='fund_tbl_in' class="table table-striped table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Sedol</th>
                            <th>Direction</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($funds_in as $key => $fund) {?>
                        <tr>
                            <td><?= $fund['name']; ?></td>
                            <td><?= $fund['sedol']; ?></td>
                            <td><?= $fund['direction']; ?></td>
                            <td><button type="button" class="remove" data-mapid="<?= $fund['fund_nb_map_id']; ?>"><i class="fa fa-trash"></i></button></td>
                        </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
        <?php } ?>
            <?php if (!empty($funds_out)) { ?>
                <div class="tab-pane fade <?php if (empty($funds_in)) { echo 'show active'; } ?>" id="nb-funds-out" role="tabpanel" aria-labelledby="nb-funds-out-tab">
                    <div class="table-responsive">
                        <table id='fund_tbl_out' class="table table-striped table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Sedol</th>
                                <th>Direction</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php foreach ($funds_out as $key => $fund) {?>
                            <tr>
                                <td><?= $fund['name']; ?></td>
                                <td><?= $fund['sedol']; ?></td>
                                <td><?= $fund['direction']; ?></td>
                                <td><button type="button" class="remove" data-mapid="<?= $fund['fund_nb_map_id']; ?>"><i class="fa fa-trash"></i></button></td>
                            </tr>
                            <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            <?php } ?>
        </div>
    </div>
<?php } ?>

<script>
    $(function () {

        var active_frame = $("#active");
        var archive_frame = $("#archived");

        $('#add-fund').on("click", function () {
            new popup({
                url: "/pages/fund?do=newfund&nbid=<?=$nbid;?>",
                title : "New Fund",
                center: true
            });
        });

        $('#add-new-fund').on("click", function () {
            new popup({
                url: "/pages/fund?do=get_create_form&nbid=<?=$nbid;?>",
                title : "New Fund",
                center: true
            });
        });


        $('.remove').on("click", function () {
            var id = $(this).data('mapid');
            if (confirm("Please confirm you wish to delete fund from this new business ticket")) {
                $.get("<?=FundMap::get_common_url()?>",{id: id, do: "delete"}, function( ){
                    // refresh table
                    $("div#fundTab").load('/pages/fund/index.php?do=getfunds&id=<?=$nbid?>');
                });
            }
        });

    });
</script>