<?php $policy = new Policy($_GET['policy'],true); ?>

<script type="text/javascript">
$(function( )
	{
		$('input#newbusiness\\[typeOfNB\\]').attr({ maxLength : 50 });
	
        var frame = $('div#<?=_LINK?>');
        var newform = $("form#new-nb-form",frame);
        var typeofNBdefault = $(".typeofnb-input").html();
        
        var pop = frame.popup_config({
            title: "Add New Business Case",
            center: true
        });
        
        saveProfileStatusSpan( newform );
		
		$(newform).bind(
			"successfulSave",
				function(){
					// refresh NB plugin after NB case added
					$("table#nb_plugin").trigger("load_newbusiness");
					// refresh policy search table to show any updated values & NB bubbles
					$("button#search-policy").click();
				}
		);

		$("#newbusiness\\[type\\]", frame).on("change", function(){
		    if ($(this).val() == 4){
		        $(".typeofnb-input").html("<?= $newbusiness->adviceDropdown(); ?>");
            } else {
		        $(".typeofnb-input").html(typeofNBdefault);
            }
        })

    });

</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <form id="new-nb-form" name="new-nb-form" action="<?=NewBusiness::get_common_url(array('do'=>'create'))?>" method="POST">
        <div class="panel">
            <table>
                <tbody>
                    <?php if ($policy->has_charging()) {?>
                        <div class='notification info static' style='display:block;'><strong>Policy has AC setup at <?= $policy->has_charging() ?>%.</strong></div>
                    <?php } ?>
                    <tr>
                        <th width='100px'>Type</th>
                        <td><?= $newbusiness -> type -> toElement(false,false,false,false,DatabaseObject::ELEMENT_DROPDOWN) ?></td>
                    </tr>
                    <?php
                        foreach( $newbusiness->get_policy_fields() as $pf ){
                    ?>
                    <tr>
                        <th><?= $pf->display_name() ?></th>
                        <td><?= el($pf) ?></td>
                    </tr>
                    <?php
                        }
                    ?>
                    <tr>
                        <th>Registered User</th>
                        <td><?= el($newbusiness->registeredUser) ?></td>
                    </tr>
                    <tr>
                        <th>Type of NB</th>
                        <td class="typeofnb-input"><?= el($newbusiness->typeOfNB) ?></td>
                    </tr>
                    <tr>
                        <th>NB Brand</th>
                        <td><?= el($newbusiness->nb_brand) ?></td>
                    </tr>
                    <tr>
                       <th>Replacement?</th>
                       <td><?= el($newbusiness->replacement) ?></td>
                    </tr>
                    <tr>
                        <th>Case Type</th>
                        <td><?= el($newbusiness->case_type) ?></td>
                    </tr>
                    <tr>
                        <th>Case Checker</th>
                        <td><?= $newbusiness->case_checker_drop() ?></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <?= el::hide($newbusiness->policy->get_html_id(),$_GET["policy"]) ?>
        <?= el::hide($newbusiness->status->get_html_id(),1) ?>
      
        <input type="submit" value="Add"/>
        <span class="status"></span>
	</form>
</div>
