<style>
    #new_fund_tbl {
        width: 600px;
        height: 150px;
    }
    #new-nb-form .table-responsive {
        width:100%;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="new-nb-form" name="new-nb-fund">
        <div class="table-responsive">
            <table id='new_fund_tbl' class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th colspan="2">Name | Sedol</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?= el::suggest("name", Fund::index_url(), "search", false, false); ?></td>
                        <td>
                            <div class="form-group">
                                <label for="fund_direction">Fund direction</label>
                                <select id="fund_direction" name="fund_direction">
                                    <option value="in">IN</option>
                                    <option value="out">OUT</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      
        <button type="button" id="add-mapping"><i class="fa fa-plus"></i> Add</button>
        <span class="fund-nb-status"></span>
	</form>
</div>

<script type="text/javascript">
    $(function()  {
        var frame = $('div#<?=_LINK?>');
        var status = $(".fund-nb-status");

        var pop = frame.popup_config({
            title : "New Fund",
            center: true
        });

        $("#add-mapping", frame).on("click", function () {
            status.html("").removeClass('bad_news');
            var fund_id = $('#name', frame).val();
            var fund_direction = $('#fund_direction', frame).val();

            if (fund_id) {
                $.get("pages/fund/index.php?do=addMapping&nbid=<?=$nbid;?>&fund_id="+fund_id+"&fund_direction="+fund_direction, function(r){
                        r = json_decode(r);
                        if (r.status) {
                            status.html(r.status);
                            (r.error) ? status.addClass('bad_news') : status.addClass('good_news');
                            // refresh table
                            $("#funds").load('/pages/fund/index.php?do=getfunds&id=<?=$nbid?>');
                        }
                    }
                );
            } else {
               status.html("Please ensure a fund has been selected").addClass('bad_news');
            }

        });
    });
</script>
