<?php
define("NB_PLUGIN",random_string(10));
$nb_object = new $object($id,true);
?>
<style type="text/css">
#<?=NB_PLUGIN?>{
	width:100%;
}
table#nb_plugin td{
	text-align:left;
}
</style>
<script type="text/javascript">
    $(function () {

        var frame = $("#<?=NB_PLUGIN?>");
        var table = $("table#nb_plugin", frame);
        var status = $("span#nb_status", frame);
        var loadingNBSpinner = $("img#spinner_nb", frame);

        table.bind("onshow", function () {
            $(table).bind("load_newbusiness", function () {
                $.get("<?=NewBusiness::index_url()?>", {
                        'do': "plugin",
                        'plugin': true,
                        'id': '<?=$id;?>',
                        'object': '<?=$object;?>'
                    }, function (r) {
                        $(".content", table).html(r);
                        loadingNBSpinner.hide();
                        var nb_count = $(".content tr", table).length;
                        if (nb_count >= 1) {
                            $(status).html("New Business Cases Found: " + nb_count).removeClass().addClass("good_news");
                        } else {
                            $(status).html("No New Business Cases Found").removeClass().addClass("bad_news");
                        }
                    }
                );
            });
            $(table).trigger("load_newbusiness");
        });

        //Needed due to bootstrap tabs being used, tabs no longer have the same structure as before which affects lazy loading
        $(".nb-tab").each(function(){
            $(this).click(function(){
				table.addClass("has_onshow");
				table.trigger("onshow");
            });
        });

    });
</script>
<div id="<?=NB_PLUGIN?>" name="<?=NB_PLUGIN?>" class="has_onshow">

	<p>
		<b>New Business Cases For:</b> <?=$nb_object?>
		<button onclick="$(function(){ $('#nb_plugin').export(); });"><img src='<?= el::image("table_go.png")?>' /></button>
		<button onclick="$(function(){ $('#nb_plugin').print(); });"><img src='<?= el::image("printer.png")?>' /></button>
		<img id="spinner_nb" name="spinner_nb" src="/lib/images/inline-ajax.gif"/>
		<span id="nb_status" name="nb_status" style="float:right;padding-top:5px;">&nbsp;</span>
	</p>

	<table id="nb_plugin" name="nb_plugin" class="scrollable">
		<thead>
			<tr>
				<th width="200px">ID</th>
				<th>Type</th>
				<th>Status</th>
				<?php if ($object == "partner") { ?>
					<th width='150px'>Client</th>
				<?php } ?>
				<th>Adviser</th>
				<th>Type of NB</th>
				<th class="date">Added</th>
				<th>Latest</th>
			</tr>
		</thead>
		<tbody class="content">
		</tbody>
	</table>

</div>