<tr>
	<td><?= $item -> link() ?></td>
    <td><?= $item -> type  ?></td>
    <td><?= $item -> status ?></td>
    <td><?= $item -> registeredUser ?></td>
    <td><?= $item -> typeOfNB ?></td>
    <td><?= $item -> addedwhen  ?></td>
</tr>
