<?php $nb = $newbusiness; // alias ?>
<tr id="<?=$nb->id?>">
	<td width= "80px" class="nb"><?= $nb->link('$id') ?></td>
    <td><?= $nb->type ?></td>
    <td><?= $nb->{$date_field}?> &nbsp;</td>
	<td class="nb"><?= $nb->registeredUser ?></td>
    <td class="policy"><?= $nb->policy->link() ?></td>
	<td class="issuer"><?= truncate( $nb->policy->issuer->link(), 25 )  ?></td>  
	<td class="client"><?= $nb->policy->client->link('$one->surname') ?></td>
	<td class="partner"><?= $nb->policy->client->partner->link('$surname ($id)') ?></td>
    <td class="nb"><?= truncate( $nb->lastNote()->text, 25) ?></td>

    <?php

    if (UsersGroups::check_user_group('3') || UsersGroups::check_user_group('7') ||
            in_array(User::get_default_instance('department'), [3, 16]) || User::get_default_instance('department') == 7) {
        echo  '<td> <button id= "'.$nb->id.'" class="delete" ></button></td><td>';
    }

    ($wf = $nb ->outstanding_workflow(8))
    ? el::bt( "<img src=".el::image('wf.png')." alt='workf'>",false, "href='".$wf->get_common_url(array('id'=>$wf->id(),'get'=>'profile'))."' class='workflow'" )
    : "&nbsp;"

    ?></td>
</tr>

