<script type="text/javascript">
$(function( ){

    var frame = $('div#<?=_LINK?>');

    var pop = frame.popup_config({
        title: "Tracking List",
        center: true
    });

});
</script>
<style type="text/css">
#tracking_list{
    width: 1300px;
}
div#<?=_LINK?>{
    min-height:300px;
}
</style>
<div id="<?=_LINK?>" name="<?=_LINK?>">
    <table id="tracking_list" class="scrollable ">
        <thead>
            <tr>
                <th width="100px">New Business ID</th>
                <th width="100px">Type</th>
                <th width="100px">Date Added</th>
                <th>Owner</th>
                <th>Policy</th>
                <th>Issuer</th>
                <th>Client</th>
                <th>Partner</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody class="content">
            <?php foreach($nbID as $id){ ?>
            <?php $nb = new NewBusiness($id, true); ?>
            <?php $owner= new User($nb->registeredUser(), true); ?>
            <?php $type= new NewBusinessType($nb->type(), true); ?>
            <tr>
                <td><?= $nb->link(); ?></td>
                <td><?= $type->name; ?></td>
                <td><?= date("d/m/Y", $nb->addedwhen()); ?></td>
                <td><?= $owner; ?></td>
                <td><?= $nb->policy->link(); ?></td>
                <td><?= $nb->policy->issuer->link(); ?></td>
                <td><?= $nb->policy->client->link(); ?></td>
                <td><?= $nb->policy->client->partner->link(); ?></td>
                <td><?= substr($nb->notes(),0,50); ?></td>
            </tr>
        <?php } ?>
        </tbody>
    </table>

</div>
