<script type="text/javascript">

    var frame = $("div#<?=_LINK?>");
    var spinner = $("img#spinner",frame);
    var button_assign = $( "button#assign",frame);
    var banks_tbl = $("table#bankentries",frame);

    function get_bankentries(){
        $("tbody.content",banks_tbl).load("<?= _SELF ?>?get=bankentries&mnth="+$('select#month').val(),function(){
            $(spinner).hide();
            $("select option[value='62']", frame).prop('disabled', true);
            $("div#<?=_LINK?> form#updates select").change(function(){
                $(this).addClass("updated");
            });
        });
    }

$( function( ){
    $("select#month").change(function(){
        get_bankentries();
    });
    
    //submit the form to assign
    $( button_assign ).click(function( ){
    
        $(spinner).show();
        $(this).attr("disabled","disabled");
        
        var seridata = $("div#<?=_LINK?> form#updates select.updated").serialize();
        $.post("<?= _SELF ?>?do=assign", seridata,function(r){
            r = json_decode(r);
            if(!r.status ){
                $("span#message").html(r.error[0]);
                $(button_assign).removeAttr("disabled");
            }
            else{
                $(spinner).hide();
                $("span#message").html("Bank entries have now been assigned");
                $(button_assign).removeAttr("disabled");
            }
        });
    });
    
    get_bankentries();
    
});
</script> <style type="text/css">
#<?=_LINK?> .scrollable div.scroll {
    height: 500px;
}
</style>
<div id="<?=_LINK?>" name="<?=_LINK?>">
<?php
    $now = \Carbon\Carbon::now()->startOfMonth();
	$last_month = "selected"; $this_month = ""; if(date("d")>17){
		$last_month = "";
		$this_month = "selected";
	}
?>
    <select id="month" name="month">
        <option id="<?= $now->copy()->subMonth()->format('Y-m') ?>" value="<?= $now->copy()->subMonth()->format('Y-m') ?>" <?=$last_month?>><?= $now->copy()->subMonth()->localeMonth ?></option>
        <option id="<?= $now->format('Y-m') ?>" value="<?= $now->format('Y-m') ?>" <?=$this_month?>><?= $now->localeMonth ?></option>
        <option id="<?= $now->copy()->addMonth()->format('Y-m') ?>" value="<?= $now->copy()->addMonth()->format('Y-m') ?>"><?= $now->copy()->addMonth()->localeMonth ?></option>
    </select>
    <button id="assign">Assign</button>
    <button onclick="$(function(){ $('#bankentries').export(); });"><img src='<?= el::image("table_go.png")?>' /></button>
    <img id="spinner" name="spinner" src="<?= el::image("inline-ajax.gif")?>" alt="loader"/>
    <span id="message" name="message"></span>
    <form id="updates" name="updates" action="<?= _SELF ?>?do=assign" method="post">
        <table id="bankentries" name="bankentries" class="scrollable">
            <thead>
                <th>Bank ID</th>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Assigned To</th>
            </thead>
            <tbody class="content">
            </tbody>
        </table>
    </form>
</div>
