<tr>
  <td><?= $ba->link($ba->id) ?></td>
  <td><?= "$ba->date" ?></td>
  <td><?= "$ba->reference" ?></td>
  <td><?= "$ba->amount" ?></td>
  <td><?= $ba->assigned_to->toElement("$ba->id")?></td>
</tr>
