<style type="text/css">
    #<?=_LINK?>{
        width: 400px;
    }
</style>

<script type="text/javascript">
    $(
        function( ){

            var frame = $( "div#<?=_LINK?>" );

            frame.popup_config({
                title: "<?= $upload ? 'Upload Statement ' : 'Batch Coversheet ' ?> <?=$batch->id()?>",
                center:true
            });

            // Allow user to print all/selected batch coversheets
            $("#submitbtn", frame).on("click", function(e){

                if(confirm("Have all entries had VAT applied where applicable?")){
                    e.preventDefault();
                    e.stopPropagation();

                    $("#batch-form", frame)[0].submit();

                    $(this).after("<br><span class='text-success'>Your batch scan will be prepared in another tab and automatically added to myPSaccount</span>");
                }

            });

        }
    );
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="batch-form" name="batch-form" enctype="multipart/form-data" method="POST" target="_BLANK" action="/pages/batch/?do=print_coversheet&id=<?= $batch->id() ?>">
        <table id="coversheet_tbl">
            <?php if($upload): ?>
            <tr>
                <th>Statement</th>
                <td>
                    <input type="file" id="batch_statement" name="statement" accept=".pdf">
                </td>
            </tr>
            <?php endif; ?>
            <tr>
                <th>Income</th>
                <td><input type="text" id="ac_comm" name="ac_comm"/></td>
            </tr>
            <tr>
                <th>Process Method</th>
                <td>
                    <select id="process_method" name="process_method">
                        <option id="0" name="0">--</option>
                        <option id="dataflow" name="dataflow">Dataflow</option>
                        <option id="edi" name="edi">EDI</option>
                        <option id="manual" name="manual">Manual</option>
                        <option id="other" name="other">Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>VAT (Yes / No)</th>
                <td>
                    <select id="vat_select" name="vat">
                        <option id="0" name="0">--</option>
                        <option id="yes" name="yes">Yes</option>
                        <option id="no" name="no">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Processed By</th>
                <td>
                    <select id="processed_by" name="processed_by">
                        <option id="0" name="0">--</option>
                        <?=$staff;?>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Notes</th>
                <td><textarea id="notes" rows="5" cols="22" name="notes"></textarea></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><button id="submitbtn"><?= $upload ? 'Upload' : 'Print' ?></button></td>
            </tr>
        </table>
    </form>

</div>



