<tr>
  <td><?= $batch->link('$id') ?></td>
  <td><?= $batch->issuer->link() ?></td>
  <td class="target"><?= $batch->target ?></td>
  <td align="center"><?= el($batch->balanced) ?></td>
  <td align="center"><?= el($batch->comm_or_not) ?></td>
  <td align="right">
    <button class='delete' value="<?=$batch->id()?>"></button>
    <button class="print" value="<?=$batch->id()?>"><img src="<?=el::image("printer.png")?>"/></button>
  </td>
</tr>
