<?php
if (!array_key_exists("bank",$_GET) || !intval($_GET["bank"])) {
    trigger_error( __FILE__ . " requires valid \$_GET[bank] (int) param, got '$_GET[bank]'", E_USER_ERROR );
}
$batch->bank( $_GET["bank"] );
?>
<style type="text/css">
#new-batch-form table {
    width: 800px;
    margin: 5px;
}
#new-batch-form div.suggest {
    width: 100%;
}
</style>

<script type="text/javascript">
    $(function () {

        var form = $("form#new-batch-form");

        form.popup_config({
            title: "Add New Batch",
            center: true
        });

        saveProfileStatusSpan(form);

        // $("#batch-submit", form).on("mouseenter", function () {
        //     if (!$("#batch\\[target\\]").val()) {
        //         $(".status", form).html("Please ensure a batch total has been entered.").addClass('bad_news');
        //         return false;
        //     } else {
        //         $(".status", form).html("").removeClass('bad_news');
        //         saveProfileStatusSpan(form);
        //     }
        // });
    });
</script>

<form id="new-batch-form" name="new-batch-form" method="POST" action="<?=$_SERVER['REQUEST_URI']?>">

    <table class="table">
        <tr>
            <th width="120px">Issuer</th>
            <td><?=el($batch->issuer)?></td>
        </tr>
        <tr>
            <th>Target</th>
            <td><?=el($batch->target,false,"autocomplete='off'")?></td>
            <th>Is Income</th>
            <td align="left"><?= el($batch->comm_or_not) ?></td>
        </tr>
        <?php if($batch->showPre30()): ?>
            <tr>
                <th>Date Period (From)</th>
                <td align="left"><?= el($batch->date_period_from) ?></td>
                <th>Date Period (to)</th>
                <td align="left"><?= el($batch->date_period_to) ?></td>
            </tr>
            <tr>
                <th>Pre 31st March (Amount)</th>
                <td align="left"><?= el($batch->pre_30_april) ?></td>
                <th>Post 31st March (Amount)</th>
                <td align="left"><?= el($batch->post_30_april) ?></td>
            </tr>
        <?php endif; ?>
    </table>

    <p align="right">
        <span class="status"></span>
        <!--<button id="batch-submit" type="submit">Submit</button>-->
        <input type="submit" value="Submit" />
    </p>

<?=el::hide($batch->bank->get_html_id(),$batch->bank())?>

</form>


            
