<script type="text/javascript">
$(function(){

    var frame = $("#<?=_LINK?>");
    var form = $("form",frame);
    var table = $( "table#amount-search-results", frame );

    frame.popup_config({
        title: "Batch <?=$batch->id()?>",
        center: true
    });

    //show cross when value = false
    if ( "<?=$batch->balanced->value?>" == 0 ) {
        $("#batch\\[balanced\\]", frame).attr("value", 0);
    }

    $("div#notes_box", frame)
    .load('/pages/tools/notes/?do=list&object=Batch&object_id=<?= $batch->id() ?>');

    //check for batch scan
    $("div#scan_notification", frame).load('/pages/batch/?id=<?= $batch->id() ?>&do=scan_check');

    // Ensure Provider suggest doesnt appear behind bank entry suggest on profile
    $(".suggest", frame).css( "z-index", "28" );
    $("div.suggest:first", frame).css( "z-index", "29" );


    $("button#add-entry",frame).click(
        function( ){
            p = new popup({
                url: "/pages/pipelineentry/new.php?entry=true&batch_id=<?=$batch->id()?>",
                triggers: {
                    entryAdded: function(){
                        loadCommissionEntries(); // loadCommissionEntries ??? - Needs to be call to commission plugin 'getCommissionList'
                    }
                }
            });
        });

    $("input#dataflow", frame).click(function () {

        var n = new ProphetNotification({
            type: "info",
            text: " Opening Income Scan Holding Folder",
            timeout: 2000
        });

		$("<applet code=\"LaunchDirectory.class\" archive=\"/core/lib/applets/LaunchDirectory.jar?<?=random_string(5)?>=1?>\" width=\"0\" height=\"0\">"+
		"<param name=\"client_id\" value=\"<?= ($client->id) ?? '' ?>\" />"+
		"<param name=\"path\" value=\"\\\\TERRY2\\share\\psfiles\\CommissionScanholdingFolder\\\" />"+
		"</applet>")
		.appendTo( n );
	});

    table.xhr = null;

	$(frame).on( "click", "button#amount_search", function( ){
		
		$(".content tr",table).remove();
		
        $.ajax({
            url: "pages/commission/index.php?do=amount_search",
            type: "GET",
            data: {
                type: "json",
                batch: "<?=$batch->id()?>",
                amount: $("#amount-search-form #search").val().replace("£", "").replace(/,/g, '').replace(/ /g,'')
            },
            dataType: "json",
            success: function( r ){
                $(".content",table).html( r );
            }
        });
			
	});
		
    // Allow single pipline entry to be deleted - button only visible to commission group members
    $(table).on("click", ":button.delete",
        function( ){
            var rowid = $(this).closest('tr').attr('id');
            if( confirm( "Are you sure you would like to delete entry "+rowid+", with amount £"+this.name+"?" ) ){
                $.get(
                    "<?=PipelineEntry::get_common_url()?>",{
                        id : rowid,
                        do: "delete"
                    },
                    function( ){
                        $("tr#"+rowid, table).remove();
                    }
                );
            }
        }
    );

    // Show user popup where they can fill in details for batch coversheets
    $("button#print-sel-batch").click(
        function( ){
            var id = "<?=$batch->id()?>";
            new popup({
                url: "/pages/batch/index.php?do=coversheet_form&id="+id
            });
    });

    // Allow user to print all/selected batch coversheets
    $("button#print-sel").click( function( ){
        var batch_ids = [];
        batch_ids.push("<?=$batch->id()?>");

        var jasperReport = "batch";

        // Make parameter data object
        var data = {};
        data['batches'] = "("+batch_ids.join(",")+")";
        data = JSON.stringify(data);

        var w = window.open("/pages/report/index.php?do=runReport&report_name="+jasperReport+"&data="+ encodeURIComponent(data));
        //when new window is loaded, open print dialog
        w.onload = function () {
            w.print();
        };
    });

    // View batch scan
    $( "button#view-scan").click(function() {
        window.open("/pages/batch/?do=view&id=<?=$batch->id?>");
    });

    $(document).ready(function() {
        window.batch_only = "batchOnly";
        setTimeout(function() {
            window.batch_only = "notBatch";
        }, 2000);
    });
		
    $( table ).on( "click", ":button.update",
        function( ){
            new popup({
                url: "/pages/pipelineentry/index.php?do=update&id="+this.id
            });
        }
    );

    table.bind({
        reloadSearch: function(){
            $("#amount_search").trigger("click");
        }
    });

    saveProfileNotification(form);
});
</script>

<style type="text/css">
	#<?=_LINK?> {
		width: 1200px;
	}
	#<?=_LINK?> table#stats td {
		padding-bottom: 5px;
	}
	#<?=_LINK?> table.scrollable div.scroll{
		font-size: 9pt;
		/*text-align: center;*/
		height: 200px;
	}
	#<?=_LINK?> div.suggest {
		width: 100%;
	}
	#<?=_LINK?> tr.deletion td {
		background: #FFCFCF;
	}

	#<?=_LINK?> div#notes_box{
		width: 100%;
		height: 300px;
		padding: 5px 0 5px 5px;
		overflow-y: scroll;
	}
	#<?=_LINK?> #commission tr td{
		padding: 5px 0;
	}
	#<?=_LINK?> #commission tr:nth-child(2n){
			background-color: #efefef;
		}

</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div id="scan_notification" name="scan_notification"></div>

	<div class="mt-3">
		<form action="<?=Batch::get_common_url(array('id'=>$batch->id(),'do'=>"save"))?>" method="POST">
			<div class="row no-gutters">
				<div class="col-5">
					<div class="row no-gutters">
						<div class="col-4 mb-3">
							<strong>Target</strong>
						</div>
						<div class="col-8">
							<?=el($batch->target)?>
						</div>

						<div class="col-4 mb-3">
							<strong>Provider</strong>
						</div>
						<div class="col-8">
							<?=el($batch->issuer)?>
						</div>

						<div class="col-4 mb-3">
							<strong>Date period from</strong>
						</div>
						<div class="col-8">
							<?=el($batch->date_period_from)?>
						</div>
						<div class="col-4 mb-3">
							<strong>Date period to</strong>
						</div>
						<div class="col-8">
							<?=el($batch->date_period_to)?>
						</div>
					</div>
				</div>
				<div class="col-5 offset-1">
					<div class="row no-gutters">
						<div class="col-4 mb-3">
							<strong>Bank Entry</strong>
						</div>
						<div class="col-8" id="bank_entry">
							<?=el($batch->bank)?>
						</div>


						<div class="col-6">
							<div class="row no-gutters">
								<div class="col-8">
									<strong>Balanced</strong>
								</div>
								<div class="col-4">
									<?= el($batch->balanced) ?>
								</div>
							</div>
						</div>

						<div class="col-6 mb-2">
							<div class="row no-gutters">
								<div class="col-8">
									<strong>Is Income</strong>
								</div>
								<div class="col-4">
									<?= el($batch->comm_or_not) ?>
								</div>
							</div>
						</div>

						<div class="col-4 mb-3">
							<strong>Pre 31st March (Amount)</strong>
						</div>
						<div class="col-8">
							<?=el($batch->pre_30_april)?>
						</div>
						<div class="col-4 mb-3">
							<strong>Post 31st March (Amount)</strong>
						</div>
						<div class="col-8">
							<?=el($batch->post_30_april)?>
						</div>



					</div>
				</div>
			</div>
		</form>
	</div>

	<br />

	<div>

		<ul class="nav nav-tabs mb-3">
			<li class="nav-item">
				<a class="nav-link active income-tab" data-toggle="tab" href="#<?=_LINK?>income">Income</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>search">Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>history">History</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>notes">Notes</a>
			</li>
		</ul>

		<div class="tab-content">

			<div class="tab-pane fade show active" id="<?=_LINK?>income">
				<?=el::bt("Add Entry","add-entry","class='add'")?>
				<input type="button" id="dataflow" name="dataflow" value="Dataflow" onClick="window.open('https://hpv.ifadataflow.co.uk/')" />
				<button id="print-sel-batch" name="print-sel-batch">Print Coversheet</button>
				<button id="view-scan" name="view-scan">View Batch Scan</button>
				<?= Template( Commission::get_template_path("plugin.html"), array( "property"=>"batch", "id"=>$batch->id(), "excludes"=>array("batch","issuer") ) ) ?>
			</div>

			<div class="tab-pane fade" id="<?=_LINK?>search">
				<form style="display:inline;" id="amount-search-form" name="amount-search-form" method="get">
					<?= el::txt( "search",false,"placeholder='Amount'" ) ?>
					<?= el::bt( "Go","amount_search" ) ?>
				</form>

				<table id='amount-search-results' name= 'amount-search-results' class="scrollable">
					<thead>
						<tr>
							<th class="date" width="7%">Date</th>
							<th class="groupable" width="15%">Client</th>
							<th class="groupable" width="15%">Policy</th>
							<th class="groupable" width="15%">Issuer</th>
							<th class="groupable">Type</th>
							<th class="groupable" width="15%">Partner</th>
							<th class="currency">Amount</th>
							<th class="groupable percentage" width="75px">Rate</th>
							<th class="currency">Share</th>
							<th class="no_sort">Action</th>
						</tr>
					</thead>
					<tfoot>
					</tfoot>
					<tbody class="content">
					</tbody>
				</table>

			</div>

			<div class="tab-pane fade" id="<?=_LINK?>history">
				<?= LocalLog::get_template("plugin.html",array( "object"=>"Batch","id"=>$batch->id() )) ?>
			</div>

			<div class="tab-pane fade" id="<?=_LINK?>notes">
				<div id="notes_box" name="notes_box"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("div#<?= _LINK?> table#commission").trigger("onshow");
</script>