<style type="text/css">
ul.notes_box {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.notes_box > li {
    border-style: solid;
    border-width: 0 0 1px 5px;
    border-color: #7DC75F;
    margin-bottom: 5px;
    padding: 3px 3px 3px 5px;
}
ul.notes_box > li > div {
    font-size: .9rem;
    margin-top: 5px;
    color: #999;
}

li > ul {
    margin-left: 10px;
}

#noteSubject::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  content:"Subject";
}
</style>

<ul class="notes_box">
  <?= $content ?>
</ul>

