<?php
$type = Notes::get_types();
$note_types = implode(',',$type);

if (in_array($note['object'], $type)) {
    $objtype = $note['object'];
	$obj = new $objtype($note['object_id'], true);
}

$parent = Notes::get_parent($note['id']);
?>

<tr>
	<td><?= $note['id'] ?></td>
	<td><?= $note['object'] ?></td>
	<td><?= $obj->link($obj->id->__toString(), $note['object_id'])?></td>
	<td><?php if ($note['added_when'] != 0){ echo date('H:i  d/m/Y',$note['added_when']); }else {echo "n/a";}?></td>
	<td>
		<?php if ( $note['note_type'] == 'phone') { ?>
			<img id='phone' src='/lib/images/phone_16.png'/>&nbsp; Phonecall
        <?php } else if ( $note['note_type'] == 'email' ) { ?>
			<img id='email' src='/lib/images/email_16.png'/>&nbsp; Email
        <?php } else if ( $note['note_type'] == 'meet' ) { ?>
			<img id='meet' src='/lib/images/meet_16.png'/>&nbsp; Meeting
        <?php } else if ( $note['note_type'] == 'vunerable' ) { ?>
            <img id='vunerable' src='/lib/images/vunerable_16.png'/>&nbsp; Vunerable Client
        <?php } else if ( $note['note_type'] == 'other' ) { ?>
        <img id='other' src='/lib/images/other_16.png'/>&nbsp; Other
        <?php } else { ?>
			<img id='meet' src='/lib/images/note_16.png'/>&nbsp; Note
		<?php } ?>
	</td>
	<td>
		<?php if ( $parent === 'true') { ?>
			<img id='tick' src='/lib/images/tick.png'/>
        <?php } else { ?>
			<img id='cross' src='/lib/images/cross.png'/>
        <?php } ?>
	</td>
</tr>
<tr>
	<td colspan="6">
        <?= str_replace(utf8_decode("£"),"&pound;",$note['text']); ?>
    </td>
</tr>