<?php

$u = new User();

?>

<style type="text/css">
    .modal-note-main {
        padding-bottom: 50px;
        background: #fff;
    }
    .subject_placeholder {
        opacity: 0.5;
        color: #a6a6a6 !important;
    }
    .notes-icon img{
        padding-right:10px;
    }
    .note-subject-modal {
        float:left;
        font-weight:bold;
        margin: -2px 0 2px 0;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
    }
    .modal-note-body {
        padding-bottom: 5px;
    }
    .note-body-modal {
        border-bottom: 1px solid grey;
        padding-bottom: 5px;
    }
    .modal-note-footer {
        clear:both;
    }
    ul.notes-modal li.child-note {
        padding: 0 0 0 20px !important;
        margin-top: -10px !important;
    }
    .modal-note-footer #added_details {
        margin-right:20px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=$note->id; ?>");

        $(".tag-note", frame).on("click", function(){
            $(".modal-note-tagged", frame).show();
            $(".notes-tag-users", frame).show();
        });

        $(".notes-tag-users", frame).on("change", function(){
            var user  = $(this).val();

            $.ajax({
                url: "/pages/tools/notes/?do=tag-user",
                type: "GET",
                data: {
                    note: "<?= $note->id; ?>",
                    user: user
                },
                dataType: "JSON",
                success: function(response) {
                    if (response.success){
                        $(".modal-note-tagged", frame).show();
                        $(".modal-note-tagged .tagged-users", frame).append(" " + response.data);

                        $(".modal-note-tagged .tagged-users option:selected", frame).removeAttr("selected");
                        $(".modal-note-tagged .tagged-users option:first", frame).attr("selected", true);
                    } else {
                        alert(response.data);
                    }
                }
            });
        });

        $(".convert_myps_note", frame).on("click", function(){
            if (confirm("Adding this note to myPSaccount will make it visible to the partner. Continue?")){
                $.ajax({
                    url: "/pages/mypsnotes/?do=convert_note",
                    type: "GET",
                    data: {
                        note: "<?= $note->id; ?>",
                    },
                    dataType: "JSON",
                    success: function(response) {
                        if(response.success){
                            alert("Note converted to myPSnote!");
                            window.loadMypsNotes();
                        } else {
                            alert(response.data);
                        }
                    }
                })
            }
        })
    });
</script>

<li id="<?=$note->id?>" class="<?= (isset($note->parent_id)) ? 'child-note' : ''; ?>">

    <div class="modal-note-main">
        <div class="modal-note-header clearfix">

            <div class="notes-icon pull-left">
                <?php if ($note->note_type == "compliance") {
                    echo "<img src='../../../lib/images/tick.png' alt='".$note->note_type."'>";
                } else {
                    echo "<img src='../../../lib/images/".$note->note_type."_16.png' alt='".$note->note_type."'>";
                }
                ?>
            </div>

            <div class="note-subject-modal" title="<?= $note->subject ?>" contenteditable="true" data-id="<?=$note->id?>">
                <?= ($note->subject) ? preg_replace("/[\n\r]/","",$note->subject) : 'Enter Subject..'; ?>
            </div>

            <div class="modal-note-footer">
                <div class="right">
                    <?php if( $note->is_locked == 0 ) { ?>
                        <?= el::bt( "<i class='fa fa-trash btn-outline-danger' title='Delete Note'></i>", false, "value='".$note->id."' class='ctrl delete-note'" ) ?>

                        <?= el::bt( "<i class='fa fa-plus' title='Add Note'></i>", false, "value='".$note->id."' class='ctrl add-note' note_type='note'" ) ?>

                        <?php if( User::get_default_instance('id') == $note->added_by ) { ?>
                            <button value='<?=$note->id;?>' class='ctrl lock-note-modal' title="Lock Note">
                                <i class="fa fa-lock"></i>
                            </button>
                        <?php } ?>

                        <?php if( $note->sticky == 1 ) { ?>
                            <button value="<?=$note->id;?>" class="unstick-note-modal" title="Unstick note">
                                <i class="fa fa-sticky-note"></i>
                            </button>
                        <?php } else { ?>
                            <button value="<?=$note->id;?>" class="stick-note-modal" title="Make Note Sticky">
                                <i class="fa fa-sticky-note-o"></i>
                            </button>
                        <?php } ?>

                        <button class="convert_myps_note" title="Add to myPSaccount notes">
                            <i class="fal fa-globe"></i>
                        </button>

                        <button class="tag-note" title="Tag Users">
                            <i class="fas fa-tag"></i>
                        </button>
                    <?php } else { ?>
                        <?php if (User::get_default_instance('id') == $note->added_by) { ?>
                            <button value='<?=$note->id;?>' class='ctrl unlock-note-modal' title="Unlock Note">
                                <i class="fa fa-lock"></i>
                            </button>
                        <?php } ?>
                    <?php } ?>
                </div>

                <span id="added_details" class="pull-right">
                    <?= date("d/m/Y H:i",$note -> added_when) ?> <?= "| ".  $fullname ?>
                </span>

            </div>
        </div>

        <div class="modal-note-tagged mb-2 <?= (empty($taggedUsers) ? 'hidden' : '') ?>">
            <i class="fas fa-tag"></i> <span class="tagged-users"><?= $userLinks ?></span> <?= User::list_users(true, "class='notes-tag-users hidden' data-id='" . $note->id . "'"); ?>
        </div>

        <div class="modal-note-body">
            <div class="note-body-modal" contenteditable="true" data-id="<?=$note->id?>"> <?=    preg_replace("/[\n\r]/","",$note -> text); ?></div>
        </div>


    </div>

    <?php if (isset($replies)) { echo $replies; } ?>
    <div id="bottom"></div>
</li>