<?php
    if ($note->note_type == "nb_email") {
        $note->note_type = "email";
    } elseif ($note->note_type == "nb_phone") {
        $note->note_type = "phone";
    } elseif ($note->note_type == "nb_meet") {
        $note->note_type = "meet";
    }  elseif ($note->note_type == "nb_additional_note") {
        $note->note_type = "note";
    }

    if ($note->subject){
        $placeholder = "";
    }else{
        $placeholder = "subject_placeholder";
    };

    if($note->first_name && $note->last_name){
        $user = new User($note->added_by);
        $firstname = $note->first_name;
        $lastname = $note->last_name;
        $fullname = $user->link($firstname). " " . $user->link($lastname);
    }else{
        $username = User::get_default_instance(username);
        $fullname = $username;
    }
?>


<script type="text/css">
    .subject_placeholder {
        opacity: 0.5;
        color: #a6a6a6 !important;
    }
</script>

<li>

    <?php if($note->note_type == "compliance") {
        echo "<img src='../../../lib/images/tick.png' alt='".$note->note_type."'>";
    } else {
        echo "<img src='../../../lib/images/".$note->note_type."_16.png' alt='".$note->note_type."'>";
    }
    ?>
    <?php if( $note->is_locked == 0 ) { ?>
        <?= el::bt( "<i class='fa fa-trash btn-outline-danger'></i>", false, "value='".$note->id."' class='ctrl delete-note'" ) ?>
        <?= el::bt( "<i class='fa fa-plus'></i>", false, "value='".$note->id."' class='ctrl add-note std-note' note_type='note'" ) ?>
        <?= el::bt( "<i class='fa fa-pencil'></i>", false, "value='".$note->id."' class='ctrl edit-note' note_type='note'" ) ?>
        <?php if( User::get_default_instance('id') == $note->added_by ) { ?>
            <button value='<?=$note->id;?>' class='ctrl lock-note' title="Lock Note"></button>
        <?php } ?>
    <?php }else{ ?>
        <?php if( User::get_default_instance('id') == $note->added_by ) { ?>
            <button value='<?=$note->id;?>' class='ctrl unlock-note' title="Unlock Note"></button>
        <?php } ?>
    <?php } ?>

    <?= date("H:i d/m/y",$note -> added_when) ?>

    <?= "| ".  $fullname ?>

    <?php if( $note->is_locked == 0 ) { ?>
    <div id="<?=$note->id?>">
        <div id="<?=$note->id?>" class="note-subject" title="<?= $note->subject ?>"
             style="float:left;font-weight:bold;width:100%;
            text-overflow: ellipsis;
             white-space: nowrap;
             overflow: hidden;
             font-size: 14px;
             min-height:8px; border-bottom: groove;"
             contenteditable="true" >
            <?php
            if ($note->subject){
            echo preg_replace("/[\n\r]/","",$note->subject);
            }else{
            echo 'Enter Subject..';
            }
      ?>
        </div>
        <br>
        <br>
        <div id="<?=$note->id?>" class ="note-body" style="min-height:70px;"  contenteditable="true" > <?=    preg_replace("/[\n\r]/","",$note -> text); ?></div>
    </div>
    <?php if( $note->sticky == 1 ) { ?>
        <?= el::bt( "", false, "value='".$note->id."' class='unstick-note' title='Unstick Note'" ) ?>
    <?php } else { ?>
        <?= el::bt( "", false, "value='".$note->id."' class='stick-note' title='Make Note Sticky'" ) ?>
    <?php }; ?>
    <?php }else{ ?>
    <div id="<?=$note->id?>" class="note-subject" style="float:left;font-weight:bold;width:100%;white-space: nowrap;overflow: hidden;font-size: 14px;min-height:8px; border-bottom: groove" contenteditable="false" ><?=    preg_replace("/[\n\r]/","",$note ->subject); ?></div>
    <br>
    <br>
    <div id="<?=$note->id?>" class="note-body" contenteditable="false"><?= preg_replace("/[\n\r]/","",$note -> text); ?></div>

    <?php } ?>

    <?php if (isset($replies)) {
        echo $replies;
    }
    ?>
        <div id="bottom"></div>
</li>
