<style type="text/css">
div#<?=_LINK?> {
    border-bottom: 1px #9F9F9F solid;
    padding-bottom: 5px;
}
div#<?=_LINK?> input[type='text'] {
    width: 80%;
    border-radius: .25em;
    border-bottom-right-radius: 0;
}
form#search-form{
    display:inline;
}
div#<?=_LINK?> button, div#<?=_LINK?> input{
    font-size: 12pt;
}
#response > table {
    display: none;
}
#response > table div.scroll {
    height: 350px;
}
.bold{
	font-weight:bold;
}
</style>
<script type="text/javascript">
$(function(){

    var frame = $( "#<?=_LINK?>" );
    var form = $("form",frame);
    var response = $("div#response");
	var ajaxSpinner = $("img.spinner",form);
	var search_string;

	$( ":text#search" ).focus( );
	$("#btns").hide( );
	
	$('button#search-notes').attr('disabled','disabled');
	
	$('input#search').keyup(function() {
		if($.trim($("input#search").val()).length < 3){
			$('button#search-notes').attr('disabled','disabled');
		}else{
			$('button#search-notes').removeAttr('disabled');
		}
	});
	
    form.submit( function(){
		ajaxSpinner.show();

        form.send(function( r ){
			r = json_decode(r);

			if (r.error != null){
				$("#help").show();
				$('span#error_msg').show().addClass("bad_news").html(r.error);
				$("#btns").hide( );
				$("table",response).hide( );
				ajaxSpinner.hide();
			}else{
				$('span#error_msg').removeClass("bad_news").hide();
				$("#help").hide();
				search_string = r.search;
				$('span#total_rows').html(r.record_count);
				$('span#pages').html(r.pages);

				//populate page no. dropdown
				$('#page_number').empty();
				$.each(r.page_no, function(key, value) {
					$('#page_number')
						.append($("<option></option>")
						.attr("value",key)
						.text(value));
				});
		 
				ajaxSpinner.hide();
				$("table",response).show( );
				$("#btns").show( );
				$("table tbody:last",response).html( r.data );
			}
        });
        return false;
    });

	//Get new data based on selected page number
	$('select#page_number').on( "change", function( ){
		ajaxSpinner.show();
		var item=$(this);
		
		$.ajax({
			url: "pages/tools/notes/index.php?search="+search_string+"&offset="+item.val(),
			type: "GET",
			data: {
				type: "json"
			},
			dataType: "json",
			success: function( r ){
				try{
					$(">table tbody:last",response).empty();
					$(">table tbody:last",response).html( r.data );
					ajaxSpinner.hide();
				}catch(e){
					alert(e);
				}
			}
		});

	});

});
</script>

	<div id="<?=_LINK?>" name="<?=_LINK?>">
		<div class="row no-gutters">
			<div class="col-8">
				<form action="pages/tools/notes/index.php" method="GET" autocomplete="off">
					<?= el::txt('search',false,"style='width:90%;'") ?>
					<!--button onclick="$(function(){ $('#response table.scrollable').export(); });"><img src='<?= el::image("table_go.png")?>' /></button-->
					<!--button onclick="$(function(){ $('#response table.scrollable').print(); });"><img src='<?= el::image("printer.png")?>' /></button-->
					<img class="spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
				</form>
			</div>

			<div class="col-4">
				<div id="btns" name="btns" class="text-right">
					Total Results: <span id="total_rows"></span>
					&nbsp;|&nbsp; Total Pages: <span id="pages"></span>
					&nbsp;|&nbsp; Current Page: <select id="page_number" name="page_number"></select>
				</div>
			</div>
		</div>
	</div>

	<div id="help" name="help">
		<!-- search criteria -->
		<p><span id="error_msg"></span></p>
		<p>One or more words can be used to search note content.</p>
		<p><span class="bold">Minimum characters:</span> 3</p>
	</div>

	<div id="response" name="response">
		<table class="scrollable">
			<thead>
			  <tr>
				<th class="no_sort">Note ID</th>
				<th class="no_sort">About</th>
				<th class="no_sort"style="width:250px;">Link</th>
				<th class="no_sort">Added When</th>
				<th class="no_sort">Note Type</th>
				<th class="no_sort" style="width:110px;">Thread</th>
			  </tr>
			</thead>

			<tbody>
			</tbody>
		</table>
	</div>