<?php
	$nbid = $_GET['id'];
	$nb = new NewBusiness($nbid,true);
	$user = new User($nb->registeredUser(), true);
	$name = $user->forename . " " . $user->surname;

	$$nbsc = new NewBusSatisfactionCall();
	$s = new Search( new NewBusSatisfactionCall );
	$s -> eq("nbid", $nbid);
	if( $d = $s -> next( MYSQLI_ASSOC  ) ){
		$nbsc = new NewBusSatisfactionCall($d->id(), true);
	}else{
		$nbsc = new NewBusSatisfactionCall();
	}
?>


<script type="text/javascript">

	$(function () {

		var form = $("form#clientcall");
		var subbtn = $(":button#subbtn", form);

		$(subbtn).click(function () {

			var fail_count = 0;

			$("select", form).each(function () {
				if ($(this).val() == "") {
					fail_count = fail_count + 1;
				}
			});

			if (fail_count > 0) {
				$("span#user_msg").html("Please ensure all fields are filled in").removeClass().addClass("bad_news");
				$(subbtn).attr("disabled", false);
				return false;
			} else {
				$(form).send(
                    function (r) {
                        if (r.failure > 0) {
                            $("span#user_msg").html(r.error).removeClass().addClass("bad_news");
                        }
                        else {
                            r = json_decode(r);
                            $("span#user_msg").html("Success").removeClass().addClass("good_news");
                            $(form).attr('action','/pages/newbussatisfactioncall/?nbid=<?=$nbid;?>&do=save&id='+ r.newID);
                            $(subbtn).attr("disabled", true);
                            setTimeout(function() {
                                subbtn.removeAttr('disabled');
                                $("span#user_msg").html("").removeClass();
                            },3000);
                        }
                    }
				);

			}
		});
	});

	// add some height and width to the comments box
	$("#newbussatisfactioncall\\[comments\\]").css({"width":"99%", "height":"60px"});

</script>

<form id="clientcall" name="clientcall"
	  action='<?= NewBusSatisfactionCall::index_url(array("nbid"=> $nbid, "do"=>"save", "id"=>$nbsc->id()))?>'
	  method="GET">
	<div>


		<h1>Client Feedback Questionnaire</h1>

		&nbsp;

		<table class="data">
			<thead>
			<tr>
				<td width="80%">Service Delivery</td>
				<td width="20%">Result</td>
			</tr>
			</thead>
			<tbody>
			<?php for($i=1; $i<=7; $i++){ ?>
			<?php $q = "sd".$i; ?>
			<tr>
				<td width="80%"><?= strtoupper($q)." - " ?><?= $nbsc->$q->display_name() ?></td>
				<td width="20%"><?= el($nbsc->$q) ?></td>
			</tr>
			<?php } ?>
			</tbody>
		</table>

		&nbsp;

		<table class="data">
			<thead>
			<tr>
				<td width="80%">The Adviser</td>
				<td width="20%">Result</td>
			</tr>
			</thead>
			<tbody>
			<?php for($i=1; $i<=7; $i++){ ?>
			<?php $q = "ad".$i; ?>
			<tr>
				<td width="80%"><?= strtoupper($q)." - " ?><?= $nbsc->$q->display_name() ?></td>
				<td width="20%"><?= el($nbsc->$q) ?></td>
			</tr>
			<?php } ?>
			</tbody>
		</table>

		&nbsp;

		<table class="data">
			<thead>
			<tr>
				<td width="80%">Communications</td>
				<td width="20%">Result</td>
			</tr>
			</thead>
			<tbody>
			<?php for($i=1; $i<=6; $i++){ ?>
			<?php $q = "com".$i; ?>
			<tr>
				<td width="80%"><?= strtoupper($q)." - " ?><?= $nbsc->$q->display_name() ?></td>
				<td width="20%"><?= el($nbsc->$q) ?></td>
			</tr>
			<?php } ?>
			</tbody>
		</table>

		<table class="data">
			<thead>
			<tr>
				<td width="100%">Additional Comments</td>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td><?=el($nbsc->comments)?></td>
				</tr>
			</tbody>
		</table>
		<input type="button" id="subbtn" name="subbtn" value="Submit"/>
		<span id="user_msg"></span>
		&nbsp;
	</div>
</form>


