<script type="text/javascript">
$(function(){

    var form = $("form#<?=_LINK?>");
    
    $(form).bind("keypress", function(e) {
	    if (e.keyCode == 13) return false;
    });


    $("#output_formats :submit").click(
        function( ){

            // Make parameter data object
            var data = {};
            $(":input",form).each(
                function(){
                    data[$(this).attr("id")] = $(this).val();
                }
            );
            
            if($(this).attr("data-output") == "PRINT"){

                data = JSON.stringify(data);

                var w = window.open("/pages/report/index.php?do=runReport&report_id=<?=$report->id();?>&data="+encodeURIComponent(data));
                //when new window is loaded, open print dialog
                w.onload = function () {
                    w.print();
                };
            }

        }
    );

    //date picker
    $.datepicker.setDefaults({ dateFormat: 'yy-mm-dd' });

    $('.datepick').each(function(){
        $(this).datepicker();
        var date = $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    });

});
</script>


<style type="text/css">
form#<?=_LINK?> > #output_formats {
    text-align: right;
}
form#<?=_LINK?> > #output_formats > input {
    border: 1px solid #99BCDF;
    background: #fff;
    font-size: 9pt;
    cursor: pointer;
}
form#<?=_LINK?> > p {
    font-size: 10pt;
    margin-bottom: 20px;
}
form#<?=_LINK?> > #output_formats > input:hover {
    border-color: #1f73c6;
}
</style>

<form id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="output_formats" name="output_formats">
        <input type="submit" id="<?=$report->id();?>" class="format_print" name="format_print" value="Generate" data-output="PRINT" />
    </div>

    <?=Template($form_body,array("report"=>$report))?>

</form>
