<?php

// prepare a resultset of all Reports accessible by this User

$ru = new ReportUser;

$r_search = new Search( $report );
$r_search->eq("is_published",true);
$r_search->add_or(
$r_search->eq(
"SELECT true FROM ".$ru->get_table()." ".
"WHERE ".$ru->report->get_field_name()." = ".$report->id->get_field_name()." ".
"AND ".$ru->user->get_field_name()." = ".User::get_default_instance()->id()." LIMIT 1", true, false, false ),
$r_search->eq("allow_all", true, false, false )
);
$r_search->add_order("department");

?>
<style type="text/css">
    #<?=_LINK?> > div#report_list{
        width: 35%;
    }
    #<?=_LINK?> > div#report_list > ul{
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 1px solid #99BCDF;
            margin: 0;
            padding: 5px;
        }
    #<?=_LINK?> > div#report_list > ul > li {
            border: 1px solid #99BCDF;
            padding: 5px;
            margin-bottom: 3px;
            font-size: 9pt;
        }
    #<?=_LINK?> > div#report_list > ul > li.has_form {
            cursor: pointer;
        }
    #<?=_LINK?> > div#report_list > ul > li.has_form:hover {
            border-color: #ffe202;
        }
    #<?=_LINK?> > div#report_list > ul > li.active {
            background: #fffce5;
            border-color: #ffe202;
        }
    #<?=_LINK?> > div#report_list > ul > li > h1 {
            font-size: 12pt;
            margin: 0 0 5px 0;
        }

    #<?=_LINK?> > div#report_profile {
            width: 62%;
            height: 800px;
            float: right;
        }
    #<?=_LINK?> > div#report_profile > div {
            height: 400px;
        }

    #accordion > h3 {
        height: 24px;
        font-size: 14px;
        padding-top:5px;
        padding-left:5px;
    }
</style>

<script type="text/javascript">
    $(function(){

        var frame = $("#<?=_LINK?>");
        var reportList = $("#report_list",frame);
        var reportProfile = $("#report_profile",frame);
        var rosiereport = $("button.my_reports_links_rosie",frame);

        $(">div#accordion>div>li[data-id]",reportList).click(
            function(){

                if( $(this).is(".no_form") ){
                    return;
                }

                $(this)
                        .addClass("active")
                        .siblings("li")
                        .removeClass("active");

                var title = $(">h1",this).text();

                $.get(
                    "<?=$report->index_url(array('action'=>'form'))?>",
                    { 'id': parseInt($(this).attr("data-id")) },
                    function( r ){

                        $(">h1",reportProfile).text(title);
                        $(">div",reportProfile).html( r );
                    }
                );
            }
        );

        $(rosiereport).live('click', function(){

            var li = $(this).closest("li");
            var report_id = $(li).attr("data-id");

            var w = window.open("/pages/report/index.php?do=runReport&report_id="+report_id);
            //when new window is loaded, open print dialog
            w.onload = function () {
                w.print();
            };

        });


    });
</script>


<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="report_profile" name="report_profile" class="panel">
        <h1 style="background:#999999;">&nbsp;</h1>
        <div></div>
    </div>

    <div id="report_list" name="report_list" class="panel">
        <h1>My Reports</h1>
        <div id="accordion" class="">
            <?php
		$first_itr = true;
		$department = null;

        while( $report = $r_search->next() ){

            /*if ($report->department == "") {
            $report->department = "Miscellaneous";
            }
            Type Miscellaneous as deparment into db instead */

            if ($first_itr)
            {
            echo "<H3>$report->department</H3><div class='my_report_div'>";
            $first_itr = false;
            $department = $report->department();
            }

            if ( $department != $report->department()){
            echo "</div><H3>$report->department</H3><div class='my_report_div'>";
            $department = $report->department();
            }

            ?>
            <li data-id="<?=$report->id()?>" class="<?=(!$report->form_file())?'no_form':'has_form'?>">
                <h1><?=$report->title?></h1>
                <p class="my_reports_desc"> <?=$report->description?></p>


                <div class="formats">
                    <?php
                    if( !$report->form_file() ){
                        // Report doesn't require user input to compile, so
                        // display shortcuts to the available output formats
                    ?>
                        <button class="my_reports_links_rosie">PDF</button>
                    <?php
                    } else {
                        // Report requires user to complete a form, clicking the li will
                        // open the appropriate but include a shortcut to (hopefully) prevent
                        // "ma report isnae workin"-style complaints.
                    ?>
                        <a class="my_reports_links" href="#">Prepare...</a>
                    <?php
                    }
                    ?>
                </div>
            </li>
            <?php
          }
        ?>
        </div>
        </div>

    </div>

    <script>
        $('#accordion').accordion({
            collapsible: true,
            autoHeight: false,
            active: false
        });
    </script>