<!--<applet code="ProphetReport.class" codebase="/core/lib/applets/" archive="ProphetReport.jar,jasperreports-3.7.6.jar">-->
  <!--<param name="widget_id" value=""+widget_id+""/> -->
  <!--<param name="dialog" value="" + ( ( !showDialog ) ? "0" : "1 + ""/> -->
  <!--<param name="REPORT" value="" + reportName + ""/>-->
  <!--<param name="FORMAT" value="PRINT"/>-->
  <!--<param name="vars" value="" + keyList.join(";") + ""/>-->
<!--</applet>-->