<?php
$practicestaffentry = new PracticeStaffEntry;

if( isset($_GET["practice"]) ){
    $practice = new Practice($_GET["practice"]);
}

?>
<style type="text/css">
#<?=_LINK?> div.panel {
    margin-bottom: 15px;
}
#<?=_LINK?> .suggest {
    width: 99%;
}
#<?=_LINK?> .suggest > input[type='text'] {
    font-size: 15pt;
}
#<?=_LINK?> table.scrollable div.scroll {
    height: 100px;
}
</style>

<script type="text/javascript">
$(function(){

    var frame = $("div#<?=_LINK?>");
    var newForm = $("form#new_staff",frame);
    var extForm = $("form#ext_staff",frame);
    var extTable = $("table.scrollable tbody:last",extForm);

    var pop = frame.popup_config({
        title: "Add Staff Member",
        center: true
    });

    // search for matching existing users when entering staff member data
    newForm.bind( 
        "change", function( ){

            if( newForm.xhr != null ){
                newForm.xhr.abort();
            }

            // Compile an array of attributes to search for existing
            // Staff members on.
            var filters = {};
            $.each(["firstname","surname","email"],function(i,key){
                var el = $(':input[id*="'+key+'"]',newForm);
                if( el.val().length > 0 ){
                    filters[key] = el.val();
                }
            });

            newForm.xhr = $.ajax({
                url: "<?= Staff::get_common_url(array('do'=>'list')) ?>",
                type: "GET",
                data: { 'filter': filters },
                success: function( r ){

                    var rows = $("<tbody>"+r+"</tbody>");
                    
                    // Prepend a radio button to each row to allow the user
                    // to select an existing Staff member to assign to this Practice
                    $("tr",rows).each(function(){

                        var radio = $("<input type='radio'/>")
                            .attr("name", "<?=$practicestaffentry->staff->get_html_id()?>")
                            .val( $(this).attr("data-object-id") );

                        var td = $("<td></td>")
                            .append( radio )
                            .prependTo( $(this) );
                    });
                    
                    extTable
                        .html( rows )
                        .find( ":submit" )
                        .attr("disabled",true);
                }
            });
        }
    );
    saveProfileStatusSpan( newForm );

    extForm.change(
        function(){
            // Only enable form submission if there is a selected staff member
            $(":submit",this)
                .attr("disabled", !( $(":radio:checked",this).length ) );
        }
    );
    saveProfileStatusSpan(extForm);
    
    // Regardless of which form ends up being submitted,
    // trigger bindings when a Staff member added to this
    // practice.
    $("form",frame).bind(
        "successfulSave",
        function( ){
            $(pop).trigger("staffMemberAdded");
        }
    );
    


});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>" style="padding:5px;">

  <div class="panel">
    <h1>New Staff Member</h1>
    <form id="new_staff" name="new_staff" action="<?=Staff::get_common_url(array("do"=>"create"))?>" method="POST">
      <table>
        <tr>
          <th width="100px">Name</th>
          <td><?= el($staff->firstname)?> <?=el($staff->surname)?></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><?= el($staff->email)?></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><?= el($staff->phone)?></td>
        </tr>
        <tr>
          <th>Role</th>
          <td><?= el($staff->role)?></td>
        </tr>
      </table>          
      <p align="right">
        <span class="status">&nbsp;</span>
        <input type="submit" value="Create User"/>
      </p>
      <?= el::hide( $staff->get_html_id("practice"), $practice->id() ) ?>
    </form>
  </div>

  <div class="panel">
    <h1>Existing Staff</h1>
    <form id="ext_staff" name="ext_staff" action="<?=PracticeStaffEntry::get_common_url(array('do'=>'create'))?>" method="POST">
      <table class="scrollable">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody class="content">
        </tbody>
      </table>
      <p align="right">
        <span class="status">&nbsp;</span>
        <input type="submit" value="Add User" DISABLED="DISABLED"/>
      </p>
      <?= el::hide( $practicestaffentry->practice->get_html_id(), $practice->id() ) ?>
    </form>

  </div>

</div>
 


 
 
