<?php
define("TABS",random_string(15));

$e = new AdditionalEmail;
$s = new Search( $e );
$s -> eq( "staffID", $_GET['id'] );

if (isset($addemailID)) {
    $additionalemail = new AdditionalEmail($addemailID, true);
}

?>
<script type="text/javascript">

var staffid = <?= $staff ->id ?>;

$(function(){

    // get a list of practices staff are affilated with
    $("#practice_list tbody").load("/pages/staff/?id="+staffid+"&get=practices");
	
    var form = $("form#staff_form");
    var accesstbl = $("table#accesstbl tbody");
	var table = $("form#email_form",'div#<?=_LINK?>');

    var pop = form.popup_config({
        title: "<b>Staff</b>: <?=$staff?>",
        center: true
    });
    
	    
    // Log access for a new provider/practice
    $( "button#addprovider" ).click(
	function(){
	    var p = new popup({
		url: "/pages/staff/add_access.php?id="+staffid,
	    })
	}
    );    

    // Load table with access logs
    $("#accesstbl tbody").load("/pages/staff/add_access.php?id="+staffid+"&do=list", function() {

	// Toggle 'access' on button click
	$("button.bool").click(function(){

	    var btnid = (this.id.slice(21,25));

	    $.post("/pages/staff/add_access.php?id="+staffid+"&do=update&btnid="+btnid,

	    function(r){
		
		r = json_decode(r);

		if( r.error > 0 ){
		    alert("Failed to update provider access");
		}
	    });
	})
    });
    
    //Toggle unipass access on button click
    $("#staff\\[unipass\\]").click(function(){

    var ubtnid = (staffid);
    $.post("/pages/staff/add_access.php?id="+staffid+"&do=unipass&ubtnid="+ubtnid,

    function(u){

	u = json_decode(u);

	if( u.error > 0 ){
	  alert("Failed to update unipass access");
	}
    })
    });


    saveProfileNotification( form );
	
	// Allow users to add additional emails
		$( table ).on( "click", ":button#add_email",
				function( ){
					new popup({
						url: "/pages/staff/index.php?get=add_email&id=<?=$_GET['id']?>",
						triggers: {
							refreshEmails: function(){
								$("table#add_email_tbl tbody").load("/pages/staff/index.php?id=<?=$_GET['id']?>&get=emails");
							}
						}
					});
				}
		);	
		

		// Allow users to delete additional emails
		$( ":button.delete", table ).live(
			"click", function( ){
				if( confirm( "Are you sure you would like to delete this email address?" ) ){
					var rowid = this.id;
						$.get(
							"<?=AdditionalEmail::get_common_url()?>",{
									id: this.id,
									do: "delete"
							},
							function( ){
								$("tr#"+rowid, table).remove();
							}
						);
				}
			}
		);


});
</script>
<style type="text/css">
form#staff_form{
	float:left;
	width:530px;
	padding-top:10px;
}
form#email_form{
	margin-left:580px;
	max-width:500px;
}
.container{
	clear:both;
	padding-top:5px;
}
.container > h4{
	margin-bottom:0
}
.update{
	width:60px;
}
</style>

<div id='<?= _LINK?>' name='<?= _LINK?>' class='active' style="min-height:150px;">

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>account">Account</a>
        </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane fade show active">

            <form id="staff_form" name="staff_form" action="<?=Staff::get_common_url(array("id"=>$staff->id,"do"=>"save"))?>" method="post">
                <table>
                    <tr>
                        <th width="150px">Name</th>
                        <td>
                            <?= $staff -> firstname -> toElement()?> <?= $staff -> surname -> toElement() ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Primary Email</th>
                        <td>
                            <?= $staff -> email -> toElement() ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>
                            <?= $staff -> phone -> toElement() ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Role</th>
                        <td>
                            <?= $staff -> role -> toElement() ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Active?</th>
                        <td>
                            <?= $staff -> active -> toElement()  ?>
                        </td>
                    </tr>
                </table>
            </form>

            <form id="email_form" name="email_form" action="<?=AdditionalEmail::get_common_url(array("id"=>$addemailID ?? 0,"do"=>"save"))?>" method="POST" style="width:70%;">
                <table id="add_email_tbl" style="padding:10px 0">
                    <tr>
                        <th class="additionalEmail_th_padding" >Additional&nbsp;</th><th>Email Addresses</th><td><button id="add_email" name="add_email" class="add">Add</button></td>
                    </tr>
                        <?php while ( $x = $s -> next( MYSQLI_ASSOC  ) ){

                                $partnerarray = (array)$x;

                                $addemailID = $partnerarray['id'];
                                $partnerid = $partnerarray['partnerID'];
                                $addemail = $partnerarray['email'];
                                $emailtag = $partnerarray['tag'];

                                echo "<tr id='".$addemailID."'>
                                        <td>".$emailtag.": </td>
                                        <td>".el($addemail, false,'disabled="disabled"',false)."</td>
                                        <td><button id=".$addemailID." name=".$addemailID." class='update'>Update</button></td>
                                        <td><button id=".$addemailID." name=".$addemailID." class='delete'></button></td>
                                    </tr>" ;
                            }
                        ?>
                </table>
            </form>

            <div class="container">

                <h4>Associated Practices</h4>

                <table id="practice_list" name="practice_list" class="data">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address1</th>
                            <th>Address2</th>
                            <th>Address3</th>
                            <th>Postcode</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>
<script type="text/javascript">
	$(function (){
		var table = $("form#email_form",'div#<?=_LINK?>');
		// Allow users to update emails
		$( table ).on( "click", ":button.update",
			function( ){
				new popup({
					url: "/pages/staff/index.php?id=<?=$_GET['id']?>&get=update_email&emailID="+this.id,
					triggers: {
						refreshEmails: function(){
							$("table#add_email_tbl tbody").load("/pages/staff/index.php?id=<?=$_GET['id']?>&get=emails");
						}
					}
				});
			}
		);
	});
</script>