<tr>
  <td align="center"><img src="/lib/images/<?= ( $locallog->type == "UPDATE" ) ? "edit.png" : "add.png" ?>"/></td>
  <td><?=$locallog->object_name?></td>
  <td><?=$locallog->object->link()?></td>
  <td><?=$locallog->date?></td>
  <td align="right">
    <input type="button" data-object="<?=$locallog->object_name()?>" data-id="<?=$locallog->object_id()?>" value="Filter"/>
  </td>
</tr>