<?php
if (count(LocalLog::mergeHistory($_GET['object'], $_GET['id']))) {
?>

    <div id="<?=_LINK?>" class="mt-3">
        <div class="card">
            <h6 class="p-2">Merged policy details</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Policy ID</th>
                        <th>Policy Number</th>
                        <th>Owner</th>
                        <th>Issuer</th>
                        <th>Client</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Added When</th>
                        <th>Added By</th>
                        <th>Mandate ID</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach (LocalLog::mergeHistory($_GET['object'], $_GET['id']) as $key => $dedupe) { ?>
                    <tr>
                        <td><?= $dedupe->oldPolicyID(); ?></td>
                        <td><?= $dedupe->number(); ?></td>
                        <td><?= $dedupe->owner; ?></td>
                        <td><?= $dedupe->issuer; ?></td>
                        <td><?= $dedupe->client; ?></td>
                        <td><?= $dedupe->status; ?></td>
                        <td><?= $dedupe->type; ?></td>
                        <td><?= $dedupe->addedwhen; ?></td>
                        <td><?= $dedupe->addedby; ?></td>
                        <td><?= $dedupe->mandate; ?></td>
                    </tr>
                    <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<?php } ?>