<?php

define("LOCAL_LOG_PLUGIN",random_string(10));

if (is_string($object)) {
    $object_name = $object;
} else {
    $object_name = get_class($object);
}

$object = new $object($id,true);

function gen_thead( $obj ){

    $th = "";

    foreach( $obj->get_field_name_map() as $n=>$f ){
        $f = $obj->$n;
		
        if( is_a($f,"Group") ){
            $th .= gen_thead($f);
        } else if( !$f->get_var(Field::BLOCK_UPDATE) ){
			if($f->display_name() == "Updatedby" ){
				//dont display
			}else if($f->display_name() == "Updatedwhen" ){
				//dont display
			}else{
				$th .= "<th>".$f->display_name()."</th>";
			}			
        }
			
    }

    return $th;
}
?>
<style type="text/css">
#<?=LOCAL_LOG_PLUGIN?>{
	min-width:650px;
	max-width:100%;
}

#<?=LOCAL_LOG_PLUGIN?> > div.scroll {
    overflow: auto;
    max-height: 300px;
    max-width:1200px;
    padding: 0;
}
#<?=LOCAL_LOG_PLUGIN?> table.data tr > * {
    white-space: nowrap;
}
#<?=LOCAL_LOG_PLUGIN?> table.data tbody > tr > td.edit {
    background: #FFCFCF;
}
#key{
	margin-top:15px;
	padding-bottom:30px;
}
#key_change {
	width: 20px;
	height: 20px;
	background: #FFCFCF;
}
#key_merge {
	width: 20px;
	height: 20px;
	background: #ccccff;
}
.clear{
	clear:both;
}

</style>
<script type="text/javascript">
    $(function () {

        var frame = $("#<?=LOCAL_LOG_PLUGIN?>");
        var table = $("table.data", frame);
        table.inited = false;

        //table.bind("onshow", function () {
            if (table.inited) {
                return;
            }
            table.inited = true;
            $("tbody", table).load("<?=$object->get_common_url(array('get'=>'history','id'=>$id))?>");
        //});

    });
</script>
<div id="<?=LOCAL_LOG_PLUGIN?>" name="<?=LOCAL_LOG_PLUGIN?>" class="has_onshow">

    <?php
        $reason_array = ['Add', 'Archived', 'Move Owning Partner', 'Full BSP', 'Hold Income'];
        foreach ($reason_array as $reason) {
            echo ActionReason::getReason($object_name, $id, $reason);
        }
    ?>

	<div class="scroll">
		<table class="data has_onshow">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>User</th>
					<th>Date</th>
					<?= gen_thead( $object ) ?>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<div id="key" name="key">
		<table id="key_items" name="key_items">
			<tr>
				<th>Key: &nbsp;</th>
				<td><div id="key_change"></div></td>
				<td> - Highlights changed fields</td>
			</tr>
			<!--<tr>
				<td>&nbsp;</td>
				<td><div id="key_merge"></div></td>
				<td> - Highlights differences at time of change</td>
			</tr>-->
		</table>
	</div>
	<div class="clear"></div>

    <?php if (isset($policy)) { ?>
        <?php if ($policy == true && MandateArchive::get_mandate_history($id) != "") { ?>

            <div class="card">
                <h6 class="p-2">Mandate History</h6>
                <table id="mandate_history" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Filename</th>
                        <th>Processed When</th>
                        <th>Processed By</th>
                        <th>Archived When</th>
                        <th>Archived By</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?= MandateArchive::get_mandate_history($id); ?>
                    </tbody>
                </table>
            </div>

        <?php } ?>
    <?php } ?>


</div>