<script>

    $(function(){
        var frame = $("#<?=_LINK?>");
        var notesOpen = false;
        var modal = $("#<?=_LINK?>add-note-modal");

        $(".myps_notes_tab").click(function(){
            if (!notesOpen){
                loadNotes();
            }
        });

        $("#save_myps_note", modal).on("click", function(){
            var subject = $("#myps_note_subject", modal).val();
            var text = $("#myps_note_text", modal).val();

            if (subject.length){
                if (text.length){
                    $.ajax({
                        url: "/pages/mypsnotes/?do=save_note",
                        type: "GET",
                        data: {
                            object: "<?=$_GET['object']?>",
                            object_id: "<?=$_GET['id']?>",
                            subject: subject,
                            text: text,
                        },
                        dataType: "JSON",
                        success: function(response){
                            if(response.success){
                                modal.modal("hide");
                                loadNotes();
                            } else {
                                alert(response.data);
                            }
                        }
                    });
                } else {
                    alert("Please provide some text for the note!");
                }
            } else {
                alert("Please provide a note subject!");
            }
        });

        function loadNotes(){
            $.ajax({
                url: "/pages/mypsnotes/?do=load_notes",
                type: "GET",
                data: {
                    object: "<?=$_GET['object']?>",
                    object_id: "<?=$_GET['id']?>"
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        notesOpen = true;

                        $("#myps_notes .content", frame).html(response.data);
                    } else {
                        $("#myps_notes .content", frame).html("<tr><td colspan='5'>Failed to load notes</td></tr>")
                    }
                }
            });
        }

        window.loadMypsNotes = function(){
            loadNotes();
        }
    });

</script>
<div id="<?=_LINK?>">

    <div class="row no-gutters mb-2">
        <div class="col-4">
            <button type="button" data-toggle="modal" data-target="#<?=_LINK?>add-note-modal" data-backdrop="false"><i class="fas fa-plus-circle text-success"></i> Add Note</button>
        </div>
    </div>

    <table id="myps_notes" class="scrollable">
        <thead>
            <tr>
                <th width="15%">Author</th>
                <th width="15%">Date Posted</th>
                <th width="10%">Subject</th>
                <th width="10%">Note Type</th>
                <th width="50%">Message</th>
            </tr>
        </thead>
        <tbody class="content"></tbody>
    </table>

</div>

<div class="modal" id="<?=_LINK?>add-note-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add myPS note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control py-0" type="text" id="myps_note_subject">
                </div>
                <div class="form-group">
                    <label>Note</label>
                    <textarea class="form-control px-1" rows="5" id="myps_note_text"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="save_myps_note"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>