<?php

$os = new OngoingService();

?>

<script>
    var frame = $("#<?=_LINK?>");

    var p = frame.popup_config({
        title: "Backdated Service",
        center: true,
    });

    saveProfileNotification(frame);

    frame.on("successfulSave", function(){
        // Refresh ongoing service tab after save
        window.loadOngoingService();
        p.close();
    });
</script>

<style>
    #<?=_LINK?>{
        width: 600px;
    }
</style>

<form id="<?=_LINK?>" method="GET" action="/pages/client/?id=<?= $client->id() ?>&do=backdated_service">
    <p>Please note: Only backdated reviews can be created on this screen and no reports on workflow will be created on the back of this.</p>
    <p>This form should only be used for filling in the dates of previous reviews.</p>
    <table class="mx-auto w-50">
        <tr>
            <th>Review Offered</th>
            <td><?= el($os->review_offered) ?></td>
        </tr>
        <tr>
            <th>Review Accepted</th>
            <td><?= el($os->review_accepted) ?></td>
        </tr>
        <tr>
            <th>Review Type</th>
            <td><?= el($os->review_type) ?></td>
        </tr>
        <tr>
            <th>Review Date</th>
            <td><?= el($os->proposed_review_date) ?></td>
        </tr>
        <tr>
            <th>Review Done</th>
            <td><?= el($os->review_done) ?></td>
        </tr>
    </table>
</form>