<style type="text/css">
div#<?=_LINK?> {
    width: 1200px;
    max-height:400px;
    overflow:auto;
}
</style>

<script type="text/javascript">
$(function( ){

    var frame = $("div#<?=_LINK?>");
    var pop =  $( frame ).popup_config({
        center:true
    });

    setTimeout(function() {
        $("table#mail-plugin-tbl").trigger('onshow');
    }, 500);
});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <?= Template( Correspondence::get_template_path("plugin.html"),
        [
            "excludes"=>array('client','message'),
            "filter"=>[
                "client"=>$client(), "subject"=>"death_or_poa"
            ]
        ]
    ); ?>
</div>
