<?php
// define form url based on whether an entry should be created or modified
if ($obj->id()) {
    $death_id = $obj->id();
    $title = "Update Death Certificate / POA Entry";
} else {
    $title = "Add Death Certificate / POA Entry";
}
?>

<style type="text/css">
form#<?=_LINK?> {
    width: 800px;
}
form#<?=_LINK?> ul{
    list-style-type: none;
}

</style>

<script type="text/javascript">
$(function( ){

    var form = $("form#<?=_LINK?>");
    var pop = $(form).popup_config({
        center: true,
        title: "<?= $title ?>"
    });

    if ($("#issuer-selection").val() != 0) {
        // updating an entry
    } else {
        // new entry, hide all by default
        $("#policy-row", form).hide();
        $("#form-row", form).hide();
        $(".tracker-row", form).hide();
        $("#submit-death", form).hide();
    }

    $("#issuer-selection", form).on("change", function () {
        var issuer_id = $(this).val();

        $.ajax({
            url: '/pages/client/index.php?id=<?= $client ?>&do=client_policies_by_issuer&issuer_id=' + issuer_id,
            type: "GET",
            data: {
                type: "json"
            },
            dataType: "json",
            success: function (r) {
                $('#policy-selection', form).empty();
                $("#form-row", form).hide();
                $("#submit-death", form).hide();
                $(".tracker-row", form).hide();
                $("#form-row option:selected", form).removeAttr("selected");

                $.each(r, function (key, value) {
                    $('#policy-selection', form)
                        .append("<li><input class='pol-checkbox' type='checkbox' value='" + key + "' /> " + value + "</li>");
                });

                $("#policy-row", form).show();

                $(".pol-checkbox").on("click", function () {
                    if ($('input[type=checkbox]:checked', form).length) {
                        // at lease one checkbox is checked, lets who form row
                        $("#form-row", form).show();
                    } else {
                        $("#form-row", form).hide();
                        $(".tracker-row", form).hide();
                        $("#submit-death", form).hide();
                        $("#form-row option:selected", form).removeAttr("selected");
                    }
                });

                $("#deathcertificate\\[form_type\\]").on("change", function () {
                    if ($(this).val() != "") {
                        // at lease one checkbox is checked, lets who form row
                        $(".tracker-row", form).show();
                        $("#submit-death", form).show();
                    } else {
                        $(".tracker-row", form).hide();
                        $("#submit-death", form).hide();
                    }
                });
            }
        });
    });

    $("#submit-death").on("click", function () {

        // build comma separated string of selected policy numbers
        var number_string = $("input:checked", form).map(function () {
            if (this.value != "default") {
                return this.value;
            }
        }).get().join(",");

        $.ajax({
            url: '/pages/client/index.php?id=<?= $client ?>&do=death_create',
            type: "POST",
            data: {
                type: "json",
                number_string: number_string,
                form_data: $(form).serialize()
            },
            dataType: "json",
            before: function () {
                // reset status span
                $(".status", form).removeClass('bad_news good_news').html('');
            },
            success: function (r) {
                $(".status", form).html(r.feedback);
                if (r.error) {
                    $(".status", form).addClass('bad_news');
                } else {
                    $(".status", form).addClass('good_news');
                    // Refresh death/poa table after updating new entry
                    $("tbody.content", "table#death-tbl", form).load('/pages/client/index.php?id=<?= $client ?>&do=death_certificate_list');
                }
            }
        });
    });

});
</script>

<div class="p-2">
    <form id="<?=_LINK?>" name="<?=_LINK?>" action="#" method="POST">
        <table id="death_poa_tbl">
            <tbody>
                <tr>
                    <th>Issuer</th>
                    <td>
                        <?php if ($obj->issuer()) { ?>
                        <?= $obj->issuer ?>
                        <?php } else { ?>
                        <select name="issuer-selection" id="issuer-selection">
                            <option value="0">--</option>
                            <?php foreach ($issuer_array as $id => $name) { ?>
                                <?php if ($obj->issuer() == $id) { ?>
                                    <option value="<?= $id ?>" selected><?= $name ?></option>
                                <?php } else { ?>
                                    <option value="<?= $id ?>"><?= $name ?></option>
                                <?php } ?>
                            <?php } ?>
                        </select>
                        <?php } ?>
                    </td>
                </tr>
                <tr id="policy-row">
                    <th>Policies affected</th>
                    <td>

                        <?php if (isset($policy_array) && !empty($policy_array)) { ?>
                            <?php foreach ($policy_array as $policy) { ?>
                                <?= $policy ?>
                            <?php } ?>
                        <?php } else { ?>
                        <ul id="policy-selection">
                        </ul>
                        <?php } ?>
                    </td>
                </tr>
                <tr id="form-row">
                    <th><?= $obj->form_type->display_name(); ?></th>
                    <td>
                        <?php if ($obj->form_type()) { ?>
                            <?=$obj->form_type?>
                        <?php } else { ?>
                            <?=el($obj->form_type)?>
                        <?php } ?>
                    </td>
                </tr>
                <tr class="tracker-row">
                    <th>&nbsp;</th>
                    <th>Date</th>
                    <th>Tracker</th></tr>
                <tr class="tracker-row">
                    <th>Sent to Provider</th>
                    <td><?=el($obj->date_sent_to_provider)?></td>
                    <td><?=el($obj->track_sent_to_provider)?></td>
                </tr>
                <tr class="tracker-row">
                    <th>Returned from Provider</th>
                    <td><?=el($obj->date_returned_from_provider)?></td>
                    <td><?=el($obj->track_returned_from_provider)?></td>
                </tr>
                <tr class="tracker-row">
                    <th>Sent to Partner</th>
                    <td><?=el($obj->date_returned_to_partner)?></td>
                    <td><?=el($obj->track_returned_to_partner)?></td>
                </tr>
            </tbody>
        </table>

        <div>

            <?php if ($obj->id()) { ?>
                <input type="hidden" value="<?=$obj->id()?>" name="death_id" id="death_id" />
            <?php } ?>
            <div class="float-left">
                <span class="status">&nbsp;</span>
            </div>
            <div class="float-right">
                <button type="button" id="submit-death">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </div>
        </div>
    </form>
</div>