<?php
    $url = DeathCertificate::get_common_url(['do'=>'save', 'id'=>$obj->id()]);
    $title = "Update Death Certificate / POA Entry";
?>

<style type="text/css">
    form#<?=_LINK?> {
        width: 800px;
    }
</style>

<script type="text/javascript">
    $(function () {

        var form = $("form#<?=_LINK?>");
        var pop = $(form).popup_config({
            center: true,
            title: "<?= $title ?>"
        });

        saveProfileNotification(form, function () {
            // Refresh death/poa table after updating new entry
            $("tbody.content", "table#death-tbl").load('/pages/client/index.php?id=<?= $client ?>&do=death_certificate_list');
        });

        // Refresh death/poa table after updating new entry
        // $(form).closest("table.popup").find("button.close").click(function() {
        //     $( "tbody.content", "table#death-tbl" ).load( '/pages/client/index.php?id=<?= $client ?>&do=death_certificate_list' );
        // });
    });
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=$url;?>" method="POST">
    <table id="death_poa_tbl">
        <tbody>
        <tr>
            <th><?= $obj->policy->display_name(); ?></th>
            <td><?=el($obj->
                policy,false,false,false,Policy::index_url(array('suggest'=>1,'client'=>$client)),DatabaseObject::ELEMENT_SUGGEST)?>
            </td>
        </tr>
        <tr>
            <th><?= $obj->form_type->display_name(); ?></th>
            <td><?=el($obj->form_type)?></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Date</th>
            <th>Tracker</th>
        </tr>
        <tr>
            <th>Sent to Provider</th>
            <td><?=el($obj->date_sent_to_provider)?></td>
            <td><?=el($obj->track_sent_to_provider)?></td>
        </tr>
        <tr>
            <th>Returned from Provider</th>
            <td><?=el($obj->date_returned_from_provider)?></td>
            <td><?=el($obj->track_returned_from_provider)?></td>
        </tr>
        <tr>
            <th>Sent to Partner</th>
            <td><?=el($obj->date_returned_to_partner)?></td>
            <td><?=el($obj->track_returned_to_partner)?></td>
        </tr>
        </tbody>
    </table>

    <p align="right">
        <span class="status">&nbsp;</span>
    </p>

</form>
