<script type="text/javascript">
$(
    function( )
    {
        var frame = $("div#<?=_LINK?>")[0];

        var pop = $( frame ).get_popup( );
        pop.setTitle( "Export Client List" );
        $( pop ).center( );

        // Get selected clients
        
        
    }
);
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table>
        <tr>
            <th>Include</th>
            <td></td>
        </tr>
    </table>

</div>
