<style type="text/css">
form#<?=_LINK?> {
    width: 800px;
}
</style>

<script type="text/javascript">
    $(function () {

        var form = $("form#<?=_LINK?>");
        var pop = $(form).popup_config({
            center: true,
            title: "Place Client Income on Hold"
        });

    $("#hold-desc-tr").hide();

    $(form).on("change", "#incomehold\\[reason\\]", function () {
            if ($(this).val() == 3) {
                $("#hold-desc-tr").show()
            } else {
                $("#hold-desc-tr").hide();
                $("#hold-desc").val('');
            }
        });

        $("#submit-hold", form).on("click", function () {
            $.ajax({
                url: "pages/client/index.php?do=hold_income",
                type: "GET",
                data: {
                    type: "json",
                    id: "<?= $client->id() ?>",
                    reason: $("#incomehold\\[reason\\]").val(),
                    description: $("#hold-desc").val()
                },
                dataType: "json",
                success: function (r) {
                    if (r && r.feedback) {
                        $(".status", form).html(r.feedback);

                        var hold_alert = "<div id='income-hold-alert mb-1' class='alert alert-danger'>" +
"<i class='fas fa-exclamation-circle'></i> This clients adviser charging income has been placed on hold by <?=User::get_default_instance('email')?> on "+new Date(Date.now()).toLocaleString()+" "+
" </div>";
                        $("#client-tabs").prepend(hold_alert);
                        $("#income-hold").text("Release Income").attr('id', 'income-release')
                    }
                    $("#submit-hold").attr("disabled", "disabled")
                    pop.close();
                }
            });
        });
    });
</script>

<div class="p-2">
    <form id="<?=_LINK?>" name="<?=_LINK?>" action="#" method="POST">
        <table class="table">
            <tbody>
                <tr>
                    <th>Client</th>
                    <td><?= $client ?></td>
                </tr>
                <tr>
                    <th>Reason:</th>
                    <td>
                        <?= el($ih->reason); ?>
                    </td>
                </tr>
                <tr id="hold-desc-tr">
                    <th>Description:</th>
                    <td>
                        <textarea id="hold-desc"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="float-left">
                <span class="status">&nbsp;</span>
            </div>
            <div class="float-right">
                <button type="button" id="submit-hold">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </div>
        </div>
    </form>
</div>