<style type="text/css">
form#<?=_LINK?> {
    width: 800px;
}
</style>

<script type="text/javascript">
$(function( ){

    $('#invoice-iss-cont').hide();

    var form = $("form#<?=_LINK?>");
    var pop =  $( form ).popup_config({
        center:true,
        title:"Invoice"
    });

    var issuer_array = {};
    $("table#policies").find("td[data-issuerid]").each(function () {

        if (!($(this).attr("data-issuerid") in issuer_array)) {
            //add to obj
            issuer_array[$(this).attr("data-issuerid")] = $(this).text();

            $('#invoice-issuer')
                .append($("<option></option>")
                    .attr("value",$(this).attr("data-issuerid"))
                    .text($(this).text()));
        }
    });


    var clientid =  $('button.sig-check').attr('id');

    $( "#invoice-obj").on('change', function () {
        if ($(this).val() === 'provider') {
            if ($("#invoice-iss-cont").length) {
                $('#invoice-iss-cont').show();
            }
        } else {
            $('#invoice-iss-cont').hide();
        }
    });

    $("#invoice_client").on("click", function () {
        $.ajax({
            url: "pages/invoice/index.php?do=addClient",
            type: "GET",
            data: {
                type: "json",
                id: clientid,
                object: $('#invoice-obj').val(),
                provider: $('#invoice-issuer').val()
            },
            dataType: "json",
            beforeSend: function() {
                $("#invoice_client").prop('disabled', true);
            },
            success: function (r) {
                if (r) {
                    var win = window.open(r, '_blank');
                    win.focus();
                    window.invoice_p.close();
                }
            },
            complete: function() {
                $("#invoice_client").prop('disabled', false);
            }
        });
    });


});
</script>

<div>
    <div id="invoice-selection">
        <label for="invoice-obj">Please select who this client's invoice is relating to:</label>
        <select id="invoice-obj">
            <option value="client">Client</option>
            <option value="provider">Provider</option>
            <option value="partner">Partner</option>
        </select>

        <div id="invoice-iss-cont">
            <select id="invoice-issuer">
                <option value="0">--</option>
            </select>
        </div>

        <div>
            <button id="invoice_client" type="button">Add</button>
        </div>



    </div>
</div>
