<style type="text/css">
    .policy_row > td:first-child {
        padding-left:60px;
    }
    #all-life-events {
        height:300px;
        overflow:auto
    }
    .modal-open {
        overflow: visible;
    }

</style>

<div id="life-<?=_LINK?>" class="container" style="max-width:99% !important;">
    <div class="row no-gutters" style="max-width:100% !important;">
        <div class="col-8 no-gutters">
            <div class="col-12 row no-gutters">
                <div class="col-8">
                    <span>Filter Document Owner: &nbsp; </span>
                    <button class="btn-primary toggle-row" data-owner="<?= $client->one ?>">
                        <?= $client->one ?>
                    </button>

                    <?php if ($client->two != " ") : ?>
                    <button class="btn-primary toggle-row" data-owner="<?= $client->two ?>">
                        <?= $client->two ?>
                    </button>
                    <button class="btn-primary toggle-row" data-owner="<?= $client ?>">
                        <?= $client ?>
                    </button>
                    <?php endif; ?>
                </div>

                <div class="col-4 text-right">
                    <button id="new-life-event" type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#new-life-event-modal">
                        Add Entry
                    </button>
                    <button class="btn btn-secondary pull-right " id="show_death_corr">
                        Show Life Event Correspondence
                    </button>
                </div>

                <div class="col-8">
                    <span>Filter Status: &nbsp; </span>
                    <button class="btn-primary toggle-row" data-owner="pending">
                        Pending
                    </button>
                    <button class="btn-primary toggle-row" data-owner="complete">
                        Complete
                    </button>
                </div>
            </div>

            <div class="col-12">
                <ul class="nav nav-tabs pt-3">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#all-life-events">Life Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#legacy">Legacy (Pre 2020)</a>
                    </li>
                </ul>

                <div class="tab-content text-left pt-3">
                    <div class="tab-pane active" id="all-life-events">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th>Status</th>
                                <th>Form/Event</th>
                                <th>Document For?</th>
                                <th>Affected Issuers</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody class="content-all">
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="legacy">
                        <div id="<?=_LINK?>death_poa">
                            <table id="death-tbl" class="scrollable">
                                <thead>
                                <th width="200px">Policy Number</th>
                                <th>Issuer</th>
                                <th>Form</th>
                                <th width="130px">Sent to Provider</th>
                                <th width="180px">Returned from Provider</th>
                                <th width="155px">Returned to Partner</th>
                                <th width="100px">Action</th>
                                </thead>
                                <tbody class="content">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div id="notes_box" class="pl-4"></div>
        </div>
    </div>

    <!-- New Life Event Modal -->
    <div class="modal fade" id="new-life-event-modal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="new-life-event" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Life Event for <?= $client ?></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="life-steps card">
                        <div id="life-step-summary" class="card-body">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div id="life-step-one" class="life-step card-body">
                            Select life event
                            <select id="event-type" name="event-type">
                                <option id="0">--</option>
                            </select>
                        </div>
                        <div id="life-step-two" class="life-step card-body">
                            <p>Select person affected:</p>
                            <input type="radio" name="client_owner" data-txt="<?=$client->one ?>" value="1"><?=$client->one ?><br>
                            <?php if ($client->two != " ") : ?>
                            <input type="radio" name="client_owner" data-txt="<?=$client->two ?>" value="2"><?=$client->two ?><br>
                            <input type="radio" name="client_owner" data-txt="<?=$client ?>" value="3"><?=$client ?><br>
                            <?php endif; ?>
                            <input type="radio" name="client_owner" value="4">Other <input type="text" name="other_reason" /><button type="button" id="other-affected-next"><i class="fas fa-chevron-circle-right"></i></button>
                        </div>
                        <div id="life-step-three" class="life-step card-body">
                            <p>
                                <span>Select/exclude affected providers</span>
                                <span class="pull-right"><button id="partner-only">Partner Only</button></span>
                            </p>

                            <table id="life-issuer" class="table">
                                <thead>
                                <tr>
                                    <th>Issuer</th>
                                    <th>Include?</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span id="event-feedback">&nbsp;</span>
                    <button type="button" id="submit-life-event" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function( ){
        var frame = $("div#life-<?=_LINK?>");
        var table = $("#all-life-events", frame);
        var pop = $(frame).popup_config({
            center: true
        });

        function getEvents(id = false)
        {
            $.ajax({
                url: "<?=Client::index_url(['id'=>$client->id,'do'=>'listLifeEvents'])?>",
                type: "GET",
                dataType: "json",
                async: false,
                success: function (r) {
                    $(".content-all", frame).html(r.data);
                    if (id && $('button.life-event-details[data-id="'+id+'"]').length) {
                        $('button.life-event-details[data-id="'+id+'"]').click();
                    }

                    $(".life-event-delete").on("click", function () {
                        if (confirm("Are you sure that you want to delete this Life Event record and all associated tracking information?")) {
                            $.ajax({
                                url: "<?=Client::index_url(['id'=>$client->id,'do'=>'destroyLifeEvent'])?>",
                                type: "POST",
                                data: {
                                    type: "json",
                                    event_id: $(this).data('id'),
                                },
                                dataType: "json",
                                success: function (r) {
                                    getEvents();
                                }
                            });
                        }
                    });
                }
            });
        }

        getEvents();

        // load notes - !IMPORTANT: Object = LifeEvent, Object ID is client ID, not life event ID
        $("div#notes_box", frame).load('/pages/tools/notes/?do=list&object=LifeEvent&object_id=<?= $client->id() ?>');

        // toggle rows for specific life event owners
        $(".toggle-row", frame).off().on("click", function ( ) {
            var btn = $(this);
            var owner = btn.data('owner').replace(/\s/g,'').replace('&','');
            btn.toggleClass("btn-primary btn-success");
            //$("tr."+owner).toggle();
            $("tr:not(."+owner+")", table).toggle();
        });

        $("#submit-life-event", frame).hide();
        $("#other-affected-next", frame).hide();

        $("#new-life-event", frame).on("click", function () {
            var btn = $(this);

            $('.life-step, [name=other_reason]', frame).hide();

            $.ajax({
                url: "pages/client/index.php?do=newLifeEvent",
                type: "GET",
                data: {
                    type: "json",
                    id: '<?= $client->id() ?>'
                },
                dataType: "json",
                before: function (r) {
                    $("#life-step-summary, #life-step-summary > .fa-spinner").show();
                },
                success: function (r) {
                    btn.attr('disabled', true);
                    $("#life-step-summary, #life-step-summary > .fa-spinner").hide();

                    var $select = $('#event-type', frame);
                    $.each(r.event_type,function(key, value) {
                        // build select of life event types
                        $select.append('<option value=' + key + '>' + value + '</option>');
                    });
                    $("#life-step-summary, #life-step-one", frame).toggle();

                    var rows = "";

                    $.each(r.issuer_array,function(key, value) {
                        // strip off issuer name used to order array alphabetically
                        var id = key.substring(key.indexOf("_") + 1);
                        // for each issuer create row
                        rows += "<tr><td>"+value['issuer']+"</td><td><input type='checkbox' value='"+id+"' class='issuer-checkbox'/></td></tr>";
                        // then create a hidden row for each policy under issuer which will be toggled later on
                        $.each(value['policies'],function(k, val) {
                            rows += "<tr class='"+id+" hidden policy_row'><td>"+val+"</td><td><input data-issuerid='"+id+"' type='checkbox' value='"+k+"' class='policy-checkbox' /> </td></tr>";
                        });
                    });

                    $("#life-issuer tbody").html(rows);

                    $(".issuer-checkbox", frame).off().on("click", function () {
                        var issuer_id = $(this).val();
                        // hide/show policy rows for issuer
                        $("tr."+issuer_id).toggleClass('hidden');

                        // automatically tick each policy under issuer, user can then opt out manually
                        $('tr.'+issuer_id).each(function(index, elem) {
                            $("tr."+issuer_id+" input").attr('checked', 'checked');
                        });

                        // final step should now have data, show submit button
                        $("#submit-life-event", frame).show();
                    });
                }
            });

            $("#partner-only", frame).on("click", function () {
                // partner only button clicked, uncheck any issues checkboxes and show submit button
                $('input:checkbox', frame).removeAttr('checked');
                $("#life-step-three", frame).hide();
                $('#life-step-summary', frame).append("Life event to Partner only - No issuers required").show();
                $("#submit-life-event", frame).show();
            });

            // select which life event has occurred
            $("#event-type", frame).on("change", function () {
                $('#life-step-summary', frame).html("Life Event: "+$('#event-type option:selected', frame).text()+"<hr>").show();
                $('#life-step-one, #life-step-two', frame).toggle();
            });

            // select which client (or other entity) is affected by the selected life event
            $("[name=client_owner]", frame).on("change", function () {
                if (parseInt($(this).val()) === 4) {
                    $("[name=other_reason]", frame).show();
                    $("#other-affected-next", frame).show();
                    $("#other-affected-next", frame).on("click", function () {
                        $('#life-step-summary', frame).append("Affected person: <span id='affected_name'>"+$("[name=other_reason]", frame).val()+"</span><hr>").show();
                        $('#life-step-two, #life-step-three', frame).toggle();
                    });
                } else {
                    $('#life-step-summary', frame).append("Affected person: <span id='affected_name'>"+$('[name=client_owner]:checked', frame).data('txt')+"</span><hr>").show();
                    $('#life-step-two, #life-step-three', frame).toggle();
                }
            });

            // lets now submit this to the database
            $("#submit-life-event", frame).on("click", function () {
                //build up affected issuer/policy mapping
                var affected_issuers = {};
                var last_issuer = 0;
                var i = 0;
                $('input[type=checkbox].issuer-checkbox:checked', frame).each(function () {
                    last_issuer = $(this).val();
                    if ($(this).is(":checked")) {
                        if ($.inArray(last_issuer, affected_issuers) === -1) {
                            affected_issuers[last_issuer] = [];
                        }
                    }
                });

                $('input[type=checkbox].policy-checkbox:checked', frame).each(function () {
                    var issuer_id = $(this).data('issuerid');
                    if ($(this).is(":checked")) {
                        if ($.inArray($(this).val(), affected_issuers[issuer_id]) === -1) {
                            affected_issuers[issuer_id].push($(this).val());
                        }
                    }
                });

                $.ajax({
                    url: "<?=Client::index_url(['id'=>$client->id,'do'=>'createLifeEvent'])?>",
                    type: "POST",
                    data: {
                        type: "json",
                        event_id: $('#event-type option:selected', frame).val(),
                        affected_person: $('#affected_name', frame).html(),
                        affected_issuers: affected_issuers
                    },
                    dataType: "json",
                    success: function (r) {
                        $("#event-feedback").html(r.feedback);
                        (!r.error) ?
                            $("#event-feedback").addClass('good_news').removeClass('bad_news') :
                            $("#event-feedback").addClass('bad_news').removeClass('good_news');

                        $("#new-life-event-modal").modal('toggle');
                        getEvents(r.id);
                    }
                });
            });
        });

        // get life event details
        $(frame).off().on("click", ".life-event-details", function () {
            var pop2 = new popup({
                url: "/pages/client/?id=<?=$client->id?>&do=showLifeEvent&event_id="+$(this).data('id'),
                center: true,
                title: "Life Event Details"
            });
            return false;
        });
    });
</script>