<style type="text/css">
    #details-<?=_LINK?> {
        max-height:750px;
        overflow: auto;
    }

    .diff-class {
        background: #d9e2e4;
    }

    .table>tbody>tr.no-border>td,
    .table>tbody>tr.no-border>th {
        border-top: none;
    }

    .sub-head {
        padding-top:18px !important;
    }

    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
        pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events:none;
    }
    .modal-content {
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width:inherit;
        max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;
    }

</style>

<div id="details-<?=_LINK?>" class="container">
    <div class="row no-gutters">
        <div style="width:95%">
            <div class="float-left">
                <p><strong><?= $event->event->desc() ?></strong> for <strong><?= $event->document_for() ?></strong></p>
                <p>
                    Added By: <strong><?= $event->added_by ?></strong><br />
                    Added When : <strong><?= $event->added_when ?></strong><br />
                    Life event ID : <strong><?= $event->id() ?></strong>
                </p>
            </div>
            <div class="float-right">
                <div class="alert <?php if ($event->status() == 'pending') { echo 'alert-warning'; } else { echo 'alert-success'; } ?>">
                    Status: <strong><?= ucfirst($event->status()) ?> - <span class="pending-count"><?= $pending_count ?></span> steps remaining</strong>
                </div>
            </div>
        </div>

        <div class="col-12 no-gutters">
            <table class="table ">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Status</th>
                    <th>Provider</th>
                    <th>Direction</th>
                    <th>Date Sent/Received</th>
                    <th>Tracker</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <?php
                    $last_issuer = 0;
                    $i = 0;
                ?>
                <?php foreach ($tracking as $track) : ?>
                <?php
                    $diff_class = ($last_issuer < 2) ? true : false;
                ?>
                <tr data-trackid="<?= $track->id(); ?>" class="no-border <?= ($diff_class) ? 'same-class' : 'diff-class' ?>">
                    <td>
                        <?= $track->has_workflow(); ?>
                    </td>
                    <td>
                        <?php
                            if ($track->date())  {
                                echo '<i title="Complete" class="far fa-check-circle text-success"></i>';
                            } else {
                                echo '<i title="Pending" class="far fa-clock text-warning"></i>';
                            }
                        ?>
                    </td>

                    <?php if ($i == 0) : ?>
                    <td rowspan="2" class="sub-head">
                        <?= ($track->issuer->id()) ? $track->issuer : $client->partner; ?><br />
                        <small>
                            <?php if ($partner_issuer_id) : ?>
                                <?= implode(", ", $policy_nums[$partner_issuer_id]) ?>
                            <?php else: ?>
                                <?php if($track->issuer->id()) : ?>
                                    <?= implode(", ", $policy_nums[$track->issuer->id()]) ?>
                                <?php endif; ?>
                            <?php endif; ?>
                        </small>
                    </td>
                    <?php endif; ?>

                    <td><span id="track-direction"><?= $track->direction(); ?></span></td>
                    <td>
                        <?php
                            if ($track->date())  {
                                echo Carbon\Carbon::createFromFormat('Y-m-d', $track->date())->format('d/m/Y');
                            } else {
                                echo el($track->date);
                            }
                        ?>
                    </td>
                    <td>
                        <?php if (!$track->date() && ($track->direction() == "Sent Out" || $track->direction() == "Returned")) { ?>
                            <?= el($track->tracker); ?>
                        <?php } else { ?>
                            <?= $track->tracker(); ?>
                        <?php }  ?>
                    </td>
                    <td>
                        <?php if (!$track->date()) { ?>
                        <button data-trackid="<?= $track->id(); ?>" data-issuer="<?=$track->issuer;?>" class="update-tracking" type="button"><i class="fa fa-floppy-o"></i> Update</button>
                        <?php } else { ?>
                            <?= $track->updated_by ?>
                            <small><br /><?= $track->updated_when ?></small>
                        <?php }?>
                    </td>
                </tr>
                <?php
                    $last_issuer++;
                    $i++;
                    if ($i == 2) { $i = 0; }
                    if ($last_issuer == 4) { $last_issuer = 0; }
                ?>
                <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Workflow Modal -->
    <div class="modal fade" data-backdrop="false" id="life-event-wf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Workflow for Life Event</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="workflow-desc">Enter workflow description:</label>
                            <textarea class="form-control" id="workflow-desc" rows="3" style="font-size:14px;width:90%"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="wf-feedback">&nbsp;</span>
                        <button id="wf-add" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function( ) {
        let frame = $("div#details-<?=_LINK?>");
        let track_id;
        let policyID;

        let tracking_pop = frame.popup_config({
            center: true
        });

        $(frame).on("click", ".update-tracking", function () {
            let btn = $(this);
            let row = btn.closest('tr');
            let parent_row = row.prev();
            let grandparent_row = parent_row.prev();

            let policyHref = $(".profile.Policy", row).attr('href');

            if (typeof policyHref != 'undefined') {
                policyID = policyHref.split("=").pop();
            } else {
                let policyHref = $(".profile.Policy", parent_row).attr('href');
                if (typeof policyHref != 'undefined') {
                    policyID = policyHref.split("=").pop();
                } else {
                    let policyHref = $(".profile.Policy", grandparent_row).attr('href');
                    policyID = policyHref.split("=").pop();
                }
            }

            let year = $("#lifeeventtracking\\[date\\]\\[Y\\]", row);
            let month = $("#lifeeventtracking\\[date\\]\\[M\\]", row);
            let day = $("#lifeeventtracking\\[date\\]\\[D\\]", row);
            let tracking = $("#lifeeventtracking\\[tracker\\]", row);
            let direction = $("#track-direction", row).html();
            let date_ymd = year.val()+"-"+month.val()+"-"+day.val();
            let date_dmy = day.val()+"/"+month.val()+"/"+year.val();
            let issuer = $(this).data('issuer');
            track_id = $(this).data('trackid');

            if (year != "" && month != "" && day != "") {
                if (direction == "Sent Out" && tracking.val() == "") {
                    alert("Please ensure you have provided a recorded delivery tracking number");
                    return false;
                } else {
                    $.ajax({
                        url: "<?=Client::index_url(['id'=>$client->id,'do'=>'updateLifeEventTracking'])?>",
                        type: "POST",
                        data: {
                            trackid: track_id,
                            date: date_ymd,
                            tracking: tracking.val(),
                            pending_count: $(".pending-count").html(),
                            direction: direction
                        },
                        dataType: "json",
                        before: function ( ) {
                            btn.html('<i class="fa fa-spinner fa-spin"></i>').attr('disabled', true);
                        },
                        success: function (r) {
                            if (!r.error) {
                                btn.html('<i class="far fa-check-circle text-success"></i>').attr('disabled', true);
                                $(year).remove();
                                $(month).replaceWith(date_dmy);
                                $(day).remove();
                                $(tracking).replaceWith(tracking.val());
                                $(".input.string", row).removeClass('input');
                                $(".fa-clock", row).removeClass("fa-clock text-warning").addClass("fa-check-circle text-success");
                                $(".pending-count", frame).html(r.pending_count);
                                if (!r.pending_count) {
                                    $(".alert", frame).removeClass('alert-warning').addClass('alert-success').html("Status - Complete");
                                    let table_row = $("tr[data-eventid=<?=$event?>]");
                                    table_row.removeClass('pending').addClass('complete');
                                    $("td.event-status", table_row).html("Complete");
                                }

                                if (direction === "Sent Out") {
                                    let desc = "Chase "+issuer+" for return of form: <?= $event->event->desc() ?>, for <?= $event->document_for() ?>";
                                    $("#workflow-desc").val(desc);
                                    $("#life-event-wf", frame).modal('show');
                                } else if (direction === "Returned") {
                                    // open standard letter form
                                    let letter_pop = new popup({
                                        url :'/pages/correspondence/?do=upload_form&object_index='+policyID+'&life_event=<?= $event->id() ?>',
                                        center: true,
                                        title: "Add Standard Letter"
                                    });

                                    setTimeout(function() {
                                        $("#std_letter_select").val(33).trigger('change');
                                    }, 250);
                                } else {
                                    tracking_pop.close();
                                }
                            } else {
                                btn.html('<i class="far fa-check-circle text-danger"></i>').attr('disabled', false);
                                alert(r.feedback);
                            }
                        }
                    });
                }
            } else {
                alert("Please ensure you have provided a date");
            }
        });

        $(frame).on("click", "#wf-add", function () {
            let btn = $(this);
            let direction = $("#track-direction", frame).html();
            let text = $('textarea#workflow-desc').val();

            $.ajax({
                url: "<?=Client::index_url(['id'=>$client->id,'do'=>'lifeEventWorkflow'])?>",
                type: "POST",
                data: {
                    trackid: track_id,
                    desc: text,
                    direction: direction
                },
                dataType: "json",
                before: function () {
                    btn.html('<i class="fa fa-spinner fa-spin"></i>');//.attr('disabled', true);
                },
                success: function (r) {
                    if (!r.error) {
                        $("#life-event-wf", frame).modal('hide');
                        tracking_pop.close();
                        // open standard letter form
                        let letter_pop = new popup({
                            url :'/pages/correspondence/?do=upload_form&object_index='+policyID+'&life_event=<?= $event->id() ?>',
                            center: true,
                            title: "Add Standard Letter"
                        });

                        if (direction == "Sent Out") {
                            if ("<?= $event->event->desc() ?>" == "Death Certificate") {
                                setTimeout(function() {
                                    $("#std_letter_select").val(30).trigger('change');
                                }, 250);
                            } else {
                                setTimeout(function() {
                                    $("#std_letter_select").val(31).trigger('change');
                                }, 250);
                            }
                        }

                    }
                }
            });
        });
    });
</script>
