<tr>
  <td class="merge_request"><input id="<?= $client->id()?>" type="checkbox" /></td>
  <td class="client">
      <?= $client->link( '$one->forename <b>$one->surname</b>' )?>
      <?= $client->ar_count() ? '<i class="far fa-exclamation-circle text-danger" title="Action Required"></i>' : '' ?>
  </td>
  <td class="client">
      <?php if($client->two->surname != ""): ?>
          <?= $client->link( '$two->forename <b>$two->surname</b>' )?>
          <?= $client->ar_count() ? '<i class="far fa-exclamation-circle text-danger" title="Action Required"></i>' : '' ?>
      <?php endif; ?>
  </td>
  <td class="address"><?= 
     ( strlen( $client->address ) > 50 ) 
     ? truncate( $client->address, 50 ) . " ( ".$client->address->postcode." )" 
     : $client->address;
  ?></td>
    <td><?php if( $client->archived() != NULL ){ echo '<span class="tag">Archived</span>'; }?></td>
    <td><?php if( $client->one->client_deceased() == 1 || $client->one->deceased_date() != NULL  ){ echo '<span class="tag">Client 1 Deceased</span>'; }?></td>
    <td><?php if( $client->two->client_deceased() == 1 || $client->two->deceased_date() != NULL ){ echo '<span class="tag">Client 2 Deceased</span>'; }?></td>
</tr>