<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var pop = frame.popup_config({
            title: "Client Merge Request",
            center: true,
        });

        $("#close", frame).on("click", function(){
            pop.close();
        });

        $("#merge", frame).on("click", function(){
            var clients = [];

            $(this).attr("disabled", true);

            $(".client_id", frame).each(function(){
                clients.push($(this).html().trim());
            });

            $.ajax({
                url: "/pages/partner/?get=client_merge_request",
                type: "GET",
                data: {
                    clients: clients.join(","),
                    id: "<?= $clients[0]->partner() ?>",
                },
                dataType: "JSON",
                success: function(response){
                    if (!response.error){
                        $("#merge_success", frame).slideDown();

                        setTimeout(function(){
                            pop.close();
                        }, 1000);
                    } else {
                        alert(response.status);
                    }
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <div class="alert alert-success hidden" id="merge_success">
        <i class="fas fa-check"></i> Merge requested
    </div>
    <p>Please confirm that you would like to combine the selected clients into one.</p>
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Address</th>
            <th>NiNo</th>
            <th>Nationality</th>
            <th>Residency</th>
            <th>Email</th>
            <th>Mobile No.</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($clients as $client): ?>
        <tr>
            <th>Client One<br>Client Two</th>
            <td class="client_id"><?= $client->id(); ?></td>
            <td><?= $client->one->title ?><br><?= $client->two->title ?></td>
            <td><?= $client->link($client->one) ?><br><?= $client->link($client->two) ?></td>
            <td><?= $client->one->dob ?><br><?= $client->two->dob ?></td>
            <td><?= $client->address ?></td>
            <td><?= $client->one->nino ?><br><?= $client->two->nino ?></td>
            <td><?= $client->one->nationality ?><br><?= $client->two->nationality ?></td>
            <td><?= $client->one->residency ?><br><?= $client->two->residency ?></td>
            <td><?= $client->one->email ?><br><?= $client->two->email ?></td>
            <td><?= $client->one->mob_phone ?><br><?= $client->two->mob_phone ?></td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <p>All <b>policies</b>, <b>mail</b>, and <b>cashflow payments</b> will be kept and transferred
        into the new unified policy record.</p>
    <p><strong>These changes go through an approval process and we try to approve these within 5
        days.</strong></p>

    <?php $canMerge = true; ?>

    <?php foreach($clients as $client): ?>
        <?php if(!$client->canMerge()): ?>
            <?php $canMerge = false; ?>
            <p class="text-danger"><?= $client ?> can't be merged. <?= $client->canMerge(true); ?></p>
        <?php endif; ?>
    <?php endforeach; ?>
    <div class="clearfix">
        <div class="float-right">
            <button class="btn btn-success" id="merge" <?= $canMerge ? '' : 'disabled' ?>><i class="fas fa-compress-alt"></i> Merge These Clients</button>
            <button class="btn btn-danger" id="close">Cancel</button>
        </div>
    </div>

</div>