<style>
    #merge_history{
        height: 400px;
    }
</style>
<script>
    var frame = $("#<?=_LINK?>");

    $(function(){
        $.ajax({
            url: "<?= Client::index_url(array('id' => $id, 'do' => 'get_merge_history', 'list' => 'true')) ?>",
            type: "GET",
            dataType: "JSON",
            success: function( r ){
                if (!r.error){
                    $("#merge_history tbody", frame).html(r.data);
                    var pop = frame.popup_config({
                        title: "Client Merge History",
                        center: true
                    });
                }
            }
        });
    });
</script>
<div id="<?=_LINK?>">
    <table class="table table-responsive" id="merge_history">
        <thead>
        <tr>
            <th>Old Client ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Added By</th>
            <th>Added When</th>
            <th>Requested By</th>
            <th>Requested When</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>