<?php
    $word = ($client->group_scheme()) ? "scheme" : "client";
?>

<style>
    #<?=_LINK?>{
        width: 600px;
    }
    #new_salutation {
        width:90%;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "New <?=$word?> Salutation",
            center: true
        });

        $("#accept_salutation", frame).on("click", function(){
            var salutation = $("#new_salutation", frame).val();

            $.ajax({
                url: "/pages/client/?do=new_salutation&id=<?=$client->id()?>&save=true",
                type: "GET",
                data: {
                    salutation: salutation,
                },
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        pop.close();
                        $("#<?=$callbackForm?> #client_form").trigger("refreshSalutation", [salutation]);
                    } else {
                        alert(response.data);
                    }
                }
            })
        });

        $("#reject_salutation", frame).on("click", function(){
            pop.close();
        });
    });
</script>

<div id="<?=_LINK?>" class="p-3 text-center">
    <p>Due to changes you've made, it is recommended you change the
        <?= $word; ?>
        salutation from '<?= $client->salutation() ?>' to the below.</p>

    <?= el::txt("new_salutation", $salutation) ?>

    <br><br>

    <button class="btn btn-danger" id="reject_salutation"><i class="fas fa-times"></i> Reject</button>
    <button class="btn btn-success" id="accept_salutation"><i class="fas fa-check"></i> Accept</button>
</div>