<style type="text/css">
    #<?=_LINK?> {
        width: 1400px;
        height: 500px;
    }
    #nb_tbl{
        width:100%;
        max-height:470px;
    }
    div#<?=_LINK?> table.scrollable div.scroll {
       max-height:235px;
       overflow-y: scroll;
   }
    div#<?=_LINK?> > div.notification{
        min-height:23px;
    }
    .create_nb_dir{
        float:right;
    }
</style>

<script type="text/javascript">
$(function(){

    var frame = $( "#<?=_LINK?>" );
    $("#notification1").hide().css("cursor", "text");
    $("#notification2").hide().css("cursor", "text");

    var pop = frame.popup_config({
        title: "New Business Directory",
        center: true
    });


    // on initial load, get all files within this specific clients new business folder
    $( frame ).bind(
        "load_nb_dir",
        function( ){
            $.ajax({
                url: "pages/client/index.php?do=nb_folder",
                type: "GET",
                data: {
                    type: "json",
                    id: "<?=$client->id()?>",
                    load_contents: true
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $(".content", frame).html(r.data);
                        if(r.dir == false){
                            $("#notification1").hide().css("cursor", "text");
                            $("#notification2").show().css("cursor", "text");

                        }else{
                            $("#main_dir", frame).html(r.dir);
                            $("#notification1").show().css("cursor", "text");
                            $("#notification2").hide().css("cursor", "text");
                        }
                        $("#main_dir", frame).html(r.dir);
                    }catch(e){
                        alert(e);
                    }
                }
            });

        });

    $( frame ).trigger( "load_nb_dir" );


    $(frame).on("click", ".create_nb_dir", function(){

        $(".create_nb_dir").prop('disabled', true);

        $.ajax({
            url: "pages/client/index.php?do=nb_folder",
            type: "GET",
            data: {
                type: "json",
                id: "<?=$client->id()?>",
                create: true
            },
            dataType: "json",
            success: function( r ){
                try{
                   if(r.error == true){
                       $(".content", frame).html(r.status);
                   }else{
                       setTimeout( function() {
                           $( frame ).trigger( "load_nb_dir" );
                           $("#notification1").show().css("cursor", "text");
                           $("#notification2").hide().css("cursor", "text");
                       }, 1000);

                   }
                }catch(e){
                    alert(e);
                }
            }
        });

    });

});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div class="notification static" style="display:block;font-size:10pt;">
        <span id="notification1">Below you will find a table listing any new business documents relating to <?=$client->link();?>, to access these
        files simply copy the 'File URL' below into the search box next to your windows button and you will then be able to open this file,
        or copy this link to access the main folder <b><span id="main_dir">&nbsp;</span></b></span>
        <span id="notification2">There is no New Business folder for this client <button class="create_nb_dir">Create New Business Folder</button></span>
    </div>

    <table id="nb_tbl" class="scrollable luxe">
        <thead>
            <th>Filename</th>
            <th width="800px">File URL</th>
            <th width="100px" class="date">Last Modified</th>
        </thead>
        <tbody class="content">

        </tbody>
    </table>
</div>