<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var form = $("#ongoing_service_form", frame);

        var pop = frame.popup_config({
            title: "Servicing Document Upload",
            center: true,
        });

        saveProfileNotification(form);

        form.bind("successfulSave", function(){
            var formData = new FormData();

            if ($("#serv_doc_file", frame).val()){
                formData.append("servicing_document", $("#serv_doc_file", frame)[0].files[0]);

                $.ajax({
                    url: "/pages/client/?do=upload_servicing_document&id=<?= $os->client_id() ?>",
                    type: "POST",
                    data: formData,
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    success: function(response){
                        if (response.success){
                            // refresh document storage table
                            $(document).trigger("fs_populate");
                            // close the popup
                            pop.close();
                        } else {
                            alert("An error occurred when uploading the document. " + response.data);
                        }
                    }
                });
            } else {
                alert("No file upload");
            }

        });
    });
</script>

<div id="<?=_LINK?>" class="p-3">
    <form id="ongoing_service_form" name="ongoing_service_form" action="<?= $os->id() ? OngoingService::get_common_url(['id'=>$os->id(),'do'=>'save']) : OngoingService::get_common_url(['do'=>'create']) ?>" method="POST">
        <?= el( $os->client_id, false, false, false, false, DatabaseObject::ELEMENT_HIDDEN ) ?>

        <div class="row no-gutters">
            <div class="col-12 my-5 text-center">
                <label>Servicing Document</label>
                <br>
                <input type="file" id="serv_doc_file">
            </div>

            <div class="col-12">
                <h5>
                    <?php if($os->id()): ?>
                    Current Review
                    <?php else: ?>
                    New Review
                    <?php endif; ?>
                </h5>
            </div>

            <div class="col-6">
                <label>Review Offered</label>
                <?= el($os->review_offered) ?>
            </div>

            <div class="col-6">
                <label>Review Accepted</label>
                <?= el($os->review_accepted) ?>
            </div>

            <div class="col-6">
                <label>Review Date</label>
                <?= el($os->proposed_review_date) ?>
            </div>

            <div class="col-6">
                <label>Review Type</label>
                <?= el($os->review_type) ?>
            </div>
        </div>
    </form>
</div>