<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        function loadOngoingService(){
            //show loading spinner
            $("#os_table tbody", frame).html("<tr><td colspan='" + $("#os_table thead th", frame).length + "' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>");

            // get the data
            $.ajax({
                url: "/pages/client/?do=ongoing_service",
                type: "GET",
                data: {
                    id: "<?= $client->id() ?>",
                },
                dataType: "JSON",
                success: function(response){
                    // clear the table
                    $("#os_table tbody", frame).html("");

                    if (response.success){
                        $("#os_table tbody", frame).html(response.data);
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        $(".os_tab").on("click", function(){
            //lazy load the tab, it could get big after a while
            loadOngoingService();
        });

        window.loadOngoingService = function(){
            loadOngoingService();
        };

        $("#new-os", frame).on("click", function(){
            new popup({
                url: "/pages/client/?id=<?= $client->id() ?>&do=backdated_service"
            });
        });

        $("#extensions", frame).on("click", function(){
            new popup({
                url: "/pages/client/?id=<?= $client->id() ?>&do=extensions"
            });
        });
    });
</script>
<div id="<?=_LINK?>">
    <?= $client->review_extensions() ?>

    <div class="row no-gutters mb-2">
        <div class="col-4">
            <?php if(in_array(User::get_default_instance("department"), [7, 15])): ?>
                <button class="btn btn-outline-success" id="new-os"><i class="fas fa-plus-circle"></i> Add Previous Review</button>
            <?php endif; ?>
            <button class="btn btn-outline-primary" id="extensions"><i class="fas fa-info-circle"></i> View Extensions</button>
        </div>
    </div>

    <table class="table table-striped" id="os_table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Details</th>
            <th>Added When</th>
            <th>Review Accepted</th>
            <th>Review Type</th>
            <th>Review Date</th>
            <th>Review Done</th>
            <th>Closed When</th>
        </tr>
        </thead>
        <tbody id="os_table_body">
        </tbody>
    </table>
</div>