<style type="text/css">
form#<?=_LINK?> {
    width: 800px;
}
</style>

<script type="text/javascript">
    $(function () {

        var form = $("form#<?=_LINK?>");
        var pop = $(form).popup_config({
            center: true,
            title: "Release Client Income"
        });

        $("#submit-hold", form).on("click", function () {
            $.ajax({
                url: "pages/client/index.php?do=release_income",
                type: "GET",
                data: {
                    type: "json",
                    id: "<?= $client->id() ?>"
                },
                dataType: "json",
                success: function (r) {
                    if (r && r.feedback) {
                        $(".status", form).html(r.feedback);
                    }
                    $("#submit-hold").attr("disabled", "disabled");
                    $("#income-release").text("Hold Income").attr('id', 'income-hold');
                    $("#income-hold-alert").remove();
                    pop.close();
                }
            });
        });
    });
</script>

<div class="p-2">
    <form id="<?=_LINK?>" name="<?=_LINK?>" action="#" method="POST">
        <table class="table">
            <tbody>
                <tr>
                    <th>Client</th>
                    <td><?= $client ?></td>
                </tr>
                <tr>
                    <th>Amount to be released:</th>
                    <td>
                        <?= $amount; ?>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="float-left">
                <span class="status">&nbsp;</span>
            </div>
            <div class="float-right">
                <button type="button" id="submit-hold">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </div>
        </div>
    </form>
</div>