<style>
    #scheme-container-<?=_LINK?> #client-scheme-name {
        color: #005B7A !important;
    }
    .modal-dialog {
        max-width: 50%;
    }
    #scheme-container-<?=_LINK?> .col-8 {
        padding-bottom:15px;
     }
</style>

<div id="scheme-container-<?=_LINK?>">
    <div class="mb-2">
        <button type="button" id="add-scheme-number" data-toggle="modal" data-backdrop="false" data-target="#addSchemeNoModal">
            <i class="fas fa-plus-circle fa-margin-right"></i> Add Scheme Number
        </button>

        <button type="button" id="add-scheme-member" data-toggle="modal" data-backdrop="false" data-target="#addSchemeMemberModal">
            <i class="fas fa-plus-circle fa-margin-right"></i> Add Scheme Member
        </button>
    </div>

    <div>
        <table id="scheme-number-tbl" class="scrollable">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Scheme Number</th>
                <th>Issuer</th>
                <th>Type</th>
                <th>Status</th>
                <th>Owner</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody class="content">
            <tr>
                <td colspan="4">No Scheme numbers to display for <?= $client ?></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Add Scheme Number Modal -->
    <div class="modal fade" id="addSchemeNoModal" tabindex="-1" role="dialog" aria-labelledby="addSchemeNoModal" data-backdrop="false"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Add Scheme Number for <span id="client-scheme-name"><?= $client ?></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=Policy::get_common_url(['do'=>'create'])?>" method="POST">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="policy[number]" class="col-sm-3 col-form-label">Scheme Number</label>
                            <div class="col-sm-7">
                                <?= el($policy->number) ?>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="policy[type]" class="col-sm-3 col-form-label">Type</label>
                            <div class="col-sm-7">
                                <?= el($policy->type, false, false, false, false, false, "instant") ?>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="policy[issuer]" class="col-sm-3 col-form-label">Issuer</label>
                            <div class="col-sm-7">
                                <?= el($policy->issuer) ?>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="policy[owner]" class="col-sm-3 col-form-label">Owner</label>
                            <div class="col-sm-7">
                                Scheme
                                <select id="policy[owner]" name="policy[owner]" class="hidden">
                                    <option value="1">Client One Only</option>
                                    <option value="2">Client Two Only</option>
                                    <option value="3">Joint Policy</option>
                                    <option value="4">Trustee</option>
                                    <option value="5" selected>Scheme</option>
                                    <option value="6">Unknown</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="policy[reason]" class="col-sm-3 col-form-label">Reason for adding</label>
                            <div class="col-sm-7">
                                <textarea name="policy[reason]" id="policy[reason]" style="width: 450px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span class="feedback">&nbsp;</span>
                        <input type="hidden" id="policy[client]" name="policy[client]" value="<?= $client->id() ?>">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary submit" id="submit-scheme-no">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Scheme Member Modal -->
    <div class="fade modal" id="addSchemeMemberModal" tabindex="-1" role="dialog" aria-labelledby="addSchemeMemberModal"
         aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Add Scheme Member
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="<?=SchemeMember::get_common_url(['do'=>'create'])?>" method="POST">
                    <div class="modal-body">
                        <div class="row no-gutters">
                            <div class="col-6">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <label>Scheme Number</label>
                                    </div>
                                    <div class="col-8">
                                        <select id="schememember[scheme_number]" name="schememember[scheme_number]">
                                        </select>
                                    </div>

                                    <div class="col-4">
                                        <label>Member Number</label>
                                    </div>
                                    <div class="col-8">
                                        <?= el($member->member_number) ?>
                                    </div>

                                    <div class="col-4">
                                        <label>Member Name</label>
                                    </div>
                                    <div class="col-8">
                                        <?= el($member->member_name) ?>
                                    </div>

                                    <div class="col-4">
                                        <label>Member DOB</label>
                                    </div>
                                    <div class="col-8">
                                        <?= el($member->dob) ?>
                                    </div>

                                    <div class="col-4">
                                        <label>Member NINO</label>
                                    </div>
                                    <div class="col-8">
                                        <?= el($member->nino) ?>
                                    </div>

                                    <div class="col-4">
                                        Email Address
                                    </div>
                                    <div class="col-8">
                                        <?= el($member->email) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        Active Member
                                    </div>
                                    <div class="col-8">
                                        <?= el($member->active) ?>
                                    </div>

                                    <div class="col-12">
                                        <label>Address</label>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <?= el($member->address->line1) ?>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <?= el($member->address->line2) ?>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <?= el($member->address->line3) ?>
                                    </div>
                                    <div class="col-12 mb-1">
                                        <?= el($member->address->postcode) ?>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <span class="feedback">&nbsp;</span>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary submit" id="submit-scheme-member">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    $(function () {

        var frame = $('#scheme-container-<?=_LINK?>');
        var tbl = $('#scheme-number-tbl', frame);

        function getSchemes() {
            $.get("<?=Policy::get_common_url()?>", {
                    'do': "list",
                    'filter': {
                        'client': "<?=$client->id?>",
                        'owner': "5"
                    },
                    'excludes[]': ["client", "partner"]
                },
                function (r) {
                    $(".content", tbl).html(r);
                    var admin_rows = $("tr", tbl).find(`[data-provider*="*"]`);
                    var admin_rows2 = admin_rows.clone();
                    admin_rows.hide();

                    $("#admin_policies tbody").html(admin_rows2).css({'max-height':'200px', 'overflow':'auto'});
                    $("#admin_policies td:first-child").remove();
                    $("#admin_policies td").css('padding', '5px 3px');

                });
        }

        // initial load of scheme number table
        getSchemes();

        $(".submit", frame).on("click", function () {
            var form = $(this).closest('form', frame);

            $.ajax({
                url: form.attr('action'),
                type: "POST",
                data: form.serialize(),
                dataType: "json",
                before: function () {
                    $('.feedback', frame).html('').removeClass('bad_news good_news');
                },
                success: function (r) {
                    if (r.error) {
                        $('.feedback', frame).html(r.error).addClass('bad_news');
                    } else {
                        $('.feedback', frame).html('Successfully added').addClass('good_news');
                        $(".submit", frame).attr('disabled', 'disabled');
                        getSchemes();
                    }
                }
            });
        });

        $("#add-scheme-member", frame).on("click", function () {
            var scheme_select = $('#schememember\\[scheme_number\\]', frame);


            // empty select
            scheme_select.empty();
            // append each scheme numbers to select
            $("table#scheme-number-tbl tbody tr", frame).not(`[data-provider*="*"]`).each(function() {
                if ($(this).data('id') !== undefined) {
                    scheme_select.append($('<option>', {
                        value: $(this).data('id'),
                        text: $(this).data('number') +" - " + $(this).data('provider')
                    }));
                }
            });
        });
    });
</script>