<style>
    #<?=_LINK?> {
        color: #005B7A !important;
    }
</style>

<div id="<?=_LINK?>" class="table-responsive">

    <table id="scheme-members-tbl" class="table table-striped">
        <thead>
        <tr>
            <th>Member Number</th>
            <th>Member Name</th>
            <th>DOB</th>
            <th>NINO</th>
            <th>Email</th>
            <th>Address</th>
            <th>Is Active?</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($scheme_members as $member) : ?>
            <tr id="<?= $member->id(); ?>">
                <td>
                    <?= el($member->member_number) ?>
                </td>
                <td>
                    <?= el($member->member_name) ?>
                </td>
                <td>
                    <?= el($member->dob) ?>
                </td>
                <td>
                    <?= el($member->nino) ?>
                </td>
                <td>
                    <?= el($member->email) ?>
                </td>
                <td>
                    <?= el($member->address->line1) ?>
                    <?= el($member->address->line2) ?>
                    <?= el($member->address->line3) ?>
                    <?= el($member->address->postcode) ?>
                </td>
                <td>
                    <?= el($member->active) ?>
                </td>
                <td>
                    <button class="submit-changes">Update</button>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>

<div class="col-12">
    <span id="member-update-feedback"></span>
</div>

<script type="application/javascript">
    $(function () {
        let frame = $( "#<?=_LINK?>" );

        frame.popup_config({
            title: "Scheme Members - <?= $member->scheme_number ?> -   <?= $member->scheme_number->issuer ?>",
            center: true
        });

        $(".submit-changes", frame).on("click", function () {
            let row = $(this).closest('tr');

            $.ajax({
                url: '/pages/policy/?do=save_scheme_member',
                type: "POST",
                data: {
                    member_id: $(row).attr('id'),
                    member_number: $("#schememember\\[member_number\\]", row).val(),
                    member_name: $("#schememember\\[member_name\\]", row).val(),
                    dob: $("#schememember\\[dob\\]\\[Y\\]", row).val()+"-"+$("#schememember\\[dob\\]\\[M\\]", row).val()+"-"+$("#schememember\\[dob\\]\\[D\\]", row).val(),
                    nino: $("#schememember\\[nino\\]", row).val(),
                    email: $("#schememember\\[email\\]", row).val(),
                    address_line1: $("#schememember\\[address\\]\\[line1\\]", row).val(),
                    address_line2: $("#schememember\\[address\\]\\[line2\\]", row).val(),
                    address_line3: $("#schememember\\[address\\]\\[line3\\]", row).val(),
                    address_postcode: $("#schememember\\[address\\]\\[postcode\\]", row).val(),
                    active: $("#schememember\\[active\\]", row).val()
                },
                dataType: "json",
                before: function () {
                    $("#member-update-feedback").html('');
                },
                success: function (r) {
                    try {
                        $("#member-update-feedback").html(r.feedback);
                        if (r.error) {
                            $("#member-update-feedback").addClass('bad_news').removeClass('good_news');
                        } else {
                            $("#member-update-feedback").addClass('good_news').removeClass('bad_news');
                            //$(".submit-changes", row).attr('disabled', 'disabled');
                        }
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });
    });
</script>
