<style>
    #<?=_LINK?>{
        width: 400px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Restore Servicing Level",
            center: true
        });

        saveProfileNotification(frame);

        frame.on("successfulSave", function(){
            pop.close();

            var target = $("#content_window");
            var form = $('#client_form');
            var parentPop = form.closest(".popup");

            if(parentPop.length){
                target = $(".content:first", parentPop);
            } else if ($("#content_window>#profile").length){
                target = $("#content_window>#profile");
            }

            target.load("/common/Client/?id=<?=$spl->client_id()?>&get=profile");
        });
    });
</script>

<form class="py-3 px-5" id="<?=_LINK?>" method="POST" action="<?= Client::index_url(['id' => $spl->client_id(), 'do' => 'restore_service_level']) ?>">
    <?= el($spl->client_id, false, false, false, false, DatabaseObject::ELEMENT_HIDDEN) ?>
    <?= el($spl->partner_id, false, false, false, false, DatabaseObject::ELEMENT_HIDDEN) ?>

    <div class="row no-gutters mb-2">
         <div class="col-6">
             Level
         </div>
        <div class="col-6">
            <?= el($spl->level) ?>
        </div>
    </div>

    <div class="row no-gutters mb-2">
        <div class="col-6">
            Level When
            <br><i>This should be the date the client agreement was processed.</i>
        </div>
        <div class="col-6">
            <?= el($spl->level_when) ?>
        </div>
    </div>

    <div>
        <label>
            Reason
        </label>
        <textarea name="reason" id="reason" class="w-100" rows="5"></textarea>
    </div>
</form>