<style type="text/css">
form#<?=_LINK?> {
    width: 500px;
    padding: 10px;
}

form#<?=_LINK?> > table {
    margin: auto;
    width: 98%;
}

form#<?=_LINK?> > table td {
    padding-bottom: 10px;
}
#transfer_reason {
    width:100%;
}
</style>

<script type="text/javascript">
    $(function () {

        var form = $("#<?=_LINK?>");

        form.popup_config({
            title: "Set Owner for <?=$client?>",
            center: true
        });

        $(document).on("keyup", "#transfer_reason", function () {
            if ($("#transfer_reason").val().length >= 20) {
                $("#submit-transfer").removeAttr('disabled')
            } else {
                $("#submit-transfer").attr('disabled', 'disabled');
            }
        });

        saveProfileStatusSpan(form);
    });
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=$_SERVER['REQUEST_URI']?>" method="POST">

    <p>
        Please complete the form below to transfer <?=$client->link()?> to a different Partner.
        <br/>
        <br/>
        By performing this transfer <b>all</b> correspondence items will be transferred to(and therefore viewable by)
        the new partner.
        <br/>
        <br/>
        This transfer will not move any Income, so the finance department needs to be involved if Income has been paid
        in the past.
    </p>

    <table>
        <tbody>
        <tr>
            <th width="175px">Current Partner</th>
            <td>
                <?= $client->partner->link() ?>
                <?= el::hide("current_partner", $client->partner()) ?>
            </td>
        </tr>
        <tr>
            <th>Transfer to Partner</th>
            <td><?= el::suggest( "partner", Partner::index_url(["change_partner" => true]), "search") ?></td>
        </tr>
        <tr>
            <th>Reason for transfer <span class="required"></span></th>
            <td>
                <input type="text" name="transfer_reason" id="transfer_reason">
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <span class="status">&nbsp;</span>
                <input id="submit-transfer" type="submit" value="Transfer Data" disabled/>
            </td>
        </tr>
        </tbody>
    </table>
</form>



