<style>
    #<?=_LINK?>{
        width: 600px;
    }
</style>
<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Unsegment Client",
            center: true
        });

        $("#reason", frame).on("keyup", function(){
            if ($(this).val().length > 3){
                $("#unsegment", frame).attr("disabled", false);
            } else {
                $("#unsegment", frame).attr("disabled", true);
            }
        });

        $("#unsegment", frame).on("click", function(){
            var reason = $("#reason", frame).val();

            $.ajax({
                url: "/pages/client/?do=unsegment_client",
                type: "GET",
                data: {
                    id: "<?= $client->id() ?>",
                    reason: reason,
                },
                dataType: "JSON",
                success: function(response) {
                    if (response.success){
                        pop.close();

                        var target = $("#content_window");
                        var form = $('#client_form');
                        var parentPop = form.closest(".popup");

                        if(parentPop.length){
                            target = $(".content:first", parentPop);
                        } else if ($("#content_window>#profile").length){
                            target = $("#content_window>#profile");
                        }

                        target.load("/common/Client/?id=<?=$client->id()?>&get=profile");
                    } else {
                        alert(response.data);
                    }
                }
            });
        });
    });
</script>
<div class="p-3" id="<?=_LINK?>">
    <p>Please confirm why you would like to unsegment this client?</p>
    <textarea class="w-100" id="reason" rows="5"></textarea>

    <div class="text-center mt-3">
        <button class="btn btn-success" id="unsegment" disabled>Unsegment</button>
    </div>
</div>