<script type="text/javascript">
$(function( ){

    var frame = $( "#<?=_LINK?>" );
    var pop = $( frame ).get_popup( );

    $( ".scrollable", frame ).bind(
        "ready",
        function( ){
            $(pop).center( );
        }
    );
	

});
</script>

<style type="text/css">
#<?=_LINK?> table{
   width: 800px;
   font-size: 10pt;
}
#<?=_LINK?> div.scroll{
    height: 300px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

<table class="scrollable">

  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Number 1</th>
      <th>Number 2</th>
      <th>Direction</th>
    </tr>
  </thead>
      <?= $call_list ?>
  <tbody>
  </tbody>
  
</table>

</div>
