<?php

// Exclude user object on department numbers
$depts = array(
    '540' => 'Executive Support',
    '550' => 'Acquisition Support',
    '560' => 'Client Services',
    '570' => 'New Business',
    '580' => 'Finance',
    '588' => 'IT',
    '680' => 'Virtue',
    '280' => 'Acquisition Support',
    '281' => 'Client Services',
    '283' => 'Executive Support',
    '284' => 'Finance',
    '285' => 'IT',
    '288' => 'New Business',
    '291' => 'Virtue'
);


// Was call from a department number? This should never pass but you never know!
if( array_key_exists($call->number1(), $depts) ) {

    $key = $call->number1();
    $department = $depts[$key];
    $staff_name_1 = $department;

} else {

    // Check if call from internal number
    $s = Search(new User);
    $s -> eq('internal_extension', $call->number1);
    $s -> eq('active', 1);
    $s -> limit( 1 );

    if($user = $s->next()){
        $staff_name_1 = $user->link($user->forename() . ' ' . $user->surname() . ' ( '. $user->internal_extension . ' ) ');
    }

}

// Was call directed to a department number?  If so, list department name else list individual user
if ( array_key_exists($call->number2(), $depts) ) {

    $key = $call->number2();
    $department  = $depts[$key];
    $staff_name_2 = $department;

} else {

    // Check if call to internal number
    $s2 = Search(new User);
    $s2 -> eq('internal_extension', $call->number2);
    $s2 -> eq('active', 1);
    $s2 -> limit( 1 );

    if($user2 = $s2->next()){
        $staff_name_2 = $user2->link($user2->forename() . ' ' . $user2->surname() . ' ( '. $user2->internal_extension . ' ) ');
    }

}

?>

<tr>
    <td><?= $call->start ?></td>
    <td><?= $call->end ?></td>
    <td><?php if( isset($staff_name_1) ) { echo $staff_name_1; } else { echo $call->number1; }?></td>
    <td><?php if( isset($staff_name_2) ) { echo $staff_name_2; } else { echo $call->number2; }?></td>
    <td><?= $call->direction ?></td>
</tr>