<script type="text/javascript">
  $(function( ) {

      $("#calls > tbody").load("/pages/call/index.php?object=<?= $obj ?>&id=<?= $id ?>&list=true");

	});
</script>

<style type="text/css">
#<?=_LINK?> div.scroll{
    height: 150px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<table id="calls" name="calls" class="scrollable">

		<thead>
			<tr>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Number 1</th>
				<th>Number 2</th>
				<th>Direction</th>
			</tr>
		</thead>
			
		<tbody>
		</tbody>
		
	</table>

</div>
