
<script type="text/javascript">

    $(function(){


        var form = $("form#call_scoring");
        var table = $("table#call_scoring_tbl");

        var pop =  $( form ).popup_config({
            title: "Update Call Score - 2018 form",
            center: true
        });

        $("input#callscoring2018\\[score\\]").attr("readonly",true);


        /*
         Lets implement a running total for selected options, calculate %age score and present to user
        */

        var totals = $("td#totals");
        var score = 0;

        function score_breakdown_2018() {

            var select = $('select:not([id*="date"])');

            var n = $(select).filter(function() {
                return $(this).val() == "1";
            });
            var y = $(select).filter(function() {
                return $(this).val() == "2";
            });
            var na = $(select).filter(function() {
                return $(this).val() == "3";
            });

            $(totals).text("");
            $(totals).text("Yes ( " + y.length + " ) : No ( " + n.length + " ) : N/A ( " + na.length + " )");

            // Call score percentage => ( yes / (yes + no) ) / * 100
            score = ( y.length / ( y.length + n.length )  ) * 100;
            $("input#callscoring2018\\[score\\]").val(parseInt(score));

            if(score < 80 ){
                $('td#result').text('NOT MET');
                $('td#result').css('color','red');
            }else if(score > 80 && score < 90){
                $('td#result').text('MET');
                $('td#result').css('color','green');
            }else if( score > 90){
                $('td#result').text('EXCEED');
                $('td#result').css('color','green');
            }

        }
        // Update breakdown of call score if user changes answer to question
        $("select").change(function() {
            score_breakdown_2018();
        });

        // Save new call scoring entry
        saveProfileNotification(form);

        // Show list of call score entries on successful addition - mainly to prevent user adding same entry twice
        $(form).bind(
            "successfulSave",
            function( ){
                $("div#content_window").load("/pages/call/scoring.php?do=list");
            }
        );
    });

</script>





<style type="text/css">
    form#call_scoring #<?=_LINK?> {
                              height: 500px;
                          }
    td.comment > span > input{
        width: 99%;
    }
</style>
<form id="call_scoring" name="call_scoring" action="<?=CallScoring2018::get_common_url(array("do"=>"save","id"=>$cs->id))?>" method="POST">
<div id="<?=_LINK?>" name="<?=_LINK?>" class="panel scroll">

    <h1>Call Monitoring Form</h1>

    <table class="1data">
        <thead>
        <tr>
            <td colspan="6">Call Info</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>User</td>
            <td><?= el($cs->user) ?></td>
            <td>Person 2</td>
            <td><?= el($cs->person2) ?></td>
            <td>Date of Call</td>
            <td><?= el($cs->date,false,true,true) ?></td>
        </tr>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Greeting</td><td width="20%">Result</td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=1; $i<=2; $i++){ ?>
        <?php $q = "q".$i; ?>
        <tr>
            <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
            <td width="20%"><?= el($cs->$q) ?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Security</td><td width="20%">Result</td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=3; $i<=4; $i++){ ?>
        <?php $q = "q".$i; ?>
        <tr>
            <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
            <td width="20%"><?= el($cs->$q) ?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Information</td><td width="20%">Result</td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=5; $i<=11; $i++){ ?>
        <?php $q = "q".$i; ?>
        <tr>
            <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
            <td width="20%"><?= el($cs->$q) ?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Ending</td><td width="20%">Result</td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=12; $i<=13; $i++){ ?>
        <?php $q = "q".$i; ?>
        <tr>
            <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
            <td width="20%"><?= el($cs->$q) ?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Soft Skills</td><td width="20%">Result</td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=14; $i<=17; $i++){ ?>
        <?php $q = "q".$i; ?>
        <tr>
            <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
            <td width="20%"><?= el($cs->$q) ?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Telephony Skills</td><td width="20%">Result</td>
        </tr>
        </thead>
        <tbody>
        <?php for($i=18; $i<=20; $i++){ ?>
        <?php $q = "q".$i; ?>
        <tr>
            <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
            <td width="20%"><?= el($cs->$q) ?></td>
        </tr>
        <?php } ?>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td width="80%">Percent call quality score</td><td width="30%">Result</td><td width="20%">Score</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="30%" id="totals"></td>
            <td width="50%" id="result"></td>
            <td width="20%"><?= el($cs->score) ?></td>
        </tr>
        </tbody>
    </table>

    &nbsp;

    <table class="data">
        <thead>
        <tr>
            <td>Comments</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                Keep On <br />
                <textarea id="callscoring2018[keep_on]" name="callscoring2018[keep_on]" rows="5" cols="159" maxlength="500"><?= $cs->keep_on() ?></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Work On<br />
                <textarea id="callscoring2018[work_on]" name="callscoring2018[work_on]" rows="5" cols="159" maxlength="500"><?= $cs->work_on() ?></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Training Needs<br />
                <textarea id="callscoring2018[training_needs]" name="callscoring2018[training_needs]" rows="5" cols="159" maxlength="500"><?= $cs->training_needs() ?></textarea>
            </td>
        </tr>
        </tbody>
    </table>

    &nbsp;
</div>

</form>