<script type="text/javascript">

$(function(){

	var form = $("form#call_scoring");
    var table = $("table#call_scoring_tbl");

    $("input#callscoring\\[score\\]").attr("readonly",true);


    /*
     Lets implement a running total for selected options, calculate %age score and present to user
    */

    var totals = $("td#totals");
    var score = 0;

    function score_breakdown() {

        var select = $('select:not([id*="date"])');

        var n = $(select).filter(function() {
            return $(this).val() == "1";
        });
        var y = $(select).filter(function() {
            return $(this).val() == "2";
        });
        var na = $(select).filter(function() {
            return $(this).val() == "3";
        });

        $(totals).text("");
        $(totals).text("Yes ( " + y.length + " ) : No ( " + n.length + " ) : N/A ( " + na.length + " )");

        // Call score percentage => ( yes / (yes + no) ) / * 100
        score = ( y.length / ( y.length + n.length )  ) * 100;
        $("input#callscoring\\[score\\]").val(parseInt(score));

    }
    // Update breakdown of call score if user changes answer to question
    $("select").change(function() {
        score_breakdown();
    });

    // Save new call scoring entry
    saveProfileNotification(form);

    // Show list of call score entries on successful addition - mainly to prevent user adding same entry twice
    $(form).bind(
            "successfulSave",
            function( ){
                $("div#content_window").load("/pages/call/scoring.php?do=list");
            }
    );

});

</script>

<style type="text/css">
form#call_scoring #<?=_LINK?> {
    height: 500px;
}
td.comment > span > input{
    width: 99%;
}
</style>
<form id="call_scoring" name="call_scoring" action="<?=CallScoring::get_common_url(array("do"=>"create"))?>" method="POST">
<div id="<?=_LINK?>" name="<?=_LINK?>" class="panel scroll">

    <h1>Call Monitoring Form</h1>

        <?php $cs = new CallScoring(); ?>

        <table class="data">
            <thead>
                <tr>
                    <td colspan="6">Call Info</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User</td>
                    <td><?= el($cs->user) ?></td>
                    <td>Person 2</td>
                    <td><?= el($cs->person2) ?></td>
                    <td>Date of Call</td>
                    <td><?= el($cs->date,false,true,true) ?></td>
                </tr>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="80%">Greeting</td><td width="20%">Result</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=1; $i<=6; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                    <td width="20%"><?= el($cs->$q) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="80%">Handle Contact</td><td width="20%">Result</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=7; $i<=9; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                    <td width="20%"><?= el($cs->$q) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="80%">Solution Information</td><td width="20%">Result</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=10; $i<=11; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                    <td width="20%"><?= el($cs->$q) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="80%">Notifications</td><td width="20%">Result</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=12; $i<=14; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                    <td width="20%"><?= el($cs->$q) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="80%">Telephony Skills</td><td width="20%">Result</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=15; $i<=16; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                    <td width="20%"><?= el($cs->$q) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="80%">End Call</td><td width="20%">Result</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=17; $i<=18; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                    <td width="20%"><?= el($cs->$q) ?></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td width="80%">Soft Skills</td><td width="20%">Result</td>
            </tr>
            </thead>
            <tbody>
            <?php for($i=19; $i<=30; $i++){ ?>
            <?php $q = "q".$i; ?>
            <tr>
                <td width="80%"><?= strtoupper($q)." - " ?><?= $cs->$q->display_name() ?></td>
                <td width="20%"><?= el($cs->$q) ?></td>
            </tr>
            <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td width="80%">Total</td><td width="20%">Result</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="80%"></td>
                <td id="totals" name="totals" width="20%"></td>
            </tr>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td width="80%">Percent call quality score</td><td width="20%">Result</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="80%"></td>
                <td width="20%"><?= el($cs->score) ?></td>
            </tr>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td>Comments</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Keep On <br />
                    <textarea id="callscoring[keep_on]" name="callscoring[keep_on]" rows="5" cols="159" maxlength="500"><?= $cs->keep_on() ?></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Work On<br />
                    <textarea id="callscoring[work_on]" name="callscoring[work_on]" rows="5" cols="159" maxlength="500"><?= $cs->work_on() ?></textarea>
                </td>
            </tr>
			 <tr>
                <td>
                    Training Needs<br />
                    <textarea id="callscoring[training_needs]" name="callscoring[training_needs]" rows="5" cols="159" maxlength="500"><?= $cs->training_needs() ?></textarea>
                </td>
            </tr>
            </tbody>
        </table>

        &nbsp;
</div>
</form>