<tr title="<?=$score->user?> ( <?=$score->date?> ) &#xA; Keep On - <?=$score->keep_on()?> &#xA; Work On - <?=$score->work_on()?>">
    <td><?= $score->id ?></td>
    <td><?= $score->user ?></td>
    <td><?= $score->date ?></td>
    <td><?= $score->score ?></td>
	<td><button id="<?= $score->id ?>" name="<?= $score->id ?>" class="update">View/Update</button>
        <button id="<?= $score->id ?>" name="<?= $score->id ?>" class="print"><img src='<?= el::image("printer.png")?>' /></button>
        <button id="<?= $score->id ?>" name="<?= $score->id ?>" class="delete"></button>
    </td>
</tr>