<script type="text/javascript">
    $(function () {

        var frame = $("#<?=_LINK?>");
        var callscore2018 = $('#scoring', frame);
        var callscorearchive = $('#archive', frame);
        var table = $("tbody.content", callscorearchive);
        var table2018 = $("tbody.content", callscore2018);
        var loadingSpinner = $("img#spinner_pol", frame);

        loadingSpinner.hide();

        // Call score update
        $("button.update_old", '#call_scores_archive').die('click').live('click', function (event) {
            new popup({
                url: "/pages/call/scoring.php?flag=false&id=" + this.id
            })
        });

        $("button.update_new",'#call_scores_2018').die('click').live('click', function (event) {
            new popup({
                url: "/pages/call/scoring.php?id=" + this.id
            })
        });

        //OLD Call score  delete
        $("button.delete",'#call_scores_archive').die('click').live(
            "click", function () {
                if (confirm("Are you sure you would like to delete call score record #" + this.id + "?")) {
                    $.get(
                        "<?=CallScoring::get_common_url()?>", {
                            id: this.id,
                            do: "delete"
                        },
                        function () {
                            $("div#content_window", "#call_scores_archive").load("/pages/call/scoring.php?do=list");
                        }
                    );
                }
            }
        );


        //2018 NEW Call score delete
        $("button.delete",'#call_scores_2018').die('click').live(
            "click", function () {
                if (confirm("Are you sure you would like to delete call score record #" + this.id + "?")) {
                    $.get(
                        "<?=CallScoring2018::get_common_url()?>", {
                            id: this.id,
                            do: "delete"
                        },
                        function () {
                            $("div#content_window", "#call_scores_2018").load("/pages/call/scoring.php?do=list");
                        }
                    );
                }
            }
        );

        // Allow user to print off call score entry
        $("button.print", "#call_scores_archive").die('click').live('click', function () {
            window.open("/pages/call/scoring.php?id=" + this.id);
        });

        // Allow user to print off call score entry
        $("button.print","#call_scores_2018").die('click').live('click', function () {
            window.open("/pages/call/scoring.php?id=" + this.id);
        });

        function list_calls(user_id) {
            loadingSpinner.show();
            $.ajax({
                url: "/pages/call/scoring.php",
                type: "GET",
                data: {
                    do: "user_defined",
                    user_id: user_id
                },
                dataType: "html",
                success: function (r) {
                    r = json_decode(r);
                    if (r.score_list == "") {
                        table.html("<tr><td>No call scoring entries found for this user</td></tr>");
                        $('span#total_rows', callscorearchive).html(0);
                        $('#page_number', callscorearchive).empty();
                    } else {
                        table.html(r.score_list);
                        $('span#total_rows', callscorearchive).html(r.record_count);

                        //populate page no. dropdown
                        $('#page_number', callscorearchive).empty();
                        $.each(r.page_no, function (key, value) {
                            $('#page_number', callscorearchive)
                                .append($("<option></option>")
                                    .attr("value", key)
                                    .text(value));
                        });
                    }
                    loadingSpinner.hide();
                }
            });
        }

        function list_calls_2018(user_id) {
            loadingSpinner.show();
            $.ajax({
                url: "/pages/call/scoring.php",
                type: "GET",
                data: {
                    do: "user_defined_2018",
                    user_id: user_id
                },
                dataType: "html",
                success: function (r) {
                    r = json_decode(r);
                    if (r.score_list == "") {
                        table2018.html("<tr><td>No call scoring entries found for this user</td></tr>");
                        $('span#total_rows', callscore2018).html(0);
                        $('#page_number', callscore2018).empty();
                    } else {
                        table2018.html(r.score_list);
                        $('span#total_rows', callscore2018).html(r.record_count);

                        //populate page no. dropdown
                        $('#page_number', callscore2018).empty();
                        $.each(r.page_no, function (key, value) {
                            $('#page_number', callscore2018)
                                .append($("<option></option>")
                                    .attr("value", key)
                                    .text(value));
                        });
                    }
                    loadingSpinner.hide();
                }
            });
        }

        list_calls();
        list_calls_2018();



        $("#callscoring\\[user\\]", callscorearchive).on('change', function () {
            var user_id = $(this).val();
            list_calls(user_id);
        });
        $("#callscoring\\[user\\]", callscore2018).on('change', function () {
            var user_id = $(this).val();
            list_calls_2018(user_id);
        });


        // Get new data based on selected page number - Complete Tab
        $('select#page_number', callscorearchive).on("change", function () {
            loadingSpinner.show();
            var item = $('select#page_number', callscorearchive).val();
            var user_id = $("#callscoring\\[user\\] option:selected", callscorearchive).val();
            $.ajax({
                url: "/pages/call/scoring.php?do=user_defined",
                type: "GET",
                data: {
                    offset: item,
                    user_id: user_id,
                    type: "json"
                },
                dataType: "json",
                success: function (r) {
                    try {
                        table.html(r.score_list);
                        $('span#total_rows', callscorearchive).html(r.record_count);

                        //populate page no. dropdown
                        if ($("#page_number", callscorearchive).val() == null) {
                            $('#page_number', callscorearchive).empty();
                            $.each(r.page_no, function (key, value) {
                                $('#page_number', callscorearchive)
                                    .append($("<option></option>")
                                        .attr("value", key)
                                        .text(value));
                            });
                        }
                        loadingSpinner.hide();
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });


        // Get new data based on selected page number - Complete Tab
        $('select#page_number', callscore2018).on("change", function () {
            var user_id = $("#callscoring\\[user\\] option:selected", callscore2018).val();
            loadingSpinner.show();
            var item2 = $('select#page_number', callscore2018).val();
            $.ajax({
                url: "/pages/call/scoring.php?do=user_defined_2018",
                type: "GET",
                data: {
                    offset: item2,
                    user_id: user_id,
                    type: "json"
                },
                dataType: "json",
                success: function (r) {
                    try {
                        table2018.html(r.score_list);

                        $('span#total_rows', callscore2018).html(r.record_count);

                        //populate page no. dropdown
                        if ($("#page_number", callscore2018).val() == null) {
                            $('#page_number', callscore2018).empty();
                            $.each(r.page_no, function (key, value) {
                                $('#page_number', callscore2018)
                                    .append($("<option></option>")
                                        .attr("value", key)
                                        .text(value));
                            });
                        }
                        loadingSpinner.hide();
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });


    });
</script>

<style type="text/css">
    #<?=_LINK?> div.scroll {
        height: 500px;
    }

    #call_search {
        float: left;
    }

    #call_paging {
        float: right;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div>
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#scoring">Call Scoring 2018</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#archive">Archive</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade show active" id="scoring">
                <p>Filter by Staff Member: &nbsp; <?= el($cs->user) ?></p>
                <p>
                    <img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
                    <span id="status">&nbsp;</span>
                    Total Calls: <span id="total_rows"></span>
                    &nbsp;|&nbsp; Current Page: <select id="page_number" name="page_number"></select>
                </p>
                <table class="scrollable" id="call_scores_2018" name="call_scores_2018">
                    <thead>
                    <tr>
                        <th width="150px">Call Scoring ID</th>
                        <th width="250px">Staff</th>
                        <th>Call Date</th>
                        <th>Score</th>
                        <th width="200px">Action</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="archive">
                <p>Filter by Staff Member: &nbsp; <?= el($cs->user) ?></p>
                <p>
                    <img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
                    <span id="status">&nbsp;</span>
                    Total Calls: <span id="total_rows"></span>
                    &nbsp;|&nbsp; Current Page: <select id="page_number" name="page_number"></select>
                </p>
                <table class="scrollable" id="call_scores_archive" name="call_scores_archive">
                    <thead>
                    <tr>
                        <th width="150px">Call Scoring ID</th>
                        <th width="250px">Staff</th>
                        <th>Call Date</th>
                        <th>Score</th>
                        <th width="200px">Action</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>