<div id="articles_body">	<h1 class="mock-ui-widget-header"><?= $article->title?></h1>	<div id="entryBody">	<span id="imgNew">NEW</span>	<h2><?= date("d/m/Y H:i:s",$article->date)?></h2>	<p><?= $article->body ?></p>	</div></div>