<div id="articles_body">
    <h1 class="mock-ui-widget-header"><?= $article->title?></h1>
    <div id="entryBodyNEW">
        <h2><?= date("d/m/Y H:i:s",$article->date)?></h2>
        <p><?= $article->body ?></p>
    </div>
</div>