 <script type="text/javascript">
$(function( ){

    var frame = $( "#<?=_LINK?>" );
    var pop = $( frame ).get_popup( );

    $( ".scrollable", frame ).bind(
            "ready",
            function( ){
                $(pop).center( );
            }
    );

});
</script>

<style type="text/css">
    #<?=_LINK?> table{
            width: 700px;
            font-size: 10pt;
        }
    #<?=_LINK?> div.scroll{
            height: 300px;
        }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="view-balances" name="view-balances" class="scrollable">
        <thead>
        <tr>
            <th style="width:120px;">Issuer</th>
            <th>Batch</th>
            <th>Pending</th>
            <th>Processed</th>
            <th>Actual</th>
            <th>Target</th>
            <th>Balanced</th>
        </tr>
        </thead>

        <tbody>
            <?= $balance_list ?>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

</div>