<?php $issuer = new Issuer($source["issuer_ID"]); ?>
<?php $batch = new Batch($source["batch_id"]); ?>
<tr>
    <td style="width:120px;"><?= $issuer->link($source["issuer"]) ?></td>
    <td><?= $batch->link($source["batch_id"]) ?></td>
    <td><?= number_format(floatval($source["pending"]), 2, '.', ',') ?></td>
    <td><?= number_format(floatval($source["processed"]), 2, '.', ',') ?></td>
    <td><?= number_format(floatval($source["pending"]) + floatval($source["processed"]), 2, '.', ',') ?></td>
    <td><?= number_format(floatval($source["target"]), 2, '.', ',') ?></td>
    <?php $val = floatval( $source["target"] ) - ( round(floatval( $source["pending"] ),2) + floatval( $source["processed"] ) ); ?>
    <td>
        <?php if( ( $val ) < 0.00001 && ( $val ) > -0.00001 ) { ?>
            <img id='tick' src='/lib/images/tick.png'/>
        <?php } else { ?>
            <img id='cross' src='/lib/images/cross.png'/>
        <?php } ?>
    </td>
</tr>