<style type="text/css">
    #<?=_LINK?> table{
            width: 700px;
            font-size: 10pt;
        }
    #<?=_LINK?> div.scroll{
            height: 300px;
        }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="all-clawback" name="all-clawback" class="scrollable">
        <thead>
            <tr>
                <th>Issuer</th>
                <th>Client</th>
                <th>Policy</th>
                <th>Date</th>
                <th>Agency</th>
                <th>Partner</th>
                <th>Amount</th>
                <th>Rate</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            <?= $clawback_list ?>
        </tbody>
        <tfoot>
        </tfoot>
    </table>

</div>