<?php $issuer = new Issuer($claw["issuerID"]); ?>
<?php $client = new Client($claw["clientid"]); ?>
<?php $policy = new Policy($claw["policyid"]); ?>
<?php $partner = new Partner($claw["partnerID"]); ?>

<tr>
    <td><?= $issuer->link($claw["issuer"]) ?></td>
    <td><?= $client->link($claw["clientFname1"]." ".$claw["clientSname1"]) ?></td>
    <td><?= $policy->link($claw["policyNum"]) ?></td>
    <td><?= $claw["paiddate"] ?></td>
    <td><?= $claw["agency_no"] ?></td>
    <td><?= $partner->link($claw["partner"]) ?></td>
    <td><?= $claw["comm"] ?></td>
    <td><?= $claw["rate"] ?></td>
    <td style="display:inline;">
        <button id="<?= $claw["ID"]_clawback ?>" name="<?= $claw["ID"]_clawback ?>" class="clawback">Clawback</button>
        <button id="<?= $claw["ID"]_adjust ?>" name="<?= $claw["ID"]_adjust ?>" class="adjustment">Adjst</button>
    </td>
</tr>