<!-- If EDI/Dataflow entry, search table source to prefill processing values -->
<?php
if($edi == true){
    $s = new Search( new Source );
    $s -> eq("id", $_GET['source_id']);
    $source = $s -> next(MYSQLI_ASSOC );
}

//check to see if current entry has a new business ticket
if( $_GET['newbusiness'] == "has_nb"){
    $nb = '<div class="notification static" style="display:block;">Please note that this entry has a pending new business ticket</div>';
}else{
    $nb = "";
}
?>
<script type="text/javascript">
    $(function( ){

        var form = $("form#<?=_LINK?>");
        var popup = form.popup_config({
            title: "New Income Entry",
            center: true
        });

        //fields on the form
        var comm_type = $( "<?=$pipelineentry->type->get_html_id( false, Field::HTML_ID_JQUERY )?>", form );
        var policy = $( "<?=$pipelineentry->policy->get_html_id( false, Field::HTML_ID_JQUERY )?>", form).siblings(":input");
        var amount = $( "<?=$pipelineentry->amount->get_html_id( false, Field::HTML_ID_JQUERY )?>",form );
        var partner_percent = $( "<?=$pipelineentry->partner_percent->get_html_id( false, Field::HTML_ID_JQUERY )?>",form );
        var ps_percent = $( "<?=$pipelineentry->ps_percent->get_html_id( false, Field::HTML_ID_JQUERY )?>",form );
        var vat_drop = $( "<?=$pipelineentry->vat_rate->get_html_id( false, Field::HTML_ID_JQUERY )?>",form );
        var currency_type = $( "<?=$pipelineentry->currency_type->get_html_id( false, Field::HTML_ID_JQUERY )?>",form );

        // default percentage shares for each commission type
        var sharePercents = json_decode( "<?=$percents?>" );
        var status = $("span.status",form);

        $( partner_percent ).attr( "disabled","disabled");
        $( ps_percent ).attr( "disabled","disabled");
        $( "input:submit", form ).attr("disabled", "disabled");

        // user feedback for policy vat check
        var vat_status = $("span#vat_status",form);
        $(vat_status).hide();
        var vatable = false;
        var policyid = false;

        // Obtain policy ID, check if policy is vatable, set default VAT option and let user know!
        $("div.suggest", form).click( function(){

            policyid = $(policy).prev().val();

            $.get("/pages/pipelineentry/new.php?do=check_vatable&policyid=" + policyid, function(r) {
                r = json_decode(r);
                if( r.status ) {
                    if( r.vatable ){
                        vatable = 1;
                        $(vat_status).html("<div class='notification warning static' style='display:block;'>Note:  This policy is vatable</div>");
                        $(vat_status).show();
                        $(vat_drop).val(parseInt(4));
                    }
                    else {
                        vatable = 0;
                        $(vat_status).hide();
                        $(vat_drop).val(parseInt(1));
                    }
                }
            });

            $.get("/pages/advisercharging/index.php?do=check_ac_applied&policyid=" + policyid, function(r) {
                r = json_decode(r);
                if( r.status ) {

                    if( r.ac_applied == true){
                        $("#ac_status").html("<div class='notification static' style='display:block;'>Adviser charging has previously been paid on this policy</div>");
                        $("#ac_status").show();
                    } else {
                        $("#ac_status").html("");
                        $("#ac_status").hide();
                    }
                }
            });

        });


        //overall validator, to simplify validataion
        function validate_fields(){

            //start with an invalid case
            $( "input:submit", form ).attr("disabled", "disabled");

            //check commission type is not empty
            if($(comm_type).val() == ""){
                $( status ).addClass("bad_news").text( "Please enter a valid Income type" );
                return;
            }

            // Check user has selected a policy to process entry against
            if ( $( policy ).val() == "" ){
                $( status ).addClass("bad_news").text( "Please select a policy" );
                return;
            }

            // Check user has entered a valid amount to be processed
            // need to accept negative values here for clawbacks

            var regexp = /^\-?\d+(\.\d{1,2})?$/;

            if ( !$( amount ).val().match( regexp ) || $( amount ).val() == "" ){
                $( status ).addClass("bad_news").text( "Please enter a valid amount" );
                return;
            }

            // Warn user of percentages if not tallying to 100% and disable submission of new entry
            if ( $(partner_percent).val() != "" || $(ps_percent).val() != "" ){

                if ( ( parseFloat($(partner_percent).val()) + parseFloat($(ps_percent).val()) ) != 100 ){
                    $( status ).addClass("bad_news").text( "Please check combined %ages equal 100" );
                    return;
                }
            }else{
                //if there is nothing in there but the commission type requires it
                if ( $(partner_percent).val() == "" || $(ps_percent).val() == "" ){

                    //commission types that need rates
                    var types_require_rates = [1,2,5,6,7,9,11,13];

                    if(types_require_rates.indexOf($(comm_type).val()) >= 0){
                        $( status ).addClass("bad_news").text( "This Income type needs Income splits filled in" );
                        return;
                    }
                }
            }


            // Check user has not changed the vat position to blank
            if ( $( vat_drop ).val() == "" ){
                $( status ).addClass("bad_news").text( "Please select a VAT position" );
                return;
            }
			
			if($(comm_type).val() == 1){
				if($('#entry\\[description\\]').val() == ''){
					$( status ).addClass("bad_news").text( "Please enter a description" );
					return;
				}
			}

            //everything checks out
            $( status ).removeClass("bad_news").text( '' );
            $( "input:submit", form ).removeAttr("disabled");

        }

			
        $( comm_type ).change(
            function(){
			
				//Set/clear the default percentage shares according to the selected commission type
				var typeId = parseInt( $(this).val() );
				var status = $("span.status",form);

				//If 'renewal' commission reset the form percentages validation and re-enable save button
				if (typeId == 0){
					$( status ).removeClass("bad_news").text( '' );
					$( "input:submit", form ).removeAttr("disabled");
				}
											
                if( sharePercents[ typeId ] ) {

                    var pgrp = sharePercents[ typeId ];
										
                    if ( !pgrp.partner_percent || !pgrp.ps_percent ){
                        $( partner_percent ).val( "" );
						$( ps_percent ).val( "" );
                    }
                    else {
                        $( partner_percent ).val( pgrp.partner_percent );
                        $( ps_percent ).val( pgrp.ps_percent );
                    }
                    
                    // Lock shares according to commission_type
                    if ( parseInt(pgrp.locked) == 1 ){
                        $( partner_percent ).attr( "disabled","disabled");
                        $( ps_percent ).attr( "disabled","disabled");
                    }
                    else {
                        $( partner_percent ).removeAttr( "disabled" );
                        $( ps_percent ).removeAttr( "disabled" )
                    }

                    //change the vat rate for the commission type
                    $(vat_drop).val(parseInt(pgrp.vat));
                }

                // Over-rule the comm_type.change function if policy is vatable and set VAT option to 'Current'
                if( vatable == 1 ){
                    $(vat_drop).val(parseInt(4));
                }

			});
						
			// Clear status span after adding entry
			form.find(':input').mouseenter(function(){
                $( status ).text( '' );
            });

            //anytime someone leaves a field check for validity
            form.find(':input').mouseleave(function(){
                validate_fields();
            });

            // If EDI/Dataflow entry, determine entry type (clawback/initial) for user, set dropdown default and enable necessary elements.
            // Also fill in policy number and amount for entry relevant to table source
            if("<?= $edi ?>" == "true"){

                if("<?= $type ?>" != ""){
                    comm_type.val( "<?= $type ?>" );
                    comm_type.change();
                }
                else{
                    comm_type.val( "" );
                    comm_type.change();
                }

                if("<?= $source->comm ?>" != ""){
                    $( amount ).val( "<?= $source->comm ?>" );
                }
                if("<?= $source->policyNum ?>" != ""){
                    $( policy ).val( "<?= $source->policyNum ?>");
                }
            }

            // Lets trigger policy suggest to get around value not being 'actually' set.  We will do this only
            // one when the users cursor enters the popup
            function trigger_policy(){
                $( policy ).trigger( 'keyup' );
            }

            var fe = false;
            $( form ).mouseenter(function() {
                if( fe == false ){
                    fe = true;
                    trigger_policy();
                }
            });

			saveProfileStatusSpan( form );

            // Check whether 'Save' button has been clicked (entry added) or not.  If no entry being added, no point in refreshing tables on popup close
            var clicked = false;
            $("input[type='submit']").click(function() {
                clicked = true;
            });

			// Refresh commission table - refreshes table used in commission plugin
			$(form).closest("table.popup").find("button.close").click(function() {
				popup.close();
                if( clicked == true ){
                    $("table#commission").trigger("getCommission");
                }

            });

    });

    $("#entry\\[amount\\]").keyup(function(){
        var type = $("#entry\\[type\\]").find(":selected").val();
        var amount = $(this).val();

        //adjustments can be positive or negative
        if (type != 5){
            //check for clawback and clawback (new business)
            if ((type == 2 || type == 13) && amount > 0 ||
                type != 2 && type != 13 && amount < 0){
                //only allow negatives
                $(this).addClass("invalid");
            } else {
                //only allow positives
                $(this).removeClass("invalid");
            }
        }
    });

    // disabled certain income types that are no longer used - requested by Charmaine PROP-1398
    var disabled_types = [6,11,12];
    $.each(disabled_types, function(k, v) {
        $("select#entry\\[type\\] option[value*=" + v + "]").prop('disabled',true);
    });

</script>

<style type="text/css">
#<?=_LINK?> span#status {
float:left;
font-size: 9pt;
}
#<?=_LINK?> span#status ul {
text-align: left;
max-width: 250px;
margin: 0;
padding-left: 10px;
}
div.notification.warning {
    background-image: url("/lib/images/alert_warning.png");
    background-position: 5px 2px;
    background-color: #fddfdf;
    border-color: #df0000;
}
</style>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=$_SERVER['REQUEST_URI']?>" method="POST">

    <!-- display notification if there is a new business ticket -->
    <?= $nb; ?>

  <span id='vat_status' name='vat_status' >&nbsp;</span>
  <span id='ac_status' name='ac_status' >&nbsp;</span>

  <table>
    <tr>
      <th width="125px">Type</th>
      <td width="250px"><?=el($pipelineentry->type,false,false,false,false,DatabaseObject::ELEMENT_DROPDOWN)?></td>
      <th width="100px">Description</th>
      <td rowspan="5" valign="top"><?= el($pipelineentry->description,false,"autocomplete='off' rows='5'") ?></td>
    </tr>
    <tr>
      <th>Policy</th>
      <td><?=el($pipelineentry->policy,false,false,false,Policy::index_url(array('suggest'=>1,'issuer'=>$pipelineentry->batch->issuer(), "archived"=>"hide")),DatabaseObject::ELEMENT_SUGGEST)?></td>
    </tr>
    <tr>
      <th>Amount</th>
      <td><?=el($pipelineentry->amount,false,"autocomplete='off'")?></td>
    </tr>
    <tr>
      <th>To Partner</th>
      <td><?=el($pipelineentry->partner_percent,false,"autocomplete='off'")?></td>
    </tr>
    <tr>
      <th>To PS</th>
      <td><?=el($pipelineentry->ps_percent,false,"autocomplete='off'")?></td>
    </tr>
      <tr>
        <th>VAT</th>
        <td><?= el($pipelineentry->vat_rate)?></td>
      </tr>
      <tr>
          <th>Currency</th>
          <td><?php if($source->currency_type){ echo el($source->currency_type); }else{ echo el($pipelineentry->currency_type); }?></td>
      </tr>
  </table>

  <p align="right">
    <span id='status' name='status' class='status'>&nbsp;</span>
    <input type="submit" value="Save" />
  </p>

  <?= el::hide($pipelineentry->batch->get_html_id(),$pipelineentry->batch()) ?>
	
</form>
