<script type="text/javascript"> 

$(function(){

	// Assign selectors for later use
	var initbtn = $("button#process-initial");
	var clawbtn = $("button#process-clawback");
	var viewbalbtn = $("button#view-balances");
	var addclibtn = $("button#add-clipol");
    var acobtn = $("button#process-aco");
	var clawback = $("table#all-clawback tbody.content");
	var initial = $("table#all-initial tbody.content");
    var aco = $("table#all-aco tbody.content");
	var other = $("table#all-other tbody.content");
	var initial_tbl = $("table#all-initial");
	var clawback_tbl = $("table#all-clawback");
    var aco_tbl = $("table#all-aco");
	var other_tbl = $("table#all-other");
	var exportbtn = ("button#export-source");
	var exportAll = ("button.exportAll");

	var issuer_notes = $("#issuer_notes_div");

	var unmatchedSpinner = $("img#unmatched_spinner");
	var clawbackSpinner = $("img#clawback_spinner");
	var initialSpinner = $("img#initial_spinner");
    var acoSpinner = $("img#aco_spinner");
	var otherSpinner = $("img#other_spinner");

	var issuer = $("select#issuer-select").find('option:selected').html();
	
	// View Balances
	viewbalbtn.click(function() {
		var p = new popup({
			content: "<div align='center'><img id='loader' src='/lib/images/ajax-loader.gif'/></div>",  /* Fake loader for usability */
			url: "/pages/commission/process.php?get=balances",
			title: "View Balances",
			center: true
		});
	});


	// Process < £50 initial
	initbtn.click(function() {
		initbtn.attr("disabled","disabled");
        clawbtn.attr("disabled","disabled");
        viewbalbtn.attr("disabled","disabled");
        addclibtn.attr("disabled","disabled");
        acobtn.attr("disabled","disabled");
		var issuer = $("select#issuer-select").find('option:selected').html();

		if(confirm("Are you sure you want to process all initial payments < £50?\n\n" +
                "Please note that any entries which belong to policies with pending new business cases or cases at 'awaiting remuneration' will not be processed")) {
			$("<img id='loader' src='/lib/images/inline-ajax.gif'/>").insertAfter(acobtn);
			
			$.post("/pages/commission/process.php?do=process_initial_auto", function(r){
				r = json_decode(r);

				if( r.status == false ) {
					$("#loader", "div#<?=_LINK?>").remove();
					initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
					alert("Problem processing initial payments, please contact IT.");
					throw new Error(r.error);
				}
				else {
					$("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
						$.ajax({
							url: "/pages/commission/process.php?get=all_initial&issuer="+encodeURIComponent(issuer),
							type: "GET",
							data: {
								type: "json"
							},
							dataType: "json",
							success: function( r ){
								try{
									$(initial).html(r.data);
									$('select#initial_paging').empty();
									$.each(r.page_no, function(key, value) {
									$('select#initial_paging')
										.append($("<option></option>")
										.attr("value",key)
										.text(value));
								});
								}catch(e){
									alert(e);
								}
							},
							error: function(){
								throw new Error('An error has occurred');
							}
						});
					alert("Entries processed successfully.");
				}
			});
		}
        initbtn.removeAttr("disabled");
        clawbtn.removeAttr("disabled");
        viewbalbtn.removeAttr("disabled");
        addclibtn.removeAttr("disabled");
        acobtn.removeAttr("disabled");
	});


	// Process >= £5 clawback
	clawbtn.click(function() {
        initbtn.attr("disabled","disabled");
        clawbtn.attr("disabled","disabled");
        viewbalbtn.attr("disabled","disabled");
        addclibtn.attr("disabled","disabled");
        acobtn.attr("disabled","disabled");
		var issuer = $("select#issuer-select").find('option:selected').html();

		if(confirm("Are you sure you want to process all clawback payments >= £5?")) {
			$("<img id='loader' src='/lib/images/inline-ajax.gif'/>").insertAfter(acobtn);

			$.post("/pages/commission/process.php?do=process_clawback_auto", function(r){
				r = json_decode(r);

				if( r.status == false ) {
					$("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
					alert("Problem processing clawbacks, please contact IT.");
					throw new Error(r.error);
				}
				else {
					$("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
						$.ajax({
							url: "/pages/commission/process.php?get=all_clawback&issuer="+encodeURIComponent(issuer),
							type: "GET",
							data: {
								type: "json"
							},
							dataType: "json",
							success: function( r ){
								try{
									$(clawback).html(r.data);
									$('select#allclawback_paging').empty();
									$.each(r.page_no, function(key, value) {
									$('select#allclawback_paging')
										.append($("<option></option>")
										.attr("value",key)
										.text(value));
									});
								}catch(e){
									alert(e);
								}
							},
							error: function(){
								throw new Error('An error has occurred');
							}
						});
					alert("Entries processed successfully.");
				}
			});
		}
        initbtn.removeAttr("disabled");
        clawbtn.removeAttr("disabled");
        viewbalbtn.removeAttr("disabled");
        addclibtn.removeAttr("disabled");
        acobtn.removeAttr("disabled");
	});


	// 'Add Client/Policy' button from Access - Process Matched Entries
	addclibtn.click(function() {
        initbtn.attr("disabled","disabled");
        clawbtn.attr("disabled","disabled");
        viewbalbtn.attr("disabled","disabled");
        addclibtn.attr("disabled","disabled");
        acobtn.attr("disabled","disabled");
		var issuer = $("select#issuer-select").find('option:selected').html();

		if(confirm("Are you sure you want to process all matched entries?")) {
			$("<img id='loader' src='/lib/images/inline-ajax.gif'/>").insertAfter(acobtn);

			$.post("/pages/commission/process.php?do=process_matched", function(r){
				r = json_decode(r);

				if( r.status == false ) {
					$("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
					alert("Problem processing matched agency numbers, please contact IT.");
					throw new Error(r.error);
				}
				else {
					$("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
					
						$.ajax({
							url: "/pages/commission/process.php?get=all_clawback&issuer="+encodeURIComponent(issuer),
							type: "GET",
							data: {
								type: "json"
							},
							dataType: "json",
							success: function( r ){
								try{
									$(clawback).html(r.data);
									$('select#allclawback_paging').empty();
									$.each(r.page_no, function(key, value) {
									$('select#allclawback_paging')
										.append($("<option></option>")
										.attr("value",key)
										.text(value));
									});
								}catch(e){
									alert(e);
								}
							},
							error: function(){
								throw new Error('An error has occurred');
							}
						});
						
					$(initial).delay(2000).queue(function( nxt ) {
						$.ajax({
							url: "/pages/commission/process.php?get=all_initial&issuer="+encodeURIComponent(issuer),
							type: "GET",
							data: {
								type: "json"
							},
							dataType: "json",
							success: function( r ){
								try{
									$(initial).html(r.data);
									$('select#initial_paging').empty();
									$.each(r.page_no, function(key, value) {
									$('select#initial_paging')
										.append($("<option></option>")
										.attr("value",key)
										.text(value));
									});
								}catch(e){
									alert(e);
								}
							},
							error: function(){
								throw new Error('An error has occurred');
							}
						});
						nxt();
					});
					alert("Entries processed successfully.");
				}
			});
		}
        initbtn.removeAttr("disabled");
        clawbtn.removeAttr("disabled");
        viewbalbtn.removeAttr("disabled");
        addclibtn.removeAttr("disabled");
        acobtn.removeAttr("disabled");
	});

    // 'Process ACO - NO VAT' button - Process Matched ACO Entries with NO VAT
    acobtn.click(function() {
        initbtn.attr("disabled","disabled");
        clawbtn.attr("disabled","disabled");
        viewbalbtn.attr("disabled","disabled");
        addclibtn.attr("disabled","disabled");
        acobtn.attr("disabled","disabled");
        var issuer = $("select#issuer-select").find('option:selected').html();

        if(confirm("Are you sure you want to process all matched Adviser Charging Ongoing entries with NO VAT?  " +
                    "\n\nAny entries against policies marked as vatable will NOT be processed automatically and will " +
                    "remain in table to be processed manually.")) {
            $("<img id='loader' src='/lib/images/inline-ajax.gif'/>").insertAfter(acobtn);

            $.post("/pages/commission/process.php?do=process_aco", function(r){
                r = json_decode(r);

                if( r.status == false ) {
                    $("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
                    alert("Problem processing matched ACO entries, please contact IT.");
                    throw new Error(r.error);
                }
                else {
                    $("#loader", "div#<?=_LINK?>").remove();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");

                    $.ajax({
                        url: "/pages/commission/process.php?get=all_aco&issuer="+encodeURIComponent(issuer),
                        type: "GET",
                        data: {
                            type: "json"
                        },
                        dataType: "json",
                        success: function( r ){
                            try{
                                $(aco).html(r.data);
                                $('select#allaco_paging').empty();
                                $.each(r.page_no, function(key, value) {
                                    $('select#allaco_paging')
                                            .append($("<option></option>")
                                                    .attr("value",key)
                                                    .text(value));
                                });
                            }catch(e){
                                alert(e);
                            }
                        },
                        error: function(){
                            throw new Error('An error has occurred');
                        }
                    });
                    alert("Entries processed successfully.");
                }
            });
        }
        initbtn.removeAttr("disabled");
        clawbtn.removeAttr("disabled");
        viewbalbtn.removeAttr("disabled");
        addclibtn.removeAttr("disabled");
        acobtn.removeAttr("disabled");
    });

	// Process manual clawback entry and trigger refresh on table
	$("button.clawback", clawback).die('click').live('click',function(){

		// Submit check for table refresh
		var clicked = false;

		// Get source id and batch id from button attributes
		var id = this.id;
		var split_dets = id.split('_');
		var source_id = split_dets[0];
		var batch_id = split_dets[1];
        var newbusiness = $(this).attr('class').split(' ')[1];

		var p = new popup({
			url: "/pages/pipelineentry/new.php?batch_id="+batch_id+"&edi=true&source_id="+source_id+"&type=clawback&newbusiness="+newbusiness,
			title: "Add Commission Entry",
			center: true,
			triggers: {
				refreshClawback: function(){
					clawback.trigger("refresh");
				}
			}
		});

		// Check whether 'Save' button has been clicked (entry added) or not.  If no entry being added, no point in refreshing tables on popup close
		$("input[type='submit']").die('click').live('click', function() {
			clicked = true;
		});

		$("table.popup").find("button.close").click(function() {
			if( clicked == true ){
				$(p).trigger("refreshClawback");
			}
			p.close();
		})

	});

	// Refresh clawback table
	clawback.bind("refresh", function(){
		clawbackSpinner.show();
        var issuer = $("select#issuer-select").find('option:selected').html();
		var page_no = $("select#allclawback_paging").find('option:selected').val();
		$.ajax({
			url: "/pages/commission/process.php?get=all_clawback&issuer="+encodeURIComponent(issuer),
			type: "GET",
			data: {
				offset: page_no,
				type: "json"
			},
			dataType: "json",
			success: function( r ){
				try{
					$(clawback).html(r.data);
				}catch(e){
					alert(e);
				}
			},
			error: function(){
				throw new Error('An error has occurred');
			},
			complete:function(){
				clawbackSpinner.hide();
			}
		});
	});


	// Process manual initial entry and trigger refresh on table
	$("button.initial", initial).die('click').live('click',function(){

		// Submit check for table refresh
		var clicked = false;

		// Get source id and batch id from button attributes
		var id = this.id;
		var split_dets = id.split('_');
		var source_id = split_dets[0];
		var batch_id = split_dets[1];
        var newbusiness = $(this).attr('class').split(' ')[1];

		var p = new popup({
			url: "/pages/pipelineentry/new.php?batch_id="+batch_id+"&edi=true&source_id="+source_id+"&type=initial&newbusiness="+newbusiness,
			title: "Add Commission Entry",
			center: true,
			triggers: {
				refreshInitial: function(){
					initial.trigger("refresh");
				}
			}
		});

		// Check whether 'Save' button has been clicked (entry added) or not.  If no entry being added, no point in refreshing tables on popup close
		$("input[type='submit']").die('click').live('click', function() {
			clicked = true;
		});

		$("table.popup").find("button.close").click(function() {
			if( clicked == true ){
				$(p).trigger("refreshInitial");
			}
			p.close();
		})

	});

	// Refresh initial table
	initial.bind("refresh", function(){
		initialSpinner.show();
        var issuer = $("select#issuer-select").find('option:selected').html();
		var page_no = $("select#initial_paging").find('option:selected').val();
		$.ajax({
			url: "/pages/commission/process.php?get=all_initial&issuer="+encodeURIComponent(issuer),
			type: "GET",
			data: {
				offset: page_no,
				type: "json"
			},
			dataType: "json",
			success: function( r ){
				try{
					$(initial).html(r.data);
				}catch(e){
					alert(e);
				}
			},
			error: function(){
				throw new Error('An error has occurred');
			},
			complete: function(){
				initialSpinner.hide();
			}
		});
	});


	// Process manual other entry and trigger refresh on table
	$("button.other", other).die('click').live('click',function(){
		// Submit check for table refresh
		var clicked = false;

		// Get source id and batch id from button attributes
		var id = this.id;
		var split_dets = id.split('_');
		var source_id = split_dets[0];
		var batch_id = split_dets[1];
        var newbusiness = $(this).attr('class').split(' ')[1];

		var p = new popup({
			url: "/pages/pipelineentry/new.php?batch_id="+batch_id+"&edi=true&source_id="+source_id+"&type=other&newbusiness="+newbusiness,
			title: "Add Commission Entry",
			center: true,
			triggers: {
				refreshOther: function(){
					other.trigger("refresh");
				}
			}
		});

		// Check whether 'Save' button has been clicked (entry added) or not.  If no entry being added, no point in refreshing tables on popup close
		$("input[type='submit']").die('click').live('click', function() {
			clicked = true;
		});

		$("table.popup").find("button.close").click(function() {
			if( clicked == true ){
				$(p).trigger("refreshOther");
			}
			p.close();
		})

	});

	// Refresh other table
	other.bind("refresh", function(){
		otherSpinner.show();
        var issuer = $("select#issuer-select").find('option:selected').html();
		var page_no = $("select#other_paging").find('option:selected').val();
		$.ajax({
			url: "/pages/commission/process.php?get=all_other&issuer="+encodeURIComponent(issuer),
			type: "GET",
			data: {
				offset: page_no,
				type: "json"
			},
			dataType: "json",
			success: function( r ){
				try{
					$(other).html(r.data);
				}catch(e){
					alert(e);
				}
			},
			error: function(){
				throw new Error('An error has occurred');
			},
			complete: function(){
				otherSpinner.hide();
			}
		});
	});

    // Process manual aco entry and trigger refresh on table
    $("button.aco", aco).die('click').live('click',function(){
        // Submit check for table refresh
        var clicked = false;

        // Get source id and batch id from button attributes
        var id = this.id;
        var split_dets = id.split('_');
        var source_id = split_dets[0];
        var batch_id = split_dets[1];
        var newbusiness = $(this).attr('class').split(' ')[1];

        var p = new popup({
            url: "/pages/pipelineentry/new.php?batch_id="+batch_id+"&edi=true&source_id="+source_id+"&type=aco&newbusiness="+newbusiness,
            title: "Add Commission Entry",
            center: true,
            triggers: {
                refreshACO: function(){
                    aco.trigger("refresh");
                }
            }
        });

        // Check whether 'Save' button has been clicked (entry added) or not.  If no entry being added, no point in refreshing tables on popup close
        $("input[type='submit']").die('click').live('click', function() {
            clicked = true;
        });

        $("table.popup").find("button.close").click(function() {
            if( clicked == true ){
                $(p).trigger("refreshACO");
            }
            p.close();
        })

    });

    // Refresh ACO table
    aco.bind("refresh", function(){
        acoSpinner.show();
        var issuer = $("select#issuer-select").find('option:selected').html();
        var page_no = $("select#aco_paging").find('option:selected').val();
        $.ajax({
            url: "/pages/commission/process.php?get=all_aco&issuer="+encodeURIComponent(issuer),
            type: "GET",
            data: {
                offset: page_no,
                type: "json"
            },
            dataType: "json",
            success: function( r ){
                try{
                    $(aco).html(r.data);
                }catch(e){
                    alert(e);
                }
            },
            error: function(){
                throw new Error('An error has occurred');
            },
            complete: function(){
                acoSpinner.hide();
            }
        });
    });


	// Update Unmatched Main Agency Code
	$("button.update_code").die('click').live('click', function() {

		// Get source id and issuer id of policy
		var id = this.id;
		var iss = this.name;
		var orgpol = encodeURIComponent($(this).closest('tr').find('td:first').text()); /* Encode string here for safe passing of space characters */

		var p = new popup({
			url: "/pages/commission/update_main_agency.php?id="+id+"&orgpol="+orgpol+"&iss="+iss,
			title: "Update Policy Number",
			center: true,
			triggers: {
				refreshMACU: function(){
					$("table#main-unmatched-tbl tbody.content").trigger("refresh");
				}
			}
		});

		// Check whether 'Save' button has been clicked (entry added) or not.  If no entry being added, no point in refreshing tables on popup close
		var clicked = false;
		$("button#update_agency").die('click').live('click', function() {
			clicked = true;
		});

		$("table.popup").find("button.close").click(function() {
			if( clicked == true ){
				$(p).trigger("refreshMACU");
			}
			p.close();
		})

	});




	/* Initial load of content into tables */
		$( document ).ready(function() {
			var issuer = $("select#issuer-select").find('option:selected').html();

            initbtn.attr("disabled","disabled");
            clawbtn.attr("disabled","disabled");
            viewbalbtn.attr("disabled","disabled");
            addclibtn.attr("disabled","disabled");
            acobtn.attr("disabled","disabled");
			
			unmatchedSpinner.show();
			clawbackSpinner.show();
			initialSpinner.show();
            acoSpinner.show();
			otherSpinner.show();
			
			//All Unmatched Entries, Initial page load
			$.ajax({
				url: "/pages/commission/process.php?get=main_unmatched&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$("table#main-unmatched-tbl tbody.content").html(r.data);
						$('select#unmatched_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#unmatched_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					unmatchedSpinner.hide();
				}
			});
			
			//All Clawback, Initial page load
            $(clawback).delay(1000).queue(function( nxt ) {
			$.ajax({
				url: "/pages/commission/process.php?get=all_clawback&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(clawback).html(r.data);
						$('select#allclawback_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#allclawback_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					clawbackSpinner.hide();
				}
			});
            nxt();
            });
			
			//All Initial, Initial page load
            $(initial).delay(1500).queue(function( nxt ) {
            $.ajax({
				url: "/pages/commission/process.php?get=all_initial&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(initial).html(r.data);
						$('select#initial_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#initial_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					initialSpinner.hide();

					//This is the last table to load so now remove disabled from buttons
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
				}
			});
            nxt();
            });

            //All ACO, Initial page load
            $(aco).delay(2000).queue(function( nxt ) {
            $.ajax({
                url: "/pages/commission/process.php?get=all_aco&issuer="+encodeURIComponent(issuer),
                type: "GET",
                data: {
                    type: "json"
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $(aco).html(r.data);
                        $('select#aco_paging').empty();
                        $.each(r.page_no, function(key, value) {
                            $('select#aco_paging')
                                    .append($("<option></option>")
                                            .attr("value",key)
                                            .text(value));
                        });
                    }catch(e){
                        alert(e);
                    }
                },
                error: function(){
                    throw new Error('An error has occurred');
                },
                complete: function(){
                    acoSpinner.hide();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
                }
            });
            nxt();
            });
			
			//Other Entries, Initial page load
            $(other).delay(2500).queue(function( nxt ) {
			$.ajax({
				url: "/pages/commission/process.php?get=all_other&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(other).html(r.data);
						$('select#other_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#other_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					otherSpinner.hide();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
				}
			});
			nxt();
            });
		});



	// Unmatched Agency Codes - Change of Issuer Load
	$("select#issuer-select").change(function() {
		$("table#main-unmatched-tbl tbody.content").html("Loading...");
		var issuer = $("select#issuer-select").find('option:selected').html();
        initbtn.attr("disabled","disabled");
        clawbtn.attr("disabled","disabled");
        viewbalbtn.attr("disabled","disabled");
        addclibtn.attr("disabled","disabled");
        acobtn.attr("disabled","disabled");
		unmatchedSpinner.show();
		clawbackSpinner.show();
		initialSpinner.show();
		acoSpinner.show();
		otherSpinner.show();

		$( document ).ready(function() {
		
			//All unmatched
			$.ajax({
				url: "/pages/commission/process.php?get=main_unmatched&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$("table#main-unmatched-tbl tbody.content").html(r.data);
						$('select#unmatched_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#unmatched_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					unmatchedSpinner.hide();
				}
			});

			//All Clawback
            $(clawback).delay(1000).queue(function( nxt ) {
			$.ajax({
			    url: "/pages/commission/process.php?get=all_clawback&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(clawback).html(r.data);
						$('select#allclawback_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#allclawback_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					clawbackSpinner.hide();
				}
			});
            nxt();
            });
			
			//All Initial
            $(initial).delay(1500).queue(function( nxt ) {
			$.ajax({
				url: "/pages/commission/process.php?get=all_initial&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(initial).html(r.data);
						$('select#initial_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#initial_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					initialSpinner.hide();
				}
			});
            nxt();
            });

            //All ACO
            $(aco).delay(2000).queue(function( nxt ) {
            $.ajax({
                url: "/pages/commission/process.php?get=all_aco&issuer="+encodeURIComponent(issuer),
                type: "GET",
                data: {
                    type: "json"
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $(aco).html(r.data);
                        $('select#aco_paging').empty();
                        $.each(r.page_no, function(key, value) {
                            $('select#aco_paging')
                                    .append($("<option></option>")
                                            .attr("value",key)
                                            .text(value));
                        });
                    }catch(e){
                        alert(e);
                    }
                },
                error: function(){
                    throw new Error('An error has occurred');
                },
                complete: function(){
                    acoSpinner.hide();
                }
            });
            nxt();
            });
			
			//Other Entries
            $(other).delay(2500).queue(function( nxt ) {
			$.ajax({
				url: "/pages/commission/process.php?get=all_other&issuer="+encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(other).html(r.data);
						$('select#other_paging').empty();
						$.each(r.page_no, function(key, value) {
						$('select#other_paging')
							.append($("<option></option>")
							.attr("value",key)
							.text(value));
						});
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					otherSpinner.hide();
                    initbtn.removeAttr("disabled");
                    clawbtn.removeAttr("disabled");
                    viewbalbtn.removeAttr("disabled");
                    addclibtn.removeAttr("disabled");
                    acobtn.removeAttr("disabled");
				}
			});
            nxt();
            });
			
		});
	});

	// Refresh main agency code unmatched table after update
	$("table#main-unmatched-tbl tbody.content").bind("refresh", function(){
		unmatchedSpinner.show();
		var issuer = $("select#issuer-select").find('option:selected').html();
		 $( document ).ready(function() {
			$.ajax({
				url: "/pages/commission/process.php?get=main_unmatched&issuer=" + encodeURIComponent(issuer),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$("table#main-unmatched-tbl tbody.content").html(r.data);
					}catch(e){
						alert(e);
					}
				},
				error: function(){
					throw new Error('An error has occurred');
				},
				complete: function(){
					unmatchedSpinner.hide();
				}
			});
		});
	});

	// Export contents to tbl_source to CSV file
	$(exportbtn).click(function( ) {
		window.open("/pages/commission/process.php?get=tbl_source_preview");
	});

	// Export contents to tbl_source to CSV file
	$(exportAll).click(function( ) {
		var commType = $(this).attr('id');
		var issuer = $("select#issuer-select").find('option:selected').html();
		window.open("/pages/commission/process.php?get=exportAll&commType= "+ commType +"&issuer=" + encodeURIComponent(issuer));
	});


	//Unmatched Entries page number change
	$("select#unmatched_paging").change(function() {
		var issuer = $("select#issuer-select").find('option:selected').html();
		var page_no = $("select#unmatched_paging").find('option:selected').val();
		unmatchedSpinner.show();
		 $( document ).ready(function() {
			$.ajax({
				url: "/pages/commission/process.php?get=main_unmatched&issuer=" + encodeURIComponent(issuer),
				type: "GET",
				data: {
					offset: page_no,
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$("table#main-unmatched-tbl tbody.content").html(r.data);
					}catch(e){
						alert(e);
					}
				},
				complete:function(){
					unmatchedSpinner.hide();
				}
			});
		});
	});
	
	//Clawback page number change
	$("select#allclawback_paging").change(function() {
        var issuer = $("select#issuer-select").find('option:selected').html();
		var page_no = $("select#allclawback_paging").find('option:selected').val();
		clawbackSpinner.show();
		 $( document ).ready(function() {
			$.ajax({
				url: "/pages/commission/process.php?get=all_clawback&issuer=" + encodeURIComponent(issuer),
				type: "GET",
				data: {
					offset: page_no,
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(clawback).html(r.data);
					}catch(e){
						alert(e);
					}
				},
				complete:function(){
					clawbackSpinner.hide();
				}
			});
		});
	});

	//Initial page number change
	$("select#initial_paging").change(function() {
		var page_no = $("select#initial_paging").find('option:selected').val();
		initialSpinner.show();
		 $( document ).ready(function() {
			$.ajax({
				url: "/pages/commission/process.php?get=all_initial&issuer=" + encodeURIComponent(issuer),
				type: "GET",
				data: {
					offset: page_no,
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(initial).html(r.data);
					}catch(e){
						alert(e);
					}
				},
				complete:function(){
					initialSpinner.hide();
				}
			});
		});
	});

    //ACO page number change
    $("select#aco_paging").change(function() {
        var page_no = $("select#aco_paging").find('option:selected').val();
        acoSpinner.show();
        $( document ).ready(function() {
            $.ajax({
                url: "/pages/commission/process.php?get=all_aco&issuer=" + encodeURIComponent(issuer),
                type: "GET",
                data: {
                    offset: page_no,
                    type: "json"
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $(aco).html(r.data);
                    }catch(e){
                        alert(e);
                    }
                },
                complete:function(){
                    acoSpinner.hide();
                }
            });
        });
    });

	//Other page number change
	$("select#other_paging").change(function() {
		var page_no = $("select#other_paging").find('option:selected').val();
		otherSpinner.show();
		 $( document ).ready(function() {
			$.ajax({
				url: "/pages/commission/process.php?get=all_other&issuer=" + encodeURIComponent(issuer),
				type: "GET",
				data: {
					offset: page_no,
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$(other).html(r.data);
					}catch(e){
						alert(e);
					}
				},
				complete:function(){
					otherSpinner.hide();
				}
			});
		});
	});


    //allow entries from tbl_source to be deleted
    function delete_from_tblsource(id){
        $('<div></div>').appendTo('body')
            .html('<div><p>Are you sure that you want to delete this entry from tbl source?</p></div>')
            .dialog({
                modal: true, title: 'Confirm Deletion', zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: {
                    Yes: function () {
                        $.ajax({
                            url: "/pages/commission/process.php?get=delete_from_tblsource",
                            type: "GET",
                            data: {
                                id: id,
                                type: "json"
                            },
                            dataType: "json",
                            success: function( r ){
                                try{
                                    if(r.error == false){
                                        $("#delete_tblsource_status").removeClass().addClass("good_news").html(r.status);
                                        $('tr#'+id).remove();
                                    }else{
                                        $("#delete_tblsource_status").removeClass().addClass("bad_news").html(r.status);
                                    }
                                    setTimeout(function(){
                                        $("#delete_tblsource_status").html("&nbsp;").removeClass();
                                    }, 5000)
                                }catch(e){
                                    alert(e);
                                }
                            }
                        });
                        $(this).dialog("close");
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });

    }

    //delete buttons within each tabbed section, get id and run delete functionality
    // (Chaining the selectors caused issues hence the repetitive code, #todo fix in future
    $("table#main-unmatched-tbl").on("click", ".delete_tbl_source", function() {
        var id = $(this).attr('id');
        delete_from_tblsource(id);
    });
    $(clawback_tbl).on("click", ".delete_tbl_source", function() {
        var id = $(this).attr('id');
        delete_from_tblsource(id);
    });
    $(initial_tbl).on("click", ".delete_tbl_source", function() {
        var id = $(this).attr('id');
        delete_from_tblsource(id);
    });
    $(aco_tbl).on("click", ".delete_tbl_source", function() {
        var id = $(this).attr('id');
        delete_from_tblsource(id);
    });
    $(other_tbl).on("click", ".delete_tbl_source", function() {
        var id = $(this).attr('id');
        delete_from_tblsource(id);
    });

});


</script>

<style>
div#<?=_LINK?> table.scrollable div.scroll {
    height: 320px;
}
#process_tabs{
	padding-top:20px;
}
.proccess_btns{
	float:right;
}
#notes_box{
	width: 50%;
	height: 320px;
	padding: 0 5px 0 5px;
	overflow-y: scroll;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<button id="view-balances" name="view-balances">View Balances</button>
	<button id="export-source" name="export-source">Export Source</button>
	<button id="process-clawback" name="process-clawback">Process >= -£5.00 Clawback</button>
	<button id="process-initial" name="process-initial">Process < £50.00 Initial</button>
	<button id="add-clipol" name="add-clipol">Process Matched</button>
    <button id="process-aco" name="process-aco">Process ACO - NO VAT</button>
	
	<?php
		$db = new mydb();

		$db -> query("SELECT feebase.tblbatch.issuerid, feebase.tbl_source.issuer
						FROM feebase.tbl_source
						INNER JOIN feebase.tblbatch
						ON feebase.tbl_source.batch_id = feebase.tblbatch.batchid
						GROUP BY feebase.tbl_source.issuer
						ORDER BY feebase.tbl_source.issuer");

		echo "<select id='issuer-select' name='issuer-select'>";

		while($n = $db -> next() ){
			echo "<option value='",$n["issuerid"],"'>",$n["issuer"] ,"</option>";
		}
		echo "</select>";
	?>

    <div id="process_tabs" name="process_tabs">

		<ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>unmatched">Unmatched Entries</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>clawback">Clawback Entries</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>initial">Initial Entries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>ac_ongoing">Adviser Charging Ongoing Entries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>other">Adviser Charging Initial Entries</a>
            </li>
		</ul>
		
		<div class="tab-content">

            <div class="tab-pane fade show active" id="<?=_LINK?>unmatched">
				<div class="proccess_btns">
					<img id="unmatched_spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
					<button id="exportall-unmatched" class="exportAll"><img src="<?= el::image('table_go.png')?>" /></button>
					<button onclick='$(function(){ $("#main-unmatched-tbl").export(); });'><img src="<?= el::image("disk.png")?>" /></button>
					<button onclick='$(function(){ $("#main-unmatched-tbl").print(); });'><img src="<?= el::image("printer.png")?>" /></button>
					<select id="unmatched_paging"></select>
				</div>
                <table id="main-unmatched-tbl" name="main-unmatched-tbl" class="scrollable">
                    <thead>
                    <tr>
                        <th>Policy</th>
                        <th>Client</th>
                        <th>Issuer</th>
                        <th>Comm</th>
                        <th>Batch</th>
                        <th>Agency</th>
                        <th>Currency Type</th>
                        <th class="no_sort">Process</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                        <tr><td>Loading...</td></tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

			<div class="tab-pane fade" id="<?=_LINK?>clawback">
                <div class="proccess_btns">
					<img id="clawback_spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
					<button id="exportall-clawback" class="exportAll"><img src="<?= el::image('table_go.png')?>" /></button>
					<button onclick='$(function(){ $("#all-clawback").export(); });'><img src="<?= el::image("disk.png")?>" /></button>
					<button onclick='$(function(){ $("#all-clawback").print(); });'><img src="<?= el::image("printer.png")?>" /></button>
					<select id="allclawback_paging"></select>
                </div>
                <table id="all-clawback" name="all-clawback" class="scrollable">
					<thead>
						<tr>
							<th>Issuer</th>
							<th>Client</th>
							<th>Policy</th>
							<th>Batch</th>
							<th>Agency</th>
							<th>Partner</th>
							<th class="currency">Amount</th>
							<th class="percentage">Rate</th>
                            <th>Currency Type</th>
							<th class="no_sort">Process</th>
						</tr>
					</thead>
					<tbody class="content">
                        <tr><td>Loading...</td></tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
			
			<div class="tab-pane fade" id="<?=_LINK?>initial">
                <div class="proccess_btns">
					<img id="initial_spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
					<button id="exportall-initial" class="exportAll"><img src="<?= el::image('table_go.png')?>" /></button>
					<button onclick='$(function(){ $("#all-initial").export(); });'><img src="<?= el::image("disk.png")?>" /></button>
					<button onclick='$(function(){ $("#all-initial").print(); });'><img src="<?= el::image("printer.png")?>" /></button>
					<select id="initial_paging"></select>
                </div>
				<table id="all-initial" name="all-initial" class="scrollable">
					<thead>
						<tr>
							<th>Issuer</th>
							<th>Client</th>
							<th>Policy</th>
							<th>Batch</th>
							<th>Agency</th>
							<th>Partner</th>
							<th class="currency">Amount</th>
                            <th>Type</th>
							<th class="percentage">Rate</th>
                            <th>Currency Type</th>
							<th class="no_sort">Process</th>
						</tr>
					</thead>
					<tbody class="content">
                        <tr><td>Loading...</td></tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>

            <div class="tab-pane fade" id="<?=_LINK?>ac_ongoing">
                <div class="proccess_btns">
                    <img id="aco_spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
					<button id="exportall-ACongoing" class="exportAll"><img src="<?= el::image('table_go.png')?>" /></button>
                    <button onclick='$(function(){ $("#all-aco").export(); });'><img src="<?= el::image("disk.png")?>" /></button>
                    <button onclick='$(function(){ $("#all-aco").print(); });'><img src="<?= el::image("printer.png")?>" /></button>
                    <select id="aco_paging"></select>
                </div>
                <table id="all-aco" name="all-aco" class="scrollable">
                    <thead>
                    <tr>
                        <th>Issuer</th>
                        <th>Client</th>
                        <th>Policy</th>
                        <th>Batch</th>
                        <th>Agency</th>
                        <th>Partner</th>
                        <th class="currency">Amount</th>
                        <th>Type</th>
                        <th class="percentage">Rate</th>
                        <th>Currency Type</th>
                        <th class="no_sort">Process</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    <tr><td>Loading...</td></tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>other">
                <div class="proccess_btns">
					<img id="other_spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
					<button id="exportall-other" class="exportAll"><img src="<?= el::image('table_go.png')?>" /></button>
                    <button onclick='$(function(){ $("#all-other").export(); });'><img src="<?= el::image("disk.png")?>" /></button>
                    <button onclick='$(function(){ $("#all-other").print(); });'><img src="<?= el::image("printer.png")?>" /></button>
					<select id="other_paging"></select>
                </div>
                <table id="all-other" name="all-other" class="scrollable">
                    <thead>
                    <tr>
                        <th>Issuer</th>
                        <th>Client</th>
                        <th>Policy</th>
                        <th>Batch</th>
                        <th>Agency</th>
                        <th>Partner</th>
                        <th class="currency">Amount</th>
                        <th>Type</th>
                        <th class="percentage">Rate</th>
                        <th>Currency Type</th>
                        <th class="no_sort">Process</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    <tr><td>Loading...</td></tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>

            <br />
            <span id="delete_tblsource_status" >&nbsp;</span>

		</div>

    </div>

</div>
