<script type="text/javascript">
$(function( ){

    var form = $("form#update_code");
    var updbtn = $("button#update_agency");

    $( updbtn ).click( function( ) {

        var new_agency_id = $("input#new_code", form).val();
        var new_agency = $("input#new_code", form).siblings(":input").val();

        if(confirm("Are you sure you want to update policy number?")) {

            $(form).submit(function(){

                $.post($(this).attr('action'), {new_code_id : new_agency_id, new_code : new_agency}, function(r){

                    r = json_decode(r);

                    if( r.status == false ) {
                        $("span.user_msg").addClass("bad_news").html("Problem updating policy number, please contact IT.");
                    }
                    else {
                        $("span.user_msg").addClass("good_news").html("Policy number updated successfully.");
                    }

                });

                return false;

            });

        }
    });

});
</script>


<form id="update_code" name="update_code" action="/pages/commission/update_main_agency.php?id=<?= $_GET['id'] ?>&orgpol=<?= urlencode ($_GET['orgpol']) ?>&do=update&iss=<?= $_GET['iss'] ?>" method="POST">

    <div>
        Original:  <input type="text" id="org_code" name="org_code" value="<?= $_GET['orgpol'] ?>" disabled="disabled" />
        Update To: <?php echo el::suggest( "new_code", Policy::get_public_dir()."?suggest=1&archived=hide&filter[issuer]=". $_GET["iss"], "search")?>
      </div>
    <div align="right"><br /><button id="update_agency" name="update_agency">Save</button></div>

</form>


<span class="user_msg">
	&nbsp;
</span>