
<style type="text/css">
    #bigImage{
        height: 300px;
        width: 300px;
        margin: 0 auto;
        background: url(<?=el::image("404.png")?>) left center no-repeat #005b7a;
        background-repeat: no-repeat;
        background-size: contain;
    }



    #loginLabel{
        color: #000000;
    }
    #prophetLabel{
        color: #000000;
        font-size: larger;
        padding-bottom:20px;
        font-weight: 700;
    }
</style>

<div id="centerPiece" name="centerPiece">
        <table width="100%">
            <tr>
                <div id="bigImage"></div>
                <div align="center" id="prophetLabel" > 404</div>
                <div align="center" id="loginLabel">This page cannot be found</div>

        </table>
</div>

