<?php
/* The default search page structure for an object */

(isset($object)) or $object = false;
(isset($url)) or $url = false;

if (!$object && !$url) {
    trigger_error( "Either $object (DatabaseObject) or $url (String) must be defined", E_USER_ERROR );
}

if (!$url) {
    $url = $object->get_common_url();
}

if (isset($_GET['do']) && $_GET['do'] == "searchScheme") {
    $self = _SELF . "?do=searchScheme";
} else {
    $self = _SELF;
}
?>

<style type="text/css">
div#<?=_LINK?>{ 
    border-bottom: 1px #9F9F9F solid;
    padding-bottom: 15px;
}
div#<?=_LINK?> div.suggest{
    width: 80%;
}

div#<?=_LINK?> input[type='text'] {
    /*font-size: 18pt;*/
    font-size: 12pt;
}

div#<?=_LINK?> button{ 
    font-size: 16pt; 
    padding: 1px;
}
</style>

<script type="text/javascript">
    $(function () {

        var frame = $("div#<?=_LINK?>");
        var form = $(frame).find("form")[0];
        var submit = $(form).find(":submit");
        var suggest = $(form).find(".suggest");


        $(form).bind("keypress", function (e) {
            if (e.keyCode == 13) return false;
        });

        $(form).submit(function () {
            $(this).send();
            return false;
        });

        $(suggest).bind("ready", function () {
            $(this).bind("selection", function () {
                    $(form).submit();
                });
            $(":text", this).focus();
        });
    });
</script>

<div id="<?=_LINK?>" class="suggest-container">
    <form action="<?=url($url,array('get'=>'profile'))?>" method="get" target="#profile" style='display:inline-block;width:90%;' autocomplete="off">
        <?= el::suggest( "id", $self, "search", true ) ?>
    </form>
</div>

<div id="profile" name="profile">
    <?= ( empty( $help ) ) ? "&nbsp" : $help; ?>
</div>
