<?php if (isset($_GET['do']) && $_GET['do'] == "searchScheme") : ?>
    <?php $scheme = true; ?>
    Schemes can be searched by Scheme Name or ID
<?php else: ?>
    <?php $scheme = false; ?>
    <?=$class?> can be searched on the following parameters
<?php endif; ?>


<?php if (!$scheme) : ?>
    <table>
        <thead>
            <tr>
                <th>Flag</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php
                foreach( $flags as $flag_name=>$flag ) {
                    // *** Attempt to resolve a description for each flag *** //
                    // Passed in Flag constructor, argument following Search::FLAG_USAGE
                    if (property_exists($flag, "usage")) {
                        $usage = $flag->usage;
                    } elseif (defined('Search::'.strtoupper($flag_name)."EG")) {
                        $usage = constant("Search::".strtoupper($flag_name)."EG");
                    } elseif (defined('Search::'.strtoupper(get_class($flag->property))."EG")) {
                        $usage = constant("Search::".strtoupper(get_class($flag->property))."EG");
                    } else {
                        $usage = "&nbsp;";
                    }
            ?>
                <tr>
                    <th>&#45;<?=$flag_name?></th>
                    <td><?=(empty($flag->description))?"&nbsp;":$flag->description?></td>
                    <td><?=$usage?></td>
                </tr>
            <?php
                }
            ?>
        </tbody>
    </table>
    <br />
    More than one flag can be used to narrow down searches further
<?php endif; ?>
