<style type="text/css">
#<?=_LINK?> table.scrollable div.scroll {
    height: 400px;
}
</style>
<script type="text/javascript">
$( function( ){

	var frame = $("#<?=_LINK?>");
    var acc_tbl = $("table#acc_reviews", frame);
	
		$(acc_tbl).bind("load_accounts", function( ){
			$.ajax({
				url: "/pages/accountreviews/index.php?do=load_accounts_new",
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				beforeSend: function () {
					$(".content", acc_tbl).html("<tr><td>Loading...</td></tr>");
				},
				success: function( r ){
					try{
						$( ".content", acc_tbl ).html(r.accounts);
						$( ".counter", frame ).html(r.practice_counter+" Practices");
					}catch(e){
						alert(e);
					}
				}
			});
		});
		
		$(acc_tbl).trigger("load_accounts");
		
		$(acc_tbl).on("click", ".review", function(){
			var practice_id = this.id;
			new popup({
				url: "/pages/accountreviews/index.php?do=review_account&practice_id="+practice_id
			});
		});

	$(frame).on("click", "#auto_review", function(){
		var practice_id = this.id;
		new popup({
			url: "/pages/accountreviews/index.php?do=auto_proess_same_show"
		});
	});

});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<button id="auto_review" class="my-2">Process Same Rates</button>

	<span class="pull-right counter"></span>

	<table id="acc_reviews" name="acc_reviews" class="scrollable">
		<thead>
			<tr>
				<th>Practice Name</th>
				<th class="date">Review Date</th>
				<th class="no_sort">&nbsp;</th>
			</tr>
		</thead>

		<tbody class="content">
		</tbody>
	</table>

</div>