<style type="text/css">#<?=_LINK?>{
    height: 100px;
	width: 1200px;
}
#status{
	float:right;
	margin-bottom:10px;
}
</style>
<script type="text/javascript">
$( function( ){

	var form =  $("div#<?=_LINK?>");
	var pop = form.popup_config({
		title: "Review Accounts Email <?=$practice?>",
		center: true
	});
    var loadingSpinner = $("img#spinner_pol",form);
	var status = $("#email_status", form);
    loadingSpinner.hide();


    $(form).on("click", "#send_email, #send_preview", function(){

       var preview = false;

      if($(this).attr('id') == "send_preview"){
          var preview = true;
      }


        if($("#recipient_email").val() == "" && preview == false){
            alert("Please enter an email address");
        }else {

            $('<div></div>').appendTo('body')
                    .html('<div><h4>Are you sure that you want to send this email?</h4></div>')
                    .dialog({
                        modal: true, title: 'Email Confirmation', zIndex: 10000, autoOpen: true,
                        width: 'auto', resizable: false,
                        buttons: {
                            Yes: function () {
                                loadingSpinner.show();

                                if((preview != true)){
                                   $("#send_email").attr("disabled", "disabled");
                                }

                                var gri = "<?= html_entity_decode(str_replace('&pound;', '', htmlentities($gri))) ?>";

                                $.ajax({
                                    url: "/pages/accountreviews/index.php?do=single_email",
                                    type: "GET",
                                    data: {
                                        type: "json",
                                        preview: preview,
                                        partner_id: <?=$p->id()?>,
                                        practice: "<?=$practice->id()?>",
                                        email:$("#recipient_email").val(),
                                        suggested:"<?=$suggested?>",
                                        gri:gri
                                    },
                                    dataType: "json",
                                    success:
                                        function (r) {
                                            try {
                                                loadingSpinner.hide();
                                                if (r.error == false) {
                                                    status.html(r.status).removeClass().addClass("good_news").animate({opacity: 100});
                                                } else {
                                                    status.html(r.error).removeClass().addClass("bad_news").animate({opacity: 100});
                                                }
                                            } catch (e) {
                                                alert(e);
                                            }
                                        }
                                });
                                $(this).dialog("close");
                            },
                            No: function () {
                                $(this).dialog("close");
                            }
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        }
                    });
        }

    });
	
	//pre-fill email field with partners default email address
	 $(document).on("click", "#default_<?=$p->id()?>", function(){
        if(this.checked) {
            $("#recipient_email").val("<?=$p->email()?>");
        }else {
            $("#recipient_email").val("");
        }
    });

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

	<p>Please enter the email address that you would like the account review details to be sent to:</p>
	<table class="luxe">
		<thead>
			<tr>
				<th>Partner</th>
				<th>Account Type</th>
				<th>Email</th>
				<th>Show Default</th>
				<th>Email Preview</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><?=$p->link()?></td>
				<td><?=$p->acctype()?></td>
				<td><input type="text" id="recipient_email" data-pattern="^[-A-Z0-9._%+&amp;]+@[A-Z0-9.&amp;-]+\.[A-Z]{2,4}$" data-pattern_mods="i" size="45" value="<?php if($p->acctype() == 'Sole Trader'){echo $p->email();} ?>"/></td>
				<td><input type="checkbox" id="default_<?=$p->id()?>"/></td>
				<td><button id="send_preview">Receive Preview</button></td>
				<td><button id="send_email">Send to Recipient</button></td>
			</tr>
		</tbody>
	</table>
	
	<p id="status">
		<span id="email_status">&nbsp;</span>
		<img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
	</p>
</div>