<style type="text/css">#<?=_LINK?>{
    height: 100px;
	width: 1000px;
}
#status{
	float:right;
	margin-bottom:10px;
}
</style>
<script type="text/javascript">
$( function( ){

	var form =  $("div#<?=_LINK?>");
	var pop = form.popup_config({
		title: "Review Accounts Emails <?=$practice?>",
		center: true
	});
    var loadingSpinner = $("img#spinner_pol",form);
	var status = $("#email_status", form);
	var table = $("table#multiple_email", form);
    loadingSpinner.hide();


    $(form).on("click", "#email_all, #send_preview", function(){

        var preview = false;

        if($(this).attr('id') == "send_preview"){
            var preview = true;
        }

        $("#send_email").attr("disabled", "disabled");
        var partner_ids = [];
        var email_addresses = [];
        var gri = [];
        var count = 0;
        $("tbody > tr", table).each(function() {
            var id = $(this).attr('id');
            if($("tbody > tr#"+id+" > td > input#recipient_email_"+id+"", table).val() == ""){
                alert("please ensure all email fields are filled in");
                return;
            }else {
                partner_ids.push(id);
                email_addresses.push($("tbody > tr#" + id + " > td > input#recipient_email_" + id + "", table).val());
                gri.push($("tbody > tr#" + id + " > td > input#gri_" + id + "", table).val());
                count += 1;
            }
        });

        if(count == $("tbody > tr", table).length){

            $('<div></div>').appendTo('body')
                .html('<div><h3>Are you sure that you want to send these emails?</h3></div>')
                .dialog({
                    modal: true, title: 'Email Confirmation', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Yes: function () {
                            loadingSpinner.show();
                            $.ajax({
                                url: "/pages/accountreviews/index.php?do=email_multiple",
                                type: "GET",
                                data: {
                                    type: "json",
                                    preview: preview,
                                    partner_id: partner_ids,
                                    practice: "<?=$practice->id()?>",
                                    email: email_addresses,
                                    gri: gri,
                                    suggested: "<?=$suggested?>"
                                },
                                dataType: "json",
                                success: function (r) {
                                    try {
                                        loadingSpinner.hide();
                                        if (r.error == false) {
                                            status.html(r.status).removeClass().addClass("good_news").animate({opacity: 100});
                                        } else {
                                            status.html(r.error).removeClass().addClass("bad_news").animate({opacity: 100});
                                        }
                                        setTimeout(function () {
                                            status.removeClass().animate({opacity: 0});
                                        }, 4000);
                                    } catch (e) {
                                        alert(e);
                                    }
                                }
                            });
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        }
                    });


        }
    });
	
	//pre-fill email field with partners default email address
	 $(document).on("click", ".default", function(){
        var id = this.id;
        if(this.checked) {
            $("#recipient_email_"+id).val($("#default_email_"+id).val());
        }else {
            $("#recipient_email_"+id).val("");
        }
    });



});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

	<p>Please enter the email address that you would like the account review details to be sent to:</p>
	<table id="multiple_email" class="luxe">
		<thead>
			<tr>
				<th>Partner</th>
				<th>Account Type</th>
				<th>Email</th>
				<th>Show Default</th>
			</tr>
		</thead>
		<tbody>
			<?=$tr;?>
		</tbody>
	</table>

	
	<p id="status">
		<span id="email_status">&nbsp;</span>
        <button id="send_preview">Receive Preview</button>
        <button id="email_all">Email Recipient(s)</button>
        <br />
		<img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
	</p>
</div>