<style type="text/css">
#<?=_LINK?> table.scrollable div.scroll {
    height: 400px;
}
</style>
<script type="text/javascript">
$( function( ){

	var frame = $("#<?=_LINK?>");
	var acc_tbl = $("table#acc_reviews", frame);
	
		$(acc_tbl).bind(
			"load_queries",
				function( ){
					$.ajax({
						url: "/pages/accountreviews/index.php?do=load_queries",
						type: "GET",
						data: {
							type: "json"
						},
						dataType: "json",
						success: function( r ){
							try{
								$( ".content", acc_tbl ).html(r.accounts);
							}catch(e){
								alert(e);
							}
						}
					});
				}
		);
		
		$(acc_tbl).trigger("load_queries");
		
		$(acc_tbl).on("click", ".review", function(){
			var practice_id = this.id;
			new popup({
				url: "/pages/accountreviews/index.php?do=review_queries&practice_id="+practice_id,
			});
		});
		
		$(acc_tbl).on("click", ".email", function(){
			alert("This button will eventually produce an email which will be sent at either practice or partner level");
		});

});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<table id="acc_reviews" name="acc_reviews" class="scrollable">
		<thead>
			<tr>
				<th>Practice Name</th>
				<th class="date">Review Date</th>
				<th class="no_sort">&nbsp;</th>
			</tr>
		</thead>

		<tbody class="content">
		</tbody>
	</table>

</div>