<style type="text/css">
#<?=_LINK?> {
    height: 450px;
    width: 1330px;
}

#<?=_LINK?> table.scrollable div.scroll {
    height: 300px;
    width: 1330px;
}

#status {
    float: right;
    margin-bottom: 10px;
}
</style>
<script type="text/javascript">
    $(function () {

        var form = $("div#<?=_LINK?>");
        var pop = form.popup_config({
            title: "Review - Same rate accounts",
            center: true
        });
        var rev_tbl = $("#practice_reviews", form);
        var status = $("#review_status", form);
        var loadingSpinner = $("img#spinner_pol", form);
        var update_btn = $("#update-all");

        update_btn.attr('disabled', 'disabled');

        $(rev_tbl).bind("load_acc", function () {
            loadingSpinner.show();
            $.ajax({
                url: "/pages/accountreviews/index.php?do=auto_process_same_new",
                type: "GET",
                data: {
                    type: "json"
                },
                dataType: "json",
                beforeSend: function () {
                    $(".content", rev_tbl).html("<tr><td>Fetching accounts...</td></tr>");
                },
                success: function (r) {
                    try {
                        if (r) {
                            $(".content", rev_tbl).html(r.acc);
                            var rowCount = $('tbody.content tr', rev_tbl).length;
                            $("#row-counter").html(rowCount+" Partner accounts, "+r.practice_counter+" Practices");

                            update_btn.removeAttr('disabled');
                        } else {
                            $(".content", rev_tbl).html("<tr><td>No Accounts to update</td></tr>");
                        }
                        loadingSpinner.hide();
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });
        $(rev_tbl).trigger("load_acc");

        //update all rows
        $(update_btn).on("click", function () {
            update_btn.attr('disabled', 'disabled');
            var partner_ids = [];

            $("tbody > tr > td > div > table > tbody > tr", rev_tbl).each(function () {
                partner_ids.push($(this).attr('id'));
            });

            loadingSpinner.show();

            $.ajax({
                url: "/pages/accountreviews/index.php?do=update_all_auto",
                type: "GET",
                data: {
                    type: "json",
                    partner_id: partner_ids
                },
                dataType: "json",
                success: function (r) {
                    try {
                        $("#review_status").html(r.feedback);
                        // show error/success counts
                        (!r.error) ?
                            $("#review_status").addClass('good_news') :
                            $("#review_status").addClass('bad_news');

                        if (r.status != "") {
                            $("#review_errors").html(r.status);
                        }

                        loadingSpinner.hide();
                        $("table#acc_reviews").trigger("load_accounts");
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });

    });
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table class="scrollable" id="practice_reviews" name="practice_reviews">
        <thead>
        <tr>
            <th>Practice Name</th>
            <th>Partner Name</th>
            <th width="130px">Account Type</th>
            <th width="130px">Tariff</th>
            <th class="date" width="170px">Review Date</th>
            <th class="no_sort" width="80px">New Single Rate</th>
            <th class="no_sort" width="80px">New Bulk Rate</th>
            <th class="no_sort" width="80px">Suggested Rate<br />(Partner)</th>
            <th class="currency" width="80px">GRI 12</th>
        </tr>
        </thead>

        <tfoot>
            <tr>
                <td>Next Review: <?= $date->format('d/m/Y')?></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="3"><span id="row-counter">&nbsp;</span></td>
                <td>&nbsp;</td>
            </tr>
        </tfoot>

        <tbody class="content">
        </tbody>
    </table>

    <button type="button" id="update-all">Update</button>

    <p id="status">
        <span id="review_status">&nbsp;</span>
        <span id="review_errors">&nbsp;</span>
        <img id="spinner_pol" src="/lib/images/inline-ajax.gif" />
    </p>
</div>