<style type="text/css">
#<?=_LINK?>{
    height: 450px;
	width: 1330px;
}
#<?=_LINK?> table.scrollable div.scroll {
    height: 300px;
	width: 1330px;
}
#status{
	float:right;
	margin-bottom:10px;
}
</style>
<script type="text/javascript">
$( function( ){

	var form =  $("div#<?=_LINK?>");
	var pop = form.popup_config({
		title: "Review Accounts for: <?=$practice?>",
		center: true
	});
	var rev_tbl = $("#practice_reviews", form);
	var status = $("#review_status", form);
	var tariff_status = $("#tariff_status", form);
	var loadingSpinner = $("img#spinner_pol",form);

	$(rev_tbl).bind(
		"load_queries",
			function( ){
				loadingSpinner.show();
				$.ajax({
					url: "/pages/accountreviews/index.php?do=review_queries&practice_id=<?=$practice->id();?>&action=load_queries",
					type: "GET",
					data: {
						type: "json"
					},
					dataType: "json",
					success: function( r ){
						try{
							$( ".content", rev_tbl ).html(r.acc);
							$( "span#total_gri", rev_tbl ).html(r.total_gri);

							if(r.practice_rate != null){
								$( "span#practice_rate", rev_tbl ).html(r.practice_rate+"%");
							}

							if(r.tariff_diff == true){
								$("#update_all", form).attr('disabled','disabled');
								$("#update_all", form).attr('title','Update All is currently unavailable as there are Partners on diffrent Tariffs within this Practice.');
								$("span#tariff_status", form ).html("<div class='notification info static' style='display:block;'>There are Partners within this Practice that are on different tariffs. Please review Partners individually.</div>");
							}

                            if(r.all == true){
                                $("#all_span", rev_tbl).html("<button id='update_all'>Update All</button>");
                                $("#email_selected", rev_tbl).html("<button id='email_selected'>Email Selected</button>");
                            }

                            if(r.band != null){
                                $(".band", rev_tbl).val(r.band);
                            }

							loadingSpinner.hide();
						}catch(e){
							alert(e);
						}
					}
				});
			}
	);
	$(rev_tbl).trigger("load_queries");

	//Fill all dates with very basic validation
	$(rev_tbl).on("click", "#fill_date", function(){
		if($("#day").val() == ""){
			status.html("Please enter a valid Day in format DD").removeClass().addClass("bad_news");
		}else if($("#day").val() > 31){
			status.html("Please enter a valid Date").removeClass().addClass("bad_news");
		}else if($("#month").val() == ""){
			status.html("Please enter a valid Month in format MM").removeClass().addClass("bad_news");
		}else if($("#month").val() > 12){
			status.html("Please enter a valid Date").removeClass().addClass("bad_news");
		}else if($("#year").val() == ""){
			status.html("Please enter a valid Year in format YYYY").removeClass().addClass("bad_news");
        }else if($("#year").val()+"-"+$("#month").val()+"-"+$("#day").val() <= "<?=date('Y-m-d')?>"){
            status.html("New review date must be in the future").removeClass().addClass("bad_news");
		}
		else{
			status.html("&nbsp;").removeClass();
			$(".date.day").val( $("#day").val() );
			$(".date.month").val( $("#month").val() );
			$(".date.year").val( $("#year").val() );
		}

	});

	//Fill all single rates
	$(rev_tbl).on("click", "#fill_single", function(){
		if($("#single_rate").val() == ""){
			status.html("Please enter a valid Single Rate percentage").removeClass().addClass("bad_news");
		}else{
			status.html("&nbsp;").removeClass();
			$("#partner\\[single_rate\\]").val( $("#single_rate").val() );
		}
	});

	//Fill all bulk rates
	$(rev_tbl).on("click", "#fill_bulk", function(){
		if($("#bulk_rate").val() == ""){
			status.html("Please enter a valid Bulk Rate percentage").removeClass().addClass("bad_news");
		}else{
			status.html("&nbsp;").removeClass();
			$("#partner\\[bulk_rate\\]").val( $("#bulk_rate").val() );
		}
	});

    //update single row
    $(rev_tbl).on("click", ".update", function(){
        var id = this.id;
        var review_date = $("tr#"+id+" > td > #partner\\[review\\]\\[Y\\]", rev_tbl).val() +"-"+ $("tr#"+id+" > td > #partner\\[review\\]\\[M\\]", rev_tbl).val() +"-"+ $("tr#"+id+" > td > #partner\\[review\\]\\[D\\]", rev_tbl).val();

        if(review_date <= "<?= date('Y-m-d')?>"){
            status.html("New review date must be in the future").removeClass().addClass("bad_news");
        }else{
            loadingSpinner.show();

            $(".update").attr("disabled", "disabled");
            $("#update_all").attr("disabled", "disabled");

            $.ajax({
                url: "/pages/accountreviews/index.php?do=update_single_row",
                type: "GET",
                data: {
                    type: "json",
                    partner_id: id,
                    practice: "<?=$practice?>",
                    gri: $("tr#"+id+" > td.gri", rev_tbl).text(),
                    band: $("tr#"+id+" > td > .band", rev_tbl).val(),
                    review_date: review_date,
                    single_rate: $("tr#"+id+" > td > span > span > #partner\\[single_rate\\]", rev_tbl).val(),
                    bulk_rate: 	 $("tr#"+id+" > td > span > #partner\\[bulk_rate\\]", rev_tbl).val(),
                    suggested:  $("tr#"+id+" > td.suggested", rev_tbl).text()
                },
                dataType: "json",
                success: function( r ){

                    var gri = $("tr#"+id+" > td.gri", rev_tbl).text();
                    var suggested = $("tr#"+id+" > td.suggested", rev_tbl).text();

                    try{
                        gri = gri.replace(/,/g, '').replace(/£/gi, '');
                        suggested = suggested.replace(/,/g, '').replace(/%/gi, '');
                        if( $("#"+id+" .email_partner").is(':checked') ){
                            var p = new popup({
                                url: "/pages/accountreviews/?do=prompt_email&partner_id="+id+"&practice=<?=$practice->id()?>&gri="+gri+"&suggested="+suggested,
                            });
                        }

                        loadingSpinner.hide();
                        if(r.error == false){
                            status.html(r.status).removeClass().addClass("good_news").animate({ opacity: 100 });
                            $(rev_tbl).trigger("load_acc");
                        }else{
                            status.html(r.error).removeClass().addClass("bad_news").animate({ opacity: 100 });
                        }
                        setTimeout( function(){
                            status.removeClass().animate({ opacity: 0 });
                            $(".update").removeAttr("disabled");
                            $("#update_all").removeAttr("disabled");
                        }, 4000);
                    }catch(e){
                        alert(e);
                    }
                }
            });
        }
    });

    //update all rows
    $(rev_tbl).on("click", "#update_all", function(){

        var partner_ids = [];
        var bands = [];
        var suggested = [];
        var review_dates = [];
        var single_rates = [];
        var bulk_rates = [];
        var gri = [];
        var error = false;

        $("tbody > tr > td > div > table > tbody > tr", rev_tbl).each(function(){
            var id = $(this).attr('id');
            var review_date = $("tr#"+id+" > td > #partner\\[review\\]\\[Y\\]", rev_tbl).val() +"-"+ $("tr#"+id+" > td > #partner\\[review\\]\\[M\\]", rev_tbl).val() +"-"+ $("tr#"+id+" > td > #partner\\[review\\]\\[D\\]", rev_tbl).val();

            if( ($("tr#"+id+" > td > #partner\\[review\\]\\[Y\\]", rev_tbl).val() == "") || ($("tr#"+id+" > td > #partner\\[review\\]\\[M\\]", rev_tbl).val() == "") || ($("tr#"+id+" > td > #partner\\[review\\]\\[D\\]", rev_tbl).val() == "") ){
                status.html("Please fill in a valid review date for partner #"+id).removeClass().addClass("bad_news");
                error = true;
            }else if(review_date <= "<?= date('Y-m-d')?>"){
                status.html("New review date must be in the future for partner #"+id).removeClass().addClass("bad_news");
                error = true;
            }else{
                partner_ids.push($(this).attr('id'));
                bands.push($("tr#"+id+" > td > .band", rev_tbl).val());
                suggested.push($("tr#"+id+" > td.suggested", rev_tbl).text().replace(/%/gi, ''));
                review_dates.push($("tr#"+id+" > td > #partner\\[review\\]\\[Y\\]", rev_tbl).val() +"-"+ $("tr#"+id+" > td > #partner\\[review\\]\\[M\\]", rev_tbl).val() +"-"+ $("tr#"+id+" > td > #partner\\[review\\]\\[D\\]", rev_tbl).val());
                single_rates.push($("tr#"+id+" > td > span > span > #partner\\[single_rate\\]", rev_tbl).val());
                bulk_rates.push($("tr#"+id+" > td > span > #partner\\[bulk_rate\\]", rev_tbl).val());
                gri.push($("tr#"+id+" > td.gri", rev_tbl).text().replace(/,/g, '').replace(/£/g, ''));
            }
        });

        if(error == true){
            return false;
        }else{
            loadingSpinner.show();
            $(".update").attr("disabled", "disabled");
            $("#update_all").attr("disabled", "disabled");

            $.ajax({
                url: "/pages/accountreviews/index.php?do=update_all",
                type: "GET",
                data: {
                    type: "json",
                    practice: "<?=$practice?>",
                    partner_id: partner_ids,
                    band: bands,
                    suggested: suggested,
                    review_date: review_dates,
                    single_rate: single_rates,
                    bulk_rate: bulk_rates,
                    gri: gri
                },
                dataType: "json",
                success: function( r ){
                    try{

                        loadingSpinner.hide();
                        $('#email_all').attr('checked', false);
                        if(r.status == false){
                            status.html(r.error).removeClass().addClass("bad_news").animate({ opacity: 100 });
                        }else{
                            status.html(r.status).removeClass().addClass("good_news").animate({ opacity: 100 });
                            $("#update_all").removeAttr("disabled");
                            /*
                             disable this trigger for now, if all records are updated, the rows will be removed from
                             the table as their review date will be > than 1month thus not allowing 'email selected'
                             functionality to be used. Updated records will still be removed from table on re-opening.
                             */
                            // $(rev_tbl).trigger("load_acc");
                        }
                        setTimeout( function(){
                            status.removeClass().animate({ opacity: 0 });
                            $(".update").removeAttr("disabled");
                        }, 4000);
                    }catch(e){
                        alert(e);
                    }
                }
            });
        }

    });

    //email selected rows
    $(rev_tbl).on("click", "#email_selected", function(){

        var r = confirm("Please confirm that you have successfully used the 'Update All' function before emailing partners. If partners are emailed before updated data is saved the email may contain incorrect/old information.");
        if (r == true) {
            // for selecting which partner account emails should be sent for
            var partner_ids_email = [];
            var suggested_email = [];
            var gri_email = [];
            $("tbody > tr > td > div > table > tbody > tr", rev_tbl).each(function(){
                var id = $(this).attr('id');
                if( $("#"+id+" .email_partner").is(':checked') ){
                    partner_ids_email.push($(this).attr('id'));
                    suggested_email.push($("tr#"+id+" > td.suggested", rev_tbl).text().replace(/%/g, ''));
                    gri_email.push($("tr#"+id+" > td.gri", rev_tbl).text().replace(/,/g, '').replace(/£/gi, ''));
                }
            });

            if(partner_ids_email.length != 0){
                var p = new popup({
                    url: "/pages/accountreviews/?do=email_multiple_prompt&partner_ids=" + partner_ids_email + "&suggested=" + suggested_email + "&gri=" + gri_email + "&practice=<?=$practice->id()?>",
                });
            }
            $('#email_all_checkbox').attr('checked', false);
            $('.email_partner').attr('checked', false);
        }
    });

    $(document).on("click", "#email_all_checkbox", function(){
        if(this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function() {
                this.checked = true;
            });
        }else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });


});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

	<p><span id="tariff_status">&nbsp;</span></p>

	<table id="practice_reviews" name="practice_reviews" class="scrollable">
		<thead>
            <tr>
                <th>Partner Name</th>
                <th width="130px">Account Type</th>
                <th width="250px" class="date">Review Date</th>
                <th width="130px" class="no_sort">Partner Single Rate</th>
                <th width="130px" class="no_sort">Partner Bulk Rate</th>
                <th width="80px" class="currency" >GRI</th>
                <th width="100px">Suggested Rate</th>
                <th width="90px">Tariff</th>
                <th width="60px" class="no_sort">Email<br/><input type="checkbox" id ="email_all_checkbox"/></th>
                <th width="60px" class="no_sort">&nbsp;</th>
            </tr>
		</thead>

        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>
                    <input type="text" id="day" data-pattern="(0?[1-9])|([1,2][0-9])|(3[0,1])" class="date day" maxlength="2" size="2" value="">
                    <input type="text" id="month" data-pattern="(0?[1-9])|(1[0-2])" class="date month" maxlength="2" size="2" value="">
                    <input type="text" id="year" data-pattern="([1,2]\d{3})" class="date year" maxlength="4" size="4" value="">
                    <button id="fill_date">Fill All</button>
                </td>
                <td>
                    <input type="text" id="single_rate" maxlength="5" size="2" data-pattern="^(100|[1-9]?[0-9])(\.\d+)?$" data-pattern_mods="">
                    <button id="fill_single">Fill All</button>
                </td>
                <td>
                    <input type="text" id="bulk_rate" maxlength="5" size="2" data-pattern="^(100|[1-9]?[0-9])(\.\d+)?$" data-pattern_mods="">
                    <button id="fill_bulk">Fill All</button>
                </td>
                <td>
                    &pound;<span id="total_gri">&nbsp;</span>
                </td>
                <td>
                    <span id="practice_rate">&nbsp;</span>
                </td>
                <td>&nbsp;</td>
                <td><span id="email_selected">&nbsp;</span></td>
                <td>
                    <span id="all_span">&nbsp;</span>
                </td>
            </tr>
        </tfoot>

		<tbody class="content">
		</tbody>
	</table>

	<p id="status">
		<span id="review_status">&nbsp;</span>
		<img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
	</p>
</div>