<style type="text/css">
    form#<?=_LINK?> {
        width: 800px;
    }
</style>

<script type="text/javascript">
    $(function() {
        var frame = $("div#<?=_LINK?>");

        window.pop = frame.popup_config({
            title: "Add new file to S3",
            center: true
        });

    });
</script>

<div id="<?=_LINK?>">

    <form id="uploadForm" name="uploadForm" action="/documentstorage/?do=add" method="post" enctype="multipart/form-data">
        Select file to upload:
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Submit">
    </form>

</div>