<?php
	define( "FS_PLUGIN_ID", random_string(15) );
?>

<script type="text/javascript">
    $(function () {

        var form = $("form#<?=FS_PLUGIN_ID?>");
        var loadingSpinner = $("img#spinner", form);

        var table = $("table#file_storage_plugin", form);
        var status_box = $("span#status_plugin", form);
        var file_box = $("td#file_count", form);
        var file_size_box = $("td#total_size", form);
        var pluginInited = false;
        loadingSpinner.hide();

        loadingSpinner.show();
        fs_populate();
        loadingSpinner.hide();

        //Downloads the selected file from AWS
        $(form).on('click', '.viewFile', function () {
            var objectID = this.id;
            $.ajax({
                url: "<?=DocumentStorage::index_url()?>?do=show&id=" + objectID,
                type: "GET",
                cache: false,
                processData: false,
                contentType: false,
                success: function (r) {
                    var x = json_decode(r);
                    if (x.status == true) {
                        window.open(x.url);
                    }

                }

            });
        });

        $(document).bind("fs_populate", function(){
            fs_populate();
        });

        //Populates the table with files
        function fs_populate() {
            $.ajax({
                type: "GET",
                url: "<?=DocumentStorage::get_public_dir()?>",
                data: {
                    'id': '<?= $id ?>',
                    'object_type': '<?= $object ?>',
                    'do': 'get_files'
                },
                success: function (r) {
                    try {
                        r = json_decode(r);

                        $(status_box).html(r.status);
                        $(file_box).html("Files: " + r.filecount);
                        $(file_size_box).html("Total: " + r.totalFileSize);
                        $('progress').val(r.totalFilePercent);
                        $('#progrssSpan').html(r.totalFilePercent + "%");

                        $("#file_output", form).html("");
                        $("#file_output", form).append(r.data);
                    } catch (e) {
                        status_box
                            .text("Error: " + e)
                            .css("color", "red")
                            .show();
                    }
                },
                error: function (xhr, msg) {
                    status_box
                        .text("Error: " + msg)
                        .css("color", "red")
                        .show();
                },
                complete: function (xhr, msg) {
                    table.first_load = true;
                    table.xhr = null;
                }
            });
        }

        $(form).on("click", "#serv-doc-toggle", function () {
            $("tbody tr:not(.servicing)", table).toggle();
        });

        $(form).on("click", "#year-toggle", function () {
            // reset by showing all
            $("tbody tr", table).show();
            // hide all others
            $("tbody tr:not(.Y-"+$("#year-filter").val()+")", table).hide();
        });
    });
</script>

<style type="text/css">

    #<?= FS_PLUGIN_ID ?> > #status_plugin {
        display: none;
    }

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        width: 250px;
        height: 20px;
    }


    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg,
        transparent 33%, rgba(0, 0, 0, .1) 33%,
        rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
                rgba(255, 255, 255, .25),
                rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);
        border-radius: 2px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }

    #<?= FS_PLUGIN_ID ?> .scrollable div.scroll{
        min-height: 200px !important;
        max-height: 400px !important;
    }

    .tableFixHead          { overflow-y: auto; height: 300px; }
    .tableFixHead thead th { position: sticky; top: 0; }

    /* Just common table stuff. Really. */
    #<?= FS_PLUGIN_ID ?> table  { border-collapse: collapse; width: 100%; }
    #<?= FS_PLUGIN_ID ?> th, #<?= FS_PLUGIN_ID ?> td { padding: 8px 16px; }
    #<?= FS_PLUGIN_ID ?> th     { background:#eee; }

    #<?= FS_PLUGIN_ID ?>  #serv-doc-toggle {
             margin-right:30px
         }

    #<?= FS_PLUGIN_ID ?> #filters {
        margin-bottom:20px;
         }

</style>

<form id="<?=FS_PLUGIN_ID?>" name="<?=FS_PLUGIN_ID?>">
    <p align="right">
        <img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
    </p>

    <div id="filters">
        <button id="serv-doc-toggle" type="button">Toggle Servicing Documents</button>
        Year Filter: <input id="year-filter" type="number"/> <button id="year-toggle" type="button">Filter by Year</button>
    </div>

    <div class="tableFixHead">
        <table class="table table-striped" id="file_storage_plugin" name="file_storage_plugin">
            <thead>
            <tr>
                <th style="width:400px;">Name</th>
                <th>Link</th>
                <th>Category</th>
                <th data-sort="date" class="date">Date Uploaded</th>
                <th>Servicing</th>
                <th>Declaration</th>
                <th>Review Evidence</th>
            </tr>
            </thead>
            <tbody class='content' id="file_output"></tbody>
            <tfoot>
            <tr>
                <td> Storage Full (%)
                    <a href="https://support.policyservices.co.uk/hc/en-gb/articles/360001014334?flash_digest=8eda251d777c83177b9eb35ec693ca6f92158358" target="_blank"
                       title="Need help with myPSaccount storage?">
                        <i class="fa fa-question-circle" onmouseout='this.style.opacity="1"' onmouseover='this.style.opacity="0.5"'
                           style="color:white"></i></a> <br>
                    <progress max="100" value="">
                    </progress>
                    <span id="progrssSpan"></span>
                </td>
                <td id="total_size"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="file_count" name="file_count">&nbsp</td>
            </tr>
            </tfoot>
        </table>
    </div>

    <p align="right" style="margin:10px 5px 0 0;">
        <span id="status_plugin" name="status_plugin">&nbsp;</span>
    </p>
</form>