<style>
    #<?=_LINK?>{
        min-width: 400px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        frame.popup_config({
            title: "<?= $documentstorage->friendly_name ?>",
            center: true,
        });

        saveProfileNotification(frame);

        frame.on("successfulSave", function(){
            $(document).trigger("fs_populate");
        });

        //Downloads the selected file from AWS
        $(frame).on('click', '.viewFile', function () {
            var objectID = $(this).data("id");
            $.ajax({
                url: "<?=DocumentStorage::index_url()?>?do=show&id=" + objectID,
                type: "GET",
                cache: false,
                processData: false,
                contentType: false,
                success: function (r) {
                    var x = json_decode(r);
                    if (x.status == true) {
                        window.open(x.url);
                    }

                }

            });
        });
    });
</script>

<form id="<?=_LINK?>" action="<?= DocumentStorage::get_common_url(['do'=>'save','id'=>$documentstorage->id()]) ?>">

    <div class="p-3">
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Link</div>
            <div class="col-9"><?= $documentstorage->getObject()->link() ?></div>
        </div>
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Size</div>
            <div class="col-9"><?= $documentstorage->getHumanSize() ?></div>
        </div>
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Author</div>
            <div class="col-9"><?= $documentstorage->added_by->link() ?></div>
        </div>
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Date Uploaded</div>
            <div class="col-9"><?= $documentstorage->added_when ?></div>
        </div>
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Partner</div>
            <div class="col-9"><?= $documentstorage->partnerID->link() ?></div>
        </div>
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Servicing Document</div>
            <div class="col-9">
                <?php if(in_array(User::get_default_instance("department"), [7,15])): ?>
                <?= el($documentstorage->servicing_document) ?>
                <?php else: ?>
                <?= $documentstorage->servicing_document ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="row no-gutters mb-3">
            <div class="col-3 font-weight-bold">Document Category</div>
            <div class="col-9">
                <?php if(in_array(User::get_default_instance("department"), [7,15])): ?>
                <?= el($documentstorage->category, false, false, false, false, true) ?>
                <?php else: ?>
                <?= $documentstorage->category ?>
                <?php endif; ?>
            </div>
        </div>

        <div class="text-center">
            <button data-id='<?= $documentstorage->id() ?>' class='viewFile' >Download</button>
        </div>
    </div>
</form>