<style type="text/css">
div#<?=_LINK?> {
    width: 900px;
}
#upload_div{
	text-align:right
}
.heading{
	font-weight:bold;
}
#float_left{
	float:left;
	width:500px;
}
#float_right{
	float:right;
}

/** **/
#dragandrophandler{
	border:2px dotted #ededed;
	width:870px;
	height:90px;
	color:#888;
	text-align:center;
	vertical-align:middle;
	padding:10px 10px 10px 10px;
	margin-bottom:10px;
	font-size:150%;
	font-style:italic;
}
.progressBar{
    width: 200px;
    height: 22px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0 10px 5px 5px;
    vertical-align:top;
}
.progressBar div{
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #00516b; border-radius: 3px;
}
.statusbar{
    border-top:1px solid #005b7a;
    min-height:25px;
    width:700px;
    padding:10px 10px 0 10px;
    vertical-align:top;
}
.statusbar:nth-child(odd){
    background:#F2F2EA;
}
.filename{
	display:inline-block;
	vertical-align:top;
	width:250px;
}

.filesize{
	display:inline-block;
	vertical-align:top;
	color:#005b7a;
	width:100px;
	margin-left:10px;
	margin-right:5px;
}
#dropped_files{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#dropped_files li span{
	position: absolute;
}

</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<p>Please select the relevant file(s) to be uploaded.</p>
	
	<form id="file_upload" name="file_upload" target="upload_target">
	<input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
	
		<div id="select_file">
			<table id="uploads" style="line-height:25px;">
				<tbody>
					<tr><td>&nbsp;</td></tr>
					<tr>
						<td colspan="2">
							<div id="dragandrophandler"><p>Drag & Drop File Here<br/>(PDF's only)</p></div>
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><table id="dropped_files"></table></td>
					</tr>

					<tr>
						<td>&nbsp;</td>
						<td><div id="status1"></div></td>
					</tr>
					<tr style="display:none;">
						<td><input type="file" id="file" name="file" /></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td><b><span id="total_size">&nbsp;</span></b></td>
					</tr>

				</tbody>
			</table>

		</div>

		<div id="upload_div">
			<div id="float_left">
				<iframe id="upload_target" name="upload_target" frameBorder="0" width="600" height="40" style="display:block;"></iframe>
			</div>
			<div id="float_right">
				<img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
				<span id="upload_status">&nbsp;</span>
				<input type="submit" id="submit" value="Upload Files" />
			</div>
		</div>

	</form>
</div>

<script type="text/javascript">
	$(function () {

        var frame = $("div#<?=_LINK?>");
        var form = $("> form#file_upload", frame);
        var file = $("#file", form);
        var upload_status = $("#upload_status", frame);
        var loadingSpinner = $("img#spinner_pol", form);
        var rowCount = 0;
        frame.letterForm = $("form#letter_form");

        window.pop = frame.popup_config({
            title: 'Upload Documentation',
            center: true
        });

        loadingSpinner.hide();
        $("#submit", frame).attr('disabled','disabled');

        /* ********** drag and drop code ********** */
        var i = 0;
        window.file_counter_true = 0;
        window.file_counter_false = 0;

        function sendFileToServer(formData,status){

            // give user ability to order files  for joining
            $(".up, .down").click(function (e) {
                var row = $(this).parents("tr:first");
                ($(this).is(".up")) ?
                    row.insertBefore(row.prev()) :
                    row.insertAfter(row.next());

                e.stopImmediatePropagation();
                e.preventDefault();
            });

            // give the user the ability to delete file before upload
            $(".delete_btn", frame).unbind().click(function() {
                var row = $(this).parents("tr:first");
                update_upload_size($(".filesize", row).text(), $("#total_size").text());
                row.remove();
            });

            $("#submit", frame).removeAttr("disabled");

            $(frame).die().on("click", "#submit", function() {

                upload_status.html("").removeClass();

                if ($(".filename").length < 1) {
                    $( upload_status ).html("Please add file for upload.").addClass("bad_news");
                    return false;
                } else {
                    //create array with submitted file order
                    var file_order = $("tbody tr", $("#dropped_files")).map(function () {
                        return [$("td.filename", this).map(function () {
                            return this.innerHTML;
                        }).get()];
                    }).get();

                    loadingSpinner.show();

                    var file_order_encoded = encodeURIComponent(file_order);

                    var uploadURL = "<?=DocumentStorage::index_url()?>?do=upload&file_order=" + file_order_encoded + "&object=<?= get_class($object); ?>&object_id=<?=$object->id?>";

                    i++;

                    $.ajax({
                        xhr: function () {
                            $("#submit", frame).attr('disabled', 'disabled');
                            $(upload_status).html("Uploading..").removeClass();
                            var xhrobj = $.ajaxSettings.xhr();

                            if (xhrobj.upload) {
                                xhrobj.upload.addEventListener('progress', function (event) {
                                    var percent = 0;
                                    var position = event.loaded || event.position;
                                    var total = event.total;
                                    if (event.lengthComputable) {
                                        percent = Math.ceil(position / total * 100);
                                    }

                                    if (formData !== "") {
                                        //Set progress
                                        status.setProgress(percent);
                                    }

                                }, false);
                            }
                            return xhrobj;
                        },
                        url: uploadURL,
                        type: "POST",
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: formData,
                        success: function (r) {
                            r = json_decode(r);

                            if ($("#file-ids").length) {
                                $("#file-ids").val($("#file-ids").val() + r.file_id + ",");
                            }

                            loadingSpinner.hide();
                            upload_status.removeClass().html(r.status);

                            (r.error == false) ? upload_status.addClass("good_news") : upload_status.addClass("bad_new");

                            // when files in list have been uploaded
                            if (file_order.length <= i) {
                                window.file_counter_true = window.file_counter_true + 1;
                            }
                        }
                    });
                }
            });
        }

		// create the display for the (accepted) dropped file, name, size, progressbar and delete button
		function createStatusbar(obj) {

			rowCount++;
			var row = "odd";
			if (rowCount % 2 == 0) row = "even";

			this.statusbar = $("<tr class='statusbar'></tr>");
			this.filename = $("<td class='filename'></td>").appendTo(this.statusbar);
			this.size = $("<td class='filesize'></td>").appendTo(this.statusbar);
			this.progressBar = $("<div class='progressBar'><div></div></div>").appendTo(this.statusbar);
			this.order = $("<td><button class='up'><i class='fa fa-plus'></i></button><button class='down'><i class='fa fa-minus'></i></button></td>").appendTo(this.statusbar);
			this.delete = $("<td><button class='delete_btn'><i class='fa fa-trash'></i></button></td>").appendTo(this.statusbar);
			$("#dropped_files", frame).append(this.statusbar);

			this.setFileNameSize = function (name, size) {
				var sizeStr = "";
				var sizeKB = size / 1024;
				if (parseInt(sizeKB) > 1024) {
					var sizeMB = sizeKB / 1024;
					sizeStr = sizeMB.toFixed(2) + " MB";
				} else {
					sizeStr = sizeKB.toFixed(2) + " KB";
				}
				this.filename.html(name);
				this.size.html(sizeStr);

			};
			this.setProgress = function (progress) {
				var progressBarWidth = progress * this.progressBar.width() / 100;
				this.progressBar.find('div').animate({width: progressBarWidth}, 10).html(progress + "% ");
			}
		}

		//prepare file for upload
		var total_upload_size = 0;

		function handleFileUpload(files, obj) {

			var file_removed = false;
			upload_status.removeClass().html("&nbsp;");

			for (var i = 0; i < files.length; i++) {
				var fd = new FormData();
				fd.append('file', files[i]);

				//check that file size is not larger than 40mb,else reject file
				if (files[i]['size'] <= 41943040) {
					var status = new createStatusbar(files, obj);
					status.setFileNameSize(files[i].name, files[i].size);
					window.timestamp = Math.round(new Date().getTime() / 1000);
					sendFileToServer(fd, status);
					total_upload_size += files[i]['size'];
				} else {
					upload_status.removeClass().addClass("bad_news").html("File has not been added for upload due to max file size of 8mb");
					file_removed = true;
				}
				var sizeInMB = (total_upload_size / (1024 * 1024)).toFixed(2);
				$("#total_size").html('Total upload size: ' + sizeInMB + 'MB');
			}

			// 41943040bytes = 40mb
			if (total_upload_size >= 41943040) {
				$("#submit").attr('disabled', 'disabled');
				if (file_removed == true) {
					upload_status.removeClass().addClass("bad_news").html("Total upload size is too large, please remove/resize files and try again as a full pack may not be created.<br/>Files larger than 40mb have automatically been removed");
				} else {
					upload_status.removeClass().addClass("bad_news").html("Total upload size is too large, please remove/resize files and try again as a full pack may not be created");
				}
			}
		}

        //set up event handlers
        var obj = $("#dragandrophandler", frame);

		obj.on('dragenter', function (e) {
			e.stopPropagation();
			e.preventDefault();
			$(this).css('border', '2px solid #006686');
		});

        obj.on('dragover', function(e){
            e.stopPropagation();
            e.preventDefault();
        });

		obj.on('drop', function (e) {
			$(this).css('border', '2px dotted #006686');
			e.preventDefault();
			var files = e.originalEvent.dataTransfer.files;

			var filename = files[0].name.toLowerCase();
			var ext = filename.split('.').pop();

			//ensure dropped file is an accepted format
			var image_ext_array = ['jpg', 'png', 'jpeg', 'gif', 'bmp', 'tif', 'tiff'];
			var document_ext_array = ['pdf', 'doc', 'docx', 'txt', 'csv', 'xls', 'xlsx'];

			var accepted = $.merge(image_ext_array, document_ext_array);

			($.inArray(ext, accepted) !== -1) ?
					handleFileUpload(files, obj) :
					upload_status.removeClass().addClass("bad_news")
							.html("File has been removed from upload list, please only provide PDF files for upload");
		});

		function update_upload_size(remove_file_size, total_size) {

			total_size = total_size.replace(/[^\d.-]/g, '');

			if (remove_file_size.toLowerCase().indexOf("kb") >= 0) {
				var kb_size = remove_file_size.replace(/[^\d.-]/g, '');
				var mb_size = (kb_size / 1024);
			}

			if (remove_file_size.toLowerCase().indexOf("mb") >= 0) {
				var mb_size = remove_file_size.replace(/[^\d.-]/g, '');
			}

			var new_size = (total_size - mb_size);
			if (new_size <= 40) {
				upload_status.removeClass().html("&nbsp;");
				$("#submit").removeAttr('disabled');
			} else {
				upload_status.removeClass().addClass("bad_news").html("Total upload size is too large, please remove/resize files and try again as a full pack may not be created");
				$("#submit").attr('disabled', 'disabled');
			}
			$("#total_size").html("Total upload size: " + new_size.toFixed(2) + "MB");
		}
		/* ********** end drag and drop code ********** */
    });
</script>