<style>
    #<?=_LINK?>{
        width: 600px;
    }

    #feedback-container{
        max-height: 400px;
        overflow: auto;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var p = frame.popup_config({
            title: "DSAR",
            center: true,
        });

        $("#all_plans_check", frame).on("change", function(){
            var checked = $(this).is(":checked");

            $(".specific_plans_check", frame).attr("checked", checked);
        });

        $(".specific_plans_check", frame).on("change", function(){
            var allChecked = true;

            $(".specific_plans_check", frame).each(function(){
                if(!$(this).is(":checked")){
                    allChecked = false;
                }
            });

            $("#all_plans_check", frame).attr("checked", allChecked);
        });

        $("#run_dsar", frame).on("click", function(){
            var checked = null;

            if($("#all_plans_check", frame).is(":checked")){
                checked = "all";
            } else {
                checked = [];

                $(".specific_plans_check:checked", frame).each(function () {
                    checked.push($(this).val());
                });

                checked = checked.join(",");
            }

            if(checked.length){
                $("#run_dsar", frame).hide();
                $("#dsar_feedback", frame).removeClass().html("<i class='fas fa-spinner fa-spin'></i> running...");

                $.ajax({
                    url: "/pages/dsar/?do=run_dsar&client=<?= $client->id() ?>",
                    type: "GET",
                    data: {
                        checked: checked
                    },
                    dataType: "JSON",
                    success: function(response){
                        if(response.success){
                            $("#dsar_feedback", frame).addClass("good_news");
                        } else {
                            $("#run_dsar", frame).show();
                            $("#dsar_feedback", frame).addClass("bad_news");
                        }

                        $("#dsar_feedback", frame).html(response.data);
                    }
                });
            } else {
                $("#dsar_feedback", frame).removeClass().addClass("bad_news").text("Please select at least 1 policy owner to run against.");
            }

        });
    });
</script>

<div id="<?=_LINK?>" class="text-center">
    <p>Client: <?= $client->link() ?></p>
    <div class="row no-gutters text-left">
        <div class="col-3">Plans Under:</div>
        <div class="col-3"><label><input id="all_plans_check" type="checkbox" value="all" checked> All</label></div>
        <div class="col-3"><label><input class="specific_plans_check" type="checkbox" value="1" checked> <?= $client->one->name() ?></label></div>
        <?php if(!empty($client->two->name())): ?>
            <div class="col-3"><label><input class="specific_plans_check" type="checkbox" value="2" checked> <?= $client->two->name() ?></label></div>
        <?php endif; ?>
        <div class="col-3"><label><input class="specific_plans_check" type="checkbox" value="3" checked> Joint Policies</label></div>
        <div class="col-3"><label><input class="specific_plans_check" type="checkbox" value="4" checked> Trustee Policies</label></div>
        <div class="col-3"><label><input class="specific_plans_check" type="checkbox" value="5" checked> Scheme Policies</label></div>
        <div class="col-3"><label><input class="specific_plans_check" type="checkbox" value="6" checked> Unknown Policies</label></div>
    </div>
    <button class="btn btn-primary" id="run_dsar"><i class="fas fa-scroll"></i> Run</button>
    <div id="feedback-container"><span id="dsar_feedback"></span></div>
</div>