<?php

 $mydept = ( User::get_default_instance("department") == $issuercontact->group() );
 $leader = User::get_default_instance("team_leader");
 $dept = User::get_default_instance("department");
?>

<tr <?php if($issuercontact ->main->value==1){ ?>class="default-contact"<?php } ?> <?php if($mydept){ ?>id="mydept"<?php } ?> >
    <td><?php
        if($issuercontact -> group -> value != 0){
            echo $issuercontact -> group;
        }elseif($issuercontact -> policy_type -> value != 0){
            echo $issuercontact -> policy_type;
        }elseif($issuercontact -> main -> value == 1){
            echo "<b>Default</b>";
        }
    ?></td>
    <td><?= $issuercontact->address ?></td>
    <td><?= $issuercontact->contact  ?></td>
    <td><?= implode(" ",str_split($issuercontact->phone,4))  ?> <?= callLink($issuercontact->phone()) ?></td>
    <td><?= implode(" ",str_split($issuercontact->fax,4))  ?><br/><?= IssuerContact::format_fax($issuercontact->fax, true); ?></td>
    <td><?= $issuercontact->email ?></td>
    <td><button class='copyBtn' type='button'>Address<img src='<?= el::image("clipboardCopy.ico")?>'/></button><span id='copiedspan'></span>
    
    <?php if($mydept || $leader == 1 || $dept == 7){ ?>
        <button href="<?=IssuerContact::get_common_url(array('get'=>'profile','id'=>$issuercontact->id()))?>"><img src="<?=el::image("edit.png")?>"/></button>
       <?php } ?>
    </td>
</tr>
