<?php
    if( !isset($_GET["issuer"]) ){
        trigger_error("Issuer Contact requires an Issuer", E_USER_ERROR );
    }

	$issuercontact->issuer($_GET["issuer"]);
	
	$ic = new IssuerContact;
	$s = new Search($ic);
	$s -> eq( 'issuer_id',$_GET["issuer"]);

	while( $d = $s -> next( MYSQLI_ASSOC  ) ){
		$grouptype[] = $d->group();
		$policytype[] = $d->policy_type();	
	}

?>
<script type="text/javascript">

$(function( ){

    var form = $("form#<?=_LINK?>");
    var pop = $( form ).popup_config({
        'title': "Add Contact Details",
        'center': true
    });
	
	var group_array = [<?php echo '"'.implode('","', $grouptype).'"' ?>];
    var policy_array = [<?php echo '"'.implode('","', $policytype).'"' ?>];
	
    //little bit of jq nice-ness: forces user to choose an assignee then disappears
	$("select#issuercontact\\[group\\]",form).change(function(){
		if ($.inArray($('#issuercontact\\[group\\] option:selected').val(), group_array) !== -1){
			$("span.status").text("Contact details for this group type already exists").addClass("bad_news");
		}
		else{
			$("span.status").empty().removeClass("bad_news");
			$("div#contact_info").slideDown(function(){
				$("div#contact_for").slideUp();
			});
			pop.setTitle( "Add contact details for " + $(":selected",this).text() );
		}
    });
	
	$("select#issuercontact\\[policy_type\\]",form).change(function(){
		if ($.inArray($('#issuercontact\\[policy_type\\] option:selected').val(), policy_array) !== -1){
			$("span.status").text("Contact details for this policy type already exist").addClass("bad_news");
		}
		else{
			$("span.status").empty().removeClass("bad_news");
			$("div#contact_info").slideDown(function(){
				$("div#contact_for").slideUp();	
			});
			pop.setTitle( "Add contact details for " + $(":selected",this).text() );
		}
    });

    var phone = $("input#issuercontact\\[phone\\]", form);
    var fax = $("input#issuercontact\\[fax\\]", form);

    $(phone).change(function () {
	phone.val(phone.val().replace(/\s+/g, ''));
    });

    $(fax).change(function () {
	fax.val(fax.val().replace(/\s+/g, ''));
    });


    saveProfileStatusSpan( form );

});
</script>

<form id='<?=_LINK?>' name='<?=_LINK?>' method="post" action="<?=$_SERVER["REQUEST_URI"]?>">

  <div id="contact_for" name="contact_for" class="panel">
    Group<?= el($issuercontact->group,false,false,false,false,DatabaseObject::ELEMENT_DROPDOWN) ?> Or 
    Policy Type<?= el($issuercontact->policy_type) ?>
  </div>  


  <div id="contact_info" name="contact_info" style="display:none;">
      <table>
        <tr>
          <th>Contact</th>
          <td><?= el($issuercontact->contact) ?></td>
          <th>Address</th>
          <td><?= el($issuercontact->address->line1) ?></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><?= el($issuercontact->phone) ?></td>
          <td colspan='2' align='right'><?= el($issuercontact->address->line2) ?></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><?= el($issuercontact->email)?></td>
          <td colspan='2' align='right'><?= el($issuercontact->address->line3) ?></td>
        </tr>
        <tr>
          <th>Fax</th>
          <td><?= el($issuercontact->fax)?></td>
          <td colspan='2' align='right'>
            <?= el($issuercontact->address->postcode) . $issuercontact->address->button ?>
          </td>
        </tr>
        <tr>
          <th>Email requests?</th>
          <td><?= el($issuercontact->email_preferred) ?></td>
        </tr>
	<tr>
	  <th>Original Documents Required?</th>
	  <td><?= el($issuercontact->originals_required) ?></td>
	</tr>
      </table>
  </div>

  <?=el::hide( $issuercontact->get_html_id("issuer"), $issuercontact->issuer() )?>

  <div class="panel" style="text-align:right;">
    <span class="status">&nbsp;</span>
    <button>Add Contact</button>
  </div>  

</form>
