<script type="text/javascript">

$(function( ){

    var frame = $( "#<?=_LINK?>" );
    var pop = $( frame ).get_popup();
	var form = $("form#iss_contact",frame);
    
    $( pop ).center( );
    pop.setTitle( "Edit contact details" );

    var phone = $("input#issuercontact\\[phone\\]", form);
    var fax   = $("input#issuercontact\\[fax\\]", form);

    $(phone).change(function () {
	phone.val(phone.val().replace(/\s+/g, ''));
    });

    $(fax).change(function () {
	fax.val(fax.val().replace(/\s+/g, ''));
    });


    saveProfileNotification( form );
	
});
</script>

<div id="<?= _LINK?>" name="<?= _LINK?>">
    <form id="iss_contact" name="iss_contact" action="<?=IssuerContact::get_common_url(array("do"=>"save","id"=>$issuercontact->id))?>" method="POST">
        <table>
            <tr>
                <td colspan='4' align='right'><?= $issuercontact -> address -> choices ?></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>
                    <?= $issuercontact -> contact -> toElement()?>
                </td>
                <th>Address</th>
                <td>
                    <?= $issuercontact -> address -> line1 -> toElement();?>
                </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>
                    <?= $issuercontact -> phone -> toElement()?>
                </td>
                <td colspan='2' align='right'>
                    <?= $issuercontact -> address -> line2 -> toElement();?>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                <?= $issuercontact -> email -> toElement()?>
                </td>
                <td colspan='2' align='right'>
                    <?= $issuercontact -> address -> line3 -> toElement();?>
                </td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>
                    <?= $issuercontact -> fax -> toElement()?>
                </td>
                <td colspan='2' align='right'>
                    <?= $issuercontact -> address -> postcode -> toElement().
                    $issuercontact -> address -> button.
                    $issuercontact -> address -> init;?>
                </td>
            </tr>
            <tr>
                <th>Email requests?</th>
                <td><?= $issuercontact -> email_preferred -> toElement()?></td>
            </tr>
	    <tr>
		<th>Original Documents Required?</th>
		<td><?= $issuercontact -> originals_required -> toElement() ?></td>
	    </tr>
        </table>
    </form>
</div>
