<style type="text/css">
    #complaint_status_span{
        margin:10px;
        float:right;
    }
    #complaint_controls{
        height:35px;
    }
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );
        var table = $("#complaint_list",frame);
        var status = $("#complaint_status_span",frame);


        // load complaints for viewing client
        $( table ).bind(
            "loadComplaints",
            function( ){
                $.ajax(
                    "<?=Complaints::index_url()?>",
                    {
                        'do': "complaints_list",
                        'id': "<?=$id;?>"
                    },
                    function( r ){
                        r = json_decode(r);

                        $( "tbody.content", table ).html(r.data );
                    }
                );
            }
        );
        $( table ).trigger( "loadComplaints" );

        // delete complaint entry
        $(table).on("click", ".delete", function(){
            if( confirm( "Are you sure you would like to delete this complaint entry?" ) ){
                var rowid = this.id;
                $.ajax({
                    url: "<?=Complaints::index_url()?>index.php?id=<?=$id;?>&do=complaints_list&action=delete",
                    type: "GET",
                    data: {
                        type: "json",
                        complaint_id: rowid
                    },
                    dataType: "json",
                    success: function( r ){
                        if(r.error == false){
                            status.html(r.status).addClass("good_news");
                            $( table ).trigger( "loadComplaints" );
                        }else{
                            status.html(r.status).addClass("bad_news");
                        }

                        // clear out status after 3 seconds
                        setTimeout(
                            function() {
                                status.empty().removeClass();
                            }, 3000);

                    }
                });
            }
        });


        // open new popup to add new complaint entry
        $(frame).on("click", "#add_complaint", function(){
            var p = new popup({
                url: "<?= Complaints::get_common_url( array( 'do'=>'save', 'id'=><?=$id;?> ) )?>"
            });
        });




    });
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="complaint_controls">
        <button class="add" id="add_complaint">New &nbsp;</button>
        <span id="complaint_status_span">&nbsp;</span>
    </div>


    <table id="complaint_list" class="scrollable">
        <thead>
            <tr>
                <th width="230px">Complaint Received</th>
                <th width="180">Category</th>
                <th width="180">Partner</th>
                <th width="30" id="action" class="no_sort">Action</th>
            </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>

</div>