<?php
$cid = $_GET['id'];
if(!$cid){
$cid = 0;
}
$complaint = new Complaints;
?>

<script type="text/javascript">
    $(function( ){

        var frame = $( "#<?=_LINK?>" );
        var table = $("#complaint_list",frame);
        var status = $("#complaint_status_span",frame);
        var pop = $( frame ).get_popup( );

        // Set selected option in status filter for initial load
        var statusFilter = 0;


        $( ".scrollable", frame ).bind(
            "ready",
            function( ){
                $(pop).center( );
            }
        );

        // Get select status on change of complaint status filter
        $("select#complaints\\[status\\]", frame).change(function() {
            var choice = this.value;
            var arr = [ 48,49,50,51,52,53,54,55,56,57,58,59 ];
            if ($.inArray( choice, arr )) {
                statusFilter = choice;
            }
            $( table ).trigger( "loadComplaints" );
        });


        // load complaints for overview
        $( table ).bind(
            "loadComplaints",
            function( ){
                $.get(
                    "<?=Complaints::index_url()?>",
                    {
                        'do': "loadResults",
                        'cid': '<?= $cid?>',
                        'statusFilter': statusFilter
                    },
                    function( r ){
                        r = json_decode(r);

                        $( ".content", table ).html(r.data );
                        $( "span#due_span").text("Due : "+r.dueCount );
                        $( "span#dueamber_span").text("Due : "+r.amberdueCount );
                        $( "span#overdue_span" ).text("Overdue : "+r.overdueCount );
                        $( "span#closed_span" ).text("Closed : "+r.closedCount );

                    }
                );
            }
        );
        $( table ).trigger( "loadComplaints" );

        //On change of the status select show the filtered results

        // delete complaint entry
        $(table).on("click", ".delete", function(){
            if( confirm( "Are you sure you would like to delete this complaint entry?" ) ){
                var rowid = this.id;
                $.ajax({
                    url: "<?=Complaints::index_url()?>index.php?id=<?=$id;?>&do=complaints_list&action=delete",
                    type: "GET",
                    data: {
                        type: "json",
                        complaint_id: rowid
                    },
                    dataType: "json",
                    success: function( r ){
                        if(r.error == false){
                            status.html(r.status).addClass("good_news");
                            $( table ).trigger( "loadComplaints" );
                        }else{
                            status.html(r.status).addClass("bad_news");
                        }

                        // clear out status after 3 seconds
                        setTimeout(
                            function() {
                                status.empty().removeClass();
                            }, 3000);

                    }
                });
            }
        });



        // open new popup to add new complaint entry
        $(frame).on("click", "#add_complaint", function(){

            var id = this.id;
            var p = new popup({
                url: "<?=Complaints::index_url()?>index.php?id=<?=$id;?>&do=complaints_view&cid=<?=$cid;?>"
            });
        });

        // open new popup to view existing complaint entry
        $(frame).on("click", ".open_complaint", function(){
            var p = new popup({
                url: "<?=Complaints::index_url()?>index.php?id=<?=$id;?>&do=complaints_view&complaint_id="+this.id
            });
        });



    });
</script>

<style type="text/css">
    #<?=_LINK?> table{
        width: 100%;
        font-size: 10pt;
    }
    #<?=_LINK?> div.scroll{
            height: 500px;
        }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <!--Only show the new button if on client profile-->
    <div id="complaint_controls">
<?php if(!$cid == 0 && isset($cid)){?>

        <button class="add" id="add_complaint">New &nbsp;</button>


<?php } ?>
        <span> Status filter: <?= el($complaint->status) ?></span>
        <button onclick="$(function(){ $('#complaint_list').export(); });"><img src='<?= el::image("table_go.png")?>' /></button>
        <button onclick="$(function(){ $('#complaint_list').print(); });"><img src='<?= el::image("printer.png")?>' /></button>
       <span id="complaint_status_span">&nbsp;</span>
        <div style="float: right;">
            <span id="clock"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
            <span id="due_span" style="text-decoration: underline;-webkit-text-decoration-color: green; text-decoration-color: green;"></span>
            <span >|</span>
            <span id="dueamber_span"  style="text-decoration: underline;-webkit-text-decoration-color: yellow; text-decoration-color: yellow;"></span>
            <span>|</span>
            <span id="overdue_span"  style="text-decoration: underline;-webkit-text-decoration-color: red; text-decoration-color: red;"></span>
            <span>|</span>
            <span id="closed_span"  style="text-decoration: underline;-webkit-text-decoration-color: blue; text-decoration-color: blue;"></span>
        </div>

    </div>
    <table id="complaint_list" class="scrollable">
        <thead>
        <tr>
            <th width="160px">Client</th>
            <th width="100px">Complaint Received</th>
            <th width="230px">Category</th>
            <th width="180px">Owning Partner</th>
            <th width="180px">Status</th>
            <th width="180px">Due</th>
            <th width="30px" id="action" class="no_sort">Action</th>
        </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>

</div>
