<tr>
    <td><?= $item -> client -> link()  ?></td>
    <td><?= $item -> category()  ?></td>
    <td><?= $item -> complaint_received ?></td>
    <td><?= $item -> addedwhen ?></td>
    <td><?= $item -> category  ?></td>
    <td><?= $item -> date_resolved ?></td>
    <td><?= $item -> record_closed ?></td>
    <td><button class="viewComplaint" id="<?= $item->id()?>">View</button></td>
</tr>
