<?php
$is_partner = ( $practicestaffentry->partner() !== null );
$pse = $practicestaffentry;
$is_active = ( $pse->active() );

$class = false;
if($is_active==false){ $class = "class='staff_inactive'"; }
?>

<tr data-object-id="<?= $pse->id() ?>" <?= $class ?> >
  <td><?= ( $is_partner ) ? $pse->partner->link() : $pse->staff->link() ?></td>
  <td><?= ( $is_partner ) ? $pse->partner->agencyCode : "&nbsp;" ?></td>
  <td><?= ( $is_partner ) ? $pse->partner->single_rate : "&nbsp;" ?></td>
  <td><?= ( $is_partner ) ? $pse->partner->bulk_rate : "&nbsp;" ?></td>
  <td><?= ( $is_partner ) ? $pse->partner->acctype : $pse->staff->role ?></td>
</tr>
