<script type="text/javascript">
$(
    function( ) {
        tabs( );
        $( "table#logs" ).scrollable( );

        //  Rebuild the current version
        $( "button#rebuild" ).click( 
            function( ) {
                $.get( "<?=_SELF?>?build=rebuild" );
            }
        );
        
        //  Refresh build logs
        $( "table#logs" )[ 0 ].get = function( ){

            $.get(  
                    "<?=_SELF?>",
                    {   'build': "read_log" },
                    function( r ) {
                        
                        r = json_decode( r );
                    }
            );
        };
        $( "table#logs" )[ 0 ].get( );

        
    }
);
</script>

<style type="text/css">
.settings {
width: 50%;
}
.settings > thead > tr > .title {
font-size: 15pt;
text-align: right;
border-bottom: 1px solid;
}
.settings > tfoot > tr > td { text-align: right; }
.settings > tbody [type=text]{
width: 97%;
}
.settings > tbody td { text-align: right; }


#xdox-files{
height: 75px;
padding: 2px;
}
#xdox-files > ul {
padding: 0;
list-style-type: none;
margin: 0;
}
#xdox-files > ul > li{
border: 1px solid;
text-align: left;
padding: 5px;
}
</style>

<div class="tabs">

    <ul>
        <li class="active">Information</li>
        <li>Build</li>
    </ul>

    <div>
        <div class="active">

            <table class="settings">
                <thead>
                    <tr>
                        <td colspan="2" class="title">xdox</td>
                    </tr>
            <?php
                if( $xdox===false ) {
            ?>
                    <tr>
                        <td colspan="2" class="error">Unable to load '<?=XDOX_SETTINGS_FILE?>'</td>
                    </tr>
            <?php
                }
            ?>  
                </thead>
                <tbody>
                    <tr>
                        <th>Document Store</th>
                        <td><?=$xdox["DOCUMENT_DIRECTORY"]?></td>
                    </tr>
                    <tr>
                        <th valign="top">Documents</th>
                        <td>
                            <?= el::bt( "New Document", "new-xdoc", "href='"._SELF."?xdox=edit'" ) ?>
                            <div id="xdox-files" class="scroll y" style="background:#fff;">
                            <?php
                                if( count( $xdox_files ) ) {
                            ?>
                                <ul>
                            <?php
                                foreach( $xdox_files as $f ) {

                                    if( substr( $f, stripos( $f, "." ) ) == ".info" ) {
                            ?>
                                    <li><?=substr( $f, 0, strpos( $f, "." ) )?></li>
                            <?php
                                    }
                                }
                            ?>
                                </ul>
                            <?php
                                }
                                else {
                            ?>
                                <p align='center'>No dox found</p>
                            <?php
                                }
                            ?>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>

            <table class="data">
                <thead>
                    <tr>
                        <th>Build</th>
                        <th>Author</th>
                        <th>Build Submitted</th>
                        <th>Rebuilt Date</th>
                        <th>Update Available</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><?= $build["revision"] ?></td>
                        <td><?= $build["author"] ?></td>
                        <td><?= date( "d/m/Y h:i:s", $build["built"] ) ?></td>
                        <td><?= date( "d/m/Y h:i:s", $build["sync"] ) ?></td>
                        <td><?= ( $build["outofdate"] === false ) ? "No" : $build["outofdate"] ?></td>
                        <td><button id="rebuild" name="rebuild">Rebuild</button></td>
                    </tr>
                </tbody>
            </table>

            <br />
            
            <table id="logs" name="logs" class="scrollable" width="100%" height="150px">
                <thead>
                    <th>Revision</th>
                    <th>Author</th>
                    <th>Revision Date</th>
                    <th>Rebuild Date</th>
                </thead>
                <tbody class="content">
                </tbody>  
            </table>

        </div>
    </div>

</div>
