<tr>
  <td><?= date( "d/m/Y H:i:s", $row[5] )?></td>
  <td align="center"><b><?=$row[0]?></b></td>
  <td><?= truncate($row[3],50)?></td>
  <td><?= $row[1] ?></td>
  <td><?= $row[2] ?></td>
  <td><?= $user ?></td>
</tr>