<style type="text/css">
#<?=_LINK?> {
    position: relative;
    height: auto;
    max-height: 100%;
    width: 800px;
}

#<?=_LINK?> .scrollable div.scroll {
    height: 250px;
    font-size: 9pt;
}
#<?=_LINK?> .panel {
    margin-bottom: 2px;
}
</style>

<script type="text/javascript">

var loadErrors;

$(
    function( ){

        var frame = $("#<?=_LINK?>");
        var userPanel = $("#users_tab",frame)[0];
        var errorPanel = $("#errorpanel",frame);

        var pop = frame.popup_config({
          title: "Admin",
          center: true,
        });

        function getUserTbody( ){
            $( "tbody:last", userPanel ).load( "/pages/admin/users.php" );
        }

        loadErrors = function( ){
            $( "tbody:last", errorPanel ).load( "/pages/admin/errors.php" );
        };

        getUserTbody( );
        loadErrors( );
        
        $( "#wipe", errorPanel ).click(
            function( ){
                $( "tbody:last", errorPanel ).load( "/pages/admin/errors.php?do=wipe" );
            });

        $( "#create-user" ).click(
            function(){
                new popup({
                    'url': "<?= User::get_common_url(array('do'=>'create')) ?>",
                    'title': "Create Prophet User",
                    'triggers': {
                        'onComplete': getUserTbody
                    }
                });
            }
        );

        $(".edit-permissions", frame).click(function(e){
            e.preventDefault();

            var type = $(this).data("type");
            var id = $(this).data("id");

            new popup({
                url: "/pages/admin/?do=view_permissions&type=" + type + "&id=" + id
            });
        })
    }
);
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#users_tab">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#dept_permissions">Department Permissions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#user_permissions">User Permissions</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="users_tab">
            <button id="create-user" name="create-user">Create User</button>

            <table class="scrollable">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th width="50px">Active</th>
                </tr>
                </thead>
                <tbody class="content">
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="dept_permissions">
            <table class="scrollable">
                <thead>
                <tr>
                    <th>Department</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach(Groups::dept_groups() as $id => $name): ?>
                <?php $users = Groups::dept_users($id) ?>
                <tr>
                    <td><?= $name ?> <a title="<?= implode(', ', $users) ?>" href="#">(<?= count($users) ?> users)</a></td>
                    <td>
                        <button class="btn btn-primary edit-permissions" data-type="Groups" data-id="<?= $id ?>"><i class="far fa-pencil"></i></button>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="user_permissions">
            <table class="scrollable">
                <thead>
                <tr>
                    <th>Department</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach(User::active() as $user): ?>
                <tr>
                    <td><?= $user->username ?></td>
                    <td>
                        <button class="btn btn-primary edit-permissions" data-type="User" data-id="<?= $user->id ?>"><i class="far fa-pencil"></i></button>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>

</div>
