<?php $user = $this -> tags["user"]; ?>

<script type="text/javascript">
$(function(){

    var pwd_form = $( "form#pwd-form" );

    tabs( );

    function get_myps_username( ){ 
        $.get( "<?=_SELF?>", 
               { sek: "myps" },
               function( r ) {
                   r = json_decode( r );
                   $( "span#myps-user" ).text( ( !r.name ) ? "Error: service unavailable" : r.name );
               }
             );
               
    }

    /**  Launch a `set mypsaccount user` popup **/
    $( "button#set-myps-user" ).click(
        function( ) {
            $( new popup().content ).load( 
                "<?= _SELF ?>?sek=myps&do=setAccount",
                function( ) {
                    // refresh user name when user submits
                    $( this ).bind( "submitted", get_myps_username );
                }
            );
        }
    );

    /**  Click 'Submit', update user's password **/
    $( pwd_form ).find("button:submit").click(
        function( ) {

            $(this).attr("disabled",true);

            $( pwd_form ).send(
                function( r ){
                    
                    r = json_decode( r );

                    // status message to display
                    var m = ( r ) ? "Password saved" : "Cannot save password";
                    // color-coded accordingly
                    var c = ( r ) ? "good" : "bad";

                    var status = $("span#pwd-save-status");

                    $( status )[0].className = null;
                    $( status ).addClass( c );
                    $( status ).flash( m, 1500 );
                }
            );
        }
    );


    
    $( pwd_form ).find( ":password" ).bind( 'validate',
        function( event, valid )
        {

            this.className = null;
            $( this ).addClass( ( valid ) ? "valid" : "invalid" );

            /*
                Check that the user (if playing by the rules) has managed to 
                enter 3 valid passwords, and disable/enable submit button 
                accordingly. 
                NB. run server-side validation too.
            */
            var all_valid = true;
            
            // is all good?
            $( pwd_form ).find( ":password" ).each(function(){ if( !$( this ).is('.valid') ){ all_valid = false; } });
            $( pwd_form ).find( "button" ).attr( "disabled", !all_valid );
        }
    );

    //-----------------------------------------------------------
    //  When user changes one of the password fields, check that
    //  what they have typed is valid for that particular field
    //-----------------------------------------------------------
    $( pwd_form ).find( ":password" ).change(
        function( )
        {
            var self = this;

            switch( self.id )
            {

                /*** Matches password for user in database, confirmed by server call ***/
                case "oldPwd":

                    $.post(
                        '<?= _SELF ?>?sek=pwd',
                        {   check: self.id,
                            pwd:   self.value  },
                        function( r )
                        {
                            r = json_decode( r );
                            $( self ).trigger( 'validate',r.correct_password );
                        }
                    );

                break;
        
                /*** New password complies with all validation requirements ***/
                case "newPwd":

                    $.post(
                        '<?= _SELF ?>?sek=pwd',
                        {   check : "newPwd", 
                            pwd   : this.value  },
                        function( r )
                        {
                            r = json_decode( r );

                            // display a short message, explaining why the password is invalid
                            if( !r.valid )
                                $( "tr#invalid-reason > td > span" ).flash( r.reason, 1500 );
                            
                            $( self ).trigger( 'validate',r.valid );

                        }
                    );

                break;

                /*** This password matches that in New Password field ***/
                case "confirmPwd":
                    $( self ).trigger( 'validate', ( $( pwd_form ).find("#newPwd").val( ) == self.value ) );
                break;
            }
        }
    );

    //** INIT **//
    get_myps_username( );
        
});
</script>

<style type="text/css">

input#email{ width: 300px; }

ul#pwd-rules{
padding: 0 5px 0 5px;
margin: 0;
list-style-type: none;
}

form#pwd-form{ float: right; }


form#pwd-form .good{
color: green;
}
form#pwd-form .bad{
color: red;
}

div#my-profile{ height: 430px; }
div#my-profile > table tr{ line-height: 25px; }

</style>

<div class="tabs">

    <ul>
        <li class="active">General</li>
        <li>Activity</li>
    </ul>

    <div>
    
        <div class="active">

            <form id="pwd-form" name="pwd-form" method="POST" action="<?= _SELF ?>?sek=pwd">

                <div class="panel">

                    <h1>Password</h1>

                    <table>
                        <tr class="pwd">
                            <th width="150px">Old Password</th>
                            <td><?= el::pwd( 'oldPwd' ) ?></td>
                            <td width="20px">&nbsp;</td>
                        </tr> 
                        <tr class="pwd">
                            <th>New Password</th>
                            <td><?= el::pwd( 'newPwd' ) ?></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr id="invalid-reason" name="invalid-reason">
                            <td colspan="2" align="right">&nbsp;<span>&nbsp;</span></td>
                        </tr>
                        <tr class="pwd">
                            <th>Confirm Password</th>
                            <td><?= el::pwd( 'confirmPwd' ) ?></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span id="pwd-save-status" name="pwd-save-status"></span>&nbsp;</td>
                            <td align="right" height="50px">
                                <?= el::bt( "Save",false,"type=\"submit\" disabled=\"disabled\"" ) ?>
                            </td>
                        </tr>
                    </table>

                </div>

            </form>

            <div id="my-profile" name="my-profile">

                <table>
                    <tr>
                        <th width="125px">Name</th>
                        <td colspan="2"><?= $user->forename.' '.$user->surname ?></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td colspan="2"><?= "$user->email" ?></td>
                    </tr>
                    <tr>
                      <th rowspan='2' valign="top">Extension</th>
                      <th><abbr title='This is the number that other PS staff can use to contact you'>Internal</abbr></th>
                      <td align="right"><?=el($user->internal_extension)?></td>
                    </tr>
                    <tr>
                      <th width="120px">External</th>
                      <td><?= PS_TELEPHONE_PREFIX." Extenstion: ".el($user->external_extension) ?></td>
                    </tr>
                    <tr>
                        <th>Mypsaccount</th>
                        <td colspan="2"><span id="myps-user" name="myps-user"></span>&nbsp; <?= el::bt( "Set Account","set-myps-user" ) ?><td>                        
                    </tr>
                </table>
        
            </div>

        </div>
        
        <div>

            <script type="text/javascript">
            $(
                function( )
                {
                    var activity_form  = $( "form#activity-form" );
                    var activity_tbody = $( "div#activities tbody" );
                    var activity_pages = $( "div#activity-pages" );
                    var next_page = $( activity_pages ).find( "button[value=++]" );
                    var prev_page = $( activity_pages ).find( "button[value=--]" );
                    var select_page = $( activity_pages ).find( "select" );


                    function handle_activities( r, ignore_pages )
                    {
                        r = json_decode( r );          

                        if( !ignore_pages )
                        {
                            $( select_page ).html( "" );

                            var i = 0;
                            while( i < parseInt(r.pages) )
                            {
                                var option = document.createElement( "OPTION" );
                                $( option ).text( ++i );
                                $( select_page ).append( option );
                            }
                            $( next_page ).attr( "disabled", !( i > 1 ));
                            $( prev_page ).attr( "disabled", true );
                        }

                        $( activity_tbody ).html( r.results );
                        $( activity_tbody ).style( "tr" );
                    }



                    $( activity_form ).find( "button:submit" ).click(
                        function( )
                        {
                            $( activity_form ).send(
                                function( r ){ handle_activities( r, false ); }
                            );
                        }
                    );

                    $( activity_pages ).find( "button" ).click(
                        function( )
                        {
                            var value = $(activity_pages).find("select").val();
                            value = eval( this.value + "value" );
                            $( select_page ).val( value );
                            $( select_page ).trigger( 'onchange' );
                        }
                    );
                    $( select_page ).bind( 'onchange', 
                        function( )
                        {
                            $( activity_form ).find( "input:hidden#page-number" ).val( this.value );
    
                            $( activity_form ).send(
                                function( r )
                                {
                                    handle_activities( r, true );
                                }
                            );

                            $( prev_page ).attr( "disabled", !(this.value>1) );
                            $( next_page ).attr( "disabled", 
                                (this.value == $(this).find("option").length ) 
                            );
                        }
                    );
                    $( select_page ).change(
                        function( ){ $( this ).trigger( "onchange" ); }
                    );


                $.get(  "<?= _SELF ?>", { sek: "activity" }, function( r ){ handle_activities( r, false ); } );

 
                            

                }
            );
            </script>

            <style type="text/css">
            div#activities{
            height: 400px;      
            background: #fff;     
            }
            div#activities table td{
            padding: 3px;            
            }

            div#activity-config{
            width: 22%;
            float: right;            
            }
            div#activity-config > select{
            width: 100%;
            }
            div#activity-config > select > option{ 
            padding: 2px;
            }

            div#activity-pages{ text-align: right; }
            div#activity-pages > button{ margin: 3px 2px 3px 0; }
            div#activity-pages > button:last-child{ margin-right: 0; }
            </style>

            <div id="activity-config" name="activity-config" class="panel">

                <form id="activity-form" name="activity-form" action="<?= _SELF ?>?sek=activity&filter=yes" method="POST"> 

                    <h1>Filters</h1>

                    <b>Date</b><br />
                    <table width="100%">
                        <tr>
                            <th width="50px">From</th>
                            <td align="right"><?=Date::toElement("a-from",true)?></td>
                        </tr>
                        <tr>
                            <th>Until</th>
                            <td align="right"><?=Date::toElement("a-until",true)?></td>
                        </tr>
                    </table>

                    <br />

                    <b>Include</b><br />
                    <select id="a-objects[]" name="a-objects[]" multiple>
                        <option selected>Client</option>
                        <option selected>Correspondence</option>
                        <option selected>Commission</option>
                        <option selected>Issuer</option>
                        <option selected>New Business</option>
                        <option selected>Partner</option>
                        <option selected>Policy</option>
                        <option selected>Practice</option>
                        <option selected>Workflow</option>
                    </select>

                    <br /><br />

                    <?=el::bt("Filter...",false,"type='submit'")?>
                    <?=el::hide( "page-number", 1 )?>
                </form>

            </div>

            <div style="width: 75%;">

                <div id="activities" name="activities" class="scroll y">
                    <table class="data">
                        <tbody>
                             
                        </tbody>
                    </table>
                </div>
                <div id="activity-pages" name="activity-pages">
                    <?=el::bt("&lt; Prev",false,"value='--' disabled='disabled'")?>
                    <select id="activity-page" name="activity-page"></select>
                    <?=el::bt("Next &gt;",false,"value='++' disabled='disabled'")?>
                </div>
            
            </div>

        </div>

    </div>

</div>
