<script type="text/javascript">
$(
    function( )
    {
        
        $( "#<?=_LINK?>" ).popup_config({
            title: "Bind mypsaccount",
            center: true
        });


        $( "button#search-users" ).click( 
            function( )
            {
                var v = $("input#myps_search").val( );

                if( v.length == 0 )
                    v = "*";

                var s = $("select#matching-users");

                $(s).find( 'option' ).fadeOut(
                    function( )
                    {
                        $(this).remove( );
                    }
                );

                $.get( 
                        '<?= _SELF_URL ?>',
                        { matches: v },
                        function( r )
                        {
                            r = json_decode( r );

                            for( var i=0; i<r.length; i++ )
                            {
                                var o = document.createElement("option");
                                $(o).text( r[i].user_name);
                                $(o).val( r[i].id );
                                $(s).append(o);
                            }   

                            $( s ).find( 'option' ).fadeIn( );
                        }
                 ); 
            }        
        );

        $( "button#search-users" ).click( );

        var bind_form = $("form#<?=_LINK?>");

        $("button#bind-account").click(
            function()
            {
                $( bind_form ).send( 
                    function( r  )
                    {
                        $( bind_form ).trigger( 'submitted' );
                    }
                );
            }
        );

    }
);
</script>

<style type="text/css">
form#<?=_LINK?>{
width: 250px;
}
select#matching-users{
height: 100px;
width: 100%;
}
</style>

<br />

<?= el::txt( 'myps_search' ) ?>
&nbsp;
<?= el::bt( "Search",'search-users' ) ?>

<br /><br />

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= _SELF_URL ?>" method="POST">

    <select id="matching-users" name="matching-users" multiple="multiple"></select>

    <p align="right">
        <?= el::bt("Bind account","bind-account") ?>
    </p>

</form>
