<style>
    #<?=_LINK?>{
        width: 800px;
    }

    #<?=_LINK?> #permission_container{
        height: 600px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "<?= $object ?> permissions",
            center: true,
        });

        saveProfileNotification(frame);
    })
</script>

<form id="<?=_LINK?>" method="POST" action="/pages/admin/?do=save_permissions">
    <div class="overflow-auto" id="permission_container">
        <input type="hidden" name="object_type" value="<?= get_class($object) ?>">
        <input type="hidden" name="object_id" value="<?= $object->id() ?>">

        <?php foreach(PermissionCategory::all() as $cat): ?>
        <h3><?= $cat ?></h3>
        <div class="row no-gutters">
            <?php foreach(Permission::by_category($cat->id()) as $permission): ?>
            <div class="col-4">
                <label>
                    <?php

                        $checked = $object->has_permission($permission->id());
                    $disabled = false;

                    if(get_class($object) === "User"){
                    $disabled = $object->has_permission_via_group($permission->id());
                    }

                    ?>

                    <input <?= $disabled ? 'disabled' : '' ?> type="checkbox" name="permissions[]" value="<?= $permission->id() ?>" <?= $checked ? 'checked' : '' ?>> <?= $permission ?>
                </label>
            </div>
            <?php endforeach; ?>
        </div>
        <?php endforeach; ?>
    </div>
</form>