<?php
if( !isset($user) ){
    // an existing user has not been provided, prepare an empty
    // User object and treat this as a creation form.
    $user = new User;
}

$user->group_name( "user" );

?>

<script type="text/javascript">
$(function(){

    var form  = $("#<?=_LINK?>");
    
    $(form).submit(
        function(){
            $(this).send();
        });


    var popup = $( form ).get_popup();
    $( popup ).center( );

});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=$_SERVER['REQUEST_URI']?>" method="POST">

<table>
  <tr>
    <th width="125px">Name</th>
    <td name="">
      <?=el($user->forename)?>
      <?=el($user->surname)?>
    </td>
  </tr>
  <tr>
    <th>Username</th>
    <td><?=el($user->username)?></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><?=el($user->email)?></td>
  </tr>
  <tr>
    <th>Int. Extension</th>
    <td><?=el($user->internal_extension)?></td>
  </tr>
  <tr>
    <th>Ext. Extension</th>
    <td><?=el($user->external_extension)?></td>
  </tr>
</table>

<p align="right">
  <span class="status">&nbsp;</span>
  <button id="submit" name="submit">Submit</button>
</p>

<?= el($user->id) ?>

</form>
