<applet code="xdox.Xdox" archive="/<?=APPLET_DIR?>xdox/Xdox.jar" width="400" height="500">
    <param id="name" name="name" value="<?=$name?>" />
    <param id="mode" name="mode" value="<?=0?>" />
</applet>
