<script type="text/javascript">
$( function( ) {

    var myPop = $( "#<?=_LINK?>" ).get_popup( );
    myPop.setTitle( "Editing xdoc" );
    $( myPop ).center( );
    
    var form = mapForm( $( "#<?=_LINK?> form" )[ 0 ] );
    
    $( form.submit ).click( 
        function( ) {

            $( form._self ).send(
                function( r ) {
                    
                }
            );
        }
    );
    
    $( form.preview_doc ).click( 
        function( ){
            
            if( form.name.value.length == 0 ) {
                form.name.value = random_string( 10 );
            }
            
            $( form._self ).send(
                function( r ) {
                    if( json_decode( r ) ) {
                        var p = new Popup( );
                        $( p.content ).load( "<?=_SELF?>xdox/
                    }
                }
            );
        }
    );
    
    

});
</script>

<style type="text/css">
#<?=_LINK?> textarea{ width: 97%; }
#<?=_LINK?> #src{
height: 250px;
overflow: scroll;
}
#<?=_LINK?> #name{ width: 97%; }
</style>

<div id="<?=_LINK?>">

    <form action="<?=_SELF_URL?>" method="post" onsubmit="return false;">

        <table width="500px">
            <tr>
                <th width="120px">Name</th>
                <td><?=el::txt( "name" )?></td>
            </tr>
            <tr>
                <th>Comments</th>
                <td><textarea id="comments" name="comments"></textarea></td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="src" name="src" wrap="off"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <?=el::bt("Preview","preview_doc")?>
                    <?=el::bt("Save","submit")?>
                </td>
            </tr>
        </table>

    </form>

</div>
