<style type="text/css">
    #<?=_LINK?> {
        width: 450px;
    }
    input[type='submit'], button {
        font-size: 9pt;
    }
    #add_course_tbl{
        width:100%;
    }

</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var status = $("#msg_status", frame);
		var submit = $("#submit_course_edit", frame);

		frame.popup_config({
			'title': "Add staff training entry",
			'center': true
		});

        // disable submit button until we have require data
        submit.prop("disabled", true);

        // when user changes drop down, check we have a valid option and a value for course name
        $(frame).on("change", "#course_selection", function() {
            if ($(this).val() != "--") {
                submit.prop("disabled", false);
            } else {
                submit.prop("disabled", true);
            }
        });


        $(submit).on("click", function() {

            // temp disable on button to avoid form resubmission
            submit.prop("disabled", true);

            var course = $("#course_selection", frame).children(":selected").attr("id");

            $.ajax({
                url: "pages/stafftraining/index.php?do=staff_training&action=add_course_to_user",
                type: "GET",
                data: {
                    type: "json",
                    course: course,
                    user_id: "<?=$user->id();?>",
                    category: "<?= $category_id;?>",
                    start: $("#stafftraining\\[start\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[start\\]\\[M\\]").val() + "-" + $("#stafftraining\\[start\\]\\[D\\]").val(),
                    completed: $("#stafftraining\\[completed\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[completed\\]\\[M\\]").val() + "-" + $("#stafftraining\\[completed\\]\\[D\\]").val(),
                    next: $("#stafftraining\\[next\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[next\\]\\[M\\]").val() + "-" + $("#stafftraining\\[next\\]\\[D\\]").val()
                },
                dataType: "json",
                success: function( r ){
                    try{

                        if (r.status) {
                            status.html(r.status);

                            if(r.error == false){
                                status.addClass("good_news");

                                // refresh tabs to reflect changes
                                $("#training_tabs").trigger("get_user_data");
                            }else{
                                status.addClass("bad_news");
                            }

                            setTimeout(  function() {
                                status.removeClass().html("");
                                submit.prop("disabled", false);
                            }, 3000);

                        } else {
                            status.addClass("bad_news").html("An error has occurred adding this entry, please contact IT.");
                        }


                    }catch(e){
                        alert(e);
                    }
                }
            });
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>

        <?php if ($category_name) { ?>
		<form id="edit_training_form" name="edit_training_form">
			<table id="edit_course_tbl">

                <tr>
                    <th>Staff Member</th>
                    <td><?=$user->staff_name()?></td>
                </tr>

                <tr>
                    <th>Category</th>
                    <td><?= $category_name; ?></td>
                </tr>

                <tr>
                    <th>Course</th>
                    <td>
                        <select id="course_selection" title="Course Selection">
                            <option>--</option>
                            <?php
                                foreach ($courses as $id => $course) {
                                    echo "<option id='".$id."'>".$course."</option>";
                                }
                            ?>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th>Start Date</th>
                    <td><?= el($training->start); ?></td>
                </tr>

                <tr>
                    <th>Date Completed</th>
                    <td><?= el($training->completed); ?></td>
                </tr>

                <tr>
                    <th>Next Date</th>
                    <td><?= el($training->next); ?></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align:right;"><br /><button id="submit_course_edit" type="button">Submit</button></td>
                </tr>

                <tr>
                    <td colspan="2">
						<span id="msg_status">&nbsp;</span>
					</td>
                </tr>
			</table>
		</form>
        <?php } else { ?>

            <p>You cannot assign training to this user as there has been no courses added to the selected category</p>
            <p>Please go back and ensure you have added a course first.</p>

        <?php } ?>

	</div>

</div>

