<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
    }

    #management_controls {
        margin:10px 0;
    }

    #admin_add_course {
        float:right;
    }

    #add_course_tbl{
        width:100%;
    }

    #management_status {
        height:40px;
    }


    #<?=_LINK?>  table.scrollable div.scroll {
            height: 250px;
        }

</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var tbl = $("#course_tbl");
		var status = $("#management_status > #status", frame);

		frame.popup_config({
			'title': "Course Management",
			'center': true
		});

        // allow us to get training data for specified user
        tbl.bind(
            "get_course_data",
            function( ){

                $.ajax({
                    url: "/pages/stafftraining/index.php?do=staff_training",
                    type: "GET",
                    data: {
                        type: "json",
                        action: "course_management",
                        category: $("#stafftrainingcourse\\[category\\]").attr('value')
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $(".content", tbl).html(r.data);

                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
        );

        // give admin ability to add new course
        $(frame).on("click", "#admin_add_course", function() {
            new popup({
                url: "/pages/stafftraining/index.php?do=staff_training&action=add_course"
            });
        });

        // give admin ability to edit existing course
        $(frame).on("click", ".edit", function() {
            var id = $(this).closest('tr').attr('id');
            new popup({
                url: "/pages/stafftraining/index.php?do=staff_training&action=edit_course&course_id="+id
            });
        });

        // give admin ability to delete a course
        $(frame).on("click", ".delete", function() {

            var id = $(this).closest('tr').attr('id');

            var course_name = $(this).closest("tr").find("td:first").text();

            if (confirm('Are you sure you want to delete "'+course_name+'" from the system?\n\nAll user entries under ' +
                            'this course will also be deleted.\n\nPlease click OK to confirm.')) {
                $.ajax({
                    url: "pages/stafftraining/index.php?do=staff_training&action=delete_course",
                    type: "GET",
                    data: {
                        type: "json",
                        course_id: id
                    },
                    dataType: "json",
                    success: function( r ){
                        try{

                            if (r.status) {
                                status.html(r.status);

                                if(r.error == false){
                                    status.addClass("good_news");

                                    // refresh tabs to reflect changes
                                    $("#training_tabs").trigger("get_user_data");

                                    // refresh course table
                                    tbl.trigger("get_course_data");
                                }else{
                                    status.addClass("bad_news");
                                }

                                setTimeout(  function() {
                                    status.removeClass().html("");
                                }, 3500);

                            } else {
                                status.addClass("bad_news").html("An error has occurred updating this entry, please contact IT.");
                            }
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }

        });


        // change default option in select to give user a description
        $('select option:contains("--")', frame).text('-- Category Filter --');

        // get courses for specific category
        $(frame).on("change", "#stafftrainingcourse\\[category\\]", function() {
            tbl.trigger("get_course_data");
        });


    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="management_controls">

        <?= el($course_obj->category) ?>

        <button id="admin_add_course" class="add">Add Course</button>
    </div>

	<div>
		<form id="course_form" name="course_form">
			<table id="course_tbl" class="scrollable">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="content">
                    <?php
                    if (!$courses->execute()) {
                        echo "<tr><td colspan='3'>No courses to display</td></tr>";
                    } else {
                        while ($course = $courses->next(MYSQLI_ASSOC)) {
                            echo "<tr id='".$course->id()."'>
                                    <td>".$course->course_name()."</td>
                                    <td>".$course->category."</td>
                                    <td>
                                        <button type='button' class='edit'>Edit</button>
                                        <button type='button' class='delete'>&nbsp;</button>
                                    </td>
                                </tr>";
                        }
                    }
                    ?>
                </tbody>
			</table>
		</form>

	</div>

    <div id="management_status">
        <span id="status">&nbsp;</span>
    </div>

</div>

