<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
    }
    input[type='submit'], button {
        font-size: 9pt;
    }
    #add_course_tbl{
        width:100%;
    }

</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var status = $("#msg_status", frame);
		var submit = $("#submit_course", frame);

        var title = "<?= $title; ?>";
        var action;

		frame.popup_config({
			'title': title,
			'center': true
		});


        if ("<?=$new;?>") {
            // disable button until we have a completed form
            submit.prop("disabled", true);
            action = "add_course";
        } else {
            action = "edit_course&course_id=<?=$course->id()?>&save=true";
        }

        // when user changes drop down, check we have a valid option and a value for course name
        $(frame).on("change", "#stafftrainingcourse\\[category\\]", function() {
            if ($(this).val()) {
                if ($("#stafftrainingcourse\\[course_name\\]").val().length > 1) {
                    submit.prop("disabled", false);
                } else {
                    submit.prop("disabled", true);
                }

            } else {
                submit.prop("disabled", true);
            }
        });

        // when user modifies course name input, check we have a value and a valid option in the category drop down
        $(frame).on("keyup", "#stafftrainingcourse\\[course_name\\]", function() {
            if ($(this).val().length > 1) {
                var category_dd = $("#stafftrainingcourse\\[category\\]", frame).children(":selected").attr("value");

                if (category_dd != "") {
                    submit.prop("disabled", false);
                } else {
                    submit.prop("disabled", true);
                }
            } else {
                submit.prop("disabled", true);
            }
        });


        $(frame).on("click", "#submit_course", function() {

            // temp disable on button to avoid form resubmission
            submit.prop("disabled", true);

            $.ajax({
                url: "pages/stafftraining/index.php?do=staff_training&action="+action,
                type: "GET",
                data: {
                    type: "json",
                    course_name: $("#stafftrainingcourse\\[course_name\\]").val(),
                    category: $("#stafftrainingcourse\\[category\\]", frame).children(":selected").attr("value")
                },
                dataType: "json",
                success: function( r ){
                    try{

                        if (r.status) {
                            status.html(r.status);

                            if (r.error == false){
                                status.addClass("good_news");

                                // refresh table data
                                $("#course_tbl").trigger("get_course_data");
                                $("#training_tabs").trigger("get_user_data");

                            } else {
                                status.addClass("bad_news");
                            }

                            setTimeout(  function() {
                                status.removeClass().html("");
                                // re-enable submit button
                                submit.prop("disabled", false);
                            }, 3000);

                        } else {
                            status.html("An error has occurred, try again or contact IT").addClass("bad_news");
                        }

                    }catch(e){
                        alert(e);
                    }
                }
            });
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>
		<form id="course_form" name="course_form">
			<table id="add_course_tbl">

                <tr>
                    <th>Course Category</th>
                    <td><?= el($course->category); ?></td>
                </tr>

                <tr>
                    <th>Course Name</th>
                    <td><?= el($course->course_name); ?></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align:right;"><br /><button id="submit_course" type="button">Submit</button></td>
                </tr>

                <tr>
                    <td colspan="2">
						<span id="msg_status">&nbsp;</span>
					</td>
                </tr>
			</table>
		</form>

	</div>

</div>

