<style type="text/css">
    #<?=_LINK?> {
        width: 450px;
    }
    input[type='submit'], button {
        font-size: 9pt;
    }
    #add_course_tbl{
        width:100%;
    }

</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var status = $("#msg_status", frame);
		var submit = $("#submit_course_edit", frame);

		frame.popup_config({
			'title': "Edit staff training entry",
			'center': true
		});

        $(submit).on("click", function() {

            // temp disable on button to avoid form resubmission
            submit.prop("disabled", true);

            $.ajax({
                url: "pages/stafftraining/index.php?do=staff_training&action=edit_user_training_entry",
                type: "GET",
                data: {
                    type: "json",
                    training_id: "<?= $training->id(); ?>",
                    start: $("#stafftraining\\[start\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[start\\]\\[M\\]").val() + "-" + $("#stafftraining\\[start\\]\\[D\\]").val(),
                    completed: $("#stafftraining\\[completed\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[completed\\]\\[M\\]").val() + "-" + $("#stafftraining\\[completed\\]\\[D\\]").val(),
                    next: $("#stafftraining\\[next\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[next\\]\\[M\\]").val() + "-" + $("#stafftraining\\[next\\]\\[D\\]").val()
                },
                dataType: "json",
                success: function( r ){
                    try{

                        if (r.status) {
                            status.html(r.status);

                            if(r.error == false){
                                status.addClass("good_news");

                                // refresh tabs to reflect changes
                                $("#training_tabs").trigger("get_user_data");
                            }else{
                                status.addClass("bad_news");
                            }

                            setTimeout(  function() {
                                status.removeClass().html("");
                                submit.prop("disabled", false);
                            }, 3000);

                        } else {
                            status.addClass("bad_news").html("An error has occurred updating this entry, please contact IT.");
                        }


                    }catch(e){
                        alert(e);
                    }
                }
            });
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>
		<form id="edit_training_form" name="edit_training_form">
			<table id="edit_course_tbl">

                <tr>
                    <th>Staff Member</th>
                    <td><?=$training->user->staff_name()?></td>
                </tr>

                <tr>
                    <th>Category</th>
                    <td><?= $training->course->category; ?></td>
                </tr>

                <tr>
                    <th>Course</th>
                    <td><?= $training->course; ?></td>
                </tr>

                <tr>
                    <th>Start Date</th>
                    <td><?= el($training->start); ?></td>
                </tr>

                <tr>
                    <th>Date Completed</th>
                    <td><?= el($training->completed); ?></td>
                </tr>

                <tr>
                    <th>Next Date</th>
                    <td><?= el($training->next); ?></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align:right;"><br /><button id="submit_course_edit" type="button">Submit</button></td>
                </tr>

                <tr>
                    <td colspan="2">
						<span id="msg_status">&nbsp;</span>
					</td>
                </tr>
			</table>
		</form>

	</div>

</div>

