<style type="text/css">

    input[type='submit'], button {
        font-size: 9pt;
    }

    #training_form  table.scrollable div.scroll {
        height: 300px;
    }

    #<?=_LINK?> {
        width: 800px;
    }


    #course_tbl, #dept, #users {
        float:left;
    }

    #all_users, #submit_course_edit {
        float:right;
    }

    #course_tbl {
        padding-right:40px;
    }
    .selection {
        margin-right:40px;
    }
    .clear_fix{
        clear:both;
    }
</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var status = $("#msg_status", frame);
		var submit = $("#submit_course_edit", frame);
		var dept = $("#dept", frame);
		var users = $("#users", frame);

		frame.popup_config({
			'title': "Mass Assign Course",
			'center': true
		});

        // disable button until we have a completed form
        submit.prop("disabled", true);

        // when user changes category drop down, check we have a valid option and then a valid course
        $(frame).on("change", "#stafftrainingcourse\\[category\\]", function() {
            if ($(this).val() != "") {
                if ($("#course_select").val() != "--") {
                    submit.prop("disabled", false);
                } else {
                    submit.prop("disabled", true);
                }
            } else {
                submit.prop("disabled", true);
            }
        });

        // when user changes course, ensure we have a valid option and still have a valid category
        $(frame).on("change", "#course_select", function() {

            if ($(this).val() != "--") {
                if ($("#stafftrainingcourse\\[category\\]").val() != "") {
                    submit.prop("disabled", false);
                } else {
                    submit.prop("disabled", true);
                }

            } else {
                submit.prop("disabled", true);
            }
        });


        // select all users toggle
        $('#all_users').toggle(
            function() {
                $('#users .user_checkbox').prop('checked', true);
            },
            function() {
                $('#users .user_checkbox').prop('checked', false);
            }
        );


        // populate course select based on category
        $(frame).on("change", "#stafftrainingcourse\\[category\\]", function(){

            var category = $("#stafftrainingcourse\\[category\\]", frame).children(":selected").val();

            if (category != "") {

                $.ajax({
                    url: "pages/stafftraining/index.php?do=staff_training&action=category_to_course",
                    type: "GET",
                    data: {
                        type: "json",
                        category: category
                    },
                    dataType: "json",
                    success: function( r ){
                        try{

                            $("#course_select").empty();
                            $("#course_select").append("<option>--</option>");

                            $.each(r.courses, function (index, value) {
                                $("#course_select").append("<option id='"+index+"'>"+value+"</option>");
                            });

                        }catch(e){
                            alert(e);
                        }
                    }
                });

            } else {
                $("#course_select").empty();
                $("#course_select").append("<option>--</option>");
            }

        });


        // check any users belonging to the department which matches the group specified
        $(dept).on("click", ".groups_checkbox", function(){

            var group_checked = $(this).is(":checked");
            var group_id = this.id;

            $.ajax({
                url: "pages/stafftraining/index.php?do=staff_training&action=group_user_checkboxes",
                type: "GET",
                data: {
                    type: "json",
                    group_id : group_id
                },
                dataType: "json",
                success: function( r ){
                    try{

                        $.each(r.users, function (index, user_id) {
                            if (group_checked == false) {
                                $('#'+user_id, users).prop('checked', false);
                            } else {
                                $('#'+user_id, users).prop('checked', true);
                            }
                        });

                    }catch(e){
                        alert(e);
                    }
                }
            });

        });



        // submit form, assign course to selected users
        $(submit).on("click", function() {

            status.removeClass().html("");
            submit.prop("disabled", true);

            var category = $("#stafftrainingcourse\\[category\\]", frame).children(":selected").val();
            var course = $("#course_select", frame).children(":selected").attr("id");

            // build up array of ids for each checked staff member
            var user_ids = $("input:checkbox:checked", users).map(function(){
                return $(this).attr('id');
            }).get();

            // ensure we have at least one user selected to add training course to
            if (user_ids.length) {

                $.ajax({
                    url: "pages/stafftraining/index.php?do=staff_training&action=add_course_to_user",
                    type: "GET",
                    data: {
                        type: "json",
                        category: category,
                        course: course,
                        start: $("#stafftraining\\[start\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[start\\]\\[M\\]").val() + "-" + $("#stafftraining\\[start\\]\\[D\\]").val(),
                        completed: $("#stafftraining\\[completed\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[completed\\]\\[M\\]").val() + "-" + $("#stafftraining\\[completed\\]\\[D\\]").val(),
                        next: $("#stafftraining\\[next\\]\\[Y\\]").val() + "-" + $("#stafftraining\\[next\\]\\[M\\]").val() + "-" + $("#stafftraining\\[next\\]\\[D\\]").val(),
                        user_array: user_ids
                    },
                    dataType: "json",
                    success: function( r ){
                        try{

                            if (r.status) {
                                status.html(r.status);

                                if(r.error == false){
                                    status.addClass("good_news");

                                    // refresh tabs to reflect changes
                                    $("#training_tabs").trigger("get_user_data");
                                }else{
                                    status.addClass("bad_news");
                                }

                                setTimeout(  function() {
                                    status.removeClass().html("");
                                    // re-enable submit button
                                    submit.prop("disabled", false);
                                }, 3000);

                            } else {
                                status.addClass("bad_news").html("An error has occurred adding this entry, please contact IT.");
                            }

                        }catch(e){
                            alert(e);
                        }
                    }
                });

            } else {
                status.addClass("bad_news").html("Please select at least one user to proceed");
            }

        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>
		<form id="training_form" name="training_form">
			<table id="course_tbl">
                <tr>
                    <th>Category</th>
                    <td><?= el($course->category); ?></td>
                </tr>

                <tr>
                    <th>Course</th>
                    <td><select id="course_select"><option>--</option></select></td>
                </tr>

                <tr>
                    <th>Start Date</th>
                    <td><?= el($training->start); ?></td>
                </tr>

                <tr>
                    <th>Date Completed</th>
                    <td><?= el($training->completed); ?></td>
                </tr>

                <tr>
                    <th>Next Date</th>
                    <td><?= el($training->next); ?></td>
                </tr>

			</table>

            <div id="dept" class="panel selection">
                <h1>Group</h1>
                <table id="dept_tbl" class="scrollable">
                    <?php
                        foreach ($groups as $id => $group) {
                            echo "<tr>
                                    <td>".$group."</td>
                                    <td><input id='".$id."' class='groups_checkbox' type='checkbox' /></td>
                                </tr>";
                        }
                    ?>
                </table>
            </div>

            <div id="users" class="panel selection">
                <h1>Users <input id="all_users" type="checkbox" /></h1>
                <table id="user_tbl" class="scrollable">
                    <tbody>
                    <?php
                        foreach ($users as $id => $user) {
                            echo "<tr>
                                <td>".$user."</td>
                                <td><input id='".$id."' class='user_checkbox' type='checkbox' /></td>
                            </tr>";
                        }
                    ?>
                    </tbody>
                </table>
            </div>

            <div class="clear_fix"></div>

            <button id="submit_course_edit" type="button">Submit</button>
            <br />
            <span id="msg_status">&nbsp;</span>

		</form>
	</div>

</div>

