<style type="text/css">

    #<?=_LINK?> {
        width: 1000px;
        min-height: 400px;
    }

    #staff_filter {
        margin:20px 0;
    }

    .single_tab {
        min-height: 350px;
    }

    #<?=_LINK?>  table.scrollable div.scroll {
        height: 250px;
    }
    .date_column{
        width:130px;
    }
    .action_column{
        width:130px;
    }

    .add_user_training{
        margin-top:20px;
        float:right;
    }

</style>

<script type="text/javascript">
$(function() {

    var frame = $("div#<?=_LINK?>");
    var tabs = $("#training_tabs");
    var status = $(".training_status", frame);

    frame.popup_config({
        title: "Staff Training Records",
        center: true
    });

    // allow us to get training data for specified user
    tabs.bind(
        "get_user_data",
        function( ){

            var id = $("#staff_filter", frame).children(":selected").attr("id");

            $.ajax({
                url: "pages/stafftraining/index.php?do=staff_training",
                type: "GET",
                data: {
                    type: "json",
                    action: "show_user",
                    user_id: id
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $("#induction_data").html(r.induction_data);
                        $("#department_data").html(r.department_data);
                        $("#company_data").html(r.company_data);
                        $(".viewing_user").html(r.viewing_user);

                    }catch(e){
                        alert(e);
                    }
                }
            });
        }
    );

    // run initial load of data for current user
    tabs.trigger("get_user_data");


    // get training data for specified user
    $(frame).on("change", "#staff_filter", function() {
        tabs.trigger("get_user_data");
    });


    // allow admin to edit staff training entry
    $(frame).on("click", ".edit", function() {

        var id = $(this).closest('tr').attr('id');

        new popup({
            url: "/pages/stafftraining/index.php?do=staff_training&action=edit_user_training_entry&training_id="+id
        });
    });


    // delete a training entry from a staff members records
    $(frame).on("click", ".delete", function() {

        var id = $(this).closest('tr').attr('id');

        if (confirm('Are you sure you want to delete this entry?\n\nPlease click OK to confirm.')) {
            $.ajax({
                url: "pages/stafftraining/index.php?do=staff_training&action=delete_user_training_entry",
                type: "GET",
                data: {
                    type: "json",
                    training_id: id
                },
                dataType: "json",
                success: function( r ){
                    try{

                        if (r.status) {
                            status.html(r.status);

                            if(r.error == false){
                                status.addClass("good_news");

                                // refresh tabs to reflect changes
                                tabs.trigger("get_user_data");
                            }else{
                                status.addClass("bad_news");
                            }

                            setTimeout(  function() {
                                status.removeClass().html("");
                            }, 2500);

                        } else {
                            status.addClass("bad_news").html("An error has occurred updating this entry, please contact IT.");
                        }
                    }catch(e){
                        alert(e);
                    }
                }
            });
        }

    });

    // add training for selected user to selected training category
    $(frame).on("click", ".add_user_training", function(){

        var id = this.id;
        var user_id = $("#staff_filter", frame).children(":selected").attr("id");

        new popup({
            url: "/pages/stafftraining/index.php?do=staff_training&action=add_course_to_user&category="+id+"&user_id="+user_id
        });

    });

    $(frame).on("click", "#course_management", function() {

        new popup({
            url: "/pages/stafftraining/index.php?do=staff_training&action=course_management&template=true"
        });

    });

    $(frame).on("click", "#admin_add_btn", function() {
        new popup({
            url: "/pages/stafftraining/index.php?do=staff_training&action=mass_assign_course"
        });
    });


});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <!-- if admin we want to give them a staff filter and the ability to add new courses,
     and assign new courses to users -->
    <?php if ($admin) { ?>
        <?= User::active_users(); ?>
        <button id="course_management" class="add">Course Management</button>
        <button id="admin_add_btn" class="add">Mass Assign Course</button>
    <?php } ?>

    <h4>Viewing training records for <span class="viewing_user">&nbsp;</span></h4>


    <div id="training_tabs" class="tabs">
        <ul>
            <li class="active">Induction</li>
            <li>Department</li>
            <li>Company</li>
        </ul>

        <div>

            <div id="induction_tab" class='active single_tab'>
                <table id="induction_tbl" class="scrollable">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th class="date_column">Start Date</th>
                            <th class="date_column">Date Completed</th>
                            <th class="date_column">Next Date</th>
                            <?php if ($admin) { echo '<th class="action_column">Action</th>'; }?>
                        </tr>
                    </thead>
                    <tbody id="induction_data">
                    </tbody>
                </table>
                <p>
                    <span class="training_status"></span>
                    <?php if ($admin) { ?>
                        <button type="button" id="1" class="add_user_training add">Add Induction Training for <span class="viewing_user">&nbsp;</span></button>
                    <?php } ?>
                </p>
            </div>

            <div id="department_tab" class="single_tab">
                <table id="department_tbl" class="scrollable">
                    <thead>
                    <tr>
                        <th>Course</th>
                        <th class="date_column">Start Date</th>
                        <th class="date_column">Date Completed</th>
                        <th class="date_column">Next Date</th>
                        <?php if ($admin) { echo '<th class="action_column">Action</th>'; }?>
                    </tr>
                    </thead>
                    <tbody id="department_data">
                    </tbody>
                </table>
                <p>
                    <span class="training_status"></span>
                    <?php if ($admin) { ?>
                        <button type="button" id="2" class="add_user_training add">Add Department Training for <span class="viewing_user">&nbsp;</span></button>
                    <?php } ?>
                </p>
            </div>

            <div id="company_tab" class="single_tab">
                <table id="company_tbl" class="scrollable">
                    <thead>
                    <tr>
                        <th>Course</th>
                        <th class="date_column">Start Date</th>
                        <th class="date_column">Date Completed</th>
                        <th class="date_column">Next Date</th>
                        <?php if ($admin) { echo '<th class="action_column">Action</th>'; }?>
                    </tr>
                    </thead>
                    <tbody id="company_data">
                    </tbody>
                </table>
                <p>
                    <span class="training_status"></span>
                    <?php if ($admin) { ?>
                        <button type="button" id="3" class="add_user_training add">Add Company Training for <span class="viewing_user">&nbsp;</span></button>
                    <?php } ?>
                </p>
            </div>

        </div>

    </div>

</div>
