<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
    }

    #<?=_LINK?>  table.scrollable div.scroll {
        height: 250px;
    }

    #cert_tbl{
        width:100%;
    }
</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");

		frame.popup_config({
			'title': "View Certificates",
			'center': true
		});

        $(frame).on("click", ".view", function(){

            // open file with browser -force download
            var w = window.open("pages/stafftraining/index.php?do=view_file&id="+this.id+"&object_id=<?=$training->id?>");
        });

    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="cert_tbl" class="scrollable">
        <thead>
            <tr>
                <th>File name</th>
                <th width="70px">&nbsp;</th>
            </tr>
        </thead>
        <tbody class="content">
        <?php
            while ($cert = $search->next(MYSQLI_ASSOC)) {
                echo "<tr>
                        <td>".$cert->display_name."</td>
                        <td>
                            <button id='".$cert->id."' type='button' class='view'>View</button>
                        </td>
                    </tr>";
                }
        ?>
        </tbody>
    </table>

</div>

