<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        $("#toggle-run", frame).on("click", function(){
            var started = $(this).data("started");
            var run = "start_run";

            if (started) {
                run = "stop_run";
            }

            $.ajax({
                url: "/pages/incomerun/?do=" + run,
                type: "GET",
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        $("#content_window").load("/pages/incomerun/");
                    } else {
                        alert(response.data);
                    }
                }
            });
        });

        $("#run-instructions", frame).on("focusout", function(){
            $.ajax({
                url: "/pages/incomerun/?do=edit_instructions",
                type: "POST",
                dataType: "JSON",
                data: {
                    instructions: $("#run-instructions", frame).html().trim(),
                },
                success: function(response){
                    if (response.success) {
                        $("#textedit-feedback",frame).attr("class", "text-success");
                    } else {
                        $("#textedit-feedback",frame).attr("class", "text-danger");
                    }

                    $("#textedit-feedback",frame).html(response.data);
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <div class="row no-gutters border-bottom">
        <div class="col-3">
            <div class="pr-2">
                <button class="btn <?= $runStarted ? 'btn-warning' : 'btn-success' ?> btn-block px-0 py-3" id="toggle-run" data-started="<?= $runStarted ?>">
                    <?php if($runStarted): ?>
                        <i class="fas fa-check"></i> Complete Run
                    <?php else: ?>
                        <i class="fas fa-play"></i> Start Run
                    <?php endif; ?>
                </button>
                <?php if($runStarted): ?>
                    <p class="text-center mt-2">Run started: <?= \Carbon\Carbon::createFromTimestamp($runStarted)->toDayDateTimeString() ?></p>
                <?php endif; ?>
            </div>
        </div>
        <div class="col-9">
            <div class="pl-2">
                Whilst the income run is being processed, staff will be prevented from actioning the following:
                <ul>
                    <li>Change owning Partner</li>
                    <li>BSP's</li>
                    <li>Client Merge/Split</li>
                    <li>Policy Merge</li>
                    <li>Policy issuer change</li>
                    <li>Partner bank account details</li>
                </ul>
            </div>
        </div>
    </div>

    <p id="textedit-feedback"></p>

    <div id="run-instructions" contenteditable="true">
        <?= $instructions ?>
    </div>
</div>