<style type="text/css">
#<?=_LINK?> {
    font-size: 9pt;
    width: 600px;
}

#<?=_LINK?> table div.scroll {
    height: 150px;
}

#<?=_LINK?> textarea#global_text {
    width:85%;
    display:block;
    height:75px;
    margin: auto;
}

</style>

<script type="text/javascript">
$( function( ) {

    var form = $("#<?=_LINK?>");
    var pop = $( form ).popup_config({
        title: "Request Valuations for <?=$client?>",
        center: true
    });
    var policies = $("table.scrollable tbody:last",form);
    var globalText = $("textarea#global_text",form);
    var statusSpan = $("span.status",form);

    $(":checkbox#toggle-all").change(
        function( ){
            $(":checkbox",policies)
                .attr("checked", $(this).is(":checked") )
                .trigger("change");
        }
    );

    $(":checkbox",policies).change(function(){
        $(this)
            .closest("tr")
            .find(":input:hidden")
            .attr("disabled", !this.checked );
    });

    $("tr a.custom_text",policies).click(
        function( e ){

            var textField = $(this).siblings(":hidden.text");

            var customText = textField.val();
            if( customText.length < 1 ){
                customText = globalText.val();
            }

            new promptOverlay({ 
                event: e,
                value: customText,
                callback: function( r ){
                    textField.val( r );
                }

            });
        }
    );

    form.submit(
        function( ){
            $(this).send(
                function( r ){
                    try {
                        
                        r = json_decode( r );
                        
                        // remove successfully requested policy rows
                        for( var i=0; i<r.success.length; i++ ){
                            $(":checkbox[value="+r.success[i]+"]", policies)
                                .closest("tr")
                                .fadeOut("fast",function(){$(this).remove();});
                        }

                        // show errors encountered or success message
                        if( r.errors.length > 0 ){
                            statusSpan
                                .html( r.errors )
                                .removeClass( "good_news" )
                                .addClass( "bad_news" );

                        } else {

                            statusSpan
                                .html( "Valuation requested" )
                                .removeClass( "bad_news" )
                                .addClass( "good_news" );
                        }

                        $(pop).trigger("requestSuccessful");
                        
                    } catch( e ) {
                        handleSystemError( e );
                    }
                }
            );
        }
    );
});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=Valuation::index_url(array('do'=>'create'))?>" method="POST">

<div style="border: 1px dashed #006686; padding: 3px; font-size: 10pt;">
  This is the message that will be included in your valuation request. To change the
  message for all policies selected feel free to change the text below. If you'd like to customise one policy's 
  request text, click the "Custom Text" link in the policy row.<br />
  <br />
  <textarea id="global_text" name="global_text"><?=Valuation::DEFAULT_TEXT?></textarea>
</div>

<p>
  <?=el::chk("toggle-all")?>
  <label for="toggle-all">Select all policies</label>
</p>

<table class="scrollable">
  <thead>
    <tr>
      <th>Policy</th>
      <th>Issuer</th>
      <th width="50px">Request</th>
      <th width="100px">&nbsp;</th>
    </tr>
  </thead>
  <tbody class="content">
    <?= $policy_list ?>
  </tbody>
</table>

<p align="right">
  <span class="status">&nbsp;</span>
  <button type="submit">Submit Requests</button>
</p>

</form>