<script type="text/javascript">
$(function( ) {
    var frame = $('div#<?=_LINK?>');
    var editform = $("form#edit-val-form", frame);

    var pop = frame.popup_config({
        title: "Edit <?= $valuation->object_type ?> Valuation",
        center: true
    });

    editform.submit(function(e){
        e.preventDefault();

        $.ajax({
            url: "/pages/valuation/?do=update",
            type: "GET",
            data: {
                id: $("#valuation\\[id\\]", frame).val(),
                currency: $("#valuation\\[currency\\]", frame).val(),
                value: $("#valuation\\[value\\]", frame).val(),
                comments:  $("#valuation\\[comments\\]", frame).val()
            },
            success: function(response){
                if (response){
                    $(".status").html("Updated").removeClass("bad_news").addClass("good_news");
                    $("div.<?=strtolower($valuation->object_type)?> #val-items tbody.content").load("/pages/valuation/?do=view&object_type=<?=$valuation->object_type?>&object_id=<?=$valuation->object_id?>");
                    pop.close();
                } else {
                    $(".status").html("Failed to Update").removeClass("good_news").addClass("bad_news");
                }
            }
        });
    });
});


</script>

<style type="text/css">
#<?=_LINK?> form#edit-val-form{
    width: 500px;
}

td.comment > span > input{
    width: 250px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <form id="edit-val-form" name="edit-val-form" action="<?=Valuation::index_url(array('do'=>'update'))?>" method="POST">
        <div class="panel">
            <table>
              <tbody>
                  <tr>
                      <th width="30%">Date of Value</th>
                      <td></td>
                      <td><?= $valuation->value_at ?></td>
                  </tr>
                  <tr>
                      <th>Valuation</th>
                      <td><?= el($valuation->currency) ?></td>
                      <td><?= $valuation->value->toElement() ?></td>
                  </tr>
                  <tr>
                      <th>Comments</th>
                      <td></td>
                      <td class="comment"><?= $valuation->comments->toElement() ?></td>
                  </tr>
              </tbody>
            </table>
        </div>

        <?= el::hide($valuation->id->get_html_id(), $valuation->id) ?>
        <?= el::hide($valuation->object_type->get_html_id(), $valuation->object_type) ?>

        <input  type="submit" value="Submit"/>
        <span class="status"></span>
	</form>
</div>
