<tr data-id="<?= $valuation->id ?>">
  <td><?= $valuation->value_at ?></td>
  <td><?= $valuation->getValue() ?></td>
  <td><?= $valuation->added_by->link() ?></td>
  <td><?= $valuation->added_when ?></td>
  <td><?= $valuation->comments ?></td>
  <td>
    <button class="edit-valuation">Edit</button>
    <?php if($valuation->object_type == "Client"): ?>
        <button class="delete-valuation"><i class="fa fa-trash text-danger"></i></button>
    <?php endif; ?>
  </td>
</tr>