<script type="text/javascript">
$(function( ) {
    var frame = $('div#<?=_LINK?>');
    var newform = $("form#new-val-form", frame);
    var objectId = $("<?= $_GET['object_id'] ?>");
    var objectType = $("<?= $_GET['object_type'] ?>");

    var pop = frame.popup_config({
        title: "Add <?=$_GET['object_type']?> Valuation",
        center: true
    });

    saveProfileStatusSpan(newform, {
        success: function () {
          $("div.<?= strtolower($_GET['object_type']) ?> #val-items tbody.content").load("/pages/valuation/?do=view&object_type=<?=$_GET['object_type']?>&object_id=<?= $_GET['object_id'] ?>");
        }
    });

    $("#valuation\\[value\\]", frame).on("paste", function(e){
        e.preventDefault();

        var value = e.originalEvent.clipboardData.getData("text");

        value = value.replace(",", "");

        $(this).val(value);
    });
});


</script>

<style type="text/css">
#<?=_LINK?> form#new-val-form{
    width: 500px;
}
td.comment > span > input{
    width: 350px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <form id="new-val-form" name="new-val-form" action="<?=Valuation::get_common_url(array('do'=>'create'))?>" method="POST">
        <div class="panel">
            <table>
              <tbody>
                  <tr>
                    <th>Date of Value</th>
                    <td><?= $valuation->value_at -> toElement()?></td>
                  </tr>
                  <tr>
                      <th>Valuation</th>
                      <td><?= $valuation->value->toElement() ?></td>
                  </tr>
                  <tr>
                      <th>Comments</th>
                      <td class="comment"><?= $valuation->comments->toElement() ?></td>
                  </tr>
              </tbody>
            </table>
        </div>

        <?= el::hide($valuation->object_id->get_html_id(),$_GET["object_id"]) ?>
        <?= el::hide($valuation->object_type->get_html_id(),$_GET["object_type"]) ?>

        <input  type="submit" value="Add"/>
        <span class="status"></span>
	</form>
</div>
