<tr>
  <td><?= $policy->link() ?></td>
  <td><?= $policy->issuer->link() ?></td>
  <td style="text-align:center;"><input type="checkbox" id="val[policy][]" name="val[policy][]" value="<?=$policy->id()?>" /></td>
  <td style="text-align:center;">
    <a href="#" class="custom_text">Custom Text</a>
    <input class="text" type="hidden" id="val[text][]" name="val[text][]" value="" disabled="disabled"/>
  </td>
</tr>