<style type="text/css">
#<?=_LINK?> textarea {
    width: 250px;
    height: 100px;
}
#<?=_LINK?> > table tr td{
    vertical-align: top;
}
#<?=_LINK?> > table tr th{
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 15px;
}
</style>

<script type="text/javascript">
$(function(){

    var form = $("#<?=_LINK?>");

    var pop  = form.popup_config({
        title: "Valuation for <?=$valuation->policy?>",
        center: true
    });

    $("textarea",form).keyup(
        function( ){

            // If request message changes, change valuation status to "Not Submitted"
            $("select > option[selected]",form).attr("selected","");
            $("select",form).val(1);
            
        }
    );

    saveProfileNotification( form );

});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=Valuation::get_common_url(array('id'=>$valuation->id(),'do'=>'save'))?>" method="POST">
  <table>
    <tr>
      <th>Policy</th>
      <td><?= $valuation->policy->link()?></td>
    </tr>
    <tr>
      <th>First Requested</th>
      <td><?= $valuation->created ?></td>
    </tr>
    <tr>
      <th>Requested By</th>
      <td><?= $valuation->created_user->link() ?></td>
    </tr>
    <tr>
      <th valign="top">Request</th>
      <td><?= el($valuation->request) ?></td>
    </tr>
    <tr>
      <th>Stage</th>
      <td><?= el($valuation->stage) ?></td>
    </tr>
  </table>
</form>
