<script type="text/javascript">
$(
    function( )
    {
        var form    = $("form#valuation-form");
        var status  = $("span#val_update_status"); 
    
        $( form ).popup_config({

        "center": true,
        "title":  "Valuation for <?=$valuation->policy?>"

        });

        $( form ).find( "button:submit" ).click(
            function( )
            {
                $( form ).send(
                    function( r )
                    {
                        r = json_decode( r );

                        if( r )
                        {
                            $( status ).flash( "Valuation updated" );

                            // within client profile? (refresh policies)
                            if( $("#policies").length > 0 )
                                $( "#policies" )[0].get( );
                        }
                        else
                        {
                            $( status ).flash( "Unable to update valuation" );
                        }

                    }
                );
            }
        );
                
    }
);
</script>

<style type="text/css">
textarea#request {
width: 250px;
height: 150px;
}
</style>

<form id="valuation-form" name="valuation-form" method="POST" action="<?=_SELF?>?id=<?= $valuation->id() ?>&do=update">

    <table>
        <tr>
            <th width="150px">For Policy</th>
            <td><?php echo $valuation->policy->link( ) , $valuation->policy->issuer;?></td>
        </tr>
        <tr>
            <th>First Requested</th>
            <td><?= Date::comparison( $valuation->created->unix ) ?></td>
        </tr>
        <tr>
            <th>Requested By</th>
            <td><?= $valuation->user ?></td>
        </tr>
        <tr>
            <th valign="top">Request</th>
            <td>
                <?= el($valuation->request) ?>
            </td>
        </tr>
        <tr>
            <th>Stage</th>
            <td><?= el($valuation->stage) ?></td>
        </tr>
        <tr>
            <td><span id="val_update_status" name="val_update_status"></span>&nbsp;</td>
            <td align="right">
                <?=el::bt( "Update", "update-valuation", "type='submit'" );?>
            </td>
        </tr>
    </table>

</form>
