<style type="text/css">
form#<?=_LINK?> {
    width: 850px;
}
form#<?=_LINK?> table#add_new{
    height: 100px;
}

#form_btm{
	padding-top:10px;
	float:right;
}
.heading{
	font-weight:bold;
}
#policy{
	width:200px;
}
#client_row > td > div{
	z-index:40;
}
#partner_row > td > div{
	z-index:30;
}
#issuer_row > td > div{
	z-index:20;
}
#upload{
	clear:both;
}
</style>

<script type="text/javascript">
    $(function( ){
	
        var form = $("form#<?=_LINK?>");
		window.pop = form.popup_config({
			title: 'Update Adviser Charging Entry',
            center: true,
        });
		
		if ( "<?=$ac->vat->value?>" == 0 ) {
			$("#advisercharging\\[vat\\]").attr("value", 0);
		}else{
			$("#advisercharging\\[vat\\]").attr("value", 1);
		}
		
		$(form).on("click", "#submit", function(){
			//ensure required fields are completed
			if( $("#advisercharging\\[ac_requested\\]").val() == "" && $("#advisercharging\\[ac_requested\\]").val() != "0.00" ){
				$("#status", form).html("Please fill in Adviser Charging Requested field").removeClass().addClass("bad_news");
			}else{
			
			//regular expression to check that ac_requested is numeric, between 0-100, and allow upto 2 decimal places
			var regex = /^-?[0-9]{0,2}(\.[0-9]{1,2})?$|^-?(100)(\.[0]{1,2})?$/;
			var ac_req = $("#advisercharging\\[ac_requested\\]").val();
			if ( $("#advisercharging\\[ac_requested\\]").val() != "" ){
				if( !regex.test(ac_req) ){
					$("#status",form).html("Please enter a valid percentage for Adviser Charging requested").removeClass().addClass("bad_news");
					return false;
				}
			}
			//similarly for fee requested check that it is numerical and contains no more than 2 decimal places
			var regex1 = /^(-)?\d+(\.\d\d)?$/;
			var fee = $("#advisercharging\\[fee_requested\\]").val();
			
			if ( $("#advisercharging\\[fee_requested\\]").val() != "" ){
				if( !regex1.test(fee) ){
					$("#status",form).html("Please enter a valid amount for Fee Requested").removeClass().addClass("bad_news");
					return false;
				}
			}
/*
			//check that an amount had been added to the value of plan field
			if ( $("#advisercharging\\[value_of_plan\\]").val() == "" ){
				$("#status",form).html("Please enter a Value of Plan amount").removeClass().addClass("bad_news");
				return false;
			}

			//check that value of plan is numerical and contains no more than 2 decimal places
			var plan_value = $("#advisercharging\\[value_of_plan\\]").val();
			if ( $("#advisercharging\\[value_of_plan\\]").val() != "" ){
				if( !regex1.test(plan_value) ){
					$("#status",form).html("Please enter a valid monetary value for Value of Plan amount").removeClass().addClass("bad_news");
					return false;
				}
			}
*/
				$.post("/pages/advisercharging/index.php?do=update&id=<?=$ac->id()?>&pack_produced="+$("#advisercharging\\[pack_produced\\]").val()+"&illustration_provided="+$("#advisercharging\\[illustration_provided\\]").val()+"&vat="+$("#advisercharging\\[vat\\]").val()+"&comments="+$("#comments").val(),
					$(form).serialize(), function( r ) {
					var r = json_decode(r);
						try{
							if(r.error == true){
							$("#status",form).html(r.status).removeClass().addClass("bad_news");
							}
							else if(r.status != false){
								$("#status",form).html(r.status).removeClass().addClass("good_news");
								$("#submit",form).attr("disabled", "disabled");
                                $( "table#outstanding_ac_tbl" ).trigger( "load_post_update" );
                                // Stagger 'Complete' tab load to try and prevent sql connection throwing a flakey
                                setTimeout(function () {
                                    $( "table#complete_ac_tbl" ).trigger( "load_post_update_complete" );
									$( "table#charging" ).trigger( "load_ac" );
                                }, 2000);
							}

							if( (r.prompt != false) && ("<?=$ac->pack_produced()?>" == 0)) {
								window.pop.close();
								var p = new popup( {
									url: "/pages/advisercharging/?do=prompt_upload&id="+r.id,
								});
							}

						}catch(e){
							alert(e);
						}
					}
				);
			}
		});

        $("#suggested_rate").hide();
        $.ajax({
            url: "pages/advisercharging/index.php?do=suggested_rate",
            type: "GET",
            data: {
                type: "json",
                id: "<?= $po->id() ?>"
            },
            dataType: "json",
            success: function( r ){
                try{
                    if(r.status == true){
                        $("#suggested_rate").show();
                        $("#rate").html(r.rate);
                    }
                }catch(e){
                    alert(e);
                }
            }
        });
		
    });
</script>
<form id="<?=_LINK?>" name="<?=_LINK?>">

	<table id="add_new" name="add_new">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>

			<tr id="suggested_rate">
				<td class="heading">Suggested Rate</td><td id="rate">&nbsp;</td>
			</tr>

			<tr id="client_row">
				<td class="heading"><span class="required">Client</span></td><td><?= $c->link() ?></td><td>&nbsp;</td><td class="heading"><span class="required">AC Requested</span></td><td>&nbsp; <?= el($ac->ac_requested) ?>%</td>
			</tr>
			<tr id="partner_row">
				<td class="heading"><span class="required">Partner</span></td><td><?= $pa->link() ?></td><td>&nbsp;</td><td class="heading"><span class="required">Ad-Hoc Fee Requested</span></td><td>£<?= el($ac->fee_requested) ?></td>
			</tr>
			<tr>
				<td class="heading"><span class="required">Policy Number</span></td><td><?= $po->link() ?></td><td>&nbsp;</td><td class="heading"><span class="required">VAT Included</span></td><td>&nbsp; <?= el($ac->vat) ?></td>
			</tr>
			<tr id="issuer_row">
				<td class="heading"><span class="required">Issuer</span></td><td><?= $i->link() ?></td><td>&nbsp;</td><td class="heading">Sent to Provider</td><td>&nbsp; <?= el($ac->sent) ?></td>
			</tr>
			<tr>
				<td class="heading">Pack Produced</td><td><?= el($ac->pack_produced)?></td><td>&nbsp;</td><td class="heading">Expected First Payment</td><td>&nbsp; <?= el($ac->expected_first_pay) ?></td>
			</tr>
            <tr>
				<td class="heading">Illustration Provided</td><td><?= el($ac->illustration_provided)?></td><td>&nbsp;</td><td class="heading">Payment Frequency</td><td>&nbsp; <?=el($ac->payment_frequency) ?></td><!--td class="heading"><span class="required">Value of Plan</span></td><td>£<?=el($ac->value_of_plan)?></td-->
            </tr>
			<tr>
				<td class="heading">Additional Comments</td><td colspan='3'><textarea rows="4" cols="56" id="comments"><?= $ac->comments ?></textarea></td>
			</tr>
		</tbody>
	</table>

	<div id="form_btm">
		<span id="status">&nbsp;</span>
		<button id="submit" class="add">Submit</button>
	</div>


</form>
