<style type="text/css">
#<?=_LINK?> table.scrollable div.scroll {
    height: 400px;
}
#<?=_LINK?> #toolbar{
	float:right;
	width:40%;
	text-align:right
}
#<?=_LINK?> #outstanding_charging_search, #complete_charging_search{
	width:60%;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
}
#spinner_pol{
	margin:-10px 0 20px;
}
@-moz-document url-prefix() {
    #outstanding_ac_tbl, #complete_ac_tbl {
		clear:both;
		margin-top:60px;
    }
	#toolbar{
		margin-top:-10px;
	}
}
</style>
<script type="text/javascript">
	$( function( ){

		var frame = $( "#<?=_LINK?>" );
		var outstanding_table = $("table#outstanding_ac_tbl",frame);
        var complete_table = $("table#complete_ac_tbl",frame);
		var loadingSpinner = $("img#spinner_pol",frame);
		var outstanding_init_load = true;
        var complete_init_load = true;

		$( outstanding_table ).bind(
			"load_ac_outstanding",
				function( ){

					//stay on current page when reloading data after edit/delete
					var offset = $("#outstanding_page_number").val();
					if(offset == null && outstanding_init_load == false){
						offset = 1;
					}else if(offset == null && outstanding_init_load == true){
						offset = 0;
					}

					if( $("#outstanding_search").val() == "Search on Policy Number.." ||  $("#outstanding_search").val() == "" ){
						$.get(
							"/pages/advisercharging/index.php",
							{
								'do': "load_ac_outstanding",
								'offset': offset
							},
							function( r ){

								r = json_decode(r);
								$( ".content", outstanding_table ).html(r.data);
								$('span#outstanding_total_rows').html(r.record_count);
								$('span#pages').html(r.pages);

								//populate page no. dropdown
								if($("#outstanding_page_number").val() == null){
									$('#outstanding_page_number').empty();
									$.each(r.page_no, function(key, value) {
										$('#outstanding_page_number')
											.append($("<option></option>")
											.attr("value",key)
											.text(value));
									});
								}
								loadingSpinner.hide();
							}
						);
					}else{
						$.get(
								"/pages/advisercharging/index.php",
								{
									'do': "search_outstanding",
									'offset': offset,
									'search_data': $("#outstanding_search").val()
								},
								function( r ){

									r = json_decode(r);
									$( ".content", outstanding_table ).html(r.data);
									$('span#outstanding_total_rows').html(r.record_count);
									$('span#pages').html(r.pages);

									//populate page no. dropdown
									if($("#outstanding_page_number").val() == null){
										$('#outstanding_page_number').empty();
										$.each(r.page_no, function(key, value) {
											$('#outstanding_page_number')
												.append($("<option></option>")
												.attr("value",key)
												.text(value));
										});
									}
									loadingSpinner.hide();
								}
							);
					}

                    outstanding_init_load = false;
				}
		);

		$( outstanding_table ).trigger( "load_ac_outstanding" );

        $( complete_table ).bind(
                "load_ac_complete",
                function( ){
                    loadingSpinner.show();

                    //stay on current page when reloading data after edit/delete
                    var offset = $("#complete_page_number").val();
                    if(offset == null && complete_init_load == false){
                        offset = 1;
                    }else if(offset == null && complete_init_load == true){
                        offset = 0;
                    }

                    if( $("#complete_search").val() == "Search on Policy Number.." ||  $("#complete_search").val() == "" ){
                        $.get(
                                "/pages/advisercharging/index.php",
                                {
                                    'do': "load_ac_complete",
                                    'offset': offset
                                },
                                function( r ){

                                    r = json_decode(r);
                                    $( ".content", complete_table ).html(r.data);
                                    $('span#complete_total_rows').html(r.record_count);
                                    $('span#pages').html(r.pages);

                                    //populate page no. dropdown
                                    if($("#complete_page_number").val() == null){
                                        $('#complete_page_number').empty();
                                        $.each(r.page_no, function(key, value) {
                                            $('#complete_page_number')
                                                    .append($("<option></option>")
                                                            .attr("value",key)
                                                            .text(value));
                                        });
                                    }
                                    loadingSpinner.hide();
                                }
                        );
                    }else{
                        $.get(
                                "/pages/advisercharging/index.php",
                                {
                                    'do': "search_complete",
                                    'offset': offset,
                                    'search_data': $("#complete_search").val()
                                },
                                function( r ){

                                    r = json_decode(r);
                                    $( ".content", complete_table ).html(r.data);
                                    $('span#complete_total_rows').html(r.record_count);
                                    $('span#pages').html(r.pages);

                                    //populate page no. dropdown
                                    if($("#complete_page_number").val() == null){
                                        $('#complete_page_number').empty();
                                        $.each(r.page_no, function(key, value) {
                                            $('#complete_page_number')
                                                    .append($("<option></option>")
                                                            .attr("value",key)
                                                            .text(value));
                                        });
                                    }
                                    loadingSpinner.hide();
                                }
                        );
                    }

                    complete_init_load = false;
                }
        );

        // Load 'complete' tab only when user clicks on tab - load only once
        var complete_loaded = false;
        $("#complete_tab").click(function(){
            if(!complete_loaded){
                $( complete_table ).trigger( "load_ac_complete" );
                complete_loaded = true;
            }
        });

        //open popup to allow new adviser charging entries to be added
		$(frame).on("click", "#add_ac", function(){
			var p = new popup( {
				url: "/pages/advisercharging/?do=create",
			});
		});

        // delete adviser charging entry and remove row from table
		$(frame).on("click", ".delete", function(){
            var row_id = $(this).closest('tr').attr('id');

			if( confirm( "Are you sure you would like to delete this entry?" ) ){
				try {
					$.ajax({
					url: "pages/advisercharging/index.php?do=delete",
					type: "GET",
					data: {
						type: "json",
						id: row_id
					},
					dataType: "json",
					success: function( r ){
						try{
							$("#outstanding_status",frame).html("Entry successfully deleted").addClass("good_news").delay(1500).fadeTo("slow", 0);
                            $("tr#"+row_id).remove();
						}catch(e){
							alert(e);
						}
					}
				});
				}
				catch( e ) {
					handleSystemError(e);
				}
			}
		});

        // open popup to allow editing of adviser charging entry
		$(frame).on("click", ".edit", function(){
			var row_id = $(this).closest('tr').attr('id');
            var activetab = $(".nav-link.active", frame).data('tab');
            var activetbl = activetab[0];
			var p = new popup( {
				url: "/pages/advisercharging/?do=edit&id="+row_id+"&tblrefresh="+activetbl
			});
		});


		// Get new data based on selected page number - Outstanding Tab
		$('select#outstanding_page_number').on( "change", function( ){
			loadingSpinner.show();
			var item=$(this);
			if( $("#outstanding_search").val() != "Search on Policy Number.." &&  $("#outstanding_search").val() != "" ){
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=policy&search_data="+$("#outstanding_search").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
			}else if( ($("#issuer_outstanding").val() != null && $("#issuer_outstanding").val() != "" && $("#issuer_outstanding").val() != 0)
                    && ($("#partner_outstanding").val() != null && $("#partner_outstanding").val() != "" &&  $("#partner_outstanding").val() != 0) ){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=both&search_data_issuer="+$("#issuer_outstanding").val()+"&search_data_partner="+$("#partner_outstanding").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#issuer_outstanding").val() != null && $("#issuer_outstanding").val() != "" && $("#issuer_outstanding").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=issuer&search_data_issuer="+$("#issuer_outstanding").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#partner_outstanding").val() != null && $("#partner_outstanding").val() != "" && $("#partner_outstanding").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=partner&search_data_partner="+$("#partner_outstanding").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else{
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=load_ac_outstanding&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
			}
		});

        // Get new data based on selected page number - Complete Tab
        $('select#complete_page_number').on( "change", function( ){
            loadingSpinner.show();
            var item=$(this);
            if( $("#complete_search").val() != "Search on Policy Number.." &&  $("#complete_search").val() != "" ){
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=policy&search_data="+$("#complete_search").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }else if( ($("#issuer_complete").val() != null && $("#issuer_complete").val() != "" && $("#issuer_complete").val() != 0)
                    && ($("#partner_complete").val() != null && $("#partner_complete").val() != "" &&  $("#partner_complete").val() != 0) ){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=both&search_data_issuer="+$("#issuer_complete").val()+"&search_data_partner="+$("#partner_complete").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#issuer_complete").val() != null && $("#issuer_complete").val() != "" && $("#issuer_complete").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=issuer&search_data_issuer="+$("#issuer_complete").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#partner_complete").val() != null && $("#partner_complete").val() != "" && $("#partner_complete").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=partner&search_data_partner="+$("#partner_complete").val()+"&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else{
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=load_ac_complete&offset="+item.val(),
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
        });


		// Submit outstanding policy search
		$("#outstanding_charging_search").on("click", "#search-charging", function(){
            loadingSpinner.show();
			$.ajax({
				url: "pages/advisercharging/index.php?do=search_outstanding",
				type: "GET",
				data: {
					type: "json",
					search_data: $("#outstanding_search").val(),
                    search_on: "policy"
				},
				dataType: "json",
				success: function( r ){
					$( "tbody:last", outstanding_table ).empty();
					$( ".content", outstanding_table ).html(r.data);

					$('span#outstanding_total_rows').html(r.record_count);
					$('span#pages').html(r.pages);

						//populate page no. dropdown
						$('#outstanding_page_number').empty();
						$.each(r.page_no, function(key, value) {
							$('#outstanding_page_number')
								.append($("<option></option>")
								.attr("value",key)
								.text(value));
						});
                    loadingSpinner.hide();
				}
			});
		});

        // Submit complete policy search
        $("#complete_charging_search").on("click", "#search-charging", function(){
            loadingSpinner.show();
            $.ajax({
                url: "pages/advisercharging/index.php?do=search_complete",
                type: "GET",
                data: {
                    type: "json",
                    search_data: $("#complete_search").val(),
                    search_on: "policy"
                },
                dataType: "json",
                success: function( r ){
                    $( "tbody:last", complete_table ).empty();
                    $( ".content", complete_table ).html(r.data);

                    $('span#complete_total_rows').html(r.record_count);
                    $('span#pages').html(r.pages);

                    //populate page no. dropdown
                    $('#complete_page_number').empty();
                    $.each(r.page_no, function(key, value) {
                        $('#complete_page_number')
                                .append($("<option></option>")
                                        .attr("value",key)
                                        .text(value));
                    });
                    loadingSpinner.hide();
                }
            });
        });

		// Default text for search fields
		$("#outstanding_search, #complete_search").val("Search on Policy Number..").css({"font-style":"italic", "color":"#999"});
		$(frame).on("focus", "#outstanding_search, #complete_search", function(){
			if( $(this).val() == "Search on Policy Number.." ){
				$(this).val('').css({"font-style":"normal", "color":"#000"});
			}
		});


        //issuer/partner search on outstanding ac
        $("#<?=_LINK?>outstanding").on("click", ".suggest > ul > li", function(){

            var search;

            if( $("#issuer_outstanding").val() != 0 && $("#partner_outstanding").val() != 0){
                search = "both";
            }else if($("#issuer_outstanding").val() != 0){
                search = "issuer";
            }else if( $("#partner_outstanding").val() != 0){
                search = "partner";
            }

            loadingSpinner.show();
            $.ajax({
                url: "pages/advisercharging/index.php?do=search_outstanding",
                type: "GET",
                data: {
                    type: "json",
                    search_data_issuer: $("#issuer_outstanding").val(),
                    search_data_partner: $("#partner_outstanding").val(),
                    search_on: search
                },
                dataType: "json",
                success: function( r ){
                    loadingSpinner.hide();
                    $( "tbody:last", outstanding_table ).empty();
                    $( ".content", outstanding_table ).html(r.data);

                    $('span#outstanding_total_rows').html(r.record_count);
                    $('span#pages').html(r.pages);

                    //populate page no. dropdown
                    $('#outstanding_page_number').empty();
                    $.each(r.page_no, function(key, value) {
                        $('#outstanding_page_number')
                            .append($("<option></option>")
                                .attr("value",key)
                                .text(value));
                    });
                }
            });
        });

        //issuer search on completed ac
        $("#<?=_LINK?>complete").on("click", ".suggest > ul > li", function(){

            var search;

            if( $("#issuer_copmlete").val() != 0 && $("#partner_complete").val() != 0){
                search = "both";
            }else if($("#issuer_complete").val() != 0){
                search = "issuer";
            }else if( $("#partner_complete").val() != 0){
                search = "partner";
            }

            loadingSpinner.show();
            $.ajax({
                url: "pages/advisercharging/index.php?do=search_complete",
                type: "GET",
                data: {
                    type: "json",
                    search_data_issuer: $("#issuer_complete").val(),
                    search_data_partner: $("#partner_complete").val(),
                    search_on: search
                },
                dataType: "json",
                success: function( r ){
                    loadingSpinner.hide();
                    $( "tbody:last", complete_table ).empty();
                    $( ".content", complete_table ).html(r.data);

                    $('span#complete_total_rows').html(r.record_count);
                    $('span#pages').html(r.pages);

                    //populate page no. dropdown
                    $('#complete_page_number').empty();
                    $.each(r.page_no, function(key, value) {
                        $('#complete_page_number')
                                .append($("<option></option>")
                                    .attr("value",key)
                                    .text(value));
                    });
                }
            });
        });

        //clear search fields when moving between searches
        $("#outstanding_search, #complete_search ").on("click", function(){
            $("#issuer_outstanding, #partner_outstanding, #issuer_complete, #partner_complete").val("");
            $("#issuer_outstanding, #partner_outstanding, #issuer_complete, #partner_complete").next().val("");
        });

        $("#issuer_outstanding, #partner_outstanding, #issuer_complete, #partner_complete").next().on("click", function(){
            if($("#outstanding_search").val() != "Search on Policy Number.."){
                $("#outstanding_search").val("");
            }else if($("#complete_search").val() != "Search on Policy Number.."){
                $("#complete_search ").val("");
            }
        });

        //when deleting text from the suggests, we want to remove the previous value from the hidden input for future searches
        $("#issuer_outstanding, #partner_outstanding, #issuer_complete, #partner_complete").next().on("keyup", function(){
            if($("#issuer_outstanding").next().val() == ""){
                $("#issuer_outstanding").val("");
            }
            if($("#partner_outstanding").next().val() == ""){
                $("#partner_outstanding").val("");
            }
            if($("#issuer_complete").next().val() == ""){
                $("#issuer_complete").val("");
            }
            if($("#partner_complete").next().val() == ""){
                $("#partner_complete").val("");
            }
        });



        $(outstanding_table).bind("load_post_update", function(){

            loadingSpinner.show();

            //stay on current page when reloading data after edit/delete
            var offset = $("#outstanding_page_number").val();
            if(offset == null && outstanding_init_load == false){
                offset = 1;
            }else if(offset == null && outstanding_init_load == true){
                offset = 0;
            }

            if( $("#outstanding_search").val() != "Search on Policy Number.." &&  $("#outstanding_search").val() != "" ){
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=policy&search_data="+$("#outstanding_search").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }else if( ($("#issuer_outstanding").val() != null && $("#issuer_outstanding").val() != "" && $("#issuer_outstanding").val() != 0)
                    && ($("#partner_outstanding").val() != null && $("#partner_outstanding").val() != "" &&  $("#partner_outstanding").val() != 0) ){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=both&search_data_issuer="+$("#issuer_outstanding").val()+"&search_data_partner="+$("#partner_outstanding").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#issuer_outstanding").val() != null && $("#issuer_outstanding").val() != "" && $("#issuer_outstanding").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=issuer&search_data_issuer="+$("#issuer_outstanding").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#partner_outstanding").val() != null && $("#partner_outstanding").val() != "" && $("#partner_outstanding").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_outstanding&search_on=partner&search_data_partner="+$("#partner_outstanding").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else{
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=load_ac_outstanding&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", outstanding_table ).empty();
                            $( ".content", outstanding_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
        });

        $(complete_table).bind("load_post_update_complete", function(){

            loadingSpinner.show();

            //stay on current page when reloading data after edit/delete
            var offset = $("#complete_page_number").val();
            if(offset == null && complete_init_load == false){
                offset = 1;
            }else if(offset == null && complete_init_load == true){
                offset = 0;
            }


            if( $("#complete_search").val() != "Search on Policy Number.." &&  $("#complete_search").val() != "" ){
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=policy&search_data="+$("#complete_search").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }else if( ($("#issuer_complete").val() != null && $("#issuer_complete").val() != "" && $("#issuer_complete").val() != 0)
                    && ($("#partner_complete").val() != null && $("#partner_complete").val() != "" &&  $("#partner_complete").val() != 0) ){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=both&search_data_issuer="+$("#issuer_complete").val()+"&search_data_partner="+$("#partner_complete").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#issuer_complete").val() != null && $("#issuer_complete").val() != "" && $("#issuer_complete").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=issuer&search_data_issuer="+$("#issuer_complete").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else if($("#partner_complete").val() != null && $("#partner_complete").val() != "" && $("#partner_complete").val() != 0){

                $.ajax({
                    url: "/pages/advisercharging/index.php?do=search_complete&search_on=partner&search_data_partner="+$("#partner_complete").val()+"&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });

            }else{
                $.ajax({
                    url: "/pages/advisercharging/index.php?do=load_ac_complete&offset="+offset,
                    type: "GET",
                    data: {
                        type: "json"
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $( "tbody:last", complete_table ).empty();
                            $( ".content", complete_table ).html(r.data);
                            loadingSpinner.hide();
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="ac_tabs" name="ac_tabs">

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" data-tab="outstanding" data-toggle="tab" href="#<?=_LINK?>outstanding">Outstanding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-tab="complete" id="complete_tab" data-toggle="tab" href="#<?=_LINK?>complete">Complete</a>
            </li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade show active" id="<?=_LINK?>outstanding">

                <div id="outstanding_charging_search" name="charging_search">
                    <form action="pages/advisercharging/index.php?do=search" method="GET" autocomplete="off">
                        <?= el::txt('outstanding_search',false,"style='width:70%;'") ?>&nbsp;
                        <?= el::bt("&raquo;","search-charging","type='submit'") ?>
                    </form>
                    <br />
                    <span>Issuer Search: <?php echo el::suggest( "issuer_outstanding", Issuer::index_url(), "search" ); ?></span> &nbsp;
                    <span> Partner Search: <?php echo el::suggest( "partner_outstanding", Partner::index_url(), "search" ); ?></span>
                </div>

                <div id="toolbar" name="toolbar">
                    <p>
                        <img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
                        <span id="outstanding_status">&nbsp;</span>
                        Total Entries: <span id="outstanding_total_rows"></span>
                        &nbsp;|&nbsp; Current Page: <select id="outstanding_page_number" name="outstanding_page_number"></select>
                        <button id="add_ac" class="add">Add Entry</button>
                    </p>
                </div>

                <table id="outstanding_ac_tbl" name="outstanding_ac_tbl" class="scrollable">
                    <thead>
                        <tr>
                            <th width="150px" class="no_sort">Client</th>
                            <th width="160px" class="no_sort">Partner</th>
                            <th width="100px" class="no_sort">Policy</th>
                            <th width="140px" class="no_sort">Issuer</th>
                            <th width="40px" class="no_sort">% AC Requested</th>
                            <th width="100px" class="no_sort">Ad-Hoc Fee Requested</th>
                            <th width="50px" class="no_sort">VAT Included</th>
                            <th width="100px" class="no_sort">Sent to Provider</th>
                            <th width="10px" class="no_sort">Pack Produced</th>
                            <th width="10px" class="no_sort">Illustration Provided</th>
                            <th width="100px" class="no_sort">Actions</th>
                        </tr>
                    </thead>

                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>complete">

                <div id="complete_charging_search" name="charging_search">
                    <form action="pages/advisercharging/index.php?do=search" method="GET" autocomplete="off">
                        <?= el::txt('complete_search',false,"style='width:70%;'") ?>&nbsp;
                        <?= el::bt("&raquo;","search-charging","type='submit'") ?>
                        <br />
                        <br />
                        <span>Issuer Search: <?php echo el::suggest( "issuer_complete", Issuer::index_url(), "search" ); ?></span> &nbsp;
                        <span> Partner Search: <?php echo el::suggest( "partner_complete", Partner::index_url(), "search" ); ?></span>
                    </form>
                </div>

                <div id="toolbar" name="toolbar">
                    <p>
                        <img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
                        Total Entries: <span id="complete_total_rows"></span>
                        &nbsp;|&nbsp; Current Page: <select id="complete_page_number" name="complete_page_number"></select>
                    </p>
                </div>

                <table id="complete_ac_tbl" name="complete_ac_tbl" class="scrollable">
                    <thead>
                    <tr>
                        <th width="150px" class="no_sort">Client</th>
                        <th width="160px" class="no_sort">Partner</th>
                        <th width="100px" class="no_sort">Policy</th>
                        <th width="140px" class="no_sort">Issuer</th>
                        <th width="40px" class="no_sort">% AC Requested</th>
                        <th width="100px" class="no_sort">Ad-Hoc Fee Requested</th>
                        <th width="50px" class="no_sort">VAT Included</th>
                        <th width="100px" class="no_sort">Sent to Provider</th>
                        <th width="10px" class="no_sort">Pack Produced</th>
                        <th width="10px" class="no_sort">Illustration Provided</th>
                        <th width="100px" class="no_sort">Actions</th>
                    </tr>
                    </thead>

                    <tbody class="content">
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>