<?php $plugin_id = random_string(10); ?>

<style type="text/css">

#<?=$plugin_id?> table#charging tr.group th {
    padding-top: 10px;
    padding-bottom: 10px;
}

#<?=$plugin_id?> table#charging tfoot td {
    padding-top: 5px;
    padding-bottom: 2px;
    border-top: solid 1px black;
}

#add_ac{
	margin-bottom:20px;
}
</style>
<script type="text/javascript">
$(function( ){

    var frame = $( "div#<?=$plugin_id?>" );
    var ac_table = $( "table#charging", frame );

    var inited = false;
    var loadingSpinner = $("img#spinner",frame);

	$( frame ).on(
		"load_ac",
			function( ){
				$.get(
					"<?=AdviserCharging::index_url()?>",
					{
						'do': "plugin",
						'object': "<?=$object?>",
						'object_id': "<?=$id?>",
					},
					function( r ){
						r = json_decode(r);
						$( ".content", frame  ).html( r.data );
						$(loadingSpinner).hide();
					}
				);
			}
	);
	
	$( frame ).on("click", "#add_ac", function(){
		var p = new popup( {
			url: "/pages/advisercharging/?do=create&object=<?=$object?>&object_id=<?=$id?>",
		});
	});

	$(".charging-tab").each(function(){
	    $(this).click(function(){
            $( frame ).trigger( "load_ac" );
		});
	});
	
	// edit adviser charging case	
	$(frame).on("click", ".edit", function(){
		var row_id = $(this).closest('tr').attr('id');
		var p = new popup( {
			url: "/pages/advisercharging/?do=edit&id="+row_id
		});
	});
	
	$(frame).on("click", ".delete", function(){

		var row_id = $(this).closest('tr').attr('id');

		if( confirm( "Are you sure you would like to delete this entry?" ) ){
			try {
				$.ajax({
				url: "pages/advisercharging/index.php?do=delete",
				type: "GET",
				data: {
					type: "json",
					id: row_id
				},
				dataType: "json",
				success: function( r ){
					try{
						$("#ac_status",frame).html("Entry successfully deleted").addClass("good_news").delay(1500).fadeTo("slow", 0);
						$( ac_table ).trigger( "load_ac" );
					}catch(e){
						alert(e);
					}
				}
			});
			}
			catch( e ) {
				handleSystemError(e);
			}
		}
	});
	
});
</script>

<div id="<?=$plugin_id?>" name="<?=$plugin_id?>">

  <p>
	<img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
	<button id="add_ac" class="add">Add Entry</button>
	<span id="ac_status">&nbsp;</span>
  </p>

  <table id="charging" name="charging" class="scrollable">

    <thead>
		<tr>
			<th width="100px" class="no_sort">Policy</th>
			<th width="140px" class="no_sort">Issuer</th>
			<th width="40px" class="no_sort">% AC Requested</th>
			<th width="100px" class="no_sort">Ad-Hoc Fee Requested</th>
			<th width="50px" class="no_sort">VAT Included</th>
			<th width="100px" class="no_sort">Sent to Provider</th>
			<th width="10px" class="no_sort">Pack Produced</th>
			<th width="10px" class="no_sort">Illustration Provided</th>
			<th width="100px" class="no_sort">Payment Frequency</th>
			<th width="100px" class="no_sort">Actions</th>
		</tr>
    </thead>

    <tbody class="content">
    </tbody>

    <tfoot>
    </tfoot>

  </table>

</div>
