<style type="text/css">
div#<?=_LINK?> {
    border-bottom: 1px #9F9F9F solid;
    padding-bottom: 15px;
	width:950px;
}
table#policies.scrollable.has_onshow > tbody > tr > td > div.scroll.y{
	height:400px;
}

</style>

<script type="text/javascript">
$(function(){

    var frame = $( "#<?=_LINK?>" );
    var form = $(">form",frame);
	var tbl_policies = $("table#policies");
	var ajaxSpinner = $("img.spinner",frame);

	$(tbl_policies).hide();
	
	var policy_pop = frame.popup_config({
		title: 'Policy Search',
		center: true,
	});

	$( document ).on( "click", "button#policy-search",
		function(){
			load_policies();
			ajaxSpinner.show();
		}
	);

	function load_policies( ){

		var search = $("input#addac_search").val();

		if(search == ""){
			search = window.policy_num;
		}

        $.get(
            "<?= AdviserCharging::index_url(array('do'=>"policy_search")) ?>"+"&search="+search,
            function( r ){
                try{
                    $(tbl_policies).show( );
                    $("#policy_help").fadeOut("fast");
                    $("tbody.content",tbl_policies).empty();
                    $( "tbody.content",tbl_policies).append( r );
                    ajaxSpinner.hide();

                }catch( e ){
                    alert("An error has occurred. Please contact IT.");
                }
            }
        );

	}
    
    $( ":text#addac_search" ).focus( );
	
	$(frame).on("click", ".select", function(){
	
		var pol_id = $(this).closest('tr').attr('id');
		var pol_num = $(this).closest('button').attr('id');
		
		$("#policy_search").hide();
		$("#policy_number").show();
		$("#policy_number").html(pol_num);
		$("#policy_number").attr("href","/common/Policy/?id="+pol_id);


        $.ajax({
            url: "pages/advisercharging/index.php?do=suggested_rate",
            type: "GET",
            data: {
                type: "json",
                id: pol_id
            },
            dataType: "json",
            success: function( r ){
                try{
                    if(r.status == true){
                        $("#suggested_rate").show();
                        $("#rate").html("&nbsp;&nbsp;"+r.rate);
                    }

                }catch(e){
                    alert(e);
                }
            }
        });


		policy_pop.close();

	});

});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div id="policy_div" class="active">
		<table id="policy_search_tbl" name="policy_search_tbl" class="search_tbl">
			<tr><td class="td_width">
				<form autocomplete="off">
					<?= el::txt('addac_search',false,"style='width:450px;'") ?>&nbsp;
					<?= el::bt("&raquo;","policy-search","type='submit'") ?>
					<img class="spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
					<span id="policy_status">&nbsp;</span>
				</form>
			</td></tr>
		</table>
		<div id="policy_help" name="policy_help">
			<?=$policy_help;?>
		</div>
		<div id="policy_results" name="policy_results">
			<table id="policies" name="policies" class="scrollable">
				<thead>
					<tr>
						<th>Number</th>
						<th>Issuer</th>
						<th>Client</th>
						<th>Partner</th>
						<th>Status</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody class="content">
				</tbody>
			</table>
		</div>
	</div>

</div>

