
<tr id="<?=$viewerentry->id()?>">
    <td><?= $websiteuser->link('$email_address') ?></th>
    <td><?= ( $websiteuser->partner() ) ? $websiteuser->partner->link() : "&nbsp;" ?></td>
    <td><button class='delete' value="<?=$viewerentry->id()?>"></button></td>
    <td><?=el($viewerentry->email_notification);?></td>
    <td><?=el($viewerentry->mandate_notification);?></td>
    <td><?=el($viewerentry->proreport_notification);?></td>
    <td><button class='permissions' id="<?=$viewerentry->id()?>">View</button></td>
</tr>
