<style type="text/css">
div.notification.warning {
    background-image: url("/lib/images/alert_warning.png");
    background-position: 5px 2px;
    background-color: #fddfdf;
    border-color: #df0000;
}
div.notification {
    border: 1px solid #d6d662;
    background: #ededbb;
    background-image: url("/lib/images/information.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    position: fixed;
}
</style>
<script type="text/javascript">

$(function(){

	var form = $("form#access-add-frm");
	var table = $("table#add-access",form);
	var obj_select = $("#object-select");
	var partner_select = $("#provideronlineaccess\\[partner_id\\]");
	var staff_select = $("#provideronlineaccess\\[staff_id\\]");

	var p = form.popup_config({
		title: "Add Provider Access",
		center: true
	});

	$("tr.staff").hide();
	$(obj_select).change(function(){

		$("#provideronlineaccess\\[partner_id\\]").prop('selectedIndex',0);
		$("#provideronlineaccess\\[staff_id\\]").prop('selectedIndex',0);

		if($(obj_select).val() == "staff"){
			$("tr.staff").show();
			$("tr.partner").hide();
		} else {
			$("tr.staff").hide();
			$("tr.partner").show();
		}

	});

	saveProfileNotification( form );

	// Refresh trustee table after adding new entry
	$(form).closest("table.popup").find("button.close").click(function() {
		$("tbody.content", "table#online-access-tbl").load('/pages/practice/online_access.php?do=list&id=<?=$practice_id?>');
	});


	//show cross on bool checkboxes
	$('.bool').each(function() {
		if( $(this).attr("value") == 0 ){
			$(this).attr("value", 0);
		}
	});

	// hide span by default
	$("#access_warning").hide();

	// On mouse entering the span at the top of the page
	$(".notification.save_profile.static").on("mouseenter", function () {

        // if partner is selected check that value is not null
		if( $('#object-select').find(":selected").text() == "Partner" ){

			if( $('#provideronlineaccess\\[partner_id\\] option').filter(':selected').text() == " -- " ){
				$(".notification.save_profile.static").hide(); // Hide the save span
				$("#text_change").html("a partner"); // change wording
				$("#access_warning").show(); // Show the warning span
                return false;
			}

        // if partner is selected check that value is not null
		}else if( $('#object-select').find(":selected").text() == "Staff" ){

			if( $('#provideronlineaccess\\[staff_id\\] option').filter(':selected').text() == " -- " ){
				$(".notification.save_profile.static").hide();
				$("#text_change").html("a staff member");
				$("#access_warning").show();
                return false;
			}

		}

        // check if an issuer has been selected
        if( $("#provideronlineaccess\\[issuer_id\\]").val() == 0 ){
            $(".notification.save_profile.static").hide();
            $("#text_change").html("an issuer");
            $("#access_warning").show();
        }

	});

    // hide error span after any selects change
    $("select", form).change(function() {
        $("#access_warning").hide();
    });


    // when user types into issuer select, remove warning span
    var issuerInput = $('#provideronlineaccess\\[issuer_id\\]').next('input');
    $(issuerInput).on("keyup", function() {
        $("#access_warning").hide();
    });


});

</script>

<form id="access-add-frm" name="access-add-frm" action="<?=ProviderOnlineAccess::get_common_url(array('do'=>'create'))?>" method="POST">

	<div id="access_warning" class="notification warning static" style="display:block;">
		Please ensure that you have selected <span id="text_change">&nbsp;</span>
	</div>

	<table id='add-access'>
		<thead>
		</thead>
		<tbody>
			<th>Add Provider access for: </th>
			<td>
				<select id="object-select">
					<option value="partner">Partner</option>
					<option value="staff">Staff</option>
				</select>
			</td>
			<tr class="staff">
				<th>Staff</th>
				<td>
					<?= ProviderOnlineAccess::getStaff($practice_id) ?>
				</td>
			</tr>
			<tr class="partner">
				<th>Partner</th>
				<td>
					<?= ProviderOnlineAccess::getPartners($practice_id) ?>
				</td>
			</tr>
			<tr>
				<th>Issuer</th>
				<td>
					<?= el($poa->issuer_id) ?>
				</td>
			</tr>
			<tr>
				<th>Access Granted</th>
				<td>
					<?= el($poa->active) ?>
				</td>
			</tr>
			<tr>
				<th>Unipass</th>
				<td>
					<?= el($poa->unipass) ?>
				</td>
			</tr>

		</tbody>
	</table>
	<input type="hidden" id="provideronlineaccess[practice_id]" name="provideronlineaccess[practice_id]" value="<?=$practice_id;?>" />
</form>
