<style type="text/css">
#<?=_LINK?> {
    width: 500px;
}
#<?=_LINK?> div.scroll {
    height: 150px;
}
</style>

<script type="text/javascript">
    $(function(){

        var form = $("form#<?=_LINK?>");
        var pop = form.popup_config({
            title: "Add a New Practice",
            center: true
        });

        var nameField = $(":input[id$=\\[name\\]]",form);
        var dupeTable = $("table#dupes",form);
        var ignoreDupes = $(":checkbox#ignoreDupes",form);
        var warning = $(".notification",form);

        nameField.change(function(){
            ignoreDupes.attr("checked",false);
        });

        saveProfileStatusSpan( form,{
            before: function( ){

                /* Prevent form submission until a predupe check has been carried out */

                if( form.xhr != null ){
                    form.xhr.abort();
                }

                ignoreDupes.attr("disabled",false);

                if( ignoreDupes.is(":checked") ){

                    form.trigger("submit",[true]);
                    warning.slideUp("fast");
                    ignoreDupes.attr("checked",false);
                    return true;
                }

                form.xhr = $.ajax({
                    url: "<?=Practice::get_common_url()?>",
                    type: "GET",
                    data: {
                        do: "list",
                        filter: {
                            name: $(":input[id$=\\[name\\]]",form).val()
                        }
                    },
                    dataType: "html",
                    success: function( r ){

                        $("tbody:last",dupeTable).html(r);

                        if( $("tbody:last tr",dupeTable).length > 0 ){

                            warning.slideDown("fast");

                        } else {
                            form.trigger("submit",[true]);
                        }
                    }
                });
                
                return false;
            },
            success: function( r ){
                $(pop).trigger("practiceAdded",[ r ]);
            }
        });
    });
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=$practice->get_common_url(array('do'=>'create'))?>" method="POST">

  <table>
    <tr>
      <th width="100px">Name</th>
      <td><?=el($practice->name)?></td>
    </tr>
  </table>
  <br />

  <div class="notification bad_news static" style="font-size:10pt;">
    The following potential duplicates have been found, please review them and
    then confirm whether you'd still like to add this policy by ticking the box
    below the table.
  </div>

  <table id="dupes" name="dupes" class="scrollable">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody class="content">
    </tbody>
  </table>

  <p align="right">
    <span class="status">&nbsp;</span>
    <input type="checkbox" id="ignoreDupes" name="ignoreDupes" disabled="disabled"/>
    <label for="ignoreDupes">This is a unique Practice</label>
    <input type="submit" value="Submit"/>
  </p>

</form> 