<style type="text/css">
#note_ctrl{
    height:40px;
}
#btns{
    float:right;
}
</style>
<script type="text/javascript">
$(function(){

    var frame = $("div#<?=_LINK?>");
    var loadingSpinner = $("img#spinner_nb",frame);

    function load_notes( offset ){

		//default the counter displays to 0 rather than blank when no results are returned
        $('span#total_rows').html(0);
        $('span#pages').html(0);

        $.ajax({
            url: "pages/practice/index.php",
            type: "GET",
            data: {
                'id': "<?=$practice->id()?>",
                'get': "notes",
                'object': $("#object_select").val(),
                'offset': offset,
                type: "json"
            },
            dataType: "json",
            success: function( r ){

                if(r.data == null){
                   $("#practice_notes_tbl tbody.content",frame).html("<tr><td>No Notes found</td></tr>");
                }else{
                    $("#practice_notes_tbl tbody.content",frame).html( r.data );

                    $('span#total_rows', frame).html(r.row_count);
                    $('span#pages', frame).html(r.pages);

                    if(typeof offset === 'undefined') {
                        //populate page no. dropdown
                        $('#page_number', frame).empty();
                        $.each(r.page_no, function (key, value) {
                            $('#page_number', frame)
                                .append($("<option></option>")
                                        .attr("value", key)
                                        .text(value));
                        });
                    }
                }
                loadingSpinner.hide();
            }
        });
    }

    //call function for initial load (practice level)
    load_notes();

    //load notes for selected object
    $("#object_select").on("change", function(){
        loadingSpinner.show();
        load_notes();
    });

    //Get new data based on selected page number
    $('select#page_number').on( "change", function( ){
        loadingSpinner.show();
        var item = $(this);
        var offset = item.val();
        load_notes(offset);

    });

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div id="note_ctrl">
        <select id="object_select">
            <option id="practice">Practice</option>
            <option id="partner">Partner</option>
            <option id="client">Client</option>
            <option id="policy">Policy</option>
            <option id="All">All</option>
        </select>
        <div id="btns" name="btns">
            <img id="spinner_nb" name="spinner_nb" src="/lib/images/inline-ajax.gif"/>
            Total Results: <span id="total_rows"></span>
            &nbsp;|&nbsp; Total Pages: <span id="pages"></span>
            &nbsp;|&nbsp; Current Page: <select id="page_number" name="page_number"></select>
        </div>

    </div>

    <table id="practice_notes_tbl" class="scrollable">
        <thead>
        <tr>
            <th class="no_sort">Note ID</th>
            <th class="no_sort">About</th>
            <th class="no_sort"style="width:250px;">Link</th>
            <th class="no_sort">Added When</th>
            <th class="no_sort">Added By</th>
            <th class="no_sort">Note Type</th>
        </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>
</div>