<script type="text/javascript">
    $(function(){

        var access_tbl = $("table#online-access-tbl");

        // Load table with online access logs
        $("tbody.content", access_tbl).load("/pages/practice/online_access.php?id=<?=$practice->id?>&do=list");

        // Log access for a new provider/practice
        $("button#addprovider").click( function(){
            var p = new popup({
                url: "/pages/practice/online_access.php?id=<?=$practice->id?>&do=addprovider"
            });
        });

        // Edit online access data
        $(access_tbl).on('click', 'button.edit', function() {

            var id = this.id;

            popup({
                'title': "Edit Online Access",
                'url': "/pages/practice/online_access.php?do=edit&id="+id
            })
        });

        // Delete online access
        $(access_tbl).on('click', 'button.delete', function() {

        var id = this.id;

            if( confirm( "Are you sure you would like to delete this entry?" ) ){
                $.get(
                    "<?=ProviderOnlineAccess::get_common_url()?>",{
                      id : id,
                      do: "delete"
                },
                function( ){
                     $("tr#"+id, access_tbl).remove();
                }
                );
            }
        });

    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <table id='online-access-tbl' name='online-access-tbl' class='scrollable'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Issuer</th>
                <th style="width:7%">Access</th>
                <th style="width:7%">Unipass</th>
                <th>Added</th>
                <th>Edited</th>
                <th style="width:10%">Action</th>
            </tr>
        </thead>
        <tbody class='content'>
        </tbody>
    </table>
    <p align="right">
        <?= el::bt( "Add Access", "addprovider", "class='add'" )?>
    </p>
</div>