<!-- Are we dealing with a Partner or Staff object? -->
<?php
	if( $poa->partner_id() ) {
	    $obj = new Partner($poa->partner_id(), true);
	} else {
		$obj = new Staff($poa->staff_id(), true);
	}
?>
<tr id="<?=$poa->id?>">
	<td><?= $obj->link() ?></td>
	<td><?= $poa->issuer_id->link() ?></td>
	<td style="width:7%" align="center"><?= $poa->active ?></td>
	<td style="width:7%" align="center"><?= $poa->unipass ?></td>
	<td><?= $poa->addedby ?> <br /> <?= $poa->addedwhen ?></td>
	<td><?= $poa->updatedby ?> <br /> <?= $poa->updatedwhen ?></td>
	<td>
		<button id="<?=$poa->id?>" class="edit">Edit</button>
		<button id="<?=$poa->id?>" class="delete"></button>
	</td>
</tr>
