<?php $dept = User::get_default_instance("department"); ?>
<style type="text/css">
#<?=_LINK?>{
	max-width: 1400px;
}

div#<?=_LINK?> table.scrollable div.scroll {
    height: 200px;
}
.popup #<?=_LINK?>{
	min-width:1100px;
}
div#<?=_LINK?> .panel {
	width: 70%;
}
div#<?=_LINK?> div#notes_box{
	float:right;
	width: 28%;
	height: 230px;
	padding: 0 5px 0 5px;
	overflow-y: scroll;
}
</style>

<script type="text/javascript">
$(function(){

    var frame = $("div#<?=_LINK?>");
    var form = $("form#practice_form",frame);
    var staffTable = $("table#staff",frame);	
	var clientsTable = $("table#clients",frame);
	var schemesTable = $("table#schemes",frame);
    var initials     = $( "#letters", "div#clients" );
    var scheme_initials = $( "#scheme-letters", "div#schemes" );
    var fetched_n    = null;
    var scheme_fetched_n = null;
	var fetching     = false;
	var scheme_fetching = false;

    var pop = form.popup_config({
		title: "<b>Practice</b>: <?=$practice?> (<?=$practice->id()?>)",
		center: true
    });
	
    //get a list of staff at practice
    staffTable.bind(
        "refresh",
        function( ){

                    $.ajax({
                        url: "/pages/staff/index.php",
                        type: "GET",
                        data: {
                            'do': "list",
                            'practice_id': "<?=$practice->id()?>",
                            type: "json"
                        },
                        dataType: "json",
                        success: function( r ){
                            var rows = $(r.data);
                            $("tbody:last",staffTable).html( rows );

                        }
                    });
        }
    );
	staffTable.trigger("refresh");

	var req_data = { 
		'id': "<?=$practice->id()?>",
		'get': "clients",
		'limit': 100, 
		'offset': 0
	};

    var scheme_req_data = {
        'id': "<?=$practice->id()?>",
        'get': "schemes",
        'limit': 100,
        'offset': 0
    };

	function load_clients( append_mode ){
	
		if( fetching ){
			return false;
		}
		fetching = true;

		$.get( 
			"<?= Practice::index_url() ?>",
			req_data,
			
			function( r ){
				try{				
					r = json_decode( r );

					if( "initials" in r ){					
						// enable initials buttons
						for( var i=0; i<r.initials.length; i++ ){
							$( ":button[value='"+r.initials[i]+"']", initials ).attr( "disabled", false );
						}
					}

					if( "clients" in r ){
						if( append_mode !== undefined ){
							$( ".content",clientsTable).append( r.clients );
						} else {
							$( ".scroll", clientsTable).scrollTop( 0 );
							$( ".content",clientsTable).html( r.clients )
						}

						var old_n = req_data["offset"];
						req_data["offset"] = $(".content tr", clientsTable).length;
						fetched_n = req_data["offset"] - old_n;

                        //hide td that contains checkbox inputs for requesting client merges
                        $('td.merge_request').remove();
					}
				}catch( e ){
					//#TODO error logging
				}			
				fetching = false;
			}
		);
	}

    function load_schemes( append_mode ){

        if( scheme_fetching ){
            return false;
        }
        scheme_fetching = true;

        $.get(
            "<?= Practice::index_url() ?>",
            scheme_req_data,

            function( r ){
                try{
                    r = json_decode( r );

                    if( "initials" in r ){
                        // enable initials buttons
                        for( var i=0; i<r.initials.length; i++ ){
                            $( ":button[value='"+r.initials[i]+"']", scheme_initials ).attr( "disabled", false );
                        }
                    }

                    if( "clients" in r ){
                        if( append_mode !== undefined ){
                            $( ".content",schemesTable).append( r.clients );
                        } else {
                            $( ".scroll", schemesTable).scrollTop( 0 );
                            $( ".content",schemesTable).html( r.clients )
                        }

                        var old_n = scheme_req_data["offset"];
                        scheme_req_data["offset"] = $(".content tr", schemesTable).length;
                        scheme_fetched_n = scheme_req_data["offset"] - old_n;

                        //hide td that contains checkbox inputs for requesting client merges
                        $('td.merge_request').remove();
                    }
                }catch( e ){
                    //#TODO error logging
                }
                scheme_fetching = false;
            }
        );
    }
	
	$( ":button", initials ).click(
		function(){
			
			fetched_n = 0;
			req_data["initial"] = $(this).val();
			req_data["offset"]  = 0;

			load_clients();
		}
	);

    $( ":button", scheme_initials ).click(
        function(){

            scheme_fetched_n = 0;
            scheme_req_data["initial"] = $(this).val();
            scheme_req_data["offset"]  = 0;

            load_schemes();
        }
    );

    $("button#client_search").attr("disabled", "true");

    $("button#scheme_search").attr("disabled", "true");
	
	$('form#client-search-form input#search').keyup(function() {		
		if ( $('form#client-search-form input#search' ).val().replace(/\s+/g, '') == ""){
			$('button#client_search').attr('disabled','disabled');
		}else{
			$('button#client_search').removeAttr('disabled');
		}
	});

    $('form#scheme-search-form input#search').keyup(function() {
        if ( $('form#scheme-search-form input#search' ).val().replace(/\s+/g, '') == ""){
            $('button#scheme_search').attr('disabled','disabled');
        }else{
            $('button#scheme_search').removeAttr('disabled');
        }
    });

	$( "button#client_search" ).click(
		function(){
			fetched_n = 0;
			req_data["offset"]  = 0;
			delete req_data["initial"];
			req_data["search"]  = $("#client-search-form #search").val();

			load_clients();
		}
	);

    $( "button#scheme_search" ).click(
        function(){
            scheme_fetched_n = 0;
            scheme_req_data["offset"]  = 0;
            delete scheme_req_data["initial"];
            scheme_req_data["search"]  = $("#scheme-search-form #search").val();

            load_schemes();
        }
    );

	$( clientsTable ).bind(
		"hitScrollBottom",
		function( ){

			if( fetched_n < req_data["limit"] ){
				return false;
			}

			load_clients( true );
		}
	);

    $( schemesTable ).bind(
        "hitScrollBottom",
        function( ){

            if( scheme_fetched_n < scheme_req_data["limit"] ){
                return false;
            }

            load_schemes( true );
        }
    );

	load_clients();

	load_schemes();
    
    saveProfileNotification( form ); 

    $( "div#notes_box",frame ).load( '/pages/tools/notes/?do=list&object=Practice&object_id=<?= $practice ->id ?>' );

    //add staff
    $( "button#addstaff" ).click( 
        function(){

            new popup({
                url:"<?= Staff::index_url(array('do'=>'create','practice'=>$practice->id())) ?>",
                triggers: {
                    staffMemberAdded: function(){
                        staffTable.trigger("refresh");
                    }
                }
            });
        }
    );

    //THESE BUTTONS DONT WORK!!!
	// //export all clients of practice to .csv
	// $("#all_clients").click(
	// 	function( ){
	// 		$().exportall( "/pages/client/index.php?id=<?=$practice->id?>&export=practice_clients" );
	// 	}
	// );
	//
    // //export all clients of practice to .csv
    // $("#all_schemes").click(
    //     function( ){
    //         $().exportall( "/pages/client/index.php?id=<?=$practice->id?>&export=practice_clients&scheme=true" );
    //     }
    // );
	
	function load_alias( ){
		$.ajax({
			url: "pages/practice/index.php",
			type: "GET",
			data: {
				'id': "<?=$practice->id()?>",
				'get': "list_alias",
				type: "json"
			},
			dataType: "json",
			success: function( r ){
				if(r.data == false){
					$("#alias_tbl tbody.content",frame).html( "<tr><td>No Aliases found.</td></tr>" );
				}else{
					$("#alias_tbl tbody.content",frame).html( r.data );
				}
			}
		});
	}

	load_alias();

	$("button#copyBtn",frame).on('click', function(){

		var address = $("input#practice\\[address\\]\\[line1\\]",frame).val() + " \n"
		+ $("input#practice\\[address\\]\\[line2\\]",frame).val() + " \n"
		+ $("input#practice\\[address\\]\\[line3\\]",frame).val() + " \n"
		+ $("input#practice\\[address\\]\\[postcode\\]",frame).val() ;

		copyAddress(address);

		$("span#copiedspan").html("Copied").addClass("good_news");

		setTimeout(function() {
		$("span#copiedspan").html("").removeClass("good_news");
	},3000);
	});

	$(staffTable).on('click','button.delete' , function(){
	   var userid = this.id;
		$.ajax({
			url: "/pages/staff/index.php",
			type: "GET",
			data: {
				'do': "soft_delete_staff",
				'practice_id': "<?=$practice->id()?>",
				'user_id': userid,
				type: "json"
			},
			dataType: "json",
			success: function (r) {
				if (r.error != false) {
					$("span#userTblSpan").html(r.error).addClass("bad_news");
					setTimeout(function () {
						$("span#userTblSpan").html("").removeClass("bad_news");
					}, 1000);
				} else {
					$("span#userTblSpan").html("User Removed").addClass("good_news");
					setTimeout(function () {
						$("span#userTblSpan").html("").removeClass("good_news");
					}, 1000);
					staffTable.trigger("refresh");
				}
			}
		});

	});
});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

<div id="notes_box" name="notes_box"></div>

	<div class="card mt-2 mb-3">
		<div class="card-body">
			<form id="practice_form" name="practice_form" action="<?= Practice::get_common_url(array("id"=>$practice->id(),"do"=>"save")) ?>" method="POST">

				<div class="row no-gutters">
				<div class="col-8">
					<div class="row no-gutters">
						<div class="col-4">
							<label>Practice ID</label>
						</div>
						<div class="col-8">
							<?= $practice->id ?>
						</div>

						<div class="col-4">
							<label>Name</label>
						</div>
						<div class="col-8">
							<?php if($dept == 7 || $dept == 4){ echo el($practice->name); }else{ echo $practice->name; } ?>
						</div>

						<div class="col-4">
							<label>Email</label>
						</div>
						<div class="col-8">
							<?= el($practice->email) ?>
						</div>

						<div class="col-4">
							<label>Phone</label>
						</div>
						<div class="col-8">
							<?= el($practice->phone) ?>
						</div>

						<div class="col-4">
							<label>Fax</label>
						</div>
						<div class="col-8">
							<?= el($practice->fax) ?>
						</div>

						<div class="col-4">
							<label>Website</label>
						</div>
						<div class="col-8">
							<a href="http://<?= $practice->website ?>" target="_blank"><?= $practice->website ?></a>
						</div>

						<div class="col-4">
							<label>Active</label>
						</div>
						<div class="col-8">
							<?= el($practice->status) ?>
						</div>
					</div>
				</div>

				<div class="col-4">
					<label>Address</label>
					<br><?= el($practice->address->line1) ?>
					<br><?= el($practice->address->line2) ?>
					<br><?= el($practice->address->line3) ?>
					<br><?= el($practice->address->postcode) ?><button id="copyBtn" type="button"><img src='<?= el::image("clipboardCopy.ico")?>' /></button>
					<br><?= $practice->address->button ?>
				</div>
			</div>

			</form>
		</div>
	</div>
	
	<div>
		<ul class="nav nav-tabs mb-3">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>staff">Practice Staff Members</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>clients">Clients Within Practice</a>
			</li>
			<li class="nav-item">
				<a class="nav-link cbi_tab" data-toggle="tab" href="#<?=_LINK?>clients_by_issuer">Clients By Issuer</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>schemes">Schemes Within Practice</a>
			</li>
			<li class="nav-item">
				<a class="nav-link stats-tab" data-toggle="tab" href="#<?=_LINK?>stats">Statistics</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>alias">Aliases</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>notes">Practice Notes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>access">Online Access</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>action_required">Action Required</a>
			</li>
			<!--<li>File Storage</li>-->
		</ul>

		<div class="tab-content">
			<div class='tab-pane fade show active' id="<?=_LINK?>staff">
				<p>
					<?= el::bt( "Add Staff" ,"addstaff","class='add'")?><span id="userTblSpan"></span>
				</p>
			
				<table id="staff" name="staff" class="scrollable">
					<thead>
						<tr>
						<th>Name</th>
						<th>SJP Code</th>
						<th>Single Rate</th>
						<th>Bulk Rate</th>
						<th>Role</th>
						<th style="width:100px">Action</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			
			<div class="tab-pane fade" id="<?=_LINK?>clients">
				<div id="clients" name="clients">   
					<p>
					<form style="display:inline;" id="client-search-form" name="client-search-form" method="get">
						<?= el::txt( "search" ) ?>
						<?= el::bt( "Go","client_search" ) ?>
					</form>
					<!--<button id="all_clients" ><img src='<?= el::image("table_go.png")?>' />All</button>-->
					<button onclick="$(function(){ $('#clients').export(); });"><img src='<?= el::image("table_go.png")?>' />Current</button>
					<button onclick="$(function(){ $('#clients').print(); });"><img src='<?= el::image("printer.png")?>' />Current</button> 
				  </p>
				  <br />
					
				  <table class="scrollable" id="clients" name="clients">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody style="height:150px;" class="content">
					</tbody>
				  </table>

				  <div id="letters" name="letters">
					<?php
					
						  // clients with special as initial
						  echo el::bt( "*",false," value='*' disabled='disabled'" );
						  
						  // clients with 0-9 as initial
						  echo el::bt( "0-9",false," value='0-9' disabled='disabled'" );

						  // draw an alphabet
						  $alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
						  for( $i = 0; $i < 26; $i++ )
							  echo el::bt( $alphabet[$i], false, " value='$alphabet[$i]' disabled='disabled'" );    

							  // all clients, for masochists
							  echo el::bt( "All", false, " value='all'" );
					?>
				  </div>
				</div>
			</div>

			<div class="tab-pane fade" id="<?=_LINK?>clients_by_issuer">
				<?= Template( Practice::get_template_path( "clients_by_issuer.html" ), array( "practice"=>$practice ) ) ?>
			</div>

			<div class="tab-pane fade" id="<?=_LINK?>schemes">
				<div id="schemes" name="schemes">
					<p>
					<form style="display:inline;" id="scheme-search-form" name="scheme-search-form" method="get">
						<?= el::txt( "search" ) ?>
						<?= el::bt( "Go","scheme_search" ) ?>
					</form>
					<!--<button id="all_schemes" ><img src='<?= el::image("table_go.png")?>' />All</button>-->
					<button onclick="$(function(){ $('#schemes').export(); });"><img src='<?= el::image("table_go.png")?>' />Current</button>
					<button onclick="$(function(){ $('#schemes').print(); });"><img src='<?= el::image("printer.png")?>' />Current</button>
					</p>
					<br />

					<table class="scrollable" id="schemes" name="clients">
						<thead>
						<tr>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody style="height:150px;" class="content">
						</tbody>
					</table>

					<div id="scheme-letters" name="scheme-letters">
						<?php

						  // clients with special as initial
						  echo el::bt( "*",false," value='*' disabled='disabled'" );

						  // clients with 0-9 as initial
						  echo el::bt( "0-9",false," value='0-9' disabled='disabled'" );

						  // draw an alphabet
						  $alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
						  for( $i = 0; $i < 26; $i++ )
							  echo el::bt( $alphabet[$i], false, " value='$alphabet[$i]' disabled='disabled'" );

							  // all clients, for masochists
							  echo el::bt( "All", false, " value='all'" );
					?>
					</div>
				</div>
			</div>
			
			<div class="tab-pane fade" id="<?=_LINK?>stats">
				<?= Practice::get_template("stats.html", array('practice'=>$practice)) ?>
			</div>
			
			<div class="tab-pane fade" id="<?=_LINK?>alias">
				<p>
					<?php if($dept == 7){ ?>
						<button  class="add" id="add_alias" href="<?=Practice::index_url(array('get'=>'add_alias','id'=>$practice->id()))?>">Add Alias</button>
					<?php } ?>
					<button onclick="$(function(){ $('#alias_tbl').export(); });"><img src='<?= el::image("table_go.png")?>' /></button> 
					<button onclick="$(function(){ $('#alias_tbl').print(); });"><img src='<?= el::image("printer.png")?>' /></button>
				</p>

				<table id='alias_tbl' name='alias_tbl' class="scrollable">
					<thead>
						<tr>
							<th>Alias</th>
						</tr>
					</thead>
					<tbody class="content">
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>

            <div class="tab-pane fade" id="<?=_LINK?>notes">
                <?= Practice::get_template("notes.html", array('practice'=>$practice)) ?>
            </div>

			<div class="tab-pane fade" id="<?=_LINK?>access">
				<?= Practice::get_template("online_access.html", array('practice'=>$practice)) ?>
			</div>

			<div class="tab-pane fade" id="<?=_LINK?>action_required">
				<?= Template(ActionRequired::get_template_path("plugin.html"), ["id" => $practice->id(), "object" => "Practice"]); ?>
			</div>

			<!--<div id="file_storage_tab">-->
				<!--<?= Template( DocumentStorage::get_template_path( "plugin.html" ),array( "id"=>$practice->id(),"object"=>"Practice" ) ); ?>-->
			<!--</div>-->

		</div>
	</div>
</div>