<style>
    #<?=_LINK?>{
        width: 400px;
    }

    textarea{
        width: 98%;
        height: 80px;
    }
</style>

<script>
    $(function(){
        var form = $("#<?=_LINK?>");

        var pop = form.popup_config({
            title: "Archive Extension",
            center: true,
        });

        $("#archive", form).on("click", function(){
            $.ajax({
                url: "/pages/client/?id=<?= $extension->client->id() ?>&do=archive_extension&extension=<?= $extension->id() ?>",
                type: "GET",
                data: {
                    archive_reason: $("#reason", form).val()
                },
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        window.loadExtensions();
                        pop.close();
                    } else {
                        alert(response.data);
                    }
                }
            });
        });
    });
</script>

<form id="<?=_LINK?>">
    Reason for Archiving <span class="text-danger">*</span>
    <textarea id="reason"></textarea>

    <div class="clearfix">
        <div class="float-right">
            <button class="btn btn-danger" id="archive"><span class="fas fa-archive"></span> Archive</button>
        </div>
    </div>
</form>