<style>
    #<?=_LINK?>{
        width: 800px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Extensions",
            center: true,
        });

        $("#add-extension", frame).on("click", function(){
            new popup({
                url: "/pages/client/?id=<?= $client->id() ?>&do=add_extension"
            });
        });

        function loadExtensions(){
            $.ajax({
                url: "/pages/client/?id=<?= $client->id() ?>&do=extensions&reload=true",
                type: "GET",
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        $("#extensions_table tbody", frame).html(response.data);
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        window.loadExtensions = function(){
            loadExtensions();
        };

        frame.on("click", ".archive-extension", function(){
            var extID = $(this).data("id");

            new popup({
                url: "/pages/client/?id=<?= $client->id() ?>&do=archive_extension&extension=" + extID,
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <?php if(in_array(User::get_default_instance("department"), [4, 7, 15]) || in_array(User::get_default_instance("id"), [98])): ?>
        <button class="btn btn-outline-success" id="add-extension"><i class="fas fa-plus-circle"></i> Add Extension</button>
    <?php endif; ?>
    <table class="table table-striped mt-2 table-responsive" id="extensions_table">
        <thead>
        <tr>
            <th>Original Date</th>
            <th>Extra Months</th>
            <th>Reason</th>
            <th>Added By</th>
            <th>Added When</th>
            <th>Archived</th>
            <th>Archive Reason</th>
            <th>Archived By</th>
            <th>Archived When</th>
        </tr>
        </thead>
        <tbody>
        <?php if(count($extensions)): ?>
            <?php foreach($extensions as $extension): ?>
            <tr>
                <td><?= $extension->original_date ?></td>
                <td><?= $extension->extra_months() ?></td>
                <td><?= $extension->reason_extended ?></td>
                <td><?= $extension->added_by->link() ?></td>
                <td><?= $extension->added_when ?></td>
                <td><?= $extension->checkArchived() ?></td>
                <td><?= $extension->reason_archived ?></td>
                <td><?= $extension->archived_by->link() ?></td>
                <td><?= $extension->archived_when ?></td>
            </tr>
            <?php endforeach; ?>
        <?php else: ?>
            <tr>
                <td colspan="9">No Extensions Granted</td>
            </tr>
        <?php endif; ?>

        </tbody>
    </table>
</div>