<style>
    #<?=_LINK?>{
        width: 400px;
    }

    textarea{
        width: 90%;
        height: 80px;
    }
</style>

<script>
    $(function(){
        var form = $("#<?=_LINK?>");

        var pop = form.popup_config({
            title: "Add An Extension",
            center: true,
        });

        saveProfileNotification(form);

        form.on("successfulSave", function(){
            window.loadExtensions();
        });

        $("#clientreviewextension\\[original_date\\]\\[D\\]," +
            "#clientreviewextension\\[original_date\\]\\[M\\]," +
            "#clientreviewextension\\[original_date\\]\\[Y\\]", form).attr("readonly", true);
    });
</script>

<form id="<?=_LINK?>" method="POST" action="<?= ClientReviewExtension::get_common_url(['do'=>'create']) ?>">
    <div class="row no-gutters">
        <div class="col-3">
            <label>Original Date</label>
        </div>
        <div class="col-9">
            <?= el($extension->original_date) ?>
        </div>

        <div class="col-3">
            <label>Extra Months</label>
        </div>
        <div class="col-9">
            <?= el($extension->extra_months) ?>
        </div>

        <div class="col-3">
            Reason Extended
        </div>
        <div class="col-9">
            <?= el($extension->reason_extended) ?>
        </div>
    </div>

    <?= el( $extension->client, false, false, false, false, DatabaseObject::ELEMENT_HIDDEN ) ?>
</form>