<?php
// @todo horrible horrible horrible
$_LINK = random_string(10);
?>

<style type="text/css">
#<?= $_LINK?> .scrollable div.scroll {
    height: 450px;
}
#prospect_tabs{
    padding-top:20px;
}
.mandate_recruit_six{
    color:#ff0000;
}
</style>

<script type="text/javascript">
$(function(){

    var frame = $( "#<?= $_LINK?>" );
    var stable = $("table#single_results",frame);
    var btable = $("table#bulk_results",frame);
	var not_sjp_table = $("table#not_joining_sjp",frame);
	var not_ps_table = $("table#not_joining_ps",frame);
	var active_recruit_table = $("table#active_recruits",frame);

    //initialise variables used for only loading tabs once when selected by user
    var single_active = false;
    var sjp_active = false;
    var ps_active = false;
    var active_recruits = false;

    $("tbody.content",stable).html("<tr><td>Loading recruits...</td></tr>");
    $("tbody.content",btable).html("<tr><td>Loading recruits...</td></tr>");
    $("tbody.content",not_sjp_table).html("<tr><td>Loading recruits...</td></tr>");
    $("tbody.content",not_ps_table).html("<tr><td>Loading recruits...</td></tr>");
    $("tbody.content",active_recruit_table).html("<tr><td>Loading recruits...</td></tr>");

    //initially only load bulk prospect table. loading multiple tabs at once was to data heavy causing load to occasionally fail
    $("tbody.content",btable).load( "/common/Prospect/?do=list&filter[transtype][]=2&filter[transtype][]=3&filter[transtype][]=4&filter[partner]=0&filter[status][]=1&filter[status][]=2&filter[hidden][]=0" );

    //only load data (once) when required by user tab selection (prospective singles tab)
    $(frame).on("click", "li#single", function(){
        if(!single_active){
            $("tbody.content",stable).load( "/common/Prospect/?do=list&filter[transtype]=1&filter[partner]=0&filter[status][]=1&filter[status][]=2&filter[hidden][]=0" );
            single_active = true;
        }
    });

    //only load data (once) when required by user tab selection (not joining sjp tab)
    $(frame).on("click", "li#sjp", function(){
        if(!sjp_active){
            $("tbody.content",not_sjp_table).load( "/common/Prospect/?do=list&filter[status][]=3&filter[hidden][]=0" );
            sjp_active = true;
        }
    });

    //only load data (once) when required by user tab selection (not joining ps tab)
    $(frame).on("click", "li#ps", function(){
        if(!ps_active){
            $("tbody.content",not_ps_table).load( "/common/Prospect/?do=list&filter[status][]=4&filter[hidden][]=0" );
            ps_active = true;
        }
    });

  //only load data (once) when required by user tab selection (active_recruit_table)
    $(frame).on("click", "li#active", function(){
        if (!active_recruits) {
            $("tbody.content",active_recruit_table).load( "/common/Prospect/?do=list&filter[status][]=6&filter[hidden][]=0&filter[partner]" );
            active_recruits = true;
        }
    });


    //delete prospect entry
	$( ":button.delete", frame ).die('click').live(
		"click", function( ){
			var rowid = this.id;
			if( confirm( "Are you sure you would like to delete entry for "+$(this).attr('data-partner-name')+"?" ) ){
				$.get(
					"<?=prospect::index_url()?>",{
						id: this.id,
						do: "delete"
					},
					function( ){
						$("tr[id="+ rowid +"]").remove();
					}
				);
			}
		}
	);

});
</script>

<div id="<?= $_LINK?>" name="<?= $_LINK?>">

    <div id="prospect_tabs">

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item" id="bulk">
                <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>bulks">Prospective Bulks</a>
            </li>
            <li class="nav-item" id="single">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>singles">Prospective Singles</a>
            </li>
            <li class="nav-item" id="sjp">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>sjp">Not Joining SJP</a>
            </li>
            <li class="nav-item" id="ps">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>ps">Not Joining PS</a>
            </li>
            <li class="nav-item" id="active">
                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>active">Active Recruits</a>
            </li>
        </ul>


        <div class="tab-content">

            <div class='tab-pane fade show active' id="<?=_LINK?>bulks">
                <table id="bulk_results" name="bulk_results" class="scrollable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Practice</th>
                            <th>SJP BAM</th>
                            <th>PS Manager</th>
                            <th>Phone</th>
                            <th>Rate</th>
                            <th class="date">Date Added</th>
                            <th class='date'>Appointment</th>
                            <th>Status</th>
                            <th>Renewals</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>singles">
                <table id="single_results" name="single_results" class="scrollable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Practice</th>
                            <th>SJP BAM</th>
                            <th>PS Manager</th>
                            <th>Phone</th>
                            <th>Rate</th>
                            <th class="date">Date Added</th>
                            <th class='date'>Appointment</th>
                            <th>Status</th>
                            <th>Renewals</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>sjp">
                <table id="not_joining_sjp" name="not_joining_sjp" class="scrollable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Practice</th>
                            <th>SJP BAM</th>
                            <th>PS Manager</th>
                            <th>Phone</th>
                            <th>Rate</th>
                            <th class="date">Date Added</th>
                            <th class='date'>Appointment</th>
                            <th>Status</th>
                            <th>Renewals</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>ps">
                <table id="not_joining_ps" name="not_joining_ps" class="scrollable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Practice</th>
                        <th>SJP BAM</th>
                        <th>PS Manager</th>
                        <th>Phone</th>
                        <th>Rate</th>
                        <th class="date">Date Added</th>
                        <th class='date'>Appointment</th>
                        <th>Status</th>
                        <th>Renewals</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <div class='tab-pane fade' id="<?=_LINK?>active">
                <table id="active_recruits" name="active_recruits" class="scrollable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Practice</th>
                        <th>SJP BAM</th>
                        <th>PS Manager</th>
                        <th>Phone</th>
                        <th>Rate</th>
                        <th class="date">Date Added</th>
                        <th class='date'>Appointment</th>
                        <th>Status</th>
                        <th>Renewals</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>