<?php
$six_months_mandate = Prospect::mandate_six($prospect->id());
if($six_months_mandate !== NULL){
    $class = "mandate_recruit_six";
}else{
    $class = "";
}
?>
<tr id="<?=$prospect->id?>" class="<?=$class;?>">
  <td><?=$prospect->link()?></td>
  <td><?=$prospect->practice?></td>
  <td><?=$prospect->sjp_manager1?></td>
  <td><?=$prospect->ps_manager?></td>
  <td><?=$prospect->phone?></td>
  <td><?=$prospect->rate?></td>
  <td><?=$prospect->addedwhen?></td>
  <td><?=$prospect->appointment?></td>
  <td><?=$prospect->status?></td>
  <td><?=$prospect->renewals?></td>
  <td align="right">
      <?php if((User::get_default_instance('id') == 44) || (User::get_default_instance('id') == 60) || (User::get_default_instance('department') == 7)){ ?>
        <button id="<?=$prospect->id()?>" name="<?=$prospect->id()?>" class='delete' data-partner-name='<?="$prospect"?>'></button>
      <?php } ?>
  </td>
</tr>