<script type="text/javascript">
    $(function(){
	
        var frame = $("#<?=_LINK?>");
	    var form = $("form#map_prospect",frame);
		var message = $("span#submision_message",form);
		
		
		var pop = form.popup_config({
			title: "<b>Map Prospect</b>: <?=$prospect?>",
			center: true
		});
		
		$("button:submit", form).click(function(){
			form.send(function(r){
				r = json_decode(r);
				
				if(r.status == false){
					$(message).addClass("bad_news").html("Failed to link recruit to partner account");
				}else{
					$(message).addClass("good_news").html("Account linked");
				}
				
				
			});
		});

	});
		
</script>


<div id="<?=_LINK?>" name="<?=_LINK?>">

<form id="map_prospect" name="map_prospect" action="<?=Prospect::index_url(array("do"=>"map","id"=>$prospect->id()))?>" method="POST">
Please select the partner account from the suggest box:<br><br>

<?= $prospect->partner->toElement() ?>
<br><br>
<button type='submit'>Map to Account</button><span id='submision_message'></span>


</form>
 

</div>

