<script type="text/javascript">
    $(function(){

        var frame = $("#<?=_LINK?>");
	    var form = $("form#prospect_form",frame);
		
		$('span#error_msg').show().addClass("bad_news").html("Please fill in all required fields");

		$(":input").on('change keyup', function() {
			if ($("select#prospect\\[ps_manager\\]").val() != '' && $("select#prospect\\[transtype\\]").val() != ''
			&&  $("select#prospect\\[status\\]").val() != '' && $("input#prospect\\[surname\\]").val() != ''){
                    if (!$("div.notification.save_profile.static").length ){
                        saveProfileNotification( form );
                    }

					$('span#error_msg').removeClass().addClass("good_news").html("Mandatory fields completed");

			} else {
				$('div.notification.save_profile.static').remove();
				$('span#error_msg').removeClass().addClass("bad_news").html("Please fill in all required fields");
			}
		});


    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="prospect_form" name="prospect_form" action="<?=Prospect::get_common_url(array("do"=>"create"))?>" method="POST">

        <div id='profile_box' name='profile_box'>

            <div class="row no-gutters">

                <div class="col-6 mb-2">
                    <div class="px-1 h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                <h1>Personal</h1>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">

                                    <div class="col-3 mb-1">
                                        <strong>Name</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->title)?>
                                        <?=el($prospect->firstname)?>
                                        <?=el($prospect->surname)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Practice</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->practice)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>SJP Code</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->agencyCode)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>SJP Manager</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->sjp_manager1)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>SJP Manager 2</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->sjp_manager2)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>SJP BTM</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->sjp_btm)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Staff</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->staff)?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-2">
                    <div class="px-1 h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                <h1>Contact</h1>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-12 mb-2">
                                        <div class="row no-gutters">
                                            <div class="col-3 mb-1">
                                                <strong>Telephone</strong>
                                            </div>
                                            <div class="col-9 mb-1">
                                                <?=el($prospect->phone)?>
                                            </div>

                                            <div class="col-3 mb-1">
                                                <strong>Mobile</strong>
                                            </div>
                                            <div class="col-9 mb-1">
                                                <?=el($prospect->mobile)?>
                                            </div>

                                            <div class="col-3 mb-1">
                                                <strong>Email</strong>
                                            </div>
                                            <div class="col-9 mb-1">
                                                <?=el($prospect->email)?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="row no-gutters">
                                            <div class="col-3">
                                                <strong>Address</strong>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->address->line1)?><br>
                                                <?=el($prospect->address->line2)?><br>
                                                <?=el($prospect->address->line3)?><br>
                                                <?=el($prospect->address->postcode)?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <?=$prospect->address->button?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-2">
                    <div class="px-1 h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                <h1>Business</h1>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-3 mb-1">
                                        <strong>Network</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->network)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Renewals</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->renewals)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Rate</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->rate)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>RBO</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->rbo)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Agencies</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->agencies)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Clients</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->clients)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Top 5 Issuers</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->top_issuers)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Previous Status</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->previous_status)?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 mb-2">
                    <div class="px-1 h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                <h1>Additional Information</h1>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-3 mb-1">
                                        <strong>Client List</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->client_list)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Back Office</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->back_office)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Unipass</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->unipass)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Online Access</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->online_access)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Transfer Type</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <span class="required">
                                            <?=el($prospect->transtype)?>
                                        </span>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>PS Manager</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <span id="psman" class="required">
                                            <?= $prospect->new_ps_manager() ?>
                                        </span>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Appointment Date</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->appointment)?>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Status</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <span class="required">
                                            <?=el($prospect->status)?>
                                        </span>
                                    </div>

                                    <div class="col-3 mb-1">
                                        <strong>Background</strong>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?=el($prospect->background)?>
                                    </div>
                                    <div class="col-12">
                                        <span id="error_msg"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>

