<style type="text/css">
#<?=_LINK?> div#profile_box {
    margin-bottom: 4px;
    /*width: 65%;*/
    max-height: 550px;
    float:left;
}
#<?=_LINK?> div#notes_box{
	width:100%;
    height: 350px;
    padding: 0 5px 0 5px;
    overflow-y: scroll;
    margin-bottom:20px;
    max-height: 90%;
}

.popup .tabs #bottomTabsDiv {
    height: 475px;
}
.popup #<?=_LINK?>{
    max-width:  1200px;
}
#<?=_LINK?> > .panel {
    margin-bottom: 10px;
}
#<?=_LINK?> > .panel > table {
    border-collapse: collapse;
}
#<?=_LINK?> > .panel > table tr > * {
    padding: 3px 5px 3px 5px;
}
#<?=_LINK?> > .panel > table th {
    width: 125px;
}

#<?= _LINK ?> div#transfer_checklist{
     max-width: 100%;
    clear:both;
 }

 #<?= _LINK ?> div.notification.static{
     max-width: 90%;
 }
#add_info{
	float:left;
}
#background_info{
	float:right;
	margin-right:20px;
}
#background_info h1{
	padding-bottom:10px;
}
#background_info textarea{
	width:450px;
	height:180px;
}
.prospect_notes_box{
    float:right;
}

.prospect_img{
    cursor: pointer;
}
</style>

<script type="text/javascript">
    $(function(){

        var frame = $("#<?=_LINK?>");
	    var form = $("form#prospect_form",frame);

        var pop = form.popup_config({
            title: "<b>Prospect</b>: <?=$prospect?>",
            center: true
        });
        
        
        $("div#open_account").click(function(){
            /*instead of mucking about at the other end, lets build the submission string ourselves:
            it needs to be serialized, but we can also be selective about which data gets passed. */
        
            // this maps the fields on the page, to what we want them to be submitted as(partner properties)
            var flds = {
              "\\[title\\]" : 'title',
              "\\[firstname\\]" : 'forename',
              "\\[surname\\]" : 'surname',
              "\\[phone\\]" : 'phone',
              "\\[mobile\\]" : 'mobile',
              "\\[email\\]" : 'email',
              "\\[address\\]\\[line1\\]" : 'address[line1]',
              "\\[address\\]\\[line2\\]" : 'address[line2]',
              "\\[address\\]\\[line3\\]" : 'address[line3]',
              "\\[address\\]\\[postcode\\]" : 'address[postcode]',
              "\\[renewals\\]" : 'renewals',
              "\\[rate\\]" : 'single_rate',
              "\\[rbo\\]" : 'rbo',
              "\\[transtype\\]" : 'transtype',
              "\\[previous_status\\]" : 'previous_status',
              "\\[sjp_btm\\]" : 'sjp_btm',
              "\\[sjp_manager1\\]" : 'sjp_manager1',
                "\\[agencyCode\\]" : 'agencyCode'
            };
        
            var ser_str = "";
            
            $.each(flds,function(i,v){
                ser_str = ser_str + '&' + v + '=' + encodeURIComponent($("#prospect"+i,form).val());
            });

            // Lets append partner bulk rate which mirrors single rate. Bug when passing through values as prospect
            // doesn't have a bulk rate or band
            ser_str = ser_str + "&bulk_rate=" + $("input#bulk_rate").val();


            new popup({
                'url': '<?=Partner::get_common_url(array("do"=>"create", "prospect_id"=>$prospect->id	))?>'+ ser_str
            });
       
        
        });
		
		$("div#partner_map").click(function(){
			new popup({'url':'/pages/prospect/?do=map&id=<?= $prospect->id() ?>'});
		});


        $("div#notes_box.prospect_notes_box", frame)
            .load('/pages/tools/notes/?do=list&object=prospect&object_id=<?= $prospect->id() ?>');
	    
        saveProfileNotification( form );
		
	    $('#prospect\\[next_chase\\]\\[D\\],#prospect\\[next_chase\\]\\[M\\],#prospect\\[next_chase\\]\\[Y\\]').datepicker({
		minDate: 0,
		dateFormat: 'dd/mm/yy',
		onSelect: function(dateText, inst) {
			var pieces = dateText.split('/');
			$('#prospect\\[next_chase\\]\\[D\\]').val(pieces[0]);
			$('#prospect\\[next_chase\\]\\[M\\]').val(pieces[1]);
			$('#prospect\\[next_chase\\]\\[Y\\]').val(pieces[2]);
			$(this).change();
		}
	});

        $(".prospect_img", frame).on("click", function(){
            $("#prospect_img_file", frame).trigger("click");
        });

        $("#prospect_img_file", frame).on("change", function(e){
            if (e.target.files && e.target.files[0]){
                var file = e.target.files[0];

                if (file.type === "image/jpeg"){
                    // show the file in the window
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $(".prospect_img", frame).attr("src", event.target.result);
                    }

                    reader.readAsDataURL(e.target.files[0]);

                    var formData = new FormData();

                    formData.append("prospect_img", e.target.files[0]);

                    $.ajax({
                        url: "/pages/prospect/?do=img_upload&id=<?= $prospect->id() ?>",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        dataType: "JSON",
                        success: function(response){
                            if (!response.success){
                                alert(response.feedback);
                            }
                        }
                    });
                } else {
                    alert("Only .jpg files are allowed here");
                }
            }
        });

    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div class="row no-gutters">
        <div class="col-8">
            <div class="pr-2">
                <div id='profile_box' name='profile_box'>
                    <?= Prospect::mandate_six($prospect->id()); ?>
                    <form id="prospect_form" name="prospect_form" action="<?=Prospect::get_common_url(array('id'=>$prospect->id,' do'=>'save'))?>" method="POST">

                        <ul class="nav nav-tabs mb-3">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>personal">Personal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>business">Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>additional">Additional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>documentation">Documentation</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="prospect-tabs">

                            <div class='tab-pane fade show active' id="<?=_LINK?>personal">

                                <div class="row no-gutters">
                                    <div class="col-10">
                                        <div class="row no-gutters">
                                            <div class="col-3">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->title)?>
                                                <?=el($prospect->firstname)?>
                                                <?=el($prospect->surname)?>
                                            </div>

                                            <div class="col-3">
                                                <label>Practice</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->practice)?>
                                            </div>

                                            <div class="col-3">
                                                <label>SJP Code</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->agencyCode)?>
                                            </div>

                                            <div class="col-3">
                                                <label>SJP Manager</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->sjp_manager1)?>
                                            </div>

                                            <div class="col-3">
                                                <label>SJP Manager 2</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->sjp_manager2)?>
                                            </div>

                                            <div class="col-3">
                                                <label>SJP BTM</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->sjp_btm)?>
                                            </div>

                                            <div class="col-3">
                                                <label>Staff</label>
                                            </div>
                                            <div class="col-9">
                                                <?=el($prospect->staff)?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <?php

                                        if (azureCheckExists(CDN_DIR . "recruit_images", $prospect->id() . ".jpg")){
                                            $prospect_img = PROSPECT_PROFILE_DIRECTORY . $prospect->id() . ".jpg";
                                        } else {
                                            $prospect_img = CDN_BASE . "no_pic.png";
                                        }

                                        ?>
                                        <img class="prospect_img" width="100%" src="<?= $prospect_img ?>"/>
                                        <?php if(User::get_default_instance('department') == 7 || User::get_default_instance('id') == 60): ?>
                                            <div class="d-none">
                                                <input type="file" name="prospect_img_file" id="prospect_img_file">
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="<?=_LINK?>contact">

                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <div class="row no-gutters">
                                            <div class="col-4">
                                                <label>Telephone</label>
                                            </div>
                                            <div class="col-8">
                                                <?= el($prospect->phone) ?>
                                            </div>

                                            <div class="col-4">
                                                <label>Mobile</label>
                                            </div>
                                            <div class="col-8">
                                                <?= el($prospect->mobile) ?>
                                            </div>

                                            <div class="col-4">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-8">
                                                <?= el($prospect->email) ?>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="row no-gutters">
                                            <div class="col-3">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-9">
                                                <?= el($prospect->address->line1) ?><br>
                                                <?= el($prospect->address->line2) ?><br>
                                                <?= el($prospect->address->line3) ?><br>
                                                <?= el($prospect->address->postcode) ?><br>
                                            </div>
                                            <div class="col-12">
                                                <?= $prospect->address->button ?>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="<?=_LINK?>business">

                                <div class="row no-gutters">
                                    <div class="col-3">
                                        <label>Network</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->network) ?>
                                    </div>

                                    <div class="col-3">
                                        <label>Renewals</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->renewals) ?>
                                    </div>

                                    <div class="col-3">
                                        <label>Rate</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->rate) ?>
                                        <input id="bulk_rate" type="hidden" value="<?= $prospect->rate() ?>" />
                                    </div>

                                    <div class="col-3">
                                        <label>RBO</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->rbo) ?>
                                    </div>

                                    <div class="col-3">
                                        <label>Agencies</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->agencies) ?>
                                    </div>

                                    <div class="col-3">
                                        <label>Clients</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->clients) ?>
                                    </div>

                                    <div class="col-3">
                                        <label>Top 5 Issuers</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->top_issuers) ?>
                                    </div>

                                    <div class="col-3">
                                        <label>Previous Status</label>
                                    </div>
                                    <div class="col-9 mb-1">
                                        <?= el($prospect->previous_status) ?>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="<?=_LINK?>additional">

                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <div class="row no-gutters">
                                            <div class="col-6 mb-1">
                                                <label>Back Office?</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->back_office) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>Unipass</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->unipass) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>Online Access</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->online_access) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>Transfer Type</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->transtype) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>PS Manager</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->ps_manager) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>Appointment Date</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->appointment) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>Next Chase Date</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->next_chase) ?>
                                            </div>

                                            <div class="col-6 mb-1">
                                                <label>Status</label>
                                            </div>
                                            <div class="col-6 mb-1">
                                                <?= el($prospect->status) ?>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <label>Background</label>
                                        <?= el($prospect->background, false, "style='width: 90%' rows=5") ?>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="<?=_LINK?>documentation">
                                <div class="row no-gutters">
                                    <?php foreach($prospect->get_document_fields() as $df): ?>
                                    <div class="col-6">
                                        <div class="row no-gutters mb-1">
                                            <div class="col-9">
                                                <label><?= $df->display_name() ?></label>
                                            </div>
                                            <div class="col-3">
                                                <?= el($df) ?>
                                            </div>
                                        </div>

                                    </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>

                        </div>
                    </form>

                    <?php if($prospect->partner()): ?>
                    <div class='notification alert static' style='display:block;'>Linked to partner account <?= $prospect->partner->link() ?></div>
                    <?php else: ?>
                    <div id='open_account' class='notification question static' style='display:block;'>Add as Partner?</div>
                    <div id='partner_map' class='notification question static' style='display:block;'>Link to Partner Account?</div>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div id="notes_box" class="prospect_notes_box"></div>
        </div>

    </div>





    <div id="transfer_checklist">
        <?= Prospect::get_template( "transfer_checklist.html", array( 'object_type'=>"prospect", 'object_id' => $prospect->id() ) ) ?>
    </div>
	

 


</div>

