<?php
    //check if checklist entry exists, if not create new one
    $s = new Search(new TransferChecklist);
    $s->eq("object_type", $object_type);
    $s->eq("object_id", $object_id);
    $s->limit(1);

    if ($tc = $s->next()) {
        $id = $tc->id();
        $checklist = new TransferChecklist($id, true);
    } else {
        $id = null;
        $checklist = new TransferChecklist();
    }
?>

<style type="text/css">
.add_margin_bottom{
    margin-bottom:30px;
}
.audit{
    color:#919191;
    text-transform: capitalize;
    font-style: italic;
}

#notes_box{
    width: 28%;
    height: 595px;
    padding: 0 5px 0 5px;
    overflow-y: scroll;
    float: right;
}

#<?= _LINK?>{
    width: 100%;
}
</style>

<script type="text/javascript">
    $( function( ) {

        var frame = $("div#<?= _LINK?>");
        var checklist_form = $("form#checklist_form", frame);
        var object_id_notes = $("#transferchecklist\\[object_id\\]").val();

        //show cross on tickboxes #TODO - why does this not happen by default..?
        $('.bool').each(function () {
            if ($(this).attr("value") == 0) {
                $(this).attr("value", 0);
            }
        });

        $("button.bool").on("change", function(event) {

            var element = $(this).attr('id');
            var value = $(this).attr('value');

            var object_type = $("#transferchecklist\\[object_type\\]").val();
            var object_id = $("#transferchecklist\\[object_id\\]").val();
            var checklist_id = $("#checklist_id").val();



            $.ajax({
                'url': "<?=Prospect::index_url()?>",
                type: "GET",
                data: {
                    type: "json",
                    checklist: true,
                    element: element,
                    value: value,
                    object_type: object_type,
                    object_id: object_id,
                    checklist_id: checklist_id
                },
                dataType: "json",
                success: function(r){
                    try{

                        if(r.error == false){
                            $("#status_feedback").addClass("good_news").html(r.status);
                            $("#checklist_id").val(r.checklist_id);
                        }else{
                            $("#status_feedback").addClass("bad_news").html(r.status);
                        }

                        setTimeout(
                            function(){
                                $("#status_feedback").removeClass().html("&nbsp;");
                            }, 3000);

                    }catch(e){
                        alert(e);
                    }
                }
            });


        });
        $("div#notes_box.bulkpartner_notes", frame).load('/pages/tools/notes/?do=list&object=BulkPartner&object_id='+object_id_notes);
    });
</script>

<div id="<?= _LINK?>" name="<?= _LINK?>" >

    <span id="status_feedback" name="status_feedback">&nbsp;</span>

    <form id="checklist_form" name="checklist_form">
        
        <input type="hidden" id="transferchecklist[object_type]" name="transferchecklist[object_type]" value="<?=$object_type;?>" data-obj-id/>
        <input type="hidden" id="transferchecklist[object_id]" name="transferchecklist[object_id]" value="<?=$object_id;?>" data-obj-id/>
        <input type="hidden" id="checklist_id" name="checklist_id" value="<?=$id;?>" data-obj-id/>

        <div>

            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>pre_appointment">Pre Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>progress_reports">Progress Reports</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="<?=_LINK?>pre_appointment">

                    <div class="row no-gutters">
                        <div class="col-8">
                            <h3>Pre Appointment Checklist</h3>
                            <table class="add_margin_bottom">
                                <tbody>
                                <tr>
                                    <td><?= $checklist->partner_and_notes_added->display_name(); ?></td>
                                    <td><?= el($checklist->partner_and_notes_added) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "partner_and_notes_added"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->intro_call->display_name(); ?></td>
                                    <td><?= el($checklist->intro_call) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "intro_call"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->discovery_form_returned->display_name(); ?></td>
                                    <td><?= el($checklist->discovery_form_returned) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "discovery_form_returned"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->discovery_form_output_completed->display_name(); ?></td>
                                    <td><?= el($checklist->discovery_form_output_completed) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "discovery_form_output_completed"); ?></td>
                                </tr>
                                </tbody>
                            </table>

                            <h3>Document Checklist</h3>
                            <table class="add_margin_bottom">

                                <thead>

                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Sent Out</td>
                                    <td>Received Back</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><?= $checklist->relevant_ps_contract_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->relevant_ps_contract_out) ?> <?= TransferChecklistAudit::get_submitted($id, "relevant_ps_contract_out"); ?></td>
                                    <td class="audit"><?= el($checklist->relevant_ps_contract_in) ?> <?= TransferChecklistAudit::get_submitted($id, "relevant_ps_contract_in"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->ps_partner_tariff_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->ps_partner_tariff_out) ?> <?= TransferChecklistAudit::get_submitted($id, "ps_partner_tariff_out"); ?></td>
                                    <td class="audit"><?= el($checklist->ps_partner_tariff_in) ?> <?= TransferChecklistAudit::get_submitted($id, "ps_partner_tariff_in"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->sample_ifa_letter_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->sample_ifa_letter_out) ?> <?= TransferChecklistAudit::get_submitted($id, "sample_ifa_letter_out"); ?></td>
                                    <td class="audit"><?= el($checklist->sample_ifa_letter_in) ?> <?= TransferChecklistAudit::get_submitted($id, "sample_ifa_letter_in"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->sample_client_letters_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->sample_client_letters_out) ?> <?= TransferChecklistAudit::get_submitted($id, "sample_client_letters_out"); ?></td>
                                    <td class="audit"><?= el($checklist->sample_client_letters_in) ?> <?= TransferChecklistAudit::get_submitted($id, "sample_client_letters_in"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->ps_client_spreadsheet_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->ps_client_spreadsheet_out) ?> <?= TransferChecklistAudit::get_submitted($id, "ps_client_spreadsheet_out"); ?></td>
                                    <td class="audit"><?= el($checklist->ps_client_spreadsheet_in) ?> <?= TransferChecklistAudit::get_submitted($id, "ps_client_spreadsheet_in"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->pipeline_letters_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->pipeline_letters_out) ?> <?= TransferChecklistAudit::get_submitted($id, "pipeline_letters_out"); ?></td>
                                    <td class="audit"><?= el($checklist->pipeline_letters_in) ?> <?= TransferChecklistAudit::get_submitted($id, "pipeline_letters_in"); ?></td>
                                </tr>

                                <tr>
                                    <td><?= $checklist->sjp_application_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->sjp_application_out) ?> <?= TransferChecklistAudit::get_submitted($id, "sjp_application_out"); ?></td>
                                    <td class="audit"><?= el($checklist->sjp_application_in) ?> <?= TransferChecklistAudit::get_submitted($id, "sjp_application_in"); ?></td>
                                </tr>

                                <tr>
                                    <td><?= $checklist->last_year_pi_out->display_name(); ?></td>
                                    <td class="audit"><?= el($checklist->last_year_pi_out) ?> <?= TransferChecklistAudit::get_submitted($id, "last_year_pi_out"); ?></td>
                                    <td class="audit"><?= el($checklist->last_year_pi_in) ?> <?= TransferChecklistAudit::get_submitted($id, "last_year_pi_in"); ?></td>
                                </tr>

                                </tbody>
                            </table>

                            <h3>Final Pre Appointment Checklist</h3>
                            <table class="add_margin_bottom">
                                <tbody>
                                <tr>
                                    <td><?= $checklist->document_walkthrough_call->display_name(); ?></td>
                                    <td><?= el($checklist->document_walkthrough_call) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "document_walkthrough_call"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->novation_analysis_completed->display_name(); ?></td>
                                    <td><?= el($checklist->novation_analysis_completed) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "novation_analysis_completed"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->online_access_discussed->display_name(); ?></td>
                                    <td><?= el($checklist->online_access_discussed) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "online_access_discussed"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->ac_discussed->display_name(); ?></td>
                                    <td><?= el($checklist->ac_discussed) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "ac_discussed"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->model_portfolios_discussed->display_name(); ?></td>
                                    <td><?= el($checklist->model_portfolios_discussed) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "model_portfolios_discussed"); ?></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-4">
                            <div id="notes_box" class="bulkpartner_notes"></div>
                        </div>
                    </div>



                </div>

                <div class="tab-pane fade" id="<?=_LINK?>progress_reports">

                    <div class="row no-gutters">
                        <div class="col-8">
                            <h3>Post Appointment Checklist</h3>
                            <table class="add_margin_bottom">
                                <tbody>
                                <tr>
                                    <td><?= $checklist->novation_manager_signoff->display_name(); ?></td>
                                    <td><?= el($checklist->novation_manager_signoff) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "novation_manager_signoff"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->open_prophet_account->display_name(); ?></td>
                                    <td><?= el($checklist->open_prophet_account) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "open_prophet_account"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->add_agency_codes->display_name(); ?></td>
                                    <td><?= el($checklist->add_agency_codes) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "add_agency_codes"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->agency_codes_checked->display_name(); ?></td>
                                    <td><?= el($checklist->agency_codes_checked) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "agency_codes_checked"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->start_novation->display_name(); ?></td>
                                    <td><?= el($checklist->start_novation) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "start_novation"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->import_client_list->display_name(); ?></td>
                                    <td><?= el($checklist->import_client_list) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "import_client_list"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->prepop_arranged->display_name(); ?></td>
                                    <td><?= el($checklist->prepop_arranged) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "prepop_arranged"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->provider_crosscheck->display_name(); ?></td>
                                    <td><?= el($checklist->provider_crosscheck) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "provider_crosscheck"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->myps_walkthrough->display_name(); ?></td>
                                    <td><?= el($checklist->myps_walkthrough) ?></td>
                                    <td class="audit"><img src="../../../../../../Users/PS49/Desktop/pre_appt.png"
                                                           height="572" width="778"/><?= TransferChecklistAudit::get_submitted($id, "myps_walkthrough"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->pipeline_letter_scanned->display_name(); ?></td>
                                    <td><?= el($checklist->pipeline_letter_scanned) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "pipeline_letter_scanned"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->vat->display_name(); ?></td>
                                    <td><?= el($checklist->vat) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "vat"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->servicing_proposition->display_name(); ?></td>
                                    <td><?= el($checklist->servicing_proposition) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "servicing_proposition"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->ps_valuation_reports_costs->display_name(); ?></td>
                                    <td><?= el($checklist->ps_valuation_reports_costs) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "ps_valuation_reports_costs"); ?></td>
                                </tr>
                                </tbody>
                            </table>

                            <h3>Online Access Checklist</h3>
                            <table class="add_margin_bottom">
                                <tbody>
                                <tr>
                                    <td><?= $checklist->check_online_access->display_name(); ?></td>
                                    <td><?= el($checklist->check_online_access) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "check_online_access"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->setup_online_access->display_name(); ?></td>
                                    <td><?= el($checklist->setup_online_access) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "setup_online_access"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->record_online_access->display_name(); ?></td>
                                    <td><?= el($checklist->record_online_access) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "record_online_access"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->email_partner_login->display_name(); ?></td>
                                    <td><?= el($checklist->email_partner_login) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "email_partner_login"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->registration_walkthrough->display_name(); ?></td>
                                    <td><?= el($checklist->registration_walkthrough) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "registration_walkthrough"); ?></td>
                                </tr>
                                </tbody>
                            </table>

                            <h3>Income Checklist</h3>
                            <table class="add_margin_bottom">
                                <tbody>
                                <tr>
                                    <td><?= $checklist->commission_1month_report->display_name(); ?></td>
                                    <td><?= el($checklist->commission_1month_report) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "commission_1month_report"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->commission_2month_report->display_name(); ?></td>
                                    <td><?= el($checklist->commission_2month_report) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "commission_2month_report"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->commission_2month_check->display_name(); ?></td>
                                    <td><?= el($checklist->commission_2month_check) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "commission_2month_check"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->commission_3month_report->display_name(); ?></td>
                                    <td><?= el($checklist->commission_3month_report) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "commission_3month_report"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->commission_4month_report->display_name(); ?></td>
                                    <td><?= el($checklist->commission_4month_report) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "commission_4month_report"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->commission_4month_check->display_name(); ?></td>
                                    <td><?= el($checklist->commission_4month_check) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "commission_4month_check"); ?></td>
                                </tr>
                                </tbody>
                            </table>

                            <h3>Final Checks</h3>
                            <table class="add_margin_bottom">
                                <tbody>
                                <tr>
                                    <td><?= $checklist->final_check->display_name(); ?></td>
                                    <td><?= el($checklist->final_check) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "final_check"); ?></td>
                                </tr>
                                <tr>
                                    <td><?= $checklist->completion_email_call->display_name(); ?></td>
                                    <td><?= el($checklist->completion_email_call) ?></td>
                                    <td class="audit"><?= TransferChecklistAudit::get_submitted($id, "completion_email_call"); ?></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-4">
                            <div id="notes_box" class="bulkpartner_notes"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </form>

</div>