<?php
$policy = new Policy($policyID, true);
$virtueReview = new VirtueReview($reviewID, true);

if($virtueReview->id()){

$url = VirtueReview::get_common_url( array( 'do'=>'save', 'id'=>$virtueReview->id()));
$title = "Update Virtue Review Ticket";
}else{
$url = VirtueReview::get_common_url( array( 'do'=>'create' ) );
$title = "Add  Virtue Review Ticket";
}?>

<script type="text/javascript">
    $(function( ) {

        var frame = $("div#<?=_LINK?>");
        var form = $("form#<?=_LINK?>",frame);

        // On load of the form - hide "hide reason for late" and "Other location" inputs
        // Run validation functions

        $("#otherLocation").hide();
        $("#reasonLate").hide();
        otherLocation();
        dateDiff();

        //Loads the notes box - notes are universal to the policy
        //As policies with reviews are only PS/VIRTUE policies - no need to create new "Review" object
        $( "div#notes_box",frame ).load( '/pages/tools/notes/?do=list&object=Policy&object_id=<?= $policy ->id ?>' );

        $("#virtuereview\\[date_review\\]\\[D\\]").on("focusout", function(){
            dateDiff();
        });
        $("#virtuereview\\[date_review\\]\\[M\\]").on("focusout", function(){
            dateDiff();
        });
        $("#virtuereview\\[date_review\\]\\[Y\\]").on("focusout", function(){
            dateDiff();
        });
        $("#virtuereview\\[date_review_when\\]\\[D\\]").on("focusout", function(){
            dateDiff();
        });
        $("#virtuereview\\[date_review_when\\]\\[M\\]").on("focusout", function(){
            dateDiff();
        });
        $("#virtuereview\\[date_review_when\\]\\[Y\\]").on("focusout", function(){
            dateDiff();
        });
        $("#virtuereview\\[location\\]").on("change", function(){
            otherLocation();
        });


        saveProfileStatusSpan( form );


        var pop = form.popup_config({
            title: "<?=$title?>",
            center: true
        });


        $(form).bind(
                "successfulSave",
                function(){
                    pop.close();
                }
        );



        //pretty printing for bool buttons, display the 'X'
        $('button[type=button]', frame).each(function(){
            if( $(this).val() != 1 ){
                $(this).attr("value", "0");
            }
        });


        function dateDiff() {
            //Calculates the difference between the "Due date of review" and "Dtae review took place" inputs
            // If the day difference is greater than 10 - show the "Reason for lateness" textarea


            var dateDue = new Date($("#virtuereview\\[date_review\\]\\[Y\\]").val()
                    + "-" +$("#virtuereview\\[date_review\\]\\[M\\]").val()
                    + "-" +$("#virtuereview\\[date_review\\]\\[D\\]").val());

            var dateTookPlace = new Date($("#virtuereview\\[date_review_when\\]\\[Y\\]").val()
                    + "-" +$("#virtuereview\\[date_review_when\\]\\[M\\]").val()
                    + "-" +$("#virtuereview\\[date_review_when\\]\\[D\\]").val());

            var diff =  dateTookPlace - dateDue;
            var days = diff / 1000 / 60 / 60 / 24;

            if ((days) >= 10) {
                $("#reasonLate").show();
            } else{
                $("#reasonLate").hide();
            }
        }

        function otherLocation() {
            //Determines whether the "Review location" is set to other
            // If it is set to other, it provides another input to specify where


            var inputLocation = $("select#virtuereview\\[location\\]");

            if ($(inputLocation).html() == "Other" || $(inputLocation).val() == 3) {
                $("#otherLocation").show();
            } else {
                $("#otherLocation").hide();
            }
        }



        });
</script>

<style type="text/css">
    #<?=_LINK?> {
        min-width: 850px;
        max-width: 900px;
        width: 70%;
    }
    #<?=_LINK?> div.panel {
            margin: 5px;
            width: 47.5%;
        }
    textarea {
        width: 97%;
    }

    #notes_box{
        float: right;
        width: 47.5%;
    }

   #submitReview {
        font-size: 12pt;
        float: right;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div id="notes_box" name="notes_box" class="panel"></div>
    <form id="<?=_LINK?>"  action="<?=$url;?>" method="POST">

        <div class="panel">
            <table>
                <tr>
                    <th width="160px">Client</th>
                    <td><?= truncate( $policy->client->link( ), 25 ) ?></td>
                </tr>
                <tr>
                    <th>Partner</th>
                    <td><?= $policy->client->get_object()->partner->link( ) ?></td>
                </tr>
                <tr>
                    <th>Policy ID</th>
                    <td><?= $policy->link('$id') ?></td>
                </tr>
                <tr>
                    <th> Review</th>
                    <td><?= el($virtueReview->review) ?></td>
                </tr>
                <tr>
                    <th>Due Date of Review</th>
                    <td><?= el($virtueReview->date_review) ?></td>
                </tr>
                <tr id="reasonLate"  style="display:none;">
                    <th>Reason Late</th>
                    <td><?= el($virtueReview->reason_late) ?></td>
                </tr>
                <tr>
                    <th>Date Portfolio Report Issued</th>
                    <td><?= el($virtueReview->date_portfolio) ?></td>
                </tr>
                <tr>
                    <th>Date Review Took place</th>
                    <td><?= el($virtueReview->date_review_when) ?></td>
                </tr>
                <tr>
                    <th>Review Location </th>
                    <td><?= el($virtueReview->location) ?></td>
                </tr>
                <tr id="otherLocation">
                    <th>Other Location </th>
                    <td><?= el($virtueReview->otherlocation) ?></td>
                </tr>
                <tr>
                    <th>Date Pre Review Letter Issued</th>
                    <td><?= el($virtueReview->pre_review_letter) ?></td>
                </tr>
                <tr>
                    <th>Date Post Review Letter Issued</th>
                    <td><?= el($virtueReview->post_review_letter) ?></td>
                </tr>
                <tr>
                    <th>Suitabilitiy Returned</th>
                    <td><?= el($virtueReview->suitability_returned) ?></td>
                </tr>
                <tr>
                    <th> Clients Pre Review ATR</th>
                    <td><?= el($virtueReview->client_pre_review) ?></td>
                </tr>
                <tr>
                    <th>Clients Post Review ATR</th>
                    <td><?= el($virtueReview->client_post_review) ?></td>
                </tr>

            <!--Grabs the client ID and passes it through via the notification.save top button-->
                <input type="hidden" id="virtuereview[policy]" name="virtuereview[policy]" value="<?= $policy->id() ?>"/>
                <input type="hidden" id="virtuereview[partner]" name="virtuereview[partner]" value="<?= $policy->client->get_object()->partner->id() ?>"/>

            </table>
            <input id="submitReview" type="submit" value="Save Changes"/><br />
            <span class="status">&nbsp;</span>
        </div>
    </form>

</div>



