<?php
    $virtue = new Virtue($virtueID, true);

    $s = new Search(new VirtueCleansing);
    $s -> eq( 'client', $client);
    while( $r = $s -> next( MYSQLI_ASSOC  ) ){
        $experian = $r->experian_date();
        $sent_to_provider = $r->sent_provider();
    }
    if(!$experian){
        $experian = "--";
    }else{
        $experian = date("d/m/Y", strtotime($experian));
    }
    if(!$sent_to_provider){
        $sent_to_provider = "--";
    }else{
        $sent_to_provider = date("d/m/Y", strtotime($sent_to_provider));
    }

    $client = new Client($client, true);


    // display placeholder text for acorn class (always null at the moment)
    if($virtue->acorn_class() != null){
        $acorn = $virtue->acorn_class();
    }else{
        $acorn = "--";
    }
?>
<script type="text/javascript">
$( function( ){

    var frame = $( "#<?=_LINK?>" );
	var form = $("form#cleansing_form",frame);
	
	window.pop = frame.popup_config({
        title: "Virtue Profile for <?=$client?>",
		center: true
	});

    $('button#submit', form).click(function() {
        $.ajax({
            'url': "<?=Virtue::index_url(array('id'=>$virtue->id, 'do'=>'save_cleansing'))?>",
            'type': "POST",
            'dataType': "json",
            'data': {
                virtue: { // Lets pass through all fields as .serialize() doesn't like our booleans!
                    experian_date: $("#virtue\\[experian_date\\]\\[Y\\]").val()+"-"+ $("#virtue\\[experian_date\\]\\[M\\]").val()+"-"+$("#virtue\\[experian_date\\]\\[D\\]").val(),
                    pension_plan: $("#virtue\\[pension_plan\\]").val(),
                    investment_plan: $("#virtue\\[investment_plan\\]").val(),
                    term_plan: $("#virtue\\[term_plan\\]").val()
                }
            },
            'success': function( r ){
                if(r.error){
                    $("span#cleansing_status").text(r.error).removeClass().addClass('bad_news');
                }
                else{
                    $("span#cleansing_status").text("Record successfully updated").removeClass().addClass('good_news').show().fadeOut(2000, function() {
                        $("span#cleansing_status").empty();
                    });
                }
            }
        });
    });

});
</script>

<style type="text/css">
#<?=_LINK?>{ /* make every tab content width the same */
    min-width: 1200px;
}
#<?=_LINK?> div.panel {
    margin: 5px;
}
#<?=_LINK?> div.left-col{
    width: 33%;
}
#<?=_LINK?> div.left-col, #<?=_LINK?> div.center-col {
    float: left;
    width: 33%;
}
#<?=_LINK?> div.right-col {
    float: right;
    width: 33%;
}
#cleansing_form{
    min-width: 100%;
}
th{
    padding: 0 0 10px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="cleansing_form" name="cleansing_form" action="<?= Virtue::get_common_url(array("do"=>"save")) ?>" method="POST">
        <div class="card">
            <div class="card-header">Cleansing</div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="pr-2">
                            <div class="card">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th width="160px">Account</th>
                                            <td><?= $client->partner->link() ?></td>
                                        </tr>
                                        <tr>
                                            <th>Client: </th>
                                            <td><?=$client->link()?></td>
                                        </tr>
                                        <tr>
                                            <th width="160px">Experian</th>
                                            <td><?=$experian?></td>
                                        </tr>
                                        <tr>
                                            <th>Pension Plan</th>
                                            <td><?= Virtue::has_pension_plan($client->id()) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Investment Plan</th>
                                            <td><?= Virtue::has_investment_plan($client->id()) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Term Plan</th>
                                            <td><?= Virtue::has_term_plan($client->id()) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Unknown Policies</th>
                                            <td><?= Virtue::has_unknown_policies($client->id()) ?></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="px-2">
                            <div class="card">
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th width="160px">12 Month GRI</th>
                                            <td><?= Client::client_gri($client->id, false) ?></td>
                                        </tr>
                                        <tr>
                                            <th><?=$client->one?></th>
                                            <td><?= Client::client_age($client, "one") ?></td>
                                        </tr>
                                        <?php if($client->two->dob()){ ?>
                                        <tr>
                                            <th><?=$client->two?></th>
                                            <td><?= Client::client_age($client, "two") ?></td>
                                        </tr>
                                        <?php } ?>
                                        <tr>
                                            <th>Salutation</th>
                                            <td><?= Client::has_salutation($client) ?></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="pl-2">
                            <div class="card">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th width="230px">12 Month Correspondence</th>
                                            <td><?= Client::has_corr_image($client) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Acorn Class</th>
                                            <td><?=$acorn?></td>
                                        </tr>
                                        <tr>
                                            <th>Letter sent to Provider</th>
                                            <td><?=$sent_to_provider?>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!--p align="right">
            <span id="cleansing_status"></span>
            <button id='submit' name='submit'>Submit</button>
        </p-->
        </div>
    </form>

</div>