<?php
    $virtue = new Virtue($virtueID, true);
    $client = new Client($client, true);
?>
<script type="text/javascript">
    $( function( ){

        var frame = $( "#<?=_LINK?>" );
        var form = $("form#ongoing_form",frame);

        window.pop = frame.popup_config({
            title: "Virtue Profile for <?=$client?>",
            center: true
        });


        $('button#submit', form).click(function() {
            $.ajax({
                'url': "<?=Virtue::index_url(array('id'=>$virtue->id, 'do'=>'save_ongoing'))?>",
                'type': "POST",
                'dataType': "json",
                'data': {
                    virtue: { // Lets pass through all fields as .serialize() doesn't like our booleans!
                        report_sent_date: $("#virtue\\[report_sent_date\\]\\[Y\\]", form).val()+"-"+ $("#virtue\\[report_sent_date\\]\\[M\\]", form).val()+"-"+$("#virtue\\[report_sent_date\\]\\[D\\]", form).val(),
                        report_due: $("#virtue\\[report_due\\]\\[Y\\]").val()+"-"+ $("#virtue\\[report_due\\]\\[M\\]").val()+"-"+$("#virtue\\[report_due\\]\\[D\\]").val(),
                        frequency: $("#virtue\\[frequency\\]").val(),
                        service_package: $("#virtue\\[service_package\\]", form).val(),
                        ps_adviser: $("#virtue\\[ps_adviser\\]", form).val(),
                        review_date: $("#virtue\\[review_date\\]\\[Y\\]").val()+"-"+ $("#virtue\\[review_date\\]\\[M\\]").val()+"-"+$("#virtue\\[review_date\\]\\[D\\]").val(),
                    }
                },
                'success': function( r ){
                    if(r.error){
                        $("span#ongoing_status").text(r.error).removeClass().addClass('bad_news');
                    }
                    else{
                        //update report sent field on 'on going' tab
                        $("#virtue\\[report_sent_date\\]\\[Y\\], form#reporting_form").val( $("#virtue\\[report_sent_date\\]\\[Y\\]", form).val());
                        $("#virtue\\[report_sent_date\\]\\[M\\], form#reporting_form").val( $("#virtue\\[report_sent_date\\]\\[M\\]", form).val());
                        $("#virtue\\[report_sent_date\\]\\[D\\], form#reporting_form").val( $("#virtue\\[report_sent_date\\]\\[D\\]", form).val());
                        //fill report follow up with +4 week date (reporting tab) as these are interlinked
                        $("#virtue\\[report_follow_up\\]\\[Y\\], form#reporting_form").attr("value", r.y);
                        $("#virtue\\[report_follow_up\\]\\[M\\], form#reporting_form").attr("value", r.m);
                        $("#virtue\\[report_follow_up\\]\\[D\\], form#reporting_form").attr("value", r.d);

                        // as these fields are also on the profile tab, update the display to the new value rather than refreshing all the tabs
                        $("#virtue\\[service_package\\], form#profile_form").val( $("#virtue\\[service_package\\]", form).val());
                        $("#virtue\\[ps_adviser\\], form#profile_form").val( $("#virtue\\[ps_adviser\\]", form).val());

                        $("span#ongoing_status").text("Record successfully updated").removeClass().addClass('good_news').show().fadeOut(2000, function() {
                            $("span#ongoing_status").empty();
                        });
                    }
                }
            });
        });

    });
</script>

<style type="text/css">
#<?=_LINK?>{ /* make every tab content width the same */
    min-width: 1200px;
}
#<?=_LINK?> div.panel {
    margin: 5px;
}
#<?=_LINK?> div.left-col{
    width: 33%;
}
#<?=_LINK?> div.left-col, #<?=_LINK?> div.center-col {
  float: left;
  width: 33%;
}
#<?=_LINK?> div.right-col {
    float: right;
    width: 33%;
}
#ongoing_form{
    min-width: 100%;
}
th{
    padding: 0 0 10px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="ongoing_form" name="ongoing_form" action="<?= Virtue::get_common_url(array("do"=>"save")) ?>" method="POST">
        <div class="card">
        <div class="card-header">On Going</div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-4">
                    <div class="pr-2">
                        <div class="card">

                            <div class="card-body">
                                <table>
                                    <tr>
                                        <th width="160px">Account</th>
                                        <td><?= $client->partner->link() ?></td>
                                    </tr>
                                    <tr>
                                        <th>Client: </th>
                                        <td><?=$client->link()?></td>
                                    </tr>
                                    <tr>
                                        <th width="160px">Report Sent</th>
                                        <td><?=el($virtue->report_sent_date)?></td>
                                    </tr>
                                    <tr>
                                        <th width="160px">Report Due</th>
                                        <td><?=el($virtue->report_due)?></td>
                                    </tr>
                                    <tr>
                                        <th width="160px">Review Date</th>
                                        <td><?=el($virtue->review_date)?></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="px-2">
                        <div class="card">

                            <div class="card-body">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th>Frequency</th>
                                        <td><?=el($virtue->frequency)?></td>
                                    </tr>
                                    <tr>
                                        <th>Level of Service</th>
                                        <td><?=el($virtue->service_package)?></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="pl-2">
                        <div class="card">

                            <div class="card-body">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th width="160px">Client Agreement</th>
                                        <td><?= Client::has_client_agreement($client->id()) ?></td>
                                    </tr>
                                    <tr>
                                        <th width="160px">PS Contact</th>
                                        <td><?=el($virtue->ps_adviser)?></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="px-3">
                        <p align="right">
                            <span id="ongoing_status"></span>
                            <button id='submit' name='submit'>Submit</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

</div>