<?php
// Check if there is already a virtue entry for client, if not, lets have some empty fields
$s = new Search( new Virtue );
$s -> eq("client_id", $client->id());

if (!$virtue = $s -> next(MYSQLI_ASSOC )) {
    $virtue = new Virtue();
}

// Find any active workflow tickets belonging to client and use later on to find latest stage and due date
$w = new Search( new Workflow );
$w -> eq("object", "Client");
$w -> eq("object_index", $client->id);
$wc = $w -> next(MYSQLI_ASSOC );

// Obtain previous adviser if in existance and get object
$prev_partner = Virtue::get_previous_partner($client->id());
if($prev_partner) { $pp = new Partner($prev_partner, true); }
?>

<script type="text/javascript">

$( function( ){

    var frame = $( "#<?=_LINK?>" );
	var form = $("form#profile_form",frame);
	
	window.pop = frame.popup_config({
		title: "Virtue Profile for <?=$client?>",
		center: true,
	});


    //show cross on tickboxes #TODO - why does this not happen by default..?
    $('.bool').each(function() {
        if( $(this).attr("value") == 0 ){
            $(this).attr("value", 0);
        }
    });

    $('button#submit', form).click(function() {

        $.ajax({
            'url': "<?=Virtue::index_url(array('id'=>$virtue->id, 'do'=>'save'))?>",
            'type': "POST",
            'dataType': "json",
            'data': {
                virtue: { // Lets pass through all fields as .serialize() doesn't like our booleans!
                    client: "<?= $client->id ?>",
                    known_as: $("#virtue\\[known_as\\]").val(),
                    active: $("#virtue\\[active\\]").val(),
                    company: $("#virtue\\[company\\]").val(),
                    left_sjp: $("#virtue\\[left_sjp\\]").val(),
                    date_left_sjp: $("#virtue\\[date_left_sjp\\]\\[Y\\]").val()+"-"+$("#virtue\\[date_left_sjp\\]\\[M\\]").val()+"-"+$("#virtue\\[date_left_sjp\\]\\[D\\]").val(),
                    stage: $("#virtue\\[stage\\]").val(),
                    no_deal_conf: $("#virtue\\[no_deal_conf\\]\\[Y\\]").val()+"-"+$("#virtue\\[no_deal_conf\\]\\[M\\]").val()+"-"+$("#virtue\\[no_deal_conf\\]\\[D\\]").val(),
                    further_action: $("#virtue\\[further_action\\]").val(),
                    six_monthly: $("#virtue\\[six_monthly\\]").val(),
                    annually: $("#virtue\\[annually\\]").val(),
                    send_report_on: $("#virtue\\[send_report_on\\]\\[Y\\]").val()+"-"+$("#virtue\\[send_report_on\\]\\[M\\]").val()+"-"+$("#virtue\\[send_report_on\\]\\[D\\]").val(),
                    call_notes: $("#virtue\\[call_notes\\]").val(),
                    money_info: $("#virtue\\[money_info\\]").val(),
                    intelligent_office: $("#client\\[intelligent_office\\]").val(),
                    separated: $("#virtue\\[separated\\]").val(),
                    ps_adviser: $("#virtue\\[ps_adviser\\]").val(),
                    soft_facts: $("#virtue\\[soft_facts\\]").val(),
					service_package: $("#virtue\\[service_package\\]").val(),
                    letter_sent: $("#virtue\\[letter_sent\\]").val(),
                    satisfaction_letter: $("#virtue\\[satisfaction_letter\\]").val(),
                    report_sent: $("#virtue\\[report_sent\\]").val(),
                    call_back: $("#virtue\\[call_back\\]").val(),
                    no_deal: $("#virtue\\[no_deal\\]").val()
                }
            },
            'success': function( r ){
                if(r.error){
                    $("span#virtue_status").text(r.error).removeClass().addClass('bad_news');
                }
                else{
                    // as these fields are also on the on-going tab, update the display to the new value rather than refreshing all the tabs
                    $("#virtue\\[service_package\\], form#ongoing_form").val( $("#virtue\\[service_package\\]", form).val());
                    $("#virtue\\[ps_adviser\\], form#ongoing_form").val( $("#virtue\\[ps_adviser\\]", form).val());

                    $("span#virtue_status").text("Record successfully updated").removeClass().addClass('good_news').show().fadeOut(2000, function() {
                        $("span#virtue_status").empty();
                    });
                }
            }
        });

    });

});
</script>

<style type="text/css">
#<?=_LINK?>.tabs > div > div { /* make every tab content width the same */
    min-width: 900px;
}
#<?=_LINK?> div.panel {
    margin: 5px;
}
#<?=_LINK?> div.left-col{
    width: 33%;
}
#<?=_LINK?> div.left-col, #<?=_LINK?> div.center-col {
    float: left;
    width: 33%;
}
#<?=_LINK?> div.right-col {
    float: right;
    width: 33%;
}
#profile_form{
    min-width: 100%;
}
textarea {
    width: 97%;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

<div id="data" name="data">

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mail-tab" data-toggle="tab" href="#<?=_LINK?>correspondence">Correspondence</a>
        </li>
        <li class="nav-item">
            <a class="nav-link wf-tab" data-toggle="tab" href="#<?=_LINK?>workflow">Workflow</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>calls">Calls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>cleansing">Cleansing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>prospecting">Prospecting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>reporting">Reporting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>ongoing">On Going</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>transfers">Agency Transfers</a>
        </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="<?=_LINK?>profile">

            <form id="profile_form" name="profile_form" action="<?= Virtue::get_common_url(['do'=>'save']) ?>" method="POST">

                <input type="hidden" id="virtue[client]" name="virtue[client]" value="<?= $client->id ?>" />

                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="pr-2">
                            <div class="card mb-3">
                                <div class="card-header">General Information</div>
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th width="160px">Account</th>
                                            <td><?= $client->partner->link() ?></td>
                                        </tr>
                                        <tr>
                                            <th width="160px">Client</th>
                                            <td><?= $client->link() ?></td>
                                        </tr>
                                        <tr>
                                            <th>Known As</th>
                                            <td><?= el($virtue->known_as) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Client Address</th>
                                            <td><?= $client->address ?></td>
                                        </tr>
                                        <tr>
                                            <th>Client Telephone</th>
                                            <td><?= $client->phone ?></td>
                                        </tr>
                                        <tr>
                                            <th>Acorn Class</th>
                                            <td><?php if($virtue->acorn_class->__toString()){echo $virtue->acorn_class->__toString();}else{echo "--";} ?></td>
                                        </tr>
                                        <tr>
                                            <th>Previous Adviser</th>
                                            <?php if( $prev_partner ) { ?>
                                            <td><?= $client->partner($pp->id)->link($pp) ?></td>
                                            <?php } else { ?>
                                            <td>No Previous Adviser</td>
                                            <?php } ?>
                                        </tr>
                                        <tr>
                                            <th>Active</th>
                                            <td><?= el($virtue->active) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Company</th>
                                            <td><?= el($virtue->company) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Left SJP</th>
                                            <td><?= el($virtue->left_sjp ) ?> <?= el($virtue->date_left_sjp ) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Stage</th>
                                            <td><?= el($virtue->stage ) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Service Package</th>
                                            <td><?= el($virtue->service_package ) ?></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">Further Action</div>
                                <div class="card-body">
                                    <textarea id="virtue[further_action]" name="virtue[further_action]" rows="5"><?= $virtue->further_action ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="px-2">
                            <div class="card mb-3">
                                <div class="card-header">Workflow Status</div>
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                        <?php if( $wc ) { ?>
                                        <tr>
                                            <th>Latest</th>
                                            <td><?= $wc->step ?></td>
                                        </tr>
                                        <tr>
                                            <th>Due</th>
                                            <td><?= $wc->due ?></td>
                                        </tr>
                                        <?php } else { ?>
                                        <tr>
                                            <th>No workflow ticket for client</th>
                                        </tr>
                                        <?php } ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">Reports</div>
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th>6 Monthly</th>
                                            <td><?= el($virtue->six_monthly) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Annually</th>
                                            <td><?= el($virtue->annually) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Send Report On</th>
                                            <td><?= el($virtue->send_report_on) ?></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">Notes From Call</div>
                                <div class="card-body">
                                    <textarea id="virtue[call_notes]" name="virtue[call_notes]" rows="5"><?= $virtue->call_notes ?></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="pl-2">
                            <div class="card mb-3">
                                <div class="card-header">Other</div>
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th>Money Info</th>
                                            <td><?= el($virtue->money_info) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Intelligent Office</th>
                                            <td><?= el($client->intelligent_office) ?></td>
                                        </tr>
                                        <tr>
                                            <th>12m GRI</th>
                                            <td><?= Client::client_gri($client->id, false) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Total Policies</th>
                                            <td><?= Client::total_policies($client->id) ?></td>
                                        </tr>
                                        <tr>
                                            <th>PS Contact</th>
                                            <td><?= el($virtue->ps_adviser) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Client Separated</th>
                                            <td><?= el($virtue->separated) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Letter Sent</th>
                                            <td><?= el($virtue->letter_sent) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Satisfaction Letter Sent</th>
                                            <td><?= el($virtue->satisfaction_letter) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Report Sent</th>
                                            <td><?= el($virtue->report_sent) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Call Back Required</th>
                                            <td><?= el($virtue->call_back) ?></td>
                                        </tr>
                                        <tr>
                                            <th>No Deal</th>
                                            <td><?= el($virtue->no_deal) ?></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-header">Soft Facts</div>
                                <div class="card-body">
                                    <textarea id="virtue[soft_facts]" name="virtue[soft_facts]" rows="5"><?= $virtue->soft_facts ?></textarea>
                                </div>
                            </div>

                            <p align="right">
                                <span id="virtue_status"></span>
                                <button id='submit' name='submit'>Submit</button>
                            </p>
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <div class="tab-pane fade" id="<?=_LINK?>correspondence">
          <?= Template(Correspondence::get_template_path( "plugin.html" ), array( "excludes"=>array('client','message'), "filter"=>array("client"=>$client->id()))); ?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>workflow">
            <?= Template(Workflow::get_template_path( "plugin.html" ), array("property"=>"client", "id"=>$client->id(), "excludes"=>array("policy","client")));?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>calls">
            <?= Template(Call::get_template_path( "plugin.html" ), array( "obj"=>"Client", "id"=>$client->id() )); ?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>cleansing">
            <?= Template(Virtue::get_template_path( "cleansing.html" ), array( "virtueID"=>$virtue->id(), "client"=>$client->id() )); ?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>prospecting">
            <?= Template(Virtue::get_template_path( "prospecting.html" ), array( "virtueID"=>$virtue->id(), "client"=>$client->id() )); ?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>reporting">
            <?= Template(Virtue::get_template_path( "reporting.html" ), array( "virtueID"=>$virtue->id(), "client"=>$client->id() )); ?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>ongoing">
            <?= Template(Virtue::get_template_path( "ongoing.html" ), array( "virtueID"=>$virtue->id(), "client"=>$client->id() )); ?>
        </div>

        <div class="tab-pane fade" id="<?=_LINK?>transfers">
            <?= Template(Virtue::get_template_path( "vm_agency.html" ), array( "virtueID"=>$virtue->id(), "client"=>$client->id() )); ?>
        </div>

    </div>

</div>

</div>
