<?php
    $virtue = new Virtue($virtueID, true);
    $client = new Client($client, true);

    $s = new Search( new VirtueCleansing );
    $s->eq( 'client', $client->id());

    while( $d = $s -> next( MYSQLI_ASSOC  ) ){
        $vc = new VirtueCleansing($d->id(), true);
    }

    //parameters used for attractive rating
    $gri = Client::client_gri($client->id, false);
    $c1_age = Client::client_age($client, "one");
    $c2_age = Client::client_age($client, "two");
    $has_corr = Client::has_corr_last_12months($client);
    $has_p_and_i = Virtue::has_p_and_i($client->id());

    // display placeholder text for acorn class (always null at the moment)
    if($virtue->acorn_class() != null){
        $acorn = $virtue->acorn_class();
    }else{
        $acorn = "--";
    }
?>
<script type="text/javascript">
    $( function( ){

        var frame = $( "#<?=_LINK?>" );
        var form = $("form#prospecting_form",frame);

        window.pop = frame.popup_config({
            title: "Virtue Profile for <?=$client?>",
            center: true
        });

        //disable follow_up_date field for auto fill-in, +4weeks from date_letter
        $("#virtue\\[follow_up_date\\]\\[Y\\]", form).attr("disabled", "disabled");
        $("#virtue\\[follow_up_date\\]\\[M\\]", form).attr("disabled", "disabled");
        $("#virtue\\[follow_up_date\\]\\[D\\]", form).attr("disabled", "disabled");

        $('button#submit', form).click(function() {
            $.ajax({
                'url': "<?=Virtue::index_url(array('id'=>$virtue->id, 'do'=>'save_prospecting'))?>",
                'type': "POST",
                'dataType': "json",
                'data': {
                    virtue: { // Lets pass through all fields as .serialize() doesn't like our booleans!
                        tel_pref: $("#virtuecleansing\\[tel_pref\\]").val(),
                        mail_pref: $("#virtue\\[mail_pref\\]").val(),
                        letter_type: $("#virtue\\[letter_type\\]").val(),
                        date_letter: $("#virtue\\[date_letter\\]\\[Y\\]").val()+"-"+ $("#virtue\\[date_letter\\]\\[M\\]").val()+"-"+$("#virtue\\[date_letter\\]\\[D\\]").val(),
                        outcome: $("#virtue\\[outcome\\]").val()
                    }
                },
                'success': function( r ){
                    if(r.error){
                        $("span#prospecting_status").text(r.error).removeClass().addClass('bad_news');
                    }
                    else{
                        $("#virtue\\[follow_up_date\\]\\[Y\\]", form).attr("value", r.y);
                        $("#virtue\\[follow_up_date\\]\\[M\\]", form).attr("value", r.m);
                        $("#virtue\\[follow_up_date\\]\\[D\\]", form).attr("value", r.d);
                        $("span#prospecting_status").text("Record successfully updated").removeClass().addClass('good_news').show().fadeOut(2000, function() {
                            $("span#prospecting_status").empty();
                        });
                    }
                }
            });
        });

    });
</script>

<style type="text/css">
#<?=_LINK?>{ /* make every tab content width the same */
    min-width: 1200px;
}
#<?=_LINK?> div.panel {
    margin: 5px;
}
#<?=_LINK?> div.left-col{
    width: 33%;
}
#<?=_LINK?> div.left-col, #<?=_LINK?> div.center-col {
    float: left;
    width: 33%;
}
#<?=_LINK?> div.right-col {
    float: right;
    width: 33%;
}
#prospecting_form{
    min-width: 100%;
}
.panel_content{
    text-align:center;
    font-size:24px;
}
th{
    padding: 0 0 10px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="prospecting_form" name="prospecting_form" action="<?= Virtue::get_common_url(array("do"=>"save")) ?>" method="POST">
        <div class="card">
            <div class="card-header">Prospecting</div>
            <div class="card-body">
                <div class="row no-gutters">
                    <div class="col-4">
                        <div class="pr-2">
                            <div class="card">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th width="160px">Account</th>
                                            <td><?= $client->partner->link() ?></td>
                                        </tr>
                                        <tr>
                                            <th>Client: </th>
                                            <td><?=$client->link()?></td>
                                        </tr>
                                        <tr>
                                            <th width="160px">Telephone Preference Service</th>
                                            <td><?= el($vc->tel_pref) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Mail Preference Service</th>
                                            <td><?= el($virtue->mail_pref) ?></td>
                                        </tr>
                                    </table>
                                    <div class="panel">
                                        <h1>Attractive Rating</h1>
                                        <p class="panel_content"><?= Virtue::attractive_rating($virtue->id(), $gri, $c1_age, $c2_age, $has_corr, $has_p_and_i) ?> / 5</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="px-2">
                            <div class="card">
                                <div class="card-body">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th width="160px">Acorn Class</th>
                                            <td><?=$acorn?></td>
                                        </tr>
                                        <tr>
                                            <th>Letter Type</th>
                                            <td><?= el($virtue->letter_type) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Date Letter Sent</th>
                                            <td><?= el($virtue->date_letter) ?></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="pl-2">
                            <div class="card">
                                <div class="card-body">
                                    <table>
                                        <tr>
                                            <th width="160px">Follow Up Date<br/>+ 4 weeks</th>
                                            <td><?= el($virtue->follow_up_date) ?></td>
                                        </tr>
                                        <tr>
                                            <th>Outcome</th>
                                            <td><?= el($virtue->outcome) ?></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="px-3">
                        <p align="right">
                            <span id="prospecting_status"></span>
                            <button id='submit' name='submit'>Submit</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>