<?php
    $virtue = new Virtue($virtueID, true);
    $client = new Client($client, true);
?>
<script type="text/javascript">
    $( function( ){

        var frame = $( "#<?=_LINK?>" );
        var form = $("form#reporting_form",frame);

        window.pop = frame.popup_config({
            title: "Virtue Profile for <?=$client?>",
            center: true
        });

        //disable follow_up_date field for auto fill-in, +4weeks from date_letter
        $("#virtue\\[report_follow_up\\]\\[Y\\]", form).attr("disabled", "disabled");
        $("#virtue\\[report_follow_up\\]\\[M\\]", form).attr("disabled", "disabled");
        $("#virtue\\[report_follow_up\\]\\[D\\]", form).attr("disabled", "disabled");

        $('button#submit', form).click(function() {
            $.ajax({
                'url': "<?=Virtue::index_url(array('id'=>$virtue->id, 'do'=>'save_reporting'))?>",
                'type': "POST",
                'dataType': "json",
                'data': {
                    virtue: { // Lets pass through all fields as .serialize() doesn't like our booleans!
                        report_sent_date: $("#virtue\\[report_sent_date\\]\\[Y\\]").val()+"-"+ $("#virtue\\[report_sent_date\\]\\[M\\]").val()+"-"+$("#virtue\\[report_sent_date\\]\\[D\\]").val(),
                        report_results: $("#virtue\\[report_results\\]").val(),
                        contact: $("#virtue\\[contact\\]").val(),
                        follow_up_letter_sent: $("#virtue\\[follow_up_letter_sent\\]\\[Y\\]").val()+"-"+ $("#virtue\\[follow_up_letter_sent\\]\\[M\\]").val()+"-"+$("#virtue\\[follow_up_letter_sent\\]\\[D\\]").val(),
                    }
                },
                'success': function( r ){
                    if(r.error){
                        $("span#reporting_status").text(r.error).removeClass().addClass('bad_news');
                    }
                    else{
                        //update report sent field on 'on going' tab
                        $("#virtue\\[report_sent_date\\]\\[Y\\]").val( $("#virtue\\[report_sent_date\\]\\[Y\\]").val());
                        $("#virtue\\[report_sent_date\\]\\[M\\]").val( $("#virtue\\[report_sent_date\\]\\[M\\]").val());
                        $("#virtue\\[report_sent_date\\]\\[D\\]").val( $("#virtue\\[report_sent_date\\]\\[D\\]").val());

                        //fill report follow up with +4 week date
                        $("#virtue\\[report_follow_up\\]\\[Y\\]", form).attr("value", r.y);
                        $("#virtue\\[report_follow_up\\]\\[M\\]", form).attr("value", r.m);
                        $("#virtue\\[report_follow_up\\]\\[D\\]", form).attr("value", r.d);

                        $("span#reporting_status").text("Record successfully updated").removeClass().addClass('good_news').show().fadeOut(2000, function() {
                            $("span#reporting_status").empty();
                        });
                    }
                }
            });
        });

    });
</script>

<style type="text/css">
#<?=_LINK?>{ /* make every tab content width the same */
    min-width: 1200px;
}
#<?=_LINK?> div.panel {
    margin: 5px;
}
#<?=_LINK?> div.left-col{
        width: 33%;
    }
#<?=_LINK?> div.left-col, #<?=_LINK?> div.center-col {
    float: left;
    width: 33%;
}
#<?=_LINK?> div.right-col {
    float: right;
    width: 33%;
}
#reporting_form{
    min-width: 100%;
}
th{
    padding: 0 0 10px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="reporting_form" name="reporting_form" action="<?= Virtue::get_common_url(array("do"=>"save")) ?>" method="POST">
        <div class="card">
        <div class="card-header">Reporting</div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-4">
                    <div class="pr-2">
                        <div class="card">

                            <div class="card-body">
                                <table>
                                    <tr>
                                        <th width="160px">Account</th>
                                        <td><?= $client->partner->link() ?></td>
                                    </tr>
                                    <tr>
                                        <th>Client: </th>
                                        <td><?=$client->link()?></td>
                                    </tr>
                                    <tr>
                                        <th width="160px">Report Sent</th>
                                        <td><?=el($virtue->report_sent_date)?></td>
                                    </tr>
                                    <tr>
                                        <th>Report Follow Up<br/>+ 4 weeks</th>
                                        <td><?=el($virtue->report_follow_up)?></td>
                                    </tr>
                                    <tr>
                                        <th>Report Results</th>
                                        <td><?=el($virtue->report_results)?></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="px-2">
                        <div class="card">

                            <div class="card-body">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th width="160px">Contact</th>
                                        <td><?=el($virtue->contact)?></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="pl-2">
                        <div class="card">

                            <div class="card-body">
                                <table>
                                    <tr>
                                        <th width="160px">Follow Up Letter Sent</th>
                                        <td><?=el($virtue->follow_up_letter_sent)?></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="px-3">
                        <p align="right">
                            <span id="reporting_status"></span>
                            <button id='submit' name='submit'>Submit</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </form>

</div>