<?php
    $virtue = new Virtue($virtueID, true);
    $client = new Client($client, true);
?>
<script type="text/javascript">
    $( function( ){

        var frame = $( "#<?=_LINK?>" );
        window.pop = frame.popup_config({
            title: "Virtue Profile for <?=$client?>",
            center: true
        });

        $.ajax({
            'url': "<?=Virtue::index_url(array('id'=>$virtue->id, 'do'=>'vm_agency_transfers'))?>",
            'type': "GET",
            'dataType': "json",
            'data': {
                "client": "<?=$client->id()?>"
            },
            'success': function( r ){
                $(".content", frame).html(r.data);
            }
        });

    });
</script>

<style type="text/css">
#<?=_LINK?>{ /* make every tab content width the same */
    min-width: 1200px;
}
#<?=_LINK?> div.panel {
    margin: 5px;
}
#transferred_tbl{
    min-width: 100%;
}
th{
    padding: 0 0 10px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

   <div id="vm_agency_transfers">
       <table id="transferred_tbl" class="scrollable">
           <thead>
           <tr>
               <th>Policy Number</th>
               <th>Issuer</th>
               <th>Status</th>
               <th>In Agency</th>
           </tr>
           </thead>
           <tbody class="content">
           </tbody>
       </table>
   </div>

</div>