<style>
    .split_table_wrapper{
        max-height: 700px;
        overflow-y: scroll;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var splitCounter = 0;

        function load_splits(){
            //show loading spinner
            $("#split_table .content", frame).html("<tr><td colspan='6' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>");

            $.ajax({
                url: "/pages/splitting/assign.php?do=list",
                type: "GET",
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        $("#split_table .content", frame).html(response.data);
                    } else {
                        alert(response.error);
                    }
                }
            });
        }

        load_splits();

        $("#split_type", frame).on("change", function(){
            $("#client_policy_count", frame).html($(this).text());

            load_splits();
        });

        function allocateSplit(id, user, mass = 0){
            $.ajax({
                url: "/pages/splitting/assign.php?do=assign",
                type: "GET",
                data: {
                    id: id,
                    user: user,
                },
                dataType: "JSON",
                success: function(response){
                    $("#assign-feedback", frame).removeClass("text-success").removeClass("text-danger");

                    if (mass){
                        if (response.success){
                            splitCounter++;

                            var row = $("#split_row_"+id, frame);

                            $(".assigner #staff_filter", row).val(user);

                            if (splitCounter === mass){
                                $("#mass_assign_modal", frame).modal("hide");
                                $("#assign-feedback", frame).addClass("text-success").html("<i class='fas fa-check'></i>&nbsp;"+mass+" splits have been assigned to "+$("#mass-assign-select #staff_filter option:selected", frame).text());
                                splitCounter = 0;
                            }
                        } else {
                            $("#assign-feedback", frame).addClass("text-danger").html("<i class='fas fa-times'></i>&nbsp;"+response.data);
                            splitCounter = 0;
                        }

                    } else {
                        if (response.success){
                            $("#assign-feedback", frame).addClass("text-success").html("<i class='fas fa-check'></i>&nbsp;");
                        } else {
                            $("#assign-feedback", frame).addClass("text-danger").html("<i class='fas fa-times'></i>&nbsp;");
                        }

                        $("#assign-feedback", frame).append(response.data);
                    }

                    setTimeout(function(){
                        $("#assign-feedback", frame).removeClass("text-success").removeClass("text-danger").html("");
                    }, 3000);
                }
            });
        }

        $(frame).on("change", ".assigner #staff_filter", function(){
            var id = $(this).closest("tr").data("id");
            var user = $(this).val();

            allocateSplit(id, user);
        });

        $("#check_all", frame).on("change", function(){
            $(".split_check", frame).attr("checked", $(this).is(":checked"));
            $("#assign_all", frame).attr("disabled", !$(this).is(":checked"));
        });

        $(frame).on("change", ".split_check", function(){
            var count = $(".split_check:checked", frame).length;

            $("#assign_all", frame).attr("disabled", (count === 0));
        });

        $("#assign_all", frame).on("click", function(){
            var count = $(".split_check:checked", frame).length;

            $("#split_count", frame).html(count + " " + pluralize(count, 'split'));
        });

        $("#submit-mass-assign", frame).on("click", function(){
            var user = $("#mass-assign-select #staff_filter", frame).val();

            $(".split_check:checked", frame).each(function(){
                allocateSplit($(this).val(), user, $(".split_check:checked").length);
            })
        })
    });
</script>

<div id="<?=_LINK?>">
    <div class="clearfix">
        <div class="float-left">
            <p class="mb-0" id="assign-feedback"></p>
        </div>
        <div class="float-right">
            <button id="assign_all" disabled data-toggle="modal" data-target="#mass_assign_modal">Mass-Assign</button>
        </div>
    </div>

    <div class="split_table_wrapper">
        <table class="table table-striped" id="split_table">
            <thead>
            <tr>
                <th><input type="checkbox" id="check_all"></th>
                <th>ID</th>
                <th id="client_policy_count">Clients</th>
                <th>Proposed By</th>
                <th>Proposed When</th>
                <th>Assign To</th>
            </tr>
            </thead>
            <tbody class="content">
            </tbody>
        </table>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="mass_assign_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mass-Assign Splits</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select a user below to assign <span id="split_count">0 splits</span> to.</p>
                    <div class="text-center" id="mass-assign-select">
                        <?= User::active_users(7); ?>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit-mass-assign">Assign</button>
                </div>
            </div>
        </div>
    </div>
</div>