<script type="text/javascript">
    $(function( ) {
        var frame = $("#<?=_LINK?>");

        function loadClientSplits(){
            $("#cli_split .content", frame).load("/pages/splitting/index.php?object=client&id=<?=$_COOKIE['uid']?>&list=client");
        }

        loadClientSplits();

        window.loadClientSplits = function(){
            loadClientSplits();
        };

        $(frame).on("click", ".delete-split", function(){
            var id = $(this).data("id");

            if (confirm("Delete this split request?")){
                $.ajax({
                    url: "/pages/splitting/?do=delete",
                    type: "GET",
                    data: {
                        id: id,
                    },
                    dataType: "JSON",
                    success: function(response) {
                        if (response.success){
                            loadClientSplits();
                        } else {
                            alert(response.data);
                        }
                    }
                });
            }
        });
    });
</script>

<style type="text/css">
    #<?=_LINK?> div.scroll{
        height: 500px;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="cli_split" name="cli_split" class="scrollable">
        <thead>
        <tr>
            <th>&#35;</th>
            <th>Object</th>
            <th>Request By</th>
            <th>Requested Time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>

</div>
