<style>
    #<?=_LINK?>{
        width: 1200px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var polTable = $("#policy-table", frame);
        var modal = $("#<?=_LINK?>report-split-modal");

        var p = frame.popup_config({
            title: "Client Split Request #<?= $split->id(); ?>",
            center: true,
        });

        $(".client-keep-address", frame).on("change", function(){
            var col = $(this).closest(".col");
            if ($(this).is(":checked")){
                $(".new-client-address input", col).each(function(){
                    $(this).hide();
                });
                $(".new-client-address", col).append($(".current-client-address").html());
            } else {
                $(".new-client-address input", col).each(function(){
                    $(this).show();
                });
                $(".new-client-address p", col).each(function(){
                    $(this).remove();
                });
            }
        });

        function checkPolicyOwners(){
            if ($(".table-danger", polTable).length){
                disableForm("Cannot action merge as not all policies have been assigned to a client!");
            } else {
                $("#feedback", frame).removeClass("text-danger").html("");
                $("#action_split", frame).attr("disabled", false);
            }
        }

        checkPolicyOwners();

        if ($(".client-two-name", frame).text().trim() === ""){
            disableForm("Cannot action merge as current client does not have details for client 2!")
        }

        $(".policy_split_radio", polTable).on("change", function(){
            $(this).closest("tr").removeClass("table-danger");
            checkPolicyOwners();
        });

        function disableForm(reason){
            $("#feedback", frame).addClass("text-danger").html("<i class='fas fa-info-circle'></i> " + reason);
            $("#action_split", frame).attr("disabled", true);
        }

        $("#report_split", modal).on("click", function(){
            var data = $(this).closest("form").serialize();

            data += "&id=<?= $split->id(); ?>";

            $.ajax({
                url: "/pages/splitting/?report=true",
                type: "GET",
                data: data,
                dataType: "JSON",
                success: function(response){
                    alert(response.status);
                    if (!response.error){
                        modal.modal("hide");
                        p.close();

                        window.loadClientSplits();
                    }
                }
            });
        });

        $("#action_split", frame).on("click", function(){
            var data = $(this).closest("form").serialize();
            var btn = $(this);

            btn.attr("disabled", true);

            $.ajax({
                url: "/pages/splitting/runscript.php?id=<?= $split->id(); ?>",
                type: "GET",
                data: data,
                dataType: "JSON",
                success: function(response){
                    alert(response.description);

                    if (!response.error){
                        p.close();

                        window.loadClientSplits();
                    } else {
                        btn.attr("disabled", false);
                    }
                }
            });
        });
    });
</script>

<form id="<?=_LINK?>">
    <div class="row no-gutters">
        <div class="col">
            <h5>Current Client</h5>
            <p><?= $client->link() ?></p>
            <div class="current-client-address">
                <p class="mb-0"><?= $client->address->line1 ?></p>
                <p class="mb-0"><?= $client->address->line2 ?></p>
                <p class="mb-0"><?= $client->address->line3 ?></p>
                <p><?= $client->address->postcode ?></p>
            </div>
        </div>

        <div class="col">
            <h5>Client 1</h5>
            <p><?= $client->one ?></p>
            <div class="new-client-address">
                <?php if(!empty($address)): ?>
                    <?php if(is_int($address)): ?>
                        <?php if(in_array($address, [1, 3])): ?>
                            <p class="mb-0"><?= $client->address->line1 ?></p>
                            <p class="mb-0"><?= $client->address->line2 ?></p>
                            <p class="mb-0"><?= $client->address->line3 ?></p>
                            <p><?= $client->address->postcode ?></p>
                        <?php endif; ?>
                    <?php elseif(is_array($address)): ?>
                        <input style="display: block;" type="text" name="client-1-address-1" placeholder="Address Line 1" value="<?= $address['1']['line1'] ?>">
                        <input style="display: block;" type="text" name="client-1-address-2" placeholder="Address Line 2" value="<?= $address['1']['line2'] ?>">
                        <input style="display: block;" type="text" name="client-1-address-3" placeholder="Address Line 3" value="<?= $address['1']['line3'] ?>">
                        <input style="display: block;" type="text" name="client-1-address-4" placeholder="Postcode" value="<?= $address['1']['line4'] ?>">
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <label>
                <?php if(!empty($address)): ?>
                    <?php if(is_int($address)): ?>
                        <input class="client-keep-address" type="checkbox" value="1" name="client-1-keep-address" <?= in_array($address, [1, 3]) ? 'checked' : '' ?>>
                        Keep Current Address
                    <?php elseif(is_array($address)): ?>
                        <input class="client-keep-address" type="checkbox" value="1" name="client-1-keep-address" <?= $address['1']['keep'] ? 'checked' : '' ?>>
                        Keep Current Address
                    <?php endif; ?>
                <?php endif; ?>
            </label>
        </div>

        <div class="col">
            <h5>Client 2</h5>
            <p class="client-two-name"><?= $client->two ?></p>
            <div class="new-client-address">
                <?php if(!empty($address)): ?>
                    <?php if(is_int($address)): ?>
                        <?php if(in_array($address, [2, 3])): ?>
                            <p class="mb-0"><?= $client->address->line1 ?></p>
                            <p class="mb-0"><?= $client->address->line2 ?></p>
                            <p class="mb-0"><?= $client->address->line3 ?></p>
                            <p><?= $client->address->postcode ?></p>
                        <?php endif; ?>
                    <?php elseif(is_array($address)): ?>
                        <input style="display: block;" type="text" name="client-2-address-1" placeholder="Address Line 1" value="<?= $address['2']['line1'] ?>">
                        <input style="display: block;" type="text" name="client-2-address-2" placeholder="Address Line 2" value="<?= $address['2']['line2'] ?>">
                        <input style="display: block;" type="text" name="client-2-address-3" placeholder="Address Line 3" value="<?= $address['2']['line3'] ?>">
                        <input style="display: block;" type="text" name="client-2-address-4" placeholder="Postcode" value="<?= $address['2']['line4'] ?>">
                    <?php endif; ?>
                <?php endif; ?>
            </div>
            <label>
                <?php if(!empty($address)): ?>
                    <?php if(is_int($address)): ?>
                        <input class="client-keep-address" type="checkbox" value="2" name="client-2-keep-address" <?= in_array($address, [2, 3]) ? 'checked' : '' ?>>
                        Keep Current Address
                    <?php elseif(is_array($address)): ?>
                        <input class="client-keep-address" type="checkbox" value="2" name="client-2-keep-address" <?= $address['2']['keep'] ? 'checked' : '' ?>>
                        Keep Current Address
                    <?php endif; ?>
                <?php endif; ?>
            </label>
        </div>
    </div>

    <?php if(!empty($client->policies())): ?>
        <div class="overflow-auto" style="max-height: 300px;">
            <table class="table table-striped w-100" id="policy-table">
                <thead>
                <tr>
                    <th>Policy ID</th>
                    <th>Policies</th>
                    <th>Issuer</th>
                    <th>Type</th>
                    <th><?= $client->one ?></th>
                    <th><?= $client->two ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($client->policies() as $policy): ?>
                <tr class="<?= (!array_key_exists($policy->id(), $policies)) ? 'table-danger' : '' ?>">
                    <td><?= $policy->id(); ?></td>
                    <td>
                        <?= $policy->link() ?>
                    </td>
                    <td><?= $policy->issuer->link(); ?></td>
                    <td><?= $policy->type ?></td>
                    <td>
                        <input type="radio" class="policy_split_radio" value="1" name="split_policy[<?=$policy->id(); ?>]" <?= (array_key_exists($policy->id(), $policies) && $policies[$policy->id()] == 1) ? 'checked' : '' ?>>
                    </td>
                    <td>
                        <input type="radio" class="policy_split_radio" value="2" name="split_policy[<?=$policy->id(); ?>]" <?= (array_key_exists($policy->id(), $policies) && $policies[$policy->id()] == 2) ? 'checked' : '' ?>>
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php endif; ?>

    <div class="clearfix">
        <div class="float-left" id="feedback"></div>
        <div class="float-right">
            <button class="btn btn-success" id="action_split"><i class="fas fa-check"></i> Split Clients</button>
            <button class="btn btn-danger" data-toggle="modal" data-backdrop="false" data-target="#<?=_LINK?>report-split-modal"><i class="fas fa-times"></i> Report Split</button>
        </div>
    </div>
</form>

<div class="modal" id="<?=_LINK?>report-split-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Report Client Split</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <h6><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                        Please confirm that this split has a problem and that you would like to communicate this back with the user who requested the split?
                    </h6>
                    <h6>
                        An e-mail will be sent with the below reason to the original user who requested the split, Please clearly outline the issue and what needs to be done to resolve it.
                    </h6>
                    <textarea style="width:96%" id="split-problem-reason" rows="10" name="split-problem-reason"></textarea>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" id="report_split"><i class="fas fa-times"></i> Submit Report</button>
                </div>
            </form>
        </div>
    </div>
</div>