<script type="text/javascript">
    $(function( ) {
        var frame = $("#<?=_LINK?>");

        function loadClientProblemSplits(){
            $("#cli_probs .content").load("/pages/splitting/client_problems.php?id=<?=User::get_default_instance('id');?>&list=client_probs");
        }

        loadClientProblemSplits();

        $(frame).on("click", "button.bool", function(event){
            var cbtnid = $(this).closest('tr').attr('id');
            $.post("/pages/splitting/client_problems.php?id=<?=User::get_default_instance('id');?>&list=contactpartner&cbtnid="+cbtnid,
                function(cp){
                    cp = json_decode(cp);
                    if (cp.error > 0) {
                        alert("Failed to update unipass access");
                    }
                }
            );
        });

        $(frame).on("click", ".delete-split", function(){
            var id = $(this).data("id");

            if (confirm("Delete this split request?")){
                $.ajax({
                    url: "/pages/splitting/client_problems.php?do=delete",
                    type: "GET",
                    data: {
                        id: id
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            loadClientProblemSplits();
                        } else {
                            alert(response.data);
                        }
                    }
                });
            }
        });
    });
</script>

<style type="text/css">
    #<?=_LINK?> div.scroll{
        height: 500px;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="cli_probs" name="cli_probs" class="scrollable">
        <thead>
        <tr>
            <th>&#35;</th>
            <th>Request ID</th>
            <th>Proposed By</th>
            <th>Comments</th>
            <th>Reported By</th>
            <th>Reported Time</th>
            <th>Contacted</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>

</div>