<?php $vr = new ValuationRequest(); ?>

<div id="<?=_LINK?>">
    <table>
        <tr>
            <th>Delivery Method</th>
            <td>
                <?= el($vr->delivery_method) ?>
            </td>
        </tr>
        <tr>
            <th>Delivery Option</th>
            <td>
                <?= el($vr->delivery_option) ?>
            </td>
        </tr>
        <tr>
            <th>Servicing Report</th>
            <td>
                <?= el($vr->servicing_report) ?>
            </td>
        </tr>
        <tr>
            <th>Analytics</th>
            <td>
                <div>
                    <label>
                        <input type="checkbox" name="valuationrequest[analytics][]" value="ftse">
                        FTSE
                    </label>
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="valuationrequest[analytics][]" value="sector">
                        Sector
                    </label>
                </div>
            </td>
        </tr>
    </table>
</div>