<style type="text/css">
#<?=_LINK?> {
    width:900px;
    min-height:120px;
}
#<?=_LINK?>  table.lux div.scroll {
    min-height:100px;
        padding-bottom:15px;
}
#status{
    clear:both;
    height:30px;
    padding-top:10px;
}
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );

        var popup = frame.popup_config({
            title: "Add new Income Type Mapping entry",
            center: true
        });

        $(frame).on("click", "#add_type", function(){

            if( ($(".desc").val() != "") && ($("#issuer").val() != 0) ) {
                $("#add_type").attr("disabled", "disabled");

                $.ajax({
                    url: "/pages/commission/index.php?do=add_mapping",
                    type: "GET",
                    data: {
                        type: "json",
                        issuer: $("#issuer").val(),
                        desc: $(".desc").val(),
                        type: $("#commission_type > option:selected").attr("id"),
                    },
                    dataType: "json",
                    success: function (r) {
                        try {
                            if (r.status != false) {
                                $("#return").html(r.message).show().removeClass().addClass("good_news");
                                $("#mapping").trigger("load_rows");
                            } else {
                                $("#return").html(r.message).show().removeClass().addClass("bad_news");
                            }

                            setTimeout(function () {
                                $("#return").hide();
                                $("#add_type").removeAttr("disabled");
                            }, 4000);
                        } catch (e) {
                            alert(e);
                        }
                    }
                });
            }else{
                $("#return").html("Please complete all fields").show().addClass("bad_news");
            }

        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="main">
        <table id="add_mapping" class="luxe">
            <thead>
            <tr>
                <th width="30%">Issuer</th>
                <th width="30%">Income Statement Description</th>
                <th width="30%">PS Description</th>
                <th width="20%">&nbsp;</th>
            </tr>
            </thead>
            <tbody class="content">
            <tr>
                <td><?= el::suggest( "issuer", Issuer::index_url(), "search" ); ?></td>
                <td><input type="text" class="desc"/></td>
                <td><?= $comm_type?></td>
                <td><button id="add_type" class="add">Add</button></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div id="status">
        <span id="return">&nbsp;</span>
    </div>
</div>

	
