<style type="text/css">
#<?=_LINK?> {
    width:900px;
    min-height:120px;
}
#<?=_LINK?>  table.lux div.scroll {
    min-height:100px;
        padding-bottom:15px;
}
#status{
    clear:both;
    height:30px;
    padding-top:10px;
}
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );
        var form = $("form#records_form",frame);

        var pop = frame.popup_config({
            title: "Edit Financial Entry Record",
            center: true
        });

        saveProfileNotification( form );

        // on successful save, refresh main entry table
        $( form ).bind( 'successfulSave',
            function( ) {
                $(pop).trigger("editSuccessful");
            }
        );

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="records_form" name="records_form" action="<?=FinanceElectronicRecord::get_common_url(array("id"=>$fe->id(),"do"=>"save"))?>" method="post">
        <table id="edit_records" class="scrollable">
            <tbody>
                <tr>
                    <td class="heading">Issuer</td><td><?= el($fe->issuer); ?></td><td>&nbsp;</td><td class="heading">Statement Date</td><td>&nbsp; <?= el($fe->statement_date); ?></td>
                </tr>
                <tr>
                    <td class="heading">Reference (EDI only)</td><td><?= el($fe->reference); ?></td><td>&nbsp;</td><td class="heading">No. of Entries</td><td>&nbsp; <?= el($fe->entries); ?></td>
                </tr>
                <tr>
                    <td class="heading">Total Value</td><td><?= el($fe->total_value); ?></td><td>&nbsp;</td><td class="heading">Bank Entry Date</td><td>&nbsp; <?= el($fe->bank_entry_date); ?></td>
                </tr>
                <tr>
                    <td class="heading">Process Date</td><td><?= el($fe->process_date); ?></td><td>&nbsp;</td><td class="heading">Batch</td><td>&nbsp; <?= el($fe->batch); ?></td>
                </tr>
                <tr>
                    <td class="heading">Entry Type</td><td><?= el($fe->entry_type); ?></td><td>&nbsp;</td><td class="heading">Balanced</td><td>&nbsp; <?= el($fe->balanced); ?></td>
                </tr>
            </tbody>
        </table>
    </form>

    <p><span id="status">&nbsp;</span></p>

</div>

	
