<style type="text/css">
    #<?=_LINK?> {
        width:600px;
        min-height:120px;
    }
    #<?=_LINK?>  table.lux div.scroll {
        min-height:100px;
        padding-bottom:15px;
    }
    #<?=_LINK?> #control{
        width:100%;
    }
    #status{
        height:30px;
        padding-top:10px;
        float:left;
    }
    .required{
        color:red;
    }
    #save_invoice{
        float:right;
    }
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );

        var popup = frame.popup_config({
            title: "Edit Invoice",
            center: true
        });


        $(frame).on("click", "#save_invoice", function(){

            if ($("#invoices\\[vat\\]").val() == 0) {
                $("#invoices\\[vat\\]").val("0.00");
            }

            if (($("#invoices\\[total\\]", frame).val() != "") && ($("#invoices\\[reason\\]", frame).val() != "" ) && ($("#invoices\\[frequency\\]").val() != "--")) {

                $.ajax({
                    url: "/pages/commission/index.php?do=edit_invoice",
                    type: "GET",
                    data: {
                        type: "json",
                        update:true,
                        invoice: "<?=$invoice->id()?>",
                        reason: $("#invoices\\[reason\\]", frame).val(),
                        total: $("#invoices\\[total\\]", frame).val(),
                        vat: $("#invoices\\[vat\\]", frame).val(),
                        frequency: $("#invoices\\[frequency\\]", frame).val(),
                        date_invoiced: $("#invoices\\[date_invoiced\\]\\[Y\\]", frame).val()+"-"+$("#invoices\\[date_invoiced\\]\\[M\\]", frame).val()+"-"+$("#invoices\\[date_invoiced\\]\\[D\\]", frame).val(),
                        date_received: $("#invoices\\[date_received\\]\\[Y\\]", frame).val()+"-"+$("#invoices\\[date_received\\]\\[M\\]", frame).val()+"-"+$("#invoices\\[date_received\\]\\[D\\]", frame).val(),
                        notes: $("#invoices\\[notes\\]", frame).val()
                    },
                    dataType: "json",
                    success: function (r) {
                        try {
                            if (r.status != false) {
                                $("#status", frame).html(r.message).show().removeClass().addClass("good_news");
                                $("#save_invoice", frame).attr("disabled", "disabled");

                                // trigger menu click to refresh table. maybe trigger the getInvoices function instead
                                $("table.popup").find("button.close").click(function() {
                                    $("#submenu > a.active").click();
                                    popup.close();
                                });
                            } else {
                                $("#status", frame).html(r.message).show().removeClass().addClass("bad_news");
                            }

                            setTimeout(function () {
                                $("#status", frame).hide();
                            }, 4000);

                        } catch (e) {
                            alert(e);
                        }
                    }
                });
            }else{
                $("#status", frame).html("Please complete all required fields").show().addClass("bad_news");
            }

        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="main">
        <table id="add_invoice" class="scrollable">
            <tbody>
                <tr><th>Partner</th><td><?= $invoice->partner->link(); ?></td></tr>
                <tr><th>Issuer</th><td><?= $invoice->issuer->link(); ?></td></tr>
                <tr><th>Policy</th><td><?= $invoice->policy->link(); ?></td></tr>
                <tr><th>Reason<span class="required"></span></th><td><?= el($invoice->reason)?></td></tr>
                <tr><th>Total<span class="required"></span></th><td><?= el($invoice->total)?></td></tr>
                <tr><th>Vat<span class="required"></span></th><td><?= el($invoice->vat)?></td></tr>
                <tr><th>Invoicing</th><td><?= $invoice->object_type?></td></tr>
                <tr><th>Frequency<span class="required"></span></th><td><?= el($invoice->frequency)?></td></tr>
                <tr><th>Date of Invoice</th><td><?= el($invoice->date_invoiced)?></td></tr>
                <tr><th>Date Received</th><td><?= el($invoice->date_received)?></td></tr>
                <tr><th>Notes</th><td><?= el($invoice->notes)?></td></tr>
            </tbody>
        </table>
    </div>

    <div id="control">
        <span id="status">&nbsp;</span>
        <button id="save_invoice" class="add">Save Invoice</button>
    </div>
</div>

	
