<style type="text/css">
#<?=_LINK?> {
    width:100%;
    min-height:120px;
}
#<?=_LINK?>  table.scrollable div.scroll {
    padding-bottom:15px;
    height: 400px;
}
#actions{
    margin-bottom:20px;
    padding-top:10px;
}
.float_right{
    float:right;
}
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );

        //function to populate table
        function get_list(){

            $.ajax({
                url: "<?=Commission::index_url(array('do'=>'fe_record', 'action'=>'list'))?>",
                type: "GET",
                data: {
                    type: "json"
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $('tbody.content', frame).html(r.data);
                    }catch(e){
                        alert(e);
                    }
                }
            });

        }
        //run function
        get_list();


        // delete entry on user confirmation
        $(frame).on("click", ".delete", function(){

            var id = this.id;

            $('<div></div>').appendTo('body')
                .html('<div><h4>Are you sure that you would like to delete this entry?</h4></div>')
                .dialog({
                    modal: true, title: 'Delete Confirmation', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                url: "<?=Commission::index_url(array('do'=>'fe_record', 'action'=>'delete'))?>",
                                type: "GET",
                                data: {
                                    type: "json",
                                    entry_id: id
                                },
                                dataType: "json",
                                success: function( r ){
                                    try{
                                        if(r.status != false){
                                            $('#status', frame).html(r.status).addClass("good_news");
                                            get_list();
                                        }else{
                                            $('#status', frame).html(r.status).addClass("bad_news");
                                        }

                                        setTimeout( function() { $('#status', frame).html("").removeClass(); }, 5000);
                                    }catch(e){
                                        alert(e);
                                    }
                                }
                            });
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        });

        // display pop-up to allow finance department to edit entry
        $(frame).on("click", ".edit", function(){
            var id = this.id;
            new popup({
                url: "/pages/commission/index.php?do=fe_record&action=edit_fe_record&entry_id="+id,
                'triggers': {
                    'editSuccessful': function( ){
                        get_list();
                    }
                }
            });
        });


        // submit search parameters
        $(frame).on("click", "#search_submit", function(){

            $.ajax({
                url: "<?=Commission::index_url(array('do'=>'fe_record', 'action'=>'list', 'search'=>true))?>",
                type: "GET",
                data: {
                    type: "json",
                    'from_date': $("#financeelectronicrecord\\[from_date\\]\\[Y\\]").val()+"-"+$("#financeelectronicrecord\\[from_date\\]\\[M\\]").val()+"-"+$("#financeelectronicrecord\\[from_date\\]\\[D\\]").val(),
                    'to_date': $("#financeelectronicrecord\\[to_date\\]\\[Y\\]").val()+"-"+$("#financeelectronicrecord\\[to_date\\]\\[M\\]").val()+"-"+$("#financeelectronicrecord\\[to_date\\]\\[D\\]").val()
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $('tbody.content', frame).html(r.data);
                    }catch(e){
                        alert(e);
                    }
                }
            });

        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="actions">
        <span id="record_search">
           From: <input type="text" id="financeelectronicrecord[from_date][D]" data-pattern="(0?[1-9])|([1,2][0-9])|(3[0,1])" class="date day" maxlength="2" size="2">
            <input type="text" id="financeelectronicrecord[from_date][M]" data-pattern="(0?[1-9])|(1[0-2])" class="date month" maxlength="2" size="2">
            <input type="text" id="financeelectronicrecord[from_date][Y]" data-pattern="([1,2]\d{3})" class="date year" maxlength="4" size="4">

            To: <input type="text" id="financeelectronicrecord[to_date][D]" data-pattern="(0?[1-9])|([1,2][0-9])|(3[0,1])" class="date day" maxlength="2" size="2">
            <input type="text" id="financeelectronicrecord[to_date][M]" data-pattern="(0?[1-9])|(1[0-2])" class="date month" maxlength="2" size="2">
            <input type="text" id="financeelectronicrecord[to_date][Y]" data-pattern="([1,2]\d{3})" class="date year" maxlength="4" size="4">
            <button id="search_submit">Search</button>
        </span>

        <span class="float_right">
            <button onclick="$(function(){ $( '#records').export(); }); "><img src='<?= el::image("table_go.png")?>' />Export</button>
            <button onclick="$(function(){ $('#records').print(); });"><img src='<?= el::image("printer.png")?>' />Print</button>
        </span>

    </div>



    <table id="records" class="scrollable">
        <thead>
        <tr>
            <th>Issuer</th>
            <th >Statement Date</th>
            <th>Reference</th>
            <th>No. of Entries</th>
            <th>Total Value</th>
            <th>Bank Entry Date</th>
            <th>Process Date</th>
            <th>Batch</th>
            <th>Entry Type</th>
            <th>Balanced</th>
            <th>Processed By</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>

    <p><span id="status">&nbsp;</span></p>

</div>

	
