<script type="text/javascript">
$(function( ){

    var frame = $( "#<?=_LINK?>" );
    var filePanel = $( "#file_panel", frame );
    var fileForm = $( "> form", filePanel );
    var file = $( "#file",fileForm );
    var uploadIframe = $( "#upload_target" );
    var uploadStatus = $( ".status",fileForm );
    var processdiv = $( "div#process-file", frame );
    var processcontent = $( "div#process-content", processdiv );
    var processtbl = $( "table#process-tbl tbody", processcontent );
    var unmatcheddiv = $( "div#unmatched-file", frame );
    var unmatchedcontent = $( "div#unmatched-content", unmatcheddiv );
    var unmatchedtbl = $( "table#unmatched-tbl tbody", unmatchedcontent );
    var assignedi = $( "div#assign-edi", processcontent );
    var assigndataflow = $( "div#assign-dataflow", processcontent );
    var assignother = $( "div#assign-other", processcontent );

    var comm_total = 0;
    var comm_msg = '';

    // Create variables to be used for General Electronic File import when user assigns fields from file
    var zeros = 0;
    var types = [];
    var uniquetypes = [];

    // Obtain matched fields given option id from select elements
    var pol_match;
    var surname_match;
    var agency_match;
    var commtype_match;
    var amount_match;
    var colmatch = [];


    // Initially hide process and unmatched sections
    $(processcontent).hide();
    $(unmatchedcontent).hide();

    // Upload file to directory
    $(fileForm).submit(function (event) {
        event.stopPropagation();

        if (!$(file).val().length) {
            $(uploadStatus).html("Click <b>Browse</b> to select a file").css("color", "red");
            return false;
        }
        return true;
    });


    $(file).focus(function () {

        $(uploadStatus).text("");
        $(file).css("color", "black");
    });

    /// When the files have been uploaded, examine server response + display
    /// error message as necessary.
    $(uploadIframe).load(function () {
        var r = $(this).contents().text();

        if (!r.length) {
            return false;
        }

        try {
            r = json_decode(r);

            if (!r.status) {
                $(uploadStatus).text("Please choose a valid txt or csv file to upload").css("color", "red");
                $(file).css("color", "red")
            } else {
                var filename = $(file).val();

                if (r.matches.length) {
                    // Identical imports have been found, display details about these to user
                    // and request confirmation that they wish to continue. If they do not, delete
                    // the uploaded entry.

                    var message = "The file " + filename + " is identical to the following imports:\n\n" +
                        (r.matches.join("\n")) + "\n\n" +
                        "Do you wish to continue importing this file?";

                    if (!confirm(message)) {

                        // delete entry
                        $.get("<?=$_SERVER['PHP_SELF']?>", {
                                'id': r.id,
                                'do': "delete"
                            },
                            function (r2) {
                                r2 = json_decode(r2);

                                if (r2.status) {
                                    $(file).val(null);
                                } else {
                                    $(uploadStatus).text("System error, contact IT").css("color", "red");
                                }

                            });
                        return;
                    }
                }

                $(file).parent().html(filename);
                $(uploadStatus).text("File successfully uploaded").css("color", "green");
                $(":submit", fileForm).attr("disabled", true);

                // Prevent user from changing import type after file has been uploaded
                $("select#type").attr("disabled", "disabled");

                // Show process area after successful file upload
                $(processcontent).show();

                // If required cells are blank on spreadsheet, let user know about this and disable proceed
                if (r.error.length) {
                    $(assigndataflow).hide();
                    $(assignedi).hide();
                    $(assignother).hide();

                    // Clear table head
                    $(processtbl).prev("thead").remove();
                    $("div#process-scroll").addClass("error");

                    // Print out line number of file containing blanks
                    for (var b = 0; b < r.error.length; b++) {
                        $(processtbl).append("<tr><td>Blank values on line " + parseInt(r.error[b] + 1) + " of file, please delete import, fix errors and re-import file.</td></tr>");
                    }
                    $(processtbl).append("<div align='right'><button id='errors-btn'>View Errors</button></div>");

                    // Prevent user form proceeding with errors in file
                    $("button#proceed").attr("disabled", "disabled");

                } else {
                    if (r.type == "EDI") {
                        // Hide datalflow batch assign div as this is not needed for EDI import
                        $(assigndataflow).hide();
                        $(assignother).hide();

                        // Predetermine issuer from EDI file and trigger 'keyup' to list predicted issuers in suggest
                        if (r.issuer) {
                            $("input#issuer", processcontent).siblings(":input").val(r.issuer.substring(0, 3));
                            $("input#issuer", processcontent).siblings(":input").trigger('keyup');
                        }

                        // Display the first 10 lines of uploaded file to the user (  r.preview[row][column]  )
                        // If less than 10 lines in file (user being lazy), preview full file
                        if (r.preview.length) {
                            $(processcontent).prepend("File Received: " + r.paid + "<br /><br />");

                            if (r.preview.length > 10) {
                                // EDI template
                                for (var ep = 1; ep < 10; ep++) {
                                    $(processtbl).append("<tr><td>"
                                        + r.preview[ep][0] + "</td><td>"
                                        + r.preview[ep][8] + "</td><td>"
                                        + r.preview[ep][13] + "</td><td>"
                                        + r.preview[ep][12] + "</td><td>"
                                        + r.preview[ep][4] + "</td><td>"
                                        + r.preview[ep][15] + "</td><td>"
                                        + parseFloat((r.preview[ep][16]) / 100).toFixed(2) + "</td></tr>");
                                }
                            } else {
                                // EDI template
                                for (var ep = 1; ep < r.preview.length; ep++) {

                                    $(processtbl).append("<tr><td>"
                                        + r.preview[ep][0] + "</td><td>"
                                        + r.preview[ep][8] + "</td><td>"
                                        + r.preview[ep][13] + "</td><td>"
                                        + r.preview[ep][12] + "</td><td>"
                                        + r.preview[ep][4] + "</td><td>"
                                        + r.preview[ep][15] + "</td><td>"
                                        + parseFloat((r.preview[ep][16]) / 100).toFixed(2) + "</td></tr>");
                                }
                            }

                            // Sum 'amount' column from file and display to user
                            for (var et = 1; et < r.preview.length; et++) {
                                comm_total += parseFloat(r.preview[et][16]);
                            }
                            comm_total = ((comm_total) / 100).toFixed(2);

                            comm_msg = "Total Amount: £ " + comm_total;
                            $("span#comm_total").html(comm_msg);

                            // Let user know if any £0.00 amounts will be removed
                            if (r.zeros > 0) {
                                alert(r.zeros + " £0.00 amounts will be automatically removed during import");
                            }
                        }

                    } else if (r.type == "Dataflow") {

                        // Hide EDI issuer/bank entry assign div as these are not needed for dataflow import
                        $(assignedi).hide();
                        $(assignother).hide();

                        // Display the first 10 lines of uploaded file to the user (  r.preview[row][column]  )
                        // If less than 10 lines in file (user being lazy), preview full file
                        if (r.preview.length) {
                            $(processcontent).prepend("File Received: " + r.paid + "<br /><br />");

                            if (r.preview.length > 10) {
                                // Dataflow template
                                for (var dp = 1; dp < 10; dp++) {

                                    $(processtbl).append("<tr><td>"
                                        + r.preview[dp][4] + "</td><td>"
                                        + r.preview[dp][5] + "</td><td>"
                                        + r.preview[dp][10] + "</td><td>"
                                        + r.preview[dp][11] + "</td><td>"
                                        + r.preview[dp][0] + "</td><td>"
                                        + r.preview[dp][6] + "</td><td>"
                                        + parseFloat(r.preview[dp][7]).toFixed(2) + "</td></tr>");
                                }
                            } else {
                                // Dataflow template
                                for (var dp = 1; dp < r.preview.length; dp++) {

                                    $(processtbl).append("<tr><td>"
                                        + r.preview[dp][4] + "</td><td>"
                                        + r.preview[dp][5] + "</td><td>"
                                        + r.preview[dp][10] + "</td><td>"
                                        + r.preview[dp][11] + "</td><td>"
                                        + r.preview[dp][0] + "</td><td>"
                                        + r.preview[dp][6] + "</td><td>"
                                        + parseFloat(r.preview[dp][7]).toFixed(2) + "</td></tr>");
                                }
                            }

                            // Sum 'amount' column from file and display to user
                            for (var dt = 1; dt < r.preview.length; dt++) {
                                comm_total += parseFloat(r.preview[dt][7]);
                            }
                            comm_total = (comm_total).toFixed(2);

                            comm_msg = "Total Amount: £ " + comm_total;
                            $("span#comm_total").html(comm_msg);

                            // Let user know if any £0.00 amounts will be removed
                            if (r.zeros > 0) {
                                alert(r.zeros + " £0.00 amounts will be automatically removed during import");
                            }

                            // Predetermine batch ID for Dataflow import based on import file name
                            var batchfile = file.val();
                            var result = /\d+(?:\.\d+)?/.exec(batchfile); /* Extract numbers ( batchid ) from filename */
                            $("input#batch").siblings(":input").val(result);
                            $("input#batch").siblings(":input").trigger("keyup");
                        }
                    } else if (r.type == "Other") {

                        // Hide EDI/Dataflow assign divs as these are not needed for general electronic file import
                        $(assignedi).hide();
                        $(assigndataflow).hide();
                        // Hide unncecessay table headings
                        $("th:nth-child(1)", "table#process-tbl").hide();
                        $("th:nth-child(3)", "table#process-tbl").hide();

                        // Display the first 10 lines of uploaded file to the user and allow user to match up columns(  r.preview[row][column]  )
                        if (r.preview.length) {

                            // Select element containing column headings from uploaded file
                            $("<br />").insertBefore("tr#db-row");

                            var sel = "<td><select id='file-headings-0'>";
                            $(sel).appendTo("tr#file-row");

                            for (var oh = 0; oh < r.header.length; oh++) {
                                $("select#file-headings-0").append("<option id=" + oh + ">" + r.header[oh] + "</option>");
                            }

                            $("tr#file-row").append("</select></td>");

                            // Append another 4 select elements to the 'match up' row based on a clone of the original to
                            // allow user to match up required fields for import
                            var content = "";
                            for (var x = 1; x < 5; x++) {
                                content += "<td><select id='file-headings-" + x + "'>";
                                content += $("select#file-headings-0").clone().html();
                                content += "</select></td>";
                            }

                            $(content).appendTo("tr#file-row");

                            // Assign button to update data preview for user
                            $("<button id='assign-fields'>Assign</button>").appendTo("tr#file-row");

                            // Get values of assigned fields and update preview table to user
                            $("button#assign-fields").click(function () {

                                // Clear contents of preview table before updating fields.
                                $(processtbl).empty();

                                // Obtain matched fields given option id from select elements
                                pol_match = $("select#file-headings-0").children(":selected").attr("id");
                                surname_match = $("select#file-headings-1").children(":selected").attr("id");
                                agency_match = $("select#file-headings-2").children(":selected").attr("id");
                                commtype_match = $("select#file-headings-3").children(":selected").attr("id");
                                amount_match = $("select#file-headings-4").children(":selected").attr("id");

                                // Check user hasn't assigned same spreadsheet to column to more than one field.
                                // If so, alert to user and prevent user from proceeding until fixed
                                var arr = [pol_match, surname_match, agency_match, commtype_match, amount_match];
                                var sorted_arr = arr.sort();

                                var results = [];
                                for (var i = 0; i < arr.length - 1; i++) {
                                    if (sorted_arr[i + 1] == sorted_arr[i]) {
                                        results.push(sorted_arr[i]);
                                    }
                                }

                                if (results.length > 0) {
                                    $("button#proceed").attr("disabled", "disabled");
                                    alert("Please ensure field match is unique");
                                } else {
                                    $("button#proceed").removeAttr("disabled");
                                }

                                // Does file being imported have more than 10 lines?
                                if (r.preview.length > 10) {
                                    // Display first 10 lines of file based on user column matches
                                    for (var op = 1; op < 10; op++) {

                                        $(processtbl).append("<tr><td>"
                                            + r.preview[op][pol_match] + "</td><td>"
                                            + r.preview[op][surname_match] + "</td><td>"
                                            + r.preview[op][agency_match] + "</td><td>"
                                            + r.preview[op][commtype_match] + "</td><td>"
                                            + parseFloat(r.preview[op][amount_match]).toFixed(2) + "</td></tr>");
                                    }
                                } else {
                                    // Display all lines of file based on user column matches
                                    for (var op = 1; op < r.preview.length; op++) {

                                        $(processtbl).append("<tr><td>"
                                            + r.preview[op][pol_match] + "</td><td>"
                                            + r.preview[op][surname_match] + "</td><td>"
                                            + r.preview[op][agency_match] + "</td><td>"
                                            + r.preview[op][commtype_match] + "</td><td>"
                                            + parseFloat(r.preview[op][amount_match]).toFixed(2) + "</td></tr>");
                                    }
                                }

                                // Sum 'amount' column from file and display to user
                                comm_total = 0;
                                for (var ot = 1; ot < r.preview.length; ot++) {
                                    comm_total += parseFloat(r.preview[ot][amount_match]);
                                }

                                comm_total = comm_total.toFixed(2);
                                comm_msg = "Total Amount: £ " + comm_total;
                                $("span#comm_total").html(comm_msg);

                                // Do not let user proceed if commission amount column doesn't parse correctly
                                // E.g. commission amount column contains $,£ or any other mischievous characters
                                if (comm_total == "NaN") {
                                    alert("Error with data in amount column on spreadsheet, please cancel import and fix");
                                    $(uploadStatus)
                                        .text("Error with data in amount column on spreadsheet, please cancel import and fix")
                                        .css("color", "red");
                                    $("button#proceed", processcontent).attr("disabled", "disabled");
                                }

                                // Check for blanks in file on required fields
                                var blanks = [];
                                for (var opb = 1; opb < r.preview.length; opb++) {
                                    if (r.preview[opb][pol_match] == "" || r.preview[opb][surname_match] == "" || r.preview[opb][agency_match] == "" || r.preview[opb][commtype_match] == "" || r.preview[opb][amount_match] == "") {
                                        blanks.push(opb);
                                    }
                                }
                                if (blanks.length) {
                                    $("button#proceed", processcontent).attr("disabled", "disabled");
                                    alert("Blank values appear on lines " + (blanks.join(", ")) + ".  Please delete import, fix file and re-import file.");
                                }

                                // Let user know if any £0.00 amounts will be removed
                                zeros = 0;
                                for (var opz = 1; opz < r.preview.length; opz++) {
                                    if (r.preview[opz][amount_match] == "0") {
                                        zeros++;
                                    }
                                }

                                // Lets add commission types from file to array as we dont know these
                                // until the user assigns each field.  We will then trim any whitespace and
                                // remove any duplicates before passing to import script
                                types = [];
                                uniquetypes = [];
                                for (var opt = 1; opt < r.preview.length; opt++) {
                                    types.push($.trim(r.preview[opt][commtype_match].toUpperCase()));
                                }
                                $.each(types, function (i, el) {
                                    if ($.inArray(el, uniquetypes) === -1) uniquetypes.push(el);
                                });
                            });
                        }
                    } else {
                        alert("Not a valid import, please contact IT");
                    }
                }
            }

            // Let user proceed to process file and display unmatched area for any unmatched clients/policies
            $("button#proceed", processcontent).click(function () {

                var currency_type = $("#pipelineentry\\[currency_type\\]").val();

                if (confirm("Continue to process uploaded file?")) {

                    var period_from = $("#batch\\[date_period_from\\]\\[Y\\]", processcontent).val() + "-"+ $("#batch\\[date_period_from\\]\\[M\\]", processcontent).val() + "-"+ $("#batch\\[date_period_from\\]\\[D\\]", processcontent).val();
                    var period_to = $("#batch\\[date_period_to\\]\\[Y\\]", processcontent).val() + "-"+ $("#batch\\[date_period_to\\]\\[M\\]", processcontent).val() + "-"+ $("#batch\\[date_period_to\\]\\[D\\]", processcontent).val();
                    var pre_30_april = $("input#batch\\[pre_30_april\\]", processcontent).val();
                    var post_30_april = $("input#batch\\[post_30_april\\]", processcontent).val();

                    // Check if EDI file import/process
                    if (r.type == "EDI") {

                        $(this).attr("disabled", "disabled");
                        $("button#delete-file").attr("disabled", "disabled");

                        // Gather required info to process EDI file
                        var issuerid = $("input#issuer", processcontent).val();
                        var issuer = $("input#issuer", processcontent).siblings(":input").val();
                        var bankid = $("input#bankaccount", processcontent).val();


                        $.get("/pages/commission/import_edi.php", {
                                issuerid: issuerid,
                                bankid: bankid,
                                file: r.safename,
                                issuer: issuer,
                                commtotal: comm_total,
                                paid: r.paid,
                                commtypes: r.commtypes,
                                currency_type: currency_type,
                                date_period_from : period_from,
                                date_period_to : period_to,
                                pre_30_april : pre_30_april,
                                post_30_april : post_30_april,
                            },
                            function (r3) {

                                r3 = json_decode(r3);

                                if (r3.status != false) {
                                    $(uploadStatus).text("File successfully processed").css("color", "green");

                                    if (r3.unmatched.length) {

                                        $(unmatchedcontent).show();

                                        // Reverse loop through EDI unmathced return and display to user
                                        var eu = r3.unmatched.length;

                                        while (eu--) {

                                            $(unmatchedtbl).append("<tr><td>"
                                                + r3.unmatched[eu]['ref'] + "</td><td>"
                                                + r3.unmatched[eu]['policyNum'] + "</td><td>"
                                                + r3.unmatched[eu]['clientfname1'] + "</td><td>"
                                                + r3.unmatched[eu]['clientsname1'] + "</td><td>"
                                                + r3.unmatched[eu]['agency_no'] + "</td><td>"
                                                + r3.unmatched[eu]['commtype'] + "</td><td>"
                                                + parseFloat((r3.unmatched[eu]['comm'])).toFixed(2) + "</td></tr>");

                                        }
                                        // Display total number of unmatched entries from file to user
                                        $("span#unmatched-total").html("Unmatched Entries: " + r3.unmatched.length);
                                    }
                                } else {
                                    $(uploadStatus).text("Error processing file, " + r3.error).css("color", "red");

                                    // Allow user to re-process file after error.  Error will usually be down to
                                    // an issuer or bank entry not being selected
                                    $("button#proceed").removeAttr("disabled");
                                    $("button#delete-file").removeAttr("disabled");
                                }
                            }
                        );
                    } else if (r.type == "Dataflow") {

                        $(this).attr("disabled", "disabled");
                        $("button#delete-file").attr("disabled", "disabled");

                        // Gather required info to process Dataflow file
                        var batchid = $("input#batch", processcontent).siblings(":input").val();

                        $.get("/pages/commission/import_dataflow.php", {
                                batchid: batchid,
                                file: r.safename,
                                commtotal: comm_total,
                                paid: r.paid,
                                commtypes: r.commtypes,
                                currency_type: currency_type,
                                date_period_from : period_from,
                                date_period_to : period_to,
                                pre_30_april : pre_30_april,
                                post_30_april : post_30_april,
                            },
                            function (r3) {
                                r3 = json_decode(r3);

                                if (r3.status != false) {
                                    $(uploadStatus).text("File successfully processed").css("color", "green");

                                    if (r3.unmatched.length) {
                                        $(unmatchedcontent).show();

                                        // Reverse loop through dataflow unmathced return and display to user
                                        var du = r3.unmatched.length;

                                        while (du--) {
                                            $(unmatchedtbl).append("<tr><td>"
                                                + r3.unmatched[du]['ref'] + "</td><td>"
                                                + r3.unmatched[du]['policyNum'] + "</td><td>"
                                                + r3.unmatched[du]['clientfname1'] + "</td><td>"
                                                + r3.unmatched[du]['clientsname1'] + "</td><td>"
                                                + r3.unmatched[du]['agency_no'] + "</td><td>"
                                                + r3.unmatched[du]['commtype'] + "</td><td>"
                                                + parseFloat((r3.unmatched[du]['comm'])).toFixed(2) + "</td></tr>");

                                        }

                                        // Display total number of unmatched entries from file to user
                                        $("span#unmatched-total").html("Unmatched Entries: " + r3.unmatched.length);
                                    }

                                } else {
                                    $(uploadStatus).text("Error processing file, " + r3.error).css("color", "red");

                                    // Allow user to re-process file after error.  Error will usually be down to
                                    // a batch not being selected
                                    $("button#proceed").removeAttr("disabled");
                                    $("button#delete-file").removeAttr("disabled");
                                }
                            }
                        );

                    } else if (r.type == "Other") {

                        $(this).attr("disabled", "disabled");
                        $("button#delete-file").attr("disabled", "disabled");

                        // Let user know how many entries with £0.00 commission amounts will be removed
                        alert(zeros + " £0.00 value entries will be removed from import");

                        // Build a list of matched column indexes from file to be passed to import script
                        // Note we increase index by 1 to match up with MySQL LOAD DATA INFILE
                        colmatch = [parseInt(pol_match) + 1, parseInt(surname_match) + 1, parseInt(agency_match) + 1, parseInt(commtype_match) + 1, parseInt(amount_match) + 1];

                        // Hide unncecessay table headings
                        $("th:nth-child(1)", "table#unmatched-tbl").hide();
                        $("th:nth-child(3)", "table#unmatched-tbl").hide();

                        // Gather required info to process file
                        issuerid = $("input#issuer", assignother).val();
                        issuer = $("input#issuer", assignother).siblings(":input").val();
                        bankid = $("input#bankaccount", assignother).val();

                        $.get("/pages/commission/import_other.php", {
                                issuerid: issuerid,
                                bankid: bankid,
                                file: r.safename,
                                issuer: issuer,
                                commtotal: comm_total,
                                paid: r.paid,
                                commtypes: uniquetypes,
                                colmatch: colmatch,
                                currency_type: currency_type,
                                date_period_from : period_from,
                                date_period_to : period_to,
                                pre_30_april : pre_30_april,
                                post_30_april : post_30_april,
                            },
                            function (r3) {

                                r3 = json_decode(r3);

                                if (r3.status != false) {
                                    $(uploadStatus).text("File successfully processed").css("color", "green");

                                    if (r3.unmatched.length) {

                                        $(unmatchedcontent).show();

                                        // Reverse loop through unmathced entries from file, return and
                                        // display these entries to user
                                        var ou = r3.unmatched.length;

                                        while (ou--) {

                                            $(unmatchedtbl).append("<tr><td>"
                                                + r3.unmatched[ou]['policyNum'] + "</td><td>"
                                                + r3.unmatched[ou]['clientsname1'] + "</td><td>"
                                                + r3.unmatched[ou]['agency_no'] + "</td><td>"
                                                + r3.unmatched[ou]['commtype'] + "</td><td>"
                                                + parseFloat((r3.unmatched[ou]['comm'])).toFixed(2) + "</td></tr>");

                                        }
                                        // Display total number of unmatched entries from file to user
                                        $("span#unmatched-total").html("Unmatched Entries: " + r3.unmatched.length);
                                    }
                                } else {
                                    $(uploadStatus).text("Error processing file, " + r3.error).css("color", "red");

                                    // Allow user to re-process file after error.  Error will usually be down to
                                    // an issuer and/or bank entry not being selected
                                    $("button#proceed").removeAttr("disabled");
                                    $("button#delete-file").removeAttr("disabled");
                                }

                            }
                        );
                    } else {
                        alert("Not a valid import, please contact IT");
                    }
                }
            });

            // Allow user to delete file and cancel the import after the file has been uploaded
            $("button#delete-file").click(function () {

                if (confirm("Are you sure you want to delete import?")) {

                    $(this).attr("disabled, disabled");
                    $("button#proceed").attr("disabled, disabled");

                    // delete entry
                    $.get("<?=$_SERVER['PHP_SELF']?>", {
                            'id': r.id,
                            'do': "delete"
                        },
                        function (r2) {

                            r2 = json_decode(r2);

                            if (r2.status) {
                                alert("Import successfully deleted");

                                $(file).val(null);

                                // Reload the import page to allow user to import another file.  Quicker this way
                                // than removing and appending a new file input to the import form
                                $("div#content_window").load("/pages/commission/import.php", function () {
                                    $(this).trigger("load");
                                });
                            } else {
                                $(uploadStatus).text("System error, contact IT").css("color", "red");
                            }
                        }
                    );
                }
            });

            // View Balances
            $("button#view-balances").click(function () {
                var p = new popup({
                    content: "<div align='center'><img id='loader' src='/lib/images/ajax-loader.gif'/></div>",  /* Fake loader for usability */
                    url: "/pages/commission/process.php?get=balances",
                    title: "View Balances",
                    center: true
                });
            });

            // Allow user to directly open upload/import errors directory
            $("button#errors-btn", processtbl).click(function () {
                var n = new ProphetNotification({
                    type: "info",
                    text: " Opening Upload Errors Folder",
                    timeout: 2000
                });

                $("<applet code=\"LaunchDirectory.class\" archive=\"/core/lib/applets/LaunchDirectory.jar?<?=random_string(5)?>=1?>\" width=\"0\" height=\"0\">"+
                        "<param name=\"client_id\" value=\"errors\" />"+
                        "<param name=\"path\" value=\"\\\\BIGMUMMY\\commission\\\" />"+
                        "</applet>")
                        .appendTo( n );
            });

        } catch( e ) {
            alert( e );
        }
    });
});
</script>

<style>
    div#<?=_LINK?> > .panel {
               margin-bottom: 2px;
           }
    div#<?=_LINK?> > #file_panel > form .status {
               font-size: 9pt;
           }
    div#<?=_LINK?> > #file_panel > form th {
               width: 80px;
           }
    div#process-scroll.error{
        height: 320px;
        overflow-y:scroll
    }
    div#unmatched-scroll{
        height: 320px;
        overflow-y:scroll
    }
    div#assign-other{
        overflow-x:auto
    }
</style>

<div id="<?=_LINK?>">

    <div id="file_panel" class="panel">

        <h1>Files</h1>

        <form action="<?=url($_SERVER['REQUEST_URI'],array('stage'=>'upload'))?>" method="POST" enctype="multipart/form-data" target="upload_target">
            <p  style="display: block;">Please ensure that csv file does not contain any currency characters (£ , $ , €)</p>
            <table style="width:100%">
                <tr>
                    <th>
                        <label for="type">Import Type</label>
                    </th>
                    <td>
                        <select id="type" name="type">
                            <option><?= Batch::DATAFLOW ?></option>
                            <option><?= Batch::EDI ?></option>
                            <option><?= Batch::OTHER ?></option>
                        </select>
                    </td>
                    <th>
                        <label for="type">Currency Type</label>
                    </th>
                    <td>
                        <?=el($pipeline->currency_type);?>
                    </td>
                    <th>Upload File</th>
                    <td>
                        <input type="file" id="file" name="file" />
                        <span class="status_message">&nbsp;</span>
                    </td>
                    <td align="right">
                        <span class="status">&nbsp;</span>
                        <input type="submit" value="Upload Files" />
                    </td>
                </tr>
            </table>

        </form>

        <iframe id="upload_target" name="upload_target" style="display:none;"></iframe>

    </div>

    <div id="process-file" class="panel">

        <h1>Process File</h1>

        <div id="process-content">

            <div class="row no-gutters mb-2">
                <?php $batch = new Batch(); ?>
                <?php if($batch->showPre30()): ?>
                    <div class="col-6">
                        Date Period (From): <input type="text" id="batch[date_period_from][D]" name="batch[date_period_from][D]" value="" data-pattern="(0?[1-9])|([1,2][0-9])|(3[0,1])" class=" date day" maxlength="2" size="2"> <input type="text" id="batch[date_period_from][M]" name="batch[date_period_from][M]" value="" data-pattern="(0?[1-9])|(1[0-2])" class=" date month" maxlength="2" size="2"> <input type="text" id="batch[date_period_from][Y]" name="batch[date_period_from][Y]" value="" data-pattern="([1,2]\d{3})" class=" date year" maxlength="4" size="4">
                        Date Period (to): <input type="text" id="batch[date_period_to][D]" name="batch[date_period_to][D]" value="" data-pattern="(0?[1-9])|([1,2][0-9])|(3[0,1])" class=" date day" maxlength="2" size="2"> <input type="text" id="batch[date_period_to][M]" name="batch[date_period_to][M]" value="" data-pattern="(0?[1-9])|(1[0-2])" class=" date month" maxlength="2" size="2"> <input type="text" id="batch[date_period_to][Y]" name="batch[date_period_to][Y]" value="" data-pattern="([1,2]\d{3})" class=" date year" maxlength="4" size="4">
                        <br />
                    </div>
                    <div class="col-6">
                        Pre 31st March (Amount): <input type="text" id="batch[pre_30_april]" name="batch[pre_30_april]" value="">
                        Post 31st March (Amount): <input type="text" id="batch[post_30_april]" name="batch[post_30_april]" value="">
                        <br />
                    </div>
                <?php endif; ?>
            </div>


            <div id="assign-edi">
                Assign Issuer: <?= el::suggest( "issuer", Issuer::index_url(), "search" ); ?>
                Assign Bank Entry: <?= el::suggest( "bankaccount", BankAccount::index_url(), "search" ); ?>
            </div>

            <div id="assign-dataflow">
                Assign Batch: <?= el::suggest( "batch", Batch::index_url(), "search" ); ?>
            </div>

            <div id="assign-other">
                Assign Issuer: <?= el::suggest( "issuer", Issuer::index_url(), "search" ); ?>
                Assign Bank Entry: <?= el::suggest( "bankaccount", BankAccount::index_url(), "search" ); ?>
                <br />

                <div>
                    <table id="match-fields">
                        <thead>
                        <tr id="db-row">
                            <td>Policy No</td>
                            <td>Client Surname</td>
                            <td>Agency No</td>
                            <td>Comm Type</td>
                            <td>Amount</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="file-row">
                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>

            </div>

            <br />

            <div id="process-scroll" class=data>
                <table id="process-tbl" class="data">
                    <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Policy No</th>
                        <th>Client Firstname</th>
                        <th>Client Surname</th>
                        <th>Agency No</th>
                        <th>Comm Type</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <br />
            <div align="right">
                <span id="comm_total"></span>
                <button id="delete-file" name="delete-file">Delete</button>
                <button id="proceed" name="proceed">Proceed</button>
            </div>

        </div>

    </div>

    <div id="unmatched-file" class="panel">

        <h1>Unmatched</h1>

        <div id="unmatched-content">

            <div id="unmatched-scroll" class="data">
                <table id="unmatched-tbl" class="data">
                    <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Policy No</th>
                        <th>Client Firstname</th>
                        <th>Client Surname</th>
                        <th>Agency No</th>
                        <th>Comm Type</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <br />
            <div align="right">
                <span id="unmatched-total"></span>
                <button onclick="$(function(){ $('table#unmatched-tbl').export(); });"><img src='<?= el::image("table_go.png")?>' /></button>
                <button onclick="$(function(){ $('table#unmatched-tbl').print(); });"><img src='<?= el::image("printer.png")?>' /></button>
                <button id="view-balances">View Balances</button>
            </div>

        </div>

    </div>

</div>