<style type="text/css">
#<?=_LINK?> {
    min-height:520px;
}
#<?=_LINK?>  table div.scroll {
        width: 100%;
        min-height: 420px;
        padding-bottom: 15px;
    }

#<?=_LINK?>  table.scrollable div.scroll {
        height: 250px;
    }
#status{
    float:left;
    height:30px;
    padding-top:10px;
}
#controls{
    float:right;
    height:30px;
    padding-top:10px;
}
    .spinner{
        float:left;
    }

    #main{
        clear:both;
    }
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );
        var invoice_tab = $( "#<?=_LINK?>invoices", frame );
        var invoice_due_tab = $( "#<?=_LINK?>due", frame );
        var loadingSpinner = $("img.spinner", frame);

        loadingSpinner.hide();

        //open popup to allow new invoices to be added
        $(frame).on("click", "#add_invoice", function(){
            var p = new popup( {
                url: "/pages/commission/?do=add_invoice"
            });
        });

        //initial load of invoices, displays first 15
        $( invoice_tab ).bind(
            "load_invoices",
            function( ){
                loadingSpinner.show();
                var offset = 0;

                $.ajax({
                    url: '<?=Commission::index_url()?>',
                    type: "GET",
                    data: {
                        do: "invoices",
                        offset: offset
                    },
                    dataType: "json",
                    success : function(r){


                         $(".content", invoice_tab).html(r.data);

                        $('span#total_rows', invoice_tab).html(r.record_count);
                         $('span#pages', invoice_tab).html(r.pages);

                         //populate page no. dropdown
                         if($("#page_number", invoice_tab).val() == null){
                             $('#page_number', invoice_tab).empty();

                             $.each(r.page_no, function(key, value) {
                                 $('#page_number', invoice_tab)
                                     .append($("<option></option>")
                                         .attr("value",key)
                                         .text(value));
                             });
                             $('#page_number', invoice_tab)
                                 .append($("<option></option>")
                                     .attr("value","all")
                                     .text("Show All"));
                         }
                         loadingSpinner.hide();
                    }
                });
            }
        );
        $( invoice_tab ).trigger( "load_invoices" );

        $(invoice_tab).on("click", ".delete", function(){

            var id = this.id;

            $('<div></div>').appendTo('body')
                .html('<div><h3>Are you sure you want to delete this entry?</h3></div>')
                .dialog({
                    modal: true,
                    title: 'Delete Invoice',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {

                            $.ajax({
                                url: "/pages/commission/index.php?do=delete_invoice",
                                type: "GET",
                                data: {
                                    type: "json",
                                    id : id
                                },
                                dataType: "json",
                                success: function (r) {
                                    try {

                                        if (r.status != false) {
                                            $("#status", invoice_tab).html(r.message).show().addClass("good_news");
                                            // remove entry from table
                                            $("tr#"+id, invoice_tab).remove();
                                        } else {
                                            $("#status", invoice_tab).html(r.message).show().addClass("bad_news");
                                        }

                                        setTimeout(function () {
                                            $("#status", invoice_tab).hide().removeClass().html("");
                                        }, 4000);

                                    } catch (e) {
                                        alert(e);
                                    }
                                }
                            });

                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        });

        //open popup to allow invoices to be modified
        $(invoice_tab).on("click", ".edit", function(){
            var p = new popup( {
                url: "/pages/commission/?do=edit_invoice&invoice_id="+this.id
            });
        });

        $(invoice_tab).on("change", "#invoice_filter", function(){

            var offset = $("select#page_number", invoice_tab).val();

            $.ajax({
                url: "/pages/commission/index.php?do=invoices",
                type: "GET",
                data: {
                    type: "json",
                    filter : $("#invoice_filter", invoice_tab).val(),
                    search_criteria : $("#search_criteria", invoice_tab).val(),
                    search_flag : $("#invoice_search", invoice_tab).val(),
                    offset : offset
                },
                dataType: "json",
                success: function (r) {
                    try {

                        $(".content", invoice_tab).html(r.data);

                        $('span#total_rows', invoice_tab).html(r.record_count);
                        $('span#pages', invoice_tab).html(r.pages);

                        // re-populate page no. dropdown
                        $('#page_number', invoice_tab).empty();

                        $.each(r.page_no, function (key, value) {
                            $('#page_number', invoice_tab)
                                    .append($("<option></option>")
                                            .attr("value", key)
                                            .text(value));
                        });
                        $('#page_number', invoice_tab)
                                .append($("<option></option>")
                                        .attr("value", "all")
                                        .text("Show All"));

                        if (r.error != null) {
                            $("#status", invoice_tab).html(r.error).show().removeClass().addClass("bad_news");

                            setTimeout(function () {
                                $("#status", invoice_tab).hide();
                            }, 4000);
                        }
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });

        // disable search button by default
        $("#invoice_search_btn", invoice_tab).attr("disabled", "disabled");

        // allow if criteria entered
        $("#search_criteria", invoice_tab).on("keyup", function(){
           if ($("#search_criteria", invoice_tab).val().length >=1 && $("#invoice_search", invoice_tab).val() != "--") {
               $("#invoice_search_btn", invoice_tab).removeAttr("disabled");
           }else{
               $("#invoice_search_btn", invoice_tab).attr("disabled", "disabled");
           }
        });

        //allow if criteria entered
        $("#invoice_search", invoice_tab).on("change", function(){
            if ($("#search_criteria", invoice_tab).val().length >=1 && $("#invoice_search", invoice_tab).val() != "--") {
                $("#invoice_search_btn", invoice_tab).removeAttr("disabled");
            }else{
                $("#invoice_search_btn", invoice_tab).attr("disabled", "disabled");
            }
        });


        $(invoice_tab).on("click", "#invoice_search_btn", function(){

            var offset = $("select#page_number", invoice_tab).val();

            $.ajax({
                url: "/pages/commission/index.php?do=invoices",
                type: "GET",
                data: {
                    type: "json",
                    filter : $("#invoice_filter", invoice_tab).val(),
                    search_criteria : $("#search_criteria", invoice_tab).val(),
                    search_flag : $("#invoice_search", invoice_tab).val(),
                    offset : offset
                },
                dataType: "json",
                success: function (r) {
                    try {

                        $(".content", invoice_tab).html(r.data);

                        $('span#total_rows', invoice_tab).html(r.record_count);
                        $('span#pages', invoice_tab).html(r.pages);

                        //re-populate page no. dropdown
                        $('#page_number', invoice_tab).empty();

                        $.each(r.page_no, function (key, value) {
                            $('#page_number', invoice_tab)
                                    .append($("<option></option>")
                                            .attr("value", key)
                                            .text(value));
                        });
                        $('#page_number', invoice_tab)
                                .append($("<option></option>")
                                        .attr("value", "all")
                                        .text("Show All"));

                        if (r.error != null) {
                            $("#status", invoice_tab).html(r.error).show().removeClass().addClass("bad_news");

                            setTimeout(function () {
                                $("#status", invoice_tab).hide();
                            }, 4000);
                        }

                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });


        // change page
        $(invoice_tab).on( "change", 'select#page_number', function( ) {

            var offset = $(this).val();

            $.ajax({
                url: '<?=Commission::index_url()?>',
                type: "GET",
                data: {
                    do: "invoices",
                    offset: offset,
                    filter : $("#invoice_filter", invoice_tab).val(),
                    search_criteria : $("#search_criteria", invoice_tab).val(),
                    search_flag : $("#invoice_search", invoice_tab).val()
                },
                dataType: "json",
                success : function(r){

                    $(".content", invoice_tab).html(r.data);

                    loadingSpinner.hide();
                }
            });
        });

        /** Invoice reminder code below here**/

        //initial load of invoices, displays first 15
        $( invoice_due_tab ).bind(
                "load_due",
                function( ){
                    loadingSpinner.show();
                    var offset = 0;

                    $.ajax({
                        url: '<?=Commission::index_url()?>',
                        type: "GET",
                        data: {
                            do: "invoices_due",
                            offset: offset
                        },
                        dataType: "json",
                        success : function(r){

                            $(".content", invoice_due_tab).html(r.data);

                            $('span#total_rows', invoice_due_tab).html(r.record_count);
                            $('span#pages', invoice_due_tab).html(r.pages);

                            //populate page no. dropdown
                            if($("#page_number", invoice_due_tab).val() == null){
                                $('#page_number', invoice_due_tab).empty();

                                $.each(r.page_no, function(key, value) {
                                    $('#page_number', invoice_due_tab)
                                            .append($("<option></option>")
                                                    .attr("value",key)
                                                    .text(value));
                                });
                                $('#page_number', invoice_due_tab)
                                        .append($("<option></option>")
                                                .attr("value","all")
                                                .text("Show All"));
                            }
                            loadingSpinner.hide();
                        }
                    });
                }
        );


        // simulate lazy load, wait until tab clicked to load data, only do on 1st click
        window.init = 0;
        $(frame).on("click", ".nav-link#archived", function(){

            if (window.init == 0) {
                $( invoice_due_tab ).trigger( "load_due" );
                window.init = 1;
            }
        });

        $(invoice_due_tab).on("click", "#invoice_due_btn", function(){

            var offset = $("select#page_number", invoice_due_tab).val();

            $.ajax({
                url: "/pages/commission/index.php?do=invoices_due",
                type: "GET",
                data: {
                    type: "json",
                    filter : $("#invoice_filter", invoice_due_tab).val(),
                    search_criteria : $("#search_criteria", invoice_due_tab).val(),
                    search_flag : $("#invoice_search", invoice_due_tab).val(),
                    offset : offset
                },
                dataType: "json",
                success: function (r) {
                    try {

                        $(".content", invoice_due_tab).html(r.data);

                        $('span#total_rows', invoice_due_tab).html(r.record_count);
                        $('span#pages', invoice_due_tab).html(r.pages);

                        //re-populate page no. dropdown
                        $('#page_number', invoice_due_tab).empty();

                        $.each(r.page_no, function (key, value) {
                            $('#page_number', invoice_due_tab)
                                    .append($("<option></option>")
                                            .attr("value", key)
                                            .text(value));
                        });
                        $('#page_number', invoice_due_tab)
                                .append($("<option></option>")
                                        .attr("value", "all")
                                        .text("Show All"));

                        if (r.error != null) {
                            $("#status", invoice_due_tab).html(r.error).show().removeClass().addClass("bad_news");

                            setTimeout(function () {
                                $("#status", invoice_due_tab).hide();
                            }, 4000);
                        }

                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });

        // disable search button by default
        $("#invoice_due_btn", invoice_due_tab).attr("disabled", "disabled");

        // allow if criteria entered
        $("#search_criteria", invoice_due_tab).on("keyup", function(){
            if ($("#search_criteria", invoice_due_tab).val().length >=1 && $("#invoice_search", invoice_due_tab).val() != "--") {
                $("#invoice_due_btn", invoice_due_tab).removeAttr("disabled");
            }else{
                $("#invoice_due_btn", invoice_due_tab).attr("disabled", "disabled");
            }
        });

        //allow if criteria entered
        $("#invoice_search", invoice_due_tab).on("change", function(){
            if ($("#search_criteria", invoice_due_tab).val().length >=1 && $("#invoice_search", invoice_due_tab).val() != "--") {
                $("#invoice_due_btn", invoice_due_tab).removeAttr("disabled");
            }else{
                $("#invoice_due_btn", invoice_due_tab).attr("disabled", "disabled");
            }
        });

        //open popup to allow invoices to be modified
        $(invoice_due_tab).on("click", ".action", function(){

            var invoice_reminder_id = $(this).closest('tr').attr('id');

            var p = new popup( {
                url: "/pages/commission/?do=action_invoice&invoice_id="+this.id+"&invoice_reminder_id="+invoice_reminder_id
            });
        });

        $(invoice_due_tab).on("click", ".delete", function(){

            var id = this.id;

            $('<div></div>').appendTo('body')
                .html('<div><h3>Are you sure you want to delete this reminder?</h3></div>')
                .dialog({
                    modal: true,
                    title: 'Delete Invoice Reminder',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {

                            $.ajax({
                                url: "/pages/commission/index.php?do=archive_invoice",
                                type: "GET",
                                data: {
                                    type: "json",
                                    id : id
                                },
                                dataType: "json",
                                success: function (r) {
                                    try {

                                        if (r.status != false) {
                                            $("#status", invoice_due_tab).html(r.message).show().addClass("good_news");
                                            // remove row from table
                                            $("tr#"+id, invoice_due_tab).remove();
                                        } else {
                                            $("#status", invoice_due_tab).html(r.message).show().addClass("bad_news");
                                        }

                                        setTimeout(function () {
                                            $("#status", invoice_due_tab).removeClass().hide().html("");
                                        }, 4000);

                                    } catch (e) {
                                        alert(e);
                                    }
                                }
                            });

                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        });



        // change page invoices due on page
        $(invoice_due_tab).on( "change", 'select#page_number', function( ) {
            //initial load of invoices, displays first 15
            var offset = $(this).val();

            $.ajax({
                url: '<?=Commission::index_url()?>',
                type: "GET",
                data: {
                    do: "invoices_due",
                    offset: offset,
                    filter : $("#invoice_filter", invoice_due_tab).val(),
                    search_criteria : $("#search_criteria", invoice_due_tab).val(),
                    search_flag : $("#invoice_search", invoice_due_tab).val()
                },
                dataType: "json",
                success : function(r){

                    $(".content", invoice_due_tab).html(r.data);

                    loadingSpinner.hide();
                }
            });
        });



        $(frame).on("click", ".reprint", function(){

            // Make parameter data object
            var data = {};
            data[ 'id' ] = this.id;
            data[ 'correspondence[letter]' ] = 28;
            data = JSON.stringify(data);

            var w = window.open("/pages/letter/index.php?do=runReport&letter=finance_invoice&data="+ encodeURIComponent(data));
            //when new window is loaded, open print dialog
            w.onload = function () {
                w.print();
                popup.close();
            };
        });

        $(frame).on("click", "#add_invoice_reminder", function(){
            var p = new popup( {
                url: "/pages/commission/?do=add_invoice&reminder=true"
            });
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" id="pending" data-toggle="tab" href="#<?=_LINK?>invoices">Invoices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="archived" data-toggle="tab" href="#<?=_LINK?>due">Invoices Due</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="<?=_LINK?>invoices">

                <div id="actions">

                    <img id="spinner_pol" name="spinner_pol" class="spinner" src="/lib/images/inline-ajax.gif"/>

                    <span id="status">&nbsp;</span>



                    <div id="controls">

                        <button id="add_invoice" class="add">Add Invoice</button>

                        &nbsp;|&nbsp;

                        Search:
                        <select id="invoice_search">
                            <option>--</option>
                            <option value="policy">Policy Num</option>
                            <option value="total">Amount</option>
                        </select>
                        <input type="text" id="search_criteria" />
                        <button type="button" id="invoice_search_btn">Go</button>

                        &nbsp;|&nbsp;

                        Filter:
                        <select id="invoice_filter">
                            <option>--</option>
                            <option value="paid">Paid</option>
                            <option value="unpaid">Not Paid</option>
                        </select>

                        &nbsp;|&nbsp;

                        Total Invoices: <span id="total_rows"></span>

                        &nbsp;|&nbsp;

                        Current Page: <select id="page_number" name="page_number"></select>
                    </div>

                </div>

                <div id="main">
                    <table id="invoices" class="scrollable">
                        <thead>
                        <tr>
                            <th width="80px" class="no_sort">Invoice ID</th>
                            <th class="no_sort">Partner</th>
                            <th class="no_sort">Client</th>
                            <th class="no_sort">Policy</th>
                            <th class="no_sort">Issuer</th>
                            <th class="no_sort">Reason</th>
                            <th class="no_sort" >Total</th>
                            <th class="no_sort" >Vat</th>
                            <th class="no_sort" width="120px">Invoicing</th>
                            <th class="no_sort" width="120px">Frequency</th>
                            <th class="no_sort" width="120px">Date Invoiced</th>
                            <th class="no_sort" width="120px">Date Received</th>
                            <th class="no_sort" width="120px">Actioned</th>
                            <th class="no_sort">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody class="content">
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="tab-pane fade" id="<?=_LINK?>due">

                <div id="actions">

                    <img id="spinner_pol" name="spinner_pol" class="spinner" src="/lib/images/inline-ajax.gif"/>

                    <span id="status">&nbsp;</span>

                    <div id="controls">

                        <button id="add_invoice_reminder" class="add">Add Invoice Reminder</button>

                        &nbsp;|&nbsp;

                        Search:
                        <select id="invoice_search">
                            <option>--</option>
                            <option value="policy">Policy Num</option>
                            <option value="total">Amount</option>
                        </select>
                        <input type="text" id="search_criteria" />
                        <button type="button" id="invoice_due_btn">Go</button>

                        &nbsp;|&nbsp;

                        Total Invoices: <span id="total_rows"></span>

                        &nbsp;|&nbsp;

                        Current Page: <select id="page_number" name="page_number"></select>
                    </div>

                </div>
                <div id="main_due">
                    <table id="invoices_due" class="scrollable">
                        <thead>
                        <tr>
                            <th class="no_sort" width="80px">Invoice ID</th>
                            <th class="no_sort">Partner</th>
                            <th class="no_sort">Client</th>
                            <th class="no_sort">Policy</th>
                            <th class="no_sort">Issuer</th>
                            <th class="no_sort">Reason</th>
                            <th class="no_sort" >Total</th>
                            <th class="no_sort" >Vat</th>
                            <th class="no_sort" width="120px">Invoicing</th>
                            <th class="no_sort" width="140px">Frequency</th>
                            <th class="no_sort" width="120px">Resend date</th>
                            <th class="no_sort">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody class="content">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>




</div>
