<?php
$a = null;

/* get objects and objects ids, if client/policy, find out if obj X is archived or not
if object is archived, use $a to hide the action buttons */
if( ( key($_GET['filter']) == 'policy' ) || ( key($_GET['filter']) == 'client' ) ){
    $obj = key($_GET['filter']);
    $obj_id = $_GET['filter'][$obj];
    $o = new $obj($obj_id, true);
    $a = $o->archived();
}
?>


<tr title="<?=$commission->id()?> <?=$commission->description()?> <?php if (intval($commission->processed_by() != 0)) { echo $commission->processed_by; } else { echo $commission->processed_by(); } ?> "
    class="<?= $commission->on_hold() ? 'table-danger' : '' ?>">
    <?php if( !isset($exclude_date) ){?>
        <td><?= $commission->date ?></td>
    <?php }
    if( !isset($exclude_client) ){ ?>
        <td><?= $commission->client->link( "$extra_info->client_sname" ) ?></td>
    <?php }
    if( !isset($exclude_policy)){ ?>
        <td><?= $commission->policy->link( "$extra_info->policy_num" ) ?></td>
    <?php }
    if( !isset($exclude_issuer)){ ?>
        <td><?= $commission->issuer->link( "$extra_info->issuer_name" ) ?></td>
    <?php }
    if( !isset($exclude_batch)){ ?>
        <td><?= $commission->batch->link($commission->batch->link('$id')) ?></td>
    <?php }
    if( !isset($exclude_type)){ ?>
        <td><?= $extra_info->entry_type ?></td>
    <?php }
    if( !isset($exclude_partner)){ ?>
        <td>
            <?= $commission->partner->link() ?>
        </td>
    <?php } ?>

    <td class='amount'><?= $commission->amount ?></td>
    <td><?= $commission->rate ?></td>
    <td class='paid'><?= $commission->paid ?></td>
    <td><?= "$commission->vat" ?></td>

    <!-- Allow commission guys to delete pipeline entry -->
    <?php
    $user = User::get_default_instance();
        if ( (($user->department() == 7 || $user->department() == 1) && ($a == null)) && get_class($commission) === 'PipelineEntry'
    || ((($user->department() == 14 && $commission->policy->number() == "Portfolio Report") && ($a == null)) &&  get_class($commission) === 'PipelineEntry') ) {
    ?>
    <td>
        <button class="delete" id="<?=$commission->id?>" name="<?=$commission->amount?>"></button>
        <button class="update" id="<?=$commission->id?>" name="<?=$commission->amount?>">Update</button>
    </td>
    <?php } else if ($user->department() === '1' || $user->department() == '7'){ ?>
    <td>&nbsp;</td>
    <?php } ?>
    <td></td>
</tr>