<?php
$u = User::get_default_instance("department");
$tl = User::get_default_instance("team_leader");
?>
<style type="text/css">
#<?=_LINK?>  table.scrollable div.scroll {
    height: 450px;
}
#add_mapping{
    float:right;
}
</style>
<script type="text/javascript">
    $(function(){

        var frame = $( "#<?=_LINK?>" );

        $("#mapping").bind(
            "load_rows",
                function( ) {
                    $.ajax({
                        url: "/pages/commission/index.php?do=mapping",
                        type: "GET",
                        data: {
                            type: "json"
                        },
                        dataType: "json",
                        success: function (r) {
                            try {
                                if (r.row) {
                                    $(".content", frame).html(r.row);

                                } else {
                                    $(".content", frame).html("<tr><td>No rows found</td></tr>");
                                }
                            } catch (e) {
                                alert(e);
                            }
                        }
                    });
                }
        );

        $("#mapping").trigger("load_rows");

        // Hide/Show rows as appropriate
        $("#issuer_search").keyup(function() {

            // Convert search criteria to uppercase to be used for comparison
            var val = $.trim(this.value).toUpperCase();
            var table = $("#mapping");
            var table_rows = $("tbody > tr > td > .scroll > table > tbody.content > tr", table);

            // If search criteria is blank, show all entries
            if (val === "") {
                $(table_rows).show();
            }
            // Show entries relevant to search criteria
            else {
                $(table_rows).hide();

                $(".issuer", table_rows).filter(function() {
                    return -1 != $(this).text().toUpperCase().indexOf(val);
                }).closest(table_rows).show();

            }
        });

        $( frame).die().on( "click", ":button#add_mapping",
            function( ){
                new popup({
                    url: "/pages/commission/index.php?do=add_mapping",
                });
            }
        );

        $(frame).on("click", ".delete", function(){
           var id = this.id;

            $('<div></div>').appendTo('body')
                .html('<div><h3>Are you sure you want to delete this entry?</h3></div>')
                .dialog({
                    modal: true, title: 'Confirm Delete', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Yes: function () {
                            $.ajax({
                                url: "/pages/commission/index.php?do=delete_mapping",
                                type: "GET",
                                data: {
                                    type: "json",
                                    id: id
                                },
                                dataType: "json",
                                success: function (r) {
                                    try {
                                        if (r.status != false) {
                                            $("#map_stat", frame).html(r.status).show().removeClass().addClass("good_news");
                                            $("#mapping").trigger("load_rows");
                                        } else {
                                            $("#map_stat", frame).html(r.error).show().removeClass().addClass("bad_news");
                                        }
                                        setTimeout(function () {
                                            $("#map_stat", frame).hide();
                                        }, 4000);
                                    } catch (e) {
                                        alert(e);
                                    }
                                }
                            });
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="search_field">
        <p>Issuer Search: <input id="issuer_search" type="text" />
        <span id="map_stat">&nbsp;</span>
            <!-- Allow Charmaine, Lisa, Avril and IT to add income type mapping -->
            <?php $user = User::get_default_instance();
            if ($user->department() == 7 || $user->id() == 99 || $user->id() == 203 || $user->id() == 29) { ?>
        <button id="add_mapping" class="add">Add Mapping Type</button></p>
        <?php }?>

    </div>

    <table id="mapping" class="scrollable">
        <thead>
            <tr>
                <th width="30%">Issuer</th>
                <th width="30%">Income Statement Description</th>
                <th width="30%">PS Description</th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tbody class="content" >
        </tbody>
    </table>

</div>