<?php
	$db = new mydb();
	$b = new Batch;
	$q ="SELECT DISTINCT batch_id FROM tbl_source";
	$db->query( $q );
?>
<style type="text/css">
div#<?=_LINK?>{
    min-height: 365px;
}

div#<?=_LINK?> h1{
   text-decoration:underline;
}
div#<?=_LINK?> h1.panel_head{
   text-decoration:none;
}

div#batch_selection{
	width:250px;
	padding:15px 0 0 20px;
	float:left;
}
div#batch_selection h1{
	padding-bottom:20px;
}

div#match_form{
	float:left;
	margin-left:30px;
	border-left:1px solid #3d3d3d;
	padding:15px 0 0 30px;
	min-height: 310px;
}
div#match_form h1{
	padding-bottom:10px;
}
</style>
<script type="text/javascript">
    $(function(){
		
		//init vars
		var input = false;
		var select = false;
		$('input[type="submit"]').attr('disabled','disabled');
		
		//Select batch and return number of unmatched policies
        $('select#batchID').on( "change", function( ){
			var item=$(this);			
			$.ajax({
				url: "<?=Commission::index_url(array('do'=>'unmatched'))?>" + "&batchID="+item.val(),
				type: "GET",
				data: {
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					try{
						$('input.unmatched_count').val(r);
						if($('input#unmatched_count').val() != ""){
							$('span#title').html(" for "+item.val());
						}else{
							$('span#title').empty();
						}
						
					}catch(e){
						alert(e);
					}
				}
			});
        });
		
		//adapt wording of form to make more user friendly
		$('select#position2').on( "change", function( ){
			if($(this).val() == 'length'){
				$('span#wording').html("with ");
				$('span#wording2').html("of ");
			}else if($(this).val() == 'ending'){
				$('span#wording').html("");
				$('span#wording2').html("in ");
			}else if($(this).val() == 'beginning'){
				$('span#wording').html("");
				$('span#wording2').html("with ");
			}else{
				$('span#wording').html("");
				$('span#wording2').html("");
			}
		});

		//ensure no fields are empty before enabling submit button
		$(document).ready(function() {
			function enable_submit(){
				if(input == true && select == true) {
					$('input[type="submit"]').removeAttr('disabled');
				}else{
					$('input[type="submit"]').attr('disabled','disabled');
				}
			}
			$('input#value1, input#value2').keyup(function() {
				if($('input#value1').val() != '' && $('input#value2').val() != '') {
					input=true;
					enable_submit();
				}else{
					input=false;
					enable_submit();
				}
			});
			$("select#batchID, select#position, select#position2").live('change', function() {
				if ($('select#batchID').val() != '' && $('select#position').val() != '' && $('select#position2').val() != ''){
					select=true;
					enable_submit();
				} else {
					select=false;
					enable_submit();
				}
			});
		});
		
		//submit form
        $('input#submit').on( "click", function( ){
			$.ajax({
                    url: "<?=Commission::index_url(array('do'=>'policies'))?>",
                    type: "GET",
                    data: {
						batchID: $('select#batchID').val(),
						unmatched: $('input#unmatched_count').val(),
						position2: $('select#position2').val(),
						value2: $('input#value2').val(),
						position: $('select#position').val(),
						value1: $('input#value1').val()
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            /*
							if(r == "error"){
						    		$('input#match').val("");
								$('span.status').removeClass("good_news").addClass("bad_news").html("More than 300 policies matched, Please contact IT.");
							}else{
							*/

                                $('input#match').val(r);
                                $('span.status').removeClass("bad_news").addClass("good_news").html("Successful query");
                                $('input[type="submit"]').attr('disabled','disabled');
                                setTimeout(function() {
                                    $('input[type="submit"]').removeAttr('disabled');
                                    $('span.status').removeClass("bad_news").removeClass("good_news").html("");
                                }, 5000);

							//}
                        }catch(e){
                            alert(e);
                        }
                    }
                });
        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>" class="panel">
<h1 class="panel_head">Policy Matcher</h1>
	<div id="batch_selection" name="batch_selection">
		<h1>Select Batch</h1>
		<table>
			<tr>
				<th>Batch ID</th>
			</tr>
			<tr>
				<td><select id="batchID" name="batchID">
					<option value=""></option>
						<?php
							while( $ids=$db->next(MYSQLI_ASSOC ) ){
								$value = array_shift( $ids );
								echo"<option value='".$value."'>".$value."</option>";
							}
						?>
				</select></td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<th>Unmatched Policies</th>
			</tr>
			<tr>
				<td><input type="text" id="unmatched_count" name="unmatched_count" class="unmatched_count" value="" disabled /></td>
			</tr>
		</table>
	</div>
	
	<div id="match_form">
		<h1>Match Policies<span id="title"></span></h1>
		<form id="<?=_LINK?>" name="<?=_LINK?>">
			<p>If I ..
				<select id="position" name="position">
					<option value=""></option>
					<option value="prepend">Prepend</option>
					<option value="append">Append</option>
				</select>
				<input type="text" id="value1" name="value1" value="" />
			</p>
			<p>
				Onto policy numbers <span id="wording"></span>
				<select id="position2" name="position2">
					<option value=""></option>
					<option value="beginning">Beginning</option>
					<option value="ending">Ending</option>
					<option value="length">Length</option>
				</select> <span id="wording2">&nbsp;</span>
				<input type="text" id="value2" name="value2" value="" />
			</p>
			<input type="submit" id="submit" value="Submit" class="submitBtn" /> <span class="status"></span>
		</form>
		<br />
		<p>
			I will match <input type="text" id="match" name="match" value="" size="5" disabled /> policies in our database.
		</p>

	</div>

</div>

	
