<?php
    $plugin_id = random_string(10);

    if (!isset($excludes)) {
        $excludes = [];
    }

    $user = new User(User::get_default_instance("id"), true);

    $batch = new Batch($_GET['id'],true);
    $a = null;
    if (($property == "client") || ($property == "policy")) {
        $ob = new $property($id, true);
        $a = $ob->archived();
}
?>

<style type="text/css">
    #<?=$plugin_id?> select#month + img {
        display: none;
    }

    #<?=$plugin_id?> table#figures {
         margin: 0 auto;
         border-collapse: collapse;
         width: 75%;
         display: none;
    }

    #<?=$plugin_id?> table#figures tr > * {
         border: 1px solid;
         padding: 3px;
    }

    #<?=$plugin_id?> table#commission tr.group th {
        padding-top: 10px;
        padding-bottom: 10px;
        //background: #D1D1C5;
    }

    #<?=$plugin_id?> table#commission tfoot td {
        padding-top: 5px;
        padding-bottom: 2px;
        //background: #D1D1C5;
        border-top: solid 1px black;
    }

    /*#<?=$plugin_id?> table#commission.dataTable td{*/
        /*padding: 5px;*/
    /*}*/

    .ui-datepicker-calendar {
        display: none;
    }

    .amount_hide{
        display: none;
    }

    .toggle_amount:hover{
        cursor: pointer;
    }
</style>

<script type="text/javascript">
    $(function( ){

        var frame = $("div#<?=$plugin_id?>");
        var table = $("table#commission", frame);
        var footer = $("table#commission tfoot", frame);
        var monthList = $("select#month", frame);
        var figuresTable = $("table#figures", frame);
        var advanced_export = $('#advanced_income_search', frame);

        advanced_export.hide();

        frame.popup_config({
            'center': true
        });

        $('#customExport-open', frame).on('click', function () {
            advanced_export.show();
        });

        $('#customExport-close', frame).on('click', function () {
            advanced_export.hide();
        });

        var PAGE_THRESHOLD = 150;
        var ROW_LIMIT = 50;
        var no_entries = 0;
        var page_number = $("select#page_number", frame);
        var status_box = $("span#status", frame);
        var inited = false;
        var loadingSpinner = $("img#spinner", frame);

        table.bind("onshow", function () {
            if (inited) {
                return false;
            }

            table.trigger("getCommission", [true]);
            inited = true;

            if (monthList.length) {

                // get list of available months
                var monthStrings = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];


                $.ajax({
                    url: "<?=Balance::get_common_url(array('do'=>'list'))?>",
                    type: "GET",
                    data: {
                        type: "json",
                        filter: {
                            "<?=$property?>": "<?=intval($id)?>",
                        }
                    },
                    dataType: "json",
                    before: function () {
                        loadingSpinner.show();
                    },
                    success: function (r) {
                        try {

                            var group;
                            $.each(r, function (k, month) {

                                //we have a problem with our return date and javascripts date from string method.
                                //have to build ourselves :: GO TEAM

                                var datearr = month.date.slice(0, 10).split("-");
                                var date = new Date(datearr.join("/"));

                                var year = date.getFullYear();

                                group = $("optgroup[label='" + year + "']", monthList);

                                if (!group.length) {
                                    group = $("<optgroup/>")
                                        .attr("label", year)
                                        .appendTo(monthList);
                                }

                                $("<option/>")
                                    .text(monthStrings[date.getMonth()] + " | " + parseFloat(month.paid).toFixed(2) + " | " + parseFloat(month.closing_balance).toFixed(2))
                                    .val((date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate()))
                                    .data("data", month)
                                    .appendTo(group);
                            });

                        } catch (e) {
                            console.log(e);
                        }
                    }
                });
            }
        });

        table.xhr = null;

        //Needed due to bootstrap tabs being used, tabs no longer have the same structure as before which affects lazy loading
        $(".income-tab").each(function(){
            $(this).click(function(){
                table.addClass("has_onshow");
                table.trigger("onshow");
            });
        });

        $(frame).on("click", ".toggle_amount", function(){
            if ($(this).hasClass("fa-arrow-circle-down")){
                $(this).removeClass("fa-arrow-circle-down").addClass("fa-arrow-circle-up");
                $(".amount_hide", frame).show();
            } else {
                $(this).removeClass("fa-arrow-circle-up").addClass("fa-arrow-circle-down");
                $(".amount_hide", frame).hide();
            }
        });

        table.bind({getCommission: function( ev, reset ){
                if ( table.xhr != null ) {
                    table.xhr.abort();
                }

                $(".content tr",table).remove();

                table.xhr = $.ajax({
                    type: "GET",
                    url: "<?= Commission::index_url(array('batchid'=>$batch->id())) ?>" + "&batch_only=" + window.batch_only,
                    data: {
                        do: "amounts",
                        filter: {
                            '<?=$property?>': "<?=$id?>",
                            date: monthList.val()
                        }
                    },
                    before: function () {
                        loadingSpinner.show();
                    },
                    success: function (r) {
                        try {

                            r = json_decode(r);

                            no_entries = r.entry_count;

                            spacer = '<?= (($user->department() == 1 || $user->department() == 7) && ($a == null)) ? "<td></td>" : "" ?>';

                            if (r.difference != null) {
                                // Tidy printing if commission department delete column included
                                $(footer).html(
                                    "<tr>" +
                                    "<td colspan='<?= 7 - count($excludes) ?>'>" +
                                    "<b>Entries:</b>&nbsp;" + no_entries +
                                    "<b> &nbsp; Difference:</b>&nbsp;" + r.difference +
                                    "</td>" +
                                    "<td colspan='2'>" + r.total + "</td>" +
                                    "<td>" + r.paid_total + "</td>" +
                                    "<td>" + r.vat_total + "</td>" +
                                    spacer +
                                    "<td><i class='fas fa-arrow-circle-down toggle_amount'></i></td>" +
                                    "</tr>");
                            } else {
                                if ('<?=$property?>' == 'client' || '<?=$property?>' == 'policy') {

                                    $(footer).html(
                                        "<tr>" +
                                        "<td colspan='<?= 7 - count($excludes) ?>'>" +
                                        "<b>Entries:</b>&nbsp;" + no_entries +
                                        "</td>" +
                                        "<td class='client-income-totals' colspan='2'>" + r.total + "</td>" +
                                        "<td class='client-income-share'>" + r.paid_total + "</td>" +
                                        "<td class='client-income-vat'>" + r.vat_total + "</td>" +
                                        spacer +
                                        "<td>&nbsp;</td>" +
                                        "</tr>");

                                } else {
                                    // Tidy printing if commission department delete column included
                                    $(footer).html(
                                        "<tr>" +
                                        "<td colspan='<?= 7 - count($excludes) ?>'>" +
                                        "<b>Entries:</b>&nbsp;" + no_entries +
                                        "</td>" +
                                        "<td colspan='2'>" + r.total + "</td>" +
                                        "<td>" + r.paid_total + "</td>" +
                                        "<td>" + r.vat_total + "</td>" +
                                        spacer +
                                        "<td><i class='fas fa-arrow-circle-down toggle_amount'></i></td>" +
                                        "</tr>");
                                }

                            }


                            //we really dont want to make another call unless we want to grab some data
                            //if we do, do we paginate or not?
                            if (no_entries != 0 || r.held_income) {

                                //we now go back and request the rest of the data
                                if (no_entries < PAGE_THRESHOLD) {
                                    ROW_LIMIT = PAGE_THRESHOLD;
                                }

                                if (reset) {
                                    $(table[0].content).html("");
                                    page_number.html("");
                                }

                                table.trigger("getCommissionList", [true]);
                            }

                        } catch (e) {
                            console.log(e);
                        }
                    },
                    complete: function () {
                        loadingSpinner.hide();
                        table.xhr = null;
                    }
                });
            }
        });

        table.bind({
            getCommissionList: function( ev, reset ){

                if( table.xhr != null ){
                    table.xhr.abort();
                }

                $(".content tr",table).remove();

                table.xhr = $.ajax({
                        type: "GET",
                        url: "<?= Commission::index_url() ?>",
                        data: {
                            do: "list",
                            'limit': ROW_LIMIT,
                            'offset': page_number.val() * ROW_LIMIT,
                            filter: {
                                '<?=$property?>': <?=$id?>,
                        date: monthList.val()
                    },
                    excludes: <?=json_encode( (isset($excludes)) ? $excludes : [] )?>
            },
                before:function( ){
                    loadingSpinner.show();
                },
                success: function( r ){
                    try {
                        if( reset ){

                            var nPages = Math.ceil( no_entries / ROW_LIMIT );
                            for( var i=0; i<nPages; i++ ){
                                page_number.append("<option value='"+i+"'>"+( i+1 )+"</option>");
                            }
                            page_number.attr( "disabled", ( nPages == 0 || nPages == 1 ) );
                        }

                        $(".content",table)
                            .html( r );

                        // if (! $.fn.DataTable.isDataTable("#<?=$plugin_id?> #commission")){
                        //     $("#<?=$plugin_id?> #commission").dataTable({
                        //         scrollY: 300,
                        //         scrollCollapse: true,
                        //         paging: false,
                        //         searching: false,
                        //         columnDefs: [
                        //             { "orderable": false, "targets": "no_sort" }
                        //         ],
                        //         info: false
                        //     });
                        //
                        //     $("#commission_wrapper .row").each(function(){
                        //         $(this).addClass("no-gutters");
                        //     });
                        //
                        //     frame.popup_config({
                        //         'center': true
                        //     });
                        // }

                    }catch(e){
                        console.log(e);
                    }
                },
                complete: function(){
                    loadingSpinner.hide();
                    table.xhr = null;
                }
            });
            }
        });

        page_number.change(function(){
            $(table[0].content).html("");
            table.trigger("getCommissionList");
        });


        table.bind("ready",function(){
            $("thead th:not(.no_sort)", table)
                .filter(".groupable")
                .bind("click", function( e ){
                    $("tr.group",table).remove();

                    $(this)
                        .addClass("sorted asc")
                        .siblings("th")
                        .removeClass("sorted asc");

                    var index = $("thead",table)
                        .find("td,th")
                        .index( this );

                    // make a list of unique values in sort column
                    var values = [];
                    $(".content tr > td:nth-child("+(index+1)+")",table).each(function(){
                        var v = $(this).text();
                        if( values.indexOf(v) >= 0 ){
                            values.push(v);
                        }
                    });

                    // sort Z-A
                    values.sort();
                    values.reverse();

                    $.each(values,function(i,e){
                        var totals = { amount: 0, paid: 0 };

                        // get an array of rows pertaining to this group
                        var rows = $(".content td:nth-child("+(index+1)+"):contains("+e+")", table ).map(function(i,cell){
                            // update group's totals
                            $.each(["amount","paid"],function(i,key){
                                totals[key] += parseFloat($(cell).siblings("td."+key).text().replace( /[£\s,]/g,'' ));
                            });
                            return $(cell).parent().get(0);
                        });

                        // build a group header row containing name, total amount, and total payable amount
                        var header = $("<tr/>")
                            .addClass("group")
                            .append(
                                $("<th/>")
                                    .attr("colSpan",5)
                                    .text(e),
                                $("<th/>")
                                    .attr("colSpan",2)
                                    .text("£ "+ totals.amount.toFixed(2) ),
                                $("<th/>")
                                    .text("£ "+ totals.paid.toFixed(2) )
                            );

                        // insert into the table
                        $(".content",table)
                            .prepend(rows)
                            .prepend(header)

                    });
                });
        });

        $(table).on("click", "th.currency", function(){
            $("tr.group",table).remove();
        });

        monthList.change( function(){

            var data = $("option:selected",this).data("data");
            if( data != null ){
                $("td[id]",figuresTable)
                    .each( function( ){
                        if( data.hasOwnProperty(this.id) ){
                            $(this).text("£"+ parseFloat(data[this.id]).toFixed(2) );
                        }
                    });

                figuresTable.slideDown("fast");

            } else {
                figuresTable.slideUp("fast");
            }

            table.trigger("getCommission",[true]);
        });


        // Allow single pipline entry to be deleted - button only visible to commission group members
        $(":button.delete", table).live("click", function () {
            if (confirm("Are you sure you would like to delete entry for " + this.name + "?")) {
                $.get(
                    "<?=PipelineEntry::get_common_url()?>", {
                        id: this.id,
                        do: "delete"
                    },
                    function () {
                        table.trigger("getCommission");
                    }
                );
            }
        });

        // Allow single pipline entry to be UPDATED - button only visible to commission group members
        $(table).on("click", ":button.update", function () {
            new popup({
                url: "/pages/pipelineentry/index.php?do=update&id=" + this.id
            });
        });

        // Export all data for all pages in commission table
        $(document).on("click", "#<?=$plugin_id?> #expall", function() {
            if ('<?=$property?>' == 'partner') {
                if (confirm("Exporting all records ( " + no_entries + " ) may take a while. Do you wish to continue?")) {
                    $('#<?=$plugin_id?> > #commission').exportall('/pages/commission/?do=list&filter[<?=$property?>]=<?=$_GET['id']?>&filter[date]='+$("select#month").val());
                }
            } else {
                if (confirm("Exporting all records, this may take a while. Do you wish to continue?")) {
                    $('#<?=$plugin_id?> > #commission').exportall('/pages/commission/?do=list&filter[<?=$property?>]=<?=$_GET['id']?>');
                }
            }
        });

        $(document).on('click', '#<?=$plugin_id?> #custom_results', function () {
            var date1month = $("#date1-month", frame).val();

            if (date1month < 10){
                date1month = "0" + date1month;
            }

            var date1 = $("#date1-year", frame).val() + "-" + date1month;

            var date2month = $("#date2-month", frame).val();

            if (date2month < 10){
                date2month = "0" + date2month;
            }

            var date2 = $("#date2-year", frame).val() + "-" + date2month;

            window.open("/pages/fcc/custom_income_export.php?date1=" + date1 + "&date2=" + date2 + "&object=<?= $property ?>&id=<?=$id?>");
        });

    });
</script>
<div id="<?=$plugin_id?>" name="<?=$plugin_id?>">

    <div>

        <button id="expall" name="expall"><i class="fa fa-table" aria-hidden="true"></i> All</button>
        <button onclick="$(function(){ $( '#<?=$plugin_id?> #commission').export(); }); "><i class="fa fa-calendar" aria-hidden="true"></i> Current</button>
        <button id="customExport-open"><i class="fa fa-clock-o" aria-hidden="true"></i>  Custom</button>
        <button onclick="$(function(){ $('#<?=$plugin_id?> #commission').print(); });"><i class="fa fa-print" aria-hidden="true"></i> Current</button>


        <!--<img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>-->
        <?php
      if( in_array("date",$excludes) ){
    ?>
        <select id="month" name="month" style="display:inline;">
            <option value="pipeline">Pipeline</option>
            <option value="custom">Custom</option>
        </select>
        <?php } ?>
        Page:
        <select id="page_number" name="page_number"></select>

        <span id="status" name="status">&nbsp;</span>
        <img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
        <div id="advanced_income_search">
            <form id="advanced-income-output" name="advanced-income-output" >

                <div class='panel'>
                    <h1> Custom Data Export</h1>
                    This will produce a spreadsheet of the all income data between the dates stated below.
                    <table>
                        <tbody>
                        <tr>
                            <th>From:</th>
                            <td>
                                <select id="date1-month">
                                    <?php

                                    $months = [
                                        1 => "January",
                                        2 => "February",
                                        3 => "March",
                                        4 => "April",
                                        5 => "May",
                                        6 => "June",
                                        7 => "July",
                                        8 => "August",
                                        9 => "September",
                                        10 => "October",
                                        11 => "November",
                                        12 => "December",
                                    ];

                                    ?>
                                    <?php foreach($months as $key => $month): ?>
                                    <option value="<?= $key ?>" <?= $key == date('m') ? 'selected' : '' ?>><?= $month ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type="text" id="date1-year" value="<?= date('Y'); ?>">
                            </td>
                        </tr>
                        <tr>
                            <th>To:</th>
                            <td>
                                <select id="date2-month">
                                    <?php foreach($months as $key => $month): ?>
                                    <option value="<?= $key ?>" <?= $key == date('m') ? 'selected' : '' ?>><?= $month ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type="text" id="date2-year" value="<?= date('Y'); ?>">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button id="custom_results">Export results</button>
                    <button id="customExport-close"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Close</button>
                    <span class="status"></span>
                </div>

            </form>
        </div>
    </div>


    <div class="my-3">
        <table id="figures" name="figures">
            <tr>
                <th>Opening Balance</th>
                <td id="opening_balance" name="opening_balance">&nbsp;</td>
                <th>Income</th>
                <td id="transferred_this_month" name="transferred_this_month">&nbsp;</td>
                <th>Payments</th>
                <td id="paid" name="paid">&nbsp;</td>
                <th>Closing Balance</th>
                <td id="closing_balance" name="closing_balance">&nbsp;</td>
            </tr>
        </table>
    </div>

    <table class="scrollable" id="commission" name="commission">

        <thead>
        <tr>
            <?php
        if(!in_array("date",$excludes)){?>
            <th class="no_sort" width="80px">Date</th>
            <?php }
        if(!in_array("client",$excludes)){ ?>
            <th width="100px">Client</th>
            <?php }
        if(!in_array("policy",$excludes)){ ?>
            <th width="100px">Policy</th>
            <?php }
        if(!in_array("issuer",$excludes)){ ?>
            <th width="200px">Issuer</th>
            <?php }
        if(!in_array("batch",$excludes)){ ?>
            <th>Batch</th>
            <?php }
        if(!in_array("type",$excludes)){ ?>
            <th width="100px">Type</th>
            <?php }
        if(!in_array("partner",$excludes)){ ?>
            <th width="200px">Partner</th>
            <?php } ?>
            <th>Amount</th>
            <th>Rate</th>
            <th>Share</th>
            <th>VAT</th>

            <!-- Extra 'action' column for commission department -->
            <?php if ( (($user->department() == 1 ) || ($user->department() == 7 )) AND ($a == null) ) { ?>
            <th class="no_sort" width="150px">Action</th>
            <?php } ?>
            <th class="no_sort">
                <!-- blank header used for toggler -->
            </th>

        </tr>
        </thead>

        <tbody class="content">
        </tbody>

        <tfoot>
        </tfoot>

    </table>


</div>
