<?php

$user = new User(User::get_default_instance("id"), true);

?>

<style>
    #<?=_LINK?>{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    a .card{
        color: #333;
    }

    a:hover{
        text-decoration: none;
    }

    a:hover .card, .card.active{
        background-color: #005B7A;
        color: #fff;
    }

    .group-choices, .user-choices{
        max-height: 200px;
        overflow-y: scroll;
    }

    .droppable{
        top: -1px;
        left: -1px;
        width: 100%;
        height: 100%;
        background-color: rgba(200, 200, 200, 0.5);
        z-index: 5;
        border: 2px #005B7A dashed;
    }

    .droppable .drop-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        color: #005B7A;
    }

    #viewer-modal .modal-body{
        max-height: 400px;
        overflow-y: scroll;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var filesToUpload = 0;
        var filesUploaded = 0;

        $(".file-link", frame).on("click", function(e){
            e.preventDefault();

            var url = $(this).attr("href");

            if ($(".file-file", this).length){
                //this is a file
                $(".docs-window", frame).removeClass("col-12").addClass("col-6");
                $(".file-col", frame).removeClass("col-2").addClass("col-4");

                $.ajax({
                    url: url,
                    type: "GET",
                    data: {
                        do: "read_file",
                    },
                    beforeSend: function(){
                        $(".view-window .content", frame).html("<div class='w-100'>" +
                            "<div class='p-5 text-center'>" +
                            "<h2><i class='fas fa-spinner fa-spin'></i></h2>" +
                            "</div>" +
                            "</div>");
                    },
                    success: function(r){
                        $(".view-window", frame).removeClass("d-none");
                        $(".view-window .content", frame).html(r);
                    }
                });
            } else {
                //this is a directory
                $.ajax({
                    url: url,
                    type: "GET",
                    success: function(r){
                        $("#content_window").html(r);
                    }
                });
            }
        });

        $(".show-select", frame).on("change", function(){
            var form = $(this).closest("form");
            $(".group-select, .user-select", form).addClass("d-none");

            switch ($(this).val()){
                case "group":
                    $(".group-select", form).removeClass("d-none");

                    break;

                case "user":
                    $(".user-select", form).removeClass("d-none");

                    break;
            }
        });

        $("#save-new-folder", frame).on("click", function(){
            var form = $("#new-dir-form", frame);

            $.ajax({
                url: form.attr("action"),
                type: "GET",
                data: form.serialize(),
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        $("#dir-refresh", frame).click();
                    }
                }
            });
        });

        $("#save-perms", frame).on("click", function(){
            var form = $("#settings-form", frame);

            $.ajax({
                url: form.attr("action"),
                type: "GET",
                data: form.serialize(),
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        if (response.renamed){
                            $("#dir-refresh", frame).attr("href", "/pages/documentation/?dir="+encodeURI(response.renamed));
                        }

                        $("#dir-refresh", frame).click();
                    }
                }
            });
        });

        $(".docs-window", frame).on("dragover", function(e){
            e.preventDefault();
            e.stopPropagation();

            $(".droppable", frame).removeClass("d-none");
        });

        $(".droppable", frame).on("dragleave", function(e){
            e.preventDefault();
            e.stopPropagation();

            $(".droppable", frame).addClass("d-none");
        });

        $(".droppable").on("drop", function(e){
            e.preventDefault();

            filesToUpload = 0;
            filesUploaded = 0;

            var fileFailed = false;

            $(".droppable", frame).addClass("d-none");

            var files = e.originalEvent.dataTransfer.items;

            filesToUpload = files.length;

            $.each(files, function(key, file){
                if(!fileUpload(file.webkitGetAsEntry(), key, filesToUpload)){
                    fileFailed = true;
                }
            });

            // fileUpload(files);
        });

        function fileUpload(file, key, length, path = "") {
            var maxFileSize = 41943040; //40mb
            var exFiles = [];

            if (path === ""){
                //only check if we are uploading files to this directory
                $(".filename", frame).each(function () {
                    exFiles.push($(this).html().trim());
                });
            }

            if (file.isFile) {
                file.file(function (file) {
                    if (file.size < maxFileSize){
                        if ($.inArray(file.name, exFiles) === -1 || confirm(file.name + " already exists. Overwrite?")) {
                            var fd = new FormData();
                            fd.append("file", file);

                            $.ajax({
                                url: "/pages/documentation/?do=upload_file&dir=<?= $baseDir ?>/"+encodeURI(path)+"/",
                                type: "POST",
                                data: fd,
                                contentType: false,
                                processData: false,
                                dataType: "JSON",
                                success: function(response){
                                    if (response.success){
                                        filesUploaded++;
                                    } else {
                                        alert(response.error + " " + file.name);
                                        filesToUpload--;
                                    }

                                    if (filesToUpload === filesUploaded){
                                        $("#dir-refresh", frame).click();
                                    }
                                }
                            });
                        }
                    } else {
                        alert(file.name + " ("+(file.size/1000000)+") is too big and cant be uploaded. Max file size is " + (maxFileSize/1000000) +"mb");
                    }
                });
            } else if(file.isDirectory) {
                var dir = file;

                $.ajax({
                    url: "/pages/documentation/?do=make_dir",
                    type: "GET",
                    data: {
                        dir: "<?= urlencode($baseDir) ?>/" + encodeURI(path),
                        name: encodeURI(dir.name),
                        owner: "<?= User::get_default_instance('department') ?>",
                        show: "all",
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            var dirReader = dir.createReader();

                            dirReader.readEntries(function(entries){
                                //add to files upload var but minus 1 as directory itself has been added already
                                filesToUpload += entries.length - 1;
                                path += "/" + dir.name;
                                $.each(entries, function(key, file){
                                    fileUpload(file, key, filesToUpload, path);
                                });
                            });
                        }
                    }
                });
            }
        }

        $(".delete-file", frame).on("click", function(e){
            e.preventDefault();
            e.stopPropagation();

            var name = $(this).data("name");
            var type = $(this).data("type");

            var txt = "Are you sure you want to delete this file?";

            if (type === 'folder'){
                txt = "Are you sure you want to delete this folder and all of its contents?";
            }

            if (confirm(txt)){
                $.ajax({
                    url: "/pages/documentation/?do=delete",
                    type: "GET",
                    data: {
                        dir: "<?= $baseDir ?>",
                        name: name,
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            $("#dir-refresh", frame).click();
                        } else {
                            alert(response.error);
                        }
                    }
                });
            }
        });

        //load document viewers
        $("#doc-viewers-btn", frame).on("click", function(){
            var file = $(this).data("file");
            var tbl = $("#viewers-tbl tbody", frame);

            tbl.html("<tr><td colspan='2'><i class='fal fa-spinner fa-spin'></i></td></tr>");

            $.ajax({
                url: "/pages/documentation/?do=get_viewers",
                type: "GET",
                data: {
                    file: file,
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        tbl.html("");

                        var viewers = response.data;

                        if(viewers.length){
                            $.each(viewers, function(){
                                tbl.append("<tr><td>" + this.name + "</td><td>" + this.time + "</td></tr>");
                            });
                        } else {
                            tbl.html("<tr><td colspan='2'>Nobody has viewed this file</td></tr>");
                        }
                    } else {
                        alert(response.data);
                        tbl.html("<tr><td colspan='2'>Failed to load viewers</td></tr>");
                    }
                }
            })
        })
    });
</script>

<div id="<?=_LINK?>">
    <div class="row no-gutters" style="flex-grow: 1">
        <div class="col-12 docs-window">
            <div class="droppable d-none position-absolute">
                <div class="drop-border">
                    <div class="drop-text">&plus; Drop Here</div>
                </div>
            </div>

            <a class="btn btn-outline-primary m-1 file-link" id="dir-refresh" href="/pages/documentation/?dir=<?= urlencode($baseDir) ?>"><i class="fas fa-sync"></i> Refresh</a>

            <?php if($perms): ?>
                <a class="btn btn-outline-primary m-1" data-toggle="modal" href="#settings-modal"><i class="fal fa-cog"></i> Settings</a>
            <?php endif; ?>

            <div class="row no-gutters">
                <?php if($perms): ?>
                <div class="col-2 mb-2 file-col">
                    <div class="p-1 h-100">
                        <a class="file-link" href="/pages/documentation/?dir=<?= urlencode(dirname($baseDir)) ?>">
                            <div class="card h-100">
                                <div class="card-body p-2 text-center">
                                    <h2><i class="fal fa-folder-open"></i></h2>
                                    Back to <?= ucwords(str_replace("_", " ", basename(dirname($baseDir)))) ?>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <?php endif; ?>
                <?php foreach($files as $file): ?>
                    <?php

                    $permFile = $file . "/prophet.json";

                    if (file_exists($permFile)){
                        $dirPerms = json_decode(file_get_contents($permFile));
                        $permsGroup = array_intersect($dirPerms->groups, $groups);
                    }

                    if (!file_exists($permFile) || $dirPerms->visible == "all" || $user->department() == 7
                        || ($dirPerms->visible == "group" && count($permsGroup))
                        || ($dirPerms->visible == "user" && in_array($user->id(), $dirPerms->id))):
                    ?>
                        <div class="col-2 mb-2 file-col">
                            <div class="p-1 h-100">
                                <a class="file-link" href="/pages/documentation/?dir=<?= urlencode($file) ?>">
                                    <div class="card h-100">
                                        <div class="card-body p-2 text-center">
                                            <?php if(is_dir($file)): ?>
                                                <div class=" file-folder">
                                                    <h2><i class="fal fa-folder"></i></h2>
                                                    <span class="filename"><?= basename($file) ?></span>
                                                </div>
                                            <?php else: ?>
                                                <div class="file-file">
                                                    <h2>
                                                        <?php

                                                        $info = pathinfo($file);

                                                        switch(strtolower($info['extension'])){
                                                            case "png":
                                                            case "jpg":
                                                                echo "<i class='fal fa-file-image'></i>";
                                                                break;

                                                            case "pdf":
                                                                echo "<i class='fal fa-file-pdf'></i>";
                                                                break;

                                                            case "html":
                                                                echo "<i class='fal fa-file-code'></i>";
                                                                break;

                                                            case "csv":
                                                            case "xls":
                                                            case "xlsx":
                                                                echo "<i class='fal fa-file-spreadsheet'></i>";
                                                                break;

                                                            case "doc":
                                                            case "docx":
                                                                echo "<i class='fal fa-file-word'></i>";
                                                                break;

                                                            case "ppt":
                                                            case "pptx":
                                                                echo "<i class='fal fa-file-powerpoint'></i>";
                                                                break;

                                                            default:
                                                                echo "<i class='fal fa-file-alt'></i>";
                                                                break;
                                                        }

                                                        ?>

                                                    </h2>
                                                    <span class="filename"><?= basename($file) ?></span>
                                                </div>
                                            <?php endif; ?>
                                            <?php if($user->department() == 7 || $user->team_leader()): ?>
                                                <div class="clearfix">
                                                    <?php if(!is_dir($file)): ?>
                                                    <?php

                                                    $redisClient = RedisConnection::connect();

                                                    $file = str_replace("//", "/", $file);

                                                    $i = 0;
                                                    $runi = true;

                                                    $keys = [];

                                                    while ($runi){
                                                        $viewerCursor = $redisClient->scan($i, "MATCH", "Documentation.Viewers." . $file . ".*");

                                                        foreach($viewerCursor[1] as $vc){
                                                            $keys[] = $vc;
                                                        }

                                                        if ($viewerCursor[0] == 0){
                                                            $runi = false;
                                                        } else {
                                                            $i = $viewerCursor[0];
                                                        }
                                                    }

                                                    ?>
                                                    <div class="float-left">
                                                        <button class="btn btn-outline-primary" id="doc-viewers-btn" data-toggle="modal" data-target="#viewer-modal" data-file="<?= $file ?>"><i class="fal fa-eye"></i> <?= count($keys) ?></button>
                                                    </div>
                                                    <?php endif; ?>
                                                    <div class="float-right">
                                                        <button class="btn btn-outline-danger delete-file" data-name="<?= basename($file) ?>" data-type="<?= (is_dir($file) ? 'folder' : 'file') ?>"><i class="fal fa-trash-alt"></i></button>
                                                    </div>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
                <?php if($canCreate): ?>
                <!-- give this button to TL if their dept owns directory -->
                <div class="col-2 mb-2 file-col">
                    <div class="p-1 h-100">
                        <a data-toggle="modal" href="#new-folder-modal">
                            <div class="card h-100">
                                <div class="card-body p-2 text-center">
                                    <h2><i class="fal fa-folder-plus"></i></h2>
                                    New Folder
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <?php endif; ?>
            </div>
        </div>

        <div class="col-6 d-none view-window">
            <div class="p-1 h-100">
                <div class="content h-100"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="new-folder-modal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="GET" id="new-dir-form" action="/pages/documentation/?do=make_dir">
                        <input type="hidden" name="dir" value="<?= urlencode($baseDir) ?>">
                        <div class="row no-gutters">
                            <div class="col-8 offset-2">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="name" placeholder="folder name">
                                    </div>
                                </div>
                                <?php if(($user->department() == 7 && ($baseDir === PROPHET_MANUALS_DIR || $baseDir . "/" === PROPHET_MANUALS_DIR)) || ($baseDir !== PROPHET_MANUALS_DIR && $baseDir . "/" !== PROPHET_MANUALS_DIR)): ?>
                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <label>Owner</label>
                                        </div>
                                        <div class="col-8">
                                            <select name="owner">
                                                <?= User::allDepartments(true, false, $user->department()) ?>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row no-gutters">
                                        <div class="col-4">
                                            <label>Show</label>
                                        </div>
                                        <div class="col-8">
                                            <input type="radio" class="show-select" name="show" value="all" checked>&nbsp;<label>All</label><br>
                                            <input type="radio" class="show-select" name="show" value="group">&nbsp;<label>Groups</label><br>
                                            <input type="radio" class="show-select" name="show" value="user">&nbsp;<label>Users</label><br>
                                        </div>
                                    </div>

                                    <div class="row no-gutters d-none group-select">
                                        <div class="col-4">
                                            <label>Groups</label>
                                        </div>
                                        <div class="col-8 group-choices">
                                            <?php

                                                $s = new Search(new UserGroup);

                                                while($g = $s->next(MYSQLI_ASSOC)):
                                            ?>
                                            <?php

                                                if($g->id() == 1){
                                                    $g->name = "Finance";
                                                } elseif($g->id() == 4){
                                                    $g->name = "Partner Accounts";
                                                }

                                            ?>
                                            <input type="checkbox" name="group_filter[]" value="<?= $g->id() ?>">&nbsp;<label><?= $g->name ?></label><br>
                                            <?php endwhile; ?>
                                        </div>
                                    </div>

                                    <div class="row no-gutters d-none user-select">
                                        <div class="col-4">
                                            <label>User</label>
                                        </div>
                                        <div class="col-8 user-choices">
                                            <?php

                                                    $s = new Search(new User);
                                                    $s->eq("active", 1);
                                                    $s->nt("id", [62, 63]);

                                                    while($u = $s->next(MYSQLI_ASSOC)):
                                            ?>
                                            <input type="checkbox" name="user_filter[]" value="<?= $u->id() ?>">&nbsp;<label><?= $u->staff_name() ?></label><br>
                                            <?php endwhile; ?>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-new-folder">Create Folder</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="GET" id="settings-form" action="/pages/documentation/?do=save_settings">
                        <input type="hidden" name="dir" value="<?= urlencode($baseDir) ?>">
                        <div class="row no-gutters">
                            <div class="col-8 offset-2">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="name" placeholder="folder name" value="<?= basename($baseDir) ?>">
                                    </div>
                                </div>
                                <?php if($user->department() == 7): ?>
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <label>Owner</label>
                                    </div>
                                    <div class="col-8">
                                        <select name="owner">
                                            <?= User::allDepartments(true, false, $perms->owner) ?>
                                        </select>
                                    </div>
                                </div>

                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <label>Show</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="radio" class="show-select" name="show" value="all" <?= ($perms->visible == 'all' ? 'checked' : '') ?>>&nbsp;<label>All</label><br>
                                        <input type="radio" class="show-select" name="show" value="group" <?= ($perms->visible == 'group' ? 'checked' : '') ?>>&nbsp;<label>Groups</label><br>
                                        <input type="radio" class="show-select" name="show" value="user" <?= ($perms->visible == 'user' ? 'checked' : '') ?>>&nbsp;<label>Users</label><br>
                                    </div>
                                </div>

                                <div class="row no-gutters group-select <?= ($perms->visible != 'group' ? 'd-none' : '') ?>">
                                    <div class="col-4">
                                        <label>Groups</label>
                                    </div>
                                    <div class="col-8 group-choices">
                                        <?php
                                            $s = new Search(new UserGroup);

                                            while($g = $s->next(MYSQLI_ASSOC)):
                                        ?>
                                        <?php

                                        if($g->id() == 1){
                                            $g->name = "Finance";
                                        } elseif($g->id() == 4){
                                            $g->name = "Partner Accounts";
                                        }

                                        ?>
                                        <input type="checkbox" name="group_filter[]" value="<?= $g->id() ?>" <?= ((isset($perms->groups) && in_array($g->id(), $perms->groups)) ? 'checked' : '') ?>>&nbsp;<label><?= $g->name ?></label><br>
                                        <?php endwhile; ?>
                                    </div>
                                </div>

                                <div class="row no-gutters user-select <?= ($perms->visible != 'user' ? 'd-none' : '') ?>">
                                    <div class="col-4">
                                        <label>User</label>
                                    </div>
                                    <div class="col-8 user-choices">
                                        <?php

                                        $s = new Search(new User);
                                        $s->eq("active", 1);
                                        $s->nt("id", [62, 63]);

                                        while($u = $s->next(MYSQLI_ASSOC)):
                                        ?>
                                        <input type="checkbox" name="user_filter[]" value="<?= $u->id() ?>" <?= ((isset($perms->users) && in_array($u->id(), $perms->users)) ? 'checked' : '') ?>>&nbsp;<label><?= $u->staff_name() ?></label><br>
                                        <?php endwhile; ?>
                                    </div>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save-perms">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewer-modal" tabindex="-1" role="dialog" data-backdrop="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Document Viewers</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped" id="viewers-tbl">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Viewed</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>