<style>
    #<?=_LINK?>{
        width: 100%;
        height: 100%;
    }

    .popup #<?=_LINK?>{
        width: 600px;
        height: 800px;
   }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        frame.popup_config({
            title: "<?= $title ?>",
            center: true,
        });
    });
</script>

<div id="<?=_LINK?>">
    <?= $output ?>
</div>