<style type="text/css">

</style>

<div id="<?=_LINK?>">
    <div class="table-responsive">
        <table id="trustee-address-tbl" class="table table-striped">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Trustee Name</th>
                <th>Trustee Address</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div>
        <button id="confirm" type="button">Confirm</button>
    </div>

</div>

<script type="text/javascript">
    $(function () {

        var frame = $("#<?=_LINK?>");

        var mypop = $(frame).popup_config({
            center: true
        });

        $.ajax({
            url: "/pages/trustee/index.php?do=list_trustee_address_data&client=<?= $client ?>",
            type: "GET",
            success: function (r) {
                r = json_decode(r);
                if (r.data !== "") {
                   $("#trustee-address-tbl > tbody").append(r.data)
                }
            }
        });

        $("#confirm", frame).on("click", function () {
            var id_array = [];
            var name_array = [];
            $('input[type=checkbox]:checked').each(function () {
                id_array.push($(this).val());
                name_array.push($(this).closest('tr').find('td.trustee-name').text());
            });
            $("#included-trustees-ids").val(id_array.join(", "));
            $("#included-trustees").html(name_array.join(", "));
            $("[name=pr_preview]").attr('checked', false);
            $("#preview_row").remove();
            mypop.close();

        });
    });
</script>