<script type="text/javascript">
	$(function() {

		var form = $("#<?=_LINK?>_form");
        var company =  $("table#trustee-data-company", form);
        var client =  $("table#trustee-data-client", form);
        var namelength = $('#trustee\\[firstname\\]', client);
        var surnamelength =    $("#trustee\\[surname\\]", client);
        var companylength = $('#trustee\\[company\\]', company);

		$(form).popup_config({
			center : true
		});

        if ($(namelength).length > 0 && $(namelength).val() != '') {
            $(company).hide();
            $(client).show();
		} else if($(companylength).length > 0 && $(companylength).val() != '') {
            $(company).show();
            $(client).hide();
		}

		saveProfileNotification( form );

		// Refresh trustee table after updating new entry
		$(form).closest("table.popup").find("button.close").click(function() {
			$("tbody.content", "table#trustee-tbl").load('/pages/trustee/index.php?do=list&client=<?=$t->client()?>');
		});

        //On mouse hovering/entering the span at the top of the page
        $(".notification.save_profile.static").on("mouseenter", function () {
        });
	});
</script>

<style type="text/css">
	form#<?=_LINK?> {
		width: 650px;
	}
	form#<?=_LINK?> table.scrollable div.scroll {
		height: 100px;
		font-size: 9pt;
	}
</style>

<div id="<?_LINK?>">
	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>details-tab">Details</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>history-tab">History <span class="badge badge-pill badge-primary">*NEW*</span></a> <!-- added(9/7/20) -->
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane fade show active" id="<?=_LINK?>details-tab">
			<form id="<?=_LINK?>_form" name="<?=_LINK?>" action="<?=Trustee::get_common_url(array('do'=>'save','id'=>$t->id()))?>" method="POST">
				<table  id="trustee-data-client" >
					<tr>
						<th width="125px">Title</th>
						<td><?= el($t->title) ?></td>
						<th>Address</th>
					</tr>
					<tr>
						<th>Firstname</th>
						<td><?= el($t->firstname) ?></td>
						<td><?= el($t->address->line1) ?></td>
					</tr>
					<tr>
						<th>Surname</th>
						<td><?= el($t->surname) ?></td>
						<td><?= el($t->address->line2) ?></td>
					</tr>
					<tr>
						<th>DOB</th>
						<td><?= el($t->dob) ?></td>
						<td><?= el($t->address->line3) ?></td>
					</tr>
					<tr>
						<th>NINO</th>
						<td><?= el($t->nino) ?></td>
						<td><?= el($t->address->postcode) ?><?= $t->address->button ?></td>
					</tr>
					<tr>
						<th>Nationality</th>
						<td><?= el($t->nationality) ?></td>
					</tr>
					<tr>
						<th>Residency</th>
						<td><?= el($t->residency) ?></td>
					</tr>
				</table>

				<table  id="trustee-data-company" hidden>
					<tr id="one">
						<th>Company</th>
						<td><?= el($t->company) ?></td>
					</tr>
					<tr id="three">
						<th>Address</th>
						<td><?= el($t->address->line1) ?></td>
					</tr>
					<tr id="four">
						<td></td>
						<td><?= el($t->address->line2) ?></td>
					</tr>
					<tr id="five">
						<td></td>
						<td><?= el($t->address->line3) ?></td>
					</tr>
					<tr id="six">
						<td></td>
						<td><?= el($t->address->postcode) ?><?= $t->address->button ?></td>
					</tr>
					<tr id="seven">
						<th>Servicing Level</th>
						<td><?= el($t->servicing_level) ?></td>
					</tr>
				</table>
				<input type="hidden" id="trustee[client]" name="trustee[client]" value="<?=$t->client()?>" />
			</form>
		</div>

		<div class="tab-pane fade" id="<?=_LINK?>history-tab">
			<?= LocalLog::get_template("plugin.html", ["object"=>"Trustee","id"=>$t->id()]) ?>
		</div>
	</div>
</div>
