<script type="text/javascript">
    $(function() {

        var form = $("#<?=_LINK?>");
        $(form).popup_config({
            center : true,
            title: 'Trustee Mandates'
        });

    });
</script>

<style type="text/css">
	form#<?=_LINK?> {
		/*width: 650px;*/
	}
</style>

<form id="<?=_LINK?>">

    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped table-mc-red">
                <thead>
                <tr>
                    <th>Link</th>
                    <th>Policy</th>
                    <th>Client</th>
                    <th>Trustee</th>
                    <th>Added When</th>
                </tr>
                </thead>
                <tbody>
                <?php
                    foreach ($mandates as $key => $m) {
                ?>
                    <tr id="mapping-<?= $m->id(); ?>">
                        <td><?= $m->link(); ?></td>
                        <td><?= $m->policy->link(); ?></td>
                        <td><?= $m->client->link(); ?></td>
                        <td><?= $m->trustee; ?></td>
                        <td><?= $m->added_when; ?></td>
                    </tr>
                <?php
                    }
                ?>
                </tbody>
            </table>
        </div>
    </div>

</form>
