<?php

    $client = new Client($client);

?>

<script>
    //load trustees for selected client
    var trusteesLoaded = false, policiesLoaded = false;
    var clientID = null;

    $("#client_section").on("keyup", "#client-search .suggest input[type=text]", function(){
        trusteesLoaded = false;
        $("#<?=_LINK?>trustee_select").html("");
    });

    if ("<?=$client->id?>" != ""){
        clientID = "<?=$client->id?>";
        loadTrustees(clientID, trusteesLoaded);
    }

    $("#client-search").on("click", ".suggest li", function() {
        if ($(this).data("value")){
            clientID = $(this).data("value");
            loadTrustees(clientID, trusteesLoaded);
        }
    });

    function loadTrustees(clientID, trusteesLoaded) {
        if (clientID != null && !trusteesLoaded){
            $.ajax({
                url: "/pages/trustee/?do=select",
                type: "GET",
                data: {
                    client: clientID
                },
                success: function(response){
                    $("#<?=_LINK?>trustee_select").html(response);
                    loadPolicies(clientID, policiesLoaded);
                    trusteesLoaded = true;
                }
            });
        } else {
            alert("No client was selected when loading trustees!");
        }
    }

    function loadPolicies(clientID, policiesLoaded){
        if (clientID != null && !policiesLoaded){
            $.ajax({
                url: "pages/trustee/index.php",
                type: "GET",
                data: {
                    do: "policySearch",
                    type: "json",
                    client: clientID
                },
                dataType: "json",
                success: function (r) {
                    try {
                        if (r.policies) {
                            var tbl = $("#trustee-policy-section > table > tbody");
                            $(tbl).html("");
                            $.each(r.policies, function (k, v) {
                                $(tbl).append('<tr><td><input type="checkbox" name="trustee-policies[]" id="'+k+'" value="'+k+'"></td>'+v+'</tr>');
                            });
                        }
                    } catch (e) {
                        alert(e);
                    }
                },
                complete: function () {
                    policiesLoaded = true;
                }
            });
        } else {
            alert("No client was selected when loading policies!");
        }
    }
</script>

<div class="container px-0">
    <input class="d-none" type="radio" name="trustee" id="no-trustee" value="0" checked>
    <table class="table table-striped">
        <thead class="w-100">
            <tr>
                <th>Name</th>
                <th width="400">Address</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody class="w-100" id="<?=_LINK?>trustee_select">

        </tbody>
    </table>

    <button class="btn btn-primary" id="add-new-trustee"><i class="fas fa-plus-circle"></i> Create New Trustee</button>
</div>