<style type="text/css">
.popup #<?=_LINK?> {
    min-width: 400px;
}
add_alias_div{
	padding:15px;
}
input#alias{
	width:250px;
}
button#alias_submit{
	float:right;
}
</style>
<script type="text/javascript">

$(function(){

    var frame = $( "#<?=_LINK?>" );	
    var form = $("form#issuer_admin_form",frame);
	
    var pop = frame.popup_config({
        title: "Add Alias to Issuer: <?=$issuer?>",
        center: true
    });
	
	$(frame).on("click", "button#alias_submit",
		function(){
			$.ajax({
				url: "pages/issuer/index.php",
				type: "GET",
				data: {
					'id': "<?=$issuer->id()?>",
					'get': "add_alias",
					'alias': $("input#alias").val(),
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					if(r.status == true){
						$("button#alias_submit", frame).attr('disabled','disabled');
						$("#status", frame).html("Alias successfully added").addClass("good_news");
						 $("#alias_tbl").trigger( "list_alias" );
					}else{
						$("#status", frame).html("Error").addClass("bad_news");
					}
				}
			});
		}
	);

});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

   
    <div id="add_alias_div">
		<p>Please enter an Alias for <?=$issuer?>:</p>
		<input id="alias" name="alias" type="text" />
		<button id="alias_submit" name="alias_submit" type="submit">Submit</button>
		<p><span id="status" name="status">&nbsp;</span></p>
    </div>
	
</div>
