<tr>
    <td class="policy"><?= $item -> link() ?></td>
    <td class="client"><?= $item -> client -> link( $client -> one -> surname ) ?></td>
    <td><?= $item -> type ?></td>
    <td><?= $item -> $outdate ?></td>
</tr>
