<?php $dept = User::get_default_instance("department"); ?>
<style type="text/css">

div#<?=_LINK?> div#notes_box{
    float:right;
    width: 100%;
    height: 330px;
    padding: 0 5px 0 5px;
    overflow-y: scroll;
}

#<?=_LINK?> .scrollable .scroll {
    height: 400px;
}

#<?=_LINK?> table#outstanding_items .scroll{
    height:350px;
}

.popup #<?=_LINK?> {
    min-width: 800px;
}
</style>
<script type="text/javascript">

$(function(){

    var frame = $( "#<?=_LINK?>" );
    var agency_tbl = $( "table#agencies_tbl", frame );
    var outst_form = $( "form#outstanding-form", frame );
    var loadingSpinner = $("img#spinner",frame);
	
    var form = $("form#issuer_admin_form",frame);
	
    var pop = frame.popup_config({
        title: "Issuer: <?=$issuer?>",
        center: true
    });


    $( agency_tbl ).bind(
        "refresh",
        function(){
            $.get(
                "<?= AgencyEDI::get_common_url() ?>",
                {
                    "do": "list",
                    "filter":{
                        "issuer": <?=$issuer->id()?>,
                        "is_main": true
                    }
                },
                function( r ){

                    $( "tbody:last", agency_tbl ).html( r );
                }
            );
        });

    $( agency_tbl ).trigger( "refresh" );
    
    $("button#outstanding_mandates").click(function(){
        loadingSpinner.show();
        $.post( '<?=Issuer::index_url(array('id'=>$issuer->id, 'get'=>'outstanding','mode'=>'mandates'))?>', $(outst_form).serialize(), function(r){
            $("table#outstanding_items tbody.content").html(r);
            loadingSpinner.hide();
        return false;
        });
    });
    
    $("button#outstanding_valuations").click(function(){
        loadingSpinner.show();
        $.post( '<?=Issuer::index_url(array('id'=>$issuer->id, 'get'=>'outstanding','mode'=>'valuations'))?>', $(outst_form).serialize(), function(r){
            $("table#outstanding_items tbody.content").html(r);

                loadingSpinner.hide();
        return false;
        });
    });

    //#hack this calibrates the table,since there is no ajax request to trigger self-calibration
    $("#contact_tbl",frame).bind('onshow',function(){
        $(this).trigger( "calibrateContent" );
    });

    // lazy load contact and agency details
    $.get(
        "<?=IssuerContact::get_common_url(array('do'=>'list'))?>",
        { 'filter': { 'issuer': <?=$issuer->id()?> } },
        function( r ){

        //On click of the copy address button copy the address field in the selected row
            $("#contact_tbl tbody.content",frame).html( r );

            if (!$("#contact_tbl tbody.content",frame).first("tr").hasClass("default-contact")){
                var row = $("#contact_tbl tbody.content .default-contact",frame);
                var rowContent = row.wrap("<p/>").parent().html();
                row.remove();

                $("#contact_tbl tbody.content",frame).prepend( rowContent );
            }

            $("td button.copyBtn ", frame).on('click', function(){

                var address =  $(this).closest("tr").find("td:nth-child(2)").text();
                copyAddress(address);
                var response = $(this).closest("tr").find("span#copiedspan").html("Copied").addClass("good_news");

                setTimeout(function() {
                   response.html("").removeClass("good_news");
                },3000);

            });

            });



    $( "div#notes_box",frame ).load( '/pages/tools/notes/?do=list&object=Issuer&object_id=<?= $issuer ->id ?>' );
	
	saveProfileNotification( form );
	
	$("#alias_tbl",frame).bind('onshow',function(){
        $(this).trigger( "list_alias" );
    });
	
	$( "#alias_tbl",frame ).bind(
		"list_alias",
		function(){
			$.ajax({
				url: "pages/issuer/index.php",
				type: "GET",
				data: {
					'id': "<?=$issuer->id()?>",
					'get': "list_alias",
					type: "json"
				},
				dataType: "json",
				success: function( r ){
					if(r.data == false){
						$("#alias_tbl tbody.content",frame).html( "<tr><td>No Aliases found.</td></tr>" );
					}else{
						$("#alias_tbl tbody.content",frame).html( r.data );
					}
				}
			});
		}
	);
	
	//show cross when value = 0
    if( $("#issuer\\[payscomm\\]", frame).val() != 1 ){
        $("#issuer\\[payscomm\\]", frame).attr("value", "0");
    }

    $("#aliases_tab").click(function(){
       $("#alias_tbl", frame).trigger("onshow");
    });

    var xhr = null;

    $("#<?=_LINK?>client_search").keyup(function() {
        var q = $(this).val();

        $(this).removeClass("is-invalid");

        if (q.length > 0){
            xhr = $.ajax({
                url: "/pages/issuer/?do=client_search",
                type: "GET",
                data: {
                    issuer: "<?= $issuer->id ?>",
                    q: q
                },
                dataType: "JSON",
                beforeSend: function(){
                    $("#<?=_LINK?>client_search_text").hide();
                    $("#<?=_LINK?>search_helper #spinner_pol").show();

                    if (xhr != null){
                        xhr.abort();
                    }
                },
                success: function(r) {
                    xhr = null;
                    $("#<?=_LINK?>search_helper #spinner_pol").hide();

                    if (r.success){
                        if (r.data != ""){
                            $("#<?=_LINK?>client_search_results .content").html(r.data);
                        } else {
                            $("#<?=_LINK?>client_search").addClass("is-invalid");
                            $("#<?=_LINK?>client_search_results .content").html("");
                        }
                    }
                }
            });
        } else {
            xhr.abort();
            xhr = null;
            $("#<?=_LINK?>client_search_results .content").html("");
            $("#<?=_LINK?>client_search_text").show();
            $("#<?=_LINK?>search_helper #spinner_pol").hide();
        }
    });
});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>outstanding">Outstanding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="aliases_tab" data-toggle="tab" href="#<?=_LINK?>aliases">Aliases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>clients">Client Search</a>
        </li>
    </ul>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="<?=_LINK?>overview">

            <div class="row no-gutters">
                <div class="col-8">
                    <form id="issuer_admin_form" name="issuer_admin_form" action="<?=Issuer::get_common_url(["id"=>$issuer->id,"do"=>"save"])?>" method="POST" style="width:100%;">
                        <?php if ($dept == 7) { ?>

                    <div class="row">
                        <div class="col-6">
                            <table style="width:100%;">
                                <tbody>
                                <tr>
                                    <th width="150px">Name</th>
                                    <td colspan="3"><?= $issuer->link('$name ($id)') ?></td>
                                </tr>
                                <tr>
                                    <th>Pays Income</th>
                                    <td><?= el($issuer->payscomm) ?></td>
                                    <th>Main Agency</th>
                                    <td><?= el($issuer->code) ?></td>
                                </tr>
                                <tr>
                                    <th>Mandates by fax</th>
                                    <td><?= el($issuer->accepts_fax_mandates) ?></td>
                                    <th>Website</th>
                                    <td><?=el($issuer->website)?></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-4">
                            <table style="width:25%;">
                                <tbody>
                                <tr>
                                    <th width="150px">Address</th>
                                </tr>
                                <tr>
                                    <td>  <?= el($issuer->address->line1) ?></td>
                                </tr>
                                <tr>
                                    <td>  <?= el($issuer->address->line2) ?></td>
                                </tr>
                                <tr>
                                    <td>  <?= el($issuer->address->line3) ?></td>
                                </tr>
                                <tr>
                                    <td>  <?= el($issuer->address->postcode) ?></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                        <?php }else{ ?>

                    <div class="row">
                        <div class="col-6">
                            <table style="width:100%;">
                                <tbody>
                                <tr>
                                    <th width="150px">Name</th>
                                    <td colspan="3"><?= $issuer->link('$name ($id)') ?></td>
                                </tr>
                                <tr>
                                    <th>Pays Income</th>
                                    <td><?= $issuer->payscomm ?></td>
                                    <th>Main Agency</th>
                                    <td><?= $issuer->code ?></td>
                                </tr>
                                <tr>
                                    <th>Mandates by fax</th>
                                    <td><?= $issuer->accepts_fax_mandates ?></td>
                                    <th>Website</th>
                                    <td><a href="http://<?=$issuer->website?>" target="_blank"><?=$issuer->website?></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-4">
                            <table style="width:25%;">
                                <tbody>
                                <tr>
                                    <th width="150px">Address</th>
                                </tr>
                                <tr>
                                    <td>  <?= $issuer->address->line1 ?></td>
                                </tr>
                                <tr>
                                    <td>  <?= $issuer->address->line2 ?></td>
                                </tr>
                                <tr>
                                    <td>  <?= $issuer->address->line3 ?></td>
                                </tr>
                                <tr>
                                    <td>  <?= $issuer->address->postcode ?></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                        <?php } ?>
                    </form>

                    <div class="panel mt-3" style="width:90%">
                        <h1>EDI Main Agencies</h1>
                        <br />

                        <table id="agencies_tbl" name="agencies_tbl" class="scrollable">
                            <tbody class="content">
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col-4">
                    <div id="notes_box" name="notes_box"></div>
                </div>
            </div>

            <br />

        </div>
        
        <div class="tab-pane fade" id="<?=_LINK?>contact">
          <p> 
            <button class="add" href="<?=IssuerContact::get_common_url(array('do'=>'create','issuer'=>$issuer->id()))?>">Add Contact</button>
            <button onclick="$(function(){ $('#contact_tbl').export(); });"><img src='<?= el::image("table_go.png")?>' /></button> 
            <button onclick="$(function(){ $('#contact_tbl').print(); });"><img src='<?= el::image("printer.png")?>' /></button> 
          </p>
          
          <table id='contact_tbl' name='contact_tbl' class="scrollable">
            <thead>
                <tr>
                    <th style="width:10%;">Details for</th>
                    <th style="width:25%;">Address</th>
                    <th style="width:10%;">Contact</th>
                    <th style="width:12%;">Phone</th>
                    <th style="width:18%;">Fax</th>
                    <th style="width:20%;">Email</th>
                    <th style="width:5%;">&nbsp;</th>
                </tr>
            </thead>
            <tbody class="content">
            </tbody>
            <tfoot>
            </tfoot>
          </table>
          
        </div>
        
        <div class="tab-pane fade" id="<?=_LINK?>outstanding">
        
            <form id="outstanding-form" name="outstanding-form">
                <b>View Outstanding - </b>
                From: <?=el::date('datefrom') ?> To: <?= el::date('dateto') ?>
                <?= el::bt( "Mandates", "outstanding_mandates" ); ?>
                <?= el::bt( "Valuations", "outstanding_valuations" ); ?>
                <button onclick="$(function(){ $('#outstanding_items').export(); });"><img src='<?= el::image("table_go.png")?>' alt='export' /></button>
                <button onclick="$(function(){ $('#outstanding_items').print(); });"><img src='<?= el::image("printer.png")?>' alt='print' /></button>
                <img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif" style="display:none;"/>
            </form>

            
            <table id='outstanding_items' name='outstanding_items' class='scrollable'>
                <thead>
                    <th>Policy</th>
                    <th>Client</th>
                    <th>Type</th>
                    <th>Date sent</th>
                </thead>
                <tbody class="content">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
		
		<div class="tab-pane fade" id="<?=_LINK?>aliases">
			<p>
				<?php if($dept == 7){ ?>
					<button  class="add" id="add_alias" href="<?=Issuer::index_url(array('get'=>'add_alias','id'=>$issuer->id()))?>">Add Alias</button>
				<?php } ?>
				<button onclick="$(function(){ $('#alias_tbl').export(); });"><img src='<?= el::image("table_go.png")?>' /></button> 
				<button onclick="$(function(){ $('#alias_tbl').print(); });"><img src='<?= el::image("printer.png")?>' /></button>
			</p>

			<table id='alias_tbl' name='alias_tbl' class="scrollable">
				<thead>
					<tr>
						<th>Alias</th>
					</tr>
				</thead>
				<tbody class="content">
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>

        <div class="tab-pane fade" id="<?=_LINK?>clients">
            <div class="row no-gutters">
                <div class="col-6">
                    <input class="form-control p-2" id="<?=_LINK?>client_search" type="text" placeholder="Search By Name">
                </div>
                <div class="col-12">
                    <table class="table table-striped scrollable mt-3" id="<?=_LINK?>client_search_results">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Client 1</th>
                                <th>Client 2</th>
                                <th>Partner</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody class="content">
                        </tbody>
                    </table>
                    <div id="<?=_LINK?>search_helper">
                        <span id="<?=_LINK?>client_search_text">Start typing a name to search for clients with a policy under <?= $issuer->name ?></span>
                        <img class="hidden" id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</div>
