<?php $user = new User(User::get_default_instance('id'),true);?>
<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    #save-meeting{
        display: none;
    }
</style>
<script>
    $(function(){
        var date = null;
        var cDate = null;
        var text = null;
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/company_meeting",
            type: "GET",
            data: {
                load_meeting: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    date = response.meeting.date;
                    text = response.meeting.text;

                    if (date && date != "No Meeting Scheduled"){
                        cDate = new Date(date);
                    }

                    $("#meeting-date").html(date);
                    $("#meeting-text").html(text);
                } else {
                    $("#meeting-text").html("Failed to load data!!!");
                }
            }
        });

        $("#change-meeting").click(function(){
            $("#meeting-date").html("<?= addslashes(el::datetime('meeting'))?>");
            $("#meeting-text").attr("contenteditable", true);

            //set the meeting date
            if (cDate){
                var dateParts = {
                    year: cDate.getFullYear(),
                    month: cDate.getMonth() + 1,
                    day: cDate.getDate(),
                    hour: cDate.getHours(),
                    mins: cDate.getMinutes()
                };

                $.each(dateParts, function(key, value){
                    if (value < 10){
                        value = "0" + value.toString();
                    }

                    dateParts[key] = value.toString();
                });

                $("#meeting_y").val(dateParts['year']);
                $("#meeting_m").val(dateParts['month']);
                $("#meeting_d").val(dateParts['day']);
                $("#meeting_h").val(dateParts['hour']);
                $("#meeting_i").val(dateParts['mins']);
            }

            $(this).hide();
            $("#save-meeting").show();
        });

        $("#save-meeting").click(function(){
            var datetime = $("#meeting_y").val() + "-" + $("#meeting_m").val() + "-" + $("#meeting_d").val() + " " + $("#meeting_h").val() + ":" + $("#meeting_i").val();
            var text = $("#meeting-text").html().trim();

            $.ajax({
                url: "/pages/widget/company_meeting",
                type: "GET",
                data: {
                    save_meeting: true,
                    datetime: datetime,
                    text: text
                },
                dataType: "json",
                success: function(response){
                    if (response.success){
                        location.reload();
                    } else {
                        $("#meeting-text").html("Failed to save data!!!");
                    }
                }
            });
        });
    });
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Company Meeting <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <h4 class="text-center">Next Meeting</h4>
        <h6 class="text-center" id="meeting-date"></h6>
        <p class="text-center font-italic mt-3" id="meeting-text"></p>
        <?php if($user->id == "214" /*Michaela*/ || $user->department = "7"): ?>
        <div class="text-center">
            <button class="btn btn-info" id="change-meeting">Change Meeting</button>
            <button class="btn btn-info" id="save-meeting">Save Meeting</button>
        </div>
        <?php endif ?>
    </div>
</div>