<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
        height: 100%;
    }
</style>
<script>
    $(function(){
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/correspondence",
            type: "GET",
            data: {
                user: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    var corrToday = response.processedToday;
                    var corrWeek = response.processedWeek;

                    $("#myItemsProcessedToday").html(corrToday);
                    $("#myItemsProcessedWeek").html(corrWeek);

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        })
    })
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Correspondence Statistics (Personal) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row">
            <div class="col-12 text-center">
                <h3 id="myItemsProcessedToday">00</h3>
                <p>Processed Today</p>
            </div>
            <div class="col-12 text-center">
                <h3 id="myItemsProcessedWeek">00</h3>
                <p>Processed Last 7 Days</p>
            </div>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span></small>
            </div>
        </div>
    </div>
</div>