<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    #<?=_LINK?>container .mock-ui-widget-header{
            margin-bottom: 5px;
        }

    #<?=_LINK?>container .audit-container{
            height: 193px;
            overflow-y: scroll;
    }
</style>
<script>
    $(function(){
        //load the invoice data
        $.ajax({
            url: "/pages/widget/correspondence",
            type: "GET",
            data: {
                type: "time_audit"
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    $.each(response.rows, function(){
                        $row = this.toString();
                        $("#audit_times").append($row);
                    });

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        });
    });
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Average Spot Check Times (Today) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="audit-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Items Checked</th>
                    <th scope="col">Avg. Time</th>
                </tr>
                </thead>
                <tbody id="audit_times"></tbody>
            </table>
            <div class="text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span></small>
            </div>
        </div>
    </div>
</div>