<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    #<?=_LINK?>container .mock-ui-widget-header{
            margin-bottom: 5px;
        }

    #<?=_LINK?>container .gi-container{
            height: 125px;
            overflow-y: scroll;
        }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>container");

        function loadGoodIdeas(status){
            $.ajax({
                url: "/pages/widget/good_ideas/?do=load",
                type: "GET",
                data: {
                    status: status,
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        $(".gi-total", frame).text(response.total);
                        $(".gi-money", frame).text(response.total*50);
                        $("tbody", frame).html(response.data);
                    }
                }
            });
        }

        loadGoodIdeas("pending");

        $(".nav-item", frame).on("click", function(){
            loadGoodIdeas($(".nav-link", this).data("status"));
        });
    });
</script>

<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">My Good Ideas <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>

        <ul class="nav nav-tabs mb-2">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" data-status="pending" href="#<?=_LINK?>gi_tab">Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-status="awaiting development" href="#<?=_LINK?>gi_tab">Awaiting Development</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-status="awaiting payment" href="#<?=_LINK?>gi_tab">Awaiting Payment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-status="paid" href="#<?=_LINK?>gi_tab">Paid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" data-status="rejected" href="#<?=_LINK?>gi_tab">Rejected</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="<?=_LINK?>gi_tab">
                <p class="mb-1 text-right font-weight-bold">Total: <span class="gi-total">0</span> (£<span class="gi-money">0</span>)</p>
                <div class="gi-container">
                    <table class="table table-striped">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>