<?php

$day_of_month = strtotime(date("Y") . "-" . date("m") . "-16");
$now = strtotime(date("Y-m-d"));

if ($day_of_month < $now){
    $month = date("F");
} else {
    $month = date("F", strtotime("-1 months"));
}
?>

<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
        height: 100%;
    }
</style>
<script>
    $(function(){
        //load the income data for this user
        $.ajax({
            url: "/pages/widget/finance",
            type: "GET",
            data: {
                dept: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    var processedCount = response.processedCount;
                    var processedTotal = response.processedTotal;

                    $("#teamItemsProcessedCount").html(processedCount);
                    $("#teamItemsProcessedTotal").html(processedTotal);

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        })
    })
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Income Processed (Team) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row no-gutters">
            <div class="col-12 text-center">
                <h3 id="teamItemsProcessedCount">00</h3>
                <p>Items Processed</p>
            </div>
            <div class="col-12 text-center">
                <h3>£<span id="teamItemsProcessedTotal">00</span></h3>
                <p>Total Amount Processed</p>
            </div>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span> | Income Processed Since 16th <?= $month ?></small>
            </div>
        </div>
    </div>
</div>