<?php

$day_of_month = strtotime(date("Y") . "-" . date("m") . "-16");
$now = strtotime(date("Y-m-d"));

if ($day_of_month < $now){
    $month = date("F");
} else {
    $month = date("F", strtotime("-1 months"));
}
?>

<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>container");
        $.ajax({
            url: "/pages/widget/io_report",
            type: "GET",
            data: {
                dept: true,
            },
            dataType: "JSON",
            success: function(response){
                if (response.success){
                    var processed = response.processed;
                    var amount = response.amount;
                    var average = response.average;

                    $("#reports_processed", frame).html(processed);
                    $("#reports_amount", frame).html(amount);
                    $("#reports_average", frame).html(average);

                    $(".update-time", frame).html(response.lastUpdate);
                } else {
                    $(".mock-ui-widget", frame).html("Failed to load data!!!");
                }
            }
        });
    });
</script>

<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Portfolio Reports Processed (Team) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row no-gutters">
            <div class="col-12 text-center">
                <h3 id="reports_processed">00</h3>
                <p>Reports Processed</p>
            </div>
            <div class="col-6 text-center">
                <h3>&pound;<span id="reports_amount">00</span></h3>
                <p>Total Cost</p>
            </div>
            <div class="col-6 text-center">
                <h3>&pound;<span id="reports_average">00</span></h3>
                <p>Average Cost</p>
            </div>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span> | Reports Processed Since 16th <?= $month ?></small>
            </div>
        </div>
    </div>
</div>