<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }
</style>
<script>
    $(function(){
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/servicedesk/",
            type: "GET",
            data: {
                team: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    var teamOpen = response.teamOpen;
                    var ticketsClosed = response.ticketsClosed;
                    var ticketsTime = response.avgTime;
                    var overallAvg = response.overallAvg;

                    var ticketTimeParts = ticketsTime.split(":");

                    var ticketTimeHours = ticketTimeParts[0];
                    var ticketTimeMins = ticketTimeParts[1];
                    var ticketTimeSecs = ticketTimeParts[2];

                    var overallTimeParts = overallAvg.split(":");

                    var overallTimeHours = overallTimeParts[0];
                    var overallTimeMins = overallTimeParts[1];
                    var overallTimeSecs = overallTimeParts[2];

                    $("#serviceDeskTicketsOpen").html(teamOpen);
                    $("#serviceDeskTicketsClosed").html(ticketsClosed);
                    $("#serviceDeskTicketsAvgTime").html(ticketTimeHours + "h " + ticketTimeMins + "m " + ticketTimeSecs + "s");

                    $("#serviceDeskTicketsAvgTimeEver").html(overallTimeHours + "h " + overallTimeMins + "m " + overallTimeSecs + "s");

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        })
    })
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">IT Service Desk (Team) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row no-gutters">
            <div class="col-6 text-center">
                <h3 id="serviceDeskTicketsOpen">00</h3>
                <p>Team Tickets Open</p>
            </div>
            <div class="col-6 text-center">
                <h3 id="serviceDeskTicketsClosed">00</h3>
                <p>Tickets Closed Today</p>
            </div>
            <div class="col-6 text-center">
                <h5 id="serviceDeskTicketsAvgTime">00</h5>
                <p>Average Time Taken Today</p>
            </div>
            <div class="col-6 text-center">
                <h5 id="serviceDeskTicketsAvgTimeEver">00</h5>
                <p>Overall Average Time</p>
            </div>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span></small>
            </div>
        </div>
    </div>
</div>