<style>
    #<?=_LINK?>container{
        width: 99%;
        height: 98%;
        padding: 0 5px;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }
    #activity-stream > div{
        margin-top:15px;
    }
    div #jiraData{
        width:98%;
        height: 320px;
        overflow-y: scroll;
    }

    @media(min-width: 1441px){
        div #jiraData{
            height: 430px;
        }
    }

    div #jiraData #avatar {
        display: inline-block;
        height: 30px;
        width: 30px;
    }


    div #jiraData H3 {
        text-align: center;
    }

    div #jiraData #activity-stream{
        width: 99%;
    }

    div #jiraData #activityDescription p {
        padding: 7px;
        text-align: justify;
    }

    div #jiraData #activity-stream  .user-content p{
        padding-left: 15px;
    }

    div #jiraData span#errorSpan{
        padding-left: 150px;
        color: red;
    }

    div #jiraData img{
        display: none;
    }
</style>
<script>
    $(function(){
        $.ajax({
            url: "pages/tools/articles/?get=getJiraData",
            type: "get",
            dataType: "json",
            success: function (r) {

                if ((r.error) != null) {
                    handleSystemError(r.error);
                } else {
                    $.ajax({
                        url: "pages/tools/articles/?get=jiraData",
                        type: "get",
                        dataType: "json",
                        success: function( r ){
                            if ((r.data) == null) {
                                $(" div #jiraData ").append("<span id='errorSpan'>An error has occurred - please refresh the feed</span>");
                            }

                            $("div #jiraData #activity-stream").html(r.data);
                            $(" div #jiraData #activity-stream  blockquote p").prepend("<img style='height: 12px;' src='\\lib\\images\\quotes.svg' >");
                            $(" div #jiraData #activity-stream  blockquote p").append("<img style='height: 12px;' src='\\lib\\images\\right-quotes.svg' >");
                            $(" div #jiraData #activity-stream  .user-content p").prepend("<span style='font-size:10px;'>&#8226; </span>");

                        }
                    });
                }
            }
        });
    });
</script>
<div class="container-fluid" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header mb-1">Jira Feed <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row no-gutters px-2 it-jira-feed">
            <div class="col-12" id="jiraData">
                <div id="activity-stream">
                    <!-- Jira feed data -->
                    <img class="spinner" name="spinner" src="/lib/images/ajax-loader.gif"/>
                </div>
            </div>
        </div>
    </div>
</div>