<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    .nb_ticket_container{
        height: 120px;
        overflow-y: scroll;
    }
</style>
<script>
    $(function(){
        //load the nb tickets for this user
        $.ajax({
            url: "/pages/widget/nb_tickets/",
            type: "GET",
            data: {
                user: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    var tickets = {};

                    var today = new Date();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1;
                    var yyyy = today.getFullYear();

                    if (dd < 10) {
                        dd = '0' + dd;
                    }

                    if (mm < 10) {
                        mm = '0' + mm;
                    }

                    //today = dd + '/' + mm + '/' + yyyy;
                    today = "05/01/2018";

                    var countToday = 0;
                    var countWeek = 0;

                    $.each(response.myTickets, function(){
                        if (this.added == today){
                            countToday++;
                            $(".todays_tickets").append("<p class='mb-0'>" + this.description + ": " + this.tickets + "</p>");
                        }

                        if (tickets[this.description] != undefined){
                            tickets[this.description] += this.tickets;
                        } else {
                            tickets[this.description] = this.tickets;
                        }
                        countWeek++;
                    });

                    if (countToday == 0){
                        $(".todays_tickets").append("No Tickets");
                    }

                    if (countWeek > 0){
                        $.each(tickets, function(key, value){
                            $(".week_tickets").append("<p class='mb-0'>" + key + ": " + value + "</p>");
                        });
                    } else {
                        $(".week_tickets").append("No Tickets");
                    }

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        })
    })
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">New Business Tickets (Personal) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row no-gutters px-3 my_nb_tickets">
            <div class="col-6">
                <h5 class="text-center">Today</h5>
            </div>
            <div class="col-6">
                <h5 class="text-center">Last 7 Days</h5>
            </div>
            <div class="col-12 nb_ticket_container text-center">
                <div class="row no-gutters">
                    <div class="col-6 todays_tickets">
                    </div>
                    <div class="col-6 week_tickets">
                    </div>
                </div>
            </div>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span></small>
            </div>
        </div>
    </div>
</div>