<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }
</style>
<script>
    $(function(){
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/recruits",
            type: "GET",
            data: {
                user: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    var recruits1 = response.recruits1;
                    var recruits2 = response.recruits2;
                    var recruits3 = response.recruits3;
                    var recruits4 = response.recruits4;

                    $("#myRecruits1").html(recruits1);
                    $("#myRecruits2").html(recruits2);
                    $("#myRecruits3").html(recruits3);
                    $("#myRecruits4").html(recruits4);

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        })
    })
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Recruits - Last 7 days (Personal) <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="row no-gutters">
            <div class="col-6 text-center">
                <h3 id="myRecruits1">00</h3>
                <p>Mandate</p>
            </div>
            <div class="col-6 text-center">
                <h3 id="myRecruits2">00</h3>
                <p>Agency - Single</p>
            </div>
            <div class="col-6 text-center">
                <h3 id="myRecruits3">00</h3>
                <p>Agency - Agency</p>
            </div>
            <div class="col-6 text-center">
                <h3 id="myRecruits4">00</h3>
                <p>Agency - Mandate</p>
            </div>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span></small>
            </div>
        </div>
    </div>
</div>