<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    #<?=_LINK?>container .btn-ps{
        background: linear-gradient(#006686, #00526B);
        color: #fdfdfd;
        font-size: 1.3em;
        padding: .5em;
        transition: all .5s ease-in-out;
    }

    #<?=_LINK?>container .text-center{
        margin-top: 5rem;
    }

    #<?=_LINK?>container .btn-ps:hover{
        background: linear-gradient(#00526B, #006686);
        text-decoration: none;
    }
</style>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Recurring Invoices <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="text-center">
            <a href="http://bigmummy2.internal.policyservices.com:8000/recurring_invoices" target="_blank" class="btn-ps">Invoice Ninja</a>
        </div>
    </div>
</div>