<?php $user = new User(User::get_default_instance('id'),true);?>
<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    #save-achievement{
        display: none;
    }
</style>
<script>
    $(function(){
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/staff_achievements",
            type: "GET",
            data: {
                load_quote: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    $("#achievement-quote").html(response.data);
                } else {
                    $("#achievement-quote").html("Failed to load data!!!");
                }
            }
        });
    });

    $("#change-achievement").click(function(){
        $("#achievement-quote").attr("contenteditable", true).focus();
        $(this).hide();
        $("#save-achievement").show();
    });

    $("#save-achievement").click(function(){
        var quote = $("#achievement-quote").html().trim();

        $.ajax({
            url: "/pages/widget/staff_achievements",
            type: "GET",
            data: {
                save_quote: true,
                quote: quote
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    location.reload();
                } else {
                    $("#achievement-quote").html("Failed to save data!!!");
                }
            }
        });
    });
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Staff Achievements <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <p class="text-center font-italic p-3" id="achievement-quote">
            <!-- Load postcard quote here -->
        </p>
        <?php if($user->id == "214" /*Michaela*/ || $user->department = "7"): ?>
        <div class="text-center">
            <button class="btn btn-info" id="change-achievement">Change Text</button>
            <button class="btn btn-info" id="save-achievement">Save Text</button>
        </div>
        <?php endif ?>
    </div>
</div>