<?php $user = new User(User::get_default_instance('id'),true);?>
<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
            height: 100%;
        }

    #save-rota{
        display: none;
    }
</style>
<script>
    $(function(){
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/team_rota/",
            type: "GET",
            data: {
                load_rota: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    $("#teamRotaContainer").html(response.rota);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        });

        $("#change-rota").click(function(){
            $("#teamRotaContainer").attr("contenteditable", true).focus();
            $(this).hide();
            $("#save-rota").show();
        });

        $("#save-rota").click(function(){
            var rota = $("#teamRotaContainer").html().trim();

            $.ajax({
                url: "/pages/widget/team_rota/",
                type: "GET",
                data: {
                    save_rota: true,
                    rota: rota
                },
                dataType: "json",
                success: function(response){
                    if (response.success){
                        location.reload();
                    } else {
                        $("#teamRotaContainer").html("Failed to save data!!!");
                    }
                }
            });
        });
    });
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Team Rota<a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
            <p class="text-center p-3" id="teamRotaContainer"></p>
            <?php if($user->team_leader() == 1): ?>
            <div class="text-center">
                <button class="btn btn-info" id="change-rota">Change Rota</button>
                <button class="btn btn-info" id="save-rota">Save Rota</button>
            </div>
            <?php endif ?>
    </div>
</div>