<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
        height: 100%;
    }

    #<?=_LINK?>container .mock-ui-widget-header{
        margin-bottom: 5px;
    }

    #<?=_LINK?>container .invoice-container{
        height: 193px;
        overflow-y: scroll;
      }
</style>
<script>
    $(function(){
        //load the invoice data
        $.ajax({
            url: "/pages/widget/invoices",
            type: "GET",
            data: {
                type: "single"
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    $.each(response.rows, function(){

                        $row = this.toString();
                        $("#upcoming_invoices").append($row);
                    });

                    $("#<?=_LINK?>container .update-time").html(response.lastUpdate);
                } else {
                    $("#<?=_LINK?>container .mock-ui-widget").append("Failed to load data!!!");
                }
            }
        });
    });
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Upcoming Single Invoices <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="invoice-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Invoice No.</th>
                    <th scope="col">Ref. No.</th>
                    <th scope="col">Date Due</th>
                    <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody id="upcoming_invoices"></tbody>
            </table>
            <div class="col-12 text-center text-muted">
                <small>Last Updated At: <span class="update-time"></span></small>
            </div>
        </div>
    </div>
</div>