<?php $user = new User(User::get_default_instance('id'),true);?>
<style>
    #<?=_LINK?>container{
        width: 98%;
        height: 98%;
        padding: 1%;
    }

    #<?=_LINK?>container .mock-ui-widget{
        height: 100%;
    }

    #save-visitors{
        display: none;
    }

    .visitors-container{
        width: fit-content;
    }

    .visitors-container p{
        margin-bottom: 0;
        font-size: 1rem;
    }
</style>
<script>
    $(function(){
        //load the correspondence data for this user
        $.ajax({
            url: "/pages/widget/visitors",
            type: "GET",
            data: {
                load_visitors: true
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    var visitors = response.data;

                    $.each(visitors, function(){
                        var visitorText = "No Visitors";
                        if (this.visitors != 0){
                            visitorText = "<i class=\"fal fa-user-tie\"></i>&nbsp;<i class=\"fal fa-scarf\"></i>&nbsp;<i class=\"fal fa-volume-slash\"></i>";
                        }

                        $(".visitors-container").append("<p>" +
                            "<span class='visitor-day'>" + this.day + "</span>" +
                            ":&nbsp;<span class='float-right visitor-bool' data-visitors='" + this.visitors + "'>" + visitorText + "</span>" +
                            "</p>");
                    });
                } else {

                }
            }
        });
    });

    $("#change-visitors").click(function(){
        $(this).hide();
        $("#save-visitors").show();

        $(".visitor-bool").each(function(){
            var visitors = $(this).data("visitors");
            var day = $(this).siblings(".visitor-day").html();

            var checked= "";

            if (visitors != 0){
                checked = "checked";
            }

            $(this).html("<input class='mt-2 visitor-entry' data-day='" + day + "' type='checkbox' " + checked + ">");
        });
    });

    $("#save-visitors").click(function(){
        var visitors = [];

        $(".visitor-entry").each(function(){
            var day = $(this).data("day");
            var visitorsToday = 0;

            if ($(this).is(":checked")){
                visitorsToday = 1;
            }

            var dayArray = {
                "day": day,
                "visitors": visitorsToday
            };

            visitors.push(dayArray);
        });

        var visitorsJSON = JSON.stringify(visitors);

        $.ajax({
            url: "/pages/widget/visitors",
            type: "GET",
            data: {
                save_visitors: true,
                visitors: visitorsJSON
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    location.reload();
                } else {

                }
            }
        });
    });
</script>
<div class="container" id="<?=_LINK?>container">
    <div class="mock-ui-widget">
        <h1 class="mock-ui-widget-header">Visitors <a href="#" class="float-right mr-2 text-light remove-widget">&times;</a></h1>
        <div class="mx-auto visitors-container">
            <!-- load content here -->
        </div>
        <?php if($user->id == "214" /*Michaela*/ || $user->department = "7"): ?>
        <div class="text-center">
            <button class="btn btn-info" id="change-visitors">Change Visitors</button>
            <button class="btn btn-info" id="save-visitors">Save Visitors</button>
        </div>
        <?php endif ?>
    </div>
</div>