<?php $user = new User(User::get_default_instance("id"), true); ?>
<style type="text/css">
#<?=_LINK?> {
    width: 700px;
}
#<?=_LINK?> > div > div {
    min-height: 200px;
}
input[type='submit'], button {
	font-size: 9pt;
}
</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var passwdForm = $("form#passwd_form",frame);

		window.pop = frame.popup_config({
			'title': "Change Password",
			'center': true
		});

		saveProfileStatusSpan( passwdForm );

		$(passwdForm).bind(
			"successfulSave",
				function(){
					window.pop.close();
					window.location.href='/';
				}
		);

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<!-- Change Password -->
	<div>

		<div style="border:1px dashed;padding:3px;">
			<b>Passwords must...</b>
			<ul>
				<li>be at least 7 characters in length</li>
				<li>be a combination of alphanumeric characters ( symbols are welcome )</li>
				<li>not contain your username or email address</li>
				<li>not be found in the forbidden passwords file</li>
				<li>not contain your forename or surname</li>
			</ul>
		</div>

		<form id="passwd_form" name="passwd_form" action="<?= User::index_url(array('id'=>$user->id(),'do'=>'passwd')) ?>" method="POST">
			<p></p>
			<table align="center">
				<tr>
					<th width="150px">Password</th>
					<td><?= el::pwd("current_passwd") ?></td>
				</tr>
				<tr>
					<th>New Password</th>
					<td><?= el::pwd("new_passwd") ?></td>
				</tr>
				<tr>
					<th>Confirm Password</th>
					<td><?= el::pwd("confirm_passwd") ?></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:right;">
					<input type="submit" value="Save Changes"/><br />
					<span class="status">&nbsp;</span>
				</td>
				</tr>
			</table>
		</form>

	</div>

</div>

