<style>
    #<?=_LINK?>{
        width: 400px;
    }
</style>

<script>
    var frame = $("#<?=_LINK?>");

    var pop = frame.popup_config({
        title: "Deactivate Account",
        center: true,
    });

    $("#confirm-deactivate", frame).on("click", function(){
        var form = $("#staff-leave-form", frame);

        var data = form.serialize();

        $.ajax({
            url: "/pages/user/?do=deactivate&id=<?= $user->id(); ?>&deactivate=true",
            type: "GET",
            data: data,
            dataType: "JSON",
            success: function(response){
                if (response.success){
                    alert("Successfully deactivated user account!");
                    pop.close();
                } else {
                    alert(response.data);
                }
            }
        });
    });
</script>

<div id="<?=_LINK?>">
    <p>By deactivating <?= $user->staff_name(); ?>'s account, they will no longer have access to <strong>Prophet</strong> or <strong>myPSaccount</strong>. Please enter a staff leave date below if the staff member has left Policy Services and click the button to confirm.</p>

    <form class="text-center" id="staff-leave-form">
        <div class="form-group">
            <label>Leave Date</label>
            <?= el($user->staff_leave); ?>
        </div>

        <button type="button" class="btn btn-danger" id="confirm-deactivate"><i class="fas fa-times"></i> Deactivate</button>
    </form>
</div>