<div class="staff-container card mb-2" id="<?= $id ?>">
    <div class="card-header">
        <div class="clearfix">
            <h5 class="float-left mb-0"><?= $title ?></h5>
            <h5 class="float-right mb-0"><a class="text-white" href="mailto: <?= $email ?>"><?= $email ?></a></h5>
        </div>

    </div>
    <div class="card-body p-1 pt-2 pb-0">
        <?php if(!empty($teams)): ?>
        <div class="alert alert-warning mb-2"><i class="fas fa-phone"></i> Temporary Teams Department Number: <a href="tel:<?= $teams ?>"><?= $teams ?></a></div>
        <?php endif; ?>
        <div class="row no-gutters">
            <?= Template("user/directory_card.html") ?>
        </div>
    </div>
</div>