<div class="col-4 staff-dir-card d-none pb-2">
    <div class="card h-100 mx-1">
        <div class="card-body p-0">
            <div class="row no-gutters h-100">
                <div class="col-3 staff-dir-img" style="background-size: cover; background-position: center center;">&nbsp;</div>
                <div class="col-9">
                    <div class="p-2">
                        <div class="clearfix">
                            <h6 class="float-left staff-dir-name"></h6>
                            <div class="float-right staff-dir-status"></div>
                        </div>

                        <a class="text-muted staff-dir-email small"></a>

                        <div class="clearfix">
                            <div class="float-left">
                                <i class="fas fa-phone-office"></i> <span class="staff-dir-ext"></span>
                                <div>
                                    <i class="fas fa-mobile"></i> <span class="staff-dir-mob"></span>
                                </div>
                            </div>
                            <div class="float-right">
                                <a class="text-dark staff-dir-teams"><i class="fas fa-comments-alt"></i> Teams</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>