<script type="text/javascript">
    $(function( ){

        var frame = $("#<?=_LINK?>");
        var pop = $(frame).popup_config({
            center: true,
        });

        $(".staff-container", frame).each(function(){
            var container = $(this);

            $.ajax({
                url: "pages/user/?do=get_staff",
                type: "GET",
                data: {
                    team: container.attr("id"),
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        $.each(response.data, function(){
                            var card = $(".staff-dir-card:first", container).clone();
                            $(".staff-dir-img", card).css("background-image", "url('" + this.img + "'), url('<?= STAFF_PROFILE_DIRECTORY ?>thumbnails/placeholder.jpg')");
                            $(".staff-dir-name", card).html(this.name);
                            $(".staff-dir-status", card).html(this.status);
                            $(".staff-dir-email", card).html(this.email).attr("href", "mailto:" + this.email);
                            $(".staff-dir-teams", card).attr("href", "im:" + this.email);
                            $(".staff-dir-ext", card).html(this.ext);

                            if (this.mobile){
                                $(".staff-dir-mob", card).html(this.mobile);
                            } else {
                                $(".staff-dir-mob", card).parent().hide();
                            }

                            if (this.fire == 1){
                                $(".staff-dir-name", card).append("&nbsp;<i class='fas fa-fire-extinguisher text-danger'></i>");
                                card.data("fire", true);
                            }

                            if (this.aid == 1){
                                $(".staff-dir-name", card).append("&nbsp;<i class='fas fa-first-aid text-danger'></i>");
                                card.data("aid", true);
                            }

                            card.removeClass("d-none");

                            $(".row:first", container).append(card);
                        });
                    }
                }
            });
        });

        function hideBlocks(){
            $(".staff-container").each(function(){
                $(this).show();
                if ($(".staff-dir-card:visible", this).length < 1){
                    $(this).hide();
                }
            });
        }

        // Hide/Show articles as appropriate
        $("#staff_search").keyup(function() {
            var q = $(this).val().toLowerCase();

            $(".staff-dir-card").each(function(){
                if ($(".staff-dir-name", this).text().toLowerCase().indexOf(q) >= 0 || $(".staff-dir-ext", this).text().toLowerCase().indexOf(q) >= 0){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

            hideBlocks();
        });

        $("#dept_filter").on('change', function() {
            $("#staff_search").val("");

            $(".staff-container").show();
            $(".staff-dir-card").show();

            // If search criteria is blank, show all entries
            if ($(this).val() !== "") {
                // hide all tables
                $(".staff-container").hide();

                //show table and rows for department currently selected
                $(".staff-container#"+$(this).val()).show();
            }
        });

        //on focus for staff search
        $("#staff_search").focus();

        // filter staff by status
        $("#status_filter").on('change', function() {
            var q  = $(this).val();

            $("#staff_search").val("");

            $(".staff-dir-card").show();

            if (q !== ""){
                $(".staff-dir-card").each(function(){
                    if ($(".status-badge", this).text().toLowerCase() !== q){
                        $(this).hide();
                    }
                });
            }

            hideBlocks();
        });

        $("#fire-warden-check").on("change", function(){
            $(".staff-dir-card").show();

            if ($(this).is(":checked")){
                $(".staff-dir-card").each(function(){
                    if (!$(this).data("fire")){
                        $(this).hide();
                    }
                });
            }

            hideBlocks();
        });

        $("#first-aider-check").on("change", function(){
            $(".staff-dir-card").show();

            if ($(this).is(":checked")){
                $(".staff-dir-card").each(function(){
                    if (!$(this).data("aid")){
                        $(this).hide();
                    }
                });
            }

            hideBlocks();
        });

        $("#new-user", frame).on("click", function(){
            new popup({
                url: "/pages/admin/",
            });
        });
    });
</script>

<style type="text/css">
    #<?=_LINK?>{
        width: 98%;
        padding:10px 10px 0;
        max-height: 700px;
        max-width: 1500px;
        overflow: auto;
    }
    #<?=_LINK?> table.department{
        width: 880px;
        margin:0 0 20px 0;
    }
    #<?=_LINK?> table.company_details{
        margin:0 0 20px 0;
    }
    #<?=_LINK?> div.scroll{
        max-height: 250px;
    }
    #<?=_LINK?> .company_details > tbody > tr > td > div.scroll{
        overflow: hidden;
    }

    #left{
        float:left;
        width: 50% ;
    }
    #right{
        float:right;
        width: 25% ;
    }

    @media screen and (max-width: 1000px )  {

        #left{
            float:left !important;
            width: 90% !important;
        }
        #right{
            width:90% !important;
            float:left;
        }

    #<?=_LINK?> .company_details {
         width:33%;
         display: inline-table;
        }
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div id="contain" style="height:1500px;">

        <div class="row no-gutters">
            <div class="col-11">
                <div id="search_field">
                    <p>Search: <input id="staff_search" type="text" placeholder="Staff Member"/> &nbsp;
                        &nbsp; Department Filter:
                        <select id="dept_filter">
                            <option value="">--</option>
                            <option value="client-relations">Client Relations</option>
                            <option value="client-services">Client Services</option>
                            <option value="compliance">Compliance</option>
                            <option value="finance">Finance</option>
                            <option value="io">IO - Portfolio Servicing</option>
                            <option value="service-delivery">Service Delivery</option>
                            <option value="it">IT</option>
                            <option value="managers">Management</option>
                            <option value="nb-admin">New Business - Admin</option>
                            <option value="nb-advice">New Business - Advice</option>
                            <option value="coordinators">Office Coordinator</option>
                            <option value="partner-accounts">Partner Accounts</option>
                            <option value="paye">PAYE/Finance Manager & HR</option>
                            <option value="virtue">Virtue</option>
                        </select>

                        &nbsp; Status Filter:
                        <select id="status_filter">
                            <option value="">--</option>
                            <option value="active">Active</option>
                            <option value="lunch">Lunch</option>
                            <option value="offline">Offline</option>
                            <option value="meeting">Meeting</option>
                            <option value="busy">Busy</option>
                        </select>

                        &nbsp;Fire Warden <input type="checkbox" id="fire-warden-check">

                        &nbsp;First Aider <input type="checkbox" id="first-aider-check">
                    </p>
                </div>
            </div>

            <div class="col-1">
                <?php if(User::get_default_instance()->has_permission_category(2)): ?>
                    <button class="btn btn-primary btn-block mx-0 px-0" id="new-user"><i class="fas fa-cog"></i> Admin</button>
                <?php endif; ?>
            </div>


            <div class="col-9">

                <div class="pr-2">
                    <?= Template("user/directory_block.html", ["id" => "managers", "title" => "Management"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "coordinators", "title" => "Office Coordinator - ext. 283"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "partner-accounts", "title" => "Partner Accounts - ext. 280", "email" => "agencysupport@policyservices.co.uk", "teams" => "01506 343314"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "service-delivery", "title" => "Service Delivery"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "client-services", "title" => "Client Services - ext. 281", "email" => "partnersupport@policyservices.co.uk", "teams" => "01506 343311"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "client-relations", "title" => "Client Relations - ext. 277", "email" => "clientrelations@policyservices.co.uk", "teams" => "01506 343306"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "io", "title" => "IO/Portfolio Servicing - ext. 278", "email" => "portfolioreports@policyservices.co.uk", "teams" => "01506 343310"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "compliance", "title" => "Compliance - ext. 279", "teams" => "01506 343312"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "paye", "title" => "Accounts & HR"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "finance", "title" => "Finance - ext. 284", "email" => "finance@policyservices.co.uk", "teams" => "01506 343316"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "it", "title" => "IT - ext. 285", "email" => "it@policyservices.co.uk", "teams" => "01506 343309"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "nb-admin", "title" => "New Business (Admin) - ext. 295", "email" => "newbusiness@policyservices.co.uk", "teams" => "01506 343315"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "nb-advice", "title" => "New Business (Advice) - ext. 296", "email" => "advice@policyservices.co.uk", "teams" => "01506 343313"]) ?>
                    <?= Template("user/directory_block.html", ["id" => "virtue", "title" => "Virtue - ext. 291", "email" => "info@virtuemoney.com"]) ?>
                </div>

            </div>

            <div class="col-3">

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">Board Room - ext. 950</h5>
                    </div>
                    <div class="card-body p-1">
                        <ol class="mb-0">
                            <li>Conference Mode (*713 -> 'send')</li>
                            <li>0345 450 7806 -> 1 -> 585</li>
                            <li>PIN: 2580</li>
                        </ol>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">Meeting Room - ext. 951</h5>
                    </div>
                    <div class="card-body p-1">
                        <ol class="mb-0">
                            <li>Conference Mode (*714 -> 'send')</li>
                            <li>0345 450 7806 -> 1 -> 585</li>
                            <li>PIN: 2581</li>
                        </ol>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">PO Box</h5>
                    </div>
                    <div class="card-body p-1 px-4">
                        <p class="mb-0">
                            Policy Services Ltd<br>
                            PO Box 13594<br>
                            Linlithgow<br>
                            EH49 9BB
                        </p>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">Oracle</h5>
                    </div>
                    <div class="card-body p-1 px-4">
                        <p class="mb-0">
                            Policy Services Ltd<br>
                            Oracle Campus<br>
                            Blackness Rd<br>
                            Springfield<br>
                            Linlithgow<br>
                            West Lothian<br>
                            EH49 7LR
                        </p>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">Registered Office</h5>
                    </div>
                    <div class="card-body p-1 px-4">
                        <p class="mb-0">
                            Policy Services Ltd<br>
                            Oracle Campus<br>
                            Blackness Road<br>
                            Linlithgow<br>
                            EH49 7BF
                        </p>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">FCA Number</h5>
                    </div>
                    <div class="card-body p-3">
                        <p class="mb-0 text-center">214036</p>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">Phone Codes</h5>
                    </div>
                    <div class="card-body p-1">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Pick Up</td>
                                <td>Answer Dept. call</td>
                            </tr>
                            <tr>
                                <td>*51</td>
                                <td>Answers any call</td>
                            </tr>
                            <tr>
                                <td>*18</td>
                                <td>Turn on voicemail</td>
                            </tr>
                            <tr>
                                <td>*19</td>
                                <td>Turn off voicemail</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-2">
                    <div class="card-header">
                        <h5 class="mb-0">Main Contacts</h5>
                    </div>
                    <div class="card-body p-1">
                        <table class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th>Contact</th>
                                <th>Number</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Office</td>
                                <td>0345 450 7806</td>
                            </tr>
                            <tr>
                                <td>Conference</td>
                                <td>0345 450 7806 ext. 282</td>
                            </tr>
                            <tr>
                                <td>Fax</td>
                                <td>0870 420 5174</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>