<?php
(azureCheckExists(CDN_DIR . "staff_images", $user->id() . ".jpg")) ?
    $user_img = STAFF_PROFILE_DIRECTORY . $user->id() . ".jpg" :
    $user_img = CDN_BASE . "no_pic.png";
?>


<tr <?= $status ?>>
    <td>
        <div class="rounded-circle" style="background-image: url('<?= $user_img ?>'); background-position: center center; background-size: cover; height: 50px; width: 50px; display: inline-block; vertical-align: middle;"></div>
        <?= $object->link($object->staff_name()) ?>
        <?= $object->first_aider() ? "<i class='fas fa-first-aid text-danger' title='First Aider'></i>" : "" ?>
        <?= $object->fire_warden() ? "<i class='fas fa-fire-extinguisher text-danger' title='Fire Warden'></i>" : "" ?>
    </td>
    <td width="100px"><?= $object->internal_extension() ?></td>
    <td width="100px"><?= $object->external_extension() ?></td>
    <td width="150px"><?= $mobile ?></td>
    <td width="250px"><?= $object->email() ?></td>
</tr>