<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
        max-height:635px;
        overflow: auto;
    }
    input[type='submit'], button {
        font-size: 9pt;
    }
    .message{
        height:250px;
        margin-bottom:30px;
        padding-bottom:20px;
    }
    .msg_tbl{
        width:100%;
        margin-bottom:30px;
    }
    .acknowledge{
        float:right;
    }

</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var form = $("form#message_form",frame);

		window.pop = frame.popup_config({
			'title': "Your messages",
			'center': true
		});


        $(frame).on("click", ".acknowledge", function(){

            var message_id = this.id;

            $.ajax({
                url: "pages/user/index.php?do=archive_message",
                type: "GET",
                data: {
                    type: "json",
                    message_id: message_id
                },
                dataType: "json",
                success: function( r ){
                    try{
                        if(r.error == false){

                            // fade out message, remove from DOM
                            $("button#"+message_id).closest("div.message").fadeOut(300, function() {
                                $(this).remove();

                                // display acknowledge all if no messages exist
                                if ($("div.message").length < 1) {
                                    $("#message_status", frame).removeClass().addClass("good_news").html("All messages acknowledged, No new messages to display.");
                                } else {
                                    $("#message_status", frame).removeClass().addClass("good_news").html(r.status);
                                }
                            });

                        }else{
                            $("#message_status", frame).removeClass().addClass("bad_news").html(r.error);
                        }

                        // clear status, check if any messages still exists, if not - close popup
                        setTimeout(  function() {
                            $("#message_status", frame).removeClass().html("");
                            if ($("div.message").length < 1) {
                                window.pop.close();
                            }
                        }, 2500);
                    }catch(e){
                        alert(e);
                    }
                }
            });

        });

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <?php $message = 1;?>
    <?php foreach($data as $value) { ?>
        <div class="message mock-ui-widget">
            <h1 class="mock-ui-widget-header">Message <?=$message?></h1>
            <div class="content">
                 <table class="msg_tbl" align="left">
                     <?php foreach($value as $key => $val) { ?>
                        <?php if ($key != "id") { ?>
                            <tr>
                                <td width="200p;"><?=ucwords(str_replace("_", " ",$key));?></td>
                                <td><?=$val;?></td>
                            </tr>
                         <?php } else {?>
                            <tr><td>&nbsp;</td><td><button type="button" id="<?=$val?>" class="acknowledge">Acknowledge</button></td></tr>
                         <?php }?>
                     <?php  } ?>

                </table>
            </div>
        </div>
    <?php $message++; ?>
    <?php  } ?>

    <span id="message_status">&nbsp;</span>

</div>

