<?php
if( !isset($user) ){
    // an existing user has not been provided, prepare an empty
    // User object and treat this as a creation form.
    $user = new User;
    $title = "New User";

} else {
    $user->get();
    $title = "User: $user";
}

$user->group_name( "user" );

?>
<style>
  #<?=_LINK?>{
    min-width: 800px;
    min-height: 400px;
  }
</style>
<script>
  $(function(){
    var frame = $("#<?=_LINK?>");
    var form = $("#new-user-form", frame);

    saveProfileNotification(form);

    frame.popup_config({
      center: true,
    });

    $("#view-password", frame).on("click", function(){
      $("#user\\[password\\]", form).toggle();
      $("#show-password", form).val($("#user\\[password\\]", form).val()).toggle();

      $(".fas", this).toggleClass("fa-eye");
      $(".fas", this).toggleClass("fa-eye-slash");
    });

    $("#user-group-select", form).on("change", function(){
      var dept = $(this).val();
      var text = $("option:selected", this).text();

      if (dept !== ""){
        $("#user-groups").val($("#user-groups").val() + dept + ",");
        $("option:selected", this).attr("disabled", true);
        $("#user-groups-table tbody", form).append("<tr><td>" + text + "</td><td><button class='btn btn-danger delete-user-group' data-id='" + dept + "'><i class='far fa-trash-alt'></i></button></td></tr>")
      }
    });

    $("#user-groups-table").on("click", ".delete-user-group", function(){
      var dept = $(this).data("id");
      var groups = $("#user-groups", form).val();

      $("#user-groups", form).val(groups.replace(dept+",", ""));
      $("#user-group-select option[value="+dept+"]", form).attr("disabled", false);

      $(this).closest("tr").remove();
    });
  });
</script>
<div id="<?=_LINK?>">
  <form id="new-user-form" action="/pages/user/?do=create">
    <div class="row no-gutters">
      <div class="col-6">
        <h3>User Details</h3>
        <table>
          <tr>
            <th>Name</th>
            <td>
              <?=el($user->forename)?>
              <?=el($user->surname)?>
            </td>
          </tr>
          <tr>
            <th>Username</th>
            <td><?=el($user->username)?></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><?=el($user->email)?></td>
          </tr>
          <tr>
            <th>Password</th>
            <td>
          <span class="required">
            <input type="password" name="user[password]" id="user[password]">
            <input class="collapse" type="text" id="show-password" readonly>
          </span>
              <button id="view-password"><i class="fas fa-eye"></i></button>
            </td>
          </tr>
          <tr>
            <th>Department</th>
            <td>
              <select id="user[department]" name="user[department]">
                <?php

                $s = new Search(new Groups);

                while($g = $s->next(MYSQLI_ASSOC)){
                  echo "<option value='" . $g->id . "' " . $selected . ">" . $g->name . "</option>";
                }

                ?>
              </select>
            </td>
          </tr>
          <tr>
            <th>Start Date</th>
            <td><?= el($user->staff_start); ?></td>
          </tr>
          <tr>
            <th>Extension</th>
            <td><?=el($user->internal_extension)?></td>
          </tr>
        </table>
      </div>

      <div class="col-6">
        <h3>User Groups</h3>
        <select id="user-group-select">
          <option value="">--</option>
          <?php

          $s = new Search(new Groups);

          while($g = $s->next(MYSQLI_ASSOC)){
            echo "<option value='" . $g->id . "' " . $selected . ">" . $g->name . "</option>";
          }

          ?>
        </select>
        <input type="hidden" name="user-groups" id="user-groups">

        <table class="table table-striped mt-3" id="user-groups-table">
          <thead>
          <tr>
            <th>Department</th>
            <th>Remove</th>
          </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <?= el($user->id) ?>
    <?= $user->get_security_fields() ?>
  </form>
</div>
