<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
    }
    input[type='submit'], button {
        font-size: 9pt;
    }
    #msg_tbl{
        width:100%;
    }

</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var form = $("form#message_form",frame);

		window.pop = frame.popup_config({
			'title': "Leave message for <?=$recipient->forename." ".$recipient->surname?>",
			'center': true
		});

        saveProfileStatusSpan( form );

        $(form).bind(
            "successfulSave",
            function(){
                window.pop.close();
            }
        );

        $("#staffnotifications\\[message\\]").css("width", "95%").css("min-height", "120px");

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>
		<form id="message_form" name="message_form" action="<?=StaffNotifications::get_common_url(array('do'=>'create'))?>" method="POST">
			<table id="msg_tbl" align="left">
				<tr>
					<td>Caller Name</td>
					<td><?=el($message->caller_name)?></td>
				</tr>

				<tr>
					<td>Company</td>
					<td><?=el($message->caller_company)?></td>
				</tr>

				<tr>
					<td>Contact Details (phone/email)</td>
					<td><?=el($message->contact_details)?></td>
				</tr>

				<tr>
					<td colspan="2"><br />Please select from each drop down (if applicable)</td>
				</tr>

				<tr>
                    <td>Caller action:</td>
					<td><?=el($message->caller_action)?><span class="required"></span></td>
				</tr>
                <tr>
                    <td>Recipient action:</td>
                    <td><?=el($message->recipient_action)?><span class="required"></span></td>
                </tr>

                <tr>
                    <td colspan="2"><br />Message:</td>
                </tr>
				<tr>
					<td colspan="2"><?=el($message->message)?></td>
				</tr>

                <tr>
                    <td>
						<span class="status" id="msg_status">&nbsp;</span>
						<input type="hidden" id="staffnotifications[recipient_id]" name="staffnotifications[recipient_id]" value="<?=$recipient->id();?>">
					</td>
                    <td style="text-align:right;"><br /><button type="submit">Submit Message</button></td>
                </tr>
			</table>
		</form>

	</div>

</div>

