<?php

// Get a list of the objects which User has edited, and as such has 
// LocalLog entries for
$s = new Search(new LocalLog);
$s->eq( "user", User::get_default_instance('id') );
$activity_objects = $s->distinct( "object_name" );

?>
<style type="text/css">
#<?=_LINK?> {
    width: 700px;
}
#<?=_LINK?> > div > div {
    min-height: 200px;
}
#<?=_LINK?> div#activities table.scrollable div.scroll {
    height: 150px;
}
</style>

<script type="text/javascript">

var frame;

$(function(){

    frame = $("#<?=_LINK?>");
    var form = $("form#user_form",frame);
    var passwdForm = $("form#passwd_form",frame);
    var activityForm = $("div#activities form",frame);
    var activityTable = $("div#activities table.scrollable",frame);
    var activitySpinner = $("img",activityForm);

    saveProfileNotification(form);

    frame.popup_config({
        'title': "My Account",
        'center': true
    });

    saveProfileStatusSpan( passwdForm );


    activityForm.bind(
        "onshow",
        function( ){

            if( this.init != null ){
                return;
            }

            activityForm.submit();
            this.init = true;
        }
    );

    $("select",activityForm).change( 
        function(){ 
            activityForm.endOfResults = false;
            $(":input#offset",activityForm).val(0);
            $("tbody:last",activityTable).html("");
            activityForm.submit();
        });

    activityTable.bind(
        "hitScrollBottom",
        function( ){

            if( activityForm.xhr != null ){
                return;
            }

            activityForm.submit();
        }
    );

    activityForm.submit(function(){
        
        if( this.xhr != null ){
            this.xhr.abort();
        }

        if( activityForm.endOfResults ){

            $("span.endOfResults",activityForm)
                .show()
                .delay(1000)
                .fadeOut("slow");

            return false;
        }

        this.xhr = $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            dataType: "html",
            beforeSend: function( ){
                activitySpinner.show();
            },
            success: function( r ){

                var rows = $(r);

                if( rows.length < parseInt($(":input#limit",activityForm).val()) ){

                    $("span.endOfResults",activityForm)
                        .show()
                        .delay(1000)
                        .fadeOut("slow");

                    activityForm.endOfResults = true;
                }

                $(":button",rows).click(function(){

                    $("#filter\\[object_id\\]").val( $(this).attr("data-id") );
                    
                    $("#filter\\[object_name\\]",activityForm)
                        .val( $(this).attr("data-object") )
                        .trigger("change");

                });

                $("tbody:last",activityTable).append(rows);

                var offset = parseInt( $(":input#offset",activityForm).val() );
                $(":input#offset",activityForm).val( offset + rows.length );
            },
            complete: function( ){
                activitySpinner.hide();
            }
        });
    });
    
});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>" class="tabs">

  <ul>
    <li class="active">My Profile</li>
    <li>Change Password</li>
    <li>Activity</li>
    <li>Recently Viewed</li>
  </ul>

  <div>
    <!-- Profile -->
    <div class="active">
      <form id="user_form" name="user_form" action="<?=User::get_common_url(array('id'=>$user->id(),'do'=>"save"))?>" method="POST">
        <?= User::get_template("form.html",array("user"=>$user)) ?>
      </form>
    </div>

    <!-- Change Password -->
    <div>
      
      <div style="border:1px dashed;padding:3px;">
        <b>Passwords must...</b>
        <ul>
          <li>be at least 7 characters in length
          <li>be a combination of alphanumeric characters ( symbols are welcome )
          <li>not contain your username or email address
        </ul>
      </div>

      <form id="passwd_form" name="passwd_form" action="<?= User::index_url(array('id'=>$user->id(),'do'=>'passwd')) ?>" method="POST">

        <p>
          
        </p>

        <table align="center">
          <tr>
            <th width="150px">Password</th>
            <td><?= el::pwd("current_passwd") ?></td>
          </tr>
          <tr>
            <th>New Password</th>
            <td><?= el::pwd("new_passwd") ?></td>
          </tr>
          <tr>
            <th>Confirm Password</th>
            <td><?= el::pwd("confirm_passwd") ?></td>
          </tr>
          <tr>
            <td colspan="2" style="text-align:right;">
              <input type="submit" value="Save Changes" /><br />
              <span class="status">&nbsp;</span>
            </td>
          </tr>
        </table>
      </form>

  </div>

  <div id="activities" name="activities">

    <form action="<?=LocalLog::get_common_url(array('do'=>'list'))?>" method="GET" class="has_onshow">

      <p>
        <b>Type</b> &nbsp;
        <select id="filter[object_name]" name="filter[object_name]">
          <option value="">All</option>
          <?php
            foreach( $activity_objects as $obj ){
              echo "<option value='$obj'>$obj</option>\n";
            }
          ?>
        </select>
      </p>

      <table class="scrollable">
        <thead>
          <tr>
            <th width="30px">&nbsp;</th>
            <th width="100px">Type</th>
            <th>Link</th>
            <th width="150px">Date</th>
            <th class="no_sort" width="50px">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <p style="text-align:right;">&nbsp;
        <img src="/lib/images/inline-ajax.gif"/>
        <span class="endOfResults" style="display:none;font-size:10pt;">End of list reached</span> 
      </p>
      

      <input type="hidden" id="filter[user]" name="filter[user]" value="<?=User::get_default_instance('id')?>"/>
      <input type="hidden" id="limit" name="limit" value="50"/>
      <input type="hidden" id="offset" name="offset" value="0"/>
      <input type="hidden" id="filter[object_id]" name="filter[object_id]"/>
    
    </form>      

  </div>
  
    <!-- Recently viewed items -->
    <div  id="recent" name"recent">

    <?php  if( $recently_viewed = $user->get_recently_viewed_rs( ) ) {
            while( $item = $recently_viewed->next( MYSQLI_OBJECT ) ){
                echo $item -> object_type.":".$item->object_link."<br />";
            }

        }
            ?>
    </div>

</div>

