<?php $user = new User() ?>

<style>
    #<?=_LINK?>{
        width: 400px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var callBackFrame = $("#<?= $frame ?>");

        var pop = frame.popup_config({
            center: true,
            title: "Add User To Group"
        });

        $("#submit_user_group").on("click", function(){
            var userID = $("#user_id", frame).val();
            var groupID = $("#user\\[department\\]", frame).val();

            $.ajax({
                url: "/pages/user/?do=add_user_group",
                type: "GET",
                data: {
                    user: userID,
                    group: groupID
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        pop.close();

                        callBackFrame.trigger("userGroups");
                    }
                }
            })
        });
    });
</script>

<div id="<?=_LINK?>" class="text-center">
    <form method="GET" id="add_user_group_form">
        <input type="hidden" name="user_id" id="user_id" value="<?= $uid ?>">
        <div class="form-group">
            <label>Group</label>
            <?= el($user->department, false, false, false, false, DatabaseObject::ELEMENT_DROPDOWN) ?>
        </div>
        <div class="float-right-clearfix">
            <button type="button" class="btn btn-success" id="submit_user_group"><i class="far fa-save"></i> Save</button>
        </div>
    </form>
</div>