<style type="text/css">
#<?=_LINK?> {
    width: 800px;
}
.recent-table-wrapper{
	max-height: 400px;
	overflow-y: scroll;
}

</style>

<script type="text/javascript">

var frame;

$(function(){

    frame = $("#<?=_LINK?>");
    var activityForm = $("#<?=_LINK?>activity form",frame);
    var activityTable = $("#<?=_LINK?>activity table.scrollable",frame);
    var activitySpinner = $("img",activityForm);


    frame.popup_config({
        'title': "Recent Activity",
        'center': true
    });

    // activityForm.bind(
    //     "onshow",
    //     function( ){
	//
    //         if( this.init != null ){
    //             return;
    //         }
	//
    //         activityForm.submit();
    //         this.init = true;
    //     }
    // );
	//
    // $("select",activityForm).change(
    //     function(){
    //         activityForm.endOfResults = false;
    //         $(":input#offset",activityForm).val(0);
    //         $("tbody:last",activityTable).html("");
    //         activityForm.submit();
    //     });
	//
    // activityTable.bind(
    //     "hitScrollBottom",
    //     function( ){
	//
    //         if( activityForm.xhr != null ){
    //             return;
    //         }
	//
    //         activityForm.submit();
    //     }
    // );

    // activityForm.submit(function(){
    //
    //     if( this.xhr != null ){
    //         this.xhr.abort();
    //     }
	//
    //     if( activityForm.endOfResults ){
	//
    //         $("span.endOfResults",activityForm)
    //             .show()
    //             .delay(1000)
    //             .fadeOut("slow");
	//
    //         return false;
    //     }
	//
    //     this.xhr = $.ajax({
    //         url: this.action,
    //         type: this.method,
    //         data: $(this).serialize(),
    //         dataType: "html",
    //         beforeSend: function( ){
    //             activitySpinner.show();
    //         },
    //         success: function( r ){
	//
    //             var rows = $(r);
	//
    //             if( rows.length < parseInt($(":input#limit",activityForm).val()) ){
	//
    //                 $("span.endOfResults",activityForm)
    //                     .show()
    //                     .delay(1000)
    //                     .fadeOut("slow");
	//
    //                 activityForm.endOfResults = true;
    //             }
	//
    //             $(":button",rows).click(function(){
	//
    //                 $("#filter\\[object_id\\]").val( $(this).attr("data-id") );
    //
    //                 $("#filter\\[object_name\\]",activityForm)
    //                     .val( $(this).attr("data-object") )
    //                     .trigger("change");
	//
    //             });
	//
    //             $("tbody:last",activityTable).append(rows);
	//
    //             var offset = parseInt( $(":input#offset",activityForm).val() );
    //             $(":input#offset",activityForm).val( offset + rows.length );
    //         },
    //         complete: function( ){
    //             activitySpinner.hide();
    //         }
    //     });
    // });
	//
    // $("#activity-tab", frame).on("click", function(){
    //     activityForm.trigger("onshow");
	// });
    
});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<ul class="nav nav-tabs mb-3">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>viewed">Recently Viewed</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="activity-tab" data-toggle="tab" href="#<?=_LINK?>activity">Activity</a>
		</li>
	</ul>

	<div class="tab-content">
		<!-- Recently viewed items -->
		<div  id="<?=_LINK?>viewed" class="tab-pane fade show active">
			<div class="recent-table-wrapper">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Profile Type</th>
							<th>Link</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
					<?php foreach($recentViewed as $rv): ?>
					<?php
						$rv = json_decode($rv);
						$obj = new $rv->object($rv->id, true);
					?>
					<tr>
						<td><?= $rv->object ?></td>
						<td><?= $obj->link() ?></td>
						<td><?= \Carbon\Carbon::createFromTimestamp($rv->time)->toDayDateTimeString() ?></td>
					</tr>
					<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Recent Activity -->
		<div id="<?=_LINK?>activity" class="tab-pane fade">
			<div class="recent-table-wrapper">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>&nbsp;</th>
							<th>Profile Type</th>
							<th>Link</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
					<?php foreach($recentActivity as $ra): ?>
						<?php
							$ra = json_decode($ra);
							$obj = new $ra->object($ra->id, true);
						?>
						<tr>
							<td><?= $ra->type ?></td>
							<td><?= $ra->object ?></td>
							<td><?= $obj->link() ?></td>
							<td><?= \Carbon\Carbon::createFromTimestamp($ra->time)->toDayDateTimeString() ?></td>
						</tr>
					<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div>
  
	</div>
	
</div>

