<style type="text/css">
#<?=_LINK?> {
    width: 500px;
}
#<?=_LINK?> > div > div {
    //min-height: 200px;
}
input[type='submit'], button {
	font-size: 9pt;
}
</style>

<script type="text/javascript">
	$(function(){

		var frame = $("#<?=_LINK?>");
		var form = $("form#status_change",frame);
        var status = $(".status", frame);
        var submit_btn = $("#submit_btn", frame);
        var status_select = $("#status_select", frame);

		window.pop = frame.popup_config({
			'title': "Change Status",
			'center': true
		});

        $(submit_btn).on("click", function() {

            $.ajax({
                url: "<?= User::index_url(array('id'=>$user->id(),'do'=>'change_status')) ?>",
                type: "get",
                dataType: "json",
                data:{
                    status: status_select.val()
                },
                success: function( r ) {
                    try {
                        status.html(r.status);
                        if (r.error == false) {
                            status.addClass("good_news");
                        }else {
                            status.addClass("bad_news");
                        }

                        submit_btn.attr("disabled", "disabled");

                    } catch( e ) {
                        handleSystemError(e);
                    }
                }
            });
        });

        status_select.val("<?=ucwords($user->status())?>");

	});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>

		<div style="border:1px dashed;padding:3px;margin-bottom:20px;">
			<p>Please remember to set your status back to 'Active' when you are available as this will be reflected on
            the staff directory.</p>
		</div>

		<form id="status_change" name="status_change">
			<table align="center">
				<tr>
					<th>Current Status</th>
					<td><?= $status_select; ?></td>
                    <td><input id="submit_btn" type="button" value="Save"/></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align:right;">
					<span class="status">&nbsp;</span>
				</td>
				</tr>
			</table>
		</form>

	</div>

</div>

