

<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
        max-height:635px;
        overflow: auto;
    }

    #<?=_LINK?> th{
        background-color: #006686;
        color: #ffffff;
        font-size: 1.2em;
        text-align: center;
        padding-top: 5px;
    }



</style>

<script type="text/javascript">
    $(function(){

        var frame = $("#<?=_LINK?>");
        var form = $("form#message_form",frame);

        window.pop = frame.popup_config({
            'title': "Your message",
            'center': true
        });


    });
</script>



<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="message_form" name="message_form"  method="POST">
        <table id="msg_tbl" class="data panels" align="left">
            <tr><th>Description</th><th>Details</th></tr>
            <tr>
                <td>Sender:</td>
                <td><?=$message->sender_id->forename()?>  <?=$message->sender_id->surname()?></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>Caller Name:</td>
                <td><?=$message->caller_name?></td>
            </tr>

            <tr>
                <td>Company:</td>
                <td><?=$message->caller_company?></td>
            </tr>

            <tr>
                <td>Contact Details (phone/email):</td>
                <td><?=$message->contact_details?></td>
            </tr>
            <tr>
            </tr>

            <tr>
                <td>Caller action:</td>
                <td><?=$message->caller_action?></span></td>
            </tr>
            <tr>
                <td>Recipient action:</td>
                <td><?=$message->recipient_action?></span></td>
            </tr>


        </table>
        <table class="data">
            <tr>
                <th>Message:</th>
           </tr>
           <tr>
                <td style="text-align: center;"> <?=$message->message?></td>
            </tr>
        </table>
    </form>


</div>

