<script type="text/javascript">
$(
    function( ){

        var frame = $("#<?=_LINK?>")[0];

        $( frame ).popup_config({
            "center": true,
            "title": "Cannot access mypsaccount"
        });

    }
);
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

<br />
<p align="center">
  You currently have no mypsaccount associated with this account.<br />
  Please use the <i>Set Account</i> tool from your <i>My Account</i> tab before
  trying again.
</p>
<br />
    
</div>