<style type="text/css">
    form#<?=_LINK?> {
    width: 600px;
    }
    form#<?=_LINK?> #user_search {
    width: 60%;
    }
    form#<?=_LINK?> table tbody:last-child {
    font-size: 10pt;
    }
    
    
    form#<?=_LINK?> table div tbody tr {
    cursor: pointer;
    }
    form#<?=_LINK?> table div tbody tr:hover {
    background: #d1efc2;
    }
    form#<?=_LINK?> table div tbody tr.has_access {
    background: #efe0e0;
    cursor: default;
    }
</style>

<script type="text/javascript">
  $(
    function( ) {

        var form = mapForm("#<?=_LINK?>");

        $( form.user_search ).focus( );

        var popup = $( form._self ).popup_config( { title: "Add sub-user", center: true } );

        $( form._self ).submit(
            function ( ) {
                
                $( form._self ).find( "table tbody:last" ).load( 
                    "<?=_SELF_URL?>&search="+form.user_search.value+"&on="+form.on.value,
                    function ( r ) {
                        
                        $(this).closest( "table" ).trigger( "onshow" );

                        $( this ).find( ":button#new_user" ).click(
                            function( ){
                                $.post( 
                                    "<?=_SELF_URL?>", {
                                        "new_user": [ $(this).val(), form.user_search.value, form.on.value ].join( "+" )
                                    },
                                    function ( r ) {
                                        $( popup.content ).html( r );
                                    }
                                );
                            }
                        );

                        $(this).children("tr:not(.has_access)").click(
                            function( ){

                                var row = this;

                                if ( confirm( "Are you sure you want to give this user access to this Partner's account?" ) ) {

                                    $.post(
                                        '<?=_SELF."?id=$_GET[id]&do=add_user"?>',
                                        { "user": $(this).find("td:first > .uenc:hidden").val( ) },
                                        function( r ) {

                                            $( row ).addClass( "has_access" )
                                                .unbind("click")
                                                .attr("title", "");
                                        }
                                    );
                                }
                            }
                        );

                                                
                    }
                )
            }
        );
    }
);
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=_SELF_URL?>" method="POST">

  <p>
    <b>Search</b> 

    <select id="on" name="on">
      <?php
         foreach( $search_on as $label=>$field ) {
      ?>
      <option value='<?=$field?>'><?=$label?></option>
      <?php
      }
      ?>
    </select> 

    <?=el::txt("user_search")?>

    <button>Search</button>

  </p>
  <table class="scrollable" width="100%" height="150">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Partner</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</form>
