<?php $additionalemail = new AdditionalEmail; ?>

<style type="text/css">
form#<?=_LINK?>{
width: 700px;
}
.readonly{
background-color:#EBEBE4;
}
</style>

<script type="text/javascript">
	$(function( ) {
	
		var usrmsg = $( "span#addmessage" );
        var form = $( "form#<?=_LINK?>" );
        
		var pop =  $( form ).popup_config({
            title: "Add Additional Email",
            center:true
        });
		
		$( form ).on(
				"click",":button.add_email", function( ){
					$("<tr><th>Email Address</th><td><input type='text' id='additionalemail[email][]' name='additionalemail[email][]' class='email_field' size='35' maxlength='255' data-pattern='^[-A-Z0-9._%+&]+@[A-Z0-9.-]+\.[A-Z]{2,4}$' data-pattern_mods='i' /></td><th>Tag</th><td><select id='additionalemail[tag][]' name='additionalemail[tag][]' class='tag_select'><option value=''> -- </option><option value='1'>Work</option><option value='2'>Personal</option></select></td></tr>").appendTo('table.additional_email');
					$(":button#less").removeAttr("disabled");
				}
		);
		
		$( ":button#subbtn" ).click( function( ) {
		
			var emailValid;
			var tagValid;
			
			$("input",form).each(function() {
				var element = $(this);
				if (element.val() == "") {
					emailValid = false;
				}
			});

			$("select",form).each(function() {
				var element = $(this);
				if (element.val() == 0) {
					tagValid = false;
				}
			});
			
			if (emailValid ==  false){
				$(usrmsg).html("Please enter an email address").addClass( "bad_news" );
			}else if(emailValid !=  false){
				if (tagValid ==  false){
					$(usrmsg).html("Please select an email tag").addClass( "bad_news" );
				}else if(tagValid != false){
					if(confirm("Are you sure you want to add these emails?")) {
						$(form).send(
							function(r){
								r = json_decode(r);
								$(pop).trigger("refreshEmails");
								if( r.failure > 0 ){
									$("span.user_msg").html(r.error);	
								}
								else{
									$(usrmsg).removeClass().addClass( "good_news" ).text( r.count + " row(s) added" );
									$( subbtn ).attr("disabled", "true");		
									$(":button#more",form).attr("disabled","disabled");
									$(":button#less",form).attr("disabled","disabled");
									pop.close();
								}
							}

						);	
					}
				}
			}

		});
		
		
		$(":button#less",form).click(
			function(){
			
				$("table.additional_email tr:last").remove();
				var n = $("#<?=_LINK?> tr").length;
				
				if ( n == 1 ){
					$(":button#less").attr("disabled","disabled");
				}
			}			
		);
		
		$(":button#less").attr("disabled","disabled");
	});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="/pages/partner/index.php?id=<?=$_GET['id']?>&get=add_email&save=1" method="POST">

		<table class='additional_email' style="padding:10px 0">
			<tr>
				<th>Email Address</th>
				<td>
					<input type='text' id='additionalemail[email][]' name='additionalemail[email][]' class='email_field' size='35' maxlength='255' data-pattern='^[-A-Z0-9._%+&]+@[A-Z0-9.-]+\.[A-Z]{2,4}$' data-pattern_mods='i' />
				</td>
				<th>Tag</th>
				<td>
					<select id='additionalemail[tag][]' name='additionalemail[tag][]' class='tag_select'>
						<option value=''> -- </option>
						<option value='1'>Work</option>
						<option value='2'>Personal</option>
					</select>
				</td>
				<th>Partner ID</th>
				<td>
					<?= el($additionalemail->partnerID,false,"size='1' readonly class='readonly'",$_GET['id']) ?>
				</td>
				<td>
					<button id="more" name="more" class="add_email">Add Another</button>
				</td>
			</tr>
		</table>
		<input type="button" id="less" name="less" value="Remove Row"/>
		
		<div style="text-align:right;">
			<span class="status" id="addmessage" name="addmessage">&nbsp;</span>
			<button class="submit" name="subbtn" id="subbtn">Submit</button>
		</div>
</form>
