<?php
    $bsp = new BSP();
    $bsp->sold_from($id);
?>
<style>
    .partial_bsp_clients_wrapper{
        max-height: 300px;
        overflow: auto;
    }
</style>

<script type="text/javascript">
$(function( ) {

    var frame = $( "div#<?=_LINK?>" );
    var table = $( "table#bsp_table", frame );
    var pending_table = $( "table#pending_bsp_table", frame );
    var status =  $("span#status", frame);

    function loadBSP() {
        $.ajax({
            'url': "<?=Partner::index_url(array('id'=>$id,'get'=>'bsp'))?>",
            'type': "GET",
            'dataType': "json",
            'success': function( r ){
                try {
                    $(".content", table).html(r.data);
                } catch( e ) {
                    alert(e);
                }
            }
        });
    }

    function loadPendingBSP() {
        $.ajax({
            'url': "<?=Partner::index_url(array('id'=>$id,'get'=>'bsp', 'pending'=>true))?>",
            'type': "GET",
            'dataType': "json",
            'success': function( r ){
                try {
                    $(".content", pending_table).html(r.data);
                } catch( e ) {
                    alert(e);
                }
            }
        });
    }

    $(table).on("onshow", function(){
        loadBSP();
    });

    loadBSP();

    $(pending_table).on("onshow", function(){
        loadPendingBSP();
    });

    loadPendingBSP();

    $(frame).on("click", "#add_bsp", function(){
        new popup({
            url: "/pages/partner/index.php?get=bsp&id=<?=$id?>&action=add_template"
        });
        return false;
    });

    $(frame).on("click", "#add_pending_bsp", function(){
        new popup({
            url: "/pages/partner/index.php?get=bsp&id=<?=$id?>&action=add_template&pending=true"
        });
        return false;
    });

    $("#bsp_table, #pending_bsp_table", frame).on("click", ".delete", function(){

        var row_id = this.id;

        $('<div></div>').appendTo('body')
                .html('<div><h6>Are you sure you want to delete this entry?</h6></div>')
                .dialog({
                    modal: true, title: 'Confirm delete of BSP record', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Yes: function () {

                            $.ajax({
                                'url': "<?=Partner::index_url(array('id'=>$id, 'get'=>'bsp', 'action'=>'remove_bsp'))?>",
                                'type': "GET",
                                'dataType': "json",
                                data: {
                                    'bsp_id': row_id
                                },
                                'success': function( r ){
                                    try {
                                        if (r.error == false) {
                                            $("table#bsp_table").trigger("onshow", [true]);
                                            status.html(r.status).addClass("good_news");
                                        } else {
                                            status.html(r.status).addClass("bad_news");
                                        }
                                        setTimeout(function () {
                                            status.html("").removeClass();
                                            $("#submit-bsp").removeAttr("disabled");

                                        }, 4000);
                                    } catch( e ) {
                                        alert(e);
                                    }
                                }
                            });

                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        return false;
    });

    $("#bsp_table, #pending_bsp_table", frame).on("click",  ":button.edit ", function () {

        var bspid = this.id;
        var partner_id ="<?=$id?>";

        var p = new popup({
            url:  "/pages/partner/index.php?id="+partner_id+"&bspid="+bspid+"&get=partnerBSPedit"
        });
    });
});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>" class="has_onshow">

    <ul class="nav nav-tabs mb-2">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>pending_bsps">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>complete_bsps">Complete</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade" id="<?=_LINK?>pending_bsps">
            <div>
                <button id="add_pending_bsp" class="add">Start BSP record</button>
            </div>

            <table id="pending_bsp_table" name="pending_bsp_table" class="scrollable" height="150">
                <thead>
                <tr>
                    <th>BSP From</th>
                    <th>BSP To</th>
                    <th>Type</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody class="content">
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade show active" id="<?=_LINK?>complete_bsps">
            <div>
                <button id="add_bsp" class="add">Add BSP record</button><span id="status">&nbsp;</span>

                <?php if (User::get_default_instance('department') == 4 || User::get_default_instance('department') == 7) { ?>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#<?=_LINK?>bspModal" data-backdrop="false">
                    <i class="fas fa-exchange-alt"></i> BSP
                </button>
                <?php } ?>
            </div>

            <table id="bsp_table" name="bsp_table" class="scrollable" height="150">
                <thead>
                <tr>
                    <th>BSP From</th>
                    <th>BSP To</th>
                    <th>Type</th>
                    <th>BSP Date</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody class="content">
                </tbody>
            </table>
        </div>
    </div>

</div>

<?= new Template("partner/action_bsp.html", compact("bsp", "_LINK")) ?>

