<style type="text/css">
#<?=_LINK?>{
    width:300px;
    height:180px;
}
#partner_one > td > div {
    z-index:1000;
}
#partner_two > td > div{
    z-index:100;
}
</style>
<script type="text/javascript">
    $( function( ){

        var frame =  $("div#<?=_LINK?>");
        var pop = frame.popup_config({
            title: "Add BSP Entry",
            center: true
        });
        var status =  $("span#status", frame);


        $("#submit-bsp").on("click", function(){

            $.ajax({
                url: "/pages/partner/index.php?get=bsp&id=<?=$id?>&action=add_bsp",
                type: "GET",
                data: {
                    type: "json",
                    bsp_from: $("#bsp\\[sold_from\\]", frame).val(),
                    bsp_to: $("#bsp\\[sold_to\\]", frame).val(),
                    bsp_type: $("#bsp\\[type\\]", frame).val(),
                    bsp_date: $("#bsp\\[bsp_date\\]\\[Y\\]", frame).val()+"-"+$("#bsp\\[bsp_date\\]\\[M\\]", frame).val()+"-"+$("#bsp\\[bsp_date\\]\\[D\\]", frame).val()
                },
                dataType: "json",
                success: function (r) {
                    try {
                        if (r.error == false) {
                            status.html(r.status).addClass("good_news");
                            $("#submit-bsp").attr("disabled", "disabled");
                            $("table#bsp_table").trigger("onshow", [true]);
                            $("table#pending_bsp_table").trigger("onshow", [true]);
                        } else {
                            status.html(r.status).addClass("bad_news");
                        }
                        setTimeout(function () {
                            status.html("").removeClass();
                            $("#submit-bsp").removeAttr("disabled");

                        }, 4000);
                    } catch (e) {
                        alert(e);
                    }
                }
            });


        });

    });
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table>
        <tbody>
            <tr id="partner_one"><td>BSP From</td><td><?=el($bsp->sold_from)?></td></tr>
            <tr id="partner_two"><td>BSP To</td><td><?=el($bsp->sold_to)?></td></tr>
            <tr><td>Type</td><td><?=el($bsp->type)?></td></tr>
            <?php if(empty($_GET['pending'])): ?>
                <tr><td>Date of BSP</td><td><?=el($bsp->bsp_date)?></td></tr>
            <?php endif; ?>
            <tr><td>&nbsp;</td><td><button id="submit-bsp">Submit</button></td></tr>
        </tbody>
    </table>

    <span id="status">&nbsp;</span>

</div>