<?php if ( $full_template ) { // include table structure ?>
<table class="scrollable" id="myps_accounts" name="myps_accounts" height="150" style="font-size: 10pt;">
  <thead>
    <tr>
      <th>Partner</th>
      <th>Notify</th>
      <th><abbr title="Untick to revoke access">Allowed</abbr></th>
    </tr>
  </thead>
  <tbody>
<?php
}

// Output table content ( if $full_template==false, just this )

if( get_accessible_accounts( $user_id ) ) {

    while ( $d=$db->next( MYSQLI_ASSOC  ) ) {

        $p = new Partner;
        
        $notify = $d["notify"];
        unset( $d["notify"] );

        $p->load( $d );

        $val = "value='$p->id'";
        
    ?>
    <tr>
      <td><?= $p->link( ) ?></td>
      <td width="50px" align="center"><?=el::chk( "notify[]", "$val ".( ($notify) ? "checked":"" ) )?></td>
      <td align="center" width="30px"><?=el::chk( "allowed[]", "$val checked" )?></td>
    </tr>
    <?php
    }
}


if ( $full_template ) {
?>
  </tbody>
</table>
<?php
}
?>
