<style type="text/css">
form#<?=_LINK?>{
    width: 700px;
}
table#partner_charging {
    border-collapse:separate;
    border-spacing:0 8px;
}
</style>

<script type="text/javascript">
$(function( ) {
    var frame = $( "div#<?=_LINK?>" );

    //at risk progress bar
    $(function() {
        $.ajax({
            type: 'GET',
            url: "pages/partner/index.php?id=<?=$id;?>&get=ac_percent",
            dataType: "json",
            success: function(r){

                $("#at_risk_progressbar", frame).progressbar({
                    value: parseFloat(r.percent)
                });
                $("#progress-label", frame).html(r.percent+"%");
                $("#total_risk", frame).html("&pound;"+r.total_at_risk);
            }
        });
    });

});
</script>

<?php $p = new Partner($id, true); ?>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <table id="partner_charging" name="partner_charging">
        <tr>
            <th>Top 20%</th>
            <td><?= $p->top20percent; ?></td>
        </tr>
        <tr>
            <th>AC Status</th>
            <td><?= el($p->ac_status); ?></td>
        </tr>
        <tr>
            <th>Packs to Partner</th>
            <td><?=ChargingAllocation::packs_produced($id)?></td>
        </tr>
        <tr>
            <th>Packs to Provider</th>
            <td><?=ChargingAllocation::packs_to_provider($id)?></td>
        </tr>
        <tr>
            <th>Percent Complete</th>
            <td id='partner_percent_complete' title='Percent of income at risk protected under Adviser Charging' ><div id='at_risk_progressbar'><div id='progress-label'>&nbsp;</div></div></td>
        </tr>
    </table>

</div>
