<tr>
  <td><?=$policy->client->link()?></td>
  <td>
	<?=$policy->client->one->dob?>
	<?php
	    $dob2 = $policy->client->two->dob;
		if($dob2 !=""){
			echo "&amp; ".$dob2;
		}
    ?>
  </td>
  <td><?=$policy->client->address?></td>
  <td><?=$policy->issuer?></td>
  <td><?=$policy->link()?></td>
  <td><?=$policy->status?></td>
  <td><?=$policy->type?></td>
</tr>
