<?php
$frame_id=random_string(10);
?>
<style type="text/css">
#<?=$frame_id?> span#status {
    display: none;
}

#<?=$frame_id?> > p > button {
    
}
#<?=$frame_id?> > p > button {
    position: absolute;
    right: 10px;
}
</style>

<script type="text/javascript">
$(function(){
    
    var frame = $("div#<?=$frame_id?>");
    var issuer_select = $("select#issuers:first",frame);
    var pluginInited = false;
    var status_box = $("span#status",frame);
    var table = $("table#issuers_clients:first",frame);
    var url = "<?=Partner::index_url(array('id'=>$partner->id(),'get'=>'clients_by_issuer'))?>";
    var export_button = $("button#export",frame);

    table.bind(
        "getClients",
        function( event ){

            if( 'xhr' in table && table.xhr != null ){
                table.xhr.abort();
            }

            $( table[0].content ).html("");

            status_box
                .text("Loading...")
                .css("color","#000")
                .fadeIn("fast");

            table.xhr = $.ajax({
                'type': "GET",
                'url': url,
                'data': { 'issuer': issuer_select.val() },
                'dataType': "json",
                'success': function( r ){
                    try{
                        
                        $(table[0].content).html(r.clients);
                        status_box
                            .fadeOut("slow");

                    }catch(e){
                        alert(e);
                    }
                },
                'error': function( xhr, status, error ){
                    status_box
                        .css( "color","red" )
                        .text( error );
                },
                'complete': function( xhr, status ){
                    table.xhr = null;
                }
            });
        }
    );
    
    table.bind(
        "onshow",
        function( ){

            if (!$(table).hasClass("has_onshow") || pluginInited) {
                return; // only prepare content once
            }

            // get list of issuers for which Partner has policies
            $.get(
                url,
                function( r ){
                    try{

                        r = json_decode(r);

                        issuer_select
                            .html(r.issuers)
                            .attr("disabled", !r.issuers.length );

                        if(r.issuers.length){
                            issuer_select
                                .prepend( $('<option>All</option>').val("all") )
                                .prepend( $('<option>-- Please Select --</option>').val("") );
                        }
                        
                    }catch(e){
                        alert(e);
                    }
                }
            );

            pluginInited = true;
        }
    );

    issuer_select.change(
        function( ){

            if( this.value == "all" ){
                if( !confirm("Generating a list for ALL issuers could potentially take a long time, continue?") ){
                    return false;
                }
            }

            table.trigger("getClients");
        }
    );

    $("button#export",frame).click(
        function(){
            $(table).export();
        }
    );

    $("#cbi_tab").on("click", function(){
        table.trigger("onshow");
    })

});
</script>

<div id="<?=$frame_id?>" name="<?=$frame_id?>">

  <p>
    Issuers 
    <select id="issuers" name="issuers" disabled="disabled">
      <option>Please wait...</option>
    </select>
    &nbsp;
    <span id="status" name="status"></span>

    <button id="export" name="export"><img src='<?= el::image("table_go.png")?>' /></button>     
  </p>

  <table id="issuers_clients" name="issuers_clients" class="scrollable" height="150">
    <thead>
      <tr>
        <th>Client</th>
        <th>DOBs</th>
        <th>Address</th>
        <th>Issuer</th>
        <th>Policy</th>
        <th>Status</th>
	<th>Type</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
