<style>
    #bsp_edit_form{
        width: 600px;
    }
</style>

<script type="text/javascript">
$(function(){

    var form = $("form#bsp_edit_form");
    var subbtn = $(":button#subbtn", form);
    var p = form.popup_config({
        title: "Edit BSP entry",
        center: true
    });

    saveProfileNotification(form);

    form.on("successfulSave", function(){
        $("table#bsp_table").trigger("onshow", [true]);
        $("table#pending_bsp_table").trigger("onshow", [true]);
    });

});
</script>

<form id="bsp_edit_form" name="bsp_edit_form" action="<?= BSP::index_url(['do'=>'save','id'=>$bsp->id()]) ?>">
    <div class="row no-gutters">
        <div class="col-6">
            From:<br>
            <?=el($bsp -> sold_from)?>
        </div>
        <div class="col-6">
            To:<br>
            <?=el($bsp -> sold_to)?>
        </div>
    </div>
    <div class="row no-gutters my-2">
        <div class="col-6">
            Date:<br>
            <?php if(!empty($bsp->bsp_date())): ?>
                <?=el($bsp -> bsp_date)?>
            <?php else: ?>
                <i>pending</i>
                <br>
                Next Chase Date:<br>
                <?= el($bsp->last_chase) ?>
            <?php endif; ?>
        </div>
        <div class="col-6">
            Type:<br>
            <?=el($bsp -> type) ?>
        </div>
    </div>

    <h5>BSP Checklist</h5>
    <?php foreach(BSPChecklist::ASPECTS as $key => $value): ?>
        <div class="row no-gutters">
            <div class="col-6">
                <?= $value ?>
                <?php if($key === "client_list"): ?>
                    (<label><input type="checkbox" name="clientlist_na" <?= $bsp->checklistValue($key)() == '-1' ? 'checked' : '' ?>> N/A</label>)
                <?php endif; ?>
            </div>
            <div class="col-1">
                <?= el($bsp->checklistValue($key), $key) ?>
            </div>
            <div class="col-5">
                <input name="bsp[notes][<?= $key ?>]" placeholder="notes" value="<?= $bsp->get_note($key) ?>">
                <?php if($cb = $bsp->checklistBy($key)): ?>
                    <p class="mb-0 text-muted"><?= $cb['by'] ?> (<?= $cb['when'] ?>)</p>
                <?php endif; ?>
            </div>
        </div>
    <?php endforeach; ?>

    <?php if (User::get_default_instance('department') == 4 || User::get_default_instance('department') == 7): ?>
        <?php if(empty($bsp->bsp_date())): ?>
            <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#<?=_LINK?>bspModal" data-backdrop="false">
                <i class="fas fa-exchange-alt"></i> Perform BSP
            </button>
        <?php endif; ?>
    <?php endif; ?>
</form>

<?= new Template("partner/action_bsp.html", compact(["bsp", "_LINK"])) ?>