<?php $div_id = random_string(10); ?>

<script type="text/javascript">
  $(function( ) {
  
    var frame = $( "div#<?=$div_id?>" );
    var table = $( "table#ticket_list", frame );
    var tableContent = table[0].content;
    var inited = false;

      frame.bind( 
          "onshow",
          function( ){
          
            if (inited){
                return;
            }

              inited = true;

              $.ajax({
                  'url': "<?=Partner::index_url(array('id'=>$partner->id(),'get'=>'helpdesk'))?>",
                  'type': "GET",
                  'dataType': "json",
                  'success': function( r ){
                      try {

                          if(r.data){
                              $(table[0].content).html(r.data);
                          }

                      } catch( e ) {
                          $(table[0].content).html("<tr><td>"+e+"</td>");
                      }
                  }
              });
              
          }
      );

      //Needed due to bootstrap tabs being used, tabs no longer have the same structure as before which affects lazy loading
      $("li #helpdesk-tab").click(function(){
          frame.trigger("onshow");
      });


  });
</script>

<div id="<?=$div_id?>" name="<?=$div_id?>" class="has_onshow">
  <table id="ticket_list" name="ticket_list" class="scrollable" height="150">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Sent</th>
        <th width="25px">Closed</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

