<script>
    $(function () {
        var frame  = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Partner Info",
            center: true,
        });

        saveProfileNotification(frame);
    });
</script>

<style>
    #<?=_LINK?>{
        width: 800px;
        min-height: 300px;
    }

    textarea {
        width: 98%;
        min-height: 300px;
    }
</style>

<form id="<?=_LINK?>" method="POST" action="<?= PartnerInfo::get_common_url(['id'=>$partnerInfo->id(),'do'=>'save']) ?>">
    <ul id="partner_info_tabs" class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#portfolio-reports">
                Portfolio Reports
                <?php if(!empty($partnerInfo->portfolio_reports())): ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#welcome-letters">
                Welcome Letters
                <?php if(!empty($partnerInfo->welcome_letters())): ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nb-cases">
                New Business Cases
                <?php if(!empty($partnerInfo->new_business_cases())): ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#client-proposition">
                Client Proposition
                <?php if(!empty($partnerInfo->client_proposition())): ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pi-other">
                Other
                <?php if(!empty($partnerInfo->other())): ?>
                <span class="badge rounded-circle badge-danger has_info">
                    <i class="fa fa-exclamation"></i>
                </span>
                <?php endif; ?>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active py-2" id="portfolio-reports">
            <?php if(User::team_head() || User::get_default_instance()->has_permission(50)): ?>
                <?= el($partnerInfo->portfolio_reports); ?>
            <?php else: ?>
                <p>
                    <?php if(!empty($partnerInfo->portfolio_reports())): ?>
                        <?= $partnerInfo->portfolio_reports ?>
                    <?php else: ?>
                        <i>No Data</i>
                    <?php endif; ?>
                </p>
            <?php endif; ?>
        </div>

        <div class="tab-pane fade py-2" id="welcome-letters">
            <?php if(User::team_head() || User::get_default_instance()->has_permission(51)): ?>
            <?= el($partnerInfo->welcome_letters); ?>
            <?php else: ?>
            <p>
                <?php if(!empty($partnerInfo->welcome_letters())): ?>
                <?= $partnerInfo->welcome_letters ?>
                <?php else: ?>
                <i>No Data</i>
                <?php endif; ?>
            </p>
            <?php endif; ?>
        </div>

        <div class="tab-pane fade py-2" id="nb-cases">
            <?php if(User::team_head() || User::get_default_instance()->has_permission(52)): ?>
            <?= el($partnerInfo->new_business_cases); ?>
            <?php else: ?>
            <p>
                <?php if(!empty($partnerInfo->new_business_cases())): ?>
                <?= $partnerInfo->new_business_cases ?>
                <?php else: ?>
                <i>No Data</i>
                <?php endif; ?>
            </p>
            <?php endif; ?>
        </div>

        <div class="tab-pane fade py-2" id="client-proposition">
            <?php if(User::team_head() || User::get_default_instance()->has_permission(53)): ?>
            <?= el($partnerInfo->client_proposition); ?>
            <?php else: ?>
            <p>
                <?php if(!empty($partnerInfo->client_proposition())): ?>
                <?= $partnerInfo->client_proposition ?>
                <?php else: ?>
                <i>No Data</i>
                <?php endif; ?>
            </p>
            <?php endif; ?>
        </div>

        <div class="tab-pane fade py-2" id="pi-other">
            <?php if(User::team_head() || User::get_default_instance()->has_permission(54)): ?>
            <?= el($partnerInfo->other); ?>
            <?php else: ?>
            <p>
                <?php if(!empty($partnerInfo->other())): ?>
                <?= $partnerInfo->other ?>
                <?php else: ?>
                <i>No Data</i>
                <?php endif; ?>
            </p>
            <?php endif; ?>
        </div>
    </div>
</form>