<?php $additionalemail = new AdditionalEmail(); ?>

<style type="text/css">
form#<?=_LINK?>{
    width: 1200px;
}

#spinner_pol{
    float:right;
}
#ac_partner_tbl {
    min-height: 300px;
    max-height: 400px;
    max-width: 1500px;
    position :relative;
}

#<?=_LINK?> table.scrollable div.scroll {
    height: 400px;
}
</style>
<!--Set form to a dynamic element ID,Set loading image to a variable,show loading spinner-->
<script type="text/javascript">

    $(function( ) {
    var form = $( "form#<?=_LINK?>" );
    var loadingSpinner = $("img.spinner","<?=_LINK?>");

    var pop =  $( form ).popup_config({
        title: "My Adviser Charging Partners",
        center: true
    });

    loadingSpinner.show();
    $.ajax({
        url: "pages/partner/?mypartners=true&display=true",
        type: "GET",
        data: {
            type: "json",
                staff_id: "<?=User::get_default_instance('id');?>"
        },
        dataType: "json",
        success: function( r ){
            $('.content', form).html(r.data);
            loadingSpinner.hide();  //Hide loading spinner
        }
    });

    $("input").keypress(function (evt) {
        //Deterime where our character code is coming from within the event
        var charCode = evt.charCode || evt.keyCode;
        // disable enter key to prevent csvs being produced on enter
        if (charCode  == 13) {
            return false;
        }
    });

    $(document).on("change","#partner\\[ac_status\\]", function()   /*onload get dropbox data ID and then give user system feedback*/
    {

       var partner_id = $(this).closest('tr').attr('id'); /* ID of the the first TR(tableRow) on the page*/

        $.ajax({
            url: "pages/partner/?update_ac_status=true",
            type: "GET",
            data: {
                type: "json",
                partner_id: partner_id,
                status: $(this).val()
            },
            dataType: "json",
            success: function( r ) {
                if (r.error == true) {

                    $("#ac_update_status").html(r.status).addClass("bad_news"); /* update user feedback with red unsuccessful message*/
                }
                else {

                    $("#ac_update_status").html(r.status).addClass("good_news");  /* update user feedback with green successful message*/
                }
                setTimeout(function() {
                    $("#ac_update_status").html("").removeClass(); /*remove message after n seconds (seconds measured in milliseconds)*/
                }, 3000);
            }
        });
    });

        // Hide/Show articles as appropriate
        $("#partner_search").on( "keyup" ,function() { // Function to run everytime a keystroke is pressed
            // Convert search criteria to uppercase to be used for comparison
            var val = $.trim(this.value).toUpperCase();
            var table = $("#ac_partner_tbl");
            var table_rows = $("#ac_partner_tbl > tbody > tr > td > div.scroll > table > tbody.content > tr "); // Jquery selector for tablerow
            var partner_name = $("#ac_partner_tbl > tbody > tr > td > div.scroll.y > table > tbody.content > tr > td.partner_name"); // Jquery selector for Partner row


            // Hide all tables when search criteria entered and later display table with rows matching search results
            $(table_rows).hide();

            // If search criteria is blank, show all entries

            if (val === "") {
                $(table_rows).show();
            }
            // Show entries relevant to search criteria
            else {
               $(table_rows).hide();
                $(table_rows).filter(function() {
                    return -1 != $(this).text().toUpperCase().indexOf(val);
                }).closest(table_rows).show();


            }
        });
    });
</script>



<form id="<?=_LINK?>" name="<?=_LINK?>" >  <!--Set form to a dynamic ID-->
    <div id="myPartners" name="myPartners" >

       <!--  On click of the export button, convert the dropdown box to a string and then export all the table data-->
        <button onclick="$(function(){$('#ac_partner_tbl').export(); });"><img src='<?= el::image("table_go.png")?>' /></button>  <!--Initiates export of table-->
        <button onclick="$(function(){ $('#ac_partner_tbl').print(); });"><img src='<?= el::image("printer.png")?>' /></button>   <!--Initiates printing of table-->

        <div id="acp_search">
            <p>Search: <input id="partner_search" type="text" placeholder="Partner Search" /> &nbsp;</p>
        </div>

        <span id="ac_update_status">&nbsp; </span>
        <img id="spinner_pol" name="spinner_pol" class="spinner" src="/lib/images/inline-ajax.gif"/>
        <table id ="ac_partner_tbl" name="myplist" class="scrollable">  <!--Table in which is the "MY AC Partners" is stored-->
            <thead>
            <tr>
                <!--// Table headings-->
                <th width="160px">Partner</th>
                <th width="330px">Status</th>
                <th width="60px">Top 20%</th>
                <th width = 160px>Packs To Partners</th>
                <th width = 160px>Packs To Providers</th>
                <th width="40px">%Complete</th>
                <th width="120px">Income Risk</th>

            </tr>
            </thead>
            <tbody class='content'></tbody>

        </table>
    </div>
</form>
