<?php

$users=[];

if ( !isset( $subusers ) ) {
    $subusers = get_subuser_accounts( $partner_id );
}

   
foreach( $subusers as $su ) {
   
    $users[] = $su->id; 
    $val     = "value='$su->id'";

?>
<tr>
  <td><?=$su->user_name?></td>
  <td><?=$su->email_address?></td>
  <td><?= ( $su->partner() ) ? $su->partner->link() : "&nbsp;" ?></td>
  <td><?= ( $su->created->get() ) ? $su->created->get() : "&nbsp;" ?></td>
  <td align="center"><?= el::chk( "notify[]", "$val ".( ((int)"$su->notify") ? "checked" : "" ) ) ?></td>
  <td align='center'><button class='remove' value="<?=$su->id?>">&nbsp;</button></td>
</tr>
<?php
     }
?>
