<?php
$link_id = random_string(10);
$websiteuser = new WebsiteUser;
?>
<style type="text/css">
#<?=$link_id?> {
}
#<?=$link_id?> div.tabs > div > div.active {
}

#<?=$link_id?> div.tabs tr button.delete {
    background-image: url("<?=el::image('cross.png')?>");
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    width: 20px;
}
#<?=$link_id?> div.tabs div.scrollable {
    overflow-y: scroll;
    border: 1px solid;
    height: 150px;
}
#<?=$link_id?> div.tabs table {
    width: 100%;
}
#<?=$link_id?> .suggest {
    display: inline-block;
}
#<?=$link_id?> .suggest > input {
    width: 300px;
}
#<?=$link_id?> div#account {
    width: 65%;
}
div.console {
    text-align: right;
    height: 25px;
}
</style>

<script type="text/javascript">
  $(function( ) {

      var frame = $("#<?=$link_id?>");
      frame.xhr = null;
      frame.inited = false;

      var accessorDiv = $("div#accessor",frame);
      var accessibleDiv = $("div#accessible",frame);
      var accessorSuggest = $("#WebsiteUser",accessorDiv);
      var accessibleSuggest = $("#Partner",accessibleDiv);
      var userForm = $("div#account",frame);
      var userID = $("<?=$websiteuser->id->get_html_id(false,Field::HTML_ID_JQUERY)?>",userForm);
      var console = $(".console",frame);

      $( accessibleDiv.selector + ", " + accessorDiv.selector ).bind(
          "insertEntries",
          function( e, list ){

              var rows = $("div.scrollable table",this);

              $(rows).html("");

              for( var i=0; i<list.length; i++ ){
                  $( rows )
                      .append(
                          $( "<tr>" +
                             "<td>" + list[i]["@link"] + "</td>" +
                             "<td align='right'>"+
                             "<button class='delete' value='" + list[i]["id"]+"'> </button>"+
                             "</td>" +
                             "</tr>" )
                      );
              }
          }
      );

      userForm.bind(
          "insertData",
          function( e, data ){
            alert(e);
            alert(data);
              for( key in data ){

                  var id = ( "#<?=$websiteuser->group_name?>\\[" +key+"\\]").replace("@","\\@");

                  // Apply value to form fields
                  $( id )
                      .filter("input,select")
                      .val( data[key] );

                  // Allow setting of '@' properties
                  $( id )
                      .filter("span")
                      .html( data[key] );
              }
          }
      );

      frame.getMypsData = function( callback ){

          if( frame.xhr != null ){
              frame.xhr.abort();
          }

          console.text("Fetching data from mypsaccount...");
        
          frame.xhr = $.ajax({
              'url': "<?=Partner::index_url(array('id'=>$partner->id(),'myps'=>'home'))?>",
              'type': "GET",
              'dataType': "json",
              'success': function( r ){
                  callback( r );
              },
              'complete': function( r ){
                  
              }
          });     
     
      };

      frame.bind( 
          "onshow",
          function( ){

              if( frame.inited ){
                  return;
              }

              frame.inited = true;

              frame.getMypsData( function( r ){

                  try {
                      
                      userForm
                          .trigger( "insertData",[r.account] );

                      accessibleDiv
                          .trigger("insertEntries",[r.accessible]);

                      accessorDiv
                          .trigger("insertEntries",[r.accessors]);
                      
                  } catch( e ) {
                      alert(e);
                  }
              } );
          }
      );

      $("button#add_accessor",accessorDiv).click(
          function( ){
              if( !accessorSuggest.val() ){
                  return;
              }

              $.ajax({
                  'url': "<?=ViewerEntry::get_common_url(array('do'=>'create'))?>",
                  'type': "POST",
                  'data': { 
                      'viewerentry': {
                          'partner': <?=$partner->id()?>,
                          'user': accessorSuggest.val()
                      }
                  },
                  'success': function( r ){
                      frame.getMypsData(
                          function( r ){
                              accessorDiv
                                  .trigger("insertEntries",[r.accessors]);
                          }
                      );
                  }
              });              
          }
      );


      $( "button#add_accessible", accessibleDiv ).click(
          function() {

              if( !accessibleSuggest.val() ){
                  return;
              }

              if( !userID.val() ){
                  return;
              }

              $.ajax({
                  'url': "<?=ViewerEntry::get_common_url(array('do'=>'create'))?>",
                  'type': "POST",
                  'data': { 
                      'viewerentry': {
                          'partner': accessibleSuggest.val(),
                          'user': userID.val()
                      }
                  },
                  'success': function( r ){
                      frame.getMypsData(
                          function( r ){
                              accessibleDiv
                                  .trigger("insertEntries", [r.accessible] );
                          }
                      );
                  }
              });
          }
      );
  });
</script>

<div id="<?=$link_id?>" name="<?=$link_id?>" class="has_onshow">

  <div class='console'></div>

  <div class="tabs">

    <ul>
      <li class="active">Account</li>
      <li>Has Access To</li>
      <li>Accessible By</li>
    </ul>
    
    <div>

      <div id="account" name="account" class="active">
        <?= WebsiteUser::get_template("form.html",array("websiteuser"=>$websiteuser))?>
      </div>
      
      <div id="accessible" name="accessible">
        
        <p>
          <?= el($partner) ?>
          <button id="add_accessible" name="add_accessible">Add</button>
        </p>
        
        <div class="scrollable">
          <table>
          </table>
        </div>

      </div>

      <div id="accessor" name="accessor">

        <p>
          <?= el($websiteuser) ?>
          <button id="add_accessor" name="add_accessor">Add</button>
          <button id="new_accessor" name="new_accessor">New User</button>
        </p>
        
        <div class="scrollable">
          <table>
          </table>
        </div>

      </div>

    </div>

  </div>
    
</div>

