<style type="text/css">
input#practice {width: 400px;}

input#line1 {width: 250px;}
input#line2 {width: 250px;}
input#line3 {width: 250px;}

input#email {width: 280px;}

input#addressee {width: 280px;}

tr.hidden { display:none; }
tr.highlight { background: #DFEEFF;}

span#addmessage {
    font-weight:bold;
    color: red;
}

table.container{
	border: 1px solid #bfbfbf;
	padding: 3px;
	margin-bottom: 5px;
	width: 100%;
}

</style>

<script type="text/javascript">
$(function( ){
    
    var form = $( "#partner_add_page form" )[ 0 ];
    var trans = $("select#transtype");		
    var prac = $("input#practice");
    var surname = $("input#surname");
    var band = $("select#band");
    var usrmsg = $( "span#addmessage" );
    var subbtn = $( 'button#submit' );
    
    
    var bands = [500,3000,7500,12500,20000,37500,62500,87500,125000,175000,225000,275000,300000];
    var pcs = [0,60,65,70,75,80,82,84,86,88,90,92,94];
    

    $( subbtn ).click( function( ) {
    
         $( subbtn ).attr('disabled', true);
        //  Submit form to server
        $( form ).send( function( r ) {

            r = json_decode( r );

            if(r.added){
                $( "div#content_window" ).load("/pages/partner/?do=get&id=" + r.added,
                        function( ){
                            $(this).trigger("load");
                        }
                );
            }
            else if(r.error){
                $( usrmsg ).html( r.error[1] );
                $( subbtn ).attr('disabled', false);
            }
            else if(!r.practice){
                $( usrmsg ).html( 'Error adding practice, please alert IT' );
            }
            else if(!r.prac_rel){
                $( usrmsg ).html( 'Error adding practice relationship, please alert IT' );
            }
            return false;
        });
    });
    
    $(trans).change( function( ) {
    
            if(trans.val() != 1 ){
                $("tr.hidden").addClass("highlight").removeClass("hidden");
                $("input#bulkclient").val('*Ex IFA Agencies- ' + $(prac).val());
                
            }
            else{
                $(band).val('1');
                $("input#singlerate").val('60');
            }
        }
    );
    
    $(prac).change(function () {
         $("input#addressee").val(prac.val());
         $("button#submit").attr('disabled', false);
    });
    
    $(band).change(function () {
         $("input#renewals").val(bands[band.val()]);
         $("input#singlerate").val(pcs[band.val()]);
         
    });
    
    $( 'button#existing-prac' ).click( function(){
        $('div#prac').load('<?= _SELF ?>?get=pracs');
    });
    
    // do not allow the use of enter, this will wipe the practice/submit the form
    $(form).keypress(function (evt) {
        //Deterime where our character code is coming from within the event
        var charCode = evt.charCode || evt.keyCode;
        if (charCode  == 13) { //Enter
            return false;
        }
    });

});
</script>

<div id="partner_add_page" name="partner_add_page">

    <form action="<?=_SELF_URL?>?add=1" method="POST">

        <div id="input" name="input">
		    <table class='container'>
				<thead>
				<th>Business Details</th>
				</thead>
			
				<tbody>
					<tr style="font-size: 12pt;">
						<td colspan= '4' align='right'>
							<?=$partner -> address -> choices?>
						</td>
					</tr>
					<tr>
						<th><?= el::bt( "<b>Practice</b>","existing-prac" ) ?></th>
						<td>
                            <div id="prac" name = "prac">
							<?php
                                $prac =  new Field("practice");
								print $prac -> toElement("practice");
							?>
                            </div>
						</td>
						<th>Address</th>
						<td><?= $partner -> address -> line1 -> toElement() ?></td>
					</tr>
					<tr>
						<th>SJP Code</th>
						<td colspan='2'><?= $partner -> agencyCode -> toElement() ?></td>
						<td><?= $partner -> address  -> line2 -> toElement() ?></td>
					</tr>
					<tr>
						<th>Branch</th>
						<td colspan='2'><?= $partner -> branch -> toElement( ) ?></td>
						<td><?= $partner -> address  -> line3 -> toElement() ?></td>
					</tr>
					<tr>
					<td colspan='3'>&nbsp;</td>
						<td><?= 
							$partner-> address  -> postcode -> toElement() . "\n".
							$partner-> address  -> button ."\n".
							$partner-> address  -> init
						?></td>
					</tr>
				</tbody>
            </table>
			
			<table class='container'>
				<thead>
				<th>Personal Details</th>
				</thead>
				
				<tbody>
					<tr>
						<th>Title</th>
						<td><?=$partner -> title -> toElement()?></td>
                        <th>First</th>
						<td><?=$partner -> forename -> toElement()?></td>
                        <th>Surname</th>
						<td><?=$partner -> surname -> toElement()?></td>
                        </td>
						<th>D.O.B</th>
                        <td><?= $partner -> dob -> toElement( false, true ) ?></td>
                    </tr>
				</tbody>
				
			</table>
			
			<table class='container'>
				<thead>
				<th>Communication Details</th>
				</thead>
				
				<tbody>
					<tr>
						<th>Phone</th>
                        <th>Mobile</th>
						<th>Fax</th>
						<th>Email</th>
					</tr>
					<tr>
                        <td><?= $partner->phone->toElement( ) ?></td>
                        <td><?= $partner->mobile->toElement( ) ?></td>
                        <td><?= $partner->fax->toElement( ) ?></td>
                        <td><?= $partner->email->toElement( ) ?></td>
                    </tr>
					
				</tbody>
			</table>
			
			<table class='container'>
				<thead>
				<th>Income Details</th>
				</thead>
				
				<tbody>
					<tr>
						<th>Sortcode</th>
						<th>Account Number</th>
						<th>Account Name</th>
					</tr>
                    <tr>
                        <td><?= $partner -> banksortcode -> toElement() ?></td>
                        <td><?= $partner -> bankaccno -> toElement() ?></td>
                        <td><?= $partner -> bankaccname -> toElement( ) ?></td>
                    </tr>
					
                </tbody>

            </table>
			
			<table class='container'>
				<thead>
				<th>Legal</th>
				</thead>
				
				<tbody>
                    <tr>
					<th>Signed by partner</th>
                        <td><?= $partner -> signed -> toElement(false,true ) ?></td>
					<th>Signed by ps</th>
                        <td><?= $partner -> agreed -> toElement(false,true ) ?></td>
                    </tr>
					
                </tbody>

            </table>
			
			<table class='container'>
				<thead>
                    <th>PS</th>
				</thead>
				
				<tbody>
                    <tr>
					<th>Addressee</th>
                        <td>
						<?= $partner -> addressee -> toElement() ?>
						</td>
					<th>Transfer Type</th>
                        <td>						
						<?= $partner -> transtype -> toElement(false,false) ?>
						</td>
                    </tr>
					<tr class='hidden'>
						<th>Manager</th>
                        <td>
						<?= $partner -> manager -> toElement(false,false) ?>
						</td>
						<th>Bulk Client</th>
                        <td>
						<?php
						$bulkclient = new Field("bulkclient");
						echo $bulkclient -> toElement("bulkclient");
						?>
						</td>
                    </tr>
                    <tr class='hidden'>
						<th>RBO partner</th>
						<td><?= $partner -> rbo -> toElement(false,false, 0 ) ?></td>
                    </tr>
                    <tr>
						<th>Band</th>
                        <td><?= $partner -> band -> toElement(false,false) ?></td>
						<th>Rate</th>
                        <td><?= $partner -> singlerate -> toElement() ?></td>
                    </tr>
                    <tr>
						<th>Review Date</th>
                        <td><?= $partner -> review -> toElement("review",true ) ?></td>
						<th>Expected Renewals</th>
                        <td><?= $partner -> renewals -> toElement(false,true ) ?></td>
                    </tr>
                    <tr>
						<th>Network</th>
                        <td><?php $partner -> network -> set('20');  print $partner -> network -> toElement(false,false ); ?></td>
						<th>Account Type</th>
                        <td><?= $partner -> acctype -> toElement(false,false) ?></td>
                    </tr>
					
                </tbody>

            </table>

        </div>
		<span id="addmessage" name="addmessage">&nbsp;</span>
        <p align="right"><?=el::bt("Continue...","submit")?></p>

    </form>

</div>
