<?php $frame_id = random_string(10); ?>

<script type="text/javascript">
$(function(){
    
    var frame = $("div#<?=$frame_id?>");
    var pluginInited = false;
    var table = $("table#new_business:first",frame);
    var url = "<?=Partner::index_url(array('id'=>$partner->id(),'get'=>'newbusiness'))?>";
    var export_button = $("button#export",frame);
	var status_box = $( "span#newbusiness_status",frame );
    var loadingSpinner = $("img#spinner","<?= _LINK?>");
	 
    table.bind(
        "onshow",
        function( ){

            if( $(this).is(":hidden") || pluginInited ){
                return; // only prepare content once
            }

            // get list of nb cases for Partner
            $.get(
                url,
                function( r ){
                    try{				
                    r = json_decode(r);
					$("tbody.content",table).append( r );
					  loadingSpinner.hide();
					 
					 var count = $('table tbody:last tr').length;
					  
					if(count == 0) {
					$("span#newbusiness_status").empty();
					  $("span#newbusiness_status")
						  .removeClass().addClass( "bad_news" )
						  .text( count + " New Business Cases Found" );
					}
					
					if(count >= 1) {
					$("span#newbusiness_status").empty();
					  $("span#newbusiness_status")
						  .removeClass().addClass( "good_news" )
						  .text( count + " New Business Cases Found" );
					}
			
                    }catch( e ){
                        alert( e );
                    }
                }
            );

            pluginInited = true;
        }
    );
	
    $("button#export",frame).click(
        function(){
            $(table).export();
        }
    );
	
});
</script>

<div id="<?=$frame_id?>" name="<?=$frame_id?>">	

	<p>
		<b>New Business Cases For:</b> <?=$partner?>
		<button id="export" name="export"><img src='<?= el::image("table_go.png")?>' /></button>
		<img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
		<span id="newbusiness_status" name="newbusiness_status" class="newbusiness_status" style="float:right;padding-top:5px;">&nbsp;</span>
	</p>
	
	<table id="new_business" name="new_business" class="scrollable" height="150">
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Status</th>
				<th>Client</th>
				<th>Policy</th>
				<th>Assigned To</th>
				<th>Latest</th>
			</tr>
		</thead>
		<tbody class="content">
		</tbody>
	</table>

	<div style="clear:both;"></div>
	
</div>