<script>
    $(function(){
        var frame = $("#<?=_LINK?>os_tab");

        function loadOngoingService(){
            //show loading spinner
            $("#os_table tbody", frame).html("<tr><td colspan='" + $("#os_table thead th", frame).length + "' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>");

            // get the data
            $.ajax({
                url: "/pages/partner/?get=ongoing_service",
                type: "GET",
                data: {
                    id: "<?= $partner->id() ?>",
                },
                dataType: "JSON",
                success: function(response){
                    // clear the table
                    $("#os_table tbody", frame).html("");

                    if (response.success){
                        $("#os_table tbody", frame).html(response.data);
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        $(".partner_os_tab").on("click", function(){
            //lazy load the tab, it could get big after a while
            loadOngoingService();
        });
    });
</script>
<style>
    #<?=_LINK?>os_tab{
        max-height: 360px;
        overflow-y: scroll;
    }
</style>
<div id="<?=_LINK?>os_tab">
    <table class="table table-striped" id="os_table">
        <thead>
        <tr>
            <th>Client</th>
            <th>Review Offered</th>
            <th>Review Accepted</th>
            <th>Review Type</th>
            <th>Review Date</th>
            <th>Review Done</th>
            <th>Added When</th>
            <th>Added By</th>
        </tr>
        </thead>
        <tbody id="os_table_body">
        </tbody>
    </table>
</div>