<style type="text/css">
#<?=_LINK?> {
    width: 600px;
    }
#<?= _LINK ?> button {
    font-size: 12pt;
    width: 25%;
}
#<?=_LINK?> table.scrollable div.scroll {
    height: 200px;
}
</style>

<script type="text/javascript">
  $( function(){
 
      var form = $("#<?=_LINK?>");
      var table = $( form ).find("table:first");
      var accept_button = $(":button#accept-changes",form);
      var reject_button = $(":button#reject-changes",form);
      var pop = form.get_popup();

      reject_button.click(
          function(){
              
              if ( confirm( "Do you really want to cancel these changes?", "" ) ) {
                  $("input:hidden#deny",form)
                      .attr( "disabled", false );
                  return true;
              }
              return false;
          }
      );
                   

      saveProfileStatusSpan( form, {
          successfulSave: function( ){
              $(pop).trigger("close");
          }
      });

      var text = "At <?=date('g:ia \o\n \t\h\e j<\s\u\p>S</\s\u\p> F Y',$d['changeMade'])?> "+
                 "user <b><?=$d['user_name']?></b> made a number of changes to this account. ";

      // despite entry there are no changes required
      if( $("tbody:first>tr",table).length == 0 ){

          text += "<span style='color:red;'>However, it would appear that these changes have already been applied. "+
              "Please click the <b>Reject</b> button below to prevent this notification from reappearing.</span>";

          $(accept_button).attr("disabled",true);
      }
      <?php
          if( $partner->updatedwhen() > $d["changeMade"] ) {
              $user = new User($partner->updatedby(),true);
                  ?>
                  // php generated (eugh)
           else if ( true ) {
          text += "<span style='color:red;'>However, this account has since been updated by <b><?=$user?></b> "+
              "and consequently the changes below may be inaccurate. Please contact <?=$user->forename?> about this and if "+
              "necessary the account holder.</span>";
      }
                  <?php
          }
          ?>
          else {
          text += "Please review the following changes and click the <b>Authorise Change</b> button below "+
          "to apply the changes to the account. Should you suspect an issue with the request, please contact the "+
          "account holder to verify the situation and if necessary click the <b>Reject</b> button to prevent "+
          "this notification from reappearing.";
          }

      $( ">p#instructions",form ).html( text );
});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=_SELF_URL?>" method="POST">

  <p id='instructions' name='instructions'></p>

  <table align="center" class="scrollable">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Current</th>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody class="content">
      <?php if( "$partner" != "$updated_partner" ){ ?>
      <tr>
        <th>Name</th>
        <td><?=$partner?></td>
        <td><?=$updated_partner?></td>
      </tr>
      <?php }
        if( $partner->dob() != $updated_partner->dob() ){ ?>
      <tr>
        <th>DOB</th>
        <td><?=$partner->dob?></td>
        <td><?=el($updated_partner->dob)?></td>
      </tr>
      <?php }
        if( $partner->address->as_array() != $updated_partner->address->as_array() ){ ?>
      <tr>
        <th valign="top">Address</th>
        <td>
          <?php
            foreach( $partner->address->as_array( ) as $l ) {
                echo "$l<br />\n";
            }
          ?>
        </td>
        <td>
          <?=el($updated_partner->address->line1)?><br />
          <?=el($updated_partner->address->line2)?><br />
          <?=el($updated_partner->address->line3)?><br />
          <?=el($updated_partner->address->postcode)?>
        </td>
      </tr>
      <?php } ?>
      <?php if( $partner->addressee() != $updated_partner->addressee() ){ ?>
      <tr>
          <th>Addressee</th>
          <td><?=$partner->addressee?></td>
          <td><?=el($updated_partner->addressee)?></td>
      </tr>
      <?php } ?>
      <?php if( $partner->phone() != $updated_partner->phone() ){ ?>
      <tr>
        <th>Telephone</th>
        <td><?=$partner->phone?></td>
        <td><?=el($updated_partner->phone)?></td>
      </tr>
      <?php }
        if( $partner->mobile() != $updated_partner->mobile() ){ ?>
      <tr>
        <th>Mobile</th>
        <td><?=$partner->mobile?></td>
        <td><?=el($updated_partner->mobile)?></td>
      </tr>
      <?php } ?>
	  <?php if( $partner->fax() != $updated_partner->fax() ){ ?>
      <tr>
        <th>Fax</th>
        <td><?=$partner->fax?></td>
        <td><?=el($updated_partner->fax)?></td>
      </tr>
      <?php }
		if( $partner->email() != $updated_partner->email() ) { ?>
      <tr>
        <th>Email</th>
        <td><?=$partner->email?></td>
        <td><?=el($updated_partner->email)?></td>
      </tr>
      <?php }
        if( $partner->account_name() != $updated_partner->account_name() ) { ?>
      <tr>
        <th>Account Name</th>
        <td><?=$partner->account_name?></td>
        <td><?=$updated_partner->account_name?></td>
      </tr>
      <?php }
        if( $partner->account_num() != $updated_partner->account_num() ) { ?>
      <tr>
        <th>Account Number</th>
        <td><?=$partner->account_num?></td>
        <td><?=$updated_partner->account_num?></td>
      </tr>
      <?php }
        if( $partner->sortcode() != $updated_partner->sortcode() ) { ?>
      <tr>
        <th>Account Sortcode</th>
        <td><?=$partner->sortcode?></td>
        <td><?=$updated_partner->sortcode?></td>
      </tr>      
      <?php }
        if( $partner->branch() != $updated_partner->branch() ) { ?>
      <tr>
        <th>Branch</th>
        <td><?=$partner->branch?></td>
        <td><?=$updated_partner->branch?></td>
      </tr>
      <?php }
        if( $partner->agencyCode() != $updated_partner->agencyCode() ) { ?>
      <tr>
        <th>SJP Agency Code</th>
        <td><?=$partner->agencyCode?></td>
        <td><?=$updated_partner->agencyCode?></td>
      </tr>
      <?php } ?>
    </tbody> 

  </table>

  <p align="right">
    <span class="status">&nbsp;</span>
    <button id="reject-changes" class="bad_news">Reject</button>
    <button id="accept-changes" class="good_news">Authorise</button>
  </p>

  <input type="hidden" id="submit" name="submit" value="1"/>
  <input type="hidden" id="deny" name="deny" value="1" disabled='disabled'/>

</form>
