<?php $frame_id=random_string(10); ?>

<style type="text/css">
#<?=$frame_id?>table#outstanding > .scroll{
    height:250px;
}
</style>

<script type="text/javascript">
$(function(){
    
    var frame = $("div#<?=$frame_id?>");
    var table = $("table#outstanding",frame);
    
    table.bind(
        "onshow",
        function( ){
            $("#outstanding tbody.content").load("<?=Partner::index_url(array('id'=>$partner->id(),'get'=>'outstanding'))?>",function(){
                $(table).trigger( "calibrateContent" );            
            });

        }
    );

    $(".pending_transfers_tab").on("click", function(){
        $(table).trigger("onshow");
    });

});
</script>

<div id="<?=$frame_id?>" name="<?=$frame_id?>">

    <button onclick="$(function(){ $('#outstanding').export(); });"><img src="<?= el::image("table_go.png")?>" /></button>
    <button onclick="$(function(){ $('#outstanding').print(); });"><img src="<?= el::image("printer.png")?>" /></button>

    <table class="scrollable" id="outstanding" name="outstanding">
        <thead>
            <th>Client</th>
            <th>Provider</th>
            <th>Policy</th>
            <th>Type</th>
            <th class="date">Submitted</th>
        </thead>
        <tbody class="content">
        </tbody>
        <tfoot>
        </tfoot>
    </table>

</div>

