<style type="text/css">
    #<?=_LINK?> {
        width: 700px;
        max-height:300px;
        overflow: auto;
    }

     #<?=_LINK?> #unmatchedTbl {
        width: 700px;
        max-height:300px;
        overflow: auto;
    }



</style>

<script type="text/javascript">
    $(function(){

        var frame = $("#<?=_LINK?>");
        var practice_id  = "<?=$practice_id?>";

        var pop = frame.popup_config({
            title: "Practice details comparison",
            center: true,
            popupClass: "practice-" + practice_id
        });


        $.ajax({
            url: "pages/partner/index.php?do=viewUnmatched&practice_id="+practice_id,
            type: "GET",
            dataType: "json",
            success: function (r) {
                try {
                    if (r.data != false) {
                        $('tbody.contentUnmatched', frame).html(r.data);
                    }


                } catch (e) {
                    handleSystemError(e);
                }
            }
        });

    });
</script>

<div id="<?=_LINK?>" class="uniquePop" name="<?=_LINK?>">

    <table id ="unmatchedTbl" name="Unmatched Table" class="scrollable">
        <thead>
        <tr>
            <!--// Table headings-->
            <th width="160px">Practice</th>
            <th width="330px">Partner</th>
            <th width="200px">Rate</th>
            <th width="100px">Band</th>


        </tr>
        </thead>
        <tbody class='contentUnmatched'></tbody>

    </table>



</div>

