<?php
    define("TABS",random_string(15));

    $e = new AdditionalEmail;
    $s = new Search( $e );
    $s->eq("partnerID", $_GET['id']);

    if (isset($addemailID)) {
        $additionalemail = new AdditionalEmail($addemailID, true);
    }

    $uid = User::get_default_instance("id");
    $dept = User::get_default_instance("department");
    $leader = User::get_default_instance("team_leader");

    $today = date('d/m');
    if (substr($partner->dob->out(Date::UK_STYLE_SHORT),0,5) == $today) {
        $ptnr = preg_replace("/\([^)]+\)/","",$partner);
        $birthday = "Today is ".trim($ptnr)."'s birthday";
    }

    //search to see if prospect entry exists for this partner
    $s1 = new Search( new BulkPartner );
    $s1->eq("partnerID", $_GET['id']);
    $bp = $s1->next(MYSQLI_ASSOC);

    //if entry exists, use prospect_id, if not use partner
    ($bp) ? $bp_flag = true : $bp_flag = false;

    $as = new AccountSegmentation();
    $a = new Search( $as );
    $a->eq("partner", $_GET['id']);
?>
<style type="text/css">
    .popup.<?=_LINK?>{
        width: 85%;
        max-width: 1300px;
    }
    .popup.<?=_LINK?>.mini{
        width: 25%;
    }
    #<?=TABS?> {
        width: 100%;
        clear: both;
    }
    #<?=_LINK?> table.scrollable div.scroll {
        min-height: 150px;
        max-height: 300px;
    }

    #<?=_LINK?> #commission .scroll{
        height: 300px;
    }
   /* #<?=TABS?> table#mail-plugin-tbl  div.scroll {
        height: 300px;
    }
    #<?=TABS?> table#commission.scrollable div.scroll {
        height: 400px;
    }*/
    #<?=_LINK?> .tabs > div{
        min-height: 190px;
    }
    #<?=_LINK?> #letters{
        text-align: right;
    }
    /*#<?=_LINK?> div#profile_box {
        margin-bottom: 4px;
        width: 100%;
    }*/
    #<?=_LINK?> div#notes_box{
        width: 100%;
        height: 240px;
        /*padding: 0 5px 0 5px;*/
        overflow-y: scroll;
        /*float: right;*/
    }
    #<?=TABS?> .luxe{
        margin-bottom: 2px;
    }
    #<?=TABS?> .luxe tr > *{
        padding: 4px;
        border: 1px solid #00516b;
    }
    #<?=TABS?> div.notification{
        font-weight: bold;
        cursor: default;
    }
    .popup #<?=_LINK?> {
        min-width: 900px;
    }
    .popup table#calls {
        width: 100%;
    }
    .popup .tabs > div {
        max-width: 100%;
    }
    .popup .tabs > div#localLog {
        max-width: 30%;
    }
    .mainEmail_th_padding {
        padding: 20px 0 10px;
    }
    .additionEmail_th_padding {
        padding: 8px 0 10px;
        width: 240px;
    }
    .update {
        width: 60px;
    }
    .p_birthday > th {
        padding-top: 15px;
    }
    .bday {
        padding-right: 10px;
    }
    .clear_fix {
        clear: both;
    }
    .stars {
        width: 18px;
        height: 18px;
    }
    #<?=_LINK?> .alert{
        padding-top: 5px;
        padding-right: 18px;
    }
    #rating {
        float: right;
        margin-right: 10px;
    }
    div.notification.warning {
        background-image: url("/lib/images/alert_warning.png");
        background-position: 5px 2px;
        background-color: #fddfdf;
        border-color: #df0000;
    }
    .btn1 {
        background: #FCF9F8;
        border: 1px solid #006686;
        padding: 3px 5px 3px 5px;
        cursor: pointer;
        font-size: 9pt;
        margin: 1px;
        outline: none;
        border-radius: .25em;
        color: #000;
    }

    #<?=TABS?> #letters > button{
            margin-right: 5px;
            margin-top: 5px;
        }
    #<?=TABS?> #letters > button:last-child{
            margin-right: 0;
        }

    #<?=TABS?> #list .content {
            font-size: 10pt;
        }
    #<?=TABS?> #list .client {
            min-width: 25%;
        }
    #<?=TABS?> #list .address {
        min-width: 50%;
        font-size: 9pt;
    }

    #schemes .table-responsive-sm {
        height: 350px;
        overflow: auto;
    }

    #no_user:hover{
        cursor: pointer;
    }

    .partner_img{
        cursor: pointer;
    }

    #partner_info_badge{
        position: absolute;
        height: 9px;
        width: 6px;
        top: -6px;
        right: -6px;
    }

</style>

<script type="text/javascript">
    $(function () {

        var frame = $('div#<?=_LINK?>');
        var form = $(".partner_forms", frame);
        var recruitform = $("form#overview_form", frame);

        var table = $("table#add_email_tbl");
        var tabs = $("#<?=TABS?>");

        var pop = form.popup_config({
            title: "<b>Partner</b>: <?=$partner?>",
            center: true,
            canMaximize: true,
        });

        $(pop).addClass('<?=_LINK?>').css("left", '100px');

        $("div#<?=_LINK?> div#notes_box")
            .load('/pages/tools/notes/?do=list&object=Partner&object_id=<?= $partner->id() ?>');

        saveProfileNotification(form);

        $('#partner\\[holdcomm\\]', frame).on("change", function () {
            let holdcomm_now = $('#partner\\[holdcomm\\]', frame).val();
            let holdcomm_orig = '<?= $partner->holdcomm(); ?>';

            if (holdcomm_now !== holdcomm_orig && !holdcomm_orig) {
                $("#partner-hold-dialog", frame).dialog({
                    height:200,
                    width: 400,
                    modal: true,
                    buttons: {
                        Confirm: function() {
                            $.ajax({
                                url: "<?= Partner::index_url() ?>",
                                type: "GET",
                                data: {
                                    reason: $("#partner-hold-reason").val(),
                                    get: "hold_reason",
                                    id: "<?= $partner->id() ?>"
                                },
                                success: function (r) {
                                    r = json_decode(r);
                                    if (r.status) {
                                        // click save span
                                        $("#personal_form > div.notification.save_profile.static").click();
                                    } else {
                                        alert(r.feedback)
                                    }

                                    $('#partner-hold-dialog').dialog("close");
                                }
                            });
                        }
                    }
                });
            }
        });

        $('#partner\\[request_pro_report\\]', frame).on("change", function () {
            let ps_reports_now = $('#partner\\[request_pro_report\\]', frame).val();
            let ps_reports_orig = '<?= $partner->request_pro_report(); ?>';

            if (ps_reports_now !== ps_reports_orig) {
                alert("Please add a note explaining why you are changing the 'PS Portfolio Reports' flag.\n\nEnsure you save both the Partner Info tab and the Partner Profile.");
                $("#partner-info").click();
            }
        });

        $('#partner\\[servicing_chase_exemption\\]\\[Y\\]', frame).on("change", function () {
            let current_value = $('#partner\\[servicing_chase_exemption\\]', frame).val();
            let orig_value = '<?= $partner->servicing_chase_exemption(); ?>';

            if (orig_value !== current_value) {
                alert("Please add a note explaining the reason behind granting this exemption.\n\nEnsure you save both the Partner Info tab and the Partner Profile.");
                $("#partner-info").click();

                setTimeout(function() {
                    $("ul#partner_info_tabs > li:nth-child(4) > a").click();
                }, 500)
            }
        });

        $(frame).on("click", "#log_pr_reason", function () {
            let feedback = $('#pr-change-feedback');
            feedback.text('').removeClass('bad_news');

            let text = $("#pr-change-reason").val().length;
            if (text <= 20) {
                feedback.text('Please provide a more in depth reason').addClass('bad_news');
                return false;
            }

            $("#<?=_LINK?>portfolio_change", frame).modal('hide');
        });

        saveProfileNotification(recruitform);

        // Get account changes that have been submitted through the website.
        // If any are found, display a popup form through which the user can
        // apply these changes to the account.
        $.ajax({
            url: "<?= Partner::index_url() ?>",
            type: "GET",
            data: {
                id: "<?=$partner->id()?>",
                get: "pending_changes"
            },
            success: function (r) {

                if (r.length > 0) {
                    var p = new popup({
                        title: "Account Changes",
                        content: r,
                        center: true
                    });
                }
            }
        });

        function loadWebsiteUser(){
            $.ajax({
                url: "<?= Partner::index_url(array('id'=>$partner->id(),'get'=>'user')) ?>",
                type: "GET",
                dataType: "json",
                success: function (r) {
                    try {
                        if (r.status) {
                            $("#<?=_LINK?>myps_tab div#myps_profile").html(r.profile);
                        }
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        }

        loadWebsiteUser();

        // Partner contract update
        $("#partner\\[reviewable\\]").change(function () {
            let id = $(this).children(":selected").attr("value");

            if (id > 0) {
                let x = confirm("Update contract for Partner?");
                if (x == true) {
                    $.post("/pages/partner/index.php?id=<?= $partner->id(); ?>&get=review_contract&contractid=" + id,
                        function (r) {
                            var r = json_decode(r);
                            (r.error) ?
                                alert("Falied to update contract:\n" + r.error) :
                                alert("Contract updated successfully");
                        }
                    );
                }
            }
            return false;
        });

        // Allow users to add additional emails
        $(table).on("click", ":button#add_email", function () {
            new popup({
                url: "/pages/partner/index.php?get=add_email&id=<?=$_GET['id']?>",
                triggers: {
                    refreshEmails: function () {
                        $("table#add_email_tbl tbody").load("/pages/partner/index.php?id=<?=$_GET['id']?>&get=emails");
                    }
                }
            });
        });

        // Allow users to delete additional emails
        $(table).on("click", ":button.delete", function () {
            if (confirm("Are you sure you would like to delete this email address?")) {
                var rowid = this.id;
                $.get("<?=AdditionalEmail::get_common_url()?>", {
                        id: this.id,
                        do: "delete"
                    }, function () {
                        $("tr#" + rowid, table).remove();
                    }
                );
            }
        });

        //give boolean checkboxes cross when false
        $('.bool').each(function () {
            if ($(this).attr("value") == 0) {
                $(this).attr("value", 0);
            }
        });

        $("button#copyBtn", frame).on('click', function () {

            var address = $("input#partner\\[address\\]\\[line1\\]", frame).val() + " \n"
                + $("input#partner\\[address\\]\\[line2\\]", frame).val() + " \n"
                + $("input#partner\\[address\\]\\[line3\\]", frame).val() + " \n"
                + $("input#partner\\[address\\]\\[postcode\\]", frame).val();

            copyAddress(address);

            $("span#copiedspan").html("Copied").addClass("good_news");

            setTimeout(function () {
                $("span#copiedspan").html("").removeClass("good_news");
            }, 3000);
        });

        $("button#copyEmailBtn", frame).on('click', function () {
            copyAddress($("#partner\\[email\\]").val());

            $("span#copiedemailspan").html("Copied").addClass("good_news");

            setTimeout(function () {
                $("span#copiedemailspan").html("").removeClass("good_news");
            }, 3000);
        });

        $("button.acqprofile", frame).on('click', function () {
            new popup({
                url: "pages/acquisition/index.php?get=profile&id=<?=$partner->id()?>"
            });
        });

        // Get the DOB of the partner, calculate age and then display in a span
        var today = new Date();

        // Check if partner DOB is present
        if ($("#partner\\[dob\\]\\[Y\\]", form).val() != '' &&
            $("#partner\\[dob\\]\\[M\\]", form).val() != '' &&
            $("#partner\\[dob\\]\\[D\\]", form).val() != '') {

            // Convert to date object
            var partnerDOB = new Date($("#partner\\[dob\\]\\[Y\\]", form).val(),
                $("#partner\\[dob\\]\\[M\\]", form).val() - 1,  // JS dates are 0 indexed on month
                $("#partner\\[dob\\]\\[D\\]", form).val());

            // Calculate age from partner DOB and current date
            var age = Math.floor((today - partnerDOB) / (365.25 * 24 * 60 * 60 * 1000));
            $('#partneragecalc', form).closest('span').text('( ' + age + ' years old )');

        }

        var add_email_table = $("table#add_email_tbl");
        // Allow users to update emails
        $(add_email_table).on("click", ":button.update",
            function () {
                new popup({
                    url: "/pages/partner/index.php?id=<?=$_GET['id']?>&get=update_email&emailID=" + this.id,
                    triggers: {
                        refreshEmails: function () {
                            $("tbody", add_email_table).load("/pages/partner/index.php?id=<?=$_GET['id']?>&get=emails");
                        }
                    }
                });
            }
        );

        // change partner image
        $(".partner_img", frame).on("click", function(){
            $("#partner_img_file", frame).trigger("click");
        });

        $("#partner_img_file", frame).on("change", function(e){
            if (e.target.files && e.target.files[0]){
                var file = e.target.files[0];

                if (file.type === "image/jpeg"){
                    // show the file in the window
                    var reader = new FileReader();

                    reader.onload = function (event) {
                        $(".partner_img", frame).attr("src", event.target.result);
                    }

                    reader.readAsDataURL(e.target.files[0]);

                    var formData = new FormData();

                    formData.append("partner_img", e.target.files[0]);

                    $.ajax({
                        url: "/pages/partner/?do=img_upload&id=<?= $partner->id() ?>",
                        type: "POST",
                        data: formData,
                        contentType: false,
                        processData: false,
                        dataType: "JSON",
                        success: function(response){
                            if (!response.success){
                                alert(response.feedback);
                            }
                        }
                    });
                } else {
                    alert("Only .jpg files are allowed here");
                }
            }
        });

        $("#scheme_search", frame).on("keyup", function(e){
            if ($(this).val().length){
                $("#scheme_search_btn", frame).attr("disabled", false);
            } else {
                $("#scheme_search_btn", frame).attr("disabled", true);
            }

            if (e.keyCode === 13){
                schemeSearch();
            }
        });

        $("#scheme_search_btn", frame).on("click", function(){
            schemeSearch();
        });

        function schemeSearch(){
            var q = $("#scheme_search", frame).val();

            $.ajax({
                url: "/pages/partner/?get=schemeClients&id=<?= $partner->id(); ?>",
                type: "GET",
                data: {
                    search: q,
                },
                dataType: "JSON",
                success: function(response) {
                    if (!response.error){
                        if (response.data != ''){
                            $("#scheme_table tbody", frame).html(response.data);
                        } else {
                            $("#scheme_table tbody", frame).html("<tr><td colspan='2'>No scheme clients matching this search term.</td></tr>");
                        }
                    } else {
                        alert(response.feedback);
                    }
                }
            });
        }

        $(frame).on("change", ".scheme_select_box", function(){
            if ($(".scheme_select_box:checked", frame).length > 1){
                $("#merge_schemes", frame).attr("disabled", false);
            } else {
                $("#merge_schemes", frame).attr("disabled", true);
            }
        });

        $("#merge_schemes", frame).on("click", function(){
            var clients = [];

            $(".scheme_select_box:checked", frame).each(function(){
                clients.push($(this).data("id"));
            });

            var p = new popup({
                url: "/pages/client/?do=merge_request&clients="+JSON.stringify(clients)
            });
        });

        $("#partner-info", frame).on("click", function(){
            new popup({
                url: "/pages/partner/?id=<?= $partner->id() ?>&get=partner_info"
            });
        });

        $("#ps_reports_data", frame).on("hover", function(){
            let ps_reports = false;

            if (($("button", this).length && $("button", this).attr("value") == 1) ||
                ($("img", this).attr("src") === "/lib/images/tick.png")) {
                ps_reports = true;
            }

            (ps_reports) ?
                $(this).attr("title", "Partners portfolio reports are produced by Policy Services") :
                $(this).attr("title", "Partner produces their own portfolio reports");
        });
    });
</script>

<div class="row no-gutters" id="<?=_LINK?>">

    <div class="modal" id="<?=_LINK?>portfolio_change" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Log change for <?= $partner ?></h5>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Please provide a reason for changing the PS Portfolio Reports flag.</p>
                        <p>This should contain notes about any discussions with the Partner or Management that approved this change.</p>
                        <p>This note will be saved within the Partner Info section.</p>
                        <textarea id="pr-change-reason" name="pr-change-reason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <div><p id="pr-change-feedback"></p></div>
                    <button id="log_pr_reason" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-7" id='profile_box' name='profile_box' style="width:100%;">
        <form id="personal_form" name="personal_form" class="partner_forms" action="<?=Partner::get_common_url(['id'=>$partner->id,'do'=>'save'])?>" method="POST">

            <?=Partner::practiceDirector($partner->id())?>

            <?= $partner->hasClientIncomeHold(); ?>

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="personal_tab" href="#<?=_LINK?>personal_tab">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="contact_tab" href="#<?=_LINK?>contact_tab">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="history_tab" href="#<?=_LINK?>history_tab">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="calls_tab" href="#<?=_LINK?>calls_tab">Calls</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" role="tab" aria-controls="charging_tab" href="#<?=_LINK?>charging_tab">Charging</a>
                </li>
                <li class="position-absolute" style="right: 0;">
                    <a class="btn btn-primary rounded-0" href="/pages/partner/?id=<?= $partner->id(); ?>&get=account_transfer_check" target="_blank">Run Account Transfer Check</a>
                </li>
            </ul>

            <div class="tab-content mt-3">

                <div class="tab-pane fade active show" id="<?=_LINK?>personal_tab">

                    <?php if (Partner::pv_contact_span($partner->id())) { ?>
                        <?=Partner::pv_contact_span($partner->id())?>
                    <?php } ?>

                    <div class="row no-gutters">

                        <div class="col-10">

                            <div class="row no-gutters mb-3">
                                <div class="col-3">
                                    <div class="px-3 row no-gutters">
                                        <div class="col-8">ID</div>
                                        <div class="col-4">
                                            <?= $partner->link('# $id') ?>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="px-3 row no-gutters">
                                        <div class="col-10">Mandate</div>
                                        <div class="col-2">
                                            <button id="partner-mandate" type="button">
                                                <i class="fa fa-file-text"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="px-3 row no-gutters">
                                        <div class="col-10">Bespoke Client Agreements</div>
                                        <div class="col-2">
                                            <button id="partner-bespoke-mandate" type="button">
                                                <i class="fa fa-file-text"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-3">
                                    <div class="px-3 row no-gutters">
                                        <?php if($dept == 7 || $dept == 4):?>
                                            <?php if($bp_flag == true ): ?>
                                                <div class="col-10">Acq Profile</div>
                                                <div class="col-2">
                                                    <button class="acqprofile"><i class="fa fa-eye"></i></button>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    </div>
                                    <div class="px-3 row no-gutters mt-2">
                                        <div class="col-10">Partner Info</div>
                                        <div class="col-2">
                                            <button class="position-relative" id="partner-info" type="button">
                                                <i class="fa fa-user"></i>
                                                <?php if($partner->has_info()): ?>
                                                    <span class="badge rounded-circle badge-danger" id="partner_info_badge">
                                                        <i class="fa fa-exclamation"></i>
                                                    </span>
                                                <?php endif; ?>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-2 mb-3">Name</div>
                                <div class="col-10">
                                    <?php if($dept == 7  || $dept == 4): ?>
                                        <?= el($partner->title) ?>
                                        <?= el($partner->forename) ?>
                                        <?= el($partner->surname) ?>
                                    <?php else: ?>
                                    <?= ($partner->title->__toString()) ?>
                                    <?= ($partner->forename->__toString()) ?>
                                    <?= ($partner->surname->__toString()) ?>
                                    <?php endif; ?>
                                </div>

                                <div class="col-2 mb-3">Date of Birth</div>
                                <div class="col-10">
                                    <?php if($dept == 7  || $dept == 4): ?>
                                        <?= el($partner->dob) ?> <span id="partneragecalc"></span>
                                    <?php else: ?>
                                    <?= $partner->dob->out(Date::UK_STYLE_SHORT) ?>
                                    (<?= $partner->dob->years() ?> years old)
                                    <?php endif; ?>
                                </div>

                                <div class="col-2 mb-3">Addressee</div>
                                <div class="col-10">
                                    <?php if($dept == 7  || $dept == 4 || $uid == 98): ?>
                                        <?= el($partner->addressee) ?>
                                    <?php else: ?>
                                        <?= $partner->addressee ?>
                                    <?php endif; ?>
                                </div>

                                <div class="col-2 mb-3">Deceased</div>
                                <div class="col-4">
                                    <?php if($dept == 7  || $dept == 4): ?>
                                        <?= el($partner->deceased) ?>
                                    <?php else: ?>
                                        <?= $partner->deceased ?>
                                    <?php endif; ?>
                                </div>

                                <div class="col-2 mb-3">Deceased Date</div>
                                <div class="col-4">
                                    <?php if($dept == 7  || $dept == 4): ?>
                                    <?= el($partner->deceased_date) ?>
                                    <?php else: ?>
                                    <?= $partner->deceased_date ?>
                                    <?php endif; ?>
                                </div>
                            </div>

                        </div>

                        <div class="col-2">
                            <div id="partner_profile_right">
                                <?php

                                if (azureCheckExists(CDN_DIR . "partner_images", $partner->id() . ".jpg")){
                                    $partner_img = PARTNER_PROFILE_DIRECTORY . $partner->id() . ".jpg";
                                } else {
                                    $partner_img = CDN_BASE . "no_pic.png";
                                }

                                ?>
                                <img class="partner_img" width="100%" src="<?= $partner_img ?>"/>
                                <?php if(User::get_default_instance('department') == 7 || User::get_default_instance('id') == 60): ?>
                                    <div class="d-none">
                                        <input type="file" name="partner_img_file" id="partner_img_file">
                                    </div>
                                <?php endif; ?>

                                <div class="clear_fix">&nbsp;</div>

                                <!--div id="rating">
                                    <?php
                                      while( $rating = $a->next( MYSQLI_ASSOC  ) ){
                                        echo AccountSegmentation::star_rating($rating->overall_rating());
                                        echo "<br/>";
                                        echo AccountSegmentation::alert_cost($rating->alert_cost->value);
                                        echo AccountSegmentation::alert_csrd($rating->alert_csrd->value);
                                        echo AccountSegmentation::alert_unread($rating->alert_unread->value);
                                      }
                                    ?>
                                </div-->
                                <div class="clear_fix">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="<?=_LINK?>contact_tab">
                    <form id="partner_form" name="partner_form" class="partner_forms" action="<?=Partner::get_common_url(['id'=>$partner->id,'do'=>'save'])?>" method="POST">
                        <table>
                            <tr>
                                <th rowspan="4" valign="top" width="75px">Address</th>
                                <td width="250px"><?= el($partner->address->line1) ?></td>
                                <th width="75px">Phone</th>
                                <td><?= el($partner->phone) ?> <?= callLink($partner->phone()) ?></td>
                            </tr>
                            <tr>
                                <td><?= el($partner->address->line2) ?>
                                <th>Mobile</th>
                                <td><?= el($partner->mobile)?> <?= callLink($partner->mobile()) ?></td>
                            </tr>
                            <tr>
                                <td><?= el($partner->address->line3) ?></td>
                                <th>Fax</th>
                                <td><?= el($partner->fax) ?></td>
                            </tr>
                            <tr>
                                <td><?= el($partner->address->postcode)." ".$partner->address->button ?>
                                    <button id="copyBtn" type="button"><img src='<?= el::image("clipboardCopy.ico")?>'/>
                                    </button>
                                    <span id="copiedspan"></span></td>
                            </tr>
                            <tr>
                                <th class="mainEmail_th_padding">Primary Email</th>
                                <td colspan="2">
                                    <?= el($partner->email) ?>
                                    <button id="copyEmailBtn" type="button"><img src='<?= el::image("clipboardCopy.ico")?>'/>
                                    </button>
                                    <span id="copiedemailspan"></span>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <table id="add_email_tbl" style="padding:10px 0">
                        <tr>
                            <th class="additionalEmail_th_padding">Additional&nbsp;</th>
                            <th>Email Addresses</th>
                            <td>
                                <button id="add_email" name="add_email" class="add">Add</button>
                            </td>
                        </tr>
                        <?php while ( $x = $s -> next( MYSQLI_ASSOC ) ){

                        $partnerarray = (array)$x;

                        $addemailID = $partnerarray['id'];
                        $partnerid = $partnerarray['partnerID'];
                        $addemail = $partnerarray['email'];
                        $emailtag = $partnerarray['tag'];

                        echo "
                        <tr id='".$addemailID."'>
                            <td>".$emailtag.":</td>
                            <td>".el($addemail, false,'disabled="disabled"',false)."</td>
                            <td>
                                <button id=".$addemailID." name=".$addemailID." class='update'>Update</button>
                            </td>
                            <td>
                                <button id=".$addemailID." name=".$addemailID." class='delete'></button>
                            </td>
                        </tr>
                        " ;
                        }
                        ?>
                    </table>
                </div>

                <div class="tab-pane fade" id="<?=_LINK?>history_tab">
                    <div id="localLog">
                        <?= LocalLog::get_template("plugin.html",array( "object"=>"Partner","id"=>$partner->id() )) ?>
                    </div>
                </div>

                <div class="tab-pane fade" id="<?=_LINK?>calls_tab">
                    <div>
                        <?= Template(Call::get_template_path( "plugin.html" ), array( "obj"=>"Partner", "id"=>$partner->id()
                        )); ?>
                    </div>
                </div>

                <div class="tab-pane fade" id="<?=_LINK?>charging_tab">
                    <div>
                        <?= Template(Partner::get_template_path( "charging.html" ), ["obj"=>"Partner", "id"=>$partner->id()]); ?>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="col-5">
        <div class="border-left p-3">
            <div id="notes_box" name="notes_box"></div>
        </div>
    </div>

    <div style="clear:both;"></div>

    <div id='<?=TABS?>' name='<?=TABS?>' style="width:100%;">

        <ul class="nav nav-tabs my-2">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" aria-controls="partner_account_tab" href="#<?=_LINK?>partner_account_tab">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mail-tab" data-toggle="tab" role="tab" aria-controls="partner_mail_tab" href="#<?=_LINK?>partner_mail_tab">Mail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="clients" href="#<?=_LINK?>clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="schemes" href="#<?=_LINK?>schemes">Schemes</a>
            </li>
            <li class="nav-item">
                <a id="cbi_tab" class="nav-link" data-toggle="tab" role="tab" aria-controls="clients_by_issuer_tab" href="#<?=_LINK?>clients_by_issuer_tab">Clients by Issuer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link pending_transfers_tab" data-toggle="tab" role="tab" aria-controls="pending_transfers_tab" href="#<?=_LINK?>pending_transfers_tab">Pending Transfers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link income-tab" data-toggle="tab" role="tab" aria-controls="partner_income_tab" href="#<?=_LINK?>partner_income_tab">Income</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="myps_tab" href="#<?=_LINK?>myps_tab">myPSaccount</a>
            </li>
            <li class="nav-item">
                <a id="helpdesk-tab" class="nav-link" data-toggle="tab" role="tab" aria-controls="helpdesk_tab" href="#<?=_LINK?>helpdesk_tab">Helpdesk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="partner_stats_tab" href="#<?=_LINK?>partner_stats_tab">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="recruitment_tab" href="#<?=_LINK?>recruitment_tab">Recruitment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nb-tab" data-toggle="tab" role="tab" aria-controls="partner_nb_tab" href="#<?=_LINK?>partner_nb_tab">New Business</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="partner_bsp_tab" href="#<?=_LINK?>partner_bsp_tab">BSP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link wf-tab" data-toggle="tab" role="tab" aria-controls="partner_wf_tab" href="#<?=_LINK?>partner_wf_tab">Workflow</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="file_storage_tab" href="#<?=_LINK?>file_storage_tab">File Storage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="action_required_tab" href="#<?=_LINK?>action_required_tab">Action Required <?php if($partner->ar_count()): ?> <i class="far fa-exclamation-circle text-danger"></i> <?php endif; ?></a>
            </li>
            <li class="nav-item">
                <a class="nav-link os_tab" data-toggle="tab" role="tab" aria-controls="ongoing_service_tab" href="#<?=_LINK?>ongoing_service_tab">Ongoing Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" aria-controls="servicing_tab" href="#<?=_LINK?>servicing_tab">Servicing</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="<?=_LINK?>partner_account_tab">
                <form id="acc_form" name="acc_form" class="partner_forms" method="POST" action="<?=Partner::get_common_url(['id' => $partner->id, 'do' => 'save'])?>">
                    <table class='luxe'>
                        <thead>
                        <tr>
                            <th colspan='8' style='text-align:center;'>SJP</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if($partner->current() != 1):?>
                            <tr colspan='6'>
                                <div class="notification static" style="display:block;font-size:10pt;">
                                    This Partner has left SJP
                                </div>
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <th width='150px'>Account Type</th>
                            <td><?php if($dept == 7 || $dept == 4 || $uid == 56){ echo el($partner->acctype); }else{ echo
                                $partner -> acctype; }?>
                            </td>
                            <th width='100px'>Branch</th>
                            <?php if($dept == 7 || $dept == 4 || $uid == 56 || $uid == 98): ?>
                                <td><?= el($partner -> branch) ?></td>
                            <?php else: ?>
                                <td><?= $partner -> branch ?></td>
                            <?php endif; ?>
                            <th width='100px'>Code</th>
                            <td>
                                <?php if($dept == 7 || $dept == 4){ echo el($partner->agencyCode); }else{ echo $partner->agencyCode; }?>
                            </td>
                            <th width="100px">Mailing Exempt</th>
                            <td>
                                <?php if(in_array($dept, [4, 7])): ?>
                                    <?= el($partner->mailing_exempt) ?>
                                <?php else: ?>
                                    <?= $partner->mailing_exempt ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Practice</th>
                            <td>
                                <?= $partner->get_practice()->link();?>
                            </td>
                            <th>Director</th>
                            <td  width="100px">
                                <?= el($partner->practice_director); ?>
                            </td>
                            <th width="200px">PS Portfolio Reports</th>
                            <td id="ps_reports_data">
                                <?php if (in_array(User::get_default_instance('department'), [7, 14, 15]) || in_array(User::get_default_instance('id'), [98])): ?>
                                <?= el($partner->request_pro_report) ?>
                                <?php else: ?>
                                <?= $partner->request_pro_report ?>
                                <?php endif; ?>
                            </td>
                            <th width="250px">Servicing Chase Exemption</th>
                            <td width="200px">
                                <?= el($partner->servicing_chase_exemption); ?>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class='luxe'>
                        <thead>
                        <tr>
                            <th colspan='6' style='text-align:center;'>Income</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if($partner->holdcomm() != 0):?>
                        <tr colspan='6'>
                            <div class="notification static" style="display:block;font-size:10pt;">
                                The Income for this partner is being held
                            </div>
                        </tr>
                        <?php endif; ?>
                        <tr>
                            <th>Single Rate</th>
                            <td><?php if( ($dept == 7) || ($uid == 60) || ( $uid == 29 )|| ( $uid == 203 )|| ( $uid == 118 ) || ( $uid == 99 ) || ( $dept == 4 && $leader == 1 ) ){ echo el($partner->
                                single_rate);}else{echo $partner->single_rate;} ?>
                            </td>
                            <th>Bulk Rate</th>
                            <td><?php if( ($dept == 7) || ($uid == 60) || ( $uid == 29 ) ||  ( $uid == 203 )|| ( $uid == 118 ) || ( $uid == 99 ) || ( $dept == 4 && $leader == 1 ) ){ echo el($partner->
                                bulk_rate);}else{echo $partner->bulk_rate;} ?>
                            </td>
                            <th>Band</th>
                            <td><?php if( ($dept == 7) || ($uid == 60) || ( $uid == 29 ) ||  ( $uid == 203 )|| ( $uid == 118 ) || ( $uid == 99 ) || ( $dept == 4 && $leader == 1 ) ){ echo el($partner->
                                band);}else{echo $partner->band;} ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Income Held</th>
                            <td>
                                <?php if (($dept == 7) || ($dept == 4) || ($uid == 29) || ($uid == 99 ) || ($uid == 203 )) {
                                echo el($partner->holdcomm);}else{echo $partner->holdcomm;
                                } ?>
                            </td>
                            <th>RBO</th>
                            <td><?php if($dept == 7){ echo el($partner->rbo);}else{echo $partner->rbo;} ?></td>
                            <th>Expected Renewals</th>
                            <td><?php if($dept == 7){ echo el($partner->renewals);}else{echo $partner->renewals;} ?></td>
                        </tr>
                        <tr>
                            <th>Banking details</th>
                            <td colspan='5'>
                                <?php if ($partner->current() != 7){
                                // exclude internal accounts, maybe too personal
                                if (($dept == 7) || ($uid == 29) || ($uid == 99) || ($uid == 203)) {
                                    echo el($partner->account_name)." &nbsp; ".el($partner->account_num)." ( &nbsp;".el($partner->sortcode)." ) ";
                                } else {
                                    echo "$partner->account_name $partner->account_num ( $partner->sortcode )";
                                }
                                } ?>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class='luxe'>
                        <thead>
                        <tr>
                            <th colspan='6' style='text-align:center;'>Account</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if($partner->is_closed() != 0):?>
                        <tr colspan='6'>
                            <div class="notification static" style="display:block;font-size:10pt;">
                                This account is closed
                            </div>
                        </tr>
                        <?php endif; ?>
                        <tr>
                            <th>Joined</th>
                            <td><?= $partner->entered ?></td>
                            <th>Review</th>
                            <td><?php if( ($dept == 7) || ( $uid == 29) ||( $uid == 99 ) || ( $uid == 118 )  || ( $dept == 4 && $leader == 1 ) ){ echo el($partner->
                                review);}else{echo $partner->review;} ?>
                            </td>
                            <th>Bulk</th>
                        <td><?php if($dept == 7 || $dept == 4){ echo el($partner->bulk); }else{ echo $partner->bulk; } ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Transfer type</th>
                            <td><?php if($dept == 7 || $dept == 4){echo "<span class='required'>". el($partner->transtype);
                                echo"</span> &nbsp; (".el($partner->manager).")";}else{ ?><?= $partner->transtype
                                ?>(<?= $partner->manager?>) <?php } ?></td>
                            <th>Status</th>
                            <td><?php if($dept == 7 || $dept == 4 || $uid == 56 ){echo el($partner->current);}else{ echo
                                $partner->current; }?>
                            </td>
                            <th>Closed</th>
                            <td><?php if($dept == 7 || $dept == 4 || $uid == 56 ){ echo el($partner->is_closed);}else{echo
                                $partner->is_closed;} ?>
                            </td>
                        </tr>
                        <tr>
                            <th>Reviewable Contract</th>
                            <td id="review_contract" name="review_contract"><span class="required"><?= $partner->
                                reviewable->toElement() ?></span></td>
                            <th>Previous Status</th>
                        <td><?php if($dept == 7){ echo el($partner->previous_status);}else{echo $partner->previous_status;}
                                ?>
                            </td>
                            <th>CSRD Free</th>
                            <td><?php if($dept == 7){ echo el($partner->csrd_free);}else{echo $partner->csrd_free;} ?></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>partner_mail_tab">
                <?= Template( "correspondence/plugin.html", array( "filter" => array( "partner"=>$partner->id() ), "excludes"=>array("partner","message") ) ) ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>clients">

                <p>
                <form style="display:inline;" id="client-search-form-<?=TABS?>" name="client-search-form-<?=TABS?>"
                      action="/pages/client/?partner=<?=$partner->id?>" method="get">
                    <?= el::txt( "search" ) ?>
                    <?= el::bt( "Go","client_search" ) ?>
                </form>

                <!-- Hide Add Client Button for certain partner accounts -->
                <?php if ($partner->can_add_clients()): ?>
                    <button id="addClient" name="addClient" class="add">Add Client</button>
                <?php endif; ?>

                <button id="all_clients"><img src='<?= el::image("table_go.png")?>'/>All</button>
                <button onclick="$(function(){ $('#list').export(); });"><img src='<?= el::image("table_go.png")?>'/>Current
                </button>
                <button onclick="$(function(){ $('#list').print(); });"><img src='<?= el::image("printer.png")?>'/>Current
                </button>
                <button id="client_merge_req">Merge Request</button>
                <span id="client_merge_status">&nbsp;</span>
                </p>

                <table class="scrollable" id="list" name="list">
                    <thead>
                    <tr>
                        <th class="no_sort" width="30px">&nbsp;</th>
                        <th>Client One</th>
                        <th>Client Two</th>
                        <th>Client Address</th>
                        <th width="100px">&nbsp;</th>
                        <th width="100px">&nbsp;</th>
                        <th width="100px">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody style="height:150px;" class="content">
                    </tbody>
                </table>

                <div id="letters" name="letters">
                    <?php
                    // clients with special as initial
                    echo el::bt( "*",false," value='*' disabled='disabled'" );

                    // clients with 0-9 as initial
                    echo el::bt( "0-9",false," value='0-9' disabled='disabled'" );

                    // draw an alphabet
                    $alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                    for( $i = 0; $i < 26; $i++ )
                        echo el::bt( $alphabet[$i], false, " value='$alphabet[$i]' disabled='disabled'" );

                      // all clients, for masochists
                      echo el::bt( "All", false, " value='all'" );
                    ?>
                </div>

                <div id="partner-mandate-selection" class="ui-dialog dialog" title="Partner Mandate">
                    <div>
                        <p>Please select what you would like to include in this mandate pack:</p>

                        <div id="mandate-client-selection">
                            <table>
                                <tbody>
                                <tr>
                                    <td>Blank Client/POA Mandates</td>
                                    <td><input type="number" name="client_poa_mandate" value="5" min="0" max="20"/></td>
                                </tr>
                                <tr>
                                    <td>Blank Trustee Mandates</td>
                                    <td><input type="number" name="trustee_mandate" value="5" min="0" max="20"/></td>
                                </tr>
                                <tr>
                                    <td>Include Parental Consent Form</td>
                                    <td><input type="checkbox" id="parental_consent" name="parental_consent"/></td>
                                </tr>
                                </tbody>
                            </table>

                            <div>
                                <div class="pull-left">
                                    <button type="button" id="mandate_generate">
                                        <i class="fa fa-download"></i> Client/POA/Trustee
                                    </button>
                                </div>
                                <div class="pull-right">
                                    <button type="button" id="mandate_group_scheme">
                                        <i class="fa fa-download"></i> Group Scheme
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="<?=_LINK?>schemes">
                <div class="row no-gutters py-2">
                    <div class="col-6">
                        <input type="text" name="scheme_search" id="scheme_search" placeholder="Search">
                        <button id="scheme_search_btn" disabled>Go</button>
                        <button id="merge_schemes" disabled>Merge Request</button>
                    </div>
                </div>

                <div class="table-responsive-sm">
                    <table class="table table-striped table-fixed" id="scheme_table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Scheme name</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?= Template(Partner::get_template_path("scheme_list_row.html"), ["partner" => $partner]); ?>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>clients_by_issuer_tab">
                <?= Template( Partner::get_template_path( "clients_by_issuer.html" ), array( "partner"=>$partner ) ) ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>pending_transfers_tab">
                <?= Template( Partner::get_template_path( "pending_transfers.html" ), array( "partner"=>$partner ) ); ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>partner_income_tab">
                <?= Template(Commission::get_template_path("plugin.html"), ["property" => "partner",
                "id" => $partner->id(), "excludes" => ["date"]]); ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>myps_tab" name="myps_tab">
                <div id="myps_profile">
                    <?= WebsiteUser::get_template("profile.html", ["websiteuser" => new WebsiteUser,
                    "sub_template" => true, "partner" => $partner]) ?>
                </div>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>helpdesk_tab">
                <?= Partner::get_template("helpdesk_tab.html", array('partner'=>$partner)) ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>partner_stats_tab">
                <?= Partner::get_template("stats.html", array('partner'=>$partner)) ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>recruitment_tab">
                <?= $bulkpartner = new BulkPartner($partner->id, true);?>
                <form id="overview_form" name="overview_form" method="POST"
                      action="<?= BulkPartner::get_common_url(['id'=>$partner->id(), 'do'=>'save'])?>">

                    <table id="overview" name="overview" class="luxe" style="height: 50px; !important">
                        <thead>
                        <tr>
                            <th colspan="4" style="text-align: center">BAM Details</th>
                        </tr>
                        </thead>
                        <tr>
                            <th>Business Acq Mgr</th>
                            <td>
                                <?php if( ($dept == 7) || ( $dept == 4 ) ){
                                    echo el($bulkpartner->bam,false,false,false,false,DatabaseObject::ELEMENT_DROPDOWN);
                                }else{
                                    echo $bulkpartner->bam;
                                }?>
                            </td>

                            <th>Business Trans Mgr</th>
                            <td>
                                <?php if( ($dept == 7) || ( $dept == 4 ) ){
                                    echo el($bulkpartner->btm,false,false,false,false,DatabaseObject::ELEMENT_DROPDOWN);
                                }else{
                                    echo $bulkpartner->btm;
                                }?>
                            </td>
                        </tr>
                    </table>

                </form>
                <br>
                <?= Partner::get_template("recruitment.html", array('partner'=>$partner)) ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>partner_nb_tab">
                <?= Template( "newbusiness/plugin.html", array( "object"=>"partner", "id"=>$partner->id() ) ) ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>partner_bsp_tab">
                <?= Template( Partner::get_template_path( "bsp.html" ), ["id"=>$partner->id(), "partner" => $partner] ); ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>partner_wf_tab">
                <?= Template(Workflow::get_template_path( "plugin.html" ), array("property"=>"partner",
                "id"=>$partner->id(), "excludes"=>array("policy","client")));?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>file_storage_tab">
                <?= Template( DocumentStorage::get_template_path( "plugin.html" ),array( "id"=>
                $partner->id(),"object"=>"Partner" ) ); ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>action_required_tab">
                <?= Template(ActionRequired::get_template_path("plugin.html"), ["id" => $partner->id(), "object" => "Partner"]); ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>ongoing_service_tab">
                <?= Template( OngoingService::get_template_path( "plugin.html" ),[
                    "filter"=>["client_id"=>$partner->clients("id")]
                ]); ?>
            </div>

            <div class="tab-pane fade" id="<?=_LINK?>servicing_tab">
                <?= Template(Partner::get_template_path("servicing.html"), ["partner" => $partner]) ?>
            </div>
        </div>

        <div id="partner-hold-dialog" class="ui-dialog dialog" title="Income Hold">
            <div>
                <p>Please provide a reason for placing this income on hold</p>
                <select id="partner-hold-reason">
                    <option>BSP</option>
                    <option>Leaver</option>
                    <option>Debt</option>
                    <option>Incorrect bank details</option>
                    <option>Incomplete bank details</option>
                    <option>Complaint</option>
                </select>
            </div>
        </div>

        <div id="bespoke-mandate-selection" class="ui-dialog dialog" title="Bespoke Mandate">
            <div>
                <p>Please fill in the details below to pre-populate the mandate:</p>

                <div class="row no-gutters">
                    <div class="col-4 offset-2">
                        <label>Bespoke Fee (£/%)</label>
                    </div>
                    <div class="col-6">
                        <input id="<?=_LINK?>bespoke_percent" type="text" name="bespoke_mandate_percent"/>
                    </div>

                    <div class="col-12 aos-blocks" id="<?=_LINK?>aos-contain">
                        <div class="row no-gutters border-top mt-3 py-2 aos-block">
                            <div class="col-12 mb-2">
                                <div class="px-3">
                                    <label class="mb-1">Aspect of Service</label>
                                    <input type="text" name="aspect-of-service[]" class="w-100 aos-title" placeholder="e.g. Maintaining and updating a Client File in your name">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="px-3">
                                    <label class="mb-1">Provided By</label>
                                    <select class="w-100 aos-provider" name="aspect-provider[]">
                                        <option>Policy Services Ltd.</option>
                                        <option>SJP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="px-3">
                                    <label class="mb-1">Bespoke Service Level</label>
                                    <input type="text" name="bespoke-service-level[]" class="w-100 aos-level" placeholder="e.g. Included">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button class="mb-2" type="button" id="add-aos">
                            <i class="fas fa-plus-circle"></i> Add Another Aspect of Service
                        </button>
                    </div>

                    <div class="col-12 border-top mt-3 py-2">
                        <div class="px-3">
                            <label>Additional Information</label>
                            <textarea class="w-100" id="<?=_LINK?>aos-freetext" placeholder="e.g. * There will be a small set up cost of £10. Please contact Policy Services for more information."></textarea>
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="button" id="partner-bespoke_mandate_generate">
                            <i class="fa fa-download"></i> Bespoke Mandate
                        </button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(function () {

        var frame = $("div#<?=TABS?>");
        var client_panel = $("div#<?=_LINK?>clients", frame);
        var client_table = $("div > div#<?=_LINK?>clients", frame);
        var initials = $("div#letters", client_panel);
        var client_tbl = $("table#list", client_panel);
        var fetched_n = null;
        var fetching = false;
        //TEST TABLE
        var test_tbl = $("table#policies_test");

        var req_data = {
            'id': parseInt("<?=$partner->id()?>"),
            'get': "clients",
            'limit': 100,
            'offset': 0
        };

        function load_clients(append_mode) {

            if (fetching) {
                return false;
            }

            fetching = true;

            $.get(
                "<?=$partner->get_public_dir()?>",
                req_data,
                function (r) {
                    try {

                        r = json_decode(r);

                        if ("initials" in r) {

                            // enable initials buttons
                            for (var i = 0; i < r.initials.length; i++) {
                                $(":button[value='" + r.initials[i] + "']", initials).attr("disabled", false);
                            }
                        }

                        if ("clients" in r) {

                            if (append_mode !== undefined) {
                                $("tbody.content", client_tbl).append(r.clients);
                            } else {
                                $(".scroll", client_tbl).scrollTop(0);
                                $("tbody.content", client_tbl).html(r.clients)
                            }

                            //run sticky clients function
                            stickyPersistence();

                            var old_n = req_data["offset"];
                            req_data["offset"] = $("tbody.content tr", client_tbl).length;
                            fetched_n = req_data["offset"] - old_n;
                        }

                    } catch (e) {
                        //#TODO error logging
                    }
                    fetching = false;
                }
            );
        }

        function loadTesting(){
            $.ajax({
                url: "<?= Partner::index_url(array('id'=>$partner->id(),'get'=>'testRun')) ?>",
                type: "GET",
                dataType: "json",
                success: function(r){
                    $("#policies_test .content").append(r.data);
                }
            });
        }

        $(":button", initials).click(
            function () {

                fetched_n = 0;
                req_data["initial"] = $(this).val();
                req_data["offset"] = 0;

                load_clients();
            }
        );

        $("#testing_tab_link").click(function(){
            loadTesting();
        });

        $("button#client_search").click(
            function () {
                fetched_n = 0;
                req_data["offset"] = 0;
                delete req_data["initial"];
                req_data["search"] = $("form#client-search-form-<?=TABS?> > input#search").val();
                load_clients();
            }
        );

        $(client_tbl).bind(
            "hitScrollBottom",
            function () {

                if (fetched_n < req_data["limit"]) {
                    return false;
                }

                load_clients(true);
            }
        );

        /* Launch a popup form allowing user to add a new Client
         * to this Partner account
        */
        $(frame).on("click", "#addClient",
            function () {
                new popup({
                    url: "<?=Client::get_common_url(array('do'=>'create','partner'=>$partner->id()))?>",
                    title: "Add Client to <?=$partner?>",
                    center: true
                });
            }
        );

        //export all clients of partner to .csv
        $(":button#all_clients").click(
            function () {
                $().exportall("/pages/client/index.php?id=<?=$partner->id?>&export=partner_clients");
            }
        );

        load_clients();

        $("button#client_search").attr("disabled", "disabled");

        $('form#client-search-form-<?=TABS?> > input#search').on('keyup', function () {
            var char_count = $(this).val().length;
            if (char_count != 0) {
                $('button#client_search').removeAttr('disabled');
            } else {
                $('button#client_search').attr('disabled', 'disabled');
            }
        });


        /** start client merge functionality **/

        //hide dialog initially
        $("#partner-mandate-selection", client_panel).hide();
        $("#bespoke-mandate-selection", frame).hide();
        $("#partner-hold-dialog", frame).hide();

        $(client_panel).on("click", "#client_merge_req", function () {

            var selected = $(':checkbox:checked', client_panel).length;

            if (selected >= 2) {

                var checked = [];
                var client_names = [];

                var cont = true;

                $(':checkbox:checked', client_panel).each(function () {
                    checked.push($(this).attr("id"));
                    client_names.push($(this).closest('td').next().html());
                });

                $.each(client_names, function(key, name){
                    if (name.indexOf("*") >= 0) {
                        $("#client_merge_status").show().html("Please do not select any *clients")
                            .removeClass().addClass("bad_news").delay(5000).fadeOut(400);

                        cont = false;
                    }
                });

                if (cont) {
                    var p = new popup({
                        url: "/pages/client/?do=merge_request&clients="+JSON.stringify(checked)
                    });
                }
            } else {
                $("#client_merge_status").show().html("Please selected a minimum of 2 clients to merge")
                    .removeClass().addClass("bad_news").delay(2000).fadeOut(400);
            }
        });


        /** sticky client behaviour begins **/

        //get the id for any sticky client, based on the id of checked checkboxes
        function getStickyClients() {
            return $.makeArray($("tbody > tr.sticky_client > td.merge_request > input", client_panel).map(function (i, e) {
                var element = e.outerHTML;
                element = element.replace(/\D/g, '');
                return element;
            }));
        }


        function stickyPersistence() {
            var s;

            //if sticky client cookie exists
            if (s = document.cookie.indexOf("__stickyClientsProphet") >= 0) {

                //read value(s) from cookie
                var name = "__stickyClientsProphet";
                var ca = document.cookie.split(';');

                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                        c = c.substring(1);
                    }

                    if (c.indexOf(name) == 0) {
                        var el = c.substring(name.length, c.length);
                    }
                }

                //removes first character from variable (in this case a random '=' sign)
                el = el.substr(1);

                //parse json string to array
                var myData = JSON.parse(el);

                //loop through each clientID in array
                $.each(myData, function (i, e) {

                    var id = $(e);
                    id = id.selector;
                    var inList = $("td.merge_request > input#" + id);
                    var input = inList.selector;

                    //if element exists with id of sticky client we want to check the checkbox
                    if ($("input#" + id).length) {
                        if ($('#' + id).is(':checked')) {
                            return false;
                        } else {
                            $('#' + id).prop('checked', true);
                            $(this).closest("tr").addClass("guest").prependTo($("tbody.content"));
                        }

                    }
                });

            }
        }

        /* Add a sticky client and toggle action buttons */
        $(":checkbox", client_panel).live("click", function () {

            if (this.checked) {
                $(this).closest("tr").addClass("sticky_client");
                $(this).closest("tr").addClass("guest").prependTo($(client_tbl));
            } else {
                var tr = $(this).closest("tr").removeClass("sticky_client");
                if (tr.is(".guest")) {
                    // remove guest rows
                    tr.removeClass(".guest");
                    tr.appendTo("tbody.content");
                }
            }

            // set a new cookie
            var date = new Date();
            date.setTime(date.getTime() + (24 * 60 * 60 * 1000)); //+1day

            document.cookie = "__stickyClientsProphet=" + JSON.stringify(getStickyClients()) + "; expires=" + date.toGMTString();
        });

        $('#partner-mandate').on("click", function () {
            $("#partner-mandate-selection").dialog({
                height: 250,
                width: 400,
                modal: true,
                open: function () {
                },
                buttons: {
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });
        });


        $("#partner-bespoke-mandate").on("click", function () {
            $("#bespoke-mandate-selection", frame).dialog({
                height:600,
                width: 400,
                modal: true,
                buttons: {
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        });

        $("#add-aos", frame).click(function(){
            var aosBlock = $(".aos-block:last").clone();

            $("input", aosBlock).each(function(){
                $(this).val("");
            });

            $("select", aosBlock).each(function(){
                $(this).val("");
            });

            $(".aos-blocks").append(aosBlock);
        });

        $('#partner-bespoke_mandate_generate', frame).on("click", function () {
            var aos = [];
            $("#<?=_LINK?>aos-contain .aos-block").each(function(){
                var title = encodeURIComponent($(".aos-title", this).val());
                var provider = encodeURIComponent($(".aos-provider", this).val());
                var level = encodeURIComponent($(".aos-level", this).val());

                var block = {
                    title: title,
                    provider: provider,
                    level: level
                };

                aos.push(block);
            });

            var bespokePercent = $("#<?=_LINK?>bespoke_percent").val();
            var bespokeAddInfo = encodeURIComponent($("#<?=_LINK?>aos-freetext").val());

            aos = JSON.stringify(aos);

            window.open(
                '/pages/snappy?partner_id=<?= $partner->id() ?>&partner_mandate=1&bespoke_mandate=1&aos='+aos+'&bespoke_percent='+bespokePercent+'&addInfo='+bespokeAddInfo,
                '_blank'
            );
        });

        $('#mandate_generate').on("click", function () {
            var client_sheets = $("[name=client_poa_mandate]").val();
            var trustee_sheets = $("[name=trustee_mandate]").val();
            var parental = $("#parental_consent").is(':checked');

            var win = window.open(
                window.location.href + '/pages/snappy?partner_id=<?= $partner->id() ?>&partner_mandate=1&trustee_sheets=' + trustee_sheets + '&client_sheets=' + client_sheets + '&parental=' + parental,
                '_blank'
            );
        });

        $('#mandate_group_scheme').on("click", function () {
            var win = window.open(
                window.location.href + '/pages/snappy?partner_id=<?= $partner->id() ?>&partner_mandate=1&scheme_mandate=1',
                '_blank'
            );
        });

        $("ul > li:nth-child(2)", frame).on("click", function () {
            // trigger correspondence plugin
            $("#mail-plugin-tbl", frame).trigger("onshow");
        });

        $("ul > li:nth-child(4)", frame).on("click", function () {
            // trigger correspondence plugin
            $("#issuers_clients", frame).trigger("onshow");
        });

        $("ul > li:nth-child(6)", frame).on("click", function () {
            // trigger commission plugin
            $("#commission", frame).trigger("onshow");
        });

        $("ul > li:nth-child(13)", frame).on("click", function () {
            // trigger workflow plugin
            $("#listworkflow_plugin", frame).trigger("onshow");
        });

        $("ul > li:nth-child(11)", frame).on("click", function () {
            // trigger new business plugin
            $("#nb_plugin", frame).trigger("onshow");
        });

        $("ul > li:nth-child(7)", frame).on("click", function () {
            window.myps_init = false;
            var tab_id = $('.myps_user').attr('id');
            // trigger myPSaccount plugin
            $("#"+tab_id, frame).trigger("onshow");
        });


    });
</script>