<?php
$div_id = random_string(10);

$s = new Search(new Prospect);
$s -> eq( 'partner',$partner->id());
if ($prospect = $s->next( MYSQLI_ASSOC)) {
    $soft_facts = $prospect->background();
}
?>

<style type="text/css">
    #soft_facts{
        margin-top:30px;
        float:left;
        width:99%;
        height: 290px;
    }
    #notes_box.recruit_notes{
        float:right;
        width:95% !important;
    }
    div#link_box{
        color:white !important;
    }
    a.profile.Prospect{
        color:white !important;
    }
</style>
<script type="text/javascript">
$(function(){

    var frame = $("div#<?=$div_id?>");
    frame.inited = false;

    $("#soft_facts").attr("disabled", "disabled");


    // if (!frame.inited) {
    //     frame.inited = true;

        $.ajax({
            'url': "<?=Prospect::index_url(['partner_id'=>$partner->id(), 'get'=>'notes'])?>",
            'success': function (r) {
                r = json_decode(r);
                if (r.id != false) {
                    try {
                        $("div#notes_box", frame).load('/pages/tools/notes/?do=list&object=prospect&object_id=' + r.id, function () {
                            $("div#notes_box :input", frame).attr('disabled', 'disabled');
                        });

                        $("div#link_box", frame).append(r.link);
                    } catch (e) {
                        alert(e);
                    }
                } else {
                    $(frame).html("No recruitment file for this account");
                }
            }
        });
    //}

 });
</script>

<div id="<?=$div_id?>" class="has_onshow">

    <table class="luxe">
        <thead>
        <tr>
            <th style="text-align: center" colspan="2">Soft Facts and Notes</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th style="text-align: center" colspan="2">
                <div id="link_box"></div>
            </th>
        </tr>
        </thead>
        <tr>
            <td style="width:50%">
                <textarea id="soft_facts"><?= $soft_facts ?? "" ?></textarea>
            </td>
            <td>
                <div id="notes_box" class="recruit_notes"></div>
            </td>
        </tr>
    </table>


    <div style="clear:both;"></div>

</div>

