<script type="text/javascript">
$(
    function( )
    {
        var pop = $( "#<?=_LINK?>" ).get_popup( );
        $( pop ).center( );
        pop.setTitle( "Confirm Revoke?" );

        var form = $( "#<?=_LINK?>" )[ 0 ];

        //  Cancel access removal
        $( form ).find( "button#cancel" ).click( 
            function( ) {

                $( pop ).find( "button.close" ).click(); 
                return false;
            }
        );

        //  Confirm removal
        $( form ).submit(
            function() {

                $( form ).send(
                    function( r ) { 

                        if( json_decode( r ) ) {

                            // Attempt to refresh user rows
                            $( "table#myps_users" )[ 0 ].get( );
                            $( form ).find( "button#cancel" ).click( );                            
                        }
                    }
                );
            }
        );

    }
);
</script>

<style type="text/css">
.choice > button{ width: 100px; }
</style>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=_SELF_URL?>" method="post">

    Do you really want to remove <b><?=$username?></b> access to <b><?=$partnername?></b> account?

    <p align="center" class="choice">
        <?=el::bt("Yes",false,"type='submit'")?>
        <?=el::bt("No","cancel")?>
    </p>

    <?=el::hide( "confirm", $user_id )?>

</div>


