<script type="application/javascript">
    $(function () {
        $.ajax({
            url: "<?= Partner::index_url(['id'=>$partner->id(), 'get'=>'schemeClients']) ?>",
            type: "GET",
            dataType: "json",
            success: function (r) {
                if (r.error) {
                    $("#scheme-placeholder-row > td").html(r.feedback).addClass('bad_news');
                } else {
                    if (r.data != '') {
                        $("#scheme-placeholder-row").replaceWith(r.data);
                    } else {
                        $("#scheme-placeholder-row > td").html("No scheme clients under this partner.");
                    }
                }
            }
        });
    });
</script>
<tr id="scheme-placeholder-row">
    <td colspan="3">Searching for schemes...</td>
</tr>