<style>
    #servicing_table_container{
        max-height: 300px;
        overflow: auto;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>servicing");

        $(".servicing_tab", frame).on("click", function(e){
            e.preventDefault();

            loadClients($(this).data("level"));
        });

        function loadClients(level = $(".servicing_tab.active", frame).data("level")){
            $("#servicing_table thead th", frame).show();

            if(level === "U" || level === "T"){
                $("#servicing_table thead th:not(.client_col, .unsegment_only)", frame).hide();
            } else {
                $("#servicing_table thead .unsegment_only", frame).hide();
            }

            if(level === "P"){
                $("#servicing_table thead th:not(.client_col)", frame).hide();
            }

            if(level !== "B"){
                $("#servicing_table thead .bespoke_only", frame).hide();
            }

            $("#servicing_table tbody", frame).html("<tr><td colspan='"+$("#servicing_table thead th:visible", frame).length+"'><i class='fas fa-spinner fa-spin'></i> Loading...</td></tr>");

            $.ajax({
                url: "<?= Partner::index_url(['id'=> $partner->id(),'get'=>'servicing']); ?>",
                type: "GET",
                data: {
                    level: level,
                },
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        if(response.data){
                            $("#servicing_table tbody", frame).html(response.data);
                        } else {
                            $("#servicing_table tbody", frame).html("<tr><td colspan='"+$("#servicing_table thead th:visible", frame).length+"'>No clients on this level</td></tr>");
                        }
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        loadClients();
    });
</script>

<div id="<?=_LINK?>servicing">
    <ul class="nav nav-tabs my-2">
        <li class="nav-item">
            <a class="nav-link servicing_tab" data-level="B" data-toggle="tab" href="#bespoke">Bespoke</a>
        </li>
        <li class="nav-item">
            <a class="nav-link servicing_tab" data-level="1" data-toggle="tab" href="#">Level 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link servicing_tab" data-level="2" data-toggle="tab" href="#">Level 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link servicing_tab" data-level="3" data-toggle="tab" href="#">Level 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link servicing_tab" data-level="T" data-toggle="tab" href="#">Transactional</a>
        </li>
        <li class="nav-item">
            <a class="nav-link servicing_tab" data-level="P" data-toggle="tab" href="#">Pure Protection</a>
        </li>
        <li class="nav-item">
            <a class="nav-link servicing_tab active" data-level="U" data-toggle="tab" href="#">Unsegmented</a>
        </li>
    </ul>

    <div id="servicing_table_container">
        <table class="table table-striped" id="servicing_table">
            <thead>
            <tr>
                <th class="client_col">Client</th>
                <th class="unsegment_only">Client Worth</th>
                <th class="unsegment_only">GRI 12</th>
                <th>Percent</th>
                <th>Level When</th>
                <th class="bespoke_only">Frequency</th>
                <th class="bespoke_only">Amount</th>
                <th>Review Status</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>