<?php $div_id = random_string(10); ?>
<style type="text/css">
div#trend{
    border:none;
    background-color:#D8D8D8;
}

div#<?=$div_id?> > .panel {
    float: right;
    background: #fff;
}

div#<?=$div_id?> > table {
    font-size: 12pt;
    width: 35%;
}
div#<?=$div_id?> > table td {
    text-align: right;
    padding-bottom: 10px;
}
</style>

<script type="text/javascript">
$(function(){

    var frame = $("div#<?=$div_id?>");
    var spinner = $("img#spinner",frame);
    frame.inited = false;

    if (!frame.inited) {
		frame.inited = true;

		$.ajax({
			'url': "<?=Partner::index_url(array('id'=>$partner->id(),'get'=>'statistics'))?>",
			'dataType': "json",
			'success': function( r ){
				try{
					spinner.hide();
					$("table>tbody",frame).html( r.figures );

					var length = r.cGraph.data.length,
						element = null;
					var comm_data = [];
					for (var i = 0; i < length; i++) {
						comm_data.push(parseFloat(r.cGraph.data[i]));
					}

					$('#partner_stats').highcharts({
						chart: { height:'330', width:'550', type: 'line' },
						title: { text: 'Monthly Income' },
						xAxis: { title: { text: 'Month' }, categories: r.cGraph.months },
						yAxis: { title: { text: 'Income (£)' } },
						plotOptions: { column: { dataLabels: { enabled: true }, }, column: { colorByPoint: true }, bar: { colorByPoint: true } },
						legend: { enabled: false },
						series: [{ name: 'Monthly Income', data: comm_data }]
					});

				}catch(e){
					alert( e );
				}
			}
		});
	}

 });
</script>

<div id="<?=$div_id?>" name="<?=$div_id?>" class="has_onshow">

	<div class="panel">
		<div id="partner_stats" class="highcharts"></div>
	</div>

	<table>
		<tbody>
			<img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
		</tbody>
	</table>

	<div style="clear:both;"></div>
</div>

