<?php
$additionalemail = new AdditionalEmail($_GET['emailID'], true);
$partner = new Partner($_GET['id'], true);

$partnerID = $_GET['id'];
$id = $_GET['emailID'];
?>

<style type="text/css">
form#<?=_LINK?>{
width: 700px;
}
.readonly{
background-color:#EBEBE4;
}
</style>

<script type="text/javascript">
	$(function( ) {
	
		var usrmsg = $( "span#addmessage" );
        var form = $( "form#<?=_LINK?>" );
        
		var pop =  $( form ).popup_config({
            title: "Update Email For: <?=$partner?>",
            center:true
        });
		
		$( ":button#subbtn" ).click( function( ) {
		
			var emailValid;
			var tagValid;
			
			$("input",form).each(function() {
				var element = $(this);
				if (element.val() == "") {
					emailValid = false;
				}
			});

			$("select",form).each(function() {
				var element = $(this);
				if (element.val() == 0) {
					tagValid = false;
				}
			});
			
			if (emailValid ==  false){
				$(usrmsg).html("Please enter an email address").addClass( "bad_news" );
			}
			else if(emailValid !=  false){
				if (tagValid ==  false){
					$(usrmsg).html("Please select an email tag").addClass( "bad_news" );
				}
				else if(tagValid != false){
			
					$( form ).send( function( ) {
							$("span#addmessage")
							.removeClass().addClass( "good_news" )
							.text( "Email successfully updated" );
							
							$(pop).trigger("refreshEmails");
							pop.close();
					});
				}
			}
		
		});
		
	});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= AdditionalEmail::get_common_url(array("do"=>"save"));?>" method="POST">

		<table class='additional_email' style="padding:10px 0">
			<tr>
				<th>Email Address</th>
				<td>
					<?= el($additionalemail->email) ?>
				</td>
				<th>Tag</th>
				<td>
					<?= el($additionalemail->tag) ?>
				</td>
				<th>Partner ID</th>
				<td>
					<?= el($additionalemail->partnerID,false,"size='1' readonly class='readonly' ",$partnerID) ?>
					<?= el($additionalemail->id,false,"size='1' readonly ",$id) ?>
				</td>
			</tr>
		</table>
		
		<div style="text-align:right;">
			<span class="status" id="addmessage" name="addmessage">&nbsp;</span>
			<button class="submit" name="subbtn" id="subbtn">Submit</button>
		</div>
</form>
