<script type="text/javascript">
	var userid = <?= $user['id']?>;

	$(function(){

		// get a list of partners accounts that subusers have access to
		$("#partner_list tbody").load("/pages/mypsusers/?id="+userid+"&get=partners");
		
		var form = $("form#user_list");

		var pop = form.popup_config({
			title: "<b>User</b>: <?=$user['fname']." ".$user['sname']?>",
			center: true
		});

	});
</script>
<style type="text/css">
form#user_list{
	float:left;
	width:530px;
	padding-top:10px;
}
.container{
	clear:both;
	padding-top:5px;
}
.container > h4{
	margin-bottom:0
}
.clear_tbl{
	clear:both;
	padding-top:15px;
}

.panel h1 a{
	color: #fff;
}
</style>
<div class="panel" style="width:100%;">

	<h1>User Account: &nbsp; <a href="/common/WebsiteUser/?id=<?=$user['id']?>" class="profile"> <?= $user['fname']?> <?= $user['sname']?></a></h1>

	<div>
		<div id='<?= _LINK?>' name='<?= _LINK?>' class='active' style="min-height:150px;">
			<table>
				<tr>
					<th width="150px">Name</th>
					<td>
						<?= $user['fname']?> <?= $user['sname']?>
					</td>
				</tr>
				<tr>
					<th>Primary Email</th>
					<td>
					   <?= $user['email']?>
					</td>
				</tr>
				<tr>
					<th>Job Title</th>
					<td>
						<?=$user['jobTitle']?>
					</td>
				</tr>
			</table>
	
			<p class="clear_tbl">Please make any changes to this user account via the subusers section on myPSaccount.</p>
		
			<div class="container">
				<h4>Associated Partners</h4>

				<table id="partner_list" name="partner_list" class="data">
					<thead>
						<tr>
							<th>Name</th>
							<th>Address</th>
							<th>Contact Number</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>