<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        $('.show-breach', frame).on("click", function () {
            var id = $(this).data('id');
            new popup({
                url: "/pages/breaches?do=show&id="+id+"&assigned_view=true",
                title : "Breach #"+id,
                center: true
            });
        });
    })
</script>

<div id="<?=_LINK?>">
    <table id='breaches_all_tbl' class="table table-striped table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th width="40px">Ref</th>
            <th>Who Reported Breach</th>
            <th>Who Caused Breach</th>
            <th>Description of Breach</th>
            <th>Date of Breach</th>
            <th>Date reported</th>
            <th width="150px">Data Subjects Affected</th>
            <th>HDT #</th>
            <th>ICO Reference</th>
            <th>Managers Response</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody class="content">
        <?php foreach ($breaches as $key => $breach): ?>
        <tr>
            <td><?= $breach->id; ?></td>
            <td><?= ($breach->reported_by() == 999) ? "SJP Partner" : $breach->reported_by; ?></td>
            <td><?= $breach->root_cause; ?></td>
            <td><?= truncate($breach->description(), 50, true); ?></td>
            <td><?= $breach->breach_date; ?></td>
            <td><?= $breach->added_when; ?></td>
            <td><?= $breach->subjects_effected(); ?></td>
            <td><?= ($breach->hdt()) ?? '--'; ?></td>
            <td><?= ($breach->ico_ref()) ?? '--'; ?></td>
            <td><?= truncate($breach->manager_response(), 50, true) ?? '--'; ?></td>
            <td><button type="button" data-id="<?= $breach->id; ?>" class="btn btn-success show-breach"><i class="fa fa-eye"></i></button></td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>