<style>
    .actions {
        margin-bottom:20px;
    }
    .delete_class {
        color: #990001;
    }
    .view_class{
        color:darkgreen;
    }
    #active .table-responsive, #archived .table-responsive {
        max-height:600px;
    }

    #<?=_LINK?> .pagination{
        margin-top: 1rem;
    }
</style>

<script>
    $(function(){
        $("#breaches_all_tbl").dataTable({
            scrollY: 400,
            scrollCollapse: true,
            "order": [[5, "desc"]],
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "columnDefs": [
                {"orderable": false, "targets": [9, 10]},
                {"targets": 5, "type": "date-eu"}
            ]
        });

        $("#breaches_all_tbl_wrapper .row").each(function(){
            $(this).addClass("no-gutters");
        });
    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <ul class="nav nav-tabs mt-3 mb-3" id="breach-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="active" aria-selected="true">
                Active (<?= sizeof($active); ?>)
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="archived-tab" data-toggle="tab" href="#archived" role="tab" aria-controls="archived" aria-selected="false">
                Archived (<span id="archived-count"><?= sizeof($archived); ?></span>)
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="active-tab">
            <div class="actions">
                <button id="addBreach">
                    <i class="fa fa-plus"></i> New breach
                </button>

                <button class="export" onclick="$(function(){ $('#breaches_all_tbl').export(); });">
                    <i class="fa fa-floppy-o"></i> Export list
                </button>
            </div>


            <div>
                <table id='breaches_all_tbl' class="table table-striped table-hover table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th width="40px">Ref</th>
                        <th>Who Reported Breach</th>
                        <th>Who Caused Breach</th>
                        <th>Description of Breach</th>
                        <th>Date of Breach</th>
                        <th>Date reported</th>
                        <th width="150px">Data Subjects Affected</th>
                        <th>HDT #</th>
                        <th>ICO Reference</th>
                        <th>Managers Response</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    <?php foreach ($active as $key => $breach) {?>
                    <tr>
                        <td><?= $breach->id; ?></td>
                        <td><?= ($breach->reported_by() == 999) ? "SJP Partner" : $breach->reported_by; ?></td>
                        <td><?= $breach->root_cause; ?></td>
                        <td><?= truncate($breach->description(), 50, true); ?></td>
                        <td><?= $breach->breach_date; ?></td>
                        <td><?= $breach->added_when; ?></td>
                        <td><?= $breach->subjects_effected(); ?></td>
                        <td><?= ($breach->hdt()) ?? '--'; ?></td>
                        <td><?= ($breach->ico_ref()) ?? '--'; ?></td>
                        <td><?= truncate($breach->manager_response(), 50, true) ?? '--'; ?></td>
                        <td><button type="button" data-id="<?= $breach->id; ?>" class="destroy delete_class"><i class="fa fa-trash"></i></button></td>
                        <td><button type="button" data-id="<?= $breach->id; ?>" class="show-breach view_class"><i class="fa fa-eye"></i></button></td>
                    </tr>
                    <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">
            <div class="actions">
                <button class="export" onclick="$(function(){ $('#breaches_archived_tbl').export(); });">
                    <i class="fa fa-floppy-o"></i> Export list
                </button>
                <button class="filter_ico">
                    <i class="fal fa-filter"></i> Filter Blank ICO
                </button>
            </div>
            <div class="table-responsive">
                <table id='breaches_archived_tbl' class="table table-striped table-hover table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th width="40px">Ref</th>
                        <th>Who Reported Breach</th>
                        <th>Who Caused Breach</th>
                        <th>Description of Breach</th>
                        <th>Date of Breach</th>
                        <th>Date Reported</th>
                        <th width="100px">Data Subjects Affected</th>
                        <th>HDT #</th>
                        <th>ICO Reference</th>
                        <th>Managers Response</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    <?php foreach ($archived as $key => $breach) { ?>
                    <tr <?= $breach->reported_to_ico() == 0 ? "class='no_ico'" : "" ?>>
                        <td><?= $breach->id; ?></td>
                        <td><?= ($breach->reported_by() == 999) ? "SJP Partner" : $breach->reported_by; ?></td>
                        <td><?= $breach->root_cause; ?></td>
                        <td><?= truncate($breach->description(), 50, true); ?></td>
                        <td><?= $breach->breach_date; ?></td>
                        <td><?= $breach->added_when; ?></td>
                        <td><?= $breach->subjects_effected(); ?></td>
                        <td><?= ($breach->hdt()) ?? '--'; ?></td>
                        <td><?= ($breach->ico_ref()) ?? '--'; ?></td>
                        <td><?= truncate($breach->manager_response(), 50, true) ?? '--'; ?></td>
                        <td><button type="button" data-id="<?= $breach->id; ?>" class="destroy delete_class"><i class="fa fa-trash"></i></button></td>
                        <td><button type="button" data-id="<?= $breach->id; ?>" class="show-breach view_class"><i class="fa fa-eye"></i></button></td>
                    </tr>
                    <?php } ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

<script>
    $(function () {
        var frame = $("#<?=_LINK?>");

        $('#addBreach', frame).on("click", function () {
            new popup({
                url: "<?=Breaches::index_url(['do'=>'report'])?>",
                title : "New Breach",
                center: true
            });
        });

        $('.show-breach', frame).on("click",  function () {
            var id = $(this).data('id');
            new popup({
                url: "/pages/breaches?do=show&id="+id,
                title : "Breach #"+id,
                center: true
            });
        });

        $('.destroy', frame).on("click",  function () {
            var id = $(this).data('id');
            var row = $(this).closest("tr");
            if (confirm("Please confirm you wish to delete breach  #"+id)) {
                $.get("<?=Breaches::get_common_url()?>",{id: id, do: "delete"}, function( ){
                        row.remove();
                    }
                );
            }
        });

        var hideICO = false;

        $(".filter_ico", frame).on('click', function() {
            //hide the rows which were not reported to ICO
            var totalResults = $("#breaches_archived_tbl .content tr", frame).length;
            var countHidden = $("#breaches_archived_tbl .content .no_ico", frame).length;

            if (hideICO){
                $(".no_ico", frame).show();
                $("#archived-count", frame).html(totalResults);
            } else {
                $(".no_ico", frame).hide();
                $("#archived-count", frame).html(totalResults-countHidden);
            }

            hideICO = !hideICO;
        });
    });
</script>