<style>
    #<?=_LINK?>{
        max-width: 1200px;
        max-height: 800px;
        overflow: auto;
    }

    #breaches_show_tbl {
        max-width: 1200px;
    }
    #breaches_show_tbl th {
        width:50%;
    }
    textarea {
        width: 95%;
        height:80px;
    }
    .sub-text {
        color: darkgray;
        font-weight: normal;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div class="alert alert-primary" role="alert">
        <i class="fa fa-info-circle"></i>
        Please ensure you upload evidence of the breach. This may include the original copy of a correspondence item,
        a copy of a helpdesk ticket, any appropriate screenshots etc.
    </div>

    <div class="actions mb-2">
        <button class="upload"  data-id="<?= $breach->id; ?>">
            <i class="fa fa-upload"></i> Upload Evidence
        </button>
    </div>

    <form id="breach_form" name="breach_form" action="<?= $action; ?>" method="post">
        <div class="px-1 mb-2">
            <div class="card">
                <div class="card-header">
                    Breach Details
                </div>
                <div class="card-body p-3">
                    <div class="row no-gutters">
                        <input type="hidden" id="r_by" value="<?= $breach->reported_by(); ?>" />
                        <input type="hidden" id="breaches[caused_by]" name="breaches[caused_by]" />
                        <input type="hidden" id="file-ids" name="file-ids" />

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="The date that the correspondence was incorrectly scanned or the date mail was sent to the incorrect recipient?">Date Breach Occurred</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->breach_date); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="The date that the breach was brought to your attention?">Date Breach Identified</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->breach_identified); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="Who reported the breach to you?">Reported By</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->reported_by); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <strong><abbr title="Who originally caused the breach?">Root Cause</abbr></strong>
                                </div>
                                <div class="col-7">
                                    <?= el($breach->root_cause); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="What caused the breach?">Caused By</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->cause_type); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong>Breach Type</strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->breach_type); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters mb-2">

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) partner ID">Partner Details</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3 suggest-card">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Partner Scanned To:</div>
                                <div class="col-5 mb-2 data-protection"><?= el($breach->incorrect_partner); ?></div>

                                <div class="col-7 mb-2">Breached Client's Partner:</div>
                                <div class="col-5 mb-2"><?= el($breach->correct_partner); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) client ID">Client Details</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3 suggest-card">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Client Scanned To:</div>
                                <div class="col-5 mb-2 data-protection"><?= el($breach->incorrect_client); ?></div>

                                <div class="col-7 mb-2">Breached Client:</div>
                                <div class="col-5 mb-2"><?= el($breach->correct_client); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) policy ID">Policy Details</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3 suggest-card">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Policy Scanned To:</div>
                                <div class="col-5 mb-2 data-protection"><?= el($breach->incorrect_policy); ?></div>

                                <div class="col-7 mb-2">Breached Client's Policy:</div>
                                <div class="col-5 mb-2"><?= el($breach->correct_policy); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row no-gutters">

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Description of Breach</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <p class="text-muted mb-2">
                                Tell us as much as you can about what happened, what went wrong, how it happened and how you
                                found out about the breach
                            </p>
                            <?= el($breach->description); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Breach Impact</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <p class="text-muted mb-2">
                                Please describe the possible impact on the client, partner and Policy Services as a result of the breach.
                            </p>
                            <?= el($breach->breach_effect); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong><abbr title="Details of what you have done to rectify the breach. e.g. added client to correct partner / deleted correspondence and re-scanned to correct client/policy">Investigation and Remedial Action</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters">
                                    <div class="col-9">
                                        <strong>Previous Incidences</strong>
                                        <p class="text-muted mb-2">Has there been any other incidences of this breach in the last 12 months?</p>
                                    </div>
                                    <div class="col-3">
                                        <?= el($breach->previous_incidences, false, false, false, false, false, false, true); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mb-2">
                                <strong>Action Being Taken</strong>
                                <p class="text-muted mb-2">Review controls, update process and upload evidence</p>
                                <?= el($breach->action_taken); ?>
                            </div>
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Assign Owner</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= User::list_users(true, "id='breaches[assigned]' name='breaches[assigned]'", null, true, false, true) ?>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Due Date of Action to be Completed</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= el($breach->action_taken_due); ?>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Date of Action Completed</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= el($breach->action_taken_date); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Other Details</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="This is the number of clients and/or partners that this breach has affected.">Data Subject Affected</abbr></strong>
                                    <p class="mb-2"><i>Suggested:</i> <span id="subjects-affected-guess">0</span></p>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->subjects_effected); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="The ID of the incorrect item of correspondence for reference.">Incorrect Correspondence ID</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->correspondence); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="Was the item scanned to myPSaccount?">Scanned to myPSaccount?</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->myps_scan); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="Was the item sent out to the client?">Sent to client?</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->send_out); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong>Other Comments</strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->other_comments); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        var frame = $("#<?=_LINK?>");
        var form = $("#breach_form", frame);

        var pop = frame.popup_config({
            center: true
        });

        $(form).bind("successfulSave", function() {
            $("#latest-breach .content").html("New breach recorded today");
            $(".notification.save_profile", form).show();
            setTimeout(function() {
                pop.close();
            }, 1000);
        });

        $(form).bind("failedSave", function() {
            $(".notification.save_profile", form).show();
        });

        saveProfileNotification(form);

        $(".notification.save_profile", form).click(function(){
            $(this).hide();
        });

        $(".notification.save_profile.static", frame).on("mouseenter", function () {
            if ($('#file-ids', frame).val() == "") {
                $(".notification.save_profile.static", frame).hide();
            }
        });

        $(frame).on("click", '.upload', function () {
            var id = $(this).data('id');
            var upop = new popup({
                url: "/pages/breaches?do=uploadForm&id="+id,
                center: true
            });

            $(".close", upop).on("click",  function(){
                $(".notification.save_profile.static", frame).show();
            });
        });

        $(frame).on("click", ".view", function() {
            var id = $(this).data('id');
            // open file with browser -force download
            window.open("pages/documentstorage/index.php?do=view_file&id="+id+"&object_id=<?=$breach->id?>");
        });

        $(frame).on("click", ".remove", function() {
            var id = $(this).data('id');
            var row = $(this).closest('tr');
            if (confirm("Please confirm you wish to delete file for breach #"+id)) {
                $.get("pages/documentstorage/index.php?do=delete_file_local&id="+id, function(r){
                        r = json_decode(r);
                        if (r.error) {
                            alert(r.status);
                        } else {
                            row.html("<td colspan='3'>File removed</td>");
                        }
                    }
                );
            }
        });

        // on change of multiple select
        $('#breaches\\[caused_by_multiple\\]', frame).change(function() {
            var caused_by_array  = $(this).val();
            $("#breaches\\[caused_by\\]", frame).val(caused_by_array.toString());
        });

        $("#breaches\\[reported_by\\]", frame).append(new Option("SJP Partner", "999"));

        //suggested subjects affected
        $("input[name^='breaches']", frame).on("change", function(){
            var incorrectPartner = $("#breaches\\[incorrect_partner\\]", frame).val();
            var incorrectClient = $("#breaches\\[incorrect_client\\]", frame).val();

            var subjectsAffected = 0;

            if (incorrectClient.length && incorrectClient != 0
                && incorrectPartner.length && incorrectPartner != 0){
                //incorrect client under the incorrect partner
                subjectsAffected = 3;
            } else if (incorrectPartner.length && incorrectPartner != 0){
                //correct client under the wrong partner
                subjectsAffected = 2;
            } else if (incorrectClient.length && incorrectClient != 0){
                //incorrect client under the correct partner
                subjectsAffected = 1;
            }

            $("#subjects-affected-guess", frame).html(subjectsAffected);
        });

        // adapt form for different breach types
        $("#breaches\\[breach_type\\]", frame).on("change", function(){
            $(".data-protection *", frame).attr("disabled", $(this).val() !== "Data Protection");
        });
    });
</script>