<style>
    #<?=_LINK?>{
        max-width: 1200px;
        height: 800px;
        overflow: auto;
    }

    #breaches_show_tbl, #breaches_system_tbl {
        max-width: 1200px;
    }
    textarea {
        width: 95%;
        height:80px;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <?php if ($files) { ?>
        <div class="actions pull-left">
            <button class="upload"  data-id="<?= $breach->id; ?>">
                <i class="fa fa-upload"></i> Upload Documents
            </button>
        </div>
        <div class="actions pull-right">
            <span id="feedback" class="mr-3">&nbsp;</span>
            <button data-id='<?= $breach->id; ?>' type='button' class='archive alert-danger' title="Archive Breach">
                <i class="fa fa-archive"></i> Archive
            </button>

        </div>
    <?php } ?>

    <div class="clearfix"></div>

    <form id="breach_form" name="breach_form" action="<?= $action; ?>" method="post">
        <input type="hidden" id="r_by" value="<?= $breach->reported_by(); ?>" />
        <input type="hidden" id="r_cause" value="<?= $breach->root_cause(); ?>" />
        <input type="hidden" id="breaches[caused_by]" name="breaches[caused_by]" value="<?= $breach->caused_by(); ?>" />
        <input type="hidden" id="breaches[processes]" name="breaches[processes]" value="<?= htmlentities($breach->processes); ?>" />

        <div class="px-1 mb-2">
            <div class="card">
                <div class="card-header">
                    Breach Details
                </div>
                <div class="card-body p-2">
                    <div class="row no-gutters">
                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="The date that the correspondence was incorrectly scanned or the date mail was sent to the incorrect recipient?">Date Breach Occurred</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->breach_date); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="The date that the breach was brought to your attention?">Date Breach Identified</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->breach_identified); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="Who reported the breach to you?">Reported By</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->reported_by); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <strong><abbr title="Who originally caused the breach?">Root Cause</abbr></strong>
                                </div>
                                <div class="col-7">
                                    <?= el($breach->root_cause); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="What caused the breach?">Caused By</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->cause_type); ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong>Breach Type</strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->breach_type); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) partner ID">Partner Details</abbr></strong>
                        </div>
                        <div class="card-body p-2">
                            <div class="row no-gutters">
                                <?php if($breach->incorrect_partner() != ""): ?>
                                    <div class="col-7 mb-2"><a class="profile Partner" target="_blank" href="/common/Partner/?id=<?= $breach->incorrect_partner() ?>">Partner Scanned To:</a></div>
                                <?php else: ?>
                                    <div class="col-7 mb-2">Partner Scanned To:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2 data-protection"><?= el($breach->incorrect_partner); ?></div>

                                <?php if($breach->correct_partner() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Partner" target="_blank" href="/common/Partner/?id=<?= $breach->correct_partner() ?>">Breached Client's Partner:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Breached Client's Partner:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2"><?= el($breach->correct_partner); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) client ID">Client Details</abbr></strong>
                        </div>
                        <div class="card-body p-2">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Client Scanned To:</div>

                                <div class="col-5 mb-2 data-protection"><?= el($breach->incorrect_client); ?></div>

                                <?php if($breach->correct_client() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Client" target="_blank" href="/common/Client/?id=<?= $breach->correct_client() ?>">Breached Client:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Breached Client:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2"><?= el($breach->correct_client); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) policy ID">Policy Details</abbr></strong>
                        </div>
                        <div class="card-body p-2">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Policy Scanned To:</div>

                                <div class="col-5 mb-2 data-protection"><?= el($breach->incorrect_policy); ?></div>

                                <?php if($breach->correct_policy() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Policy" target="_blank" href="/common/Policy/?id=<?= $breach->correct_policy() ?>">Breached Client's Policy:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Breached Client's Policy:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2"><?= el($breach->correct_policy); ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            Staff Involved
                        </div>
                        <div class="card-body px-2 py-3">
                            <p class="mb-2" id="caused_by_string"><?= Breaches::causedBy($breach->caused_by) ? Breaches::causedBy($breach->caused_by, true) : 'No staff involved' ?></p>
                            <div class="border-top pt-2">
                                Add another staff member:&nbsp;&nbsp;&nbsp;&nbsp;<?= User::list_users(false, "id='involved_select'"); ?>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="remove_involved"><i class="fa fa-trash text-danger"></i> Remove User</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Description of Breach</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= el($breach->description); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Breach Impact</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= el($breach->breach_effect); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong><abbr title="A list of processes that were affected or have been updated as a result of this breach">Processes</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3" id="processes_card">
                            <table class="table table-striped" id="processes_table">
                                <thead>
                                <tr>
                                    <td>Process</td>
                                    <td>Updated</td>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="row no-gutters border-top pt-2">
                                <div class="col-4">
                                    Add another process:
                                </div>
                                <div class="col-6">
                                    <input type="text" class="w-100" id="process_input">
                                </div>
                                <div class="col-1 offset-1">
                                    <button class="btn btn-success" type="button" id="process_add"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong><abbr title="Details of what you have done to rectify the breach. e.g. added client to correct partner / deleted correspondence and re-scanned to correct client/policy">Investigation and Remedial Action</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters">
                                    <div class="col-9">
                                        <strong>Previous Incidences</strong>
                                        <p class="text-muted mb-2">Has there been any other incidences of this breach in the last 12 months?</p>
                                    </div>
                                    <div class="col-3">
                                        <?= el($breach->previous_incidences, false, false, false, false, false, false, true); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mb-2">
                                <strong>Action Being Taken</strong>
                                <?= el($breach->action_taken); ?>
                            </div>
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Assign Owner</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= el($breach->assigned); ?>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Due Date of Action to be Completed</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= el($breach->action_taken_due); ?>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Date of Action Completed</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= el($breach->action_taken_date); ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Other Details</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="This is the number of clients and/or partners that this breach has affected.">Data Subject Affected</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->subjects_effected); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="The ID of the incorrect item of correspondence for reference.">Incorrect Correspondence ID</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->correspondence); ?>
                                    <p class="mt-2 mb-0" id="check-spot-check"></p>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong>Helpdesk Ticket</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->hdt); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="Was the item scanned to myPSaccount?">Scanned to myPSaccount?</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->myps_scan); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="Was the item sent out to the client?">Sent to client?</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->send_out); ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong>Other Comments</strong>
                                </div>
                                <div class="col-6">
                                    <?= el($breach->other_comments); ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Manager's Response</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= el($breach->manager_response); ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>PS Action Required</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= el($breach->ps_action_required); ?>
                        </div>
                    </div>
                </div>
            </div>

            <?php if (User::get_default_instance('department') == 2 //compliance
                || User::get_default_instance('department') == 8 //management
                || User::get_default_instance('department') == 7 //IT
                || User::get_default_instance('id') == 23 // kev & kayleigh
                || User::get_default_instance('id') == 60): ?>
            <div class="<?= $breach->reported_to_ico() ? 'col-12' : 'col-6' ?>  ico-toggle mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>ICO Details</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="row no-gutters">
                                <div class="<?= $breach->reported_to_ico() ? 'col-6' : 'col-12' ?> ico-toggle">
                                    <div class="row no-gutters pb-2">
                                        <div class="col-6">
                                            <strong>Reported to ICO</strong>
                                        </div>
                                        <div class="col-6">
                                            <?= el($breach->reported_to_ico); ?>
                                        </div>
                                    </div>

                                    <div class="border-top py-2 mr-2">
                                        <p class="mb-2"><strong>Reason for <span <?= $breach->reported_to_ico() ? "class='hidden'" : "" ?> id="rep-not-rep">Not </span>Reporting</strong></p>
                                        <?= el($breach->reported_reason); ?>
                                    </div>
                                </div>

                                <div class="<?= !$breach->reported_to_ico() ? 'hidden' : '' ?> col-6" id="ico-extra">
                                    <div class="border-left pl-2">
                                        <div class="row no-gutters pb-2" id="ico-ref">
                                            <div class="col-6">
                                                <strong>ICO Reference</strong>
                                            </div>
                                            <div class="col-6">
                                                <?= el($breach->ico_ref); ?>
                                            </div>
                                        </div>

                                        <div class="border-top py-2" id="ico-response">
                                            <p class="mb-2"><strong>ICO Response</strong></p>
                                            <?= el($breach->ico_response); ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif; ?>

            <?php if ($files && $files->count()): ?>
                <div class="col-6 mb-2">
                    <div class="px-1 h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                <strong>Files</strong>
                            </div>
                            <div class="card-body py-2 px-3">
                                <table class="table table-striped">
                                    <tbody>
                                    <?php while($file = $files->next(MYSQLI_ASSOC)): ?>
                                        <tr>
                                            <td>
                                                <?= $file->display_name; ?>
                                            </td>
                                            <td width="50px">
                                                <button data-id='<?= $file->id; ?>' type='button' class='view alert-info' title="View/Download Attachment">
                                                    <i class="fa fa-download"></i>
                                                </button>
                                            </td>
                                            <td width="50px">
                                                <button data-id='<?= $file->id; ?>' type='button' class='remove alert-danger' title="Delete Attachment">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    <?php endwhile; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>System Details</strong>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters py-2">
                                <div class="col-6">
                                    <strong>Added When</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->added_when; ?>
                                </div>
                                <div class="col-6">
                                    <strong>Added By</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->added_by; ?>
                                </div>
                                <?php if($breach->updated_when != ""): ?>
                                <div class="col-6 mt-3">
                                    <strong>Updated When</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->updated_when; ?>
                                </div>
                                <div class="col-6 mt-3">
                                    <strong>Updated By</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->updated_by; ?>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        var frame = $("#<?=_LINK?>");
        var form = $("#breach_form", frame);

        var pop = frame.popup_config({
            center: true
        });

        $(form).bind("successfulSave", function() {
            // emulate table refresh by reloading entire section
            $(".notification.save_profile", form).show();
            setTimeout(function(){
                $('.nav-bc a').click();
                pop.close();
            }, 1000);
        });

        $(form).bind("failedSave", function() {
            $(".notification.save_profile", form).show();
        });

        saveProfileNotification(form);

        $(".notification.save_profile", form).click(function(){
            $(this).hide();
        });

        $(frame).on("click", '.upload', function () {
            var id = $(this).data('id');
            new popup({
                url: "/pages/breaches?do=uploadForm&id="+id,
                center: true
            });
        });

        $(frame).on("click", ".view", function() {
            var id = $(this).data('id');
            // open file with browser -force download
            window.open("pages/documentstorage/index.php?do=view_file&id="+id+"&object_id=<?=$breach->id?>");
        });

        $(frame).on("click", ".remove", function() {
            var id = $(this).data('id');
            var row = $(this).closest('tr');
            if (confirm("Please confirm you wish to delete file for breach #"+id)) {
                $.get("pages/documentstorage/index.php?do=delete_file_local&id="+id, function(r){
                        r = json_decode(r);
                        if (r.error) {
                            alert(r.status);
                        } else {
                            row.html("<td colspan='3'>File removed</td>");
                        }

                    }
                );
            }
        });

        $("#involved_select", frame).on("change", function(){
            var id = $(this).val();
            var name = $("option:selected", this).text();

            if (checkCausedBy(id)){
                alert(name + " has already been selected");
            } else {
                if($("#breaches\\[caused_by\\]").val()){
                    $("#breaches\\[caused_by\\]").val($("#breaches\\[caused_by\\]").val() + "," + id);
                } else {
                    $("#breaches\\[caused_by\\]").val(id);
                }

                var userString = "<span data-id='" + id + "'>" + name + "</span>";

                if($("#caused_by_string").html().trim().length && $("#caused_by_string").html() != "No staff involved"){
                    $("#caused_by_string").append(", " + userString);
                } else {
                    $("#caused_by_string").html(userString);
                }
            }

            $("option:first", this).attr("selected", true);
        });

        // removing users from the involved array (string separated by commas)
        var removing = false;

        $("#remove_involved", frame).on("click", function(){
            removing = !removing;

            if (removing){
                $("#remove_involved", frame).html("<i class='fa fa-check text-success'></i> Finish");

                $("#caused_by_string span", frame).each(function(){
                    $(this).wrap("<a href='#' class='delete_involved text-danger'>");
                });

                $(".delete_involved", frame).on("click", function(){
                    if (confirm("Remove this user from the breach?")){
                        var id = $("span", this).data("id");

                        var involved = $("#breaches\\[caused_by\\]", frame).val();

                        //create an array so its easier to delete our item
                        involved = involved.split(",");

                        //return the array minus our id
                        involved = $.grep(involved, function(value){
                            return value != id;
                        });

                        // reset the caused by value
                        $("#breaches\\[caused_by\\]", frame).val(involved.join(","));

                        $(this).remove();

                        var listNames = $("#caused_by_string").html().trim();

                        while(listNames.charAt(0) == "," || listNames.charAt(0) == " "){
                            //remove commas and spaces from the start of the string
                            listNames = listNames.substr(1, listNames.length);
                        }

                        while(listNames.charAt(listNames.length - 1) == "," || listNames.charAt(listNames.length - 1) == " "){
                            //remove commas and spaces from the end of the string
                            listNames = listNames.substr(0, listNames.length - 1);
                        }

                        $("#caused_by_string").html(listNames);

                        //fake trigger the save span
                        form.trigger("change");
                    }
                });
            } else {
                $("#remove_involved", frame).html("<i class='fa fa-trash text-danger'></i> Remove User");

                $("#caused_by_string span", frame).each(function(){
                    $(this).unwrap("<a></a>");
                });
            }

        });

        $("#process_input").on("keyup", function(e){
            var code = e.keyCode || e.which;

            if(code == 13){
                $("#process_add").click();
            }
        });

        $("#process_add").on("click", function(){
            var processName = $("#process_input").val();

            if (processName.length){
                refreshProcesses(processName);

                $("#process_input").val("");
            }
        });

        $("#breaches\\[correspondence\\]", frame).keyup(function(){
            checkSpotCheck($(this));
        });

        $("#breaches\\[reported_to_ico\\]", frame).change(function(){
            $("#rep-not-rep", frame).toggleClass("hidden");
            $(".ico-toggle").toggleClass("col-6").toggleClass("col-12");
            $("#ico-extra").toggleClass("hidden");
        });

        $(frame).on("click", ".delete_process", function(){
            if (confirm("Delete this process?")){
                $(this).closest("tr").remove();

                var processes = [];

                // rebuild the processes array based on the rows left
                $("#processes_table tr", frame).each(function(){
                    if ($(".process_name", this).text()){
                        var process = {
                            name: $(".process_name", this).text(),
                            updated: $(".process_updated", this).val()
                        };

                        processes.push(process);
                    }
                });

                $("#breaches\\[processes\\]").val(JSON.stringify(processes));

                //refresh the table to ensure data is accurate
                refreshProcesses();

                //fake trigger the save span
                form.trigger("change");
            }
        });

        $(frame).on("click", ".process_updated", function(){
            var processes = [];

            if ($(this).val() == 1){
                $(this).val(0);
                $(this).html("<i class='fa fa-times text-danger'></i>");
            } else {
                $(this).val(1);
                $(this).html("<i class='fa fa-check text-success'></i>");
            }

            // rebuild the processes array based on the rows left
            $("#processes_table tr", frame).each(function(){
                if ($(".process_name", this).text()){
                    var process = {
                        name: $(".process_name", this).text(),
                        updated: $(".process_updated", this).val()
                    };

                    processes.push(process);
                }
            });

            $("#breaches\\[processes\\]").val(JSON.stringify(processes));

            //refresh the table to ensure data is accurate
            refreshProcesses();

            //fake trigger the save span
            form.trigger("change");
        });

        function refreshProcesses(processName = false){
            var processes = [];

            if ($("#breaches\\[processes\\]").val()){
                processes = $.parseJSON($("#breaches\\[processes\\]").val());
            }

            if (processName){
                //if a new process is being added
                var process = {
                    name: processName,
                    updated: 0
                };

                processes.push(process);
            }

            var processTbl = $("#processes_table tbody");

            processTbl.html("");

            $.each(processes, function(){
                var tick = "<i class='fa fa-times text-danger'></i>";

                if (this.updated == 1){
                    tick = "<i class='fa fa-check text-success'></i>";
                }

                processTbl.append("<tr><td class='process_name'>" + this.name + "</td><td><button class='process_updated' type='button' value=" + this.updated + ">" + tick + "</button></td><td><button class='delete_process text-danger' type='button'><i class='fa fa-trash'></i></button></td></tr>")
            });

            $("#breaches\\[processes\\]").val(JSON.stringify(processes));
        }

        //initiate the processes table on load
        refreshProcesses();

        function checkSpotCheck(input){
            var id = input.val();

            if(id.length){
                $.ajax({
                    url: "/pages/breaches/?do=checkSpotCheck",
                    type: "GET",
                    data: {
                        "id": id
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            $("#check-spot-check", frame).html(response.data);
                        }
                    }
                });
            }
        }

        function checkCausedBy(id){
            var causedBy = $("#breaches\\[caused_by\\]").val().split(",");

            if($.inArray(id, causedBy) !== -1){
                return true;
            } else {
                return false;
            }
        }

        checkSpotCheck($("#breaches\\[correspondence\\]", frame));

        $(frame).off("click", ".archive").on("click", ".archive", function() {
            var id = $(this).data('id');
            var status = $("#feedback");
            if (confirm("Please confirm you wish to archive breach #"+id)) {
                $.get("pages/breaches/index.php?do=archive&id="+id, function(r){
                    r = json_decode(r);
                    status.html(r.status);
                    if (r.error) {
                        status.addClass('bad_news');
                    } else {
                        status.addClass('good_news');
                        setTimeout(function(){
                            pop.close();
                            $(".nav-bc a").click();
                        }, 500);
                    }
                });
            }
        });

        $('.bool', frame).each(function() {
            if (!$(this).attr("value")) {
                $(this).attr("value", 0);
            }
        });

        // on change of multiple select
        $('#breaches\\[caused_by_multiple\\]').change(function() {
            var caused_by_array  = $(this).val();
            $("#breaches\\[caused_by\\]").val(caused_by_array.toString());
        });

        $(document).ready(function () {
            // fill hidden text field with IDs on load so we do not loose these when updating
            var caused_by_array  = $('#breaches\\[caused_by_multiple\\]').val();
            if (caused_by_array) {
                $("#breaches\\[caused_by\\]").val(caused_by_array.toString());
            }

        });

        $("#breaches\\[reported_by\\]").append(new Option("SJP Partner", "999"));

        if ($("#r_by", frame).val() == 999) {
            $('#breaches\\[reported_by\\] option[value=999]').prop('selected', true)
        }

        if ($("#r_cause", frame).val() == 999){
            $('#breaches\\[root_cause\\] option[value=999]').prop('selected', true)
        }

        // adapt form for different breach types
        $(".data-protection *", frame).attr("disabled", $(this).val() !== "Data Protection");

        $("#breaches\\[breach_type\\]", frame).on("change", function(){
            $(".data-protection *", frame).attr("disabled", $(this).val() !== "Data Protection");
        });

    });
</script>