<style>
    #<?=_LINK?>{
        max-width: 1200px;
        height: 800px;
        overflow: auto;
    }

    #breaches_show_tbl, #breaches_system_tbl {
        max-width: 1200px;
    }
    textarea {
        width: 95%;
        height:80px;
    }
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <form id="breach_form" name="breach_form" action="<?= $action; ?>" method="post">
        <div class="d-none">
            <?= el($breach->correspondence); ?>
        </div>

        <div class="px-1 mb-2">
            <div class="card">
                <div class="card-header">
                    Breach Details
                </div>
                <div class="card-body p-2">
                    <div class="row no-gutters">
                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="The date that the correspondence was incorrectly scanned or the date mail was sent to the incorrect recipient?">Date Breach Occurred</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->breach_date ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="The date that the breach was brought to your attention?">Date Breach Identified</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->breach_identified ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="Who reported the breach to you?">Reported By</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->reported_by ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-5">
                                    <strong><abbr title="Who originally caused the breach?">Root Cause</abbr></strong>
                                </div>
                                <div class="col-7">
                                    <?= $breach->root_cause ?>
                                </div>
                            </div>
                        </div>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="What caused the breach?">Caused By</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->cause_type; ?>
                                </div>
                            </div>
                        </div>

                        <?php if(strlen($breach->root_cause()) && !in_array($breach->root_cause(), ["People", "Process", "System"])): ?>
                        <div class="col-4 mb-2 text-muted">
                            Root Cause (Legacy): <?= $breach->root_cause() ?>
                        </div>
                        <?php endif; ?>

                        <div class="col-4 mb-2">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong>Breach Type</strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->breach_type ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters mb-2">
            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) partner ID">Partner Details</abbr></strong>
                        </div>
                        <div class="card-body p-2">
                            <div class="row no-gutters">
                                <?php if($breach->incorrect_partner() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Partner" target="_blank" href="/common/Partner/?id=<?= $breach->incorrect_partner() ?>">Partner Scanned To:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Partner Scanned To:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2 data-protection"><?= $breach->incorrect_partner ?></div>

                                <?php if($breach->correct_partner() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Partner" target="_blank" href="/common/Partner/?id=<?= $breach->correct_partner() ?>">Breached Client's Partner:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Breached Client's Partner:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2"><?= $breach->correct_partner ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) client ID">Client Details</abbr></strong>
                        </div>
                        <div class="card-body p-2">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Client Scanned To:</div>

                                <div class="col-5 mb-2 data-protection"><?= $breach->incorrect_client ?></div>

                                <?php if($breach->correct_client() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Client" target="_blank" href="/common/Client/?id=<?= $breach->correct_client() ?>">Breached Client:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Breached Client:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2"><?= $breach->correct_client ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="px-1">
                    <div class="card">
                        <div class="card-header">
                            <strong><abbr title="Please provide the correct and incorrect (if necessary) policy ID">Policy Details</abbr></strong>
                        </div>
                        <div class="card-body p-2">
                            <div class="row no-gutters">
                                <div class="col-7 mb-2">Policy Scanned To:</div>

                                <div class="col-5 mb-2 data-protection"><?= $breach->incorrect_policy ?></div>

                                <?php if($breach->correct_policy() != ""): ?>
                                <div class="col-7 mb-2"><a class="profile Policy" target="_blank" href="/common/Policy/?id=<?= $breach->correct_policy() ?>">Breached Client's Policy:</a></div>
                                <?php else: ?>
                                <div class="col-7 mb-2">Breached Client's Policy:</div>
                                <?php endif; ?>

                                <div class="col-5 mb-2"><?= $breach->correct_policy ?></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            Staff Involved
                        </div>
                        <div class="card-body px-2 py-3">
                            <p class="mb-2" id="caused_by_string"><?= Breaches::causedBy($breach->caused_by) ? Breaches::causedBy($breach->caused_by, true) : 'No staff involved' ?></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Description of Breach</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= $breach->description ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Breach Impact</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= $breach->breach_effect ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong><abbr title="A list of processes that were affected or have been updated as a result of this breach">Processes</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3" id="processes_card">
                            <table class="table table-striped" id="processes_table">
                                <thead>
                                <tr>
                                    <td>Process</td>
                                    <td>Updated</td>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong><abbr title="Details of what you have done to rectify the breach. e.g. added client to correct partner / deleted correspondence and re-scanned to correct client/policy">Investigation and Remedial Action</abbr></strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters">
                                    <div class="col-9">
                                        <strong>Previous Incidences</strong>
                                        <p class="text-muted mb-2">Has there been any other incidences of this breach in the last 12 months?</p>
                                    </div>
                                    <div class="col-3">
                                        <?= $breach->previous_incidences() ? 'Yes' : 'No' ?>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mb-2">
                                <strong>Action Being Taken</strong>
                                <br>
                                <?= $breach->action_taken ?>
                            </div>
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Assign Owner</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= $breach->assigned ?>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom mb-2">
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Due Date of Action to be Completed</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= $breach->action_taken_due ?>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row no-gutters mb-2">
                                    <div class="col-8">
                                        <strong>Date of Action Completed</strong>
                                    </div>
                                    <div class="col-4">
                                        <?= $breach->action_taken_date ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Other Details</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <strong><abbr title="This is the number of clients and/or partners that this breach has affected.">Data Subject Affected</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->subjects_effected ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="The ID of the incorrect item of correspondence for reference.">Incorrect Correspondence ID</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->correspondence ?>
                                    <p class="mt-2 mb-0" id="check-spot-check"></p>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong>Helpdesk Ticket</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->hdt ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="Was the item scanned to myPSaccount?">Scanned to myPSaccount?</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->myps_scan ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong><abbr title="Was the item sent out to the client?">Sent to client?</abbr></strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->send_out ?>
                                </div>
                            </div>

                            <div class="row no-gutters border-top py-2">
                                <div class="col-6">
                                    <strong>Other Comments</strong>
                                </div>
                                <div class="col-6">
                                    <?= $breach->other_comments ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Manager's Response</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <?= el($breach->manager_response); ?>
                        </div>
                    </div>
                </div>
            </div>

            <?php if ($files && $files->count()): ?>
            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>Files</strong>
                        </div>
                        <div class="card-body py-2 px-3">
                            <table class="table table-striped">
                                <tbody>
                                <?php while($file = $files->next(MYSQLI_ASSOC)): ?>
                                <tr>
                                    <td>
                                        <?= $file->display_name; ?>
                                    </td>
                                    <td width="50px">
                                        <button data-id='<?= $file->id; ?>' type='button' class='view alert-info' title="View/Download Attachment">
                                            <i class="fa fa-download"></i>
                                        </button>
                                    </td>
                                </tr>
                                <?php endwhile; ?>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <?php endif; ?>

            <div class="col-6 mb-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <strong>System Details</strong>
                        </div>
                        <div class="card-body">
                            <div class="row no-gutters py-2">
                                <div class="col-6">
                                    <strong>Added When</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->added_when; ?>
                                </div>
                                <div class="col-6">
                                    <strong>Added By</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->added_by; ?>
                                </div>
                                <?php if($breach->updated_when != ""): ?>
                                <div class="col-6 mt-3">
                                    <strong>Updated When</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->updated_when; ?>
                                </div>
                                <div class="col-6 mt-3">
                                    <strong>Updated By</strong>&nbsp;&nbsp;&nbsp;&nbsp;<?= $breach->updated_by; ?>
                                </div>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function () {
        var frame = $("#<?=_LINK?>");
        var form = $("#breach_form", frame);

        var pop = frame.popup_config({
            center: true
        });

        $(form).bind("successfulSave", function() {
            // emulate table refresh by reloading entire section
            $(".notification.save_profile", form).show();
            setTimeout(function(){
                $('.nav-bc a').click();
                pop.close();
            }, 1000);
        });

        $(form).bind("failedSave", function() {
            $(".notification.save_profile", form).show();
        });

        saveProfileNotification(form);

        $(".notification.save_profile", form).click(function(){
            $(this).hide();
        });

        $(frame).on("click", ".view", function() {
            var id = $(this).data('id');
            // open file with browser -force download
            window.open("pages/documentstorage/index.php?do=view_file&id="+id+"&object_id=<?=$breach->id?>");
        });

        function checkSpotCheck(input){
            var id = input.val();

            if(id.length){
                $.ajax({
                    url: "/pages/breaches/?do=checkSpotCheck",
                    type: "GET",
                    data: {
                        "id": id
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            $("#check-spot-check", frame).html(response.data);
                        }
                    }
                });
            }
        }

        function checkCausedBy(id){
            var causedBy = $("#breaches\\[caused_by\\]").val().split(",");

            if($.inArray(id, causedBy) !== -1){
                return true;
            } else {
                return false;
            }
        }

        checkSpotCheck($("#breaches\\[correspondence\\]", frame));

        $('.bool', frame).each(function() {
            if (!$(this).attr("value")) {
                $(this).attr("value", 0);
            }
        });

        // on change of multiple select
        $('#breaches\\[caused_by_multiple\\]', frame).change(function() {
            var caused_by_array  = $(this).val();
            $("#breaches\\[caused_by\\]", frame).val(caused_by_array.toString());
        });

        $(document).ready(function () {
            // fill hidden text field with IDs on load so we do not loose these when updating
            var caused_by_array  = $('#breaches\\[caused_by_multiple\\]', frame).val();
            if (caused_by_array) {
                $("#breaches\\[caused_by\\]", frame).val(caused_by_array.toString());
            }

        });

    });
</script>