<style>
    #<?=_LINK?>{
        width: 600px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var form = $("#pdf-form", frame);

        frame.popup_config({
            title: "Encrypt PDF",
            center: true,
        });

        $("#submit-btn", frame).on("click", function(e){
            e.preventDefault();
            e.stopPropagation();

            form[0].submit();
        });
    });
</script>

<div class="py-4" id="<?=_LINK?>">
    <div class="alert" id="pdf-feedback" style="display: none;"></div>
    <div class="row no-gutters">
        <div class="col-6 offset-3 text-center">
            <form enctype="multipart/form-data" action="/pages/pdfencrypt/?do=encrypt" target="_BLANK" method="POST" name="pdf-form" id="pdf-form">
                <div class="form-group">
                    <label>Select a PDF</label>
                    <input type="file" name="pdf" accept=".pdf">
                </div>
                <div class="form-group mt-4">
                    <input type="text" name="password">
                </div>

                <button type="submit" id="submit-btn"><i class="fas fa-lock"></i> Encrypt</button>
            </form>
        </div>
    </div>
</div>