<style type="text/css">


    div#<?=_LINK?>{
               width:351px;
           }
    div#topSection{
        float: left;
        width:350px;
        height:400px;
        overflow:scroll;
        overflow-x: hidden;
    }
    div#bottomSection{
        float: left;
        width:350px;
        height:400px;
        overflow:scroll;
        overflow-x: hidden;
    }

    input.dynamic_key{
        width:90%;
        margin-left:10px;
    }
    textarea.dynamic_value{
        width:90%;
        height:50px;
        margin-left:10px;
    }

    #addSubTable{
        width:99%;
    }

    #addSub{
        width:99%;
    }
    #addDynamic{
        width:99%;
    }

    #sendSubBack{
        float:bottom;
        width:100%;
    }
    #dynamicDiv{
        margin-top: 5px;
        border-color: #00B0E8;
    }

    #addSubTable tr#newLine{
        border-color: #00B0E8 !important;
    }
</style>

<script type="text/javascript">

    var myarray1 = [];
    var myarray2 = [];
    var dynamic_key_array = [];
    var dynamic_value_array = [];

    var form = $('div#<?=_LINK?>');

    $('#addSub',form).on('click', function(){
        $('#addSubTable').append("<tr id='newLine' style='width:100%;border-color: #00B0E8'><td style='width:49%'><input class='left' placeholder='key...'></td><td style='width:49%'><input class='right' placeholder='value...'></td></tr>");
    });
    $('#addDynamic',form).on('click', function(){
        $('#addDynamicTable').append("<div id='dynamicDiv'><h1>Dynamic HTML Key Value</h1><br><input class='dynamic_key' placeholder='key...'><br><br><textarea class='dynamic_value' placeholder='Html here as a value...'></textarea></div>");
    });
    $('#sendSubBack',form).on('click', function() {

        $("table#addSubTable tr,",form).each(function (i) {
            $(" input.left", this).each(function (j) {
                myarray1.push($(this).val());
            });
            $("input.right", this).each(function (j) {
                myarray2.push($(this).val());
            });
        });
        $("div#addDynamicTable",form).each(function (i) {
            $("input.dynamic_key").each(function (j) {
                dynamic_key_array.push($(this).val());
            });
            $(".dynamic_value").each(function (j) {
                dynamic_value_array.push( $(this).val().replace(/\n|\r/g, ""));
            });
        });

        $.ajax({
            url: "pages/sparkpost/index.php?do=prompt_substitution_data",
            type: "GET",
            data: {
                odd_array: myarray1,
                even_array: myarray2,
                dynamic_key: dynamic_key_array,
                dynamic_value: dynamic_value_array
            },
            dataType: "json",
            success: function (r) {
                $('button#sendSubBack').attr('disabled', false);
                $('#sendSingleMailTab input#subData').val(r.status);
                $(form).closest("table.popup").find("button.close").trigger('click');
            }
        });

    });
</script>


<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div id="topSection">
        <button id="addSub">Add new substitution data</button>
        <table id="addSubTable">
            <th>Key</th>
            <th>Pair</th>
        </table>
    </div>
    <!--<div id="bottomSection">-->
        <!--<button id="addDynamic">Add new dynamic html</button>-->
        <!--<div id="addDynamicTable">-->
        <!--</div>-->
    <!--</div>-->
    <button id="sendSubBack">Done</button>
</div>


