<style type="text/css">
#<?=_LINK?> {
    width: 800px;
}
#<?=_LINK?> > div > div {
    min-height: 300px;
}
#<?=_LINK?>  table.scrollable div.scroll {
    height: 250px;
}
<?=_LINK?> > button.add {
    padding: 0 15px;
}
</style>
<script type="text/javascript">
var frame;
$(function(){

    var frame = $( "#<?=_LINK?>" );
    var table = $("table.scrollable",frame);
	
    var pending = $("#pending_div",frame);
    var archived = $("#archived_div",frame);

	var pop = frame.popup_config({
		title: "My Alerts",
		center: true
	});
	
	$( pending ).bind(
		"loadPending",
			function( ){
				$.get(
					"<?=Alerts::index_url()?>",
					{
						'do': "load_alerts",
						'is_active': 1
					},
					function( r ){
						$( ".content", pending ).html( r );
					}
				);
			}
	);
	
	
	$( archived ).bind(
		"loadArchived",
			function( ){
				$.get(
					"<?=Alerts::index_url()?>",
					{
						'do': "load_alerts",
						'is_active': 0
					},
					function( r ){
						$( ".content", archived ).html( r );
					}
				);
			}
	);
	
	$( pending ).trigger( "loadPending" );
	$( archived ).trigger( "loadArchived" );
	
	$(table).on("click", ".delete", function(){
		if( confirm( "Are you sure you would like to remove and archive this alert?" ) ){
			var rowid = this.id;
			$.ajax({
				url: "pages/alerts/index.php?do=remove",
				type: "GET",
				data: {
					type: "json",
					id: rowid
				},
				dataType: "json",
				success: function( r ){
					$("tr#"+rowid, table).remove();
					$( archived ).trigger( "loadArchived" );
				}
			});
		}
	});
	
	$(table).on("click", ".add", function(){
		if( confirm( "Are you sure you would like this to become an active alert?" ) ){
			var rowid = this.id;
			$.ajax({
				url: "pages/alerts/index.php?do=re-add",
				type: "GET",
				data: {
					type: "json",
					id: rowid
				},
				dataType: "json",
				success: function( r ){
					$("tr#"+rowid, table).remove();
					$( pending ).trigger( "loadPending" );	
				}
			});
		}
	});

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">
	<div>
		<ul class="nav nav-tabs mb-3">
			<li class="nav-item">
				<a class="nav-link active" id="pending" data-toggle="tab" href="#<?=_LINK?>active">Active Alerts</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="archived" data-toggle="tab" href="#<?=_LINK?>archived">Archived Alerts</a>
			</li>
		</ul>
	
		<div class="tab-content">
			<div class='tab-pane fade show active' id="<?=_LINK?>active">
				<div id="pending_div" name="pending_div">
					<table class="scrollable">
						<thead>
							<tr>
								<th width="110px">Alert On This</th>
								<th width="230px">Link</th>
								<th width="180">When What Is Added?</th>
								<th>When Updated?</th>
								<th id="action" class="no_sort" style='width:30px;'>Remove</th>
							</tr>
						</thead>
						<tbody class="content">
						</tbody>
					</table>      
				</div>
			</div>
			
			<div class="tab-pane fade" id="<?=_LINK?>archived">
				<div id="archived_div" name="archived_div">
					<table class="scrollable">
						<thead>
							<tr>
								<th width="110px">Alert On This</th>
								<th width="230px">Link</th>
								<th width="180">When What Is Added?</th>
								<th>When Updated?</th>
								<th id="action" class="no_sort" style='width:30px;'>Activate</th>
							</tr>
						</thead>
						<tbody class="content">
						</tbody>
					</table>      
				</div>
			</div>
		</div>
	</div>
</div>