<style type="text/css">
.popup #<?=_LINK?> {
    width: 450px;
}
</style>
<?php
$title = $object;
if($title == "NewBusiness"){
	$title = "New Business";
}
?>
<script type="text/javascript">
	$( function( ){

		var frame = $( "#<?=_LINK?>" );
		var form = $("form#alert_form",frame);
		var ac_form = $("form#ac_alert_form",frame);
		var status = $("#status",frame);
		var ac_status = $("#ac_status",ac_form);
		var pop = frame.popup_config({
			title: "Add Alert - <?=$title?>: <?=$object_index?>",
			center: true
		});
		
		$("#obj_sel").on('change', function() {
			if ($(this).val() == ""){
				$('#added').prop('checked', false);
				$('#added').prop('disabled', false);
			} else {
				$('#added').prop('checked', true);
				$('#added').prop('disabled', true);
			}
		});
		
		$(form).on("click", "#save_alert", function(){
		
			var object_added = $('select[name="obj_sel"]').val();
			var is_added = $("#added").is(':checked');
			var is_updated = $("#updated").is(':checked');

			if($("input:checkbox#added", form).is(':checked') && $('select[name="obj_sel"]').val() == ""){
				status.addClass("bad_news").html("Please select an option from the dropdown menu");
			}else if($("input:checkbox#added", form).is(':checked') == false && $("input:checkbox#updated", form).is(':checked') == false){
				status.addClass("bad_news").html("Please select at least one option");
			}else{
				$.ajax({
					url: "pages/alerts/index.php?do=save",
					type: "GET",
					data: {
						type: "json",
						object: "<?=$object?>",
						object_index: "<?=$object_index?>",
						is_added: is_added,
						object_added: object_added,
						is_updated: is_updated
					},
					dataType: "json",
					success: function( r ){
						try{
							if(r.status == true){
								status.removeClass().addClass("good_news").html(r.message);
								 $('input[type="submit"]').attr('disabled','disabled');
							}else if(r.error == true){
								status.removeClass().addClass("bads_news").html(r.message);
							}
						}catch(e){
							alert(e);
						}
					}
				});
			}
		});


        // submit adviser charging alert(s)
        $(ac_form).on("click", "#save_ac_alert", function(){


            if($("#pack_produced", ac_form).is(':checked') == false && $("#form_to_provider", ac_form).is(':checked') == false &&
                    $("#ac_applied", ac_form).is(':checked') == false && $("#ac_exempt", ac_form).is(':checked') == false &&
                    $("#ac_ongoing", ac_form).is(':checked') == false){
                ac_status.addClass("bad_news").html("Please select at least one option");
            }else{
                $.ajax({
                    url: "pages/alerts/index.php?do=ac_save",
                    type: "GET",
                    data: {
                        type: "json",
                        object: "<?=$object?>",
                        object_index: "<?=$object_index?>",
                        pack_produced: $("#pack_produced").is(':checked'),
                        form_to_provider: $("#form_to_provider").is(':checked'),
                        ac_ongoing: $("#ac_ongoing").is(':checked'),
                        ac_applied: $("#ac_applied").is(':checked'),
                        ac_exempt: $("#ac_exempt").is(':checked')
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            if(r.status == true){
                                ac_status.removeClass().addClass("good_news").html(r.message);
                                $('input[type="submit"]').attr('disabled','disabled');
                            }else if(r.error == true){
                                ac_status.removeClass().addClass("bad_news").html(r.message);
                            }
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
        });

	});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">
    <!-- if partner, tab out and display adviser charging alert section -->
    <?php if($object == "Partner"){ ?>
    <div class="tabs">
        <ul>
            <li class="active"><?=$title;?> Alerts</li>
            <li>Adviser Charging Alerts</li>
        </ul>

        <div>
            <div id="onetime_tab" name="onetime_tab" class='active'>
    <?php } ?>
        <form id="alert_form" name="alert_form">
            <div id="data" name="data" class="panel">
                <h1>Set up a one time alert if:</h1>
                <?php if($object == "Policy" || $object == "Client"){ ?>
                <p>
                    <select id="obj_sel" name="obj_sel">
                        <option value="">--</option>
                        <option value="Commission">Income</option>
                        <option value="Correspondence">Correspondence</option>
                        <option value="NewBusiness">New Business</option>
                        <?php if($object == "Client"){ ?>
                        <option value="Policy">Policy</option>
                        <?php } ?>
                    </select>
                    Gets added to this <?=$object?> <input type="checkbox" id="added" />
                </p>
                <p>AND/OR</p>
                <?php } ?>
                <p>This <?php if($object == "NewBusiness"){echo "New Business Case"; }else{ echo $object; }?> is updated <input type="checkbox" id="updated" /></p>
                <p>
                    <input type="submit" value="Save" id="save_alert" />
                    <span id="status">&nbsp;</span>
                </p>
            </div>
        </form>
        <?php if($object == "Partner"){ ?>
            </div>
            <div id="ac_tab" name="ac_tab">
                <form id="ac_alert_form" name="ac_alert_form">
                    <div id="ac_data" name="ac_data" class="panel">
                        <h1>Set up adviser charging alerts:</h1>
                        <p>When adviser charging packs are produced <input type="checkbox" id="pack_produced" /></p>
                        <p>When adviser charging forms are sent to Provider <input type="checkbox" id="form_to_provider" /></p>
                        <p>When AC applied ticked <input type="checkbox" id="ac_applied" /></p>
                        <p>When AC exempt ticked <input type="checkbox" id="ac_exempt" /></p>
                        <p>
                            <input type="submit" value="Save" id="save_ac_alert" />
                            <span id="ac_status">&nbsp;</span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <?php } ?>
    </div>

</div>