<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Team Name:</th>
			<td><?php  $choice = Choice::factory( );
					$choice->push("1", "Alba" )
                            ->push("2", "Aurora Borealis")
                            ->push("3", "Crack of Dawn")
                            ->push("4", "Cash Converters")
                            ->push("5", "Sunrise Crusaders");
					echo el::dropdown( "teamid", $choice->get_choices()); ?>
			</td>
		</tr>
	</table>
</form>


