<form method="POST" target="_blank">
    <table>
        <tr>
            <th>SJP Manager Name:</th>
            <td><?php  $choice = Choice::factory( );
					$choice->setSource( "select ID, CONCAT(managerfirst, ' ', managersurname) as ManagerName  from feebase.tblmanager order by ManagerName" );
                echo el::dropdown( "bamValue", $choice->get_choices()); ?>
            </td>
        </tr>
    </table>
</form>


