<table>
    <tr>
        <th width="100px">Batch ID</th>
        <td><input type="text" id="BATCH_ID" /></td>
        <td>
            <input type="hidden" value="xls" id="required_format" />
        </td>
    </tr>
</table>