<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Partner ID:</th>
				<td><input type="text" id="partner" name="partner" value="XXXX"/></td>
		</tr>
		<tr>
			<th>From Month:</th>
				<td><input type="text" id="m1" name="m1" value="1-12" onclick="this.value'';"/></td>
			<th>To Month:</th>   
				<td><input type="text" id="m2" name="m2" value="1-12" onclick="this.value'';"/></td>
		</tr>
	</table>
</form>
