<div>
	<form method="POST" target="_blank">

		<table class="data">
			<thead>
				<tr>
					<td colspan="4">General</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="100px">Partner</td>
					<td><?= el(new Partner, "partnerid")?></td>
				</tr>
				<tr>
					<td>Novation Comments</td>
					<td colspan="3"><input size="120" type="text" id="novation_text" name="novation_text"/></td>
				</tr>
				<tr>
					<td>Mandate Required Comments</td>
					<td colspan="3"><input size="120" type="text" id="mandate_required" name="mandate_required"/></td>
				</tr>
				<tr>
					<td>Online Access Comments</td>
					<td colspan="3"><input size="120" type="text" id="online_access" name="online_access"/></td>
				</tr>
			</tbody>
		</table>

		<br />

		<table class="data">
			<thead>
				<tr>
					<td colspan="5">Income</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Monthly Income Intro</td>
					<td colspan="4"><input size="120" type="text" id="monthly_income" name="monthly_income"/></td>
				</tr>
			</tbody>
		</table>

		<br />

		<table class="data">
			<thead>
				<tr>
					<td colspan="8">Servicing</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="100px">Client Proposition Comments</td>
					<td colspan="7"><input size="120" id="client_proposition" name="client_proposition"/></td>
				</tr>
			</tbody>
		</table>

		<br />

		<table class="data">
			<thead>
				<tr>
					<td colspan="2">Additional Information</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="100px">Additional Information</td>
					<td><input size="120" id="additional_info" name="additional_info"/></td>
				</tr>
			</tbody>
		</table>

		<input type="hidden" id="kac_name" name="kac_name" value="<?= User::get_default_instance('forename'). ' ' . User::get_default_instance('surname')?>" />
		<input type="hidden" id="kac_ext" name="kac_ext" value="<?=  User::get_default_instance('external_extension')?>"/>
		<input type="hidden" id="kac_email" name="kac_email" value="<?=  User::get_default_instance('email')?>"/>

	</form>
</div>