<form method="POST" target="_blank">
	<table>
		<tr>
			<th>From Date:</th>
			<td><input type="text" id="date1" name="date1" class="datepick" value="YYYY-MM-DD"/></td>
			<th>To Date:</th>
			<td><input type="text" id="date2" name="date2" class="datepick" value="YYYY-MM-DD"/></td>
		</tr>
		<tr>
			<th>Issuer</th>
			<td><?= el(new Issuer, "issuer")?></td>
		</tr>
	</table>
</form>

















