<form  method="POST" target="_blank">
	<table>
		<tr>
			<th>From Date:</th>
				<td><input type="text" id="date1" name="date1" class="datepick" value="YYYY-MM-DD"/></td>
			<td>
				<input type="text" id="date1_hour" name="date1_hour" maxlength="2" value="00" style="width: 40px;"/>:
				<input type="text" id="date1_minute" name="date1_minute" maxlength="2" value="00" style="width: 40px;"/>:
				<input type="text" id="date1_second" name="date1_second" maxlength="2" value="00" style="width: 40px;"/>
			</td>
		</tr>
		<tr>
			<th>To Date:</th>
				<td><input type="text" id="date2" name="date2" class="datepick" value="YYYY-MM-DD"/></td>
			<td>
				<input type="text" id="date2_hour" name="date2_hour" maxlength="2" value="23" style="width: 40px;"/>:
				<input type="text" id="date2_minute" name="date2_minute" maxlength="2" value="59" style="width: 40px;"/>:
				<input type="text" id="date2_second" name="date2_second" maxlength="2" value="59" style="width: 40px;"/>
			</td>
		</tr>
		<tr>
			<th>Issuer</th>
			<td><?= el(new Issuer, "issuer")?></td>
		</tr>
	</table>
</form>
