<form method="POST" target="_blank">
	<table>
		<tr>
			<th>User:</th>
			<td>
				<?php  $choice = Choice::factory( );
					$choice->setSource( "select ".USR_TBL.".id, CONCAT(first_name, ' ', last_name) from ".USR_TBL." ".
				"where active = '1' and id not in (62,63,80) ".
				"order by first_name, last_name" );
				echo el::dropdown( "USER_ID", $choice->get_choices()); ?>
			</td>
		</tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td colspan="2">Please use full 24hr time format when entering below</td></tr>
		<tr>
			<th>From Date:</th>
            <td>
                <input type="text" id="PROCESSED_FROM_DATE" name="PROCESSED_FROM_DATE" class="datepick" value="YYYY-MM-DD"/>
                <input type="text" id="PROCESSED_FROM_HOUR" name="PROCESSED_FROM_HOUR" maxlength="2" value="HH" style="width: 40px;"/>:
                <input type="text" id="PROCESSED_FROM_MINUTE" name="PROCESSED_FROM_MINUTE" maxlength="2" value="MM" style="width: 40px;"/>
            </td>
            </tr>
        <tr>
            <th>To Date:</th>
            <td><input type="text" id="PROCESSED_TO_DATE" name="PROCESSED_TO_DATE" class="datepick" value="YYYY-MM-DD"/>
                <input type="text" id="PROCESSED_TO_HOUR" name="PROCESSED_TO_HOUR" maxlength="2" value="HH" style="width: 40px;"/>:
                <input type="text" id="PROCESSED_TO_MINUTE" name="PROCESSED_TO_MINUTE" maxlength="2" value="MM" style="width: 40px;"/>
            </td>
        </tr>
	</table>
</form>

