<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Partner ID</th>
			<td><input type="text" id="partner" name="partner"/></td>
		</tr>
		<tr>
			<th>Trading Name</th>
			<td><input type="text" id="trading_name" name="trading_name"/></td>
		</tr>
		<tr>
			<th>New Company Name</th>
			<td><input type="text" id="new_company" name="new_company"/></td>
		</tr>
	</table>
</form>

