<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Partner ID:</th>
				<td><input type="text" id="partner" name="partner" value="XXXX"/></td>
		</tr>
		<tr>
			<th>From Date:</th>
				<td><input type="text" id="date1" name="date1" class="datepick" value="YYYY-MM-DD"/></td>
			<th>To Date:</th>   
				<td><input type="text" id="date2" name="date2" class="datepick" value="YYYY-MM-DD"/></td>
		</tr>
	</table>
    <input type="hidden" id="userid" name="userid" value="<?= USER::get_default_instance('id') ?>"/>
    <input type="hidden" id="username" name="username" value="<?= ucwords(str_replace('.',' ',USER::get_default_instance('username'))) ?>"/>
</form>

