<table>
    <tr>
        <th width="100px">Partner</th>
        <td><?= el(new Partner, "PARTNER_ID")?></td>
        <td>
            <input type="hidden" value="xls" id="required_format" />
            </input>
        </td>
    </tr>
</table>