<form method="POST" target="_blank">
    <table>
        <tr>
            <th>Previous Network Name:</th>
            <td><?php  $choice = Choice::factory( );
					$choice->setSource( "select id, networkName from feebase.tblnetworks  order by networkName" );
                echo el::dropdown( "prevNetworkVal", $choice->get_choices()); ?>
            </td>
        </tr>
    </table>
</form>


