<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Staff Member:</th>
			<td><?php  $choice = Choice::factory( );
					$choice->setSource( "select ".USR_TBL.".id, CONCAT(first_name, ' ', last_name) from ".USR_TBL." ".
                                        "where active = '1' and id not in (62,63,80) ".
                                        "order by first_name, last_name" );
					echo el::dropdown( "userid", $choice->get_choices()); ?>
			</td>
		</tr>
	</table>
</form>


