<p>
  This text is Report-specific, allowing you to comment on the
  report that will be generated, etc.
</p>

<table>
  <tr>
    <th width="100px">Partner</th>
    <td><?= el( new Partner, "partner" ) ?></td>
  </tr>
  <tr>
    <th>Provider</th>
    <td><?= el( new Issuer, "issuer" ) ?></td>
  </tr>
</table>




