<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Staff Member:</th>
			<td><?php  $choice = Choice::factory( );
					$choice->setSource( "select ".USR_TBL.".id, CONCAT(first_name, ' ', last_name) from ".USR_TBL." ".
                                        "where active = '1' and id not in (62,63,80) ".
                                        "order by first_name, last_name" );
					echo el::dropdown( "Adviser_Virtue", $choice->get_choices()); ?>
			</td>
		</tr>
        <tr>
            <th>Workflow Step:</th>
            <td><?php  $choice = Choice::factory( );
					$choice->setSource( "select stepid, stepdesc from feebase.workflow_step where processID = 15 order by stepid" );
                    echo el::dropdown( "step", $choice->get_choices()); ?>
            </td>
        </tr>
        <tr>
            <th>From Date:</th>
            <td><input type="text" id="date1" name="date1" class="datepick" value="YYYY-MM-DD"/></td>
            <th>To Date:</th>
            <td><input type="text" id="date2" name="date2" class="datepick" value="YYYY-MM-DD"/></td>
        </tr>
	</table>
</form>


