<script type="text/javascript">

    $( function( ){

        var frame = $( "#<?=_LINK?>" );

        window.pop = frame.popup_config({
            title: 'Transfer Clients to Virtue Agency',
            center: true
        });

        $(frame).on("click", "#submit", function(){
            $('<div></div>').appendTo('body')
                .html('<div><h4>Please confirm that you have run the report before you execute this update</h4></div>')
                .dialog({
                    modal: true, title: 'Confirmation', zIndex: 10000, autoOpen: true,
                    width: 'auto', resizable: false,
                    buttons: {
                        Confirm: function () {

                                $.ajax({
                                    'url': "<?=Virtue::index_url(array('id'=>$virtue, 'do'=>'provider_letter_date'))?>",
                                    'type': "GET",
                                    'dataType': "json",
                                    'data': {
                                        partner: $("#partner").val(),
                                        from_date: $("#date1").val(),
                                        to_date: $("#date2").val()
                                    },
                                    'success': function( r ){
                                        if(r.error){
                                            $("#status", frame).removeClass().addClass("bad_news").html(r.error);
                                        }
                                        else if(r.status){
                                            setTimeout(
                                                    function()
                                                    {
                                                        $("#status", frame).removeClass().html("&nbsp;");
                                                        $("#submit", frame).removeAttr("disabled");
                                                    }, 3000);
                                            $("#status", frame).removeClass().addClass("good_news").html(r.status);
                                            $("#submit", frame).attr("disabled", "disabled");
                                        }
                                    }
                                });

                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        });



    });
</script>

<style type="text/css">
#update_date_submit{
    margin-top:40px;
}
</style>

<form method="POST" target="_blank">
	<table>
		<tr>
			<th>Partner IDs:</th>
				<td><input type="text" id="partner" name="partner" placeholder="(1234, 5678)"/></td>
		</tr>
	</table>
    <input type="hidden" id="userid" name="userid" value="<?= USER::get_default_instance('id') ?>"/>
    <input type="hidden" id="username" name="username" value="<?= ucwords(str_replace('.',' ',USER::get_default_instance('username'))) ?>"/>

    <div id="update_date_submit" name="update_date_submit">
        <p>
            <input type="submit" id="submit" name="submit" value="Update 'Letter sent to Provider' Date on Virtue System">
            <span id="status">&nbsp;</span>
        </p>
    </div>

</form>