<script type="text/javascript">
$( function( ) {

	var form = $( "div#<?=_LINK?>" );

	var milestone_popup = form.popup_config({
		"center" : true,
		"title" : "Correspondence Milestone!"
	});


});
</script>

<style type="text/css">
    #<?=_LINK?> {
        width: 600px;
        font-size: 10pt;
        text-align:center;
    }

    #content{
        padding: 0 20px;
    }
</style>

<div id="<?=_LINK;?>">

    <div id="content">
        <h2>Well Done <?= $user->staff_name(); ?>!</h2>

        <h1>You have now processed <?=$count?> pieces of correspondence today!</h1>
        <br />

        <p><?= Correspondence::motivational_image(); ?></p>

        <h2>Keep up the good work!</h2>
    </div>

</div>