<tr>
  <td><?=$correspondence->link("$correspondence")?></td>
  <?php if(!in_array("client",$excludes)){ ?>
  <td><?=$correspondence->client->link()?></td>
  <?php }
     if( !in_array("policy",$excludes)){ ?>
  <td><?=$correspondence->policy->link()?></td>
  <?php }
     if( !in_array("issuer",$excludes)){ ?>
  <td><?=$correspondence->policy->issuer->link()?></td>
  <?php } ?>
  <td style="text-align:center;"><?=$correspondence->sender->staff_name()?></td>
  <td style="text-align:center;"><?=$correspondence->date?></td>
  <td style="text-align:center;"><?=$correspondence->id()?></td>
  <td style="text-align:center;">
    <?php $exists = $correspondence->scan_exists(false, false); ?>
    <?php if(is_bool($exists)): ?>
      <img src="<?= el::image( $exists ? 'tick.png' : 'cross.png' ) ?>">
    <?php else: ?>
      <?= $exists ?>
    <?php endif; ?>
  </td>
</tr>
<?php if( !in_array("message",$excludes)): ?>
<tr>
	<td colspan="7"><?=$correspondence->message()?></td>
</tr>
<?php endif; ?>
