<tr>
	<td class="merge_request">
		<input id="<?= $policy->id?>" type="checkbox"/>
		<?=
			($wf = $policy->outstanding_workflow(3))
		? el::bt( "<img src=".el::image("wf.png")." alt='workf'>",false, "href='".$wf->get_common_url(array('id'=>$wf->id(),'get'=>"profile"))."' class='workflow'" )
		: "&nbsp;"
		?>
		<?=
			( $nb = $policy->has_newbusiness() )
		? el::bt( "<img src=".el::image("newbus.png")." alt=nb>", false, "href='".NewBusiness::get_common_url(array('get'=>'profile','id'=>$nb->id()))."' class='new_business'" )
		: "&nbsp;"
		?>
	</td>
	<td id="<?=$policy->id?>" class="policy_num">
		<?= $policy->link($policy)?>
	</td>
	<td><?= $policy->issuer->link()?></td>
	<?php if( !in_array("client",$excludes) ){ ?><td class="client_name" id="<?= $policy->client->id ?>"><?= $policy->client->link('$one->surname ($id)')?></td><?php } ?>
	<?php if( !in_array("type",$excludes) ){ ?><td class="policy_type"><?= $policy->type ?></td><?php } ?>
	<?php if( !in_array("partner",$excludes) ){ ?><td><?= $policy->client->partner->link('$surname ($id)') ?></td><?php } ?>
    <?php if( !in_array("status",$excludes) ){ ?><td><?= $policy->status ?></td><?php } ?>
	<?php if( !in_array("owner",$excludes) ){ ?>
        <td>
            <!-- ?= el($policy->owner) ?-->
            <?= $policy->getOwnerAttribute($policy->owner()) ?>
            <div class="owner_saved<?= $policy->id()?>">&nbsp;</div>
        </td>
    <?php } ?>
</tr>