<script type="text/javascript">
    $(function(){

        var form = $("#<?=_LINK?>");

        var pop = form.popup_config({
            title: "New Multiple Client Policy for <?=$partner->__toString();?>",
            center: true
        });

        var loadingSpinner = $("img#spinner_pol");
        var loading_status = $("span#loading_status");
        loadingSpinner.hide();
        loading_status.hide();

        var dupeTable = $("table#dupes",form);
        var ignoreDupes = $(":checkbox#ignoreDupes",form);
        var numberField = $("<?=$policy->number->get_html_id(false,Field::HTML_ID_JQUERY)?>");
        var warning = $(".notification",form);
		
		// Disable unique policy checkbox unitl predupe search is run
		$(ignoreDupes).attr("disabled","disabled");

        numberField.change(function(){
            ignoreDupes.attr("checked",false);
        });

        var abort = false;

        saveProfileStatusSpan( form,{
            before: function( ){
			
				// Enable unique policy checkbox after predupe search
				$(ignoreDupes).removeAttr("disabled");

                if( form.xhr != null ){
                    abort = true;
                }

                if (ignoreDupes.is(":checked") == false && abort != true) {

                    form.xhr = $.ajax({
                        url: "<?=Policy::index_url()?>",
                        type: "GET",
                        data: {
                            do: "fes_multiple_client_dedup",
                            id: "<?=$partner->id();?>",
                            number: numberField.val()
                        },
                        dataType: "html",
                        success: function( r ){

                            r = json_decode(r);
                            loadingSpinner.hide();
                            loading_status.hide();

                            $(this).removeAttr("disabled");

                            $("tbody:last",dupeTable).html(r.data);

                            if( $("tbody:last tr",dupeTable).length > 0 ){

                                warning.slideDown("fast");

                            } else {
                                form.trigger("submit",[true]);
                            }
                        }
                    });

                }else{
                    $.get(
                        "<?=Correspondence::index_url(array('do'=>'add_multiple_policy', 'partner'=>$partner->id()))?>&issuer="+$("#policy\\[issuer\\]").val(),
                        function( r ){
                            r = json_decode(r);
                            if (r.error == false) {
                                loading_status.html(r.status).css("color", "green").css("font-style", "normal").removeClass().addClass("good_news");
                                $("#multiple_clients-search").click();
                                pop.close();
                            }else{
                                loading_status.html(r.status).css("color", "red").css("font-style", "normal").removeClass().addClass("bad_news");
                            }
                            loadingSpinner.hide();
                        }
                    );
                }


                
                return false;
            }
        });

        $(":submit").on("click", function(){
            loadingSpinner.show();
            loading_status.show();
        });

        // set default policy type to unknown and disable
        $("select#policy\\[type\\]").val('17').attr("disabled", "disabled");

    });
</script>

<style type="text/css">
form#<?=_LINK?> {
    width: 650px;
}
form#<?=_LINK?> table.scrollable div.scroll {
    height: 100px;
    font-size: 9pt;
}
#loading_status{
    font-style: italic;
    color:orange;
}
</style>

<form id="<?=_LINK?>" name="<?=_LINK?>">
    <span><img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/><span id="loading_status">
        Please wait, this may take up to a minute..
    </span></span>

  <table>
    <tr>
      <th width="125px">Number</th>
      <td><span class="required">
          <span class="input string">
              <input type="text" id="policy[number]" name="policy[number]" value="multiple clients" disabled="disabled">
          </span>
      </span>
      </td>
    </tr>
    <tr>
      <th>Type</th>
      <td><?= el($policy->type, false, false, false, false, false, "instant") ?></td>
    </tr>
    <tr>
      <th>Issuer</th>
      <td><?= el($policy->issuer) ?></td>
    </tr>
  </table>

  <br />

  <div class="notification bad_news static" style="font-size:10pt;">
    The following potential duplicates have been found, please review them and
    then confirm whether you'd still like to add this policy by ticking the box
    below the table.
  </div>

  <table id="dupes" name="dupes" class="scrollable">
    <thead>
      <tr>
        <th width="33%">Number</th>
        <th>Issuer</th>
        <th>Client</th>
        <th>Partner</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <p align="right">
    <span class="status">&nbsp;</span>
    <input type="checkbox" id="ignoreDupes" name="ignoreDupes"/>
    <label for="ignoreDupes">This is a unique policy</label>
    <input type="submit" value="Save Policy"/>
  </p>

    <input type="hidden" id="partner" name="partner" value="<?=$partner->id();?>">
</form>