<?php
    $MAIL_PLUGIN_ID = random_string(15);
    if (!isset($excludes)) {
        $excludes = [];
    }
?>

<style type="text/css">
    #<?= $MAIL_PLUGIN_ID ?> #search {
        width: 50%;
    }
    #<?= $MAIL_PLUGIN_ID ?> #status {
        display: none;
    }
</style>

<script type="text/javascript">
var ROW_LIMIT = 25;
$(function() {
    /*
     This plugin prepares a standard interface for viewing correspondence
     at a specific level ( client, policy etc. ), with support for search.
     */

    var form = $("form#<?= $MAIL_PLUGIN_ID ?>");
    var search_field = $(":text#search", form);
    var loadingSpinner = $("img#spinner", form);

    var table = $("table.scrollable", form);

    var page_number = $(form).find("select#page_number");
    var status_box = $(form).find("span#status");
    var orders = [];
    var pluginInited = false;
    var ORDER_ASC = "<?=Search::ORDER_ASCEND?>";
    var ORDER_DESC = "<?=Search::ORDER_DESCEND?>";

    table.bind("getMailItems", function(event, reset_plugin) {

        pluginInited = true;

        if ('xhr' in table && table.xhr != null) {
            // cancel existing request
            table.xhr.abort();
        }

        if (reset_plugin) {
            $(table[0].content).html("");
            page_number.html("");
        }

        status_box.text("Loading...").css("color", "#000").fadeIn("fast");

        table.xhr = $.ajax({
            type: "GET",
            url:  "<?=Correspondence::get_public_dir()?>",
            data: {
                'search': search_field.val(),
                'filter': <?= json_encode($filter) ?>,
                'excludes': <?= json_encode($excludes) ?>,
                'limit': ROW_LIMIT,
                'offset': page_number.val() * ROW_LIMIT,
                'order': orders
            },
            success: function( r ){
                try {
                    r = json_decode( r );
                    $( table[0].content ).append( r.src );

                    if ($("tr",table[0].content ).length < 1) {
                        status_box.text("No items found").css("color", "red").show();
                        return;
                    }

                    if (reset_plugin) {
                        var nPages = Math.ceil( r.total / ROW_LIMIT );
                        for (var i=0; i<nPages; i++) {
                            page_number.append("<option value='"+i+"'>"+( i+1 )+"</option>");
                        }

                        page_number.attr( "disabled", ( nPages == 0 ) );
                    }
                    status_box.fadeOut();
                } catch(e) {
                    status_box.text("Error: " + e).css("color", "red").show();
                }
            },
            error: function( xhr, msg ){
                status_box.text("Error: " + msg).css("color", "red").show();
            },
            complete: function( xhr, msg ){
                table.first_load = true;
                table.xhr = null;
                loadingSpinner.hide();
            }
        });
    });

    table.bind("onshow", function (event) {

        if (!$(table).hasClass("has_onshow")) {
            return false;
        }

        if (!pluginInited) {
            $(table).trigger("getMailItems", [true]);
        }
    });

    //Needed due to bootstrap tabs being used, tabs no longer have the same structure as before which affects lazy loading
    $(".mail-tab").each(function(){
        $(this).click(function(){
            table.addClass("has_onshow");
            table.trigger("onshow");
        });
    });

    table.bind("hitScrollBottom", function () {

        if (table.xhr != null) {
            return false;
        }

        if (parseInt(page_number.val(), 10) >= parseInt($("option:last", page_number).val(), 10)) {
            // User has reached the last page
            status_box.text("End of list reached").fadeIn().delay(2000).fadeOut();
            return false;
        }

        page_number.val(parseInt($("option:selected", page_number).val()) + 1);
        table.trigger("getMailItems");
    });

    page_number.change(function () {
        $(table[0].content).html("");
        table.trigger("getMailItems");
    });

    form.submit(function() {
        table.trigger("getMailItems", [ true ] );
        return false;
    });

    $("thead th[data-sort]", table).click(function () {

        /*
         Rather than just sorting what's already loaded, this sort
         is going to request a new ordered result-set. This has
         obvious overhead implications, but is a more intuitive
         mechanism.
         The list can be sorted on multiple columns using a multidimensional
         array which specifies the column to sort by and the direction in
         which to do so. Columns are added/removed and their directions toggled
         as such:
         1st click = primary sort ascending
         2nd click = primary sort descending
         3rd click = no longer sort by column

         Subsequent sorts push preceding ones further down the list, with the most
         recent taking place of primary sort in the resultant query. Clicking a column
         places/returns it's associated sort to the top of the heap.
         */

        var sortKey = $(this).attr("data-sort");
        var order = [sortKey, ORDER_ASC];

        // empty existing list ( nb. this also stunts standard sort which I
        // didn't manage to override with Jquery unbind()
        $(table[0].content).html("");

        // examine ordering array for existing sort on this column
        for (var i = 0; i < orders.length; i++) {

            if (orders[i][0] == sortKey) {
                // column already sorted on, take element from array
                order = orders.splice(i, 1).pop();

                if (order[1] == ORDER_ASC) {
                    // user has already sorted ascending, switch to descending.
                    order[1] = ORDER_DESC;
                } else {
                    // user has sorted ascending + descending, now remove
                    // param from ordering array.
                    order = null;
                }

                break;
            }
        }

        if (order != null) {
            // if order is still intact, make primary sort
            orders.unshift(order);
        }

        table.trigger("getMailItems", [true]);
    });

    $("#nb-comm-tab").click(function(){
        table.trigger("onshow");
    });
});
</script>

<form id="<?= $MAIL_PLUGIN_ID ?>" name="<?= $MAIL_PLUGIN_ID ?>">

    <p id="corr_search_bar">
        Search
        <?=el::txt( "search" )?> &nbsp;
        <span id="range" name="range"></span>
        <img id="spinner" name="spinner" src="/lib/images/inline-ajax.gif"/>
    </p>

    <table id="mail-plugin-tbl" class="scrollable">
        <thead>
        <tr>
            <th data-sort="subject">Subject</th>
            <?php
                if( !in_array( "client", $excludes ) ){ ?>
                    <th data-sort="client->NAME_ORDER">Client</th>
                <?php }
                if( !in_array( "policy", $excludes ) ){ ?>
                    <th data-sort="policy->number">Policy</th>
                <?php }
                if( !in_array( "issuer", $excludes )){ ?>
                    <th data-sort="policy->issuer->name">Provider</th>
                <?php } ?>
            <th style="text-align:center;">Sender</th>
            <th data-sort="date" class='date' style="text-align:center;">Date</th>
            <th data-sort="id" style="text-align:center;">ID</th>
            <th style="width:20px;">Scanned</th>
        </tr>
        </thead>

        <tbody class="content"></tbody>

    </table>

    <p align="right" style="margin:0; margin-top: 3px;">
        <span id="status" name="status">&nbsp;</span>
        <select id="page_number" name="page_number">
        </select>
    </p>

</form>
