<?php $scan_exists = $correspondence-> scan_exists($correspondence-> get_path());?>

<style type="text/css">
div#<?=_LINK?> {
   width: 1300px;
}
.table-responsive {
    margin: 0;
    padding: 0;
    max-height: 450px;
}
</style>

<script type="text/javascript">
    $(function () {

        var pop = $("#<?=_LINK?>").get_popup();
        pop.setTitle("Correspondence Profile");
        $(pop).center();

        $("#log > tbody").load("/pages/correspondence/index.php?id=<?=$correspondence->id?>&do=log");
    });
</script>

<div id="<?= _LINK ?>" name="<?= _LINK ?>">

    <div class="alert alert-primary" role="alert">
        <i class="fa fa-info-circle"></i>
        Please note that the log only applies to correspondence items added after 23/08/2008.
        Also, entries listed may be due to the item being downloaded by the user rather than read.
    </div>

    <div class="card-deck">

        <div class="card">
            <div class="card-header">
                Summary
            </div>
            <table width="400px" class="table table-striped">
                <tr>
                    <th>ID</th>
                    <td><?= $correspondence->id ?></td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td><?= $correspondence->date ?></td>
                </tr>
                <tr>
                    <th>Subject</th>
                    <td><?= $correspondence->subject ?></td>
                </tr>
                <tr>
                    <th>Message</th>
                    <td valign="top"><?= $correspondence->message ?></td>
                </tr>
                <tr>
                    <th>Provider</th>
                    <td><?= $correspondence->policy->issuer->link() ?></td>
                </tr>
                <tr>
                    <th>Partner</th>
                    <td><?= $correspondence->partner->link() ?></td>
                </tr>
                <tr>
                    <th>Client</th>
                    <td><?= $correspondence->client->link() ?></td>
                </tr>
                <tr>
                    <th>Policy</th>
                    <td><?= $correspondence->policy->link() ?></td>
                </tr>
                <tr>
                    <th>Sender</th>
                    <td><?= $correspondence->sender->staff_name() ?></td>
                </tr>
            </table>
        </div>

        <div class="card">
            <div class="card-header">
                Log
            </div>
            <div class="table-responsive">
            <table id="log" class="table table-striped ">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>User Name</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </div>
        </div>
    </div>

</div>
