<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Subject</th>
      <th>Message</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <?php
      while( $item = $items -> next( ) ) {
      ?>
    <tr>
      <td><?= date( "d/m/Y g:ia", $item -> date -> unix ) ?></td>
      <td><b><?= $item -> subject ?></b></td>
      <td><?= truncate( $item -> message, 25 ) ?></td>
      <td><?= el::bt( "View" ) ?></td>
    </tr>
    <tr>
      <td><?= $item -> client -> link( ) ?></td>
      <td><?= $item -> policy -> link( ) ?></td>
      <td><?= $item -> policy -> issuer ?></td>
    </tr>
      <?php
      }
    ?>
  </tbody>
</table>