<?php
    $weekend_staff = User::get_default_instance('weekend_staff');
    $user_id = User::get_default_instance('id');

	$x=0;
	$y=0;

	$date_mod =[];

    if (isset($date_time)) {
        foreach ($date_time as $item) {
            $date_mod[$y] = date("d/m/Y H:i:s", $item);
            $y = $y +1;
        }
    }


	foreach ($correspondence as $item) {

        if ($weekend_staff && $user_id != 166) {
            $checkboxes = $flag = "";
        } else {
            $flag = "<button id='".$item."' class='move' title='Move to &apos;Flagged&apos; folder'><i class='fa fa-flag'></i></button>&nbsp;";
            $checkboxes = "&nbsp;<input type='checkbox' id='".$item."' name='".$item."' value='".$item."' class='reassign_checkbox'></td>";
        }

        // get file statistics
		$stat = stat( CORRESPONDENCE_PENDING_SCAN_DIR.$queue."/".$item );
		// get modified time of file
		$ctime = $stat["mtime"];
        // convert timestamp to human readable date/time
		$time_scanned = date("d/m/Y H:i:s", $ctime);


        $json = "";
        $policy_guess = false;
        $subject_guess = false;

        $file = CORRESPONDENCE_PENDING_SCAN_DIR.$queue."/".$item;

        if ($file) {
            // turn file path string into array so we can modify
            $file_path_array = explode('/', $file);

            if ($file_path_array) {
                // add output-json into array in position
                array_splice($file_path_array, (CORR_JSON_PATH_POSITION-1), 0, ['output-json']);
                // implode back to file path string
                $new_file_path = implode('/',$file_path_array);

                if ($new_file_path) {
                    // replace extension of file we are viewing
                    $file_str = str_replace('pdf', 'json', $new_file_path);
                    // check if we have a json file with predicted policy number in it
                    if (file_exists($file_str)) {
                        $policy_guess = true;
                    }
                    $file_str = str_replace('.pdf', '-subjects.json', $new_file_path);
                    if (file_exists($file_str)) {
                        $subject_guess = true;
                    }

                    if ($subject_guess && $policy_guess) {
                        $json = "<i class='fa fa-lightbulb-o' title='Possible policy match and subject suggested'></i>";
                    } else if (!$subject_guess && $policy_guess) {
                        $json = "<i class='fa fa-lightbulb-o' title='Possible policy match suggested'></i>";
                    } else if ($subject_guess && !$policy_guess) {
                        $json = "<i class='fa fa-lightbulb-o' title='Possible subject suggested'></i>";
                    }
                }
            }
        }


		echo "<tr>";
			echo"<td id='item_column'>".$item." ".$json."</td>";
			echo"<td>".$time_scanned."</td>";
			echo"<td><button id='".urlencode($item)."' class='process'>Process Correspondence</button></td>";
			echo"<td><button id='".urlencode($item)."' class='delete-row' title='Remove item'><i class='fa fa-trash'></i></button>";
			echo $flag;
			echo $checkboxes;
        echo "</td></tr>";
		$x = $x +1;
	}

	if (empty($correspondence)) {
		echo "<tr><td>There are currently no correspondence items to view for this queue.</td></tr>";
	}
?>
<script type="text/javascript">
$(function(){

	// if flagged queue do not display button to move to flagged queue or check boxes for re-assigning
	if ($("#corr_queue").val() == 99 || $("#corr_queue").val() == 98) {
		$(".move").remove();
	}

	if ("<?=$corr_admin?>" != true) {
		$(".reassign_checkbox").remove();
	}


	//ensure that at least one item of correspondence is selected before re-assigning to a different queue
	$(".re-assign").prop('disabled', true);
	$('[type="checkbox"]').change(function() {
		if( $("[type='checkbox']:checked").length != 0){
			$(".re-assign").prop('disabled', false);
		}else{
			$(".re-assign").prop('disabled', true);
		}
	});
});
</script>