<?php
	$x=0;
	$y=0;

	$date_mod = [];

	foreach ($correspondence as $item) {

        $s = new Search( new FlaggedCorrespondence );
        $s->eq('file_name', $item);
        $s->add_order('id', 'DESC');
        $s->limit(1);

        if( $c = $s->next( MYSQLI_ASSOC  ) ){
            $flagged_by = $c->user;
            $flagged_when = $c->flagged_when;
        }

		echo "<tr>";
			echo "<td id='item_column'>".$item."</td>";
			echo "<td>".ucwords(str_replace("."," ",$flagged_by)) ." - ".$flagged_when."</td>";
			echo "<td><button id='".urlencode($item)."' class='process'>Process Correspondence</button></td>";
			echo "<td><button id='".urlencode($item)."' class='delete'></button>";
			echo "<button id='".urlencode($item)."' class='move' title='Move to &apos;Flagged&apos; folder'>Flag</button>&nbsp;";
			echo "&nbsp;<input type='checkbox' id='".urlencode($item)."' name='".$item."' value='".$item."' class='reassign_checkbox'></td>";
		echo "</tr>";
		$x = $x +1;
	}

	if(is_countable($item) && count($item) == 0){
		echo "<tr><td>There are currently no correspondence items to view for this queue.</td></tr>";
	}
?>
<script type="text/javascript">
$(function(){

	// if flagged queue do not display button to move to flagged queue or check boxes for re-assigning
	if($("#corr_queue").val() == 99 || $("#corr_queue").val() == 98 || $("#corr_queue").val() == 96){
		$(".move").remove();
	}

    var allSelected = false;

	//ensure that at least one item of correspondence is selected before re-assigning to a different queue
	$(".re-assign").prop('disabled', true);
	$(".delete-corr").prop('disabled', true);
	$('[type="checkbox"]').change(function() {
		if( $("[type='checkbox']:checked").length != 0){
			$(".re-assign").prop('disabled', false);
            $(".delete-corr").prop('disabled', false);
		}else{
			$(".re-assign").prop('disabled', true);
            $(".delete-corr").prop('disabled', true);
		}

		if($("[type='checkbox']:checked").length == $("[type='checkbox']").length){
		    allSelected = true;
		    $(".select-all").text("Unselect All");
		} else {
		    allSelected = false;
            $(".select-all").text("Select All");
		}
	});

	$(".select-all").click(function(e){
	    e.preventDefault();

	    allSelected = !allSelected;

	    if (allSelected){
            $(this).text("Unselect All");
            $(".re-assign").prop('disabled', !allSelected);
            $(".delete-corr").prop('disabled', !allSelected);
		} else {
            $(this).text("Select All");
            $(".re-assign").prop('disabled', !allSelected);
            $(".delete-corr").prop('disabled', !allSelected);
		}

	    //select all checkboxes
		$('[type="checkbox"]').each(function(){
		    $(this).prop("checked", allSelected);
		});
	});

	$(".delete-corr").click(function(e){
	    e.preventDefault();

		var selected = [];
        //add id/filename for selected items to array
        $('input:checked').each(function() {
            selected.push($(this).attr('id'));
        });

        if(selected.length < 1){
            alert("Please select at least 1 file to delete.");
        }

        if(confirm("Delete all selected files?")){
            var flagged_dir = $("#corr_queue :selected").val();

            $.ajax({
                url: "pages/correspondence/index.php?do=delete-range",
                type: "GET",
                data: {
                    files:selected,
					dir: flagged_dir
                },
				beforeSend: function(){
                  	$("#corr_status").removeClass("bad_news").html("<i class='far fa-spinner fa-spin'></i> Deleting " + selected.length + " items, please wait, the table will refresh when finished");
				},
                success: function( r ){

                    r = json_decode(r);

                    $("#corr_status").removeClass("bad_news").addClass("good_news").html(r.status);

                    setTimeout(function(){
                        $( "div#content_window" ).load( "/pages/correspondence/?do=home",
                            function(  ){
                                $( this ).trigger( "load" );
                            }
                        );
					}, 1000);

                }
            });
		}
	});
});
</script>