<style type="text/css">
    #content_window div.scroll {
        height: 400px;
    }
    #<?=_LINK?> form th {
        padding-left: 20px;
        width: 100px;
    }

    #tracking_tbl > tbody > tr > td > .scroll > table > tbody > tr > td:not(:first-child) {
        text-align: center;
    }

    #corr_paging{
        float:right;
    }

    #search_tab > div > form > table > tbody > tr{
        width:50px !important;
    }

    @media only screen and (max-width: 1025px) {
        #search_tab > div > form > table > tbody > tr > th{
            padding-left: 0 !important;
        }

        #content_window div.scroll {
            height: 300px;
        }

        #search_tab >  table {
            width:95%;
        }
        #search_tab >   input[type=text], textarea, select {
            width:70%;
        }


        select#page_number{
            width:50px !important;
        }
        div.suggest {
            padding: 3px 0 0 0
        }
    }
</style>

<script type="text/javascript">
    $(function() {


    var frame = $("#<?=_LINK?>");
    var form = $("form", frame);
    var ajaxSpinner = $("img.spinner");
    var table = $("table#results", frame);


        ajaxSpinner.hide();



        form.submit(function () {

            var untilDate = $("#filter\\[until_date\\]\\[Y\\]").val() +
                    "-" + $("#filter\\[until_date\\]\\[M\\]").val() +
                    "-" + $("#filter\\[until_date\\]\\[D\\]").val();
            var fromDate = $("#filter\\[from_date\\]\\[Y\\]").val() +
                    "-" + $("#filter\\[from_date\\]\\[M\\]").val() +
                    "-" + $("#filter\\[from_date\\]\\[D\\]").val();

            $("tbody.content > tr", table).remove();
            $("span#search_max").empty().removeClass();

            if ($("#correspondence\\[policy\\]").next().val() == "") {
                $("#correspondence\\[policy\\]").val("");
            }
            if ($("#correspondence\\[client\\]").next().val() == "") {
                $("#correspondence\\[client\\]").val("");
            }
            if ($("#correspondence\\[partner\\]").next().val() == "") {
                $("#correspondence\\[partner\\]").val("");
            }
            if ($("#correspondence\\[issuer\\]").next().val() == "") {
                $("#correspondence\\[issuer\\]").val("");
            }


            /* issuer/partner suggest; when text was cleared out the select the objID still remained the value of the hidden text field
             which is used to pass the value through, this now empties the obj filter when user has removed it from the search */
            /* Also used for validating the partner and client parameters when passed through, prevents each parameter from equalling 0 or null */


            table.trigger("requestData");

            return false;

        });

        // submit form to search correspondence records
        table.bind("requestData", function () {
            $(".extra_column", table).remove();

            var untilDate = $("#filter\\[until_date\\]\\[Y\\]").val() +
                    "-" + $("#filter\\[until_date\\]\\[M\\]").val() +
                    "-" + $("#filter\\[until_date\\]\\[D\\]").val();
            var fromDate = $("#filter\\[from_date\\]\\[Y\\]").val() +
                    "-" + $("#filter\\[from_date\\]\\[M\\]").val() +
                    "-" + $("#filter\\[from_date\\]\\[D\\]").val();

            if($("#correspondence\\[subject\\]", frame).val() === "Portfolio Valuation" || $("#correspondence\\[subject\\]", frame).val() === "Portfolio Valuation - Elevate Only"){
                $("#subject_col",table).after("<th class='extra_column'>Review Type</th>");
            }

            ajaxSpinner.show();

            $.ajax({
                url: "/pages/correspondence/index.php",
                type: "GET",
                data: {
                    'do': "super_search",
                    corrid: $("input#corr_id").val(),
                    messagekey: $("input#messagekey").val(),
                    sender: $("select#userid").val(),
                    client: $("#correspondence\\[client\\]").val(),
                    partner: $("#correspondence\\[partner\\]").val(),
                    policy: $("#correspondence\\[policy\\]").val(),
                    subject: $("#correspondence\\[subject\\]").val(),
                    issuer: $("#correspondence\\[issuer\\]").val(),
                    limit: $("select#show_limit").val(),
                    from_date: fromDate,
                    until_date: untilDate
                },
                dataType: "json",
                success: function (r) {

                    if (r.error == null || r.error == false ) {

                        if (r.record_count == 0 || r.record_count == null ){
                            $("span#search_max").addClass("bad_news");
                            $("span#search_max").html( r.record_count + " results returned, please alter search terms ");
                            $('span#total_rows').html(0);
                            $('#page_number').empty();
                            ajaxSpinner.hide();
                        } else {

                            $("tbody.content", table).html(r.corr_list);
                            $('span#total_rows').html(r.record_count);
                            $("span#search_max").addClass("good_news");


                            $("span#search_max").html(r.record_count + " results returned");
                            ajaxSpinner.hide();

                            //populate page no. dropdown
                            $('#page_number').empty();
                            $.each(r.page_no, function (key, value) {
                                $('#page_number').append($("<option></option>")
                                        .attr("value", key).text(value));
                            });
                        }

                    }else if (r.error == true) {
                        $("span#search_max").addClass("bad_news");
                        $("span#search_max").html("Please ensure date range is no greater than one year");
                        $('span#total_rows').html(0);
                        $('#page_number').empty();
                        ajaxSpinner.hide();
                    }else if (r.error == "noinput") {
                        $("span#search_max").addClass("bad_news");
                        $("span#search_max").html(" Please fill in the date inputs");
                        $('span#total_rows').html(0);
                        $('#page_number').empty();
                        ajaxSpinner.hide();
                    }else {
                        $("span#search_max").addClass("bad_news");
                        $("span#search_max").html(" Error, please amend the search criteria");
                        $('span#total_rows').html(0);
                        $('#page_number').empty();
                        ajaxSpinner.hide();
                    }
                }
            });
        });

        //get new data when show limit is changed
        $("select#show_limit").on("change", function(){
            table.trigger("requestData");
        });

        // Get new data based on selected page number - Complete Tab
        $('select#page_number').on( "change",function( ) {
            /*var user_id = $("correspondence\\[user\\]").val();*/
            ajaxSpinner.show();
            var item = $(this);
            var untilDate = $("#filter\\[until_date\\]\\[Y\\]").val() +
                    "-" + $("#filter\\[until_date\\]\\[M\\]").val() +
                    "-" + $("#filter\\[until_date\\]\\[D\\]").val();
            var fromDate = $("#filter\\[from_date\\]\\[Y\\]").val() +
                    "-" + $("#filter\\[from_date\\]\\[M\\]").val() +
                    "-" + $("#filter\\[from_date\\]\\[D\\]").val();

            $.ajax({
                url: "/pages/correspondence/index.php?do=super_search&offset="+item.val(),
                type: "GET",
                data: {
                    corrid: $("input#corr_id").val(),
                    messagekey: $("input#messagekey").val(),
                    sender: $("select#userid").val(),
                    client: $("#correspondence\\[client\\]").val(),
                    partner: $("#correspondence\\[partner\\]").val(),
                    policy: $("#correspondence\\[policy\\]").val(),
                    subject: $("#correspondence\\[subject\\]").val(),
                    from_date: fromDate,
                    until_date: untilDate
                },
                dataType: "json",
                success: function (r) {
                    try {
                        $("tbody.content", table).html(r.corr_list);
//                        $("div.panel form input[type=submit] ").prop('disabled', false);

                    } catch (e) {
                        $("#dialog-message").html('Something went wrong, please contact IT');
                        $("#dialog-message").dialog({
                            modal: true,
                            title: "Error",
                            zIndex: 80,
                            buttons: {
                                OK: function () {
                                    $("#dialog-message").dialog("close");
                                }
                            }
                        });

                    }
                    ajaxSpinner.hide();
                }
            });
        });


    });

</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">


    <div id="search_tab" class='active'>
        <div class="panel">
            <h1>Search Correspondence</h1>
            <form>
                <table>
                    <tr>
                        <th>Date From</th>
                        <td><?= el(new Date(0),"filter[from_date]" )?></td>
                        <th>Date Until</th>
                        <td><?= el(new Date(0),"filter[until_date]") ?></td>
                        <th>Sender</th>
                        <td><?= $choice = Choice::factory( );
					        $choice->setSource( "select ".USR_TBL.".id, CONCAT(first_name, ' ', last_name) from ".USR_TBL." ".
                            "where id not in (62,63,80) ".
                            "order by first_name, last_name" );
                            echo el::dropdown( "userid", $choice->get_choices()); ?>
                        </td>
                    </tr>
                    <tr>
                        <th>Correspondence ID</th>
                        <td><input type="text" id="corr_id" ></td>
                        <th>Subject</th>
                        <td>
                            <select id="<?=$correspondence->subject->get_html_id()?>" name="<?=$correspondence->subject->get_html_id()?>">
                                <option value="default">-- Please select --</option>
                                <option disabled>----- CORRESPONDENCE -----</option>
                                <?= Correspondence::corrSubjects((isset($_GET['front_end'])) ?? 0, true, false, true, false) ?>
                                <option disabled>----- STANDARD LETTERS -----</option>
                                <?php
									$ls = new Search( new Letter );
									$ls->add_order("name", "ASC");
									while( $l=$ls->next() ){
                                ?>
                                <option><?=$l->name?></option>
                                <?php
								  }
								?>
                            </select>
                        </td>


                        <th>Message(keyword)</th>
                        <td><input type="text" id="messagekey" ></td>

                    </tr>
                    <tr>
                        <th>Policy</th>
                        <td><?=el($correspondence->policy,false,false,false,Policy::index_url(array('suggest'=>1)),DatabaseObject::ELEMENT_SUGGEST)?></td>
                        <th>Partner</th>
                        <td><?= el($correspondence->partner) ?></td>
                        <th>Client</th>
                        <td><?= el($correspondence->client) ?></td>
                    </tr>
                    <tr>
                        <th>Issuer</th>
                        <td><?=el($correspondence->policy->issuer, "correspondence[issuer]")?></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <img class="spinner" src="/lib/images/inline-ajax.gif" />
                            <input type="submit" value="Search" />
                            <button onclick="$(function(){ $('#results').export(); });"><img src="<?= el::image('table_go.png')?>" /></button>
                            <span id="search_max" name="search_max" class="status">&nbsp;</span>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <br/>
    </div>

    <!-- Create table to display details -->
    <table id="results" class="scrollable">
        <thead>
        <tr>
            <th>CorrID</th>
            <th>Date Added</th>
            <th id="subject_col">Subject</th>
            <th>Partner</th>
            <th>Client</th>
            <th>Sender</th>
            <th>Policy</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>


</div>

<div id="corr_paging">
    <p>
        <img class="spinner" src="/lib/images/inline-ajax.gif"/>
        <span id="status">&nbsp;</span> Total Correspondence: <span id="total_rows"></span> &nbsp; |&nbsp;
        Current Page: <select id="page_number" name="page_number"></select> |&nbsp;
        Show:
        <select id="show_limit" name="show_limit">
            <option value="50">50</option>
            <option value="100">100</option>
            <!-- number pulled from MySQL official docs (I know, right) -->
            <option value="18446744073709551615">All</option>
        </select>
    </p>
</div>
