<style type="text/css">
.popup #<?=_LINK?> {
   width: 1400px;
   height:700px;
}

#pdf_container{
    width:100%;
    height:700px;
    z-index:10;
}

.spot-check-checks li{
    margin-bottom: 5px;
}
</style>
<script>
    var frame = $("#<?=_LINK?>");

    var pop = frame.popup_config({
        title: "Spot Check: <?=$filename?>",
        center: true
    });

    $(".reject-spot-check").click(function(){
        if (confirm("This document will be permanently deleted from the server.\r\nYou can then rescan the correct document.\r\nReject the file?"))
        //delete the file from the server
        $.ajax({
            url: "/pages/correspondence/?do=delete",
            type: "GET",
            data: {
                id: "<?= $correspondence->id ?>",
                delete_file: true,
                filepath: "<?= $filepath ?>",
                filename: "<?= $filename ?>",
                spotcheck: 1
            },
            dataType: "JSON",
            success: function(r){
                if (!r.error){
                    //add spot checks onto previous item
                    $(".spot-check-item#<?= $correspondence->id ?>").closest("tr")
                        .prev("tr")
                        .find(".spot-check-item")
                        .addClass("has-spot-check")
                        .attr("disabled", false);

                    //add spot checks onto previous item
                    $(".spot-check-item#<?= $correspondence->id ?>").closest("tr")
                        .next("tr")
                        .find(".spot-check-item")
                        .addClass("has-spot-check")
                        .attr("disabled", false);

                    //remove this row from the table
                    $(".spot-check-item#<?= $correspondence->id ?>").closest("tr").remove();

                    pop.close();
                } else {
                    alert("Failed to delete item from the server. Try again, if the problem persists, contact IT");
                }
            }

        });

    });

    $(".accept-spot-check").click(function(){
        //add to the spot checked table
        $.ajax({
            url: "/pages/correspondence/?do=pass_spot_check",
            type: "GET",
            data: {
                id: "<?= $correspondence->id ?>"
            },
            dataType: "JSON",
            success: function(r){
                if (!r.error){
                    //add spot checks onto previous item
                    $(".spot-check-item#<?= $correspondence->id ?>").removeClass("has-spot-check")
                        .attr("disabled", true);

                    pop.close();
                } else {
                    alert("Failed to pass item during spot check. Try again, if the problem persists, contact IT");
                }
            }
        });

        //remove the class for this item
        $(".spot-check-item#<?= $correspondence->id ?>").removeClass("has-spot-check").attr("disabled", true);

        var spotItems = 0;
        //check if there are any more items for spot checking
        $(".spot-check-item").each(function(){
            if ($(this).hasClass("has-spot-check")){
                spotItems++;
            }
        });

        //if there are no remaining items to be spot checked
        if (spotItems == 0){
            $(".spot_check_upload").attr("disabled", false);
        }
        pop.close();
    });
</script>
<div id="<?= _LINK ?>" name="<?= _LINK ?>" class="row no-gutters">

    <div class="col-6">
        <object id="pdf_container" name="pdf_container" data="/pages/correspondence/?do=fe_scan&file=<?=$filepath?>" type="application/pdf" />
    </div>

    <div class="col-6">
        <div class="card m-3 p-3">
            <strong class="mb-3">Please confirm the following details are correct before uploading the document:</strong>
            <ol class="spot-check-checks">
                <li>Is this the correct coversheet?</li>
                <li>Does this item relate to the correct client/partner?</li>
                <li>Is the policy number correct?</li>
                <li>Does the item have the appropriate subject?</li>
                <li>Are there any missing pages?</li>
                <li>Is this a single item (no other items have been scanned to the same file by mistake)?</li>
                <li>Is the PDF of good quality?</li>
                <li>Is the scan straight?</li>
            </ol>
            <div class="row no-gutters text-center">
                <div class="col-6">
                    <button class="btn btn-lg btn-danger w-75 reject-spot-check" data-id="<?= $correspondence->id ?>"><i class="fas fa-times"></i> Reject</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-lg btn-success w-75 accept-spot-check" data-id="<?= $correspondence->id ?>"><i class="fas fa-check-double"></i> Accept</button>
                </div>
            </div>

        </div>
    </div>
</div>