<script type="text/javascript">
$( function( ) {

    var frame = $( "div#<?= _LINK ?>" );
    var popup = $( frame ).get_popup( );

    $( popup ).center( );
    popup.setTitle( "Viewing Scan..." );

}
</script>

<div id="<?= _LINK ?>" name="<?= _LINK ?>">

    

</div>