<div id="page-6" class="page form-page">

    <div style="width:100%;padding-bottom:100px;">
        <h1 class="left" style="width:100%;position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">
            BESPOKE CLIENT AGREEMENT
        </h1>
    </div>

    <div class="clear-fix"></div>

    <div class="content-two" style="margin-top:-40px">

        <div class="mandate-blurb">

            <p>I/We accept the terms of Client Agreement and Tariff versions PSLSJP2.2, acknowledge the
                responsibilities of each party and wish to become a Client/Clients of Policy Services Limited.</p>

            <h1 class="left" style="padding-top:20px;">Adviser Charging</h1>
            <p>As explained by my SJP Partner, where adviser charging is in place on my policies I acknowledge that:</p>
            <ol>
                <li>This may have an effect on my annual 5% tax deferred withdrawal limit on bonds.</li>
                <li>Selling assets to pay for an adviser charge may count as a disposal for capital gains tax purposes.</li>
            </ol>

            <p style="padding-top:20px;"><strong>All fields below are mandatory</strong></p>
        </div>

        <div>
            <table id="ca-table">
                <thead>
                <tr>
                    <th class="label-cell">&nbsp;</th>
                    <th>Client/POA (delete as appropriate)</th>
                    <th>Client/POA (delete as appropriate)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="label-cell">Title</td>
                    <td class="table-box"><?= ($params['client']->one->title()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->title()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">Forename(s)</td>
                    <td class="table-box"><?= ($params['client']->one->forename()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->forename()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">Surname</td>
                    <td class="table-box"><?= ($params['client']->one->surname()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->surname()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">DOB</td>
                    <td class="table-box"><?= ($params['client']->one->dob()) ? date("d/m/Y", strtotime($params['client']->one->dob())) : '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->dob()) ? date("d/m/Y", strtotime($params['client']->two->dob())) : '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">National Insurance No.</td>
                    <td class="table-box"><?= ($params['client']->one->nino()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->nino()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">LEI <span style="font-size:75%;">(for Companies, Trusts or Charities)</span> </td>
                    <td class="table-box"><?= ($params['client']->one->lei()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->lei()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">Address 1</td>
                    <td class="table-box"><?= ($params['client']->address->line1()) ?? '' ?></td>

                    <td class="table-box">
                        <?php if($params['client']->two->surname()): ?>
                            <?= ($params['client']->address->line1()) ?? '' ?>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">Address 2</td>
                    <td class="table-box"><?= ($params['client']->address->line2()) ?? '' ?></td>
                    <td class="table-box">
                        <?php if($params['client']->two->surname()): ?>
                            <?= ($params['client']->address->line2()) ?? '' ?>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">Address 3</td>
                    <td class="table-box"><?= ($params['client']->address->line3()) ?? '' ?></td>
                    <td class="table-box">
                        <?php if($params['client']->two->surname()): ?>
                            <?= ($params['client']->address->line3()) ?? '' ?>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">Postcode</td>
                    <td class="table-box"><?= ($params['client']->address->postcode()) ?? '' ?></td>
                    <td class="table-box">
                        <?php if($params['client']->two->surname()): ?>
                            <?= ($params['client']->address->postcode()) ?? '' ?>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">Nationality</td>
                    <td class="table-box"><?= ($params['client']->one->nationality()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->nationality()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">Residency</td>
                    <td class="table-box"><?= ($params['client']->one->residency()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->residency()) ?? '' ?></td>
                </tr>
                <tr>
                    <td class="label-cell">Telephone Number</td>
                    <td class="table-box"><?= ($params['client']->phone()) ?? '' ?></td>
                    <td class="table-box">
                        <?php if($params['client']->two->surname()): ?>
                            <?= ($params['client']->phone()) ?? '' ?>
                        <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">In order that Policy Services can communicate with me / us please send any notifications to the undernoted email
                        addresses. (Please provide a separate email address for each Client to this Agreement.)
                    </td>
                </tr>
                <tr>
                    <td class="label-cell">Email Address</td>
                    <td class="table-box"><?= ($params['client']->one->email()) ?? '' ?></td>
                    <td class="table-box"><?= ($params['client']->two->email()) ?? '' ?></td>
                </tr>
                </tbody>
            </table>
        </div>

        <h1 class="left" style="padding-top:20px;">Servicing Level</h1>
        <p>I/We have agreed a bespoke Service Level with our Partner whom I/We understand is responsible for ensuring that
            the servicing is carried out as per the below table.</p><br/>

        <p colspan="3">My/our agreed servicing rate is <?= isset($params['bespoke_percent']) && $params['bespoke_percent'] ? '<strong>'.$params['bespoke_percent'].'</strong>' : '............................ (add bespoke percentage)' ?></p>
        <div class="barcode barcode-client-agreement">
            <?= $params['barcode'] ?>
        </div>

        <div>
            <table>
                <tbody>
                <tr>
                    <td class="label-cell">Client Signature</td>
                    <td class="table-box">&nbsp;</td>
                    <td class="table-box">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label-cell">Date of Signature</td>
                    <td class="table-box">&nbsp;</td>
                    <td class="table-box">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="text-align: right"><strong><?= $params['partner']->agencyCode()."*".$params['partner']->id()."*"; ?></strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clear-fix"></div>

    <div class="page-footer">
        <?php include('footer_ca_mandate.html'); ?>
    </div>

    <div class="page-break"></div>
</div>

<div id="page-6.1" class="page form-page">

    <div style="width:100%;padding-bottom:100px;">
        <h1 class="left" style="width:100%;position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">
            ASPECTS OF SERVICE
        </h1>
    </div>

    <div class="clear-fix"></div>

    <div class="content-two" style="margin-top:-40px">
        <table class="t_c_table">
            <thead>
                <tr>
                    <th><h3>Aspect of Service</h3></th>
                    <th><h3>Provided By</h3></th>
                    <th><h3>Bespoke Service Level</h3></th>
                </tr>
            </thead>
            <tbody>
                <?php $i = 0; ?>
                <?php if($params['aspect_of_service']): ?>
                    <?php foreach($params['aspect_of_service'] as $aos): ?>
                        <?php $i++; ?>
                        <?php if($aos->title): ?>
                            <tr>
                                <td><?= $aos->title ?></td>
                                <td><?= $aos->provider ?></td>
                                <td><?= $aos->level ?></td>
                            </tr>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php for($i; $i < 15; $i++){ ?>
                    <tr>
                        <td>&nbsp;<br>&nbsp;</td>
                        <td>&nbsp;<br>&nbsp;</td>
                        <td>&nbsp;<br>&nbsp;</td>
                    </tr>
                <?php } ?>
            </tbody>
        </table>
        <p class="w-100" style="white-space: pre-wrap;"><?= $params['bespoke_add_info'] ?? '' ?></p>
    </div>

    <div class="clear-fix"></div>

    <div class="page-footer">
        <?php include('footer_ca_mandate.html'); ?>
    </div>

    <div class="page-break"></div>
</div>