<div id="page-checklist" class="page form-page">

    <h1 class="left" style="position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">MANDATE CHECKLIST</h1>

    <div class="clear-fix"></div>

    <div class="content-two" style="padding-top:100px;">
        <div class="mandate-blurb">

            <p>Please ensure when using these documents that this is your own mandate pack and not that of another SJP
                Partner who works within your office. Your SJP code is listed at the bottom right of each page and
                a Letter of Authority for you is incorporated within paragraph 3 of the mandates should you need to
                check this.</p>

            <p><strong>For any plans held within a group scheme please note we will only be granted information rights by
                    the provider unless the full scheme is transferred to Policy Services – To do so you must complete the
                    Group Scheme Mandate</strong></p>

            <h4 class="checklist_subheadings">Steps to follow for Completion of Clients and POA&apos;s</h4>

            <p>Please include client ID where possible as this would be beneficial.</p>

            <p>Please ensure you complete the enclosed forms as outlined below:</p>
            <ul>
                <li>T&amp;C&apos;s are to be left with Client/POA for future reference.</li>
                <li>Client agreement must contain a Servicing level and be signed and dated.</li>
                <li>All Fields must be completed (Full client address, DOB, NINO, Nationality, Residency etc) and be
                    signed and dated by all plan holders – Any part omitted will result in this being returned.</li>
                <li>All provider information must be completed with Full Policy Number and Policy Type.</li>
                <li>Where a POA is completing a Mandate on behalf of a client please send us a copy of the POA in
                    addition to the forms. If the POA is required to go to any concerned provider this must be the original
                    or a copy certified on every page.</li>
                <li>Ensure all originals are forwarded to Policy Services to be logged with the providers, one mandate
                    per provider is required. Please also refrain from printing double-sided as this will result in
                    refusal.</li>
                <li>The LEI (Legal Entity Identifier) needs to be completed for company owned policies/Charities or Trusts</li>
            </ul>

            <h4 class="checklist_subheadings">Steps to follow for Completion for Trustees</h4>

            <p>Please ensure you complete the enclosed forms as outlined below:</p>
            <ul>
                <li>T&amp;C&apos;s are to be left with Trustee for future reference.</li>
                <li>Please complete one Trustee Mandate per Trustee.</li>
                <li>If completing a Trustee mandate alone, please make reference to the original policy holder so this is
                    allocated to your account correctly.</li>
            </ul>

            <h4 class="checklist_subheadings">Useful points to remember:</h4>

            <ul>
                <li>Mandates for <strong>Phoenix Life</strong> must also include details of the original selling
                    company or include a copy of previous correspondence</li>
                <li>Mandates for <strong>Aviva</strong> must also include original selling company details or include a
                    copy of previous correspondence</li>
                <li><strong>Lombard</strong> – Require separate authorisation form (can be found on your
                    mypsaccount)</li>
                <li><strong>Standard Life</strong> – Policy Services currently do not hold an agency with Standard Life
                    – Please complete your own SJP Letter of authority if necessary</li>
                <li><strong>True Potential</strong> – Require both Plan number and Client reference otherwise they will
                    refuse acceptance</li>
            </ul>
        </div>

    </div>

    <div class="page-footer">
        <?php include('footer.html') ?>
    </div>

    <div class="page-break"></div>
</div>