<div id="page-checklist" class="page form-page">

    <h1 class="left" style="position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">SCHEME MANDATE CHECKLIST</h1>

    <div class="clear-fix"></div>

    <div class="content-two" style="padding-top:100px;">
        <div class="mandate-blurb">

            <p>Please ensure when using these documents that this is your own mandate pack and not that of another SJP
                Partner who works within your office. Your SJP code is listed at the bottom right of each page and
                a Letter of Authority for you is incorporated within paragraph 3 of the mandates should you need to
                check this.</p>

            <h4 class="checklist_subheadings">Steps to follow for completion of a scheme transfer</h4>

            <p>Please note, before following the below steps that in order to transfer any Scheme the wording on page
                7 of the Scheme mandate pack must be sent to the owning scheme for completion. In order to aid you to
                do this you can Print page 7 as a PDF and send to the transferring Scheme to be printed on the
                Scheme&apos;s headed paper. This must be signed and dated by all Scheme Administrators/Directors.
                Please note the format of this form must not be amended in order to ensure acceptance. A Group
                Scheme will only pay income based on how it was originally set up and we will only obtain full
                servicing if the full scheme is transferred by using this guide.</p>

            <p>Please ensure you complete the enclosed forms as outlined below:</p>
            <ul>
                <li>T&amp;C&apos;s are to be left with Scheme for future reference.</li>
                <li>Client agreement must contain a Servicing level and be signed and dated by all Directors/Scheme
                    Administrators</li>
                <li>All Fields must be completed (Full Scheme address etc) and be signed and dated by all
                    Directors/Scheme Administrators – Any part omitted will result in this being returned to you.</li>
                <li>All provider information must be completed with Full Scheme number.</li>
                <li>Ensure all originals are forwarded to Policy Services to be logged with the providers, one mandate
                    per provider is required. Please also refrain from printing double-sided as this will result
                    in refusal.</li>
            </ul>

            <h4 class="checklist_subheadings">Useful points to remember:</h4>

            <ul>
                <li>Mandates for <strong>Phoenix Life</strong> must also include details of the original selling
                    company or include a copy of previous correspondence</li>
                <li>Mandates for <strong>Aviva</strong> must also include original selling company details or include a
                    copy of previous correspondence</li>
                <li><strong>Lombard</strong> – Require separate authorisation form (can be found on your
                    mypsaccount)</li>
                <li><strong>Standard Life</strong> – Policy Services currently do not hold an agency with Standard Life
                    – Please complete your own SJP Letter of authority if necessary</li>
                <li><strong>True Potential</strong> – Require both Plan number and Client reference otherwise they will
                    refuse acceptance</li>
            </ul>
        </div>

    </div>

    <div class="page-footer">
        <?php include("footer_sjp.html"); ?>
    </div>

    <div class="page-break"></div>
</div>