<div id="page-6" class="page form-page">

    <div style="width:100%;padding-bottom:100px;">
        <h1 class="left" style="width:100%;position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">
            CLIENT AGREEMENT
        </h1>
    </div>

    <div class="clear-fix"></div>

        <div class="content-two" style="margin-top:-40px">

            <div class="mandate-blurb">

                <p>I/We accept the terms of Client Agreement and Tariff versions PSLSJP2013.1, acknowledge the
                    responsibilities of each party and wish to become a Client/Clients of Policy Services Limited.</p>

                <h1 class="left" style="padding-top:20px;">Adviser Charging</h1>
                <p>As explained by my SJP Partner, where adviser charging is in place on my policies I acknowledge that;</p>
                <ol>
                    <li>This may have an effect on my annual 5% tax deferred withdrawal limit on bonds.</li>
                    <li>Selling assets to pay for an adviser charge may count as a disposal for capital gains tax purposes.</li>
                    <li>An illustration has been provided to me and I/we understand the effect that any adviser
                        charge will have on the value of my policy.</li>
                </ol>

                <p style="padding-top:20px;"><strong>All fields below are mandatory</strong></p>
            </div>

            <div>
                <table id="ca-table">
                    <thead>
                    <tr>
                        <th class="label-cell">&nbsp;</th>
                        <th>Client/POA (delete as appropriate)</th>
                        <th>Client/POA (delete as appropriate)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="label-cell">Title</td>
                        <td class="table-box"><?= ($params['client']->one->title()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->title()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Forename(s)</td>
                        <td class="table-box"><?= ($params['client']->one->forename()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->forename()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Surname</td>
                        <td class="table-box"><?= ($params['client']->one->surname()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->surname()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">DOB</td>
                        <td class="table-box"><?= ($params['client']->one->dob()) ? date("d/m/Y", strtotime($params['client']->one->dob())) : '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->dob()) ? date("d/m/Y", strtotime($params['client']->two->dob())) : '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">National Insurance No.</td>
                        <td class="table-box"><?= ($params['client']->one->nino()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->nino()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">LEI <span style="font-size:75%;">(for Companies, Trusts or Charities)</span> </td>
                        <td class="table-box"><?= ($params['client']->one->lei()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->lei()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Address 1</td>
                        <td class="table-box"><?= ($params['client']->address->line1()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->address->line1()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Address 2</td>
                        <td class="table-box"><?= ($params['client']->address->line2()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->address->line2()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Address 3</td>
                        <td class="table-box"><?= ($params['client']->address->line3()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->address->line3()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Postcode</td>
                        <td class="table-box"><?= ($params['client']->address->postcode()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->address->postcode()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Nationality</td>
                        <td class="table-box"><?= ($params['client']->one->nationality()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->nationality()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Residency</td>
                        <td class="table-box"><?= ($params['client']->one->residency()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->residency()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Telephone Number</td>
                        <td class="table-box"><?= ($params['client']->phone()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->phone()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td colspan="3">In order that Policy Services can communicate with me / us please send any notifications to the undernoted email
                            addresses. (Please provide a separate email address for each Client to this Agreement.)
                        </td>
                    </tr>
                    <tr>
                        <td class="label-cell">Email Address</td>
                        <td class="table-box"><?= ($params['client']->one->email()) ?? '' ?></td>
                        <td class="table-box"><?= ($params['client']->two->email()) ?? '' ?></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h1 class="left" style="padding-top:20px;">Servicing Regime</h1>
            <p>I/We have agreed the following Service Regime with our Partner whom I/We understand is responsible for ensuring that
                this Regime is achieved.</p>

            <div class="barcode barcode-client-agreement">
                <?= $params['barcode'] ?>
            </div>

            <div>
                <div class="left-of-barcode">
                    <h1 class="left" style="padding-top:20px;">Review Frequency</h1>
                    <div>
                        <label><input type="checkbox" /> My/our financial affairs will be reviewed every __________ months.</label>
                    </div>
                    <p>OR</p>
                    <div>
                        <label><input type="checkbox" /> I/We wish to be treated as Transactional Clients. This means that I/We will contact our Partner if advice is required.</label>
                    </div>
                </div>
            </div>


            <div>
                <table>
                    <tbody>
                    <tr>
                        <td class="label-cell">Client Signature</td>
                        <td class="table-box">&nbsp;</td>
                        <td class="table-box">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Date of Signature</td>
                        <td class="table-box">&nbsp;</td>
                        <td class="table-box">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td style="text-align: right"><strong><?= $params['partner']->agencyCode()."*".$params['partner']->id()."*"; ?></strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="clear-fix"></div>

        <div class="page-footer">
            <?php include('footer.html'); ?>
        </div>

        <div class="page-break"></div>
    </div>