<div id="page-1" class="page">

    <div class="content">
        <div class="cover-body">
            <p>Policy Services</p>
            <p>Working in Conjunction With</p>
            <p><?= $params['partner']->addressee(); ?></p>

            <br />

            <p>For Clients Introduced</p>
            <p>By St. James&apos;s Place</p>
        </div>
    </div>

    <div class="page-footer">
        <?php include('footer_sjp.html') ?>
    </div>

    <div class="page-break"></div>
</div>