<div>
    <table class="footer-table">
        <tbody>
        <tr>
            <td>
                <img src="<?= IMAGE_DIR; ?>logo_navy_40_40.jpg" alt="Mypsaccount" class="footer-logo" />
                <span style="font-size:10px;padding-left:50px;margin-top:-25px;display:block;color:#3d3d3d;">Version: PSLSJP2.3</span>
            </td>
            <td>
                <div class="footer-text">
                    <p>
                        Policy Services Limited is authorised and regulated by the Financial Conduct Authority (register number 214036).
                        Registered Office - Oracle Campus, Blackness Road, Linlithgow, EH49 7BF.  Registered in Scotland no 230167.
                        Policy Services Limited is part of the St. James’s Place Wealth Management Group.
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><div class="page-footer-branded">&nbsp;</div></td>
        </tr>
        </tbody>
    </table>
</div>