<div>
    <table class="footer-table">
        <tbody>
        <tr>
            <td>
                <img src="<?= IMAGE_DIR; ?>logo_navy_40_40.jpg" alt="Mypsaccount" class="footer-logo" />
                <span style="font-size:10px;padding-left:50px;margin-top:-25px;display:block;color:#3d3d3d;">Version: PSL2019.2.1</span>
            </td>
            <td>
                <div class="footer-text">
                    <p>
                        Registered Office - Priorsford, 75 Grahamsdyke Road, Bo&apos;ness, EH51 9DZ
                        Registered In Scotland No. 230167
                        Policy Services Limited is authorised and regulated by the Financial Conduct Authority
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><div class="page-footer-branded">&nbsp;</div></td>
        </tr>
        </tbody>
    </table>
</div>