<div id="page-group" class="page form-page">

    <h1 class="left" style="position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">SCHEME MANDATE</h1>

    <div class="content-sm">
        <div class="content-left-sm">
            <p class="client-agreement-med">Policy Services Ltd.<br />
                Servicing Mandates Department<br />
                PO Box 13594<br />
                Linlithgow<br />
                EH49 9BB</p>
        </div>
    </div>

    <div class="clear-fix"></div>

    <div class="content-two">
        <div class="mandate-blurb">
            <h3>Instruction To Undernoted Provider</h3>
            <ol>
                <li>Please accept this instruction to appoint Policy Services Limited (PSL) as the servicing
                    adviser on all polices noted below and any other policies that I/We have with you.</li>
                <li>Please ensure all existing arrangements in relation to adviser income are redirected to
                    PSL&apos;s master agency with immediate effect and include VAT, where applicable.</li>
                <li>In addition to appointing PSL as servicing adviser, please note our introducer
                    <?= $params['partner']->addressee ?> (<?= $params['partner']->address() ?>) as third party authority for information
                    only. </li>
                <li>The below scheme confirm that all members have been informed of the change in servicing
                    adviser.</li>
                <li>This instruction supercede  any existing agency arrangements. Policy Services is hereby
                    authorised to provide details of our finances to other professionals.</li>
            </ol>
        </div>

        <div style="margin-top:-15px;">

            <p><strong>All fields below are mandatory</strong></p>
            <table>
                <thead>
                <tr>
                    <th class="label-cell">&nbsp;</th>
                    <th colspan="3">Group Scheme</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="label-cell">PSL Reference</td>
                    <td colspan="3" class="table-box-full">*<?= $params['partner']->agencyCode()."*".$params['partner']->id()."*"; ?></td>
                </tr>
                <tr>
                    <td class="label-cell">Scheme Name</td>
                    <td colspan="3" class="table-box-full">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label-cell">Scheme Number</td>
                    <td colspan="3" class="table-box-full">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label-cell">Provider Name</td>
                    <td colspan="3" class="table-box-full">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label-cell">Provider Address</td>
                    <td colspan="3" class="table-box-full">&nbsp;<br/><br/><br/><br/><br/></td>
                </tr>
                <tr>
                    <td class="label-cell">Scheme Director(s) - Print Name</td>
                    <td class="table-box-third">&nbsp;</td>
                    <td class="table-box-third">&nbsp;</td>
                    <td class="table-box-third">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label-cell">Scheme Director(s) - Signature</td>
                    <td class="table-box-third">&nbsp;</td>
                    <td class="table-box-third">&nbsp;</td>
                    <td class="table-box-third">&nbsp;</td>
                </tr>
                <tr>
                    <td class="label-cell">Date of Signature</td>
                    <td class="table-box-third">&nbsp;</td>
                    <td class="table-box-third">&nbsp;</td>
                    <td class="table-box-third">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="page-fix"></div>
</div>