<div id="page-6" class="page form-page">

    <div style="width:100%;padding-bottom:100px;">
        <h1 class="left" style="width:100%;position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;">
            PARENTAL CONSENT FORM
        </h1>
    </div>

    <div class="clear-fix"></div>

        <div class="content-two" style="margin-top:40px;">

            <div class="mandate-blurb">

                <div style="line-height: 200%">
                    <p>I &nbsp;<span class="table-box">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span> &nbsp; confirm that
                        &nbsp;<span class="table-box">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span> &nbsp;
                        is below the age of
                        13 years old and I am consenting on their behalf that Policy Services Limited can process personal
                        data relating to
                        &nbsp;<span class="table-box">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span> &nbsp;
                        for the purpose of providing financial services
                        advice and/or administration services, which is attached to this declaration.</p>

                </div>


                <div style="margin-top:80px">
                    <div>
                        <table>
                            <tbody>
                            <tr>
                                <th class="label-cell">Provider</th>
                                <th class="label-cell">Policy Number</th>
                            </tr>
                            <tr>
                                <td class="table-box">&nbsp;</td>
                                <td class="table-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="table-box">&nbsp;</td>
                                <td class="table-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="table-box">&nbsp;</td>
                                <td class="table-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="table-box">&nbsp;</td>
                                <td class="table-box">&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="table-box">&nbsp;</td>
                                <td class="table-box">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div style="margin-top: 80px">
                    <table>
                        <tbody>
                        <tr>
                            <td class="label-cell">Signed by parent/guardian:</td>
                            <td class="table-box">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="label-cell">Date of Signature</td>
                            <td class="table-box">&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="barcode barcode-client-agreement" style="margin-top: 50px;text-align: right">
                    <p><strong><?= $params['partner']->agencyCode()."*".$params['partner']->id()."*" ?></strong></p>
                </div>

            </div>


        </div>

        <div class="clear-fix"></div>

        <div class="page-footer">
            <?php include('footer_ca_mandate.html') ?>
        </div>

        <div class="page-break"></div>
    </div>