<div id="page-2" class="page">

    <div class="content">
        <div class="content-left">
            <h1>Policy Services<br />
                in conjunction With<br />
                <?= $params['partner']->addressee(); ?><br />
                Proposition and Client Agreement<br />
                For Clients Introduced By St. James's Place</h1>

            <h2>Introduction</h2>
            <p>Policy Services is proud to have been working
                together with St. James's Place since 2002. Our team is based
                in our headquarters in Linlithgow where we support St. James's Place Partners
                and clients. In April 2020, Policy Services became part of the St. James's Place group.</p>

            <p><strong>This document is important and explains our relationship with you and our relationship with your
                Partner. It includes:</strong></p>

            <ul style="margin-left:15px;padding-left:0">
                <li>Our Proposition</li>
                <li>Levels of Ongoing Service</li>
                <li>Advice Tariff – Paying for Ongoing Servicing and for any new Financial Advice you may need</li>
                <li>Your Partner’s responsibilities</li>
                <li>Our responsibilities</li>
                <li>Your rights and responsibilities as a Client</li>
            </ul>

            <p>When you sign and return your client agreement, these are the terms that you are agreeing to, so please
                make sure you read this document carefully. As ever, if you have any questions, please let us or your
                Partner know.</p>

            <p>Yours sincerely</p>
            <p><strong>Peter Craddock</strong><br />
                Chief Executive Office</p>

            <br />

            <h2>Our Contact Details</h2>
            <p>Policy Services, Oracle Campus, Blackness Road, Linlithgow, EH49 7BF<br />
                Email: client@policyservices.co.uk | Web: www.policyservices.co.uk<br />
                Tel : 0345 450 7806</p>

            <br />

            <h2>Our Proposition</h2>

            <p>From our experience, most clients want to deal with one Financial Adviser, the Adviser they trust and
                have dealt with for many years. Your Adviser, or Partner as they are called at St. James's Place, is an appointed
                representative of St. James's Place and as such is no longer able to advise you on your non-St. James's Place policies or plans.
                However, they can still provide information on these policies or plans and will continue to be your
                main point of contact for all your financial planning needs. From time to time we may be in
                touch as well.</p>

            <p>If you need advice rather than information on your non-St. James's Place policies or
                plans, your Partner will refer you to Policy Services.</p>

            <p>Your Partner, where possible through Policy Services, has access to your personal
                data and the information regarding all your policies or plans.
                By entering into this Client Agreement, you are providing your explicit
                consent for this information to be shared.</p>

            <p>As Policy Services is the servicing agent on your non-St. James's Place policies or plans, we
                receive ongoing information from the companies you have policies or
                plans with and file this securely in your client file. By doing this, we can
                ensure that your evolving financial picture is always at your Partner’s
                fingertips.</p>

            <br />

            <h2>Levels of Ongoing Service</h2>
            <p>We believe that it is vital to review your finances on a regular basis.
                Market conditions, changes in personal circumstances and your
                tolerance to risk collectively mean that you should make the time to
                review your finances. At a minimum, we recommend that you should
                do this on an annual basis.</p>

            <br />

            <h2>Our Relationship:</h2>
            <p>As mentioned earlier we respect the relationship you have with
                your Partner.</p>
            <p>We have a written contractual agreement with your St. James's Place Partner and,
                should you decide to agree to our ongoing services, you will be
                delighted to know that we will provide you and your Partner with up
                to date information on your non-St. James's Place policies or plans.</p>
            <p>As part of our agreement with you to provide an ongoing service,
                and our agreement with your St. James's Place Partner, your Partner will meet
                with you on an agreed regular basis. The frequency and timings
                of these reviews is designed to suit your personal and
                financial circumstances.</p>
            <p>At these reviews, your Partner can provide generic information on
                your non-St. James's Place policies; however, they are unable to advise on those
                policies or plans outside of the St. James's Place proposition. If you require
                financial advice on these non-St. James's Place policies or plans, as part of our
                agreement, Policy Services can provide this for you. You should refer to our
                Advice Tariff for the costs.</p>
            <p>If your Partner fails to fulfil your agreed servicing review for your non-St. James's Place policies or plans, then please
                inform Policy Services immediately. If this happens, Policy Services will step in to provide
                this review.</p>
            <p>Should you agree to this ongoing service, we will ask you to
                acknowledge your consent by returning a signed client
                agreement form.</p>
        </div>

        <div class="content-right">
            <h2>Ongoing Service Costs</h2>
            <table class="t_c_table">
                <thead>
                <tr>
                    <th width="30%"><h3>Aspect of Service</h3></th>
                    <th><h3>Provided by</h3></th>
                    <th><h3>Servicing Level 1</h3></th>
                    <th><h3>Servicing Level 2</h3></th>
                    <th><h3>Servicing Level 3</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Maintaining and updating a Client File in your name</td>
                    <td>Policy Services</td>
                    <td>Included</td>
                    <td>Included</td>
                    <td>Included</td>
                </tr>
                <tr>
                    <td>Portfolio Valuation of your holdings prepared and sent to your home address</td>
                    <td>Policy Services</td>
                    <td>Six Monthly</td>
                    <td>Annually</td>
                    <td>Annually</td>
                </tr>
                <tr>
                    <td>Online access to your investments via smartphone-based App</td>
                    <td>Policy Services</td>
                    <td>Included</td>
                    <td>* On request<br />(additional cost)</td>
                    <td>* On request<br />(additional cost)</td>
                </tr>
                <tr>
                    <td>Telephone and Email support</td>
                    <td>Policy Services</td>
                    <td>Included</td>
                    <td>Included</td>
                    <td>Included</td>
                </tr>
                <tr>
                    <td>Service survey to ensure your needs are met</td>
                    <td>Policy Services</td>
                    <td>Annually</td>
                    <td>Biennially</td>
                    <td>Random Sample<br />annually</td>
                </tr>
                <tr>
                    <td>Access to PS Independent financial adviser (additional costs see tariff section)</td>
                    <td>Policy Services</td>
                    <td>Available</td>
                    <td>Available</td>
                    <td>Available</td>
                </tr>
                <tr>
                    <td>Offer of a review** from your St. James's Place Partner to discuss your valuations and provide you with generic assistance on your policies</td>
                    <td>St. James's Place</td>
                    <td>6 monthly review<br />Minimum of 1 face to face &amp; 1 telephone</td>
                    <td>Annual<br />Face to Face</td>
                    <td>Annual</td>
                </tr>
                <tr>
                    <td colspan="2">The cost of your overall service is based on the total value of your
                        investment(s)*** held with us and is charged as a% of the value per annum</td>
                    <td>1%<br />With a minimum charge of £600</td>
                    <td>0.75%<br />With a minimum charge of £300</td>
                    <td>0.5%<br />With a minimum charge of £150</td>
                </tr>
                </tbody>
            </table>

            <p>* There will be a small set up cost of £10. Please contact Policy Services for more information.<br />
                ** Your meeting will be delivered by your St. James's Place Partner. However, Policy Services will step in if this meeting does not occur.
                Please refer to section 5.1 of our Proposition for your Partner’s responsibilities.<br />
                *** Valuations will be obtained on the servicing anniversary, allowing Policy Services to calculate the applicable fee for the end of the
                annual period from when this client agreement form was dated.
            </p>
        </div>
    </div>


    <div class="page-footer">
        <?php include('footer_sjp.html') ?>
    </div>

    <div class="page-break"></div>
</div>

<div id="page-3" class="page">

    <div class="content">
        <div class="content-left">
            <h2>Ongoing Service Level Examples:</h2>

            <table class="t_c_table">
                <thead>
                <tr>
                    <th colspan="3">Service level 1 - 1% | Minimum charge is £600</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £50,000, the 1% charge of £500 would be below our minimum
                        fee and we would charge the difference of £100 to you at the end of the annual period from
                        when this agreement was dated. The total fee payable would be £600 per annum.
                    </td>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £200,000 the 1% charge would be £2,000 and would
                        be the total fee payable for that year.
                    </td>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £200,000 the 1% charge would be £2,000. If the
                        total fee received at the end of the annual period from all your investments is £2,500,
                        the surplus amount of £500 will be refunded to you directly or sent back to your policy.
                    </td>
                </tr>
                <thead>
                <tr>
                    <th colspan="3">Service level 2 - 0.75% | Minimum charge is £300</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £26,000 the 0.75% charge of £195 would be below our
                        minimum fee and we would charge the difference of £105 to you at the end of the
                        annual period from when this agreement was dated. The total fee payable would be £300
                        per annum.</td>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £80,000 the 0.75% charge would be £600 and would
                        be the total fee payable for that year.
                    </td>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £80,000 the 0.75% charge would be £600. If the
                        total fee received at the end of the annual period from all your investments is £1,000,
                        the surplus amount of £400 will be refunded to you directly or sent back to your policy.
                    </td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th colspan="3">Service level 3 - 0.5% | Minimum charge is £150</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £15,000 the 0.5% charge of £75 would be below our minimum
                        fee and we would charge the difference of £75 to you at the end of the annual period from
                        when this agreement was dated. The total fee payable would be £150 per annum.</td>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £50,000 the 0.5% charge would be £250 and would be the total
                        fee payable for that year
                    </td>
                    <td style="width:33%;vertical-align: top">
                        If your investments are valued at £50,000 the 0.5% charge would be £250. If the
                        total fee received at the end of the annual period from all your investments is £350,
                        the surplus amount of £100 will be refunded to you directly or sent back to your policy.
                    </td>
                </tr>
                </tbody>
            </table>

            <p>Where the value of your investment rises, then the cost of your ongoing service will
                increase, conversely, if the value of your investment falls, then the cost of your ongoing
                service will decrease. This is subject to the above minimum charges. You can choose to pay
                this fee directly or by deduction from the policies or plans you hold. Should you wish to pay
                directly you can spread the payment over a 12-month period by standing order.</p>
            <br />
            <p>When you sign this ongoing service agreement it is deemed to commence immediately
                and be payable (monthly/yearly) in arrears. You can choose to cancel this at any time by
                providing us with written confirmation of your decision. Payments would then cease within 7
                business days or after collection of any due proportion of any period charges if later.</p>
            <br />
            <p>As a rule, Policy Services will not assess ongoing suitability of policies or plans, however, there are certain
                regulatory requirements which stipulate that Policy Services must be involved. For example, where you rely
                on a Discretionary Fund Manager service, an ongoing assessment of suitability by the servicing
                adviser is required. Therefore, Policy Services will have to provide this service in accordance with the
                appropriate timescales.</p>
            <br />
            <p>We recognise that you may have been fully charged at the outset for
                some of your policies or plans. In this situation, these policies or plans
                may be exempt when calculating the above charges. Any fees or
                commission received will contribute towards the cost of your
                overall service.</p>
        </div>

        <div class="content-right">
            <h2>Transactional Service:</h2>
            <p>If you have policies or plans that were in place prior to the introduction
                of Retail Distribution Review (RDR) on 31st December 2012 and they still
                pay commission rather than adviser fees, we can offer you a
                <strong>transactional service</strong> which consists of the following:</p>

            <ul style="padding-left:0;margin-left:15px;">
                <li>Maintaining and updating a Client File in your name.</li>
                <li>Telephone and Email support.</li>
                <li>Access to a PS Independent Financial Adviser (additional costs see Advice Tariff).</li>
                <li>On request via your St. James's Place Partner, a Portfolio
                    Valuation of your holdings prepared and sent to your home
                    address (additional costs may apply).</li>
            </ul>

            <p>The costs for this transactional service will be covered by the pre-RDR
                commission which is being paid in line with your original contract
                agreement. If your policies or plans do not pay commission in line with
                your original contract, this arrangement will remain the same, no
                minimum charges will apply to this service.</p>
            <p>If you wish to enhance your service, you can select one of the servicing
                levels offered in the above table. However, if your original investment
                and/or pension policies or plans do not pay sufficient income to cover
                the selected service then we will invoice you for the difference. (For
                details of this please see the examples above).</p>
            <p>Due to potential tax implications, where the pre-RDR commission paid
                is more than the enhanced selected service, this commission may not
                be able to be rebated.</p>

            <p>The transactional service is available, for policies or plans which
                facilitate adviser fees too, if you do not wish to sign up to servicing
                levels 1,2 or 3. If you select our transactional service and fees are
                payable, arrangements will be either with you or with your provider to
                cease all adviser fees.</p>

            <h2>Protection Only (e.g. Life Assurance):</h2>
            <p>Due to the nature of protection policies, you do not have to sign up to
                an ongoing service. If your protection needs ever change, then please
                get in touch with your Partner or us.</p>

            <h2>Additional Information:</h2>
            <p>We understand that all clients do not have the same ongoing service
                requirements therefore you are free to choose the level of ongoing
                service that best suits your needs. It is important, however, that you
                discuss this with your Partner or us if you are uncertain which service
                level is right for you.</p>
            <!-- todo spelling mistake 'receive' -->
            <p>Please note your Partner may receive a proportion of the fees payable
                by you for the delivery of your ongoing service.</p>

            <h1>Independent Financial Advice Service</h1>

            <h2>Our Services</h2>
            <p>If you, or your Partner, feels you need independent financial advice in
                the future, we are here to help. We can provide you with independent
                financial advice at your request. We will consider a range of regulated
                products from the available market that can meet the investment
                objectives of a retail client, but we will only provide a recommendation
                to you when we know the product is suitable for your personal
                circumstances.</p>
            <p>You should be aware that investments carry varying degrees of risk and
                as their underlying value can fall as well as rise you may not get back
                the full amount invested.</p>
            <p>For <strong>Non-investment protection</strong> contracts, we are an intermediary and
                will act on your behalf when providing advice and making our personal
                recommendation(s) to you. We will do this based on a fair analysis of
                insurers for term assurance, income protection and critical illness.</p>
            <p>For general insurance contracts we are an intermediary and will act on
                your behalf when recommending an insurer based on your demands
                and needs from a fair analysis of the market. The insurers we consider
                will be listed to you when we carry out our research. It will be your
                responsibility to ensure the policy meets your demands and needs for
                private medical insurance, accident sickness and unemployment.</p>
            <p>Full details of the products we recommend will be confirmed in the
                product literature you will receive before it is arranged. We will inform
                you if any investment we recommend restricts future access to
                your capital.</p>

            <h2>Investment Services and Costs (including structured deposits)</h2>
            <p>We provide you with an initial consultation at no cost to you. This helps
                us to understand your financial objectives and we will confirm how we
                can support you in working towards these goals. We will also discuss
                the cost, and levels, of our services both initially and throughout our
                relationship with you. We charge a fee for our service. These fees are
                based on a percentage of the amount you invest, subject to a
                minimum fee. The two steps of this process are explained here:</p>

            <h2>Financial Review and Recommendation:</h2>
            <p>This can be a continuation from the initial discussion, where agreed, or
                a further appointment. This process covers the:</p>
            <p>• Gathering of information about your existing financial
                arrangements and full personal circumstances;<br />
                • Understanding of your investment knowledge and attitude and
                tolerance of investment risk;<br />
                • Recommendation of an asset allocation model that matches
                your risk profile and the subsequent assessment and suitability
                of any existing holdings;<br />
                • Preparation of our recommendations to you and;<br />
                • Arranging a second appointment to explain and discuss our
                recommendations in detail</p>

            <h2>Policy Arrangement & Implementation – Lump Sum Investments or Transfers:</h2>
            <p>Should you instruct us to proceed with (any of) our recommendation(s)
                we will act for you in the following ways:</p>
            <p>• Handle all fund and policy administration on your behalf;<br />
                • Provide regular updates to keep you informed of progress;<br />
                • Ensure all your documents are issued in line with your expectations and;<br />
                • Provide confirmation of all actions taken on your behalf in writing.</p>
        </div>
    </div>

    <div class="page-footer">
        <?php include('footer_sjp.html') ?>
    </div>

    <div class="page-break"></div>
</div>

<div id="page-4" class="page">

    <div class="content">
        <div class="content-left">
            <h1>Advice Tariff</h1>
            <p>We charge fees for our initial advice in two ways, either as a
                percentage of the amount you invest or on an hourly basis, whichever
                is more cost effective for you and covers Policy Services costs. A Policy Services
                Adviser can explain these options further.</p>

            <h2>A summary of our charges as follows:</h2>

            <table class="t_c_table">
                <thead>
                <tr>
                    <th>Type of Adviser</th>
                    <th>Charge Options</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Qualified Financial Adviser</td>
                    <td>£100 per hour OR<br />3% of amount invested</td>
                </tr>
                </tbody>
            </table>

            <p>This is subject to our minimum fee for presenting a financial plan of £500.</p>

            <h2>Fee option 1 – Hourly Rate</h2>
            <p>We will estimate how many hours we expect this to take and we will
                agree the fee with you before we begin any work on your behalf. If the
                case becomes more complex, for example tax calculations or trust
                related cases, then we reserve the right to charge more than the
                agreed amount, however we would always discuss this with you
                before proceeding.</p>

            <p class="quote"><strong>Example 1:</strong> You ask us to review your pension drawdown
                arrangement which we would estimate as 12 hours of adviser
                work. We agree a fee of £1,200 – based on 12 hours’ work at
                £100ph.</p>

            <p class="quote"><strong>Example 2:</strong> If we arrange an ISA transfer investment on your
                behalf and the work takes circa 4 hours then the initial
                implementation fee would be £400 – based on 4 hours’ work at
                £100ph. As this is below our minimum fee of £500, we would
                invoice you the difference of £100. Total fee payable £500.</p>

            <p class="quote"><strong>Example 3:</strong> If we arrange a more complex investment (For
                example a collective investment with bespoke fund research)
                on your behalf and the work takes circa 10 hours then the
                initial implementation fee would be £1,000 – based on 10
                hours’ work at £100ph. Total fee payable £1,000.</p>

            <p class="quote-bottom"><strong>Example 4:</strong> If you are looking to take pension benefits and
                have a Pension Fund of £100,000 where £25,000 is taken as tax
                free cash, and the balance is invested to provide benefit of
                £75,000. Estimated time for case circa 20 hours.
                £100ph x 20 = £2,000. As this is more than our minimum fee no
                other charges would apply.</p>

            <h2>Fee option 2 – Percentage of Amount Invested</h2>
            <p>Our charge for this service is 3% based on a percentage of the amount
                you invest and/or transfer. If the case becomes more complex (as
                above) then we reserve the right to charge more than the agreed
                amount, however we would always discuss this with you
                before proceeding.</p>

            <p class="quote"><strong>Example 5:</strong> If we arrange an investment on your behalf for
                £10,000 our 3% initial implementation fee would be £300. As
                this is below our minimum fee of £500, we would invoice you
                the difference of £200. Total fee payable £500.</p>

            <p class="quote"><strong>Example 6:</strong> If we arrange an investment on your behalf for
                £100,000 our 3% initial implementation fee would be £3,000. As
                this exceeds our minimum of £500 no other charges would be
                applied. Total fee payable £3,000.</p>

            <p class="quote-bottom"><strong>Example 7:</strong> If you are looking to take pension benefits and
                have a pension fund of £100,000 where £25,000 is taken as tax
                free cash, and the balance is invested to provide benefit of
                £75,000. Fee 3% of £75,000 = £2,250. As this is more than our
                minimum fee no other charges would apply.</p>

            <h2>For Lump Sum Investments or Transfers:</h2>
            <p>Our fee for these services will be worked out at whichever charging
                structure is most cost effective for you, subject to meeting our
                minimum fee of £500.</p>

            <p class="quote"><strong>Example 8:</strong> If we arrange an investment on your behalf for
                £100,000 our 3% implementation fee would be £3,000. Based
                on an hourly rate, assuming an estimate of 10 hours work our
                fee would be calculated at £1,000 (10 hours at £100ph). We
                would agree the fee with you for this work at the lowest rate, in
                this example the hourly rate. As the £1,000 exceeds our
                minimum fee of £500 no other charges would be applied. Total
                fee payable £1,000.</p>
        </div>

        <div class="content-right">

            <h1>Payment Methods</h1>

            <h2>Direct fee Payment:</h2>
            <p>You can pay the fee directly to Policy Services, for example by
                cheque or standing order. No fees will be collected via the product</p>

            <h2>Facilitated from the investment:</h2>
            <p>On receipt of the investment or transfer, the product provider can
                arrange to pay Policy Services by making a deduction from the amount invested.
                Fees paid from the investment will reduce the total amount invested in
                the product.</p>
            <p><i>PLEASE NOTE THAT YOU CAN MAKE A PAYMENT BY A COMBINATION OF THE ABOVE
                METHODS IF PREFERRED.</i></p>

            <h2>For Fund Switches and Bed & ISA Transactions:</h2>
            <p>As a special agreement with your Partner, this type of advice will be
                subject to a maximum hourly rate charge of 2.5 hours. Our percentage
                fee option will not apply. This results in a flat fee charge, which is £250.
                If the case becomes more complex, for example unusual funds or many
                funds (over 10 per policy), then we reserve the right to charge more
                than the agreed amount, however we would always discuss this with
                you before proceeding.</p>

            <h2>For Regular Premium Savings or Investments:</h2>
            <p>Our fee for implementing a regular premium savings or investment
                plan is 50% of the first year’s premium. The payment options available
                to you are listed below:</p>

            <p class="quote"><strong>Example 9:</strong> Assuming our minimum fee of £500, if your monthly
                contribution is £20 our implementation fee would be £120. As
                this is less than our minimum fee of £500 we would invoice you
                the difference of £380.</p>

            <p class="quote-bottom"><strong>Example 10:</strong> Assuming our minimum fee of £500, if your
                monthly contribution is £200 our implementation fee would be
                £1,200. As this is more than our minimum fee of £500 no other
                charges would apply.</p>

            <h1>Payment Methods</h1>

            <h2>Direct fee Payment:</h2>
            <p>You can pay the fee directly to Policy Services, for example by
                cheque or standing order. No fees will be collected via the product.</p>
            <h2>Facilitated from the investment:</h2>
            <p>The payment will be deducted proportionately from each monthly
                contribution during the first year. Where payments deducted cover our
                minimum fee of £500 in full, no further fees will be deducted. However,
                where the amount facilitated from the investment does not cover the
                minimum fee of £500, we will invoice you directly for the outstanding
                amount.</p>

            <p class="quote"><strong>Example 11:</strong> Assuming our minimum fee of £500, if your
                monthly contribution is £20 our implementation fee would be
                £120. This will be collected by deducting £10 from each
                monthly contribution for the first 12 months. As this is less than
                the agreed fee we would invoice you the difference of £380.</p>

            <p class="quote-bottom"><strong>Example 12:</strong> Assuming our minimum fee of £500, if your
                monthly contribution is £200 our implementation fee would be
                £1,200. This will be collected by deducting £100 from each
                monthly contribution for the first 12 months. As this is more
                than than our minimum fee of £500 no other charges
                would apply.</p>

            <p>Based on these examples, should payments cease a few months in, we
                will calculate the total payment received to date and charge you the
                <strong>balance against the agreed fee.</strong></p>

            <p class="quote-bottom"><strong>Example 13:</strong> Assuming our minimum fee of £500, if your
                monthly contribution is £200 our implementation fee would be
                £1,200. This will be collected by deducting £100 from each
                monthly contribution for the first 12 months. If you cease
                payments into the plan after month 6, then the amount paid
                would be £600. As this is less than the agreed fee we would
                invoice you the difference of £600.</p>

            <h2>Our Protection Services and Costs</h2>
            <p>Similar to our investment services above, we will provide you with a
                personal and financial review prior to making our recommendation.
                Should you accept our recommendation, we will arrange the
                implementation of this for you. The reason for our recommendation will
                also be provided to you in a written report. We do not charge a fee for
                Protection Services as we will normally receive commission from the
                policy provider. You will not be subject to VAT for this service.</p>
        </div>
    </div>

    <div class="page-footer">
        <?php include('footer_sjp.html') ?>
    </div>

    <div class="page-break"></div>
</div>

<div id="page-5" class="page">

    <div class="content">
        <div class="content-left">
            <h1>1. Definitions</h1>

            <p>1.1. This Client Agreement sets out the basis on which Policy Services
                will conduct business with you and on your behalf while
                also working in conjunction with your St. James's Place Partner.
                The terms of this Client Agreement come into force immediately on
                issue and remain in force until further notice.</p>

            <p>1.2. The following definitions apply in this Client Agreement:</p>

            <table class="t_c_table">
                <tbody>
                <tr>
                    <th>Client File:</th>
                    <td>This is the online facility that Policy Services use to store information relating to
                        your finances.</td>
                </tr>
                <tr>
                    <th>Policy Services:</th>
                    <td>Policy Services.
                        A Limited Company having its Registered office at; Oracle Campus, Blackness Road, Linlithgow, EH49 7BF
                        Registered in Scotland No. 230167 policyservices.co.uk.
                        Policy Services Limited is part of the St. James's Place Wealth Management Group</td>
                </tr>
                <tr>
                    <th>St. James's Place:</th>
                    <td>St. James's Place Wealth Management Group Plc and its subsidiaries.</td>
                </tr>
                <tr>
                    <th>Servicing Agent:</th>
                    <td>The Firm responsible for servicing your policies or plans. Policy Services
                        Limited hold overall responsibility for this, however, as part of our
                        agreement elements of this are outsourced to Your Partner.</td>
                </tr>
                <tr>
                    <th>Servicing Level:</th>
                    <td>A review of your policies or plans undertaken by Your Partner to discuss
                        your needs and objectives, changes to your circumstances and your
                        Portfolio Valuations. This service does not include an assessment of
                        suitability by Policy Services of your existing polices or plans, however it will provide
                        an opportunity to discuss any ad hoc advice services required from
                        Policy Services.</td>
                </tr>
                <tr>
                    <th>Advice Tariff:</th>
                    <td>The cost of our individual services – these have been included for you.</td>
                </tr>
                <tr>
                    <th>Your Partner:</th>
                    <td>An Appointed Representative of St. James's Place Wealth Management plc ("St. James's Place"). Partners are not employed by Policy Services
                        and can only provide you with investment advice from the range of St. James's Place
                        policies and services.</td>
                </tr>
                <tr>
                    <th>Your Policies or Plans</th>
                    <td>Any policy, investment portfolio, wrap account, platform or instrument held by you which
                        Policy Services is the servicing agent under the terms of this Agreement. This excludes St. James's Place policies
                        or plans.</td>
                </tr>
                </tbody>
            </table>

            <h1>2. Introduction</h1>
            <p>2.1. Policy Services is an Independent Financial Adviser (IFA). We have introducer
                arrangements with St. James's Place Partners throughout the UK enabling their
                clients to benefit from Independent Advice when required. Policy Services will
                recommend investments based on a fair and comprehensive analysis
                of the market.</p>
            <p>2.2. You have been introduced to Policy Services by Your Partner.</p>
            <p>2.3. Policy Services is part of the St. James's Place group.</p>
            <p>2.4. Entering into this Client Agreement, you are appointing Policy Services as the
                servicing agent on Your Policies or Plans. This means that any
                previous servicing agent will no longer be able to obtain information
                on Your Policies or Plans, with the exception of Your Partner.
                Adviser charges / commission may also be redirected from the previous
                servicing agent to Policy Services.</p>

            <h1>3. Authorisation Statement</h1>
            <p>3.1. Policy Services is authorised and regulated by the Financial
                Conduct Authority. The Financial Conduct Authority (FCA) regulates
                the financial services industry in the UK and their address is 12
                Endeavour Square, London, E20 1JN.</p>
            <p>3.2. You can check this on the FCA’s Register by visiting the FCA’s website
                www.fca.org.uk, our FCA number is 214036. Alternatively, you can
                contact the FCA on 0800 111 6768 (Freephone) or 0300 500 8082
                from the UK. If you are outside of the UK you can contact them on
                +44 207 066 1000.</p>

            <h1>4. Your Rights As A Client</h1>
            <p>4.1. Each client with whom the firm does business is categorised to
                identify the level of regulatory protection to be applied.
                We believe in providing you with full regulatory protection and we
                propose to classify you as a ‘Retail Client’ for investment purposes
                and ‘Consumer’ for non-investment insurance and general insurance
                business. This means that you are afforded the highest level of
                protection under the regulatory system and should have the right to
                take any complaint to the Financial Ombudsman Service. If we deem
                to treat you differently then we will notify you, in writing, of this.</p>
            <p>4.2. Any advice or recommendation that we offer to you, will only be
                given after we have assessed your needs and considered your
                financial objectives and attitude to any risks that may be involved.
                We will also consider any restrictions that you wish to place on the
                type of policies or plans that you would be willing to consider.</p>
        </div>

        <div class="content-right">
            <h1>5. Under This Agreement</h1>
            <p>Due to the unique relationship that Policy Services shares with you and your
                Partner, it is appropriate to include the following section which details
                their responsibilities to you:</p>
            <h2>5.1. YOUR PARTNER UNDERTAKES TO:</h2>
            <p>5.1.1. Be your principal point of contact.</p>
            <p>5.1.2. Discuss and agree your ongoing requirements and agree
                with you the most appropriate level of service to suit your
                personal needs.</p>
            <p>5.1.3. Discuss your policies or plans, Portfolio Valuation(s) and
                underlying funds at reviews and take them into account when
                agreeing your on-going service. They will continue to provide
                you with generic information, but will refer you to Policy Services if you or
                they identify any situations where you may need Independent
                Financial Advice.</p>
            <p>5.1.4. Monitor and review any correspondence added to your client
                file on a regular basis to ensure that your affairs are
                being managed.</p>
            <p>5.1.5. Notify Policy Services of any changes to your personal circumstances
                which need to be reflected in your policies or plans.</p>
            <p>5.1.6. For the avoidance of doubt your Partner is not permitted to
                advise on behalf of Policy Services.</p>
            <p>5.1.7. Your Partner is not permitted to advise on any policies or
                plans outside the St. James's Place proposition.</p>

            <h2>5.2. Policy Services UNDERTAKES TO:</h2>
            <p>5.2.1. Maintain a secure client file in your name for use by
                your Partner.</p>
            <p>5.2.2. File any portfolio information / correspondence securely
                online in your client file.</p>
            <p>5.2.3. Respect your privacy and protect your data by not
                contacting you unless:</p>
            <p>5.2.3.1. Requested to, by you or your Partner</p>
            <p>5.2.3.2. Required to for compliance and/or legal reasons</p>
            <p>5.2.3.3. As part of the agreed service level you chose</p>
            <p>5.2.4. Provide you with advice where your Partner is unable to. Our
                charges for this are detailed in the Advice Tariff.</p>
            <p>5.2.5. Maintain the necessary capital and professional
                infrastructure to practise as an Independent Financial
                Adviser.</p>
            <p>5.2.6. Where your Partner has failed to provide the ongoing service
                you have agreed to for Your Policies or Plans, then where necessary Policy Services will provide
                this service on their behalf.</p>

            <h2>5.2.7. Our Ethical Policy</h2>
            <p>We are committed to providing the highest standard of
                financial advice and service possible. The interest of our
                clients is paramount to us and to achieve this we have
                designed our systems and procedures to place you at the
                heart of our business. In doing so, we will:</p>
            <p>• be open, honest and transparent in the way we deal
                with you;</p>
            <p>• not place our interests above yours;</p>
            <p>• communicate clearly, promptly and without jargon;</p>
            <p>• seek your views and perception of our dealings with you to
                ensure it meets your expectations or to identify any
                improvements required.</p>

            <h2>5.3. AS A CLIENT YOU UNDERTAKE TO:</h2>
            <p>5.3.1. Provide Policy Services with a valid email address where we can send
                communications to.</p>
            <p>5.3.2. Notify Policy Services either via your Partner or directly of any changes
                in your personal circumstances. Please note written
                confirmation may be required.</p>
            <p>5.3.3 Notify Policy Services if your Partner has failed to provide you with the
                ongoing service which you have agreed to.</p>

            <h1>6. Advice Service</h1>
            <p>6.1. As your principal relationship is with your Partner, Policy Services will not
                proactively provide you with advice unless requested to do so by
                either yourself or your Partner.</p>
            <p>6.2. Policy Services is not responsible for the suitability of any advice provided
                prior to becoming the servicing agent.</p>
            <p>6.3. Your Partner and not Policy Services, is responsible for the suitability of any
                advice provided to you by your Partner. Your Partner can provide
                you with advice on St. James's Place policies and services, however is not
                permitted to give advice on any policies or plans outside the
                St. James's Place proposition.</p>
            <p>6.4. Where you require to undertake a transaction that is beyond your
                Partner’s remit, then your Partner can introduce such cases to Policy Services
                for our assessment. This will be on an Advised basis.</p>
            <p>6.5. It is important that you understand the differences between these
                transactions and the limitations and risks of not receiving
                financial advice.</p>

            <h2>6.5.1. ADVISED TRANSACTIONS</h2>
            <p>6.5.1.1. When providing you with advice our professionally
                qualified Independent Financial Advisers will be
                responsible for;</p>
            <p>6.5.1.1.1. Understanding your objectives and
                current financial situation.</p>
            <p>6.5.1.1.2. Clarifying to you the scope of our advice
                and agreeing a method of payment.</p>
            <p>6.5.1.1.3. Researching solutions from the whole
                of market.</p>
            <p>6.5.1.1.4. Recommending our preferred solution(s).</p>
            <p>6.5.1.1.5. Implementing the product solutions.</p>
            <p>6.5.1.2. While remaining impartial and independent, our
                advisers will aim to keep your Partner informed in
                the above process. By entering into this Client
                Agreement, you will have provided your explicit
                consent for this information to be shared.</p>
            <p>6.5.1.3. Our charges for Advised Transactions are detailed
                in the Advice Tariff.</p>

        </div>
    </div>

    <div class="page-footer">
        <?php include('footer_sjp.html') ?>
    </div>

    <div class="page-break"></div>
</div>

<div id="page-5-1" class="page">

    <div class="content">
        <div class="content-left">
            <h1>7. Anti-Money Laundering</h1>
            <p>We are required by the anti-money laundering regulations to verify
                the identity of clients, to obtain information as to the purpose and
                nature of the business which we conduct on their behalf, and to
                ensure that the information we hold is up to date. For this purpose,
                we may use electronic identity verification systems and we may
                conduct these checks from time to time throughout our
                relationship, not just at the beginning. The electronic identity
                verification system that Policy Services uses will leave a ‘soft’
                footprint on your credit report but should not influence your overall
                credit score.</p>

            <h1>8. Force Majeure</h1>
            <p>Policy Services shall not be in breach of this agreement and shall not incur any
                liability to you if there is any failure to perform its duties due to any
                circumstances reasonably beyond its control.</p>

            <h1>9. Servicing Level</h1>
            <p>9.1. Policy Services believe that it is vital that you review your finances on a
                regular basis. In addition to your personal situation and evolving
                goals, your attitude to risk is likely to change with time. It is critical
                that the policies or plans and underlying funds that you hold
                remain appropriate for your needs and, of course, that your
                money is invested as tax efficiently as possible.</p>
            <p>9.2. By introducing you to Policy Services your Partner has undertaken to provide
                you with a servicing level as detailed in this document. The
                servicing level is in line with your needs and is designed to take
                account of the foregoing points while being timed to meet your
                unique personal circumstances.</p>
            <p>9.3. Your Partner will discuss and agree your servicing level with you.
                The Client Agreement form that you sign and return to Policy Services
                confirms to us which servicing level you have chosen.</p>
            <p>9.4. To protect you, we reserve the right to contact you from time to
                time to ensure that your servicing level is still appropriate for your
                needs and is being conducted.</p>

            <h1>10. How We Handle Complaints</h1>
            <p>10.1. Our aim is to provide you with a first-class standard of service at all
                times. However, there may be occasions when you feel that this
                objective has not been achieved. We take all complaints seriously
                and will deal with your complaint in the following manner.</p>
            <p>10.2. We will acknowledge your complaint promptly following receipt,
                enclosing a copy of our complaint procedures.</p>
            <p>10.3. If we have reasonable grounds to be satisfied that another firm
                may be solely or jointly responsible for the allegation(s) made, we
                will promptly forward the complaint or the relevant part of it to that
                firm. We will write to you to confirm our actions and provide contact
                details of the firm concerned.</p>
            <p>10.4. Where we can resolve your complaint by the close of three business
                days following receipt, and this is to your satisfaction, we will issue
                a written summary of our findings and their conclusion. If having
                received this letter you remain dissatisfied, you may refer to the
                Financial Ombudsman Service (FOS) at the details below. If your
                complaint cannot be resolved by the close of three business days
                following receipt, we will ensure that you are regularly kept
                informed of our progress with regard to the investigation of
                your complaint.</p>
            <p>10.5. We will endeavour to send you our Final Decision Letter; addressing
                your concerns and providing you with our decision within 8 weeks or
                keep you informed of the progress if your complaint is not resolved
                before then.</p>
            <p>10.6. Where we are unable to provide you with our Final Decision Letter
                within 8 weeks, we will send you confirmation of this in writing along
                with an explanation as to why we have been unable to complete
                our investigations within this time scale. We will confirm when you
                can next expect contact from us.</p>
            <p>10.7. At this stage, you will be entitled to refer your complaint to the
                Financial Ombudsman Service who can be contacted at:</p>

            <br />

            <p><strong>
                Financial Ombudsman Service,<br />
                Exchange Tower,<br />
                1 Harbour Exchange Square,<br />
                London,<br />
                E14 9SR,<br />
                Telephone: 0800 023 4567,<br />
                Email: complaint.info@financial-ombudsman.org.uk
            </strong></p>

            <br />

            <p>We will provide you with a copy of the Financial Ombudsman
                Service leaflet; 'your complaint and the ombudsman'.</p>

            <p>The website address for the Financial Ombudsman Service if
                required is <strong>www.financial.ombudsman.org.uk</strong></p>

            <br />

            <p>10.8. We will continue to investigate the complaint until we are in a
                position to send you our Final Decision Letter.</p>
            <p>10.9. If your complaint is upheld, we will provide you with fair
                compensation for any acts or omissions for which we
                are responsible.</p>
            <p>10.10. Once you have received our Final Decision Letter, if you are unhappy
                with our handling of your complaint; you can refer the matter to the
                Financial Ombudsman Service at the address provided above. You
                must refer the matter to the Financial Ombudsman Service within 6
                months of the date of our Final Decision Letter. A copy of the
                Financial Ombudsman Service leaflet 'your complaint and the
                ombudsman' will be included with our Final Decision Letter.</p>
        </div>

        <div class="content-right">
            <p>10.11. We shall deem the matter closed when;</p>
            <p>10.11.1. We have resolved your complaint by close of three business
                days from receipt to your satisfaction, and issued a written
                summary confirming the outcome of our investigation.</p>
            <p>10.11.2. Our investigation has been completed and a Final Decision
                Letter has been sent to you, or; Where you have indicated, in
                writing, acceptance of any earlier response, where appropriate.</p>

            <h1>11. Law</h1>
            <p>Relevant United Kingdom law will apply to the agreement and the
                relevant courts of the United Kingdom will have exclusive
                jurisdiction in relation to the agreement.</p>

            <h1>12. Changes To This Agreement</h1>
            <p>Where Policy Services require to change the terms of this Client Agreement
                we will provide you with updated terms to your nominated
                email address.</p>

            <h1>13. Termination</h1>
            <p>Our authority to act on your behalf may be terminated at any time
                without penalty, by either you or Policy Services giving seven days’ notice in
                writing to that effect to the other, but without prejudice to the
                completion of transactions already initiated. We reserve the right
                to charge for any proportion of a transaction conducted prior
                to termination.</p>

            <h1>14. VAT</h1>
            <p>Under current legislation some of our services may be subject to
                VAT, where this is applicable we will ensure you are made
                fully aware.</p>
            <h1>15. Client Money</h1>
            <p>Policy Services is not permitted to handle client money and we cannot accept
                a cheque made out to us (unless it is in respect of an item for which
                we have sent you an invoice) or handle cash.</p>

            <h1>16. Material Interest</h1>
            <p>We will act honestly, fairly and professionally, within ‘Client best
                interest’ regulations. Occasionally situations may arise where we or
                one of our other clients have some form of interest in business
                transacted for you. If this happens or we become aware that our
                interests or those of one of our other clients conflict with your
                interest, we will write to you and obtain your consent before we
                carry out your instructions, and detail the steps we will take to
                ensure fair treatment.</p>
            <p>In accordance with the rules of our regulator, The Financial Conduct
                Authority, we are prohibited from accepting any payment
                (commission or other non-monetary benefits) which is likely to
                conflict with the duty of the firm to its clients.</p>

            <h1>17. Compensation Scheme</h1>
            <p>If you make a complaint and we are unable to meet our liabilities,
                you may be entitled to compensation from the Financial Services
                Compensation Scheme.</p>
            <p>Investment business will normally be covered up to a maximum of
                £85,000.</p>
            <p>Further information about these amounts and limits for all other
                product types are available from the FSCS at:<br />
                <strong>http://www.fscs.org.uk/what-we-cover/products</strong></p>

            <h1>18. Instructions</h1>
            <p>We only accept instructions in writing (paper or electronic means)
                to aid clarification and avoid future misunderstandings. Please note
                we will not act on oral instructions to avoid any possible
                misunderstandings.</p>

            <h1>19. Cancellation Rights</h1>
            <p>In most cases you can exercise a right to cancel by withdrawing
                from the contract. In general terms you will normally have 30-day
                cancellation period of a life, pure protection, payment protection or
                pension policy and a 14-day cancellation period for all other
                policies or plans. For investments this will typically start when funds
                are invested and for pure protection policies this will normally begin
                when you are informed that the contract has been concluded or, if
                later, when you have received the contractual terms and conditions.
                Instructions for exercising the right to cancel, if applicable, will be
                contained in the relevant product information issued to you.</p>
            <p>If you cancel a single premium contract, you may incur a loss due
                to market movements. That means that, in certain circumstances,
                you might not get back the full amount you invested if you cancel
                the policy.</p>

            <h1>20. Documentation</h1>
            <p>We will endeavour to make arrangements for all your investments
                to be registered in your name unless you first instruct us otherwise
                in writing. All policy documents will be forwarded to you
                immediately after we have received them. If there are a number of
                documents relating to a series of transactions, we will normally hold
                each document until the series is complete and then forward them
                to you. We will issue all communications in English, unless
                agreed otherwise.</p>

            <h1>21. Privacy Policy</h1>
            <p>Our Privacy Policy is available online on our website https://policyservices.co.uk
                or can be supplied on request.</p>

        </div>
    </div>

    <div class="page-footer">
        <?php include('footer_sjp.html') ?>
    </div>

    <div class="page-break"></div>
</div>