<?php $j = 0;?>
<?php while ($j < ($params['trustee_sheets_per_pack'])) { ?>
    <div id="page-trustee" class="page form-page">

        <h1 class="left" style="position:absolute;margin-top:25px;font-size:150%;margin-bottom:0;width:100%">
            TRUSTEE MANDATE - ONE FORM PER TRUSTEE TO BE USED
        </h1>

        <div class="float-right" style="position:absolute;margin-top:50px;">
            <div class="barcode barcode-mandate">
                <?= $params['barcode'] ?>
            </div>
        </div>

        <div class="content-sm">
            <div class="content-left-sm">
                <p class="client-agreement-med">Policy Services Ltd.<br />
                    Servicing Mandates Department<br />
                    PO Box 13594<br />
                    Linlithgow<br />
                    EH49 9BB</p>
            </div>

            <div class="content-right-sm">
                <p class="client-agreement-med"><strong>Trustee address</strong></p>
                <div class="client-address-line"><p><?= ($params['client']->address->line1()) ?? '' ?></p></div>
                <div class="client-address-line"><p><?= ($params['client']->address->line2()) ?? '' ?></p></div>
                <div class="client-address-line"><p><?= ($params['client']->address->line3()) ?? '' ?></p></div>
                <div class="client-address-line"><p><?= ($params['client']->address->postcode()) ?? '' ?></p></div>
            </div>
        </div>

        <div class="clear-fix"></div>

        <div class="content-two">
            <div class="mandate-blurb">
                <h3>Instruction To Undernoted Provider</h3>
                <ol>
                    <li>Please accept this instruction to appoint Policy Services as the servicing
                        adviser on all polices noted below and any other policies that I/We have with you.</li>
                    <li>Please ensure all existing arrangements in relation to adviser income are redirected to Policy Services'
                        master agency with immediate effect and include VAT, where applicable. All clients are aware of the
                        services being provided in return for remuneration.</li>
                    <li>In addition to appointing Policy Services as servicing adviser, please note our introducer
                        <?= $params['partner']->addressee ?> (<?= $params['partner_address'] ?>)
                        as third party authority for information only. </li>
                </ol>
            </div>

            <div style="margin-top:-15px;">

                <p><strong>All fields below are mandatory</strong></p>
                <table>
                    <thead>
                    <tr>
                        <th class="label-cell">&nbsp;</th>
                        <th class="label-cell">Trustee</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="label-cell">Title</td>
                        <td class="table-box-full"><?= ($params['client']->one->title()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Forename(s)</td>
                        <td class="table-box-full"><?= ($params['client']->one->forename()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Surname</td>
                        <td class="table-box-full"><?= ($params['client']->one->surname()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Company Name</td>
                        <td class="table-box-full"></td>
                    </tr>
                    <tr>
                        <td class="label-cell">DOB</td>
                        <td class="table-box-full"><?= ($params['client']->one->dob()) ? date("d/m/Y", strtotime($params['client']->one->dob())) : '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Nationality</td>
                        <td class="table-box-full"><?= ($params['client']->one->nationality()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">National Insurance No.</td>
                        <td class="table-box-full"><?= ($params['client']->one->nino()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">LEI <span style="font-size:75%;">(for Companies, Trusts or Charities)</span> </td>
                        <td class="table-box-full"><?= ($params['client']->one->lei()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Residency</td>
                        <td class="table-box-full"><?= ($params['client']->one->residency()) ?? '' ?></td>
                    </tr>
                    <tr>
                        <td class="label-cell">Signature</td>
                        <td class="table-box-full">&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="label-cell">Date of Signature</td>
                        <td class="table-box-full">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <br />
            <br />

            <table class="policy-table">
                <thead>
                <tr>
                    <th colspan="3" class="border">Name of Investment Company <em>(Please complete)</em>:</th>
                </tr>
                <tr>
                    <th class="border">Policy Number</th>
                    <th class="border">Policy Type</th>
                    <th class="border">Policy Owner</th>
                </tr>
                </thead>

                <?php $rows = 0; ?>
                <?php while ($rows < 5) { ?>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <?php $rows++ ?>
                    </tr>
                <?php } ?>
            </table>

            <div class="float-right" style="padding-top:20px;">
                <p><strong><?= $params['partner']->agencyCode()."*".$params['partner']->id()."*"; ?></strong></p>
            </div>

        </div>

        <div class="page-footer last_footer">
            <?php include('footer_ca_mandate_sjp.html') ?>
        </div>

        <div class="page-fix"></div>
    </div>
<?php $j++; ?>
<?php } ?>