<div id="<?=_LINK?>" name="<?=_LINK?>">
    
    <script type="text/javascript">
    $(
        function( )
        {

            var pop = $( "#<?=_LINK?>" ).get_popup( );
            pop.setTitle( "Session Expired" );
            $( pop ).center( );

            // Remove min & max buttons. A cheeky monkey could still 
            // hide this popup, but seeing as their cookies have 
            // expired this will lead to annoyance rather than an exploit.

            //$( pop.tools ).find( "button" ).remove( );

            var form = $( pop ).find( "form" )[0];

            $( form ).submit(
                function( )
                {
                    $( form ).send(
                        function( r )
                        {
                            alert( r );
                        }
                    );
                }
            );

        }
    );
    </script>

    <p style="width:400px;" align="center">
        Your security cookies have expired due to browser inactivity. To continue
        with this session please login below.
    </p>


    <form action="/lib/php/?do=login" method="post">

        <table align="center">
            <tr>    
                <th width="125px">User</th>
                <td><?=el::txt("username")?></td>
            </tr>     
            <tr>
                <th>Password</th>
                <td><?=el::pwd("password")?></td>
            </tr>  
            <tr>
                <td colspan="2" align="right">
                    <?=el::bt("Submit",false,"type='submit'")?>
                </td>
            </tr>     
            <tr>
                <td colspan="2" align="right">
                    <a href="javascript:window.location.reload(true);">No thanks, just log me out</a>
                </td>
            </tr>
        </table>

    </form>

</div>
