<script type="text/javascript">
$(
    function( )
    {

        var pop = $("#<?=_LINK?>").get_popup();
        pop.setTitle( "Recent Activity for <?=$title?>" );
        $( pop ).center( );

    }
);
</script>

<style type="text/css">
#<?=_LINK?> > table{
width  : 100%;
height : 200px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>" class="scroll y">
    <table class="data">
        <thead></thead>
        <tbody>
            <?= $log ?>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
