<tr>
    <td width="150px"><?= Date::comparison( $d -> datetime ) ?></td>
    <?php if( !$ignore_activity_type ) { ?>
        <td><?= ucwords( $d -> action_type ) ?></td>
    <?php } if( !$ignore_object_type )  {  ?>
        <td><?= $d -> object ?></td>
    <?php }  if( !$ignore_object )  { ?>
        <td style="font-weight:bold;"><?= truncate( $object -> link( ), 35 ) ?></td>
    <?php } if( !$ignore_user )  { ?>
        <td><?= $d -> user ?></td>
    <?php } ?>
</tr>
