<div id="<?= $link ?>" name="<?= $link ?>" class="suggest <?= $classes ?>" data-url="<?=$url?>" data-var="<?=$var?>">
  <input class="<?= $elClasses ?>" id="<?=$id?>" name="<?=$id?>" type="hidden" value="<?=intval($val)?>" />
  <input type="text" value="<?=addslashes($text)?>" />
</div>