<script>
    $(function(){
        var frame = $("#<?=_LINK?>-<?= $message->id(); ?>");
        var id = frame.data("id");

        $(".toast").toast("show");

        // override the close button to archive the message
        $(".close", frame).on("click", function(){
            $.ajax({
                url: "pages/user/index.php?do=archive_message",
                type: "GET",
                data: {
                    type: "json",
                    message_id: id
                }
            });
        });
    });
</script>

<div class="toast fade ml-auto mt-4 mr-4" role="alert" data-autohide="false" id="<?=_LINK?>-<?= $message->id(); ?>" data-id="<?= $message->id(); ?>">
    <div class="toast-header">
        <img src="/lib/images/white_logo.png" class="rounded mr-2" height="20px">
        <strong class="mr-auto">
            <?php if($message->type != "tag"): ?>
                <?= $message->sender_id->staff_name() ?> left a message
            <?php else: ?>
                <?= $message->sender_id->staff_name() ?> tagged you in a note
            <?php endif; ?>
        </strong>
        <button type="button" class="ml-2 mb-1 close text-white" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <?php if($message->type != "tag"): ?>
            <?= $message->caller_name ?> from <?= $message->caller_company ?> <?= $message->caller_action ?> <?= $time ?>, <?= $message->recipient_action ?>.
            <br>
            Contact: <?= $message->contact_details ?>
            <br>
            Msg: <?= $message->message ?>
        <?php else: ?>
            <?= $message->message; ?>
        <?php endif; ?>
    </div>
</div>