<script type="text/javascript">
    $(function () {

        var form = $("form#form1");
        var table = $(">table", form);
        var subbtn = $(":button#subbtn", form);

        var popup = $(form).popup_config({
            title: "Add Agencies to <?=$partnerID?>",
            center: true
        });

        form.bind("initSuggest", function () {
			$("div.suggest:not(.init)").each(function () {
				SuggestionBox($(this));
			});
        });

        var status = $("form#form1 select#status\\[\\]");

        $(":button#more", form).click(function () {

			var sug = $("#form1 div.suggest:last")
				.clone(true).removeClass("init")
				.css({"position": "relative", "z-index": $("#form1 div.suggest:last").css("z-index") - 1});

			$(":text", sug).val("").unbind();
			$(":input:hidden", sug).val("").unbind();

			var status2 = status.clone(true);

			//get the selected index of the users choice
			var sel_ind = $(status).attr("selectedIndex");

			//and select that row
			$("option", status2).eq(sel_ind).attr('selected', 'selected');

			$("<tr/>")
				.append($("<td><input type='text' name='agency[]' size='40'/></td>"))
				.append($("<td/>").append(sug).css({
					"position": "relative",
					"z-index": $("#form1 div.suggest:last").css("z-index") - 1
				}))
				.append($("<td/>").append("<button type='button' id='agency_mandate[]' name='agency_mandate[]' class='bool' value='0'>&nbsp;</button>"))
				.append($("<td/>").append(status2))
				.append($("<input type='text' name='day[]' size='2' maxlength='2' style='text-align:center;'/>"))
				.append($("<input type='text' name='month[]' size='2' maxlength='2' style='text-align:center;'/>"))
				.append($("<input type='text' name='year[]' size='4' maxlength='4' style='text-align:center;'/>"))
				.appendTo(table);

			form.trigger("initSuggest");

			$(":button#less").removeAttr("disabled");
		});

        $(":button#less", form).click(function () {

			$("table tr:last").remove();
			var n = $("#form1 tr").length;

			if (n == 2) {
				$(":button#less").attr("disabled", "disabled");
			}
		});

        form.trigger("initSuggest");

        $(":button#less").attr("disabled", "disabled");

        $(subbtn).click(function () {

            if (confirm("Are you sure you want to add these Agency Codes?")) {
                $(form).send(
                    function (r) {
                        $("#form1 tbody tr td").css('background-color', 'white');
                        $("#form1 tbody tr td").removeClass();
                        r = json_decode(r);
                        if (r.failure > 0) {
                            if (r.failure_rows) {
								if (r.failure_rows.length > 0) {
									$.each(r.failure_rows, function (index, value) {
										$("#form1 tbody").find("tr").eq(value).find('td').removeClass().addClass("error_row");
									});
									$("#form1 tbody .error_row").css('background-color', 'red');
									$("span#user_msg").html("Error on rows " + r.failure_rows + ", this is a main agency code")
										.removeClass().addClass("bad_news");
								} else {
                                    $("span#user_msg").html(r.error).removeClass().addClass("bad_news");
                                }
                            } else {
                                $("span#user_msg").html(r.error).removeClass().addClass("bad_news");
                            }
                        } else {
                            if (r.count == 1) {
                                $("span#user_msg").html(r.count + " row added").removeClass().addClass("good_news");
                            } else {
                                $("span#user_msg").html(r.count + " rows added").removeClass().addClass("good_news");
                            }
                            $("#form1 tbody .error_row").css('background-color', 'green');
                            $(subbtn).attr("disabled", true);
                            $(":button#more", form).attr("disabled", "disabled");
                            $(":button#less", form).attr("disabled", "disabled");
                            $(popup).trigger("refreshAgencies");
                        }
                    }
                );
            }
        });

    });
</script>

	
<form id="form1" name="form1" action="/pages/acquisition/add_agency.php?id=<?=$partnerID?>" method="POST">

	<br/><br/>
		
		<table>
			<tr>
				<th>Agency Code</th>
				<th>Issuer Name</th>
				<th>Agency - <br/></br.>Mandate</th>
				<th>Status</th>
				<th>Agency Transfered Date</th>
			</tr>
			<tr>
				<td>
					<input type="text" name="agency[]" size="40">
				</td>
				<td>
					<?php echo el::suggest( "issuer[]", Issuer::index_url(), "search" ); ?>
				</td>
				<td>
					<button type="button" id="agency_mandate[]" name="agency_mandate[]" class="bool" value="0">&nbsp;</button>
				</td>
				<td>
					<?php $choice = Choice::factory( );
						$choice->setSource( POLICY_STATUS_TBL, "ID", "Field1" );
						echo el::dropdown( "status[]", $choice->get_choices(), 16 );
					?>
				</td>
				<td>
					<input type="text" value="dd" name="day[]" size="2" maxlength="2" onFocus="this.value=''" style="text-align:center;" />
					<input type="text" value="mm" name="month[]" size="2" maxlength="2" onFocus="this.value=''" style="text-align:center;" />
					<input type="text" value="yyyy" name="year[]" size="4" maxlength="4" onFocus="this.value=''" style="text-align:center;" />
				</td>
			</tr>
		</table>
        <input type="button" id="more" name="more" value="Add Row"/>
        <input type="button" id="less" name="less" value="Remove Row"/>

	<span id="user_msg">
		&nbsp;
	</span>

	<p align="right">
		<input type="button" id="subbtn" name="subbtn" value="Submit" align="right"/>
	</p>
	
</form>
