<?php $bca = new BulkChaseAudit; ?>
<script type="text/javascript">

$(function(){

	var form = $("form#form1");
	var table = $(">table",form);
	var subbtn = $(":button#subbtn", form);
	
	var popup = form.popup_config({
		title: "Add Chase Details for <?=$partnerID?>",
		center: true
	});
	
	$('button.bool',form).val(0);

	// Submit weekly chase details
	$( subbtn ).click( function( ) {
	
	var rep = $('button.bool',form).val();
	
	$( subbtn ).attr("disabled", "disabled");

		if(confirm("Are you sure you want to add weekly chase details?")) {
		
			$.post("/pages/acquisition/add_weekly.php?id=<?=$partnerID?>&do=add&report_sent="+rep, $( form ).serialize(), function(data){

					r = json_decode(data);
	
					if( r.status == false ){
						alert("Error adding entry, plesae contact IT");	
						$( subbtn ).removeAttr("disabled");
					}
					else{
						$( subbtn ).attr("disabled", "disabled");
						alert("Entry Added Successfully");
						$(popup).trigger("refreshChaseups");
						popup.close();
					}
					
			});	
		}
	});
	

});
</script>

	
<form id="form1" name="form1">

	<br/><br/>
		
		<table>
			<tr>
				<th>Week</th>
				<th>Chase Date</th>
				<th>Report</th>
                <th>% Comp</th>
                <th>Helpdesk</th>
			</tr>
			<tr>
				<td>
					<select id="week" name="week">
					<?php
					for ($i=1; $i<=20; $i++) {
						echo "<option id='week_$i' name='week_$i'>$i</option>";
					}
					?>
					</select>
				</td>
				<td>
					<?= el($bca->chase_date) ?>
				</td>
				<td id="report_sent" name="report_sent" align="center">
					<?= el($bca->report_sent) ?>
				</td>
				<td align="center">
					<?= el($bca->pcomplete, false, "size=3") ?>
				</td>
                <td>
                    <?= el($bca->helpdesk, false, "size=35") ?>
                </td>
			</tr>
		</table>

	<span class="user_msg">
		&nbsp;
	</span>

	<p align="right">
		<input type="button" id="subbtn" name="subbtn" value="Submit" align="right"/>
	</p>
	
</form>
