<script type="text/javascript">

var agencyid = <?= $agency->id ?>;

$(function(){

	var form = $('form#<?=_LINK?>');

    $( form ).popup_config({
        title: "Add Communication for ALL agencies",
        center: true
    });
	
	// Add correspondence
	$("button#add",form).click(function(){
	
		if( $("textarea#text", form).val().length < 5 ){
			$("textarea#text", form).val("Please enter a message longer than 5 characters!");
		}
		else {
			$.post("/pages/acquisition/add_comm_all.php?id=<?=$agency->id?>&do=save", $( form ).serialize(), function(data){
			$("button#add",form).attr("disabled","disabled");

			r = json_decode(data);

			if(r.error){
			   alert("There has been a problem adding the communication");
			}
			else if (!r.error){
			   alert("All communications added successfully");
			}

			});
		}
		return false;	
	});

});

$('#day,#month,#year').datepicker({
	minDate: 0,
	dateFormat: 'dd/mm/yy',
    onSelect: function(dateText, inst) {
        var pieces = dateText.split('/');
        $('#day').val(pieces[0]);
        $('#month').val(pieces[1]);
        $('#year').val(pieces[2]);
		$(this).change();
    }
});
</script>

<style type="text/css">

textarea
{
   resize: none;
   text-align: left;
}

h4 { text-align: center; }

#submit{ text-align: center; }

</style>


<div id="<?=_LINK?>" id="<?=_LINK?>">

	<form id="<?=_LINK?>" name="<?=_LINK?>" action="_SELF" method="POST">

		<div id="details" name="details" class="panel">
		
			<div id="message" name="message">
				<h4>Enter bulk communication text, this will appear against all agencies in the table</h4>
				<textarea id="text" name="text" rows="10" cols="65" ></textarea>
			</div>

			<div id="submit" name="submit">
			
				<p> Enter next chase date </p>
				
				<input type="text" value="dd" id="day" name="day" size="2" maxlength="2" onFocus="this.value=''" style="text-align:center;" />
				<input type="text" value="mm" id="month" name="month" size="2" maxlength="2" onFocus="this.value=''" style="text-align:center;" />
				<input type="text" value="yyyy" id="year" name="year" size="4" maxlength="4" onFocus="this.value=''" style="text-align:center;" />
				
				<br/><br />
				
				<button id="add" name="add" >Add Communication</button>
			
			</div>
		
		</div>
	
    </form>

</div>

		
