<?php
  $partner = $agency -> client -> partner;
  $issuer = $agency -> issuer;
  
  $iss = new Issuer();

  $add_dets = $iss->get_contact($issuer->id(), "group_id", 4);
  
?>
<script type="text/javascript">

var agencyid = <?= $agency->id ?>;

$(function(){

	var form = $("form#<?=_LINK?>");
	var tabs = $("div#tabs");
	

    $( form ).popup_config({
        title: "Agencies:" + " <?= $partner ?>",
        center: true
    });

    // agency details
    $("table#Issuer div#agencies table#agenciestbl tbody", form).load("<?= _SELF ?>?id=<?= $agency->id ?>&partner=<?= $partner -> id ?>&issuer=<?= $issuer -> id?>&get=agencies");
	
	// Chase Agency Button
	$("#chase_agency").click(
		function() {
			p = new popup({
				url: "/pages/acquisition/chase.php?id=<?=$agency->id?>"
        });
	});
	
	// Add comm all agencies button
	$("#add_all").click(
		function() {
			p = new popup({
				url: "/pages/acquisition/add_comm_all.php?id=<?=$agency->id?>"
        });
	});


	if("<?=$_GET['agency_mandate'] == true?>"){
		$("button#chase_agency").hide();
	}



});
</script>

<style type="text/css">

div.title{ font-weight: bold; }
div.title{ text-decoration: underline; }
div#Correspondence{min-width:600px;}

#<?=_LINK?> textarea {
width: 98%;
height: 100px;
}
div#save_button {
	height: 26px;
	display:none;
	background: #FFEDCF;
    padding:2px;
}
div#agencies table.scrollable div.scroll{
	height: 230px;
}

div#tabs table.scrollable div.scroll {
	height: 230px;
}

</style>

<div>
	<!-- href="<?= _SELF ?>?id=<?= $agency->id ?>&partner=<?= $partner->id ?>&issuer=<?= $issuer->id ?>&get=corr" -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>details">Agency Details</a>
		</li>
        <li class="nav-item">
			<a class="nav-link mail-tab" data-toggle="tab" href="#<?=_LINK?>correspondence">Correspondence</a>
		</li>
        <li class="nav-item" class="inline_obj">
			<a class="nav-link" id="chase_agency" data-toggle="tab" href="#">Chase Agencies</a>
		</li>
    </ul>

    <div class="tab-content">

		<div class="tab-pane fade show active" id="<?=_LINK?>details">

			<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= _SELF ?>?do=save&id=<?= $agency -> id ?>" method="post">

				<table id="Issuer" name="Issuer">
					<tr>
						<td valign="top">
							<div class="container">
							<?= $issuer ?>
							  <div class="title">Issuer Details</div>

								<table align="left" colspan="2">
									<tr>
										<th width="100px">Contact</th>
										<td width="200px"><?= $add_dets -> contact ?></td>
									</tr>
									<tr>
										<th width="100px">Phone</th>
										<td><?= implode(" ",str_split($add_dets -> phone,4)) ?></td>
									</tr>
									<tr>
										<th width="100px">Fax</th>
										<td><?= implode(" ", str_split($add_dets -> fax,4)) ?></td>
									</tr>
									<tr>
										<th width="100px">Email</th>
										<td><?= $add_dets -> email  ?></td>
									</tr>
									<tr>
										<th width="100px">Soft Facts</th>
										<td><?=$issuer -> bulksoftfacts ?></td>
									</tr>
									<tr>
										<th width="100px">Main Agency</th>
										<td><?=$issuer -> code  ?></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>
								</table>

								<table align="left" colspan="2">
									<tr>
										<td width="100px"><b>Address</b></td>
										<td><?= $add_dets ->address-> line1  ?></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><?= $add_dets ->address-> line2 ?></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><?= $add_dets ->address-> line3  ?></td>
									</tr>
									<tr>
										<td>&nbsp;</td>
										<td><?= $add_dets ->address-> postcode  ?></td>
									</tr>
								</table>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="title">Agencies</div>
							<div id="agencies" name="agencies" class="container" style="width:700px;">
							<div align="right"><button id="add_all" name="add_all">Add Comm - All Agencies</button></div>
								<table id="agenciestbl" name="agenciestbl" class="scrollable" height="150">
									<thead>
										<th>Old Agency</th>
										<th>Status</th>
										<th>New Agency</th>
										<th>Transfer Type</th>
										<th class="date">Next Chase</th>
										<th>Update</th>
										<!--<th>Add</th>-->
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</td>
					</tr>
				</table>

			</form>

		</div>
	
		<div class="tab-pane fade" id="<?=_LINK?>correspondence">
			<div>
				<?= Template( Correspondence::get_template_path("plugin.html"),array("filter"=>array("policy"=>$agency->id()))) ?>
			</div>
		</div>

	</div>
	
	</div>
	
</div>
