<script type="text/javascript">

$(function(){

	var form = $("form#<?=_LINK?>");

   var pop =  $( form ).popup_config({
        title: "Update Agency Details",
        center: true
    });
	

	var newcode = $("input#agency\\[short_bulk\\]", form);

	$(newcode).change(function () {
		$("input#agency\\[number\\]", form).val("*Agency: " + $(newcode).val());
	});
		
	saveProfileNotification(form);

	$(form).bind(
		"successfulSave",
			function( ){
				$(pop).trigger("refreshAgencies");
			}
	);

	//Checks whether the status is set "Tranferred away fom Policy Services"
	//and then notifies that all related correspondence will then be amended the same
	$("select#agency\\[status\\]").change(function () {
        if($("select#agency\\[status\\] option:selected").val() == 10) {
            alert("PLEASE NOTE: Setting the status to 'Transferred Away from PS' " +
				"and saving will update all relevant policies within this agency to 'Transferred Away from PS'");
        }

	});

});

//Limit the options that are shown if transfer type = agency-mandate
if("<?=$_GET['agency_mandate']?>" == "true"){
    $("select#agency\\[status\\] option[value='5'], option[value='12'], option[value='15'], option[value='16']").remove();
    $("select#agency\\[status\\] option[value='13'], option[value='24'], option[value='22'], option[value='17']").remove();
    $("select#agency\\[status\\] option[value='14'], option[value='10'], option[value='23']").remove();
}

$('#agency\\[next_chase\\]\\[D\\],#agency\\[next_chase\\]\\[M\\],#agency\\[next_chase\\]\\[Y\\]').datepicker({
	minDate: 0,
	dateFormat: 'dd/mm/yy',
    onSelect: function(dateText, inst) {
        var pieces = dateText.split('/');
        $('#agency\\[next_chase\\]\\[D\\]').val(pieces[0]);
        $('#agency\\[next_chase\\]\\[M\\]').val(pieces[1]);
        $('#agency\\[next_chase\\]\\[Y\\]').val(pieces[2]);
		$(this).change();
    }
});
</script>

<style type="text/css">

h4 { text-align: center; }
#buttons { text-align: center; }

</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= Agency::get_common_url(array('do'=>'save','id'=>$agency->id()))?>" method="POST">

		<div id="details" name="details" class="panel">
			
			<h4><u>Agency Details</u></h4>
		
			<table id="agency" name="agency">
				<tr>
					<td><b>Issuer Name</b></td>
					<td><?=$agency->issuer->__toString()?></td>
					<td><b>Old Agency Number</b></td>
					<td><?=el($agency->old_bulk, false, "size=24")?></td>
				</tr>
				<tr>
					<td><b>Partner</b></td>
					<td><?=$agency->client->partner->__toString()?></td>
					<td><b>New Agency Number</b></td>
					<td><?=el($agency->short_bulk, false, "size=24")?></td>
				</tr>
				<tr>
					<td><b>Status</b></td>
					<td><?=el($agency->status)?></td>
					<td><b>Agency Transfer Date</b></td>
					<td><?=el($agency->transferred)?></td>
				</tr>
			</table>
			
			<h4><u>Transfer Details</u></h4>
				
			<table id="transfer" name="transfer" align="center">
				<tr>
					<td><b>Transfer Started</b></td>
					<td><?=$agency->submitted->__toString()?></td>
					<td>&nbsp;</td>
					<td><b>Next Chase Date</b></td>
					<td><?=el($agency->next_chase)?></td>
				</tr>
			</table>

		</div>
		

		<input type="hidden" id="agency[number]" name="agency[number]" value="<?= $agency->number->value ?>" />		


    </form>

</div>


