<style type="text/css">
div#<?=_LINK?>{
	width:900px;
}
#save_details{
	float:right;
}
</style>

<script type="text/javascript">
$(function(){

	var form = $("form#<?=_LINK?>");

	var pop =  $( form ).popup_config({
		title: "Update Chase Details",
		center: true
	});

	//show cross when value = false
	if ( <?=$b->report_sent->value?> == 0 ) {
		$("#bulkchaseaudit\\[report_sent\\]").attr("value", 0);
	}

	$('#bulkchaseaudit\\[next_chase\\]\\[D\\],#bulkchaseaudit\\[next_chase\\]\\[M\\],#bulkchaseaudit\\[next_chase\\]\\[Y\\]').datepicker({
		minDate: 0,
		dateFormat: 'dd/mm/yy',
		onSelect: function(dateText, inst) {
			var pieces = dateText.split('/');
			$('#bulkchaseaudit\\[next_chase\\]\\[D\\]').val(pieces[0]);
			$('#bulkchaseaudit\\[next_chase\\]\\[M\\]').val(pieces[1]);
			$('#bulkchaseaudit\\[next_chase\\]\\[Y\\]').val(pieces[2]);
			$(this).change();
		}
	});

	$(form).on("click", "#save_details", function(){
	
		var partner = <?=$id?>;
		var chaseid = <?=$chaseID?>;		
		var week = $("#bulkchaseaudit\\[week\\]").val();
		var report = $("#bulkchaseaudit\\[report_sent\\]").val();
		var complete = $("#bulkchaseaudit\\[pcomplete\\]").val();
		var date = $("#bulkchaseaudit\\[chase_date\\]\\[Y\\]").val() + "-" + $("#bulkchaseaudit\\[chase_date\\]\\[M\\]").val() + "-" + $("#bulkchaseaudit\\[chase_date\\]\\[D\\]").val();
		var helpdesk = $("#bulkchaseaudit\\[helpdesk\\]").val();
		
		$.post("/pages/acquisition/add_weekly.php?id=<?=$partnerID?>&do=update&chaseid="+chaseid+"&week="+week+"&report_sent="+report+"&pcomplete="+complete+"&date='"+date+"'"+"&helpdesk="+helpdesk, function(data){

			r = json_decode(data);

			if( r.status == false ){				
				$("update_status").html("Error updating entry, plesae contact IT").addClass("bad_news");
			}else{
				$("#update_status").html("Entry Updated Successfully").addClass("good_news");
				$(pop).trigger("refreshChaseups");
				pop.close();
			}
			$("#save_details").attr('disabled','disabled');
		});
		
	});

});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<form id="<?=_LINK?>" name="<?=_LINK?>" action="#" method="POST">

		<table id="chaseups" name="chaseups" align="center">
			<tr>
				<th>Week #</th>
				<th>Chase Date</th>
				<th>Report Sent</th>
				<th>% Complete</th>
				<th>Helpdesk</th>
			</tr>
			<tr>
				<td><?=el($b->week);?></td>
				<td><?=el($b->chase_date);?></td>
				<td><?=el($b->report_sent);?></td>
				<td><?=el($b->pcomplete);?></td>
				<td><?=el($b->helpdesk);?></td>
			</tr>
		</table>

		<p>
			<span id="update_status" name="update_status">&nbsp;</span>
			<button id="save_details" name="save_details">Save</button>
		</p>

    </form>

</div>