<?php
$contact = $default_add->contact();

if($contact == ''){
	$contact = 'Agency Team';
}

$faxoremail = 'Enter email or fax number';

if($default_add->email_preferred() == true){
	$faxoremail = $default_add->email();
}
else{
	$faxoremail = $default_add->fax();
}

$partner = new Partner($agency->client->partner->id());

?>

<script type="text/javascript">

var agencyid = <?= $agency->id ?>;

$(function(){

	var form = $('form#<?=_LINK?>');

    $( form ).popup_config({
        title: "Chase Agencies: " + "<?= $agency->client->partner ?>",
        center: true
    });
	
	// Agency Submit chase
	$("button#submit_chase",form).click(function(){
	
		if ( $("input#send_to", form).val() == "" || $("input#send_to", form).val() == "Enter email or fax number") {
			alert ("Please enter a fax number or email address");
		}
		else {
			$.post("/pages/acquisition/chase.php?id=<?=$agency->id?>&do=submit", $( form ).serialize(), function(data){

				r = json_decode(data);

				if(r.status){
					alert("Request was stored for sending");
					$("button.print_preview",form).attr("disabled","disabled");
					$("button#submit_chase",form).attr("disabled","disabled");
				}else{
					alert("There has been a problem ");
				}
			});
		}
	});
	
	$("button.print_preview",form).click(function(){
	
		if ( $("input#send_to", form).val() == "" || $("input#send_to", form).val() == "Enter email or fax number") {
			alert ("Please enter a fax number or email address");
		}
		else {
			$.post("/pages/acquisition/chase.php?id=<?=$agency->id?>&do=submit&submit_type=print", $( form ).serialize(), function(data){
				
				r = json_decode(data);
				
				if(r.status == true){
					alert("Request was stored for sending.  Print and/or save document as needed.");
					$("button.print_preview",form).attr("disabled","disabled");
					$("button#submit_chase",form).attr("disabled","disabled");

					// Make parameter data object
					var params = {};
					params['id'] = r.id;

					params = JSON.stringify(params);

				}else{
					alert("There has been a problem ");
				}

                var w;
				// r.bingle is true/flase flag at this point
				if ( r.bingle == 1 ){
					w = window.open("/pages/report/index.php?do=runReport&report_id=84&data="+encodeURIComponent(params));
				}
				else{
					w = window.open("/pages/report/index.php?do=runReport&report_id=85&data="+encodeURIComponent(params));
				}
				//when new window is loaded, open print dialog
				w.onload = function () {
					w.print();
				};
			});
		}
	});
});
</script>

<style type="text/css">

textarea
{
   resize: none;
   text-align: left;
}

#buttons { text-align: left; }

</style>


<div id="<?=_LINK?>" id="<?=_LINK?>">

	<form id="<?=_LINK?>" name="<?=_LINK?>" action="_SELF" method="POST">

		<div class="card">
			<div id="details" name="details" class="card-body">

				<div id="head" name="head" style="text-align: left">
					<b>Issuer:</b> <?= $agency->issuer ?>
					&nbsp;
				</div>

				<div id="message" name="message">
					<h4>Fax will be submitted to the following contact</h4>
				</div>

				<div id="submit" name="submit">

					<table id="contact" name="contact">
						<tr>
							<td>Contact</td>
							<td>
								<input type="text" value="<?=$contact?>" id="contact_name" name="contact_name" />
							</td>
						</tr>
						<tr>
							<td>Fax Number/Email Address</td>
							<td>
								<input type="text" value="<?=$faxoremail?>" id="send_to" name="send_to" size="48" />
							</td>
						</tr>
						<tr>
							<td>Subject</td>
							<td>
								<input type="text" value="Agency Transfer Request" id="subject" name="subject" size="48" />
							</td>
						</tr>
					</table>

					<table id="text" name="text">
						<tr>
							<td>
								<h4>Coversheet Text</h4>
							</td>
						</tr>
						<tr>
							<td>
								<textarea id="message" name="message" rows="10" cols="70">Please find attached documentation regarding transfer of agency. If there are any problems please give Policy Services a call on 0345 450 7806.</textarea>
							</td>
						</tr>
					</table>

					<div id="buttons" name="buttons">
						<br />
						<?php if($default_add->originals_required() == false):?>
						<button id="submit_chase" name="submit_chasee">Submit</button>
						<?php else: ?>
						<p>You must print this document, originals are required</p>
						<button id="submit_chase" name="submit_chasee">Override and Submit</button>
						<?php endif ?>
						<button class="print_preview">Print</button>
					</div>

				</div>

			</div>
		</div>
		
    </form>

</div>