<?php $policy = new Policy; ?>

<script>
    $(function(){
    
        var form = $("form#form1");
        var table = $(">table",form);
		var subbtn = $( "#subbtn", form );
        form.popup_config({
            title: "Add Agencies to <?=$partnerID?>",
            center: true
        });
                
        form.bind("initSuggest",function(){

            $( "div.suggest:not(.init)" ).each(

                function(){
                    SuggestionBox($(this));
                });	
        });

		
		var status = $("form#form1 select#status\\[\\]");
		
        $(":button#more",form).click(
            function(){

                var sug = $("#form1 div.suggest:last")
                    .clone(true)
                    .removeClass("init");
                    
                $(":text",sug)
                    .val("")
                    .unbind();
                
                $(":input:hidden",sug)
                    .val("")
                    .unbind();
					
			    var status2 = status.clone(true);

                $("<tr/>")
                    .append( $("<td><input type='text' name='agency[]' size='40'/></td>") )
                    .append( $("<td/>").append(sug) )
					.append( $("<td/>").append(status2) )
					.append( $("<input type='text' name='day[]' size='2' maxlength='2' style='text-align:center;'/>") )
					.append( $("<input type='text' name='month[]' size='2' maxlength='2' style='text-align:center;'/>") )
					.append( $("<input type='text' name='year[]' size='4' maxlength='4' style='text-align:center;'/>") )
                    .appendTo( table );
                    
                form.trigger("initSuggest");
                
                $(":button#less").removeAttr("disabled");					
            }
            
        );
        
        $(":button#less",form).click(
            function(){
            
                $("table tr:last").remove();
                
                var n = $("#form1 tr").length;
                
                if ( n == 2){	
                    $(":button#less").attr("disabled","disabled");
                }
                
            }
                
        );
        
        form.trigger("initSuggest");
        
        $(":button#less").attr("disabled","disabled");
                
    
    });

    $( subbtn ).click( function( ) {

        if (confirm("Are you sure you want to add these Agency Codes?")) {
            $("form#form1").send( 
                function(r){
                    r = json_decode(r);
                    
                    if( r.failure > 0 ){
                        $("span.user_msg").html(r.error);	
                    }
                    else{
                        $("span.user_msg").html(r.count + " row(s) added");
						$( subbtn ).attr("disabled", true);		
						$(":button#more","form#form1").attr("disabled","disabled");
						$(":button#less","form#form1").attr("disabled","disabled");						
                    }
                }
            );
			
        }
 
	});
</script>

<style ='text/css'>
    #form1 .suggest{
        z-index:false;
    }
</style>


	
<form id="form1" name="form1" action="/pages/acquisition/add_agency.php?id=<?=$partnerID?>" method="POST">

<input type="button" id="more" name="more" value="Add Row"/>
<input type="button" id="less" name="less" value="Remove Row"/><br/><br/>
    
    <table>
        <tr>
            <th>Agency Code</th>
            <th>Issuer Name</th>
			<th>Status</th>
            <th>Agency Transfered Date</th>
        </tr>
        <tr>
            <td><input type="text" name="agency[]" value="Enter Agency Code" size="40"></td>
            <td><?php echo el::suggest( "issuer[]", Issuer::index_url(), "search" ); ?></td>
			<td><?php $choice = Choice::factory( );
					$choice->setSource( POLICY_STATUS_TBL, "ID", "Field1" );
					echo el::dropdown( "status[]", $choice->get_choices(),2 );
				?>
			</td>
			<td><input type="text" value="dd" name="day[]" size="2" maxlength="2" style="text-align:center;">
				<input type="text" value="mm" name="month[]" size="2" maxlength="2" style="text-align:center;">
				<input type="text" value="yyyy" name="year[]" size="4" maxlength="4" style="text-align:center;">
			</td>
        </tr>
    </table>

<span class="user_msg">
    &nbsp;
</span>

<p align="right"><input type="button" id="subbtn" name="subbtn" value="Submit" align="right"/></p>
</form>