<script type="text/javascript">

$( function( ){

    var frame = $("div#<?=_LINK?>"); 
    var form = $( "form#matches" );
    
    var spinner = $("img#spinner",frame);
    var button_match = $( "button#match" );
    var button_poltypes = $( "button#poltypes" );
    var button_add = $( "button#bingle" );
    var button_import = $( "button#import" );
    
    var pols_tbl = $("table#pols");
    
    //checks for a bingle transfer
    var bingle = <?php echo ($partner -> transtype() == 2)? 1 : 0 ?>;
	
	// transfer details
    $("table#agens tbody.content").load("<?= _SELF ?>?get=agencies&pid=<?= $partner -> id() ?>",function(){
        $(this).scrollable();
        spinner.hide();
    });


    //policy details
    $.post("<?= _SELF ?>?get=poltype", function(r){

        r = json_decode(r);

        if (r.length){
            $("table#pols tbody.content").html(r);
        } else {
            $("table#pols tbody.content").html("<tr><td colspan='2'>No more policy types to match up</td></tr>");
        }
        //sync the two scrolls
        $('table#pols tbody tr td div.scroll').scroll(function() {
            $('table#agens tbody tr td div.scroll')
            .scrollTop($('table#pols tbody tr td div.scroll').scrollTop());
        });

    });
    
    //submit the form to match POLICY TYPE
    $( button_poltypes ).click(function( ){
        $(this).attr("disabled",true);
        
        var unselected = [];
        $("#pols .content .suggest input[type=hidden]", frame).each(function(){
            if ($(this).val() == 0){
                var row = this.closest("tr");

                var type = $("td:first", row).text();

                unselected.push(type);
            }
        });
        
        if (unselected.length != 0){
            alert( "Please match "+unselected[0]);
            $(this).attr("disabled",false);
        }
        else{
			
			$.post("/pages/acquisition/import.php?do=match", $(form).serialize(), function(r){
				
                if(r = json_decode( r )){

                    $(button_poltypes).html("Done");
                    $(button_match).attr("disabled", false);
                    if(bingle){$(button_add).attr("disabled",false);}
                    
					var bigstring = "";
					
					for(var result in r.results){
						bigstring = bigstring + "<tr><td>"+ r.results[result]["name"] + 
						"</td><td><select id='"+r.results[result]["id"]+"' name='"+r.results[result]["id"] + "'>" +
						r.drop +"</select></td></tr></tr>";
					}

					$("table#pols thead").html("<th width='50%'>Spreadsheet Issuer</th><th='50%'>Issuer</th>");
					$("table#pols tbody.content").html(bigstring);
                
                }
                else{
                    alert("Couldnt do anything");
                }
			})
        }

    }); 
    
    //submit the form to match ISSUERS
    $( button_match ).click(function( ){
        $(this).attr("disabled",true);
        
        var unselected = []; 
        $('select').each(function(){
            if ("- -" == $(this).val()) {
                unselected.push(this.id);
            }
        });
        
        if (unselected.length != 0){
            alert( "Please match "+unselected[0]);
            $(this).attr("disabled",false);
        }
        else{
			
            $.post("/pages/acquisition/import.php?do=matchissuers", $(form).serialize(), function(r){		
				
                if(r = json_decode( r )){
					
                    $(button_match).html("Done");
                    $(button_import).attr("disabled", false);
                
                }
                else{
                    alert("Couldnt do anything");
                }
            });
        
        }

    }); 

    //submit the form to add agencies
    $( button_add ).click(function( ){
        $(this).attr("disabled",true);
    
        $.post("<?= _SELF ?>?do=add_agencies&pid=<?= $partner -> id()?>", function(r){
            
                r = json_decode(r);

                if(r.error ){
                    $("span#message").html(r.message);
                    $(button_add).attr("disabled",false);
                }
                else{
                    $(button_add).html("Done");
                }
        });
    
    });   
    
    //submit the form to match
    $( button_import ).click(function( ){
    
        $(this).attr("disabled",true);
    
        $.post("/pages/acquisition/import.php?do=import&pid=<?= $partner -> id()?>", function(r){
            
                r = json_decode(r);

                if(r.error){
                    $("span#message").html(r.message);
                    $(button_import).attr("disabled",false);
                }
                else{
                    if(r.blocked){
                        alert(r.blocked);
                    }

                    $(button_import).html("Done");
                    
                    if(r.audited){
                        alert(r.clients_added + " clients have been added, with " + r.policies_added + " policies. The import has been audited and the imported spreadsheet backed up");
                        $("table#pols tbody.content").load("<?= _SELF ?>?get=issuers&pid=<?= $partner -> id() ?>");
                    }
                    else{
                        alert("ERROR, not audited but " + r.clients_added + " clients have been added, with "+r.policies_added +" policies.");
                        //remove the following line once mysqli is in use
                        $("table#pols tbody.content").load("<?= _SELF ?>?get=issuers&pid=<?= $partner -> id() ?>");
                    }
                    
                    
                }
        }); 
    
    
    
    });
    
    
});
</script>

<style type="text/css">
<?=_LINK?> button { padding-top:2px;}

#<?=_LINK?> .scrollable div.scroll {
    height: 500px;
}

#<?=_LINK?> #pols .content .suggest, #<?=_LINK?> #pols .content .suggest input[type=text]{
    width: 400px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <div class="row no-gutters">
        <div class="col-3">
            <b>Import for <?= $partner ?></b>
        </div>
        <div class="col-9">
            <button id="poltypes">Match Policy Types</button>
            <button id="match" disabled="disabled">Match Issuers</button>
            <button id="bingle" disabled="disabled">Add agencies</button>
            <button id="import" disabled="disabled">Import Policies</button>
            <button onclick="$(function(){ $('#pols').export(); });"><img src='<?= el::image("table_go.png")?>' alt='export' /></button>
            <img id="spinner" name="spinner" src="<?= el::image("inline-ajax.gif")?>" alt="loader"/>
            <span id="message" name="message"></span>
        </div>

        <div class="col-3">
            Agencies in database
        </div>
        <div class="col-9">
            <!-- nothing to see here -->
        </div>

        <div class="col-3">
            <table id ="agens" name="agens" class="scrollable">
                <thead><th>Issuer</th></thead>
                <tbody class="content">
                </tbody>
            </table>
        </div>
        <div class="col-9">
            <!--Policies Being Imported-->
            <form id="matches" name="matches">
                <table id="pols" name="pols" class="scrollable">
                    <thead><th width="50%">Spreadsheet Policy Type</th><th width="50%">Policy Type</th></thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
