<?php
	$p = new Partner($partner['partnerID'],true);
	$b = new BulkPartner($partner['partnerID'], true);
	
	//get % complete
	$db = new mydb();
	$db -> query("SELECT Count(tblpolicy.policyID) AS `count`, tblpolicystatussql.Field1 AS `field`, tblpolicy.status
					FROM tblpolicystatussql
					  INNER JOIN (tblpolicy INNER JOIN tblclient
						ON tblpolicy.clientID = tblclient.clientID)
						ON tblpolicystatussql.ID = tblpolicy.Status
					  WHERE (((tblclient.BulkClient)='x') AND ((tblclient.partnerID)='".$partner['partnerID']."'))
					  GROUP BY tblpolicystatussql.Field1, tblpolicy.Status");
	
	$transcount = 0;
	$count = 0;	
	$content = "";

	while($row = $db->next(MYSQLI_ASSOC ))
	{
		if($row["status"] == 2 || $row["status"] == 5 || $row["status"] == 13 || $row["status"] == 17 || $row["status"] == 23 ){
			$transcount = $transcount + $row["count"];
		}
	
		$content .= "<tr><td>".$row["field"]."</td><td>".$row["count"]."</td></tr>";
		$count = $count + $row["count"];
	}

	$pcomplete  = ($transcount == 0 || $count == 0)?"0%":number_format((($transcount/$count)* 100),0)."%";
?>
<tr>
	<td><?= $p->link(); ?></td>
	<td><?= $p->get_practice()->link(); ?></td>
	<td><?= $p->phone; ?></td>
	<td><?= $p->single_rate; ?></td>
	<td><?= $p->bulk_rate; ?></td>
	<td><?= $p->transtype; ?></td>
	<td><?= $b->btrans; ?></td>
	<td><?= $p->lastchase; ?></td>
	<td><?= $pcomplete; ?></td>
	<td><a class="profile" class="Agency" href="pages/acquisition/index.php?get=profile&id=<?=$partner['partnerID']?>">Acquisition Profile</a></td>
</tr>