<?php $p = new Prospect($prospect['id'],true); ?>
<tr>
	<td><?= $p->link(); ?></td>
	<td><?= $p->practice; ?></td>
	<td><?= $p->sjp_manager1; ?></td>
	<td><?= $p->phone; ?></td>
	<td><?= $p->transtype; ?></td>
	<td><?= $p->rate; ?></td>
	<td><?= $p->renewals; ?></td>
	<td><?= $p->appointment; ?></td>
	<td><?= $p->next_chase; ?></td>
	<td><?= $p->status; ?></td>
</tr>