<style type="text/css">
#<?=_LINK?>{
	margin-top:10px;
}
#<?=_LINK?> .scrollable div.scroll {
	min-height:315px;
    max-height: 450px;
}
</style>

<script type="text/javascript">
	$(function(){

		var frame = $( "#<?=_LINK?>" );
		var prospects = $("table#prospects",frame);
		var partners = $("table#partners",frame);

		function loadProspects(){
            $("tbody:last", prospects).html("<tr><td colspan='9' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>")

		    $.ajax({
                url: "pages/acquisition/my_accounts.php?do=list_prospects",
                type: "GET",
                data: {
                    type: "json",
					user: $("#staff_select", frame).val()
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $("tbody:last",prospects).html( r.data );
                    }catch(e){
                        alert(e);
                    }
                }
            });
		}

		function loadPartners(){
            $("tbody:last", partners).html("<tr><td colspan='9' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>")

		    $.ajax({
                url: "pages/acquisition/my_accounts.php?do=list_partners",
                type: "GET",
                data: {
                    type: "json",
					user: $("#staff_select", frame).val()
                },
                dataType: "json",
                success: function( r ){
                    try{
                        $("tbody:last",partners).html( r.data );
                    }catch(e){
                        alert(e);
                    }
                }
            });
		}

		loadProspects();
		loadPartners();

		$("#staff_select", frame).on("change", function(){
		    loadProspects();
		    loadPartners();
		});
	});

</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

	<div>
		<!--Give IT, Blair and Kayleigh access to change who's accounts they see here-->
		<select class="mb-3 <?= User::get_default_instance()->has_permission(55) ? '' : 'hidden' ?>" id="staff_select">
			<?php foreach($acqStaff as $u): ?>
				<option value="<?= $u->id(); ?>" <?= $u->id() == User::get_default_instance('id') ? 'selected' : '' ?>><?= $u->staff_name() ?></option>
			<?php endforeach; ?>
		</select>

		<ul class="nav nav-tabs mb-3">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>prospects">Prospects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#<?=_LINK?>partners">Partners</a>
			</li>
		</ul>
	
		<div class="tab-content">
			<div class='tab-pane fade show active' id="<?=_LINK?>prospects">
				<table id="prospects" name="prospects" class="scrollable">
					<thead>
						<tr>
							<th style="min-width:100px">Name</th>
							<th style="min-width:100px">Practice</th>
							<th>SJP BAM</th>
							<th class="no_sort" width="100px">Phone</th>
							<th width="150px">Type</th>
							<th class="percentage">Rate</th>
							<th width="150px">Renewals</th>
							<th class="date" width="120px">Appointment</th>
							<th class="date" width="120px">Next Chase Date</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody class="content">
					</tbody>
				</table>
			</div>
			
			<div class="tab-pane fade" id="<?=_LINK?>partners">
				<table id="partners" name="partners" class="scrollable">
					<thead>
						<tr>
							<th style="min-width:140px">Name</th>
							<th style="min-width:160px">Practice</th>
							<th class="no_sort" style="min-width:100px">Phone</th>
							<th class="percentage" style="width:100px">Single Rate</th>
							<th class="percentage" style="width:90px">Bulk Rate</th>
							<th>Transfer Type</th>
							<th>Transfer Status</th>
							<th class="date">Last Chase Date</th>
							<th class="no_sort">% Complete</th>
							<th style="min-width:100px;"> Acquisition Link</th>
						</tr>
					</thead>
					<tbody class="content">
					</tbody>
				</table>
			</div>
		</div>
    </div>

</div>
