<!--<?= $default_add = $issuer->get_contact( $issuer->id(), "group_id", 4); ?>-->

<script type="text/javascript">

$( function( ){
	
	// agency details
    $("#agencies table#agenciestbl tbody").load("<?= _SELF ?>?id=<?= $issuer ->id ?>&get=agencies");

});
</script>

<style>
table.scrollable div.scroll {
    height: 230px;
}

</style>

<div class="panel">

<h1>Issuer: <?=$issuer->link($issuer -> name, $issuer->id)?></h1>

    <table  id='inputs' name='inputs'>
        <tr>
            <th width="100px">Contact</th>
            <td width="200px"><?= $default_add -> contact -> __toString()?></td>
            <th rowspan="4" valign="top" width="100px">Address</th>
            <td>
				<?= $default_add -> address -> line1?>
            </td>
           
            
        </tr>
        <tr>
            <th>Phone</th>
				<td><?= $default_add -> phone -> __toString()?></td>
				<td><?= $default_add -> address -> line2?></td>
            <td>&nbsp;</td>
            
        </tr>
        <tr>
            <th>Email</th>
				<td><?= $default_add -> email -> __toString()?></td>
				<td><?= $default_add -> address -> line3?></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <th>Fax</th>
				<td><?= $default_add -> fax -> __toString()?></td>
				<td><?= $default_add -> address -> postcode?></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
		<tr>
			<th rowspan="4" valign="top" width="100px">Soft facts</th> 
			<td rowspan="4" valign="top"><?=$issuer -> bulksoftfacts -> __toString() ?></td>
		</tr>

    </table>
		
</div>

	

<h3>Agencies &nbsp; <button onclick="$(function(){ $('#agenciestbl').export(); });"><img src='<?= el::image("table_go.png")?>' /></button></h3>
        
    <div id='agencies' name='agencies'>
        <table id='agenciestbl' name='agenciestbl' class='scrollable'>
            <thead>
                <th>Old Agency</th>
                <th>Partner</th>
                <th>Status</th>
                <th>New Agency</th>
                <th>Main Agency</th>
                <th class='date'>Next Chase</th>
                <th>Details</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

