<script type="text/javascript">

$(function(){

    var form = $("form#satisfaction_call");

    var popup =  $( form ).popup_config({
        title: "Update Satisfaction Call",
        center: true
    });

    // Allow user to print off bulk satisfaction call entry
    $("button.print").die('click').live('click', function( ) {
        window.open("/pages/acquisition/index.php?id=<?= $partner ?>&get=satisfaction_call&manager=<?=$manager->id?>");
    });

    // Save/Update new entry
    saveProfileNotification(form);

});

</script>

<style type="text/css">
div#<?=_LINK?>{
    width: 900px;
}
#<?=_LINK?> form#satisfaction_call{
    height: 500px;
}
td.comment > span > input{
    width: 99%;
}
#<?=_LINK?> td > span > input{
    width: 99%;
}
#<?=_LINK?> textarea{
    width: 99%;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>" class="panel scroll">

    <h1>Bulk Satisfaction Call</h1>

    <strong>PS Manager: <?= $manager->forename() . " " . $manager->surname() ?></strong><br /><br />

        <?php $bsc = new BulkSatisfactionCall($id, true) ?>

        <button id="<?= $bsc->id ?>" name="<?= $bsc->id ?>" class="print"><img src='<?= el::image("printer.png")?>' /></button>

        <form id="satisfaction_call" name="satisfaction_call" action="<?=BulkSatisfactionCall::get_common_url(array("do"=>"save","id"=>$bsc->id))?>" method="POST">

        <input type="hidden" id="bulksatisfactioncall[partner]" name="bulksatisfactioncall[partner]" value="<?= $partner ?>">

        <table class="data">
            <thead>
                <tr>
                    <td width="100%">Acquisition</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=1; $i<=7; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="100%"><?= strtoupper($q)." - " ?><?= $bsc->$q->display_name() ?></td>
                </tr>
                <tr>
                    <td><textarea id="bulksatisfactioncall[<?=($q)?>]" name="bulksatisfactioncall[<?=($q)?>]" rows="3"><?= $bsc->$q() ?></textarea></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="100%">New Business</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=8; $i<=14; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="100%"><?= strtoupper($q)." - " ?><?= $bsc->$q->display_name() ?></td>
                </tr>
                <tr>
                    <td><textarea id="bulksatisfactioncall[<?=($q)?>]" name="bulksatisfactioncall[<?=($q)?>]" rows="3"><?= $bsc->$q() ?></textarea></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="100%">Mypsaccount</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=15; $i<=16; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="100%"><?= strtoupper($q)." - " ?><?= $bsc->$q->display_name() ?></td>
                </tr>
                <tr>
                    <td><textarea id="bulksatisfactioncall[<?=($q)?>]" name="bulksatisfactioncall[<?=($q)?>]" rows="3"><?= $bsc->$q() ?></textarea></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
                <tr>
                    <td width="100%">General Contact with PS staff</td>
                </tr>
            </thead>
            <tbody>
                <?php for($i=17; $i<=18; $i++){ ?>
                <?php $q = "q".$i; ?>
                <tr>
                    <td width="100%"><?= strtoupper($q)." - " ?><?= $bsc->$q->display_name() ?></td>
                </tr>
                <tr>
                    <td><textarea id="bulksatisfactioncall[<?=($q)?>]" name="bulksatisfactioncall[<?=($q)?>]" rows="3"><?= $bsc->$q() ?></textarea></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td width="100%">Comments</td>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="100%"><?= $bsc->comments->display_name() ?></td>
                </tr>
                <tr>
                    <td><textarea id="bulksatisfactioncall[comments]" name="bulksatisfactioncall[comments]" rows="3"><?= $bsc->comments ?></textarea></td>
                </tr>
            </tbody>
        </table>

    </form>

</div>