<div class="p-3 text-center" id="<?=_LINK?>">
    <?php if($file = $script->get_parameters("file")): ?>
        <div class="form-group">
            <label>File:</label>
            <input type="file" name="<?= $file->name ?? 'file' ?>" <?= !empty($file->type) ? "accept='" . $file->type . "'" : '' ?>>
        </div>
    <?php endif; ?>
    <?php $params = (array) $script->get_parameters(); ?>
    <?php foreach($params as $key => $param): ?>
        <?php if(!in_array($key, Script::COMMON_PARAMS)): ?>
            <?php
                $type = $param->type;
            ?>
            <div class="form-group">
                <label><?= $param->label ?></label>
                <?= el::$type($key) ?>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
</div>