<style>
    .script-category, .script-row{
        transition: all .5s ease-in-out;
    }

    .script-category:hover, .script-row:hover, .script-category.active, .script-row.active{
        cursor: pointer;
        background: #005B7A;
        color: #fff;
    }

    #script-feedback{
        max-height: 200px;
        overflow: auto;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        $(".script-category", frame).on("click", function(){
            var id = $(this).data("id");

            $(".script-category.active", frame).removeClass("active");
            $(this).addClass("active");

            $.ajax({
                url: "/pages/scripts/?do=load_scripts",
                type: "GET",
                data: {
                    id: id,
                },
                dataType: "JSON",
                success: function(response) {
                    if (response.success){
                        $("#scripts-card #scripts", frame).html(response.data);
                        $("#scripts-card", frame).fadeIn();
                    }
                }
            });
        });

        $(frame).on("click", ".script-row", function(){
            var id = $(this).data("id");

            $(".script-row.active", frame).removeClass("active");
            $(this).addClass("active");


            $.ajax({
                url: "/pages/scripts/?do=load_form",
                type: "GET",
                data: {
                    id: id,
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        if (response.form){
                            $("#script-form", frame).html(response.form);
                        }

                        $("#script-title", frame).html(response.name);
                        $("#run-script", frame).data("id", id);

                        $("#script-form-card", frame).fadeIn();
                    }
                }
            });
        });

        $("#run-script", frame).on("click", function(){
            var id = $(this).data("id");
            var data = new FormData();
            var btn = $(this);

            $("#script-form *[name]", frame).each(function(){
                if($(this).attr("type") === "file"){
                    data.append($(this).attr("name"), $(this)[0].files[0]);
                } else {
                    data.append($(this).attr("name"), $(this).attr("value"));
                }
            });

            $(btn).attr("disabled", true);

            $.ajax({
                url: "/pages/scripts/?do=run_script&id="+id,
                type: "POST",
                data: data,
                dataType: "JSON",
                contentType: false,
                processData: false,
                success: function(response){
                    if (response.success){
                        if (response.feedback.length){
                            $("#script-feedback", frame).html(response.feedback.join("<br>"));
                            $("#feedback-box", frame).slideDown();
                        }

                        if (response.files.length){
                            $.each(response.files, function(){
                                $("#script-files", frame).html("<a class='btn btn-primary' href='/pages/scripts/?do=download&name="+encodeURI(this)+"' target='_blank'><i class='fas fa-download'></i> "+this+"</a>");
                            });

                            $("#files-box", frame).slideDown();
                        }
                    } else {
                        if (response.feedback.length){
                            $("#script-feedback", frame).html(response.feedback.join("<br>"));
                            $("#feedback-box", frame).slideDown();
                        }
                    }

                    $(btn).attr("disabled", false);
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Categories</h4>
                </div>
                <div class="card-body p-0">
                    <?php foreach(ScriptCategory::all() as $cat): ?>
                    <div class="w-100 script-category border-top" data-id="<?= $cat->id() ?>">
                        <div class="p-3">
                            <h5 class="mb-0"><?= $cat->name() ?></h5>
                        </div>
                    </div>
                    <?php endforeach ?>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" id="scripts-card" style="display: none;">
                <div class="card-header">
                    <h4 class="mb-0">Scripts</h4>
                </div>
                <div class="card-body p-0" id="scripts">
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" id="script-form-card" style="display: none;">
                <div class="card-header">
                    <h4 class="mb-0" id="script-title"></h4>
                </div>
                <div class="card-body p-0">
                    <form class="w-100" id="script-form" enctype="multipart/form-data"></form>
                    <div class="w-100 border-top">
                        <div class="p-5 text-center">
                            <button class="btn btn-primary py-3 px-5" id="run-script"><i class="fas fa-scroll"></i> Run Script</button>
                        </div>
                    </div>
                    <div class="w-100 border-top" id="feedback-box" style="display: none;">
                        <div class="p-3" id="script-feedback">

                        </div>
                    </div>
                    <div class="w-100 border-top" id="files-box" style="display: none;">
                        <div class="p-3 text-center" id="script-files">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
