<?php $user = new User(User::get_default_instance('id'),true);?>
<style type="text/css">
    #<?=_LINK?>{
            position: absolute;
            width: 100%;
            height: 100%;
            display: none;
    }

    #<?=_LINK?>>.row{
        height: 100%;
        width: 100%;
    }

    .frontpage-widgets{
        width: 100%;
        height: 100%;
    }

    .frontpage-widgets tr{
        height: 33%;
    }

    .frontpage-widgets tr td{
        width: 25%;
    }

    .widget-placeholder{
        height: 96%;
        width: 96%;
        margin: 2%;
        background-color: #ccc;
        text-align: center;
        position: relative;
        transition: all .5s ease-in-out;
    }

    .widget-placeholder:hover{
        background-color: #999;
        cursor: pointer;
    }

    .widget-placeholder p{
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -10px;
    }

    .widget-selector .widget-row:hover{
        background-color: #ccc;
        cursor: pointer;
    }

    #embedded-feed {
        height:445px;
        width:98%;
    }

    @media(min-width: 1441px){
        #embedded-feed{
            height:586px;
        }
    }


</style>
<script type="text/javascript">
    $(function(){

        var frame = $('div#<?=_LINK?>');
        var main = $('div#articles-main');

        var row, col, width, height;

        $("div#latest-breach div.content",frame).load('/pages/breaches/?do=latest');

        //get all the users saved widgets
        $.ajax({
            url: "/pages/widget",
            type: "GET",
            data: {
                user_widgets: true
            },
            success: function (response){
                var widgets = JSON.parse(response);

                $.each(widgets, function(){
                    var row = parseInt(this["row"]);
                    var col = parseInt(this["col"]);
                    var width = parseInt(this["width"]);
                    var height = parseInt(this["height"]);

                    //remove all the placeholders
                    for (var r = row; r < row + height; r++) {
                        //loops through the rows
                        for (var c = col; c < col + width; c++) {
                            //loops through the columns
                            if (!(r === row && c === col)) {
                                //remove all the td's to clear space
                                $(".wgt-row-" + r + " .wgt-col-" + c).remove();
                            }
                        }
                    }

                    var widgetID = this["widgetID"];

                    $.ajax({
                        url: "/pages/widget",
                        type: "GET",
                        data: {
                            id: widgetID,
                            row: row,
                            col: col
                        },
                        success: function (response) {
                            //append the widget
                            $(".wgt-row-" + row + " .wgt-col-" + col).attr("colspan", width)
                                .attr("rowspan", height)
                                .data("widget-id", widgetID)
                                .html(response);
                        }
                    });
                });

                $("#<?=_LINK?>").fadeIn("slow");
            }
        });

        //load all available widgets for the widget selector
        $.ajax({
            url: "/pages/widget",
            type: "GET",
            data: {
                widget_options: true
            },
            success: function (response){
                var widgets = JSON.parse(response);

                $.each(widgets, function(){
                    var widgetID = this["widgetID"];
                    var title = this["title"];
                    var width = this["width"];
                    var height = this["height"];
                    var group = this["group"];

                    var table = "";

                    switch (group) {
                        case "1":
                           table = "#my-widgets-table-body";
                           break;
                        case "2":
                            table = "#team-widgets-table-body";
                            break;
                        default:
                            table = "#other-widgets-table-body";
                            break;
                    }

                    $(table).append("<tr class='widget-row' data-width='" + width + "' data-height='" + height + "' data-widget-id='" + widgetID + "'>" +
                        "<td>" + title + "</td><td>" + height + "</td><td>" + width + "</td></tr>");
                });
            }
        });

        //open the widget selector
        $(".widget-placeholder", frame).click(function(){
            row = $(this).closest("tr").data("row");
            col = $(this).closest("td").data("col");

            //decide which widgets will fit in the space
            $("#widgets-table-body .widget-row").each(function(){
                var width = $(this).data("width");
                var height = $(this).data("height");

                var fits = true;

                //check for space
                for(var r = row; r < row+height; r++){
                    //loops through the rows
                    for (var c = col; c < col+width; c++){
                        //loops through the columns
                        if($(".wgt-row-"+r+" .wgt-col-"+c).find(".widget-placeholder").length === 0){
                            fits = false;
                        }
                    }
                }

                if (!fits){
                    $(this).addClass("table-danger");
                } else {
                    $(this).removeClass("table-danger");
                }
            });

            $("#widgetModal").modal();
        });

        //place a new widget when an option is clicked
        $(".widget-selector").on("click", ".widget-row", function(){
            width = $(this).data("width");
            height = $(this).data("height");

            var fits = true;

            //check for space
            for(var r = row; r < row+height; r++){
                //loops through the rows
                for (var c = col; c < col+width; c++){
                    //loops through the columns
                    if($(".wgt-row-"+r+" .wgt-col-"+c).find(".widget-placeholder").length === 0){
                        fits = false;
                    }
                }
            }

            if (fits) {
                var widgetID = $(this).data("widget-id");

                $.ajax({
                    url: "/pages/widget",
                    type: "GET",
                    data: {
                        id: widgetID,
                        row: row,
                        col: col,
                        save_widget: true
                    },
                    success: function (response) {
                        //add the widget to the page
                        //loop through again and remove the appropriate tiles
                        for (var r = row; r < row + height; r++) {
                            //loops through the rows
                            for (var c = col; c < col + width; c++) {
                                //loops through the columns
                                if (!(r === row && c === col)) {
                                    //remove all the td's to clear space
                                    $(".wgt-row-" + r + " .wgt-col-" + c).remove();
                                }
                            }
                        }

                        //append the widget
                        $(".wgt-row-" + row + " .wgt-col-" + col).attr("colspan", width)
                            .attr("rowspan", height)
                            .data("widget-id", widgetID)
                            .html(response);

                        $("#widgetModal").modal("hide");
                    }
                });

                $(this).hide();

            } else {
                alert("This widget wont fit there!");
            }
        });

        //remove a widget when X is clicked
        $(".frontpage-widgets").on("click", ".remove-widget", function(e){
            e.preventDefault();

            if (confirm("Delete this widget?")){
                var widgetID = $(this).closest("td").data("widget-id");
                var row = $(this).closest("tr").data("row");
                var col = $(this).closest("td").data("col");

                $.ajax({
                    url: "/pages/widget",
                    type: "GET",
                    data: {
                        delete_widget: true,
                        id: widgetID,
                        row: row,
                        col: col
                    },
                    dataType: "json",
                    success: function(response){
                        if (response.success){
                            //refresh the page
                            location.reload();
                        }
                    }
                });
            }

        });

        //report a breach
        $("#report-breach").on("click", function () {
            var breachPop = new popup({
                'title': "Report new breach",
                'url': "<?=Breaches::index_url(['do'=>'report'])?>"
            });
        });

    });
</script>
<div id='<?=_LINK?>'>

    <div class="row no-gutters">
        <table class="frontpage-widgets col-8">
            <tr class="wgt-row-1" data-row="1">
                <td class="wgt-col-1" data-col="1">
                    <div class="widget-placeholder">
                        <p>Add New Widget</p>
                    </div>
                </td>
                <td class="wgt-col-2" data-col="2">
                    <div class="widget-placeholder">
                        <p>Add New Widget</p>
                    </div>
                </td>
            </tr>
            <tr class="wgt-row-2" data-row="2">
                <td class="wgt-col-1" data-col="1">
                    <div class="widget-placeholder">
                        <p>Add New Widget</p>
                    </div>
                </td>
                <td class="wgt-col-2" data-col="2">
                    <div class="widget-placeholder">
                        <p>Add New Widget</p>
                    </div>
                </td>
            </tr>
            <tr class="wgt-row-3" data-row="3">
                <td class="wgt-col-1" data-col="1">
                    <div class="widget-placeholder">
                        <p>Add New Widget</p>
                    </div>
                </td>
                <td class="wgt-col-2" data-col="2">
                    <div class="widget-placeholder">
                        <p>Add New Widget</p>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- keep this row for spacing -->
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="col-4 pt-2">

            <div id='latest-breach' class='mock-ui-widget clearfix ml-1'>
                <h1 class='mock-ui-widget-header'>Latest Breach</h1>
                <div class='content pull-left'>
                    <img class="spinner" name="spinner" src="/lib/images/ajax-loader.gif"/>
                </div>
                <div class="pull-right">
                    <button type="button" id="report-breach" class="btn-sm">
                        Report Breach
                    </button>
                </div>
            </div>

            <div id='yammer_feed' class="mock-ui-widget ml-1 mt-2">
                <h1 class='mock-ui-widget-header'>PS Player</h1>
                <div class='content'>
                    <div id="embedded-feed"></div>
                    <?php if (APP_ENV == 'production') { ?>
                    <script type="text/javascript">
                        yam.connect.embedFeed({
                            "config": {
                                "use_sso": false,
                                "header": false,
                                "footer": false,
                                "showOpenGraphPreview": false,
                                "defaultToCanonical": false,
                                "hideNetworkName": false
                            },
                            container: "#embedded-feed",
                            network: "policyservices.co.uk",
                            feedType: "group",
                            feedId: "8648224"
                        });
                    </script>
                    <?php } ?>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="widgetModal" tabindex="-1" role="dialog" aria-labelledby="widgetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="widgetModalLabel">Choose a Widget</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <ul class="nav nav-tabs mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#my-widgets">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#team-widgets">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#other-widgets">Other</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="my-widgets">
                        <table class="table table-striped widget-selector">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Height</th>
                                <th scope="col">Width</th>
                            </tr>
                            </thead>
                            <tbody id="my-widgets-table-body">
                            <!-- load in the widgets -->
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="team-widgets">
                        <table class="table table-striped widget-selector">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Height</th>
                                <th scope="col">Width</th>
                            </tr>
                            </thead>
                            <tbody id="team-widgets-table-body">
                            <!-- load in the widgets -->
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="other-widgets">
                        <table class="table table-striped widget-selector">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Height</th>
                                <th scope="col">Width</th>
                            </tr>
                            </thead>
                            <tbody id="other-widgets-table-body">
                            <!-- load in the widgets -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
