<style type="text/css">
    ::-webkit-scrollbar , #update > ::-webkit-scrollbar{
        width: 8px;
    }
    ::-webkit-scrollbar-button, #update > ::-webkit-scrollbar-button {
        background:#AAA;
    }
    ::-webkit-scrollbar-track-piece, #update > ::-webkit-scrollbar-track-piece {
        background:#d9e2e4;
    }
    ::-webkit-scrollbar-thumb , #update > ::-webkit-scrollbar-thumb {
        background:#00516b;
    }

    #invoice-panel{
        background-color: #fff;
        color: #000;
        height: initial !important;
    }
</style>

<script type="text/javascript">
    $( function( ) {

        var frame = $("div#panels");

        $(".invoice-btn").each(function(){
            $(this).click(function(e){
                e.stopPropagation();

                $(".btn-primary").removeClass("btn-primary").addClass("btn-outline-primary");
                $(this).removeClass("btn-outline-primary").addClass("btn-primary");
            });
        });

        $("#od-inv-btn").click(function(){
           //load overdue invoices
            $.ajax({
                url: "/pages/invoice/?do=load_invoices",
                type: "GET",
                data: {
                    type: "overdue"
                },
                dataType: "json",
                success: function(response){
                    if (response.success){
                        //show the data
                        $("#menu-invoices tbody").html("");
                        $.each(response.rows, function(){
                            $row = this.toString();
                            $("#menu-invoices tbody").append($row);
                        });
                    } else {
                        $("#menu-invoices").html("Failed to load data");
                    }
                }
            });
        });

        $("#up-inv-btn").click(function(){
            //load upcoming invoices
            $.ajax({
                url: "/pages/invoice/?do=load_invoices",
                type: "GET",
                data: {
                    type: "single"
                },
                dataType: "json",
                success: function(response){
                    if (response.success){
                        //show the data
                        $("#menu-invoices tbody").html("");
                        $.each(response.rows, function(){
                            $row = this.toString();
                            $("#menu-invoices tbody").append($row);
                        });
                    } else {
                        $("#menu-invoices").html("Failed to load data");
                    }
                }
            });
        });

        //load upcoming invoices
        $.ajax({
            url: "/pages/invoice/?do=load_invoices",
            type: "GET",
            data: {
                type: "single"
            },
            dataType: "json",
            success: function(response){
                if (response.success){
                    //show the data
                    $("#menu-invoices tbody").html("");
                    $.each(response.rows, function(){
                        $row = this.toString();
                        $("#menu-invoices tbody").append($row);
                    });
                } else {
                    $("#menu-invoices").html("Failed to load data");
                }
            }
        });

    });
</script>

<div id="invoice-panel">

    <div class="text-center p-3">
        <div class="btn-group" role="group">
            <button type="button" class="invoice-btn btn btn-outline-primary" id="od-inv-btn">Overdue (<span id="overdue-count"></span>)</button>
            <button type="button" class="invoice-btn btn btn-primary" id="up-inv-btn">Upcoming (<span id="upcoming-count"></span>)</button>
        </div>
    </div>

    <div id="menu-invoices" class="invoice-group">
       <table class="table">
           <thead>
            <tr>
                <th>Invoice No.</th>
                <th>Ref. No.</th>
                <th>Date Due</th>
                <th>Amount</th>
            </tr>
           </thead>
           <tbody>

           </tbody>
       </table>
    </div>

</div>