<?php define( "_FORM_ID", random_string( 15 ) ); ?>
<script type="text/javascript">
    
$( function( ){

    var form = $("#<?=_FORM_ID?> form");
    var status = $("span.status",form);

    form.validate = function ( ) {
            
        // Only enable form submission when the user has entered both a password and username
        
        status.text("");

        try {
            $.each(["username","password"],function( i, f ){
                if( $(":input#"+f).val().length < 1 ){
                    throw "Please enter " + f;
                }
            });
            return true;

        } catch( e ){
            status
                .text( e )
                .addClass("bad")
                .removeClass("good");
            return false;
        }
    };

    form.submit(
        function( ){

            if( !form.validate() ){
                return false;
            }

            form.send(
                function( r ){
                    try {
                        
                        r = json_decode(r);
                        status.text( r.msg );

                        if( r.status ){ // successful login

                                status
                                    .removeClass("bad")
                                    .addClass("good");

                                var password = $("input#password").val();
                                success_callback(password);

                        } else { // failed login

                            status
                                .removeClass("good")
                                .addClass("bad");

                            failure_callback();
                        }

                    } catch( e ) { 
                        alert( e );
                    }

                }
            );
        }
    );

    $(":input#username",form).focus( );

    /*Hacky way to get the placeholders working with the Username and password inputs*/
    /*This is the only which will work with the el() function*/
    $("input[type='password']").attr("placeholder", " Password");

    $("input[type='password']").focus(function(){
        $(this).data('placeholder',$(this).attr('placeholder'))
                .attr('placeholder','');
    }).blur(function(){
        $(this).attr('placeholder',$(this).data('placeholder'));
    });

    var logo;



    $("input[type='text']").attr("placeholder", " Username");
    $("input[type='text']").focus(function(){
        $(this).data('placeholder',$(this).attr('placeholder'))
                .attr('placeholder','');
    }).blur(function(){
        $(this).attr('placeholder',$(this).data('placeholder'));
    });
});
</script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- / Bootstrap CSS -->

<style type="text/css">

    .good{ color: green; }
    .bad{ color: red; }

    #bigImage{
        height: 100px;
        width: 100px;
        margin: 20px auto;
        background: url(<?=el::image("PS-logo-blue.png")?>) left center no-repeat;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #<?=_FORM_ID?> #username, #<?=_FORM_ID?> #password {
        border: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
  }


    #<?=_FORM_ID?> #submitBut {
            background: #ffffff;
            background-image: -webkit-linear-gradient(top, #00516b, #006686);
            background-image: -moz-linear-gradient(top, #00516b, #006686);
            background-image: -ms-linear-gradient(top, #00516b, #006686);
            background-image: -o-linear-gradient(top, #00516b, #006686);
            background-image: linear-gradient(to bottom, #00516b, #006686);
            -webkit-border-radius: 3px;
            -moz-border-radius: 0;
            border-radius: 3px;
            border-color: #006686;
            color: #FFFEEF;
            margin: 5px;
            font: 12pt CoreSansC, FontAwesome;
            padding: 20px 150px 20px 153px;
            text-decoration: none;
            font-weight: 700;
        }

    #<?=_FORM_ID?> #submitBut:hover {
            background-image: -webkit-linear-gradient(top, #006686,#00516b);
            background-image: -moz-linear-gradient(top,#006686,#00516b);
            background-image: -ms-linear-gradient(top, #006686,#00516b);
            background-image: -o-linear-gradient(top, #006686,#00516b);
            background-image: linear-gradient(to bottom, #006686,#00516b);
        }

    #loginLabel{
        color:#DFDFDF;
    }
    #prophetLabel{
         color:#ffffff;
         font-size: larger;
         padding-bottom:20px;
         font-weight: 700;
     }

    .card{
        border: none;
    }

    .nav-tabs{
        margin-top: 0;
    }

    .nav-tabs .nav-item{
        width: 50%;
        background-color: #00516b;
        border: none;
        transition: all .5s ease-in-out;
    }

    .nav-tabs .nav-item a{
        color: #fff;
    }

    .nav-tabs .nav-item:hover{
        background-color: #006686;
    }

    .nav-tabs .nav-link.active{
        border-color: transparent !important;
    }

    .nav-tabs .nav-link.active:hover{
        color: #006686 !important;
    }

    .nav-tabs .nav-link:hover{
        color: #fff !important;
    }

</style>

<div id="<?=_FORM_ID?>" name="<?=_FORM_ID?>" class="text-center">

    <div class="card mt-5 d-inline-block">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    Prophet
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.mypsaccount.com" target="_blank">
                    myPS
                </a>
            </li>
        </ul>

        <form action="<?= _SELF ?>" method="POST" autocomplete="off">
            <div id="bigImage"></div>
            <p class="mb-5">Sign in to <strong>Prophet</strong></p>

            <div class="input-group">
                <?= el::txt( "username" ) ?>
            </div>

            <div class="input-group">
                <?= el::pwd( "password" ) ?>
            </div>

            <input id="submitBut" type='submit' value='LOGIN'/>

            <div class="my-2">
                <span align="center" class="status">&nbsp;</span>&nbsp;
            </div>

        </form>
    </div>

</div>
      
