    <script type="text/javascript">

      function success_callback ( ) {
          
          // kill popup
          var p = $( "#<?= _LINK ?>" ).get_popup( );
          p.close( );

          // return content to screen
          $( "*" ).not( p ).fadeIn( );
          var message = $.trim($("#systems_message").html());
          if(message == ""){
              $("[aria-labelledby='ui-dialog-title-system_notifications']").hide();
          }
      }

      function failure_callback ( ) {

      }

      $( function( ) {

          //Remove the "are you sure" logout modal box
          $('div#logout-dialog-confirm').remove();
          
          var p = $( "#<?= _LINK ?>" ).get_popup( );
          p.setTitle( "Session has expired" );
          $( p ).center( );

          // disable buttons
          for( x in p.buttons ) { 
              $( p.buttons[ x ] ).remove( );
          }


          // hide all content other than timeout window
          $( "*" ).not( p ).fadeOut( );

      });

    </script>

    <style type="text/css">

      .popup tbody {
          background:#005B7A;
      }
      .popup > tbody > tr > td  {
          background:#005B7A;
      }
      #<?=_LINK?> > p {
          width: 400px;
          text-align: center;
           color: #ffffff;

      }


    </style>
    
    <div id='<?= _LINK ?>' name='<?= _LINK ?>'>

        <p>
            Your session credentials have expired, please 
            reenter your login details below to continue
            from where you were.</br >
            To end this session please 
            <a href="javascript:window.location.reload( true );">click here</a>
        </p>

        <?= new Template ( "login-form.html" ) ?>

    </div>
