<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var tbl = $("#assigned_table", frame);

        function loadIdeas(){
            $.ajax({
                url: "/pages/goodideas/?do=load_assigned",
                type: "GET",
                dataType: "JSON",
                beforeSend: function(){
                    $("tbody", tbl).html("<tr><td class='text-center' colspan='99'><i class='fas fa-spinner fa-spin'></i></td></tr>");
                },
                success: function(response){
                    if (response.success){
                        if (response.data){
                            $("tbody", tbl).html(response.data);
                        } else {
                            $("tbody", tbl).html("<tr><td class='text-center' colspan='99'>No Results Found</td></tr>");
                        }
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        loadIdeas();
    });
</script>

<div id="<?=_LINK?>">
    <table class="table table-striped good_idea_table" id="assigned_table">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th>Date Submitted</th>
            <th>Date Due</th>
            <th>Submitted By</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>