<style>
    #<?=_LINK?>{
        width: 600px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var p = frame.popup_config({
            title: "<?= ucwords($implement) ?> Good Idea",
            center: true,
        });

        $("#send", frame).on("click", function(){
            var feedback = $("#goodidea\\[feedback\\]", frame).val();

            $(this).attr("disabled", true);

            $.ajax({
                url: "/pages/goodideas/?do=implement&id=<?= $gi->id() ?>",
                type: "GET",
                data: {
                    implement: "<?= $implement ?>",
                    feedback: feedback
                },
                dataType: "JSON",
                success: function(response){
                    $(this).attr("disabled", false);

                    if (response.success){
                        $(document).trigger("<?= $gi->id() ?>-implement-feedback");

                        p.close();
                    } else {
                        alert(response.data);
                    }
                }
            });
        });
    });
</script>

<div class="my-3" id="<?=_LINK?>">
    <div class="row no-gutters">
        <div class="col-8 offset-2">
            <p>We'll send <?= $gi->addedby->link($gi->addedby->staff_name()) ?> an email to let them know you've <?= $implement == "approve" ? 'approved' : 'rejected' ?> their good idea.</p>

            <label>Additional Comments:</label>
            <?= el($gi->feedback, false, "class='w-100' rows='10'") ?>

            <div class="clearfix mt-3">
                <div class="float-right">
                    <button class="btn btn-success" id="send"><i class="fal fa-paper-plane"></i> Send</button>
                </div>
            </div>
        </div>
    </div>
</div>