<style>
    #<?=_LINK?>{
        width: 600px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var p = frame.popup_config({
            title: "Follow Up Email",
            center: true,
        });

        $("#send", frame).on("click", function(){
            var message = $("#message", frame).val();

            if (message.length > 0){
                $(this).attr("disabled", true);

                $.ajax({
                    url: "/pages/goodideas/?do=send_follow_up&id=<?= $gi->id() ?>",
                    type: "GET",
                    data: {
                        message: message
                    },
                    dataType: "JSON",
                    success: function(response){
                        $(this).attr("disabled", false);

                        if (response.success){
                            p.close();
                        } else {
                            alert(response.data);
                        }
                    }
                });
            }
        });
    });
</script>

<div class="my-3" id="<?=_LINK?>">
    <div class="row no-gutters">
        <div class="col-8 offset-2">
            <p>We'll send <?= $gi->addedby->link($gi->addedby->staff_name()) ?> an email with your message.</p>

            <label>Message:</label>
            <textarea class="w-100" rows="10" id="message"></textarea>

            <div class="clearfix mt-3">
                <div class="float-right">
                    <button class="btn btn-success" id="send"><i class="fal fa-paper-plane"></i> Send</button>
                </div>
            </div>
        </div>
    </div>
</div>