<style>
    #<?=_LINK?>{
        width: 800px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var form = $("#jira-form", frame);

        var p = frame.popup_config({
            title: "Add To JIRA",
            center: true,
        });

        $("#add-issue", frame).on("click", function(){
            var formData = new FormData(form[0]);

            $.ajax({
                url: "/pages/goodideas/?do=add_jira&id=<?=$gi->id()?>",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        if (response.data.jira){
                            $("#<?= $gi->id() ?>-jira-url #add-jira").after("<a class=\"btn btn-primary w-50\" href=\"https://policyservices.atlassian.net/browse/" + response.data.jira + "\" target=\"_BLANK\"><i class=\"fal fa-eye\"></i> View on JIRA</a>")
                            $("#<?= $gi->id() ?>-jira-url #add-jira").remove();
                        }

                        if (response.data.approve){
                            $(document).trigger("approve-good-idea-<?= $gi->id() ?>");

                            p.close();
                        }
                    } else {
                        alert(response.data);
                    }
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <form id="jira-form">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Board</h5>
                        </div>
                        <div class="card-body">
                            <select class="w-100" id="jira[board]" name="jira[board]">
                                <option value="AD">Admin</option>
                                <option value="CORE">Core</option>
                                <option value="MICRO">Microservices</option>
                                <option value="MYP">myPSaccount</option>
                                <option value="PROP" selected>Prophet</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Summary</h5>
                        </div>
                        <div class="card-body">
                            <input type="text" class="w-100" id="jira[summary]" name="jira[summary]" value="<?= $gi->subject() ?>">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Issue Type</h5>
                        </div>
                        <div class="card-body">
                            <select class="w-100" id="jira[issue_type]" name="jira[issue_type]">
                                <option>Task</option>
                                <option>Story</option>
                                <option>Bug</option>
                                <option>Epic</option>
                                <option selected>Improvement</option>
                                <option>New Feature</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 mt-2">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Assign To</h5>
                        </div>
                        <div class="card-body">
                            <select class="w-100" id="jira[assignee]" name="jira[assignee]">
                                <option value="auto">Automatic</option>

                                <?php

                                $s = new Search(new User());

                                $s->eq("department", 7);
                                $s->eq("active", 1);

                                while($u = $s->next(MYSQLI_ASSOC)):

                                ?>
                                <?php

                                $username = $u->username;

                                if ($u->id() == 117){
                                    $username = "admin";
                                }

                                ?>
                                <option value="<?= $username ?>"><?= $u->staff_name() ?></option>

                                <?php endwhile; ?>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Description</h5>
                        </div>
                        <div class="card-body">
                            <textarea class="w-100" id="jira[description]" name="jira[description]" rows="10"><?= $gi->description() ?></textarea>

                            <div class="clearfix mt-2">
                                <div class="float-right">
                                    <button class="btn btn-success" id="add-issue"><i class="fal fa-plus"></i> Add to JIRA</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>