<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        function loadTable(status = "pending"){
            var tbl = $("#" + status + "_table");
            $.ajax({
                url: "/pages/goodideas/?do=load_" + status,
                type: "GET",
                dataType: "JSON",
                beforeSend: function(){
                    $("tbody", tbl).html("<tr><td class='text-center' colspan='99'><i class='fas fa-spinner fa-spin'></i></td></tr>");
                },
                success: function(response){
                    if (response.success){
                        if (response.data){
                            $("tbody", tbl).html(response.data);
                        } else {
                            $("tbody", tbl).html("<tr><td class='text-center' colspan='99'>No Results Found</td></tr>");
                        }
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        function refreshTBP(){
            $.ajax({
                url: "/pages/goodideas/?do=load_tbp",
                type: "GET",
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        if (response.data){
                            $("#tbp_total", frame).html(response.data.total);
                            $("#tbp_count", frame).html(response.data.count);
                            $("#pending_count", frame).html(response.data.pending);
                            $("#development_count", frame).html(response.data.development);
                            $("#paid_count", frame).html(response.data.paid_count);
                            $("#paid_total", frame).html(response.data.paid_total);
                        }
                    } else {
                        alert(response.data);
                    }
                }
            });
        }

        loadTable();

        $(document).unbind("refresh-gi-table").on("refresh-gi-table", function(){
            var tbl = $(".gi-tab.active", frame).data("table");

            loadTable(tbl);
            refreshTBP();
        });

        $(".gi-tab", frame).on("click", function(){
            var tbl = $(this).data("table");

            loadTable(tbl);
        });

        $("#unpaid-check-all", frame).on("change", function(){
            var checked = $(this).is(":checked");

            $(".unpaid-checkbox", frame).each(function(){
                $(this).attr("checked", checked);
            });

            if (checked){
                $("#mark-all-paid", frame).attr("disabled", false);
            } else {
                $("#mark-all-paid", frame).attr("disabled", true);
            }
        });

        $(frame).on("change", ".unpaid-checkbox", function(){
            var checked = $(".unpaid-checkbox:checked", frame).length;

            if (checked > 0){
                $("#mark-all-paid", frame).attr("disabled", false);
            } else {
                $("#mark-all-paid", frame).attr("disabled", true);
            }
        });

        $("#mark-all-paid", frame).on("click", function(){
            var checked = [];

            if (confirm("Mark All Checked Ideas as Paid?")){
                $(".unpaid-checkbox:checked", frame).each(function(){
                    checked.push($(this).val());
                });

                $("#mark-all-paid", frame).attr("disabled", true);

                $(".unpaid-feedback", frame).html("Paying " + checked.length + " Good Ideas");

                $.ajax({
                    url: "/pages/goodideas/?do=pay-range",
                    type: "GET",
                    data: {
                        ids: checked,
                    },
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            $(document).trigger("refresh-gi-table");
                            $(".unpaid-feedback", frame).html("Payed " + checked.length + " Good Ideas");
                        } else {
                            alert(response.data);
                            $(".unpaid-feedback", frame).html(response.data);
                        }
                    }
                });
            }
        });
    });
</script>

<div id="<?=_LINK?>">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="p-1 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-0">Good Ideas</h5>
                    </div>
                    <div class="card-body">
                        <p><strong id="pending_count"><?= $pendingCount ?></strong> Pending</p>
                        <p><strong id="development_count"><?= $developmentCount ?></strong> Awaiting Development</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="p-1 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-0">Total To Be Paid</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2><strong>£<span id="tbp_total"><?= $totalUnpaid ?></span></strong></h2>
                        <p class="text-muted mb-0"><strong id="tbp_count"><?= $totalTBP ?></strong> Good Ideas</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="p-1 h-100">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-0">Total Paid</h5>
                    </div>
                    <div class="card-body text-center">
                        <h2><strong>£<span id="paid_total"><?= $totalPaid ?></span></strong></h2>
                        <p class="text-muted mb-0"><strong id="paid_count"><?= $totalPaidCount ?></strong> Good Ideas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-4 mb-3">
        <li class="nav-item">
            <a class="nav-link active gi-tab" data-table="pending" data-toggle="tab" href="#pending-tab">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gi-tab" data-table="development" data-toggle="tab" href="#development-tab">Awaiting Development</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gi-tab" data-table="unpaid" data-toggle="tab" href="#unpaid-tab">Awaiting Payment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gi-tab" data-table="paid" data-toggle="tab" href="#paid-tab">Paid</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gi-tab" data-table="rejected" data-toggle="tab" href="#rejected-tab">Rejected</a>
        </li>
        <li class="nav-item">
            <a class="nav-link gi-tab" data-table="user-breakdown" data-toggle="tab" href="#user-breakdown-tab">User Breakdown</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="pending-tab">
            <table class="table table-striped good_idea_table" id="pending_table">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Submitted</th>
                    <th>Date Due</th>
                    <th>Submitted By</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="development-tab">
            <table class="table table-striped good_idea_table" id="development_table">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Submitted</th>
                    <th>Date Due</th>
                    <th>Submitted By</th>
                    <th>Date Approved</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="unpaid-tab">
            <div class="clearfix mb-2">
                <div class="float-left">
                    <p class="unpaid-feedback"></p>
                </div>
                <div class="float-right">
                    <button class="btn btn-outline-info" id="mark-all-paid" disabled><i class="fal fa-coin"></i> Mark All As Paid</button>
                </div>
            </div>

            <table class="table table-striped good_idea_table" id="unpaid_table">
                <thead>
                <tr>
                    <th><input type="checkbox" id="unpaid-check-all"></th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Submitted</th>
                    <th>Date Due</th>
                    <th>Submitted By</th>
                    <th>Date Approved</th>
                    <th>Date Implemented</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="paid-tab">
            <table class="table table-striped good_idea_table" id="paid_table">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Submitted</th>
                    <th>Date Due</th>
                    <th>Submitted By</th>
                    <th>Date Approved</th>
                    <th>Date Implemented</th>
                    <th>Date Paid</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="rejected-tab">
            <table class="table table-striped good_idea_table" id="rejected_table">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Submitted</th>
                    <th>Date Due</th>
                    <th>Submitted By</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="user-breakdown-tab">
            <div class="clearfix mb-2">
                <div class="float-left">
                    <p class="unpaid-feedback"></p>
                </div>
                <div class="float-right">
                    <a class="btn btn-success" id="export-unpaid" href="/pages/goodideas/?do=export_unpaid" target="_BLANK"><i class="fal fa-file-export"></i> Export Unpaid</a>
                </div>
            </div>

            <table class="table table-striped good_idea_table" id="user-breakdown_table">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Amount Pending</th>
                    <th>Amount Paid</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>