<script>
    var frame = $("#<?=_LINK?>");
    var form = $("#good_idea_form", frame);

    var mailto = "mailto: goodidea@policyservices.co.uk?cc=lewis.barbour@policyservices.co.uk, michelle.fraser@policyservices.co.uk";

    $("#gi-mail-to", frame).attr("href", mailto);

    var p = frame.popup_config({
        title: "I've Got A Good Idea",
        center: true,
        helpGuide: "Prophet Guides/good idea guide.pdf"
    });

    saveProfileNotification(form);

    $(form).on("successfulSave", function(){
        setTimeout(function(){
            p.close();
        }, 2000);
    });

    $("#goodidea\\[subject\\]", frame).on("change", function(){
        var newMailTo = mailto + "&subject=" + $(this).val();

        $("#gi-mail-to", frame).attr("href", newMailTo);
    });
</script>

<style>
    #<?=_LINK?>{
        width: 800px;
    }
</style>

<div id="<?=_LINK?>">
    <form id="good_idea_form" class="m-3 px-5" method="POST" action="<?= $goodidea->get_common_url(["do" => "create"]) ?>">
        <div>
            <label>Subject</label>
            <?= el($goodidea->subject, false, "class='w-100'") ?>
        </div>

        <div>
            <label>Description</label>
            <?= el($goodidea->description, false, "class='w-100' rows='10'") ?>
        </div>

        <div class="alert alert-warning">Please email any attachments to <a class="alert-link" id="gi-mail-to" href="#">goodidea@policyservices.co.uk</a> using the same subject.</div>
    </form>
</div>