<?php

$status = "Pending";

if ($goodidea->implement() > 0){
    if ($goodidea->implemented() > 0){
        if ($goodidea->paid() > 0){
            $status = "Paid";
        } else {
            $status = "Awaiting Payment";
        }
    } else {
        $status = "Awaiting Development";
    }
} elseif (!is_null($goodidea->implement())){
    $status = "Rejected";
}

if (User::get_default_instance("department") != 7 && User::get_default_instance("id") != 116){
    $readOnly = true;
} else {
    $readOnly = false;
}

$allocated = false;

if($readOnly && User::get_default_instance("id") == $goodidea->allocated_to()){
    $allocated = true;
}

?>

<style>
    #<?=_LINK?>{
        width: 1200px;
    }

    #<?=_LINK?> #description-container .card-body{
        white-space: pre-line;
        max-height: 250px;
        overflow-y: scroll;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var form = $("#good_idea_form", frame);

        var implement = false;

        var p = frame.popup_config({
            title: "<?= $goodidea->subject() ?>",
            center: true,
        });

        $(p).on("close", function(){
            window.nav_counters();
        });

        saveProfileNotification(form);

        $("#add-jira", frame).on("click", function(){
            new popup({
                url: "/pages/goodideas/?do=add_jira_form&id=<?= $goodidea->id() ?>"
            });
        });

        $("#approve", frame).on("click", function(){
            $(document).trigger("approve-good-idea-<?= $goodidea->id() ?>");
        });

        $(document).unbind("approve-good-idea-<?= $goodidea->id() ?>").on("approve-good-idea-<?= $goodidea->id() ?>", function(){
            if ($("#approve").is(":visible")){
                new popup({
                    url: "/pages/goodideas/?do=approve&id=<?= $goodidea->id() ?>"
                });

                implement = true;
            }
        });

        $("#reject", frame).on("click", function(){
            new popup({
                url: "/pages/goodideas/?do=reject&id=<?= $goodidea->id() ?>"
            });

            implement = false;
        });

        $(document).unbind("<?= $goodidea->id() ?>-implement-feedback").on("<?= $goodidea->id() ?>-implement-feedback", function(){
            $(document).trigger("refresh-gi-table");

            if (implement){
                $("#approve", frame).addClass("d-none");

                $("#complete-dev", frame).removeClass("d-none");

                $("#gi-status", frame).html("Awaiting Development");
            } else {
                $("#reject", frame).addClass("d-none");
                $("#gi-status", frame).html("Rejected");
            }
        });

        $("#complete-dev", frame).on("click", function(){
            if (confirm("Mark this idea as complete?")){
                $.ajax({
                    url: "/pages/goodideas/?do=complete&id=<?= $goodidea->id() ?>",
                    type: "GET",
                    dataType: "JSON",
                    success: function(response) {
                        if (response.success){
                            $(document).trigger("refresh-gi-table");

                            $("#complete-dev", frame).addClass("d-none");
                            $("#mark-paid", frame).removeClass("d-none");

                            $("#gi-status", frame).html("Awaiting Payment");
                        }
                    }
                });
            }
        });

        $("#mark-paid", frame).on("click", function(){
            if (confirm("Mark this idea as paid?")){
                $.ajax({
                    url: "/pages/goodideas/?do=pay&id=<?= $goodidea->id() ?>",
                    type: "GET",
                    dataType: "JSON",
                    success: function(response) {
                        if (response.success){
                            $(document).trigger("refresh-gi-table");

                            $("#mark-paid", frame).addClass("d-none");

                            $("#gi-status", frame).html("Paid");
                        }
                    }
                });
            }
        });

        $("#follow-up-email", frame).on("click", function(){
            new popup({
                url: "/pages/goodideas/?do=follow_up_form&id=<?= $goodidea->id() ?>"
            });
        });
    });
</script>

<div class="pb-3" id="<?=_LINK?>">
    <form id="good_idea_form" method="POST" action="<?= $goodidea->get_common_url(["do" => "save", "id" => $goodidea->id]) ?>">
        <div class="row no-gutters">

            <div class="<?= $readOnly ? 'col-6' : 'col-4' ?>">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Details</h5>
                        </div>
                        <div class="card-body">
                            <p>Added By: <strong><?= $goodidea->addedby->link($goodidea->addedby->staff_name()) ?></strong></p>
                            <p>Added When: <strong><?= \Carbon\Carbon::createFromTimestamp($goodidea->addedwhen())->toDayDateTimeString(); ?></strong></p>
                            <p>Allocated To: <?= $readOnly ? $goodidea->allocated_to : User::list_users(true, "name='goodidea[allocated_to]'", $goodidea->allocated_to(), true) ?></p>
                            <p>Due Date: <?= $readOnly ? $goodidea->due_date : el($goodidea->due_date) ?></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="<?= $readOnly ? 'col-6' : 'col-4' ?>">
                <div class="px-1 h-100">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="mb-0">Status</h5>
                        </div>
                        <div class="card-body text-center">
                            <h3 id="gi-status"><?= $status ?></h3>
                            <?php if(!$readOnly): ?>
                                <div class="mt-2">
                                    <button class="btn btn-outline-danger w-50 <?= in_array($status, ["Pending", "Awaiting Development"]) ? '' : 'd-none' ?>" id="reject"><i class="fal fa-times"></i> Reject</button>
                                    <button class="btn btn-outline-success w-50 <?= in_array($status, ["Pending", "Rejected"]) ? '' : 'd-none' ?>" id="approve"><i class="fal fa-check"></i> Approve</button>
                                    <button class="btn btn-outline-success w-50 <?= $status == "Awaiting Development" ? '' : 'd-none' ?>" id="complete-dev"><i class="fal fa-check"></i> Mark as Complete</button>
                                    <button class="btn btn-outline-info w-50 <?= $status == "Awaiting Payment" ? '' : 'd-none' ?>" id="mark-paid"><i class="fal fa-coin"></i> Mark as Paid</button>
                                </div>
                            <?php else: ?>
                                <?php if($allocated && !$goodidea->implemented()): ?>
                                    <button class="btn btn-outline-success w-50" id="complete-dev"><i class="fal fa-check"></i> Mark as Complete</button>
                                <?php endif; ?>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>

            <?php if(!$readOnly): ?>
                <div class="col-4">
                    <div class="px-1 h-100">
                        <div class="card h-100">
                            <div class="card-header">
                                <h5 class="mb-0">Actions</h5>
                            </div>
                            <div class="card-body text-center" id="<?= $goodidea->id() ?>-jira-url">
                                <?php if($goodidea->jira_id()): ?>
                                    <a class="btn btn-primary w-50" href="https://policyservices.atlassian.net/browse/<?= $goodidea->jira_id() ?>" target="_BLANK"><i class="fal fa-eye"></i> View on JIRA</a>
                                <?php else: ?>
                                    <button class="btn btn-outline-primary w-50" id="add-jira"><i class="fal fa-plus"></i> Add to JIRA</button>
                                <?php endif; ?>
                                <button class="btn btn-outline-info mt-3 w-50" id="follow-up-email"><i class="fal fa-envelope"></i> Send Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            <?php endif; ?>

        </div>

        <div class="row no-gutters mt-3">
            <div class="col-6">
                <div class="px-1 h-100">
                    <div class="card h-100" id="description-container">
                        <div class="card-header">
                            <h5 class="mb-0">Description</h5>
                        </div>
                        <div class="card-body py-0">
                            <p><?= $goodidea->description ?></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-6">
                <div class="px-1 h-100">
                    <div class="card h-100" id="notes-container">
                        <div class="card-header">
                            <h5 class="mb-0">Notes</h5>
                        </div>
                        <div class="card-body">
                            <p>
                                <?php if(!$readOnly || $allocated): ?>
                                    <?= el($goodidea->notes, false, "class='w-100' rows='10'") ?>
                                <?php else: ?>
                                    <?= $goodidea->notes ?>
                                <?php endif; ?>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <?php if(!$readOnly && $goodidea->jira_id()): ?>
            <?php $jira = $goodidea->jira()->fields ?>
            <div class="row no-gutters mt-3">
                <div class="col-12">
                    <div class="px-1">
                        <div class="card" id="jira-status">
                            <div class="card-header">
                                <h5 class="mb-0">JIRA</h5>
                            </div>
                            <div class="card-body">
                                <div class="row no-gutters">
                                    <div class="col-4">
                                        <p>Status: <strong><?= $jira->status->name ?></strong></p>
                                        <p>Assigned To: <strong><?= $jira->assignee->displayName ?></strong></p>
                                    </div>
                                    <div class="col-8">
                                        <div class="border-left h-100 pl-2">
                                            <?php if($jira->comment && count($jira->comment->comments)): ?>
                                                <?php foreach($jira->comment->comments as $comment): ?>
                                                    <div class="border-bottom">
                                                        <h6>
                                                            <strong><?= $comment->author->displayName ?></strong>&nbsp;
                                                            <?= \Carbon\Carbon::parse($comment->created)->toDayDateTimeString() ?>
                                                        </h6>
                                                        <p><?= $comment->body ?></p>
                                                    </div>
                                                <?php endforeach; ?>
                                            <?php else: ?>
                                                <p><i>No Comments</i></p>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php endif; ?>
    </form>
</div>