<?php

$policy = new Policy();

?>

<style>

    #<?=_LINK?>{
        width: 600px;
    }

</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Bulk Update Policies",
            center: true
        });

        $(".update-attr", frame).on("click", function(){
            var target = $($(this).data("target"));

            target.toggleClass("hidden");
        });

        $("#submit-bulk-updates", frame).on("click", function(){
            var data = {
                policies: $("#policies", frame).val(),
                status: null,
                type: null,
                owner: null
            };

            var checked = 0;

            if (!$("#status-input", frame).hasClass("hidden")){
                data.status = $("#policy\\[status\\]", frame).val();
                checked++;
            }

            if (!$("#type-input", frame).hasClass("hidden")){
                data.type = $("#policy\\[type\\]", frame).val();
                checked++;
            }

            if (!$("#owner-input", frame).hasClass("hidden")){
                data.owner = $("#policy\\[owner\\]", frame).val();
                checked++;
            }

            if (checked){
                $.ajax({
                    url: "/pages/policy/?do=bulkUpdate&update=true",
                    type: "GET",
                    data: data,
                    dataType: "JSON",
                    success: function(response){
                        if (response.success){
                            $("#<?= $callbackFrame ?> #policies").trigger("refresh");
                            pop.close();
                        } else {
                            alert(response.data);
                        }
                    }
                })
            }
        });
    });
</script>

<div id="<?=_LINK?>" class="p-3">
    <p class="text-center">
        Bulk update <?= count($policies); ?> policies.
    </p>
    <div class="row no-gutters">
        <div class="col-6 offset-3">
            <div class="row no-gutters">
                <div class="col-1 mb-2">
                    <input type="checkbox" class="update-attr" data-target="#status-input">
                </div>
                <div class="col-3 mb-2">
                    <label><strong>Status</strong></label>
                </div>
                <div class="col-8 mb-2">
                    <span class="hidden" id="status-input">
                        <?= el($policy->status) ?>
                    </span>
                </div>

                <div class="col-1 mb-2">
                    <input type="checkbox" class="update-attr" data-target="#type-input">
                </div>
                <div class="col-3 mb-2">
                    <label><strong>Type</strong></label>
                </div>
                <div class="col-8 mb-2">
                    <span class="hidden" id="type-input">
                        <?= el($policy->type, false, false, false, false, false, "instant") ?>
                    </span>
                </div>

                <div class="col-1 mb-2">
                    <input type="checkbox" class="update-attr" data-target="#owner-input">
                </div>
                <div class="col-3 mb-2">
                    <label><strong>Owner</strong></label>
                </div>
                <div class="col-8 mb-2">
                    <span class="hidden" id="owner-input">
                        <?= $policy->getOwner($policy->owner()) ?>
                    </span>
                </div>

                <div class="col-12">
                    <div class="text-center">
                        <?= el::hide("policies", json_encode($policies)) ?>
                        <button type="button" class="btn btn-success" id="submit-bulk-updates"><i class="far fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>