<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Delete <?= strval($policy); ?>",
            center: true,
        });

        $("#delete_records_confirm_btn", frame).on("click", function(){
            var btn = $(this);
            var html = btn.html();

            if (confirm("Delete <?= strval($policy); ?> and all of its records?")){
                var reason = $("#delete_records_reason", frame).val();

                btn.attr("disabled", true).html("<i class='fas fa-spinner fa-spin'></i> Working...");

                $.ajax({
                    url: "/pages/policy/?do=delete_records&id=<?= $policy->id(); ?>",
                    type: "GET",
                    data: {
                        reason: reason,
                    },
                    dataType: "JSON",
                    success: function(response){
                        if(response.success){
                            alert("Policy has been deleted!");
                            pop.close();
                        } else {
                            alert(response.data);
                            btn.attr("disabled", false).html(html);
                        }
                    }
                });
            }
        });

        $("#delete_records_reason", frame).on("keyup", function(){
            if ($(this).val().length > 20) {
                $("#delete_records_confirm_btn", frame).attr("disabled", false);
            } else {
                $("#delete_records_confirm_btn", frame).attr("disabled", true);
            }
        });
    });
</script>

<style>
    #<?=_LINK?>{
        width: 600px;
        min-height: 400px;
        overflow: auto;
    }

    #delete_records_reason{
        width: 98%;
    }
</style>

<div id="<?=_LINK?>">
    <p>This will permanently delete this policy and all records we hold relating to <?= strval($policy); ?> including any correspondence and mandates.</p>
    <p>If the policy has any income stored against it, we will not be able to delete the records automatically.</p>
    <p>Please provide a reason for deleting the policy below.</p>

    <textarea cols="50" rows="5" id="delete_records_reason" placeholder="reason..."></textarea>

    <div class="text-center">
        <button class="btn btn-danger" id="delete_records_confirm_btn" disabled><i class="fas fa-trash-alt"></i> Delete</button>
    </div>
</div>