<tr class="<?= $policy->hasIncomeHold($policy->id()) ? 'table-danger' : '' ?>" data-id="<?= $policy->id()?>" data-number="<?= $policy->number() ?>" data-provider="<?= $policy->issuer ?>" data-owner="<?=$policy->owner() ?>">
    <?php if( in_array("client",$excludes) ){ ?>
        <td class="merge_request"><input id="<?= $policy->id()?>" type="checkbox"/></td>
    <?php } ?>

    <td>
        <?= $policy->link()?>
        <?= $policy->ar_count() ? '<i class="far fa-exclamation-circle text-danger" title="Action Required"></i>' : '' ?>
        <?= $policy->hasIncomeHold($policy->id()) ? '<i class="text-danger">(income held)</i>' : '' ?>
    </td>

    <td data-issuerid="<?= $policy->issuer->id()?>"><?= $policy->issuer->link()?></td>

    <?php if( !in_array("type",$excludes) ){ ?>
        <td><?= $policy->type ?></td>
    <?php }?>

    <?php if( !in_array("client",$excludes) ){ ?>
        <td><?= $policy->client->link()?></td>
    <?php } ?>

    <?php if( !in_array("partner",$excludes) ){ ?>
        <td><?= $policy->client->partner->link('$forename $surname ($id)') ?></td>
    <?php } ?>

    <?php if( !in_array("status",$excludes) ){ ?>
        <td><?= $policy->status ?></td>
    <?php } ?>

    <?php if( !in_array("owner",$excludes) ){ ?>
        <td id="<?=$policy->id();?>"><?php if($policy->owner ==""){ echo "--";}else{ echo $policy->getOwnerAttribute($policy->owner());} ?>
            <!--div class="owner_saved<?= $policy->id()?>">&nbsp;</div-->
        </td>
    <?php } ?>

    <?php if( !in_array("ctrls",$excludes)) { ?>
    <td>
        <?=
        ($wf = $policy->outstanding_workflow('Policy'))
        ? el::bt( "<img src=".el::image("wf.png")." alt='workf'>",false, "href='".$wf->get_common_url(array('id'=>$wf->id(),'get'=>"profile"))."' class='workflow'" )
        : "&nbsp;"
        ?>
        <?=
        ( $nb = $policy->has_newbusiness() )
        ? el::bt( "<img src=".el::image("newbus.png")." alt=nb>", false, "href='".NewBusiness::get_common_url(array('get'=>'profile','id'=>$nb->id()))."' class='new_business'" )
        : "&nbsp;"
        ?>
        <?=
        ( $vr = $policy->has_reviewTicket() )
        ? el::bt( "<img src=".el::image("review_book.png")." alt='virtue'>", false, "href='/pages/virtue/index.php?do=add_review&id=$policy->id' class='has_virtuereview'" )
        : "&nbsp;"
        ?>
    </td>
    <td><?php if( $policy->archived() != NULL ){ echo '<div class="tag">Archived</div>'; }?></td>
    <?php } ?>
</tr>