<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var pop = frame.popup_config({
            title: "Policy Merge Request",
            center: true,
        });

        $("#close", frame).on("click", function(){
            pop.close();
        });

        $("#merge", frame).on("click", function(){
            var policies = [];

            $(this).attr("disabled", true);

            $(".pol_id", frame).each(function(){
                policies.push($(this).html().trim());
            });

            $.ajax({
                url: "/pages/client/?do=policy_merge_request",
                type: "GET",
                data: {
                    policies: policies.join(","),
                    id: "<?= $policies[0]->client() ?>",
                },
                dataType: "JSON",
                success: function(response){
                    if (!response.error){
                        $("#merge_success", frame).slideDown();

                        setTimeout(function(){
                            pop.close();
                        }, 1000);
                    } else {
                        alert(response.status);
                    }
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <div class="alert alert-success hidden" id="merge_success">
        <i class="fas fa-check"></i> Merge requested
    </div>
    <p>Please confirm that you would like to combine the selected policies into one.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Provider</th>
            <th>Status</th>
            <th>Type</th>
            <th>Policy Owner</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($policies as $policy): ?>
        <tr>
            <td class="pol_id"><?= $policy->id(); ?></td>
            <td><?= $policy->link() ?></td>
            <td><?= $policy->issuer ?></td>
            <td><?= $policy->status ?></td>
            <td><?= $policy->type ?></td>
            <td><?= $policy->getOwnerAttribute($policy->owner()) ?></td>
        </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <p>All <b>mail</b>, and <b>cashflow payments</b> will be kept and transferred
        into the new unified policy record.</p>
    <p><strong>These changes go through an approval process and we try to approve these within 5
        days.</strong></p>
    <div class="clearfix">
        <div class="float-right">
            <button class="btn btn-success" id="merge"><i class="fas fa-compress-alt"></i> Merge These Policies</button>
            <button class="btn btn-danger" id="close">Cancel</button>
        </div>
    </div>

</div>