<script type="text/javascript">
    $(function(){

        var form = $("#<?=_LINK?>");

        var pop = form.popup_config({
            title: "New Policy for <?=$policy->client?>",
            center: true
        });


        var dupeTable = $("table#dupes",form);
        var ignoreDupes = $(":checkbox#ignoreDupes",form);
        var numberField = $("<?=$policy->number->get_html_id(false,Field::HTML_ID_JQUERY)?>");
        var warning = $(".notification",form);
        var txt_msg = $("textarea#reason",form).val();
		// Disable unique policy checkbox unitl predupe search is run
		$(ignoreDupes).attr("disabled","disabled");

        numberField.change(function(){
            ignoreDupes.attr("checked",false);
        });

        $('input[type="submit"]',form).attr('disabled', true);

        $('textarea',form).on('keyup',function() {
            if($("textarea",form).val().length > 5 ) {
                $('input[type="submit"]',form).attr('disabled', false);
            } else {
                $('input[type="submit"]',form).attr('disabled', true);
                $('span#status',form).addClass('bad_news').html('Please give a reason for adding the policy.');
            }
        });

        saveProfileStatusSpan( form,{
            before: function( ){
			    // dont check for star issuer policies
                var issuer = parseInt($("#policy\\[issuer\\]", form).val());

                var star_issuers = [
                    1045, // ***Unassigned***
                    1197, // ***Partner Account***
                    1254, // **Contract**
                    11391, // ***Client Letter***
                    11764, // ***Client Agreement***
                ];

                if ($.inArray(issuer, star_issuers) !== -1) {
                    // Star issuer, dont bother with duplicates
                    form.trigger("submit",[true]);
                } else {
                    // not in the star issuers array, lets check for duplicates
                    // Enable unique policy checkbox after predupe search
                    $(ignoreDupes).removeAttr("disabled");

                    if( form.xhr != null ){
                        form.xhr.abort();
                    }



                    if( ignoreDupes.is(":checked") ){
                        form.trigger("submit",[true]);
                    }

                    form.xhr = $.ajax({
                        url: "<?=Policy::get_common_url()?>",
                        type: "GET",
                        data: {
                            do: "list",
                            filter: {
                                number: numberField.val()
                            },
                            excludes: [ "status", "type", "ctrls" ]
                        },
                        dataType: "html",
                        success: function( r ){

                            $("tbody:last",dupeTable).html(r);

                            if( $("tbody:last tr",dupeTable).length > 0 ){

                                warning.slideDown("fast");

                            } else {
                                form.trigger("submit",[true]);
                            }
                        }
                    });

                    return false;
                }
            }
        });

        form.bind("successfulSave", function(){
            $(pop).trigger("policyAdded"); 
            ignoreDupes.attr("checked",false);
			
			if(typeof(window.clients_loaded) != "undefined" && window.clients_loaded !== null) {
				$("table#policies").trigger("policy_added");
				window.policy_num = $("#policy\\[number\\]").val();
				pop.close();
			}
        });

        // remove blank policy owner optionadd
        $("#policy\\[owner\\] option[value='']").remove();
        // hide unknown option for policy owner unless IT or department team leader
        if ("<?=User::get_default_instance('department');?>" != 7 && "<?=User::get_default_instance('team_leader');?>" != 1) {
            $("#policy\\[owner\\] option[value='6']").hide();
        }

    });
</script>

<style type="text/css">
form#<?=_LINK?> {
    width: 650px;
}
form#<?=_LINK?> table.scrollable div.scroll {
    height: 100px;
    font-size: 9pt;
}
</style>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?=Policy::get_common_url(array('do'=>'create'))?>" method="POST">

  <table>
    <tr>
      <th width="125px">Number</th>
      <td><?= el($policy->number) ?></td>
    </tr>
    <tr>
      <th>Type</th>
      <td><?= el($policy->type, false, false, false, false, false, "instant") ?></td>
    </tr>
    <tr>
      <th>Issuer</th>
      <td><?= el($policy->issuer) ?></td>
    </tr>
      <tr>
          <th>Policy Owner</th>
          <td><?= $policy->getOwner() ?></td>
      </tr>

    <tr>
          <th>Reason for adding</th>
          <td><textarea name="policy[reason]" id="policy[reason]" style="width: 450px;"></textarea>   <span style="color:red">*</span></td>

      </tr>
  </table>

  <br />

  <div class="notification bad_news static" style="font-size:10pt;">
    The following potential duplicates have been found, please review them and
    then confirm whether you'd still like to add this policy by ticking the box
    below the table.
  </div>

  <table id="dupes" name="dupes" class="scrollable">
    <thead>
      <tr>
        <th width="33%">Number</th>
        <th>Issuer</th>
        <th>Client</th>
        <th>Partner</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

  <p align="right">
    <span class="status">&nbsp;</span>
    <input type="checkbox" id="ignoreDupes" name="ignoreDupes"/>
    <label for="ignoreDupes">This is a unique policy</label>
    <input type="submit" value="Save Policy"/>
  </p>

  <!-- #TODO fix this line (PHP) -->
  <?= el($policy->client,false,false,false,false,DatabaseObject::ELEMENT_HIDDEN) ?>

</form>