<style type="text/css">
div#content_window > #response > div {
    text-align: right;
    padding-bottom: 10px;
}
</style>

<div>
  <button id="export" name="export" onclick="$(function(){ $('#policy-results').export(); });">Export</button>
  <button id="print" name="print" onclick="$(function(){ $('#policy-results').print(); });">Print</button>
</div>

<table class="data">
  <thead>
    <tr>
      <th>Number</th>
      <th>Provider</th>
      <th>Client</th>
      <th>Partner</th>
      <th>Status</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <?= $results ?>
  </tbody>
</table>
