<style type="text/css">
    div#<?=_LINK?> {
        border-bottom: 1px #9F9F9F solid;
        padding-bottom: 5px;
    }
    div#<?=_LINK?> input[type='text'] {
        width: 80%;
        border-radius: .25em;
        border-bottom-right-radius: 0;
    }
    form#search-form{
        display:inline;
    }
    div#<?=_LINK?> button, div#<?=_LINK?> input{
      font-size: 12pt;
    }
    #response > table {
        display: none;
    }
    #response > table div.scroll {
        height: 350px;
    }
</style>

<script type="text/javascript">
    $(function () {

        var frame = $("#<?=_LINK?>");
        var form = $(">form", frame);
        var response = $("div#response");

        form.submit(function () {
            $(">#help", response).fadeOut("fast");

            form.send(function (r) {
                $(">table", response).show();
                $(">table tbody:last", response).html(r);
            });
            return false;
        });

        $(":text#search").focus();
    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">
    <form action="<?= Policy::index_url() ?>" method="GET" autocomplete="off">
        <?= el::txt('search',false,"style='width:50%;'") ?>&nbsp;
        <?= el::bt("&raquo;","search-policy","type='submit'") ?>
        <button onclick="$(function(){ $('#response table.scrollable').export(); });">
            <i class="fa fa-table"></i>
        </button>
        <button onclick="$(function(){ $('#response table.scrollable').print(); });">
            <i class="fa fa-print"></i>
        </button>
    </form>
</div>

<div id="response" name="response">
    <div id="help" name="help">
        <?= ( empty( $help ) ) ? "&nbsp" : $help; ?>
    </div>

    <table class="scrollable">
        <thead>
        <tr>
            <th>Number</th>
            <th>Issuer</th>
            <th>Type</th>
            <th>Client</th>
            <th>Partner</th>
            <th>Status</th>
            <th width="150px">Owning Client</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>

