<tr>
    <td><?= $policy->link()?></td>
    <td><?= truncate( $policy->issuer->link(),25) ?></td>
    <?php
     if( !in_array("client",$excludes) ){
         echo "<td>".$client->link( )."</td>";
     }
     if( !in_array("partner",$excludes) ){
         echo "<td>".$partner->link()."</td>";
     }
     if( in_array("type",$excludes) ){
         echo "<td>".$policy->type."</td>";
     }
     if( in_array("status",$excludes) ){
         echo "<td>".$policy->status."</td>";
     }
        ?>
    <td>
      <?=
        //($policy->has_valuation( )) 
        (true)
        ? el::bt( "<img src=".el::image("valuation.png")." alt='val'>", false, "class='valuation' href='/pages/valuation/?do=view&pending=".$policy->id."'") 
        : "&nbsp;" 
      ?>
    </td>
    <td>
      <?= 
        ($wf = $policy->outstanding_workflow(3)) 
        ? el::bt( "<img src=".el::image("wf.png")." alt='workf'>",false, "href='/pages/workflow/?do=get&id=".$wf."' class='workflow'" ) 
        : "&nbsp;" 
      ?>
    </td>
    <td>
      <?= 
        $nb = $policy->has_newbusiness( );
      //  ? el::bt( "<img src=".el::image("newbus.png")." alt=nb>", false, "href='<?= NewBusiness::get_common_url(array('get'=>'profile','id'=>$nb->id()))?>' class='new_business'" ) 
      //: "&nbsp;" 
      ?>
    </td>
</tr>
