<script type="text/javascript">
$(function( ){

        var form = $("form#<?=_LINK?>");
        var pop = form.popup_config({
            "center": true,
            "title" : "Set policy status" 
        });

        // hide ***Action Required*** unless this is the current status
        if ("<!--?=$policy->status?>" != 5) {
            $("#policy\\[status\\] option[value='5']", form).hide();
        }

        saveProfileStatusSpan(
            form, {
                success: function( r ){

                    // create an item of correspondence
                    var data = { 
                        <?=Correspondence::get_default_group_name()?>: {
                            message: "<?=Correspondence::DEFAULT_MESSAGE?>",
                            subject: $("<?=$policy->status->get_html_id(false,FIELD::HTML_ID_JQUERY)?> option:selected").text(),
                            letter: "<?=Letter::byName('Coversheet')->id()?>",
                            policy: <?=$policy->id()?>,
                            client: <?=$policy->client()?>,
                            partner: <?=$policy->client->get_object()->partner()?>
                        }
                    };

                    pop.close();
					window.policyID = <?=$policy->id()?>;
					window.pol_subject = $("<?=$policy->status->get_html_id(false,FIELD::HTML_ID_JQUERY)?> option:selected").text();
					window.pol_message = "<?=Correspondence::DEFAULT_MESSAGE?>";
					$("table#policies").trigger("add_correspondence");
                }
            }
        );
    }
); 
</script>
<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= Policy::get_common_url(array('do'=>'save','id'=>$policy->id())) ?>" method="POST">

    <table width="400px">
        <tr>
            <th>New Status</th>
            <td><?= el($policy->status)  ?></td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <span class='status'>&nbsp;</span>&nbsp;
                <?= el::bt( "Save...",false,"type='submit'" ) ?>
            </td>
        </tr>
    </table>

</form>
