<script type="text/javascript">
$(  
    function( ){

        var form = $("form#<?=_LINK?>");
        
        var pop = form.popup_config({
            "center": true,
            "title" : "Set policy status" 
        });

        // hide ***Action Required*** unless this is the current status
        if ("<!--?=$policy->status?>" != 5) {
            $("#policy\\[status\\] option[value='5']", form).hide();
        }

        saveProfileStatusSpan(
            form, {
                success: function( r ){

                    // create an item of correspondence + print it
                    var data = { 
                        <?=Correspondence::get_default_group_name()?>: {
                            message: "<?=Correspondence::DEFAULT_MESSAGE?>",
                            subject: $("<?=$policy->status->get_html_id(false,FIELD::HTML_ID_JQUERY)?> option:selected").text(),
                            letter: "<?=Letter::byName('Coversheet')->id()?>",
                            policy: <?=$policy->id()?>,
                            client: <?=$policy->client()?>,
                            partner: <?=$policy->client->get_object()->partner()?>
                        }
                    };

                    pop.close();

                    // print coversheet
                    if( $("#include-coversheet").is(":checked") ){
                        $.post(
                            "<?=Correspondence::get_common_url(array('do'=>'create'))?>",
                            data,
                            function( r ){
                                try {
                                    
                                    r = json_decode( r );

                                    var jasperReport = "<?=Letter::byName('Coversheet')->jasper_file()?>";

                                    // Make parameter data object
                                    var data = {};
                                    data[ 'ITEM_ID' ] = r.id;
                                    data = JSON.stringify(data);

                                    var w = window.open("/pages/letter/index.php?do=runReport&letter="+jasperReport+"&data="+ encodeURIComponent(data));
                                    //when new window is loaded, open print dialog
                                    w.onload = function () {
                                        w.print();
                                        pop.close();
                                    };
                                    
                                } catch( e ) {
                                    alert( "ERROR: " + e );
                                }
                            }
                        );
                    }

                }
            }
        );
    }
); 
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= Policy::get_common_url(array('do'=>'save','id'=>$policy->id())) ?>" method="POST">

    <table width="400px">
        <tr>
            <th>New Status</th>
            <td><?= el($policy->status)  ?></td>
        </tr>
        <tr>
          <td colspan="2" align="right">
            <label for="include-coversheet">Print a coversheet for this change</label>
            <?=el::chk( "include-coversheet","checked='checked'" )?>
          </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <span class='status'>&nbsp;</span>&nbsp;
                <?= el::bt( "Save...",false,"type='submit'" ) ?>
            </td>
        </tr>
    </table>

</form>
