<style type="text/css">
form#<?=_LINK?>{
width: 500px;
}
form#<?=_LINK?> textarea{
width: 98%;
}
</style>

<script type="text/javascript">
$(
    function( )
    {
        var default_text    = "<?=Valuation::DEFAULT_TEXT?>";
        var submit          = $( "button#send-valuations" );
        var form            = $( "form#<?=_LINK?>" );

        var pop = $( form ).get_popup( );
        pop.setTitle( "Request Valuations for <?=$client?>" );
        $( pop ).center( );

        $( "#<?=_LINK?> input:checkbox.policy" ).bind( 'click',
            function( )
            {

                var row = $( this ).closest( "tr" );
                var textarea = $( row ).find( "textarea" );

                if( this.checked )
                {
                    $( textarea ).slideDown( );
                    $( textarea ).attr( "disabled", false );
                }
                else
                {
                    $( textarea ).slideUp( );
                    $( textarea ).attr( "disabled", true );
                }

                var n = $( "#<?=_LINK?> input:checkbox[checked='true']" ).length;

                var s = ( n != 1 ) ? "s" : "";

                $( submit ).text( "Submit " + n + " request"+s );
                $( submit ).attr( "disabled", ( n < 1 ) );
                

            }
        );

        $( submit ).click(
            function( )
            {
                $( form ).send( );
            }
        );


        $( "#<?=_LINK?> table.data tbody" ).style("tr");


        <?php  if( $gave_policy )  {  ?>
            $( "#<?=_LINK?> :checkbox.policy[value!=<?=$policy_id?>]" ).closest("tr").remove( );
            $( "#<?=_LINK?> :checkbox.policy" ).click( );
        <?php } ?>

    }
);
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= _SELF ?>?do=request" method="POST">

    <h3>Policies</h3>

    <div class="scroll y" style="height: 200px;">
        <table class="data">
        <?php
            foreach( $all_policies as $policy ) {

                $x = $policy -> has_valuation( );

            ?>
            <tr class='<?=($x)?"disabled":false?>'>
                <th>
                    <p><?= $policy ?></p>
                    <textarea disabled="disabled" style="display:none;height: 100px;" name="message[]" id="message[]"><?= preg_replace( '/\\\n/',"\n", Valuation::DEFAULT_TEXT ) ?></textarea>
                </th>
                <td valign="top" align="right" width="20px"><?= el::chk( "policy[]", "class='policy' value='".$policy->id."' ".( ( $x ) ? "disabled" : false ) );?></th>
            </tr>
            <?php
            }
        ?>
        </table>
    </div>

    <p align="right">
        <?=el::bt("Submit 0 requests","send-valuations","disabled")?>
    </p>

    <?=el::hide( "client", $client ->id -> get( ) )?>

</form>
