<?php
	$nbid = $_GET['id'];
	$nb = new NewBusiness($nbid,true);
	$user = new User($nb->registeredUser(), true);
$name = $user->forename . " " . $user->surname;

$nbsc = new NewBusSatisfactionSurvey();
$s = new Search( new NewBusSatisfactionSurvey );
$s -> eq("nbid", $nbid);
if( $d = $s -> next( MYSQLI_ASSOC  ) ){
$nbsc = new NewBusSatisfactionSurvey($d->id(), true);
}else{
$nbsc = new NewBusSatisfactionSurvey();
}
?>

<style type="text/css">
    #nbss_feedback textarea{
        width: 99%;
    }
</style>

<script type="text/javascript">

    $(function () {

        var form = $("form#clientsurvey");
        var subbtn = $(":button#subbtn", form);

        $(subbtn).click(function () {

            var fail_count = 0;

            $("select", form).each(function () {
                if ($(this).val() == "") {
                    fail_count = fail_count + 1;
                }
            });

            if (fail_count > 0) {
                $("span#user_msg").html("Please ensure all fields are filled in").removeClass().addClass("bad_news");
                $(subbtn).attr("disabled", false);
                return false;
            } else {
                $(form).send(
                    function (r) {
                        if (r.failure > 0) {
                            $("span#user_msg").html(r.error).removeClass().addClass("bad_news");
                        }
                        else {
                            r = json_decode(r);
                            $("span#user_msg").html("Success").removeClass().addClass("good_news");
                            $(form).attr('action','/pages/newbussatisfactionsurvey/?nbid=<?=$nbid;?>&do=save&id='+ r.newID);
                            $(subbtn).attr("disabled", true);
                            setTimeout(function() {
                                subbtn.removeAttr('disabled');
                                $("span#user_msg").html("").removeClass();
                            },3000);
                        }
                    }
                );

            }
        });
    });

    // add some height and width to the comments box
    $("#newbussatisfactionsurvey\\[ta9\\]").css({"width":"99%", "height":"60px"});
    $("#newbussatisfactionsurvey\\[comments\\]").css({"width":"99%", "height":"60px"});

</script>

<form id="clientsurvey" name="clientsurvey"
      action='<?= NewBusSatisfactionSurvey::index_url(array("nbid"=> $nbid, "do"=>"save", "id"=>$nbsc->id()))?>'
      method="GET">
    <div>


        <h1>Client Feedback Questionnaire</h1>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td width="80%">General</td>
                <td width="20%">Result</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="80%"><?= $nbsc->g1->display_name() ?></td>
                <td width="20%"><?= el($nbsc->g1) ?></td>
            </tr>
            </tbody>
        </table>

        &nbsp;

        <table class="data">
            <thead>
            <tr>
                <td width="80%">The Adviser</td>
                <td width="20%">Result</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="80%"><?= $nbsc->ta1->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta1) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta2->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta2) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta3->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta3) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta4->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta4) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta5->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta5) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta6->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta6) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta7->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta7) ?></td>
            </tr> <tr>
                <td width="80%"><?= $nbsc->ta8->display_name() ?></td>
                <td width="20%"><?= el($nbsc->ta8) ?></td>
            </tr>
            </tbody>
        </table>

        <table class="data">
            <tbody>
            <tr>
                <td  width="100%"><?= $nbsc->ta9->display_name() ?></td>
            </tr>
            <tr>
                <td  width="100%"><?= el($nbsc->ta9) ?></td>
            </tr>
            </tbody>
        </table>


        &nbsp;
        <table class="data">
            <thead>
            <tr>
                <td width="80%">Overall</td>
                <td width="20%">Result</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="80%"><?= $nbsc->o1->display_name() ?></td>
                <td width="20%"><?= el($nbsc->o1) ?></td>
            </tr>
            </tbody>
        </table>
        &nbsp;
        <table class="data">
            <thead>
            <tr>
                <td width="80%">Net Promoter Score</td>
                <td width="20%"></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="80%"><?= $nbsc->o2->display_name() ?></td>
                <td width="20%"><?= el($nbsc->o2) ?></td>
            </tr>
            </tbody>
        </table>
        &nbsp;
        <table class="data">
            <thead>
            <tr>
                <td width="100%">Additional Comments</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><?=el($nbsc->comments)?></td>
            </tr>
            </tbody>
        </table>

        <?php if(User::get_default_instance('id') == 45 || User::get_default_instance('department') == 7): ?>
        &nbsp;
        <!-- only Diane and IT can change reviews -->
        <table class="data">
            <thead>
                <tr>
                    <td colspan="2">Review</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">Signed off</td>
                    <td><?= el($nbsc->signed_off) ?> <?= $nbsc->signed_off_when ?></td>
                </tr>
                <tr>
                    <td>Feedback</td>
                    <td width="100%" id="nbss_feedback"><?= el($nbsc->feedback) ?></td>
                </tr>
            </tbody>
        </table>

        <?php else: ?>

        &nbsp;
        <table class="data">
            <thead>
            <tr>
                <td colspan="2">Review</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">Signed off</td>
                <td><?= $nbsc->signed_off ?> <?= $nbsc->signed_off_when ?></td>
            </tr>
            <tr>
                <td>Feedback</td>
                <td width="100%" id="nbss_feedback"><?= $nbsc->feedback ?></td>
            </tr>
            </tbody>
        </table>

        <?php endif; ?>

        <input type="button" id="subbtn" name="subbtn" value="Submit"/>
        <span id="user_msg"></span>
        &nbsp;
    </div>
</form>


