<script>
  $(function(){
      $("#prev-income-check").on("change", function(){
          if ($(this).is(":checked")){
              $("#prev-income-entry").show();
          } else {
              $("#prev-income-entry input").val("");
              $("#prev-income-entry").hide();
          }
      });
  });
</script>

<table>
  <tr>
    <th>Amount</th>
    <td><input type="text" id="AMOUNT" name="AMOUNT" class="param"/></td>
  </tr>
  <tr>
    <th>Percentage</th>
    <td><input type="text" id="PERCENTAGE" name="PERCENTAGE" class="param"/></td>
  </tr>
  <tr>
    <th>Reason</th>
    <td><input type="text" id="REASON_1" name="REASON_1" class="param"> have confirmed via <input type="text" id="REASON_2" name="REASON_2" class="param"> that policy <input type="text" id="REASON_3" name="REASON_3" class="param"> for client <input type="text" id="REASON_4" name="REASON_4" class="param"> has <input type="text" id="REASON_5" name="REASON_5" class="param"> as of <input type="text" id="REASON_6" name="REASON_6" class="param">.</td>
  </tr>
  <tr>
    <th>Previous Income <input type="checkbox" id="prev-income-check"></th>
    <td class="hidden" id="prev-income-entry">Previous income was paid to <input type="text" id="PREV_INCOME_1" name="PREV_INCOME_1" class="param"> at an amount of <input type="text" id="PREV_INCOME_2" name="PREV_INCOME_2" class="param"> on <input type="text" id="PREV_INCOME_3" name="PREV_INCOME_3" class="param">.</td>
  </tr>
</table>
