<script type="text/javascript">
  $(function( ){
  });
</script>

<?php $p = new Policy($_GET['policy'], true); ?>

<table id="<?=_LINK?>" name="<?=_LINK?>">
    <tr>
        <td class='choice'>
            <input type="hidden" id="clientid" name="clientid" value="<?=$p->client->id() ?>" />
        </td>
    </tr>
</table>