<form method="POST" target="_blank">
    <div class="table-responsive">
        <table id='new_fund_tbl' class="table table-sm" style="width:98%;">
            <thead class="thead-light">
            <tr>
                <th colspan="2">Fund Name </th>
                <th colspan="2">Fund Provider</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2"><input type="text" id="fund_name" name="fund_name" value="" class="form-control" placeholder="Fund Name"></td>
                <td colspan="2"><input type="text" id="fund_provider" name="fund_provider" value="" class="form-control" placeholder="Fund Provider"></td>
            </tr>
            <tr>

            </tr>
            </tbody>
        </table>
    </div>

    <input type="text" hidden id="ITEM_ID" name="ITEM_ID" value="<?=$_GET['policy'] ?>" class="form-control" >
</form>
