<script type="text/javascript">
$(function() {
    //On change of any of the inputs on the form
    $( "select#subject, textarea#message " ).change(function() {
        var form = $('#placeholder_form textarea#message').parent();
        var messageVal = $('#placeholder_form textarea#message', form).val();
        var subjectVal = $('#placeholder_form select#subject', form).val();

        $('#placeholder_form input#correspondence\\[message\\]', form).val(messageVal);
        $('#placeholder_form input#correspondence\\[subject\\]', form).val(subjectVal);
    });
});
</script>

<table>
  <tr>
    <th width="125px">Subject</th>
    <td>
      <select id="subject" name="subject">
          <?= Correspondence::corrSubjects((isset($_GET['front_end'])) ?? 0, false, true, false, true); ?>
      </select>
    </td>
  </tr>
  <tr>
    <th>Message</th>
    <td><textarea id="message" style="width:300px;font-size:9pt;">We are pleased to enclose correspondence that we have received for the above client for your attention.</textarea></td>
  </tr>
  <?= el::hide( $item->subject->get_html_id() ) ?>
  <?= el::hide(  $item->message->get_html_id() ) ?>
</table>


