<table>
    <tr>
        <th width="125px">Remuneration</th>
        <td>£<input type="text" id="remuneration" name="remuneration" class="param"/></td>
    </tr>
    <tr>
        <th>Rem Date</th>
        <td><input type="text" id="rem_date" name="rem_date" class=" param"/></td>
    </tr>
</table>