<style type="text/css">
    #doc_ltr_frm {
        max-width:800px;
    }
</style>
<table id="doc_ltr_frm">
    <tr>
        <th width="150px">Subject</th>
        <td>
            <select id="subject" name="subject">
                <?= Correspondence::corrSubjects((isset($_GET['front_end'])) ?? 0, true, true, false, true); ?>
            </select>
        </td>
    </tr>
    <tr>
        <th>Documents</th>
        <td class="py-2">
            <input id="DOC" name="DOC" style="width:345px;font-size:9pt;" class="param" />
        </td>
    </tr>
    <?php if ($_GET['id'] == 30 || $_GET['id'] == 33 || $_GET['id'] == 31) { ?>
        <?php
            $p = new Policy($_GET['policy'], true);
            $i = 0;
            $string = '';

            if (isset($_GET['life_event']) && $_GET['life_event']) {
                $le = new LifeEvent($_GET['life_event'], true);
                $policyArray =  $le->getLinkedPolicies($p->id(), $p->issuer->id());
                foreach ($policyArray as $key => $value) {
                    foreach ($value as $k => $v) {
                        $string .= '<div><input type="checkbox" id="additional_policies_'.$i.'" name="additional_policies_'.$i.'" value="test" class="param" checked /> '.$v.'<br /></div>';
                        $i++;
                    }
                }
            } else {
                // usual additional policy check
                $s = new Search(new Policy());
                $s->eq("client", $p->client->id());
                $s->eq("issuer", $p->issuer->id());
                $s->nt("id", $_GET['policy']);
                while ($x = $s->next(MYSQLI_ASSOC)) {
                    $string .= '<div><input type="checkbox" id="additional_policies_'.$i.'" name="additional_policies_'.$i.'" value="'.$x->number().'" class="param" /> '.$x->number().'<br /></div>';
                    $i++;
                }
            }
                if ($i > 0) {
        ?>
            <tr>
                <th>Include Additional <?= $p->issuer ?> Policy Numbers?</th>
                <td class="pb-2">
                    <?= $string; ?>
                </td>
            </tr>
        <?php } ?>
        <tr>
            <th>Additional Comments</th>
            <td>
                <textarea id="additional_comments" name="additional_comments" style="width:345px;font-size:9pt;"></textarea>
            </td>
        </tr>
    <?php  } ?>
    <input type="hidden" id="additional_policies" name="additional_policies" class="param" />
</table>

<script type="application/javascript">
    $(function () {
        var table = $("table#doc_ltr_frm");
        // we want to fill the hidden input with a comma seperated list of policy numbers from checked checkboxes
        $(":checkbox", table).on("click", function () {
            var number_string = $("input:checked", table).map(function () {
                if (this.value != "default") {
                    return this.value;
                }
            }).get().join(", ");

            $("#additional_policies").val(number_string);
        });
    });
</script>


