<?php $p = new Policy($_GET['policy'], true); ?>
<form  method="POST" target="_blank">
	<table>
        <tr>
            <th>Client:</th>
            <td><?= $p->client; ?></td>
            <input type="hidden" id="client_id" name="client_id" value="<?=$p->client->id() ?>" />
        </tr>
        <tr>
            <th>Include:</th>
            <td>
                <select id="addressee" name="addresee">
                    <option value="1">Client One Only</option>
                    <option value="2">Client Two Only</option>
                    <option value="3">Both Clients</option>
                </select>
            </td>
        </tr>
		<tr>
			<th>Date request letter received:</th>
            <td><input type="text" id="letter_date" name="letter_date" placeholder="dd/mm/yyyy"/></td>
            <td><input type="hidden" id="gdpr" name="gdpr" value="1"/></td>
        </tr>
        <tr>
            <th>Username:</th>
            <td>
                <select id="username" name="username">
                    <?php
                    $db = new mydb();
                    $query ="select CONCAT(first_name, ' ', last_name) as `user_name` from ".USR_TBL." where id not in (62,63,80) order by first_name, last_name";
                    $db->query($query);
                    while ($user = $db->next(MYSQLI_ASSOC)) {
                    echo '<option value="'.$user['user_name'].'">'.$user['user_name'].'</option>';
                    }
                    ?>
                </select>
            </td>
        </tr>
	</table>
</form>
