<script type="text/javascript">
    $(function () {
        var frame = $('div#<?=_LINK?>');
    });
</script>

<div id="<?=_LINK?>">

    <div class="alert alert-info" role="alert">
        <i class="fa fa-info-circle"></i> &nbsp;
        Please note policy owner must be filled in for this to work correctly
    </div>

    <select id="std-policy-owner" name="std-policy-owner">
        <option value="1">Include client 1 only</option>
        <option value="2">Include client 2 only</option>
        <option value="3" selected>Include Both clients</option>
    </select>
</div>


