<script type="text/javascript">
    $(function () {
        var form = $('table#nonproduction_pv');

        //overall validator, to simplify validataion
        function validate_fields() {
            //Disable button first
            $("input#submit").attr("disabled", "disabled");

            //check inputs are not empty
            if ($('input#invoice_id', form).val() == "") {
                $(status).addClass("bad_news").text("Please enter a valid Income type");
                $("input#submit").attr("disabled", "disabled");
            } else if ($('select#pr_wf', form).val() == "") {
                $(status).addClass("bad_news").text("Please enter a valid Income type");
                $("input#submit").attr("disabled", "disabled");
            } else if ($('input#pr_cost', form).val() == "") {
                $(status).addClass("bad_news").text("Please enter a valid Income type");
                $("input#submit").attr("disabled", "disabled");
            } else if ($('input#client[pv_mandatory_start]\\[Y]', form).val() == "") {
                $(status).addClass("bad_news").text("Please enter a valid Income type");
                $("input#submit").attr("disabled", "disabled");
            } else {
                $("input#submit").removeAttr("disabled");
            }

            $('#delivery_method', form).prop('disabled', false);
            $('#delivery_option', form).prop('disabled', false);
        }

        //anytime someone leaves a field check for validity
        form.find(':input').mouseleave(function () {
            validate_fields();
        });

        //on page load check validity
        $(document).ready(function () {
            validate_fields();
        });
    });
</script>

<table id="nonproduction_pv">

    <tr class="proreport_notice">
        <td class="heading">Invoice total:</td>
        <td>
            &pound;<input type="text" id="pr_cost" title="Please enter Portfolio Valuation invoice amount" data-pattern="^\-?\d+(\.\d{1,2})?$"/>
        </td>
    </tr>
    <tr class="proreport_notice">
        <td class="heading">Invoice ID:</td>
        <td>
            <input type="text" id="invoice_id" title="Please enter Portfolio Valuation invoice id from Harvest" />
        </td>
    </tr>
    <tr class="proreport_notice">
        <td class="heading">Workflow ID:</td>
        <td>
            <select id="pr_wf">
            </select>
        </td>
    </tr>


    <!--<tr class="proreport_notice">-->
        <!--<td class="heading">Delivery:</td>-->
        <!--<td>-->
            <!--<select id="delivery_method">-->
                <!--<option id="dm_1">Myps Upload Only</option>-->
                <!--<option id="dm_2">Deliver to Partner</option>-->
                <!--<option id="dm_3">Deliver to Client</option>-->
            <!--</select>-->

            <!--<select id="delivery_option">-->
                <!--<option id="do_1">&#45;&#45;</option>-->
                <!--<option id="do_2">Standard Delivery</option>-->
                <!--<option id="do_3">Express Delivery</option>-->
            <!--</select>-->
        <!--</td>-->
    <!--</tr>-->

    <?php
        // if only one client, select by default
        $check_one = "";
        $check_two = "";
        if ( ($client->one->forname() || $client->one->surname()) && (!$client->two->forename() && !$client->two->surname() )) {
            $check_one = "checked";
        }

    if ( (!$client->one->forname() && !$client->one->surname()) && ($client->two->forename() || $client->two->surname() )) {
    $check_two = "checked";
    }
    ?>

    <!--<tr class="proreport_client_recipient">-->
        <!--<td class="heading">Recipient:</td>-->
        <!--<td>-->
            <!--<?php if ($client->one->forname() || $client->one->surname()) { ?>-->
            <!--<input type="radio" name="recipient" id="recipient_1" value="client_1" <?=$check_one;?>>-->
            <!--<label for="recipient_1"><?=$client->one->name();?></label>-->
            <!--<?php } ?>-->

            <!--<?php if ($client->two->forename() || $client->two->surname()) { ?>-->
            <!--<input type="radio" name="recipient" id="recipient_2" value="client_2" <?=$check_two;?>>-->
            <!--<label for="recipient_2"><?=$client->two->name();?></label>-->
            <!--<?php } ?>-->

            <!--<?php if ( ($client->one->forname() || $client->one->surname()) && ($client->two->forename() || $client->two->surname() )) { ?>-->
            <!--<input type="radio" name="recipient" id="recipient_3" value="joint">-->
            <!--<label for="recipient_3">Joint Report</label>-->
            <!--<?php } ?>-->

        <!--</td>-->
    <!--</tr>-->

    <!--<tr class="proreport_client_postage">-->
        <!--<td class="heading">Postage:</td>-->
        <!--<td>-->
            <!--<input type="radio" name="postage" id="postage_1" value="individually" <?=$check_one;?> <?=$check_two;?>>-->
            <!--<label for="postage_1">Post Individually</label>-->
            <!--<input type="radio" name="postage" id="postage_2" value="together">-->
            <!--<label for="postage_2">Post Together</label>-->

        <!--</td>-->
    <!--</tr>-->
</table>


