<script type="text/javascript">
$( function( ){

    var this_pop = $("applet#<?=_LINK?>").popup_config({'center':true, 'title':"Printing..."});
    if( this_pop ){

        $( this_pop.buttons.close ).remove( );

    }

    var applet = ( document.<?=_LINK;?> )
        ? document.<?=_LINK?>
        : document.getElementById( "<?=_LINK?>" );

    var x = function ( ) {

        if ( applet.isPrintingComplete ( ) ) {
 
            if( this_pop ) {
                this_pop.close( );
            }

            $(applet).trigger("complete");
        }
        else
            setTimeout( x, "10" );
    };

x( );


});
</script>

<applet id="<?=_LINK?>" name="<?=_LINK?>" code="com/ps/xdox/Xdox.class" archive="/core/lib/applets/Xdox.jar?t=<?=random_string(10)?>" mayscript="true" scriptable="true" width="0" height="0">
  <param name="url" value="http://<?=$_SERVER['HTTP_HOST']?>/pages/letter/?xml=<?=$data['letter']?>"/>
  <param name="data" value='<?=json_encode($data)?>'/>
  <?php
     $cookies = [];
     foreach( $_COOKIE as $key=>$value ) {
        $cookies[] = "$key=$value";
     }
  ?>
  <param name="cookie" value="<?=mysqli_real_escape_string(implode(";",$cookies))?>" />
</applet>

