<style>
    .merge_table_wrapper{
        max-height: 700px;
        overflow-y: scroll;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");
        var mergeCounter = 0;

        function load_merges(){
            //show loading spinner
            $("#merge_table .content", frame).html("<tr><td colspan='6' class='text-center'><i class='fas fa-spinner fa-spin'></i></td></tr>");

            var mergeType = $("#merge_type", frame).val();

            $.ajax({
                url: "/pages/merging/assign.php?do=list",
                type: "GET",
                data: {
                    type: mergeType,
                },
                dataType: "JSON",
                success: function(response){
                    if (response.success){
                        $("#merge_table .content", frame).html(response.data);
                    } else {
                        alert(response.error);
                    }
                }
            });
        }

        load_merges();

        $("#merge_type", frame).on("change", function(){
            $("#client_policy_count", frame).html($(this).text());

            load_merges();
        });

        function allocateMerge(id, user, mass = 0){
            $.ajax({
                url: "/pages/merging/assign.php?do=assign",
                type: "GET",
                data: {
                    id: id,
                    user: user,
                },
                dataType: "JSON",
                success: function(response){
                    $("#assign-feedback", frame).removeClass("text-success").removeClass("text-danger");

                    if (mass){
                        if (response.success){
                            mergeCounter++;

                            var row = $("#merge_row_"+id, frame);

                            $(".assigner #staff_filter", row).val(user);

                            if (mergeCounter === mass){
                                $("#mass_assign_modal", frame).modal("hide");
                                $("#assign-feedback", frame).addClass("text-success").html("<i class='fas fa-check'></i>&nbsp;"+mass+" merges have been assigned to "+$("#mass-assign-select #staff_filter option:selected", frame).text());
                                mergeCounter = 0;
                            }
                        } else {
                            $("#assign-feedback", frame).addClass("text-danger").html("<i class='fas fa-times'></i>&nbsp;"+response.data);
                            mergeCounter = 0;
                        }

                    } else {
                        if (response.success){
                            $("#assign-feedback", frame).addClass("text-success").html("<i class='fas fa-check'></i>&nbsp;");
                        } else {
                            $("#assign-feedback", frame).addClass("text-danger").html("<i class='fas fa-times'></i>&nbsp;");
                        }

                        $("#assign-feedback", frame).append(response.data);
                    }

                    setTimeout(function(){
                        $("#assign-feedback", frame).removeClass("text-success").removeClass("text-danger").html("");
                    }, 3000);
                }
            });
        }

        $(frame).on("change", ".assigner #staff_filter", function(){
            var id = $(this).closest("tr").data("id");
            var user = $(this).val();

            allocateMerge(id, user);
        });

        $("#check_all", frame).on("change", function(){
            $(".merge_check", frame).attr("checked", $(this).is(":checked"));
            $("#assign_all", frame).attr("disabled", !$(this).is(":checked"));
        });

        $(frame).on("change", ".merge_check", function(){
            var count = $(".merge_check:checked", frame).length;

            $("#assign_all", frame).attr("disabled", (count === 0));
        });

        $("#assign_all", frame).on("click", function(){
            var count = $(".merge_check:checked", frame).length;

            $("#merge_count", frame).html(count + " " + pluralize(count, 'merge'));
        });

        $("#submit-mass-assign", frame).on("click", function(){
            var user = $("#mass-assign-select #staff_filter", frame).val();

            $(".merge_check:checked", frame).each(function(){
                allocateMerge($(this).val(), user, $(".merge_check:checked").length);
            })
        })
    });
</script>

<div id="<?=_LINK?>">
    Merge Type
    <select id="merge_type">
        <option value="Client Merge">Clients</option>
        <option value="Policy Merge">Policies</option>
    </select>

    <div class="clearfix">
        <div class="float-left">
            <p class="mb-0" id="assign-feedback"></p>
        </div>
        <div class="float-right">
            <button id="assign_all" disabled data-toggle="modal" data-target="#mass_assign_modal">Mass-Assign</button>
        </div>
    </div>

    <div class="merge_table_wrapper">
        <table class="table table-striped" id="merge_table">
            <thead>
            <tr>
                <th><input type="checkbox" id="check_all"></th>
                <th>ID</th>
                <th id="client_policy_count">Clients</th>
                <th>Proposed By</th>
                <th>Proposed When</th>
                <th>Assign To</th>
            </tr>
            </thead>
            <tbody class="content">
            </tbody>
        </table>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="mass_assign_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mass-Assign Merges</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select a user below to assign <span id="merge_count">0 merges</span> to.</p>
                    <div class="text-center" id="mass-assign-select">
                        <?= User::active_users(7); ?>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit-mass-assign">Assign</button>
                </div>
            </div>
        </div>
    </div>
</div>