<script type="text/javascript">
$(function( ) {
    var frame = $("#<?=_LINK?>");

    function loadClientMerges(){
        $("#cli_merge .content", frame).load("/pages/merging/index.php?object=client&id=<?=$_COOKIE['uid']?>&list=client");
    }

    loadClientMerges();

    $(frame).on("click", ".delete-merge", function(){
        var id = $(this).data("id");

        if (confirm("Delete this merge request?")){
            $.ajax({
                url: "/pages/merging/?do=delete",
                type: "GET",
                data: {
                    id: id,
                },
                dataType: "JSON",
                success: function(response) {
                    if (response.success){
                        loadClientMerges();
                    } else {
                        alert(response.data);
                    }
                }
            });
        }
    });
});
</script>

<style type="text/css">
#<?=_LINK?> div.scroll{
    height: 500px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="cli_merge" name="cli_merge" class="scrollable">
        <thead>
            <tr>
                <th>&#35;</th>
                <th>Object</th>
                <th>Request By</th>
                <th>Requested Time</th>
                <th>Action</th>
            </tr>
        </thead>
    <tbody class="content">
    </tbody>
    </table>

</div>
