<script type="text/javascript">
$(function( ) {
    $("#cli_merge > tbody").load("/pages/merging/index.php?id=<?=User::get_default_instance('id');?>&list=client");
});
</script>

<style type="text/css">
#<?=_LINK?> div.scroll{
    height: 500px;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <table id="cli_merge" name="cli_merge" class="scrollable">
        <thead>
            <tr>
                <th>&#35;</th>
                <th>Object</th>
                <th>Request By</th>
                <th>Requested Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="content">
        </tbody>
    </table>

</div>
