<div id="<?=_LINK?>" name="<?=_LINK?>">

<table class="scrollable">

  <thead>
    <tr>
      <th>ID</th>
      <th>Partner</th>
      <th>Client</th>
    </tr>
  </thead>
		<?= $merge_list ?>
  <tbody>
  </tbody>
  
</table>

</div>
