<style>
    #<?=_LINK?>{
        width: 800px;
        height: 600px;
        overflow: auto;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var p = frame.popup_config({
            title: "Change Policy Owners",
            center: true,
        });

        $.ajax({
            url: "/pages/merging/action_merge.php?do=policy_owners&list=true",
            type: "GET",
            data: {
                policies: window.policies,
            },
            dataType: "JSON",
            success: function(response){
                if(response.success){
                    $("#owner_table tbody", frame).html(response.data);
                } else {
                    alert(response.data);
                }
            }
        });

        $("#save_owners", frame).on("click", function(){
            var policyowners = {
                policies: {}
            };
            var btn = $(this);

            $(this).attr("disabled", true);

            $(".owner_row", frame).each(function(){
                var policy = $(this).data("policy");
                var owner = $("#policy\\[owner\\]", this).val();

                policyowners.policies[policy] = owner;
            });

            $.ajax({
                url: "/pages/merging/action_merge.php?do=policy_owners&save=true",
                type: "POST",
                data: policyowners,
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        alert("Successfully updated policy owners");
                        p.close();
                    } else {
                        alert(response.data);
                        btn.attr("disabled", false);
                    }
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>">
    <table class="table table-striped" id="owner_table">
        <thead>
        <tr>
            <th>Policy</th>
            <th>Old Client</th>
            <th>Old Owner</th>
            <th>New Owner</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="text-right">
        <button class="btn btn-success" id="save_owners"><i class="fas fa-save"></i> Save</button>
    </div>
</div>