<style type="text/css">
	#<?=_LINK?> div.scroll{
		height: 500px;
	}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">
	<table id="pol_probs" name="pol_probs" class="scrollable">
		<thead>
		<tr>
			<th>&#35;</th>
			<th>Request ID</th>
			<th>Proposed By</th>
			<th>Comments</th>
			<th>Reported By</th>
			<th>Reported Time</th>
			<th>Contacted</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody class="content">
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(function() {
		var frame = $("#<?=_LINK?>");

		function loadPolicyProblemMerges() {
			$("#pol_probs .content").load("/pages/merging/policy_problems.php?id=<?=$_COOKIE['uid']?>&list=policy_probs");
		}

		loadPolicyProblemMerges();

		window.loadPolicyProblemMerges = function(){
		    loadPolicyProblemMerges();
		}

		$(frame).on("click", "button.bool", function(event){
			var cbtnid = $(this).closest('tr').attr('id');

			$.post("/pages/merging/policy_problems.php?id=<?=$_COOKIE['uid']?>&list=contactpartner&cbtnid="+cbtnid,
				function(cp){
					cp = json_decode(cp);

					if( cp.error > 0 ){
						alert("Failed to update unipass access");
					}
				}
			);
		});

		$(frame).on("click", ".delete-merge", function(){
			var id = $(this).data("id");

			if (confirm("Delete this merge request?")){
				$.ajax({
					url: "/pages/merging/policy_problems.php?do=delete",
					type: "GET",
					data: {
						id: id
					},
					dataType: "JSON",
					success: function(response){
						if (response.success){
							loadPolicyProblemMerges();
						} else {
							alert(response.data);
						}
					}
				});
			}
		});

        $("#pol_probs", frame).on("click", ".resend-email", function(){
            var id = $(this).closest("tr").attr("id");

            new popup({
                url: "/pages/merging/policy_problems.php/?id="+id+"&do=resend"
            });
        });
	});
</script>
