<?php
    $main = array_slice($ids,0,1);      /* Main Client ID */
    $duplicates = array_slice($ids, 1); /* Duplicate client IDS */
    $dups = implode(",",$duplicates);
    $mpolicy = new Policy($main[0],true);
?>

<script type="text/javascript">
$(function(){

    var form = $("form#<?=_LINK?>");
    var pop = $(form).popup_config({
        title: "Policy Merge Request Details - #" + '<?= $merge->id ?>',
        center: true
    });

    saveProfileNotification(form);

    $("button#submerge").on("click", function () {
        $("button#submerge").attr("disabled", "disabled");

        $.post("/pages/merging/runscript.php?id=<?= $main[0] ?>&object=policy&duplicates=<?= $dups ?>&proposed_time=<?= $proposed_time ?>&problem=<?= $problem ?>&dcid=<?= $dcid ?>", function (data) {
            var r = json_decode(data);
            if (r.error) {
                //alert("There has been a problem merging the policies, contact IT");
                $("span#span-status").text(r.description).addClass("bad_news");
            } else if (!r.error) {
                alert("Merge has been successful");
                pop.close();
                $('#<?= $merge->id ?>').remove();
            }
        });
        return false;
    });

	/* Allow user to report merge that cannot be actioned for any reasons and allow input of comments to describe why */
    $("button#report-confirm").on("click", function () {
        var comments = $("#merge-problem-reason");
        $.post("/pages/merging/index.php?id=<?= $merge->id ?>&object=policy&user=<?= $_COOKIE['uid'] ?>&report=true&comments=" + $(comments).val(), function (data) {
            var r = json_decode(data);

            if (!r.error) {
                $("button#submerge").attr("disabled", "disabled");
                $("button#report").attr("disabled", "disabled");
                $("#merge-report-confirm").modal('hide');
                pop.close();
                $('#<?= $merge->id ?>').remove();
            }
            alert(r.status);
        });

        // var r = prompt("Report merge as problem? An e-mail will be sent with the below reason to the original user who requested the merge. Please outline the issue and what needs to be done to resolve it.");
        //
        // if (r != null) {
        //     $("button#submerge").attr("disabled", "disabled");
        //     $("button#report").attr("disabled", "disabled");
        //     pop.close();
        //     $.post("/pages/merging/index.php?id=<?= $merge->id ?>&object=policy&user=<?= $_COOKIE['uid'] ?>&report=true&comments=" + r);
        //     $('#<?= $merge->id ?>').remove();
        // } else {
        //     return false;
        // }
    });

    //show cross on bool checkboxes
    $('.bool').each(function () {
        if (!$(this).attr("value")) {
            $(this).attr("value", 0);
        }
    });

    $('.table-responsive').on('scroll', function () {
        $(".table-responsive").not(this).scrollLeft($(this).scrollLeft());
    });

});
</script>

<style type="text/css">
div#details {
    width: 1200px;
}
.h3 {
    font-size: 100%;
}
</style>

<div>
    <div class="modal" id="merge-report-confirm" tabindex="-1"  data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm merge issue report</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
                        Please confirm that this merge has a problem and that you would like to communicate this back with the user who requested the merge?
                    </h6>
                    <h6>
                        An e-mail will be sent with the below reason to the original user who requested the merge, Please clearly outline the issue and what needs to be done to resolve it.
                    </h6>
                    <textarea style="width:96%" id="merge-problem-reason" name="merge-problem-reason"></textarea>
                </div>
                <div class="modal-footer">
                    <button id="report-confirm" class="btn btn-primary">Confirm</button>
                    <button data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="details" class="panel">

        <!-- Display main policy details to user -->
        <h3 class="h3">Main Policy <?= $mpolicy->link($mpolicy->number() ." (ID: ".$mpolicy->id()." )"); ?> | Client: <?=$mpolicy->client->link();?></h3>
        <hr />

        <form id="<?=_LINK?>" name="<?=_LINK?>" action="<?= Policy::get_common_url(array('do'=>'save','id'=>$main[0]))?>" method="POST">
            <div id="main" class="table-responsive">
                <table id="maindetailspol" class="table">
                    <thead>
                    <tr>
                        <th>Policy number</th>
                        <th>Issuer</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Archived</th>
                        <th>Date service Transferred</th>
                        <th>Next Chase Date</th>
                        <th>Transferred away</th>
                        <th>Policy Owner</th>
                        <th>Death Certificate exempt</th>
                        <th>Mandate Stored</th>
                        <th>Mandate ID</th>
                        <th>Agency ID</th>
                        <th>Vatable</th>
                        <th>AC Exempt</th>
                        <th>AC Applied</th>
                        <th>AC Percent</th>
                        <th>Term</th>
                        <th>Original_investment</th>
                        <th>Premium</th>
                        <th>Frequency</th>
                        <th>Pays income</th>
                        <th>Rate</th>
                        <th>Start date</th>
                        <th>On-going fee</th>
                        <th>PR Exempt</th>
                    </tr>
                    </thead>
                    <tr>
                        <td><?=el($mpolicy->number);?></td>
                        <td><?=el($mpolicy->issuer);?></td>
                        <td><?=el($mpolicy->status);?></td>
                        <td><?=el($mpolicy->type);?></td>
                        <td>
                            <div style="width:130px">
                                <?=el($mpolicy->archived);?>
                            </div>
                        </td>
                        <td>
                            <div style="width:130px">
                                <?=el($mpolicy->transferred);?>
                            </div>
                        </td>
                        <td>
                            <div style="width:130px">
                                <?=el($mpolicy->next_chase);?>
                            </div>
                        </td>
                        <td>
                            <div style="width:130px">
                                <?=el($mpolicy->transaway);?>
                            </div>
                        </td>
                        <td><?=$mpolicy->getOwner($mpolicy->owner());?></td>
                        <td>
                            <div style="width:130px">
                                <?=el($mpolicy->dc_exempt);?>
                            </div>
                        </td>
                        <td><?=el($mpolicy->mandate_stored);?></td>
                        <td><input id="policy[mandate]" name="policy[mandate]" type="text" value="<?= $mpolicy->mandate(); ?>"></td>
                        <td><?=el($mpolicy->agency_id);?></td>
                        <td><?=el($mpolicy->vatable);?></td>
                        <td><?=el($mpolicy->ac_exempt);?></td>
                        <td><?=el($mpolicy->ac_applied);?></td>
                        <td><?=el($mpolicy->ac_percent);?></td>
                        <td><?=el($mpolicy->term);?></td>
                        <td>
                            <div style="width:155px">
                                <?=el($mpolicy->original_investment);?>
                            </div>
                        </td>
                        <td>
                            <div style="width:155px">
                                <?=el($mpolicy->premium);?>
                            </div>
                        </td>
                        <td><?=el($mpolicy->pay_frequency);?></td>
                        <td><?=el($mpolicy->paysincome);?></td>
                        <td><?=el($mpolicy->rate);?></td>
                        <td>
                            <div style="width:130px">
                                <?=el($mpolicy->start_date);?>
                            </div>
                        </td>
                        <td><?=el($mpolicy->ongoing_fee);?></td>
                        <td><?=el($mpolicy->pr_exempt);?></td>
                    </tr>
                </table>
            </div>
        </form>

        <!-- Display all duplicate policy details to user -->
        <h3 class="h3 mt-3 pt-2">Policies Submitted</h3>
        <hr />
        <div id="policy_details" class="table-responsive">
            <?php
                $i = 0;
                foreach ($duplicates as $value) {
                    $dpolicy = new Policy($value, true);
                    $i++;
                ?>

            <h6>Duplicate Policy <?=$i;?></h6>
            <table id="merge_details_<?=$i;?>" class="table">
                <thead>
                <tr>
                    <th>Policy number</th>
                    <th>Issuer</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Archived</th>
                    <th>Date service Transferred</th>
                    <th>Next Chase Date</th>
                    <th>Transferred away</th>
                    <th>Policy Owner</th>
                    <th>Death Certificate exempt</th>
                    <th>Mandate Stored</th>
                    <th>Mandate ID</th>
                    <th>Agency ID</th>
                    <th>Vatable</th>
                    <th>AC Exempt</th>
                    <th>AC Applied</th>
                    <th>AC Percent</th>
                    <th>Term</th>
                    <th>Original_investment</th>
                    <th>Premium</th>
                    <th>Frequency</th>
                    <th>Pays income</th>
                    <th>Rate</th>
                    <th>Start date</th>
                    <th>On-going fee</th>
                    <th>PR Exempt</th>
                </tr>
                </thead>
                <tr>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->link($dpolicy."<br />(ID: ".$dpolicy->id()." )");?>
                        </div>
                    </td>
                    <td>
                        <div style="width:200px">
                            <?=$dpolicy->issuer->link();?>
                        </div>
                    </td>
                    <td>
                        <div style="width:245px">
                            <?=$dpolicy->status;?>
                        </div>
                    </td>

                    <td>
                        <div style="width:200px">
                            <?=$dpolicy->type;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->archived;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->transferred;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->next_chase;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->transaway;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->getOwnerAttribute($dpolicy->owner());?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->dc_exempt;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->mandate_stored;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:180px">
                            <?=$dpolicy->mandate;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->agency_id;?>
                        </div>
                    </td>
                    <td><?=$dpolicy->vatable;?></td>
                    <td><?=$dpolicy->ac_exempt;?></td>
                    <td><?=$dpolicy->ac_applied;?></td>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->ac_percent;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->term;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->original_investment;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:150px">
                            <?=$dpolicy->premium;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:100px">
                            <?=$dpolicy->pay_frequency;?>
                        </div>
                    </td>
                    <td><?=$dpolicy->paysincome;?></td>
                    <td><?=$dpolicy->rate;?></td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->start_date;?>
                        </div>
                    </td>
                    <td>
                        <div style="width:130px">
                            <?=$dpolicy->ongoing_fee;?>
                        </div>
                    </td>
                    <td><?=$dpolicy->pr_exempt;?></td>
                </tr>
            </table>
            <?php } ?>
        </div>

        <p align="right">
            <span id="span-status"></span>
            <?php if ($problem == false) { ?>
                <button data-toggle="modal" data-target="#merge-report-confirm">Report Merge</button>
            <?php } ?>
            <button id="submerge" name="submerge">Merge Policies</button>
        </p>

    </div>

</div>

