<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var pop = frame.popup_config({
            title: "Resend Merge Issue Email",
            center: true,
        });

        $("#resend-submit", frame).on("click", function(e){
            e.preventDefault();

            $.ajax({
                url: "/pages/merging/?id=<?= $problem->id() ?>&do=resend_email",
                type: "GET",
                dataType: "JSON",
                data: {
                    object: "<?= $object ?>",
                    comments: $("#problem-comments", frame).val(),
                },
                success: function(response) {
                    if (response.success){
                        if ("<?= $object ?>" === "Client"){
                            window.loadClientProblemMerges();
                        } else {
                            window.loadPolicyProblemMerges();
                        }

                        pop.close();
                    } else {
                        alert(response.data);
                    }
                }
            });
        });
    });
</script>

<style>
    #<?=_LINK?>{
        width: 600px;
    }
</style>

<div id="<?=_LINK?>">
    <p>Please confirm that you would like to send another email to <?= $datachange->proposed_by->email_address() ?> about this problem?</p>

    <p class="mb-0">Reason:</p>
    <textarea id="problem-comments" rows="5" style="width: 96%;"><?= $problem->comments ?></textarea>

    <div class="text-right mt-3">
        <button id="resend-submit" class="btn btn-primary"><i class="fas fa-envelope"></i> Resend</button>
    </div>
</div>


