<?php

$ar = new ActionRequired;

?>

<style>
    #<?=_LINK?>{
        max-width: 800px;
    }
</style>

<script>
    $(function(){
        var frame = $("#<?=_LINK?>");

        var p = frame.popup_config({
            title: "Adviser Charging Forms",
            center: true,
        });

        $("#send_ac", frame).on("click", function(){
            var issuer = "<?= $issuer->id(); ?>";
            var client = "<?= $client->id(); ?>";
            var partner = "<?= $partner->id(); ?>";
            var mandate = "<?= $mandate->id(); ?>";
            var message = $("#ac_message", frame).val();
            var date_due = $("#date_due\\[Y\\]", frame).val() + "-" +$("#date_due\\[M\\]", frame).val() + "-" + $("#date_due\\[D\\]", frame).val();

            $.ajax({
                url: "pages/mandate/?id="+mandate+"&do=ac_action_required",
                type: "GET",
                data: {
                    issuer: issuer,
                    client: client,
                    partner: partner,
                    message: message,
                    date_due: date_due,
                },
                dataType: "JSON",
                beforeSend: function(){
                    $("#send_ac", frame).attr("disabled", true);
                },
                success: function(r){
                    $("#send_ac", frame).attr("disabled", false);
                    if (r.success){
                        $("#ac_status", frame).removeClass().addClass("text-success").html("Successfully created action required ticket");

                        setTimeout(function(){
                            $("#mandate_tbl").trigger("refresh");
                            p.close();
                        }, 2000);
                    } else {
                        $("#ac_status", frame).removeClass().addClass("text-danger").html(r.error);
                    }
                }
            })
        });
    });
</script>

<div class="p-2" id="<?=_LINK?>">
    <p><strong>Policies:</strong>
    <?php

        $policyLinks = [];

        foreach ($policies as $p){
            $pol = new Policy($p, true);
            $policyLinks[] = $pol->link();
        }

        echo implode(", ", $policyLinks);

    ?>
    </p>
    <p><?= $issuer->link() ?> may require an adviser charging form to be signed by <?= $client->link() ?>.</p>
    <p>Use this form to create an 'action required' ticket which will send <?= $partner->link() ?> the appropriate form.</p>

    <form id="ac_form">
        <input type="hidden" name="mandate_id" value="<?= $mandate->id(); ?>">
        <div class="form-group row no-gutters">
            <div class="col-2">
                <label>Chase Date:</label>
            </div>
            <div class="col-9">
                <?= el($ar->date_due, "date_due"); ?>
            </div>
        </div>
        <div class="form-group row no-gutters">
            <div class="col-2">
                <label>Message:</label>
            </div>
            <div class="col-9">
                <textarea class="w-100" name="ac_message" id="ac_message" rows=5>Dear <?= $partner->forename()?>,

Thank you for sending the barcoded mandate pack for the above client.

We are pleased to confirm that this has been processed and will be sent to the provider via Recorded Delivery. From our experience, most policies for <?= strval($issuer) ?> will support ongoing adviser fees. In order to set this up, a separate Adviser charging form may be requested by the life provider.
Until we are appointed as the servicing agent, it is difficult for PS to know the set up of the policy therefore, if you have information that might help or you know if this policy will facilitate adviser charging, we would love to hear from you. It might be the case that this policy does not facilitate adviser fees and if this is the case we can close this action for you.

Policy Services appreciate you may not wish to apply fees for all policies, however, if you would like to for these policies, please follow the link below to download the correct form and arrange for this to be completed by your client.

The policies in question are as follows:
<?php

    $policyNums = [];

    foreach ($policies as $p){
        $pol = new Policy($p, true);
        $policyNums[] = $pol->number();
    }

    echo implode(", ", $policyNums);
?>


Once completed, we would be grateful if you could send the original to PO Box 13594, Linlithgow, EH49 9BB and we would be happy to process this for you.

Kind regards,

Client Services</textarea>
                <p class="mt-2 mb-0 text-muted">A link to download the adviser charging form will be added to your message.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-9">
                <p id="ac_status"></p>
            </div>
            <div class="col-3">
                <span class="right">
                    <button type="button" class="btn btn-primary" id="send_ac"><i class="fal fa-paper-plane"></i> Send</button>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    </form>
</div>