<style>
    .file-row td {
        padding: .5rem;
        vertical-align: middle;
    }
</style>

<script>
    $(function () {
        var frame = $("#<?=_LINK?>");
        var mandateTbl = $("#mandate_tbl", frame);
        var queueSelect = $("#mandate_queue_select", frame);

        var queue_name = '';

        frame.popup_config({
            title: "Mandates",
            helpGuide: "Prophet Guides/mandate system guide.pdf"
        });

        mandateTbl.bind("refresh", function () {
            var queue = queueSelect.val();

            if (queue == 0) {
                $.ajax({
                    url: "/pages/mandate/?do=list&queue=" + queue,
                    type: "GET",
                    dataType: "JSON",
                    success: function (response) {
                        if (response.success) {
                            $("tbody", mandateTbl).html("");
                            $(".queue-select", frame).show();
                            $(".file-select", frame).hide();

                            $.each(response.queues, function (key, queue) {
                                queueSelect.append("<option>" + queue.name + "</option>");

                                $("tbody", mandateTbl).append("<tr class='queue-row' data-name='" + queue.name + "'>" +
                                    "<td>" + queue.name + "</td>" +
                                    "<td>" + queue.modified + "</td>" +
                                    "<td>" + queue.file_count + "</td>" +
                                    "<td><button class='btn btn-primary' id='select-queue'>Select Queue</button></td>" +
                                    "</tr>");
                            });
                        }
                    }
                });
            }

            if (queue != 0) {

                $("#notify-progress").addClass('alert-warning')
                    .removeClass('alert-success alert-danger')
                    .html('<i class=\'fas fa-spinner fa-spin\'></i> &nbsp; Analysing mandates.. please wait as this may take a couple of minutes to complete..');

                $(queueSelect).attr('disabled', 'disabled');
                $(".btn-primary", mandateTbl).attr('disabled', 'disabled');

                $.ajax({
                    url: "/pages/scripts/?do=run_script&id=2&queue_name="+queue_name,
                    type: "POST",
                    dataType: "JSON",
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if (response.success) {
                            $("#notify-progress").addClass('alert-success')
                                .removeClass('alert-warning alert-danger')
                                .html('Mandates Analysed.');

                            $(queueSelect).removeAttr('disabled');
                            $(".btn-primary", mandateTbl).removeAttr('disabled');

                            setTimeout(function() {
                                $("#notify-progress")
                                    .removeClass('alert-warning alert-danger alert-success')
                                    .html('');
                            }, 2500);

                            $.ajax({
                                url: "/pages/mandate/?do=list&queue=" + queue,
                                type: "GET",
                                dataType: "JSON",
                                success: function (response) {
                                    if (response.success) {
                                        $("tbody", mandateTbl).html("");
                                        $(".queue-select", frame).hide();
                                        $(".file-select", frame).show();
                                        $("tbody", mandateTbl).html(response.rows);
                                    }
                                }
                            });
                        } else {
                            $("#notify-progress").addClass('alert-danger')
                                .removeClass('alert-warning alert-success')
                                .html(response.feedback.join("<br>"));
                        }
                    }
                });
            }
        });

        $(frame).on("click", "#select-queue", function () {
            var queue = $(this).closest("tr").data("name");
            queue_name = $(this).closest("tr").data("name");
            queueSelect.val(queue);
            mandateTbl.trigger("refresh");
        });

        queueSelect.on("change", function () {
            mandateTbl.trigger("refresh");
        });

        mandateTbl.trigger("refresh");

        $(frame).on("click", ".process-mandate", function () {
            var queue = encodeURI(queueSelect.val());
            var id = $(this).closest("tr").data("id");

            new popup({
                url: "/pages/mandate/?do=process&queue=" + queue + "&id=" + id,
                center: true
            });
        });

        $(frame).on("click", ".delete-mandate", function () {
            var id = $(this).closest("tr").data("id");
            var btn = $(this);

            if (confirm("Delete mandate #" + id + "?")) {
                $.ajax({
                    url: "/pages/mandate/?do=delete",
                    type: "GET",
                    data: {
                        id: id,
                        queue: encodeURI(queueSelect.val())
                    },
                    dataType: "JSON",
                    beforeSend: function () {
                        $(btn).attr("disabled", true);
                    },
                    success: function (response) {
                        if (response.success) {
                            mandateTbl.trigger("refresh");
                        } else {
                            alert(response.error);
                            $(btn).attr("disabled", false);
                        }
                    }
                })
            }
        })
    });
</script>

<div id="<?=_LINK?>">
    <div class="m-2">
        <label for="mandate_queue_select">Select Queue</label>
        <select id="mandate_queue_select">
            <option value="0">--</option>
        </select>
    </div>

    <div id="notify-progress" class="alert"></div>

    <table class="table table-striped" id="mandate_tbl">
        <thead>
        <tr class="queue-select">
            <th>Queue</th>
            <th>Date Modified</th>
            <th>Files</th>
            <th>Actions</th>
        </tr>
        <tr class="file-select hidden">
            <th>Filename</th>
            <th>Partner</th>
            <th>Client</th>
            <th>Issuer</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>