<tr class="file-row" data-id="<?= $mandate->id() ?>">
    <td><?= $mandate->file ?></td>
    <td><?= $mandate->partner->link() ?></td>
    <?php
        $client = $mandate->client;

        if ( $mandate->pending_client( ) && !$mandate->client() ) {
            $client = $mandate->pending_client;
        }
    ?>
    <td><?= $client->link() ?></td>
    <td><?= $mandate->issuer->link() ?></td>
    <td>
        <button class="btn btn-primary process-mandate">Process</button>
        <button class="btn btn-danger delete-mandate">&nbsp;<i class="fas fa-trash"></i>&nbsp;</button>
    </td>
</tr>