<tr id="<?=$mandate->id;?>" class="mandate_row">
  <td>
    <!--<abbr title="Scanned: <?=date('h:i:s d/m/Y',$ctime)?>">-->
      <?= $mandate->id ?>
    <!--</abbr>-->
  </td>
  <td><?= $mandate->partner->link() ?></td>
  <td><?= $mandate->issuer->link() ?></td>
  <?php
     $client = $mandate->client;
     if ( $mandate->pending_client( ) && !$mandate->client() ) {
         $client = $mandate->pending_client;
     }
  ?>
  <td><?= $client->link() ?></td>
  <td>
    <!--<button href="<?= Mandate::index_url(array( 'id'=>$mandate->id(), 'do'=>'view')) ?>">View</button>-->
    <button data-mandate="<?=$mandate->id()?>" class="process_mandate" title="Process #<?=$mandate->id?>">Process</button>
	<button id="<?=$mandate->id;?>" class="delete">&nbsp;</button>
  </td>
</tr>
<script type="text/javascript">
$(function(){

  var rowcount = $('.mandate_row').length;
  $("span#showing").html(rowcount);

  if ($("span#showing").html() == $("span#count").html()) {
    if ($("#ca_switch").is(":checked")) {
      $("#mandate_count").html("<p>There are " + rowcount + " Client Agreements waiting to be processed.</p>");
    } else {
      $("#mandate_count").html("<p>There are " + rowcount + " mandates waiting to be processed.</p>");
    }

  }
  $("#mandate_count").show();

});
</script>