<style type="text/css">
#<?=_LINK?> table.scrollable div.scroll {
    height: 400px;
}
table#mandates tbody.content > tr.in_focus {
    background: #FDDFFF;
}
#count_div{
	text-align:right;
}
</style>

<script type="text/javascript">
$(function( ){

      var mandates = $("table#mandates");
	  $("#mandate_count").hide();
	  $("#showing_none").hide();

	  var loadingSpinner = $("img#spinner_pol");

	  var tableContent = "<?=Mandate::index_url(array('do'=>'list'))?>";

	  var caOnly = false;

      mandates.bind( 
          "refresh", function ( ){
				  loadingSpinner.show();
              $("tbody:last", this).load(
				tableContent,
				function( ){
                    $("#mandate_count").trigger("count");
					$(":button.process_mandate", mandates).die('click').live('click',
						function( ){
							var url = "<?= Mandate::index_url(array('do'=>'process')) ?>";
							if (caOnly){
							    url = "<?= Mandate::index_url(array('do'=>'process','ca_only'=>'true')) ?>";
                            }
							var id = parseInt($(this).attr("data-mandate"));
						
							new popup({
								'url': url + "&id=" + id,
								triggers: {
									mandateProcessed: function( ){
										mandates.trigger("refresh");
										$("#mandate_count").trigger("count");
									}
								}
							});
						}
					);
				}
			  );
          }
      );

    mandates.trigger("refresh");
	
	$(mandates).die().on("click", ".delete", function(){
		var mandate_id = $(this).closest('tr').attr('id');
		
		if( confirm( "Are you sure you would like to delete Mandate #"+mandate_id+"?" ) ){
			try {
				$.get(
					"<?=Mandate::index_url()?>",{
						id: mandate_id,
						do: "delete"
					},
					function( ){
						mandates.trigger("refresh");
						$("#mandate_count").trigger("count");
						ProphetNotification({type:"good_news",text:"Mandate #"+ mandate_id + " deleted",timeout:2000});
					}
				);
			}
			catch( e ) {
				handleSystemError(e);
			}
		}

	});
	
	$( "#mandate_count" ).bind(
		"count",
			function( ){
				$.get(
					"<?=Mandate::index_url()?>",
					{
						'do': "count",
                        'ca_only': caOnly
					},
					function( r ){
						loadingSpinner.hide();
						r = json_decode(r);
						$( "span#count" ).html( r.contains );
						
						var empty_tbl = $(".content").html().replace(/ /g,'').replace(/(\r\n|\n|\r)/gm,"");
						
						if(empty_tbl == "" || empty_tbl == '<trclass="even"><tdwidth="75px"style="width:85px;">&nbsp;</td><tdstyle="width:345px;">&nbsp;</td><tdstyle="width:290px;">&nbsp;</td><tdstyle="width:275px;">&nbsp;</td><tdstyle="width:160px;">&nbsp;</td></tr>' ){

                            if ($("#ca_switch").is(":checked")) {
                                $("#mandate_count").html("<p>Showing 0 of "+r.contains+" Client Agreements waiting to be processed</p>");
                            } else {
                                $("#mandate_count").html("<p>Showing 0 of "+r.contains+" mandates waiting to be processed</p>");
                            }

						}
					}
				);
			}
	);

	$("#ca_switch").change(function(){
	    if ($(this).is(":checked")){
	        caOnly = true;
	        tableContent = "<?=Mandate::index_url(array('do'=>'list','ca_only'=>'true'))?>";
        } else {
	        caOnly = false;
	        tableContent = "<?=Mandate::index_url(array('do'=>'list'))?>";
        }
        mandates.trigger("refresh");
        loadingSpinner.hide();
    });
});
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div class="row no-gutters">
        <div class="col-6">
            <label class="switch">
                <input type="checkbox" id="ca_switch">
                <span class="slider round"></span>
            </label>
            <label class="switch-label">Toggle Single Client Agreements</label>
        </div>
        <div class="col-6">
            <div id="count_div">
                <img id="spinner_pol" name="spinner_pol" src="/lib/images/inline-ajax.gif"/>
                <p id="mandate_count" >Showing <span id="showing">&nbsp;</span> of <span id="count">&nbsp;</span> mandates waiting to be processed.</p>
            </div>
        </div>
    </div>

    <table id="mandates" name="mandates" class="scrollable">
        <thead>
            <tr>
                <th>&#35;</th>
                <th>Partner</th>
                <th>Issuer</th>
                <th>Client</th>
                <th width="160px">&nbsp;</th>
            </tr>
        </thead>

        <tbody class="content">
            <tr>
                <td width="75px">&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>

</div>
