<tr class="scan">
    <td><?= $m -> mandate_id ?></td>
    <td><?= $m -> partner ?></td>
    <td><?= $m -> issuer ?></td>
    <td><?= $m -> client ?></td>
    <td class="ctrls">
        <button onclick="launch_view ( 123 );">View</button>
        <button onclick="launch_process ( <?= $m -> mandate_id ?> );" >Process</button>
        <button $disabled value="$id">Send</button>
    </td>
</tr>
