<?php

$dept = User::get_default_instance("department");
$uid = User::get_default_instance("id");

if (!isset($websiteuser)) {
    $wuser = new WebsiteUser;
    
    $sql = new Search($wuser);
    $sql->set_limit(1);

    while (true) {
        $websiteuser = $wuser;
        $websiteuser->allowed_access(true);

        if (isset($partner_id)) {
            $sql->eq("partner", $partner_id);
        } else {
            break;
        }

        $websiteuser = $sql->next();
    }
}

if (!$websiteuser->id()) {
    $websiteuser->id(0);
}

if (!isset($partner)) {
    $partner = false;
}
?>
<style>
    .popup #<?=_LINK?> .row{
        max-width: 800px;
    }

    #<?=_LINK?> .website-user-details input{
       width: 80%;
   }

    #<?=_LINK?> #avail_acc .profile.Partner{
        color: #fff;
    }
</style>
<script type="text/javascript">
$(function( ){
    var frame = $("div#<?=_LINK?>");

    $(frame).on("click", ".custom", function() {

        window.main_partner = false;

        var id = this.id;
        var permissionsID = "permissions_"+id;

        if ($("tr#"+permissionsID).length < 1) {
            $.ajax({
                'url': "/pages/websiteuser/index.php/?partnerID="+id+"&new_user=true",
                'type': "GET",
                'dataType': "json",
                'success': function(r) {

                    if (r.error) {
                        alert(r.error);
                    } else {
                        $("tr#"+id).after(r.data);
                    }
                }
            });
        }
    });

    // if custom not selected, remove custom permissions selection
    $(frame).on("click", ".user, .admin", function() {
        window.main_partner = false;

        var id = this.id;
        var permissionsID = "permissions_" + id;

        $("tr#"+permissionsID).remove();
    });

    // hide available acounts div when on main account tab, show on new user popup
    $("#avail_acc").hide();

    if ("<?=$partner?>") {
        $("#avail_acc").show();
    }

    $("#remove_2fa", frame).on("click", function(e){
        e.preventDefault();

        if(confirm("Are you sure you want to remove two factor authentication from this account? This will make the account less secure.")){
            $.ajax({
                url: "/pages/websiteuser/?id=<?=$websiteuser->id()?>&do=remove_2fa",
                type: "GET",
                dataType: "JSON",
                success: function(response){
                    if(response.success){
                        $("#2fa_secret", frame).html(response.data);
                        $("#remove_2fa", frame).remove();
                    } else {
                        alert(response.data);
                    }
                }
            })
        }
    })

});
</script>
<div id="<?=_LINK?>" name="<?=_LINK?>">

        <div class="row no-gutters">
            <div class="col-6">
                <div class="card m-1 py-3 px-5 website-user-details">
                    <div class="row no-gutters">
                        <div class="col-4">
                            <strong>First Name</strong>
                        </div>
                        <div class="col-8">
                            <?=el($websiteuser->first_name)?>
                        </div>

                        <div class="col-4">
                            <strong>Last Name</strong>
                        </div>
                        <div class="col-8">
                            <?=el($websiteuser->last_name)?>
                        </div>

                        <div class="col-4">
                            <strong>Email</strong>
                        </div>
                        <div class="col-8">
                            <?=el($websiteuser->email_address)?>
                        </div>

                        <div class="col-4">
                            <strong>Last Login</strong>
                        </div>
                        <div class="col-8">
                            <?= $websiteuser->last_login ?>
                        </div>

                        <div class="col-4">
                            <strong>ID</strong>
                        </div>
                        <div class="col-8">
                            <?= $websiteuser->id() ?>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card m-1 py-3 px-5">
                    <div class="row no-gutters">
                        <div class="col-9">
                            <strong>Partner Email Notifications</strong>
                        </div>
                        <div class="col-3">
                            <?=el($websiteuser->notifications)?>
                        </div>

                        <div class="col-9">
                            <strong>Partner Mandate Notifications</strong>
                        </div>
                        <div class="col-3">
                            <?=el($websiteuser->mandate_notification)?>
                        </div>

                        <div class="col-9">
                            <strong>Partner Portfolio Report Notifications</strong>
                        </div>
                        <div class="col-3">
                            <?=el($websiteuser->proreport_notification)?>
                        </div>

                        <div class="col-9">
                            <strong><abbr title="If this is set the user will see a notification alerting them that their is an issue with their email address">Defunct Email</abbr></strong>
                        </div>
                        <div class="col-3">
                            <?=el($websiteuser->defunct_email)?>
                        </div>

                        <div class="col-9">
                            <strong>Two Factor Authentication</strong>
                        </div>
                        <div class="col-3">
                            <span id="2fa_secret">
                                 <?=Boolean::represent($websiteuser->google2fa_secret)?>
                            </span>
                            <a title="Need help with mypsaccount 2 factor authetication?" target="_blank" href="https://support.policyservices.co.uk/hc/en-gb/articles/360001039214-Two-Factor-Authentication">
                                <i style="color:#006686"  onmouseover='this.style.opacity="0.5"' onmouseout='this.style.opacity="1"' class="fa fa-question-circle"></i>
                            </a>
                            <?php if($websiteuser->google2fa_secret() && User::get_default_instance()->has_permission(45)): ?>
                                <a href="#" id="remove_2fa">Remove 2FA</a>
                            <?php endif; ?>
                        </div>

                        <div class="col-9">
                            <strong><abbr title="If this is set the user will be allowed to order a portfolio report for their client">Order Portfolio Report Access</abbr></strong>
                        </div>
                        <div class="col-3">
                            <?php if(User::get_default_instance()->has_permission(49)): ?>
                                <?= el($websiteuser->request_portfolio_reports) ?>
                                <a  title="Need help with mypsaccount portfolio reports?" target="_blank" href="https://support.policyservices.co.uk/hc/en-gb/articles/360001019813-Portfolio-Reports">
                                    <i style="color:#006686"  onmouseover='this.style.opacity="0.5"' onmouseout='this.style.opacity="1"' class="fa fa-question-circle"></i>
                                </a>
                                <?php else: ?>
                                <?= $websiteuser->request_portfolio_reports?>
                                <a  title="Need help with mypsaccount portfolio reports?" target="_blank" href="https://support.policyservices.co.uk/hc/en-gb/articles/360001019813-Portfolio-Reports">
                                    <i style="color:#006686"  onmouseover='this.style.opacity="0.5"' onmouseout='this.style.opacity="1"' class="fa fa-question-circle"></i>
                                </a>
                            <?php endif; ?>
                        </div>

                        <div class="col-9">
                            <strong>Allowed Access</strong>
                        </div>
                        <div class="col-3">
                            <?=el($websiteuser->allowed_access)?>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <?php if(isset($partner) || $partner != 0 ): ?>
            <div id="avail_acc">
                <h3>Available Accounts</h3>
                <table class="luxe">
                    <tbody>
                        <?= WebsiteUser::available_accounts($partner)?>
                    </tbody>
                </table>
            </div>
        <?php endif; ?>
</div>





