<?php
if( isset($_GET["partner"]) ){
    $websiteuser->partner($_GET["partner"]);
}
?>
<script type="text/javascript">
$(function( ){

    var form = $("form#<?=_LINK?>");

    var pop = $( form ).popup_config({ 
        title: "Create a new Mypsaccount", 
        center: true 
    });


    //show cross on tickboxes
    $('.bool').each(function() {
        if( $(this).attr("value") == 0 ){
            $(this).attr("value", 0);
        }
    });


    $(form).on("click", "#wu_submit", function() {

        let btn = $(this);
        btn.prop('disabled', true);
        var form_data = $('form#<?=_LINK?>').serialize();
        var checkbox_array = [];

        var email_notification = $("#websiteuser\\[notifications\\]", form).attr('value');
        var allowed_access = $("#websiteuser\\[allowed_access\\]", form).attr('value');
        var defunct_email = $("#websiteuser\\[defunct_email\\]", form).attr('value');
        var partner = $("#websiteuser\\[partner\\]", form).attr('value');

        // get all selected checkboxes and add to array
        $('input:checkbox:checked', form).each(function(){
            checkbox_array.push($(this).attr('id'));
        });

        if(window.main_partner != true){

            if($('input:radio:checked').length > 0){

                $.ajax({
                    'url': "/pages/websiteuser/index.php/?partnerID="+partner+"&submit_user=true&main_partner="+window.main_partner,
                    'type': "POST",
                    'data': {
                        type : "json",
                        form_data : form_data,
                        checkbox_array : checkbox_array,
                        email_notifications : email_notification,
                        allowed_access : allowed_access,
                        defunct_email : defunct_email
                    },
                    'dataType': "json",
                    'success': function( r ){
                        if(r.error != true){
                            $(".status", form).html(r.status).removeClass("bad_news").addClass("good_news");
                            $("#wu_submit", form).attr("disabled", "disabled");
                            $(pop).trigger("userAdded");
                            pop.close();
                        }else{
                            $(".status", form).html(r.status).removeClass("good_news").addClass("bad_news");
                        }
                    }
                });

            }else{
                $(".status", form).html("please ensure you have selected at least one partner account").addClass("bad_news");
            }
        }else{
            $.ajax({
                'url': "/pages/websiteuser/index.php/?partnerID="+partner+"&submit_user=true&main_partner="+window.main_partner,
                'type': "POST",
                'data': {
                    type : "json",
                    form_data : form_data,
                    checkbox_array : checkbox_array,
                    email_notifications : email_notification,
                    allowed_access : allowed_access,
                    defunct_email : defunct_email
                },
                'dataType': "json",
                'success': function( r ){
                    if(r.error != true){
                        $(".status", form).html(r.status).removeClass("bad_news").addClass("good_news");
                        $("#wu_submit", form).attr("disabled", "disabled");
                        $(pop).trigger("userAdded");
                        pop.close();
                    }else{
                        $(".status", form).html(r.status).removeClass("good_news").addClass("bad_news");
                    }
                }
            });
        }
    });


    if(window.main_partner == true){
        $("div#avail_acc").hide();
    }

    //give the cross/close button an id on the new user popup
    //and use this click event for deleting window.main_partner
    $('.close').attr('id', 'close_process');

    $("#close_process").live("click", function(){
        delete window.main_partner;
    });



});
</script>

<form id="<?=_LINK?>" name="<?=_LINK?>">

    <?= WebsiteUser::get_template("form.html", array("partner"=>$_GET['partnerid'])); ?>

    <?= el::hide($websiteuser->partner->get_html_id(), $websiteuser->partner()) ?>

    <p style="text-align:right;">
        <span class="status">&nbsp;</span> &nbsp;
        <button id="wu_submit">Save</button>
    </p>

</form>

