<?php
    if (isset($websiteuser->partner->id)) {
        $partnerid = $websiteuser->partner();
    } elseif(isset($partner)) {
        $partnerid = $partner->id();
    } else {
        $partnerid = false;
    }
?>
<style type="text/css">
#<?=_LINK?> {
    min-width: 600px;
}

/*#<?=_LINK?> div.tabs tr button.delete {
    background-image: url("<?=el::image('cross.png')?>");
    background-position: center center;
    background-repeat: no-repeat;
    height: 25px;
    width: 20px;
}*/

#<?=_LINK?> table.scrollable div.scroll {
    height: 200px;
}
</style>

<script type="text/javascript">
  $(function( ) {

      var frame = $("#<?=_LINK?>");

      var accessorDiv = $("#<?=_LINK?>accessor",frame);
      accessorDiv.xhr = null;
      var accessorSuggest = $("#WebsiteUser",accessorDiv);

      var accessibleDiv = $("#<?=_LINK?>accessible",frame);
      accessibleDiv.xhr = null;

      var accessibleSuggest = $("#Partner",accessibleDiv);

      var userForm = $("#<?=_LINK?>account",frame);
      var userId = $("#websiteuser\\[id\\]", frame);
      var partnerId = $("#websiteuser\\[partner\\]", frame);

      if(partnerId.val() != "<?=$_GET['id']?>"){
          var wuPop = userForm.popup_config({
              title: "<b>Website User</b>: <?=$websiteuser->first_name . ' ' . $websiteuser->last_name?>",
              center: true
          });
      }

      function accessorDivRefresh () {
          if (this.xhr != null) {
              this.xhr.abort();
          }

          this.xhr = $.ajax({
              'url': "<?=ViewerEntry::index_url()?>",
              'type': "GET",
              'data': {'partner': partnerId.val()},
              'success': function (r) {
                  $("tbody.content", accessorDiv).html(r).find("button.delete").click(function () {
                      frame.deleteViewerEntry(this.value, function () {
                          accessorDivRefresh();
                      });
                  });
              },
              'complete': function () {
                  this.xhr = null;
              }
          });
      }


      function accessibleDivRefresh() {
          if (this.xhr != null) {
              this.xhr.abort();
          }

          this.xhr = $.ajax({
              'url': "<?=ViewerEntry::index_url()?>",
              'type': "GET",
              'data': {'user': userId.val()},
              'success': function (r) {
                  $("tbody.content", accessibleDiv).html(r).find("button.delete").click(function () {
                      frame.deleteViewerEntry(this.value, function () {
                          accessibleDivRefresh();
                      });
                  });
              },
              'complete': function () {
                  this.xhr = null;
              }
          });
      }


      frame.bind("onshow", function () {
          if (!$("#myps_tab").hasClass("has_onshow")) {
              return false;
          } else {
              if (!window.myps_init) {
                  setTimeout(function() {
                      $("#accessible_by_tab").click();
                      window.myps_init = true;
                  }, 300);
              }
          }
      });

      saveProfileNotification( $("form",userForm) );

      frame.deleteViewerEntry = function (entryId, callback) {

          /*
             Delete ViewerEntry instance 'entryId' in the database
             before executing whatever function is defined
             in 'callback'
           */

          if ("veXhr" in frame && frame.veXhr != null) {
              // cancel existing xhr
              frame.veXhr.abort();
          }

          if (!confirm("Really delete this entry?")) {
              return;
          }

          frame.veXhr = $.ajax({
              'url': "/pages/viewerentry/index.php",
              'type': "GET",
              'data': {
                  'id': entryId,
                  'do': "delete"
              },
              'success': function (r) {
                  // execute custom callback
                  callback();
              },
              'complete': function () {
                  frame.veXhr = null;
              }
          });
      };


      // Enable account access from this WebsiteUser to Partner
      $("button#add_accessible").click(function () {
          $.ajax({
              'url': "<?=ViewerEntry::get_common_url(array('do'=>'create'))?>",
              'type': "POST",
              'data': {
                  'viewerentry': {
                      'user': userId.val(),
                      'partner': $("#Partner", accessibleDiv).val()
                  }
              },
              'dataType': "json",
              'success': function (r) {

                  if (r.error) {
                      alert(r.error);
                  } else {
                      accessibleDivRefresh()
                  }
              }
          });
      });


      // Allow selected WebsiteUser access to this Partner account
      $("button#add_accessor").click(function () {
          $.ajax({
              'url': "<?=ViewerEntry::get_common_url(array('do'=>'create'))?>",
              'type': "POST",
              'data': {
                  'viewerentry': {
                      'user': $("#WebsiteUser", accessorDiv).val(),
                      'partner': partnerId.val()
                  }
              },
              'dataType': "json",
              'success': function (r) {
                  if (r.error) {
                      alert(r.error);
                  } else {
                      accessorDivRefresh();
                  }
              }
          });
      });

      $("button#new_accessor").click(function () {
          window.main_partner = false;
          new popup({
              title: "Create New Mypsaccount",
              url: "<?=WebsiteUser::get_common_url(array('do'=>'create', 'partnerid'=>$partnerid))?>",
              triggers: {
                  userAdded: function (e, id) {
                      accessorDivRefresh();
                  }
              }
          });
      });

      $(":button#resetPasswd", frame).click(function () {

          if (!confirm("Reset password for this account?")) {
              return;
          }

          $.get(
              "<?=WebsiteUser::index_url()?>",
              {do: "reset", id: userId.val()},
              function (r) {
                  try {

                      r = json_decode(r);

                      if (r.status){
                          alert("Password reset link sent");
                      } else {
                          alert(r.error);
                      }

                  } catch (e) {
                      handleSystemError(e);
                  }
              }
          );
      });

      <?php if( $websiteuser->id() ){ ?>
      userId.val( '<?=(int)$websiteuser->id()?>' );
      partnerId.val('<?=(int)$websiteuser->partner()?>');
      frame.trigger("load");
      <?php }else{ ?>
      partnerId.val('<?=(int)$partner->id()?>');
      frame.trigger("load");
      <?php }?>

      //ajax update REMOTE_SYS_DB.viewer_tbl.email_notification
      $(accessorDiv).on("change", "#viewerentry\\[email_notification\\]", function () {
          var id = $(this).closest('tr').attr('id');
          var emails = $(this).attr("value");

          $.ajax({
              'url': "<?=ViewerEntry::index_url()?>",
              type: "GET",
              data: {
                  type: "json",
                  partner: partnerId.val(),
                  id: id,
                  subusers: "save_email_notifications",
                  emails: emails
              },
              dataType: "json",
              success: function (r) {
                  try {

                      if (r.error == false) {
                          $("#accessible_feedback").addClass("good_news").html(r.status);
                      } else {
                          $("#accessible_feedback").addClass("bad_news").html(r.status);
                      }

                      setTimeout(
                          function () {
                              $("#accessible_feedback").removeClass().html("");
                          }, 3000);

                  } catch (e) {
                      alert(e);
                  }
              }
          });
      });

      //ajax update REMOTE_SYS_DB.viewer_tbl.email_notification
      $(accessorDiv).on("change", "#viewerentry\\[mandate_notification\\]", function () {
          var id = $(this).closest('tr').attr('id');
          var emails = $(this).attr("value");

          $.ajax({
              'url': "<?=ViewerEntry::index_url()?>",
              type: "GET",
              data: {
                  type: "json",
                  partner: partnerId.val(),
                  id: id,
                  subusers: "save_mandate_notifications",
                  emails: emails
              },
              dataType: "json",
              success: function (r) {
                  try {

                      if (r.error == false) {
                          $("#accessible_feedback").addClass("good_news").html(r.status);
                      } else {
                          $("#accessible_feedback").addClass("bad_news").html(r.status);
                      }

                      setTimeout(
                          function () {
                              $("#accessible_feedback").removeClass().html("");
                          }, 3000);

                  } catch (e) {
                      alert(e);
                  }
              }
          });
      });

      //ajax update REMOTE_SYS_DB.viewer_tbl.email_notification
      $(accessorDiv).on("change", "#viewerentry\\[proreport_notification\\]", function () {
          var id = $(this).closest('tr').attr('id');
          var emails = $(this).attr("value");

          $.ajax({
              'url': "<?=ViewerEntry::index_url()?>",
              type: "GET",
              data: {
                  type: "json",
                  partner: partnerId.val(),
                  id: id,
                  subusers: "save_proreport_notifications",
                  emails: emails
              },
              dataType: "json",
              success: function (r) {
                  try {

                      if (r.error == false) {
                          $("#accessible_feedback").addClass("good_news").html(r.status);
                      } else {
                          $("#accessible_feedback").addClass("bad_news").html(r.status);
                      }

                      setTimeout(
                          function () {
                              $("#accessible_feedback").removeClass().html("");
                          }, 3000);

                  } catch (e) {
                      alert(e);
                  }
              }
          });
      });

      $(accessorDiv).on("click", ".permissions", function(){
          var id = this.id;
          new popup({
              url: "/pages/websiteuser/index.php?do=view_permissions&template=true&id="+id+"&partnerID=<?=$websiteuser->partner->id()?>",
              title: "User Permissions",
              center: true
          });
      });

      $(accessorDiv).on("click", ".edit_permission", function(){
          var id = this.id;
          new popup({
              url: "/pages/websiteuser/index.php?do=edit_permissions&id="+id+"&partnerID=<?=$partnerid?>",
              title: "Edit User Permissions",
              center: true
          });
      });

      $.ajax({
          'url': "<?=ViewerEntry::index_url()?>",
          'type': "GET",
          'data': {'partner': partnerId.val()},
          'success': function (r) {
              $("tbody.content", accessorDiv).html(r).find("button.delete").click(function () {
                  frame.deleteViewerEntry(this.value, function () {
                      accessorDivRefresh();
                  });
              });
          }
      });

      $.ajax({
          'url': "<?=ViewerEntry::index_url()?>",
          'type': "GET",
          'data': {'user': userId.val()},
          'success': function (r) {
              $("tbody.content", accessibleDiv).html(r).find("button.delete").click(function () {
                  frame.deleteViewerEntry(this.value, function () {
                      accessibleDivRefresh();
                  });
              });
          }
      });
  });
</script>

<div id="<?=_LINK?>" class="has_onshow myps_user">

    <div class="p-3">
        <!-- an error field -->
        <div class="notification bad_news static"></div>

        <p>
            <input type="button" value="Reset Password" id="resetPasswd" name="resetPasswd"
            <?= ($websiteuser->id()) ? '' : 'disabled' ?> style="background:url(/lib/images/key.png) 5px center no-repeat;padding-left:30px;"/>
        </p>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#<?=_LINK?>account">Account</a>
            </li>
            <?php if($websiteuser->id() ){ ?>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>accessible">Has Access To</a>
                </li>
            <?php }?>
            <?php if (!$websiteuser->id() || ($websiteuser->id() && $websiteuser->partner())) { ?>
                <li class="nav-item" id="accessible_by_tab" name="accessible_by_tab">
                    <a class="nav-link" data-toggle="tab" href="#<?=_LINK?>accessor">Accessible By</a>
                </li>
            <?php } ?>
        </ul>

        <div class="tab-content">
            <div id="<?=_LINK?>account" class="tab-pane fade show active">
                <?php if ($websiteuser->partner()): ?>
                    <div class="notification info static" style="display:block;">This user account belongs
                        to <?=$websiteuser->partner->link()?>
                    </div>
                <?php endif; ?>
                <?php if (!$websiteuser->id()): ?>
                    <form action="<?=WebsiteUser::get_common_url(array('do'=>'create'))?>" method="POST">
                        <input id="websiteuser[partner]" name="websiteuser[partner]" type="hidden"
                               value="<?= $partnerid ?>"/>
                <?php else: ?>
                    <form action="<?= WebsiteUser::get_common_url(array('do'=>'save','id'=>$websiteuser->id()))?>"
                          method="POST">
                        <?=el($websiteuser->id, null)?>
                        <?=el($websiteuser->partner, false, false, false, false, DatabaseObject::ELEMENT_HIDDEN )?>
                <?php endif; ?>

                <?= WebsiteUser::get_template("form.html",array("websiteuser"=>$websiteuser)) ?>
                    </form>
            </div>

            <?php if($websiteuser->id() ){ ?>
                <div class="tab-pane fade" id="<?=_LINK?>accessible" name="accessible">
                    <p>
                        <?= el($websiteuser->partner,"Partner",null) ?>
                        <button id="add_accessible" name="add_accessible">Add</button>
                    </p>
                    <table class="scrollable">
                        <thead>
                        <th>Partner</th>
                        <th>Branch</th>
                        <th style="width:50px;text-align:right;">&nbsp;</th>
                        </thead>
                        <tbody class="content">
                        </tbody>
                    </table>
                </div>
            <?php }?>

            <?php if (!$websiteuser->id() || ($websiteuser->id() && $websiteuser->partner())) { ?>
                <div class="tab-pane fade" id="<?=_LINK?>accessor">
                <p>
                    <?= el($websiteuser) ?>
                    <button id="add_accessor" name="add_accessor">Add</button>
                    <button id="new_accessor" name="new_accessor">New User</button>
                    <span id="accessible_feedback" style="float:right">&nbsp;</span>
                </p>

                <table class="scrollable">
                    <thead>
                    <tr>
                        <th>Email</th>
                        <th>Partner</th>
                        <th width="150px">Remove Access</th>
                        <th width="150px">Email Notifications</th>
                        <th width="150px">Mandate Notifications</th>
                        <th width="150px">Portfolio Report Notifications</th>
                        <th width="150px">Permissions</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>
            <?php } ?>
        </div>
    </div>
</div>

