<style type="text/css">
#<?=_LINK?> table.scrollable div.scroll {
    height: 425px;
    width: 400px;
}
#permissions_ctrl{
    margin:10px 0;
}
</style>

<script type="text/javascript">
    $(function () {

        var frame = $("div#<?=_LINK?>");

        var popup = $(frame).popup_config({
            center: true
        });

        $(frame).bind("refresh", function () {
            $(".content", frame).html("");

            $.ajax({
                'url': "<?=WebsiteUser::index_url()?>",
                type: "GET",
                data: {
                    type: "json",
                    do: "view_permissions",
                    id: "<?=$websiteuser;?>",
                    partnerID: "<?=$partner;?>"
                },
                dataType: "json",
                success: function (r) {
                    try {
                        if (r.data != null) {
                            $(".content", frame).html(r.data);
                            $("input:checkbox").hide();
                        } else {
                            $(".content", frame).html("<tr><td>No Data found.</td></tr>");
                        }
                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });

        $(frame).trigger("refresh");

        $(frame).on("click", ".edit_permissions", function () {
            $(".permission_image").hide();
            $("input:checkbox").show();
            $(".edit_permissions").text("Save Changes").removeClass("edit_permissions").addClass("save_changes");
        });

        $(frame).on("click", ".save_changes", function () {

            // change elements to show user
            $(".save_changes").text("Edit Permissions").removeClass("save_changes").addClass("edit_permissions");

            // build up list of permissions to save
            var new_permissions = [];
            $(':checked', frame).each(function () {
                new_permissions.push(this.id);
            });

            $.ajax({
                'url': "<?=WebsiteUser::index_url()?>",
                type: "GET",
                data: {
                    type: "json",
                    do: "edit_permissions",
                    id: "<?=$websiteuser;?>",
                    data: new_permissions,
                    partner: "<?=$partner;?>"
                },
                dataType: "json",
                success: function (r) {
                    try {
                        if (r.error == false) {
                            $("#permission_feedback").addClass("good_news").html(r.status);
                            $(frame).trigger("refresh");
                        } else {
                            $("#permission_feedback").addClass("bad_news").html(r.status);
                        }
                        setTimeout(function () {
                            $("#permission_feedback").removeClass().html("");
                        }, 3000);

                    } catch (e) {
                        alert(e);
                    }
                }
            });
        });
    });
</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <div id="permissions_ctrl">
        <!--If user is IT / KAC's / Portfolio team-->
        <?php if (User::get_default_instance("department") == 7 || User::get_default_instance("department") == 4 ||
            User::get_default_instance("department") == 14 || User::get_default_instance("id") == 116 ||
            User::get_default_instance("id") == 98) { ?>
            <button type="button" id="<?=$websiteuser?>" class="edit_permissions">Edit Permissions</button>
        <?php } ?>
        <span id="permission_feedback">&nbsp;</span>
        <br><br>
        <button type="button" data-toggle="modal" data-target="#<?=_LINK?>permission-history-modal" data-backdrop="false">View History</button>
    </div>

    <table class="scrollable">
        <thead>
            <tr>
                <th>Permission List</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody class="content">
            <?php
                if (isset($allowed_permissions) && !empty($allowed_permissions)) {
                    foreach ($allowed_permissions as $item) {
                       echo "<tr><td>".$item."</td><td></td></tr>";
                    }
                }
            ?>

            <?php
                if (isset($denied_permissions) && !empty($denied_permissions)) {
                    foreach ($denied_permissions as $item2) {
                       echo "<tr><td>".$item2."</td><td><img class='permission_image' src='/lib/images/cross.png'><input type='checkbox' id='".$item2."'/></td></tr>";
                    }
                }
            ?>
        </tbody>
    </table>

    <div class="modal fade" id="<?=_LINK?>permission-history-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Permission History</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>User</th>
                                <th>Date</th>
                                <?php foreach($permission_desc as $pd): ?>
                                <th><?= $pd ?></th>
                                <?php endforeach; ?>
                                <th>Access Level</th>
                                <th>Email Notification</th>
                                <th>Access Revoked</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">CURRENT</td>
                                <?php foreach($permission_desc as $pdKey => $pd): ?>
                                    <td class="text-center">
                                        <?php if(is_array($viewerentry->permissions->value) && in_array($pdKey, $viewerentry->permissions->value)): ?>
                                            <i class="fas fa-check text-success"></i>
                                        <?php else: ?>
                                            <i class="fas fa-times text-danger"></i>
                                        <?php endif; ?>
                                    </td>
                                <?php endforeach; ?>
                                <td><?= $viewerentry->access_level() ?></td>
                                <td><?= $viewerentry->email_notification ?></td>
                                <td><?= $viewerentry->access_revoked ?></td>
                            </tr>
                            <?php if(count($oldperms)): ?>
                            <?php foreach($oldperms as $paKey=>$pa): ?>
                            <tr>
                                <td><?= $pa->updated_by ?></td>
                                <td><?= $pa->updated_when ?></td>
                                <?php foreach($permission_desc as $pdKey => $pd): ?>
                                    <?php

                                        $classes = "";
                                        $checkArray = null;

                                        if ($paKey === 0){
                                            $checkArray = $viewerentry->permissions->value;
                                        } else {
                                            $checkArray = $oldperms[$paKey - 1]->permissions->value;
                                        }

                                        if (is_array($pa->permissions->value) && is_array($checkArray)){
                                            if ((in_array($pdKey, $pa->permissions->value) && !in_array($pdKey, $checkArray)) || (in_array($pdKey, $checkArray) && !in_array($pdKey, $pa->permissions->value))){
                                                $classes = "table-danger";
                                            }
                                        } elseif ((is_array($pa->permissions->value) && !is_array($checkArray)) || (is_array($checkArray) && !is_array($pa->permissions->value))){
                                            $classes = "table-danger";
                                        }

                                    ?>
                                    <td class="text-center <?= $classes ?>">
                                        <?php if(is_array($pa->permissions->value) && in_array($pdKey, $pa->permissions->value)): ?>
                                            <i class="fas fa-check text-success"></i>
                                        <?php else: ?>
                                            <i class="fas fa-times text-danger"></i>
                                        <?php endif; ?>
                                    </td>
                                <?php endforeach; ?>
                                <td><?= $pa->access_level() ?></td>
                                <td><?= $pa->email_notification ?></td>
                                <td><?= $pa->access_revoked ?></td>
                            </tr>
                            <?php endforeach; ?>
                            <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>