<script type="text/javascript">

$(function( ){

    var frame = $("div#<?=_LINK?>");
    var form = $("form#categorise_entries");
    var add_status = $("#cat_stat");

    var pop = $( frame ).popup_config({
        title: "FCC Category Management",
        center: true
    });

    // load table on initial page load
    $( frame ).bind(
        "load_categories",
            function( ){
                $.ajax({
                    url: "pages/fcc/categorise.php?do=category_management&load_list=true",
                    type: "GET",
                    data: {
                        type: "json",
                    },
                    dataType: "json",
                    success: function( r ){
                        try{
                            $(".content", frame).html(r.data);
                        }catch(e){
                            alert(e);
                        }
                    }
                });
            }
    );
    $( frame ).trigger( "load_categories" );

    // confirm and delete category
    $(frame).on("click", ".delete", function(){

        var id = this.id;
        var category = $("tr#"+id+" > td:first > input").val();

        $('<div></div>').appendTo('body')
            .html('<div><p>Please confirm that you wish to delete category: <b>'+category+'</b>?</p></div>')
            .dialog({
                modal: true, title: 'Delete Confirmation', zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: {
                    Yes: function () {
                        $.ajax({
                            url: "pages/fcc/categorise.php?do=category_management&delete=true",
                            type: "GET",
                            data: {
                                type: "json",
                                id: id
                            },
                            dataType: "json",
                            success: function( r ){
                                try{

                                    if(r.error == false){
                                        $("tr#"+id).remove();
                                    }else{
                                        alert(r.status);
                                    }

                                }catch(e){
                                    alert(e);
                                }
                            }
                        });
                        $(this).dialog("close");
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
    });

    $(frame).on("click", ".update", function(){

        var id = this.id;
        var category = $("tr#"+id+" > td:first > input").val();
        var sage_nc = $("tr#"+id+" > td:nth-child(2) > input").val();
        var edit_status = $("tr#"+id+" > td:nth-child(4)");

        $('<div></div>').appendTo('body')
            .html('<div><p>Please confirm that you wish to update category to: <b>'+category+'</b> and sage_nc to: <b>'+sage_nc+'</b> ?</p></div>')
            .dialog({
                modal: true, title: 'Update Confirmation', zIndex: 10000, autoOpen: true,
                width: 'auto', resizable: false,
                buttons: {
                    Yes: function () {
                        $.ajax({
                            url: "pages/fcc/categorise.php?do=category_management&update=true",
                            type: "GET",
                            data: {
                                type: "json",
                                id: id,
                                category: category,
                                sage_nc: sage_nc
                            },
                            dataType: "json",
                            success: function( r ){
                                try{
                                    if(r.error == false){
                                        edit_status.html('<img src="/lib/images/tick.png">');
                                    }else{
                                        edit_status.html('<img src="/lib/images/cross.png">');
                                    }
                                    setTimeout(  function() { edit_status.html(""); }, 3500);
                                }catch(e){
                                    alert(e);
                                }
                            }
                        });
                        $(this).dialog("close");
                    },
                    No: function () {
                        $(this).dialog("close");
                    }
                },
                close: function (event, ui) {
                    $(this).remove();
                }
            });
    });


    // hide form by default
    $("#new_cat_div").hide();

    $(frame).on("click", "#add_cat", function(){
        $("#new_cat_div").show();
    });

    $(frame).on("click", "#submit_new_cat", function() {

        var id = this.id;
        var category = $("input#new_category");
        var sage_nc = $("input#new_sage_nc");

        $.ajax({
            url: "pages/fcc/categorise.php?do=category_management&add=true",
            type: "GET",
            data: {
                type: "json",
                category: category.val(),
                sage_nc: sage_nc.val()
            },
            dataType: "json",
            success: function( r ){
                try{
                    if(r.error == false){
                        add_status.html(r.status).addClass("good_news");
                        $("#new_cat_div").hide();
                        $( frame ).trigger( "load_categories" );
                        category.html("");
                        sage_nc.html("");
                    }else{
                        add_status.html(r.status).addClass("bad_news");
                    }
                    setTimeout(  function() { add_status.html(""); }, 3500);
                }catch(e){
                    alert(e);
                }
            }
        });

    });

});

</script>

<style>
#<?=_LINK?> div.scroll{
    height: 600px;
    width: 750px;
}
#control{
    margin:10px 0;
}
#new_cat_div{
    margin:10px 0;
}
#cat_stat{
    float:right;
}
</style>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="categorise_entries" name="categorise_entries">

        <div id="control">
            <button id="add_cat" class="add">New Category</button>
            <span id="cat_stat">&nbsp;</span>
            <div id="new_cat_div" class="panel">
                <h1>Add new FCC Category</h1>
                <form id="new_cat_form" name="new_cat_form">
                    <table>
                        <thead>
                            <tr>
                                <th class="no_sort">Category</th>
                                <th class="no_sort" width="100px;">Sage NC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" id="new_category" /></td>
                                <td><input type="text" id="new_sage_nc" /></td>
                                <td><button id="submit_new_cat">Submit</button></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>

        <table id='list_categories' name='list_categories' class='scrollable'>
            <thead>
                <tr>
                    <th class="no_sort">Category</th>
                    <th class="no_sort" width="100px;">Sage NC</th>
                    <th class="no_sort" style="text-align:right;width:100px">Actions</th>
                    <th class="no_sort" width="30px;">&nbsp;</th>
                </tr>
            </thead>
            <tbody class="content">
                <tr>
                    <td>Loading...</td>
                </tr>
            </tbody>
        </table>

	</form>

</div>
