<script type="text/javascript">

$(function( ) {

    var form_be = $("form#sage-output-be");
    var form_vat = $("form#sage-output-vat");

    // Date picker values for Bank Entry Export
    var date1 = $('#date1-be').datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function(dateText, inst) {
            $('#date1-be').val(dateText);
        }
    });

    var date2 = $('#date2-be').datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function(dateText, inst) {
            $('#date2-be').val(dateText);
        }
    });

    // Date picker values for VAT export
    var date1_vat = $('#date1-vat').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        //dateFormat: 'MM yy',
        dateFormat: 'yy-mm',
        onClose: function (dateText, inst) {
            $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
        },
        onSelect: function(dateText, inst) {
            console.log(dateText);
            $('#date1-vat').val(dateText);
        }
    });

    $("#date1-vat").focus(function () {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });
    });

    // Export Bank Entry CSV file
    $( "input:submit", form_be ).click( function( ) {

        var fromdate_be = date1.val();
        var todate_be = date2.val();

        window.open("/pages/fcc/sage_output.php?do=be&date1="+fromdate_be+"&date2="+todate_be);

    });

    // Export VAT CSV file
    $( "input:submit", form_vat ).click( function( ) {

        var fromdate_vat = date1_vat.val();
        //window.open("/pages/fcc/sage_output.php?do=vat&date1="+fromdate_vat);
        window.open("/pages/fcc/sage_output.php?do=vat&date1="+fromdate_vat+"&date2=0");

    });

});

</script>

<div id="<?=_LINK?>" name="<?=_LINK?>">

    <form id="sage-output-be" name="sage-output-be" action="/pages/fcc/sage_output.php?do=be" method="POST">

        <div class='panel'>
            <h1>Sage Output - Bank Entries</h1>
            This will produce a spreadsheet of the bank account table, between the dates selected.
            <table>

                <tbody>
                    <tr>
				        <th>From:</th>
				        <td><input type="text" id="date1-be" name="date1-be" class="datepick"/></td>
                    </tr>
                    <tr>
                        <th>To:</th>
                        <td><input type="text" id="date2-be" name="date2-be" class="datepick"/></td>
                    </tr>
              </tbody>
            </table>

            <input type="submit" value="Export"/>
            <span class="status"></span>
        </div>

	</form>

    <div>&nbsp;</div>

    <form id="sage-output-vat" name="sage-output-vat" action="/pages/fcc/sage_output.php?do=vat" method="POST">

        <div class='panel'>
            <h1>Sage Output - VAT</h1>
            This will produce a spreadsheet, grouped by provider, of the total vat between the dates selected.
            <table>

                <tbody>
                <tr>
                    <th>Commission Run Month:</th>
                    <td><input type="text" id="date1-vat" name="date1-vat" class="datepick" autocomplete="off" /></td>
                </tr>
                </tbody>
            </table>

            <input type="submit" value="Export"/>
            <span class="status"></span>
        </div>

    </form>

</div>
