<script type="text/javascript">
$(function( ){

    var frame = $( "#<?=_LINK?>" );
    var filePanel = $( "#file_panel", frame );
    var fileForm = $( "> form", filePanel );
    var file = $( "#file",fileForm );
    var uploadIframe = $( "#upload_target" );
    var uploadStatus = $( ".status",fileForm );
    var processdiv = $( "div#process-file", frame );
    var processcontent = $( "div#process-content", processdiv );
    var processtbl = $( "table#process-tbl tbody", processcontent );

    // Initially hide process and unmatched sections
    $( processcontent ).hide();

    // Upload file to directory
    $( fileForm ).submit(function( event ){
        event.stopPropagation();

        if( !$( file ).val().length ) {

            $( uploadStatus )
                    .html( "Click <b>Browse</b> to select a file" )
                    .css( "color", "red" );

            return false;
        }

        return true;
    });


    $( file ).focus( function( ){

        $( uploadStatus ).text("");
        $( file ).css( "color", "black" ); } );

    /// When the files have been uploaded, examine server response + display
    /// error message as necessary.
    $( uploadIframe ).load(
            function( ) {

                var r = $( this ).contents().text();

                if( !r.length ){
                    return false;
                }

                try {

                    r = json_decode( r );

                    if( !r.status ) {

                        $( uploadStatus )
                                .text( "Please choose a valid txt or csv file to upload" )
                                .css( "color", "red" );

                        $( file ).css( "color", "red" )

                    } else {

                        var filename = $( file ).val();

                        if( r.matches.length ){

                            // Identical imports have been found, display details about these to user
                            // and request confirmation that they wish to continue. If they do not, delete
                            // the uploaded entry.

                            var message = "The file " + filename + " is identical to the following imports:\n\n" +
                                    ( r.matches.join( "\n" ) ) + "\n\n" +
                                    "Do you wish to continue importing this file?";

                            if( !confirm( message ) ){

                                // delete entry
                                $.get(
                                        "<?=$_SERVER['PHP_SELF']?>",
                                        {
                                            'id': r.id,
                                            'do': "delete"
                                        },
                                        function( r2 ){

                                            r2 = json_decode( r2 );

                                            if( r2.status ) {
                                                $( file ).val( null );
                                            }
                                            else {
                                                $( uploadStatus )
                                                        .text( "System error, contact IT" )
                                                        .css( "color", "red" );
                                            }

                                        });

                                return;

                            }
                        }

                        $( file )
                                .parent()
                                .html( filename );

                        $( uploadStatus )
                                .text( "File successfully uploaded" )
                                .css( "color", "green" );

                        $( ":submit", fileForm )
                                .attr( "disabled", true );

                        // Show process area after successful file upload
                        $( processcontent ).show();

                        // If required cells are blank on spreadsheet, let user know about this and disable proceed
                        if( r.error.length ) {

                            // Clear table head
                            $( processtbl ).prev( "thead" ).remove();
                            $( "div#process-scroll" ).addClass("error");

                            // Print out line number of file containing blanks
                            for( var b=0; b<r.error.length; b++ ){
                                $( processtbl ).append("<tr><td>Blank values on line " + parseInt( r.error[b]+1 ) + " of file, please delete import, fix errors and re-import file.</td></tr>");
                            }

                            // Prevent user form proceeding with errors in file
                            $( "button#proceed" ).attr( "disabled", "disabled" );

                        }
                        else {

                            // Display the first 10 lines of uploaded file to the user (  r.preview[row][column]  )
                            // If less than 10 lines in file, preview full file
                            if( r.preview.length ){

                                if(r.preview.length > 10){

                                    // Preview file being uploaded
                                    for( var fccp=1; fccp<10; fccp++ ){

                                        $( processtbl ).append( "<tr><td>"
                                                + r.preview[fccp][0] + "</td><td>" + r.preview[fccp][1] + "</td><td>"
                                                + r.preview[fccp][2] + "</td><td>" + r.preview[fccp][3] + "</td><td>"
                                                + r.preview[fccp][4] + "</td><td>" + r.preview[fccp][5] + "</td><td>"
                                                + r.preview[fccp][6] + "</td><td>" + r.preview[fccp][7] + "</td><td>"
                                                + r.preview[fccp][8] + "</td><td>" + r.preview[fccp][9] + "</td><td>"
                                                + r.preview[fccp][10] + "</td><td>" + r.preview[fccp][11] + "</td><td>"
                                                + r.preview[fccp][12] + "</td><td>" + r.preview[fccp][13] + "</td><td>"
                                                + r.preview[fccp][14] + "</td><td>" + r.preview[fccp][15] + "</td><td>"
                                                + r.preview[fccp][16] + "</td><td>" + r.preview[fccp][17] + "</td><td>" );
                                    }
                                }
                                else {

                                    // Preview file being uploaded
                                    for( var fccp=1; fccp<r.preview.length; fccp++ ){

                                        $( processtbl ).append( "<tr><td>"
                                                + r.preview[fccp][0] + "</td><td>" + r.preview[fccp][1] + "</td><td>"
                                                + r.preview[fccp][2] + "</td><td>" + r.preview[fccp][3] + "</td><td>"
                                                + r.preview[fccp][4] + "</td><td>" + r.preview[fccp][5] + "</td><td>"
                                                + r.preview[fccp][6] + "</td><td>" + r.preview[fccp][7] + "</td><td>"
                                                + r.preview[fccp][8] + "</td><td>" + r.preview[fccp][9] + "</td><td>"
                                                + r.preview[fccp][10] + "</td><td>" + r.preview[fccp][11] + "</td><td>"
                                                + r.preview[fccp][12] + "</td><td>" + r.preview[fccp][13] + "</td><td>"
                                                + r.preview[fccp][14] + "</td><td>" + r.preview[fccp][15] + "</td><td>"
                                                + r.preview[fccp][16] + "</td><td>" + r.preview[fccp][17] + "</td><td>" );
                                    }

                                }

                            }

                        }

                    }

                    // Let user proceed to process file and import new entries and categorise payments
                    $( "button#proceed", processcontent ).click( function() {

                        if( confirm( "Add new entries to bank account tables ?" ) ){

                            $( this ).attr( "disabled", "disabled" );
                            $( "button#delete-file" ).attr( "disabled", "disabled" );

                            $.get(
                                    "/pages/fcc/import.php",
                                    {
                                        file: r.safename
                                    },
                                    function( r3 ) {

                                        r3 = json_decode( r3 );

                                        if( r3.status != false ){
                                            $( uploadStatus )
                                                    .text( "File successfully processed" )
                                                    .css( "color", "green" );

                                            alert(r3.added_ba + " new entries added to bank_account table" + "\n" +
                                                  r3.added_tba + " new entries added to tblbankaccount table" + "\n" +
                                                  r3.comm_entries + " entries updated to 'Income Recieved'" + "\n" +
                                                  r3.partner_entries + " entries updated to 'Income Paid to Partners'");
                                        }
                                        else {
                                            $( uploadStatus )
                                                    .text( "Error processing file, " + r3.error )
                                                    .css( "color", "red" );
                                        }

                                    }
                            );

                        }
                    });


                    // Allow user to delete file and cancel the import after the file has been uploaded
                    $( "button#delete-file" ).click( function(){

                        if( confirm( "Are you sure you want to delete import?" ) ){

                            $( this ).attr( "disabled, disabled" );
                            $( "button#proceed" ).attr( "disabled, disabled" );

                            // delete entry
                            $.get(
                                    "<?=$_SERVER['PHP_SELF']?>",
                                    {
                                        'id': r.id,
                                        'do': "delete"
                                    },
                                    function( r2 ){

                                        r2 = json_decode( r2 );

                                        if( r2.status ) {

                                            alert( "Import successfully deleted" );

                                            $( file ).val( null );

                                            // Reload the import page to allow user to import another file.  Quicker this way
                                            // than removing and appending a new file input to the import form
                                            $( "div#content_window" ).load( "/pages/fcc/upload.php",
                                                    function(  ){
                                                        $( this ).trigger( "load" );
                                                    }
                                            );

                                        }
                                        else {
                                            $( uploadStatus )
                                                    .text( "System error, contact IT" )
                                                    .css( "color", "red" );
                                        }
                                    }
                            );

                        }

                    });

                } catch( e ) {
                    alert( e );
                }

            });

});
</script>

<style>
    div#<?=_LINK?> > .panel {
        margin-bottom: 2px;
    }
    div#<?=_LINK?> > #file_panel > form .status {
        font-size: 9pt;
    }
    div#<?=_LINK?> > #file_panel > form th {
        width: 80px;
    }
    div#process-scroll.error{
        height: 320px;
        overflow-y:scroll
    }
    div#process-scroll.data{
        height: 320px;
        overflow-y:scroll
    }

</style>

<div id="<?=_LINK?>">

    <div id="file_panel" class="panel">

        <h1>Upload File</h1>

        <form action="<?=url($_SERVER['REQUEST_URI'],array('stage'=>'upload'))?>" method="POST" enctype="multipart/form-data" target="upload_target">

            <table style="width:100%">
                <tr>
                    <th>Upload File</th>
                    <td>
                        <input type="file" id="file" name="file" />
                        <span class="status_message">&nbsp;</span>
                    </td>
                    <td align="right">
                        <span class="status">&nbsp;</span>
                        <input type="submit" value="Upload Files" />
                    </td>
                </tr>
            </table>

        </form>

        <iframe id="upload_target" name="upload_target" style="display:none;"></iframe>

    </div>

    <div id="process-file" class="panel">

        <h1>File Preview</h1>

        <div id="process-content">
            <div id="process-scroll" class=data>
                <table id="process-tbl" class="data">
                    <thead>
                    <tr>
                        <th>Sort Code</th>
                        <th>Account Number</th>
                        <th>Account Alias</th>
                        <th>Account Short Name</th>
                        <th>Currency</th>
                        <th>Account Type</th>
                        <th>BIC</th>
                        <th>Bank Name</th>
                        <th>Branch Name</th>
                        <th>Date</th>
                        <th>Narrative #1</th>
                        <th>Narrative #2</th>
                        <th>Narrative #3</th>
                        <th>Narrative #4</th>
                        <th>Narrative #5</th>
                        <th>Type</th>
                        <th>Debit</th>
                        <th>Credit</th>
                    </tr>
                    </thead>
                    <tbody class="content">
                    </tbody>
                </table>
            </div>

            <br />
            <div align="right">
                <span id="comm_total"></span>
                <button id="delete-file" name="delete-file">Delete</button>
                <button id="proceed" name="proceed">Proceed</button>
            </div>

        </div>

    </div>


</div>